[2020-08-03 00:22] rgoli922 commented on #61
Delete the file and re apply. Thanks to AWS.

kubectl delete -f https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/v1.1.8/docs/examples/alb-ingress-controller.yaml
kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/v1.1.8/docs/examples/alb-ingress-controller.yaml

Then edit and save like VI Editor.

[2020-08-03 03:43] omeid commented on #569
@BenTheElder Can you link me to the CLI meeting please?

[2020-08-03 05:17] izelnakri commented on #524
/remove-lifecycle stale

[2020-08-03 14:50] schollii commented on #527
Does anyone know how hard it would be to implement @bendavis78 idea in the kube source code? The API is already there, so that `kubectl get all -l app=myapp` should be very simple. I don't mind doing it I just don't know where to start.

[2020-08-03 16:03] gwkunze opened #899 "Retrieve Kubernetes API uri for current context"
**What would you like to be added**:

I'm trying to retrieve the current contexts API url but I have found no convenient way of getting it, `kubectl cluster-info` displays it but not in a machine readable way (including ANSI color codes that show up regardless of whether a PTY is there). I ended up using the following script to get it:
[code]

But that is rather verbose, and potentially fragile.

[2020-08-03 16:45] hpedrorodrigues commented on #899
I think you can use something like this:

[code]

[2020-08-03 17:32] olsw commented on #897
@eddiezane any pointers please?

[2020-08-03 19:07] eddiezane commented on #897
@olsw if I understand your issue correctly you are trying to SSH into server and run kubectl with the completion there?

If that's the case the Stack Overflow for that error suggests adding the `-tt` flag to your SSH command. i.e.

[code]

If I misunderstood your issue could you please clarify with more details and a way to reproduce in an independent environment.

[2020-08-03 19:12] eddiezane commented on #527
I'm not sure the historical context on this one but we can reopen until we get an official word out.

/remove-lifecycle rotten
/remove-priority P3
/triage needs-information
/reopen

[2020-08-03 19:19] eddiezane commented on #569
@omeid https://github.com/kubernetes/community/tree/master/sig-cli#meetings

[2020-08-03 22:44] olsw commented on #897
Ah i see the issue. Seems autocorrect changed my zsh in the original to ssh. This has nothing to do with ssh

[2020-08-04 00:25] raravena80 opened #900 "Add support for kubectl apply/create/delete/update -f <filename> to specify some resources in the file"
**What would you like to be added**:

If I have a service in my YAML manifest file I'd like to do something like this:

[code]

Background:

https://stackoverflow.com/questions/63237839/kubectl-deploy-only-one-component-from-a-yaml

**Why is this needed**:

It seems to be a more efficient handy way to talk to the API server using a file rather than editing a file or creating multiple copies of the

[2020-08-04 00:39] brianpursley commented on #900
If you label your resources, you might be able to use `--selector` (or `-l`).

For example, if I have this file, `nginx.yaml`:
[code]

I can do this to only create nginx2:
[code]

[2020-08-04 01:49] hpedrorodrigues opened #901 "kubectl top pods doesn't honor the flag --sort-by when it's used together with --containers"
**What happened**:

`kubectl top pods` doesn't honor the flag `--sort-by` when `--containers` is also used along with it.

For instance:
[code]

And with the flag `--containers`:
[code]

It doesn't sort for both `cpu` and `memory` values.

**What you expected to happen**:

This list should be sorted considering the `resource consumption for pods`, and then by the `consumption of their containers`

[2020-08-04 07:42] gwkunze commented on #899
Thanks! I read so many `--help` outputs for different commands but must've missed that option :\

[2020-08-04 07:42] #899 closed

[2020-08-04 14:41] brianpursley commented on #901
I'll take a look at this
/assign

[2020-08-05 03:04] NelsonJeppesen opened #902 "Enhancement: envvar in ~/.kube/config"
**What would you like to be added**:
The ability to use envars inside the kubectl config

**Why is this needed**:
When using iam auth it gives the ability to share the same config to the entire company by inserting the username

for example, using the USERNAME envvar
[code]

[2020-08-05 12:16] prometherion opened #903 "Age printer column is no more reported when adding additional ones"
**What happened**:

I'm developing some Custom Resource Definitions (CRDs) and noticed the missing of the column `AGE` when getting the resources from the CLI.

[code]

The reason is that I'm implementing some additional columns using the `.spec.additionalPrinterColumns` array provided by `CustomResourceDefinition` Kind (`apiextensions.k8s.io/v1beta1`).

[code]

When I remove these two additional

[2020-08-05 14:51] brianpursley commented on #897
@olsw can you provide the following additional information to help troubleshoot this:

1.  What is your OS version?  For example. show the output of running `cat /etc/os-release`
2.  What version of zsh are you using?  For example, show the output of running `zsh --version`
3.  What is the output of running this command?  `if [ -t 1 ] ; then echo terminal; else echo "not a terminal"; fi`
4.  Does

[2020-08-05 14:51] olegsu commented on #894
@musabmasood I have created a plugin for it. The [PR](https://github.com/kubernetes-sigs/krew-index/pull/730) is not merged yet as it is in review and API refine.
If you can give it a try it would be great feedback.
You can give it a try by:
* install it by `kubectl krew install --manifest-url https://raw.githubusercontent.com/olegsu/kubectl-fetch-yaml/master/krew.yaml`
* run it by `kubectl fetch-

[2020-08-05 15:01] brianpursley commented on #903
[It looks like Age is just added as a default if you haven't defined any additionalPrinterColumns](https://github.com/kubernetes/kubernetes/blob/168f8f54f01b3b283fdd7494c5e94b22da4b2f72/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/helpers.go#L44-L51). You should be able to add it yourself if you want to include it for your CRD.

What if you you do something like this?

[code]

[2020-08-05 15:17] prometherion commented on #903
Thanks for the hint, pretty sure I'll fix in this way.

My issue reporting was more involved into raising the topic to understand if this is a sort of bug or rather a default behavior, since I wasn't able to figure out this from the docs or any other knowledge source.

I know there are some Kubernetes resources that doesn't provide an `age` like Component Status and it looks weird to me that `kube

[2020-08-05 18:49] eddiezane commented on #902
@NelsonJeppesen this change would actually scope beyond kubectl to [client-go](https://github.com/kubernetes/client-go) as that's how configs are loaded. It's also the same mechanism used by most Kubernetes daemons/tools so the change could have wide reaching implications and require some coordination i.e. [KEP](https://github.com/kubernetes/enhancements/tree/master/keps).

If this is something yo

[2020-08-05 18:49] #902 closed

[2020-08-05 19:26] sinethra opened #904 "no kind "CustomResourceDefinition" is registered for version "apiextensions.k8s.io/v1""
**What happened**: I've installed the cert-manager via Helm and Static Manifests and all the resources in the cert-manager namespace are up and running. But the logs for CRD shows this " error: no kind "CustomResourceDefinition" is registered for version "apiextensions.k8s.io/v1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28" ". When I created an issue in cert-manager, I was told that this is

[2020-08-05 20:15] eddiezane commented on #904
@sinethra the errors you are seeing are intended albeit a little confusing.

Custom Resource Definitions (CRDs) cannot directly create logs.

You can however get the logs directly from the pod.

[code]

Or from the deployment/service

[code]

Does that make sense?

This might help https://kubernetes.io/docs/concepts/cluster-administration/logging/.

[2020-08-05 20:26] sinethra commented on #904
@eddiezane Same kind of error shows for the logs of clusterissuer or issuer.

[code]

This is my ClusterIssuer Manifest

[code]

[2020-08-05 20:45] ghostsquad commented on #725
just curious, why is `convert` deprecated?

[2020-08-05 20:57] eddiezane commented on #904
@sinethra `ClusterIssuer` is a CRD along with all of the resources created by cert-manager. **CRDs do not directly have logs**.

You'll need to get the logs for whichever deployment works with the `ClusterIssuer` resource which I believe is just `cert-manager`.

[code]

You can also use `kubectl describe` to learn more about a specific resource and get the events.

[code]

/close

[2020-08-05 20:57] #904 closed

[2020-08-05 21:30] seans3 commented on #725
`convert` contains inappropriate dependencies. `convert` necessarily depends on `internal` types (in order to convert), but `kubectl` should not depend on these. In fact, no software outside api server should depend on internal types.

[2020-08-05 21:39] seans3 commented on #725
The deprecation plan is to create `convert` as a plugin or separate binary. So the functionality would still exist; just not in `kubectl`.

[2020-08-06 00:01] gopiextrahop commented on #221
The following worked for me `kubectl patch svc my-service --type='json' -p '[{"op":"replace","path":"/spec/type","value":"ClusterIP"},{"op":"replace","path":"/spec/ports/0/nodePort","value":null}]'`.

[2020-08-06 17:56] eddiezane commented on #889
@sheeeng thanks for opening a PR over there.

Going to close this and let it be tracked there.

/close

[2020-08-06 17:56] #889 closed

[2020-08-07 00:49] RyanSquared commented on #904
hi! i know this probably isn't the best place but i don't know of how else to reach out to @sinethra - if you're using a GitOps management system I believe the issue you may be having is that cert-manager has MASSIVE CRDs, which *I THINK* exceed the Kubernetes limit.

I will be working on a way to slim this down. Feel free to contact me using the links on my profile and I'll send you regular statu

[2020-08-07 11:23] yashvardhan-kukreja opened #905 "Add support for passing yaml or json files in kubectl patch"
**What would you like to be added**: capability of passing the patch in the form of  a yaml or a json file, instead of just plain hardcoding the patch in the `kubectl patch` command itself

**Why is this needed**: Right now, the `kubectl patch` command only allows the patch to be passed directly in the command itself after the `-p` flag. But in case of applying large patches, the entire command co

[2020-08-07 11:32] yashvardhan-kukreja commented on #905
/assign

[2020-08-07 12:03] Duologic opened #906 "Named container port gets different name than in manifest"
**What happened**:

I have a deployment with a single container and ports:
[code]

I have a manifest that is the same:
[code]

I compare both with `kubectl diff`:
[code]
This is not what should happen, no difference is expected but considering comments #735, kubernetes or kubectl might consolidate the ports, so I apply:
[code]

Again, I check the diff, expecting idempotency:
[code]

I get another

[2020-08-07 17:38] eddiezane commented on #905
@yashvardhan-kukreja it looks like a portion of this is in progress at https://github.com/kubernetes/kubernetes/pull/93548.

Let's have you sync up with @smarterclayton. Looks like their PR doesn't have support for JSON files yet.

Since I don't see an attached issue on that PR we can keep this issue for tracking.

/priority backlog

[2020-08-07 17:42] smarterclayton commented on #905
The PR is exactly the same behavior as `-p` - adding more formats that aren't the JSON patch formats would be a feature change to both flags.

[2020-08-07 18:11] yashvardhan-kukreja commented on #905
@smarterclayton , @eddiezane  so , what formats you'd suggest to further implement? I ll hop onto them

[2020-08-07 18:32] eddiezane commented on #906
@Duologic I'm not able to reproduce this. He's the deployment I'm using.

[code]

Can you test with this or provide a fully reproducible manifest?

Are you able to reproduce on a supported version of Kubernetes (1.16, 1.17, 1.18)?

Also I noticed you have `metadata.generation` showing up in your diff which seems strange to me.

/triage not-reproducible

[2020-08-08 21:37] harsha-s opened #907 "kubectl edit pods to add security context fails"
**What happened**:
master $ kubectl edit pods/ubuntu-sleeper
Edit cancelled, no changes made.

When I tried to add the below line to the while editing in the spec: section for the pod attached.
  securityContext:
    runAsUser: 1000
[k8s-pod-yml.txt](https://github.com/kubernetes/kubectl/files/5046251/k8s-pod-yml.txt)

**What you expected to happen**:

edit of the pod declaration to succeed withou

[2020-08-10 06:04] knight42 commented on #907
Currently it is intended that the spec of a Pod could not be updated after its creation except for the `containers.image` field.

/remove-kind bug
/close

[2020-08-10 06:04] #907 closed

[2020-08-10 09:19] Duologic commented on #906
A newer Kubernetes version might resolve it, we're a in the process of upgrading our clusters, will reopen if this is still an issue after upgrade to 1.16.

[2020-08-11 11:05] chiducaf commented on #823
@mshahat  how did you change authority-data in ~/.kube/config

[2020-08-11 11:05] chiducaf commented on #823
/open

[2020-08-11 18:05] pwittrock opened #908 "Support multiple endpoints for a cluster"
Since HA clusters may have multiple endpoints, it would be convenient to be able to specify multiple IP addresses in the kubeconfig and have the client pick one at random.  This would be a client-side alternative to configuring a VIP for the endpoints.

[2020-08-12 02:43] iminto commented on #25
this not work on k8s 1.17

[2020-08-12 08:35] kingdevnl commented on #613
It would be amazing if we can have the auto completion like on bash

For eg pod names. Namespaces etc

[2020-08-12 17:08] eddiezane commented on #898
@armujahid are you ok closing this after the SIG-CLI discussion?

As a note of historical reference it was discussed that `create/run` commands are not going to be expanded to push folks to use other tools and best practices. We will be spinning up a new SIG subproject to attempt to tackle a `kubectl generate`.

Will link to recording when it's uploaded.

[2020-08-12 17:12] armujahid commented on #898
Sure. I would love to contribute to `kubectl generate`

[2020-08-12 17:12] #898 closed

[2020-08-12 18:38] eddiezane commented on #908
This might need to be under the main repo since we'd need to introduce a new `clusters[0].servers` array field. Would that need a KEP as well?

[2020-08-13 03:45] 4c74356b41 commented on #151
its funny how you implement something sloppy and then you have an issue open for 3 years where you make all sorts of excuses why this should stay this way.

[2020-08-14 01:36] mbrancato opened #909 "Support patch with selector"
**What would you like to be added**:
I came across a use-case where I would like to patch multiple things at once. Without looking I did:
[code]

So seeing that error, I quickly remedied it by adding a selector as the error says I should do:
[code]

Well, interesting.

**Why is this needed**:
This is obviously possible in a two step process with `get nodes` and a loop, but it would seem nice to be

[2020-08-14 19:29] eddiezane opened #910 "Ensure we're using i18n where possible"
There is a scattered usage of `i18n.T()` throughout descriptions and flags. Let's make future translations easier by ensuring we're using i18n where feasible.

Examples:

https://github.com/kubernetes/kubectl/blob/19b50d838ed2e2a7389a3fb467b259982c772b73/pkg/cmd/apply/apply.go#L171
https://github.com/kubernetes/kubectl/blob/19b50d838ed2e2a7389a3fb467b259982c772b73/pkg/cmd/annotate/annotate.go#L153

[2020-08-14 19:32] eddiezane commented on #910
/remove-kind feature

[2020-08-14 20:08] eddiezane commented on #909
This error is coming from the generic resource builder [here](https://github.com/kubernetes/kubectl/blob/19b50d838ed2e2a7389a3fb467b259982c772b73/pkg/cmd/patch/patch.go#L207-L219) and [here](https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/cli-runtime/pkg/resource/builder.go#L829).

I'm not sure if a conscious decision was made to not suppor

[2020-08-14 20:28] mbrancato commented on #909
@eddiezane I wanted to remove labels on multiple nodes, but I guess this applies to anyone wanting to relabel an existing resource.

[2020-08-15 00:50] tedtramonte opened #911 "Optionally search for and merge config files from a directory"
**What would you like to be added**: Kubectl should optionally search for and merge config files from a directory (~/.kube/configs/ ?)

**Why is this needed**: Perhaps my ignorance is showing, but I find managing multiple configs a hassle. I'm aware of the `$KUBECONFIG` env variable, but that doesn't seem sufficient to me. Having to make configuration changes to my shell scripts just to persist th

[2020-08-15 06:03] eddiezane commented on #911
Good request. We're tracking this over at #569. There are a few suggestions in that thread that might hold you over in the meantime.

/triage duplicate
/close

[2020-08-15 06:03] #911 closed

[2020-08-15 06:16] eddiezane commented on #909
@mbrancato the `kubectl label` command allows you to remove labels with the syntax of `foo-` to remove the label `foo`. This works with label selectors and `--all`.

[code]

[code]

It's tucked away as the last example of the help text. We could probably make that more clear.

Does that solve your use case?

[2020-08-15 08:35] Evalle commented on #910
I think I can help with that.
/assign

[2020-08-16 20:29] darkn3rd opened #912 "Kubectl version causes an error and doesn't print client verison"
**What happened**:

When doing `kubectl version` I get an error.  I do not know how to tell what version of the client I am running, and consequently, tools that depend on this, like `eksctl` fail.

[code]

**What you expected to happen**:

I expected that the client version would be printed out, so I know what version of the client I am running.   If a cluster has not been provisioned before, the

[2020-08-17 09:25] michaelbeaumont commented on #912
I believe this is a duplicate of https://github.com/kubernetes/kubectl/issues/853

[2020-08-17 12:54] jayendra13 commented on #910
/assign

[2020-08-17 13:02] jayendra13 commented on #910
What kind of pattern should I follow to internationalise the strings, is it applicable to only the help text for commands ?

[2020-08-17 16:16] eddiezane commented on #912
@darkn3rd thanks for the detailed report!

Echoing @michaelbeaumont, this should be fixed in kubectl 1.18+ if you upgrade.

/triage duplicate
/close

[2020-08-17 16:16] #912 closed

[2020-08-17 16:19] eddiezane commented on #910
@jayendra13 let's aim to get command and flag descriptions wrapped and then evaluate what else you find.

[2020-08-17 20:18] wknapik commented on #450
/remove-lifecycle rotten

[2020-08-18 00:00] eddiezane commented on #527
Following up..

`kubectl get all` is a legacy command and is actually implemented with a hardcoded server side list that is not easy to maintain. There is potential that it will be removed in the future and therefore will not be expanded upon or improved at this time.

We recommend using [ketall](https://github.com/corneliusweig/ketall) which can be installed standalone or via [krew](https://krew.

[2020-08-18 00:00] #527 closed

[2020-08-18 02:32] foobarbecue commented on #527
Wow. You have to install extra stuff to do something this basic? Bizarre.

[2020-08-18 02:42] schollii commented on #527
I was going to ask exactly that. I've outlined a solution, plus we could adapt code from ketall.

/reopen please

[2020-08-18 20:24] starpit opened #913 "kubectl get pod -l job-name --watch -o jsonpath produces no output"
**What happened**:

When doing a watch with a label selector and a jsonpath output, I get no output. When using the default output, or json output, or no label-selector, or no watch... all these other combinations work as  expected. Only this combination:

Remove the `--watch`, or remove the `-l`, or remove the `-o jsonpath`, and things work as expected.

**What you expected to happen**:

I expect

[2020-08-18 20:38] pwittrock opened #914 "`kubectl create` alternatives"
@eddiezane
@soltysh
@seans3

There have been numerous requests to expand the support for imperative resource creation commands by adding flags to existing creation commands or adding creation commands for additional resources.

The motivation for imperative create commands tend to fall into the following categories:

1. As a learning tool
  - Used in courses to teach about the APIs
  - Used in doc

[2020-08-18 20:42] pwittrock opened #915 "Support for NOT flattening resources `kubectl apply`"
@soltysh
@eddiezane
@seans3

`kubectl apply` automatically flattens resources with an items field.  Its possible to create APIs with an `items` field and desire to have the items not-be-flattened during apply.  Resources that should wrap other resources should support and annotation `config.k8s.io/wrap-items` which tells `apply` the resource is intended to wrap other items when it is applied.

[2020-08-19 00:45] starpit commented on #913
i see. the discrepancy here is that when *not* doing a watch, the jsonpath needs the `{range items[*]}...{end}` iterator. but, when doing a watch, if you have that iterator, the watcher produces no output, instead, you need to exclude the range iterator.

[2020-08-19 01:12] brianpursley commented on #913
Using kubectl 1.18.0 and a 1.19 cluster, I see the same thing, it just "hangs"

But strangely, with kubectl 1.20.0, I actually get an error message:
[code]

But just like @starpit said, if I don't use `--watch` then it prints the output as expected:
[code]

[2020-08-19 01:18] starpit commented on #913
thanks for looking into this. i think the label-selector is all a red herring. this perhaps is more simply an oddity with watches silently failing when given a ranged jsonpath, for any kind (not just jobs) and with or without a selector.

[2020-08-19 03:18] jayendra13 commented on #910
👍 got it.

[2020-08-19 16:03] AdamSharif-MSFT opened #917 "kubectl logs command with label selector does not show all entries (results truncated)"
**What happened**:

Executed command:

`kubectl logs -n kube-system -l k8s-app=kube-dns`

Only received a subset of the logs from the pods with the label.
Manually collecting the logs pod-by-pod shows many more results. It's as if using the label selector causes the results to be truncated.
Seems to only return 20 lines max.

**What you expected to happen**:

Expected to see all results for all lo

[2020-08-21 11:53] kochetov-dmitrij opened #919 "Kubectl hangs for 5 minutes with 100% CPU load after applying a config with deep nesting"
**What happened**:

When I apply the config the first time everything is fine and it takes no longer than 1 second to create the CRD resource.
But if the CRD resource already exists in the cluster and I apply it the second time(without changes), kubectl hangs for 5 minutes and loads my CPU 100%. I understand that it requires time to detect any changes but not THAT long.

I'm sure the problem occur

[2020-08-24 00:52] zhouya0 commented on #917
/assign

[2020-08-24 03:51] zhouya0 commented on #917
See help info in `kubectl logs --help`:
[code]

[2020-08-24 06:41] rayw000 commented on #919
I can reproduce it with `kubectl` version
[code]
But the `kubectl` binary I build from https://github.com/kubernetes/kubernetes/commit/14a11060a0775ed609f0810898ebdbe737c59441 works well. Seems this issue has already been solved.

[2020-08-24 07:38] AdamSharif-MSFT commented on #917
Thank you @zhouya0 , makes sense - as expected this behaves properly for me with:

`kubectl logs -n kube-system -l k8s-app=kube-dns --tail -1`

Thanks for your help and the clarification!

[2020-08-24 07:39] #917 closed

[2020-08-24 19:01] briandealwis opened #920 "port-forwarding for services should favour choosing newer pods over older pods"
**What would you like to be added**:

`kubectl port-forward svc/xxx` is actually implemented internally by choosing and forwarding to a pod that matches the service's label selector. The pod selection algorithm is implemented in [`polymorphichelpers.attachablePodForObject()`](https://github.com/kubernetes/kubectl/blob/master/pkg/polymorphichelpers/attachablepodforobject.go#L32), the meat of which

[2020-08-24 19:38] #807 closed

[2020-08-24 20:59] kochetov-dmitrij commented on #919
@rayw000 thanks for your answer, I upgraded kubectl client from v1.18.6 to v1.18.8. And indeed the issue has already been solved in the new version!

[2020-08-24 20:59] #919 closed

[2020-08-25 11:58] rayw000 commented on #890
Hi @thomas-riccardi @eddiezane
I opened a PR https://github.com/kubernetes/kubernetes/pull/94219 to fix this issue.
Would you please review it when you're free?
Any suggestions or questions are welcomed. 🙂

[2020-08-25 19:06] jmreid opened #921 "--all should ask for confirmation"
**What would you like to be added**:

There are legit cases to use `--all` when using kubectl, especially when you're working in a smaller cluster or for personal uses. But, a command like `kubectl delete namespace --all` is quite dangerous and currently offers zero confirmation before doing it's job. This can lead to accidentally deleting/annotating resources. A simple confirmation of "You've spe

[2020-08-26 00:15] eddiezane commented on #921
This has come up a few times before and has been a "no" because it's a breaking change.

Most recently - https://github.com/kubernetes/kubectl/issues/804.

[2020-08-26 00:26] eddiezane commented on #920
@briandealwis great writeup.

This would make sense to me and it doesn't seem like a breaking change with regards to `port-forward`.

@soltysh @seans3 @pwittrock thoughts?

[2020-08-26 17:46] eddiezane opened #922 "Enrich kubectl edit with OpenAPI data"
[WIP] Scoping this out for 1.20

**What would you like to be added**:

**Why is this needed**:

[2020-08-26 17:48] eddiezane commented on #922
/assign @eddiezane @Xercoy
/priority backlog

[2020-08-27 05:15] #829 closed

[2020-08-28 11:17] vanhtuan0409 opened #923 "Add `field-selector` option for kubectl top pod"
**What would you like to be added**:

Adding option `--field-selector` to `kubectl top pod`, which is similar to `kubectl get pod`

**Why is this needed**:

I need to get utilization statistic for pods in a specific node. This can be helped by using `--field-selector=spec.nodeName=<...>`

[2020-08-31 17:32] kaushik229 opened #924 "Add validation in container spec for resource quantity suffix."
**What happened**:
The suffix allowed to denote resource quantity for resource reservation in container spec has options to specify units.  However if use wrong suffix for resource, if might result resource to go in bad state. We need to be careful about using the right suffix for right resource. For example, if we specify suffix `m` for storage resource, there is no validation at the client side

[2020-09-01 02:31] jdamata commented on #588
/reopen

[2020-09-02 14:21] kgtw commented on #125
I just ran in to this, my problem was I had recently created a backup file at `~/.kube.config.bak` - renaming the file to something else fixed it.

[2020-09-02 15:22] NeilW opened #925 "vbom.ml has gone"
**What happened**:

$ go get k8s.io/kubectl@v0.19.0
go: k8s.io/kubernetes@v1.19.0 requires
	k8s.io/kubectl@v0.0.0 requires
	vbom.ml/util@v0.0.0-20160121211510-db5cfe13f5cc: unrecognized import path "vbom.ml/util": https fetch: Get "https://vbom.ml/util?go-get=1": dial tcp: lookup vbom.ml: No address associated with hostname

**What you expected to happen**:

The import should have been replaced wi

[2020-09-02 22:43] eddiezane commented on #925
/assign

[2020-09-03 00:09] eddiezane commented on #925
@NeilW thanks for the heads up on this!

I've opened a PR to fix this.

https://github.com/kubernetes/kubernetes/pull/94451

[2020-09-03 00:23] eddiezane commented on #924
@kaushik229 thanks for reporting this.

kubectl purposefully doesn't do client side validation and instead relies on the API server to validate.

I believe this "m" issue has actually been reported on the main kubernetes repo.

https://github.com/kubernetes/kubernetes/issues/79950

/close

[2020-09-03 00:24] #924 closed

[2020-09-03 16:33] #925 closed

[2020-09-04 23:24] jjfmarket commented on #686
/reopen

[2020-09-04 23:25] jjfmarket commented on #686
I also see this behavior, my port forwards start failing after I restart the pod that was being forwarded to.

[2020-09-04 23:26] jjfmarket commented on #686
/reopen

[2020-09-04 23:49] jjfmarket opened #926 "Port forwarding fails after restarting the pod that is being forwarded to"
**What happened**:
I forward a port into a service in my cluster, then restart the pod that the service points to with `kubectl rollout restart`. The port is still open, but is not being forwarded correctly. It now throws an error
`E0904 22:55:29.177715    5088 portforward.go:400] an error occurred forwarding 8082 -> 80: error forwarding port 80 to pod 517661763edca90a6910587dfefee2055dec798392c8b

[2020-09-05 15:04] jlpettersson opened #927 "Add --tokenfile flag"
**What would you like to be added**:

Today it is possible to authenticate with `kubectl` using the `--token` to provide a token as a parameter. I would like to have a flag `--tokenfile <path>` that is similar but reads the token from a file.

**Why is this needed**:

This is useful for doing `kubectl apply -f manifest.yaml --tokenfile '/var/run/secrets/kubernetes.io/serviceaccount/token'` similar

[2020-09-07 13:36] gionapaolini commented on #454
Can you elaborate a bit more on your workaround?
That's how I understood:

1. Build an image for your test project and use tail -f /dev/null as entrypoint
2. Run a pod with that image
3. Execute a shell into it and run your tests
4. Copy the reports
5. Delete the pod

Have I understood correctly?

[2020-09-08 13:46] raftAtGit commented on #596
what is the solution for this issue?

[2020-09-08 21:36] eddiezane commented on #927
@jlpettersson would `kubectl apply -f manifest.yaml --token $(cat '/var/run/secrets/kubernetes.io/serviceaccount/token')` work for you here?

/triage needs-information

[2020-09-08 21:52] jlpettersson commented on #927
That is surely one way to do it.

But:
* That token is shown in the shell output/logs(?) - at least in the environment I have used it in.
* The image needs to have a shell (so a more secure CI/CD environment is not possible). I would prefer to have a `kubectl` static binary in a Dockerfile built `FROM scratch` or using distroless.

Therefore, I currently do:

`cat '/var/run/secrets/kubernetes.io/s

[2020-09-09 13:41] fabiand commented on #914
This is also something we are interested in from the KubeVirt side cc @ashleyschuett

[2020-09-10 15:15] danielhelfand opened #928 "Do Not Show Deletion Flags Under kubectl apply Options"
I was recently looking into if `kubectl apply` offered a similar shorthand as `kubectl delete` does for `--wait` to avoid needing to run a `kubectl wait` command after to verify all pods become available in a namespace after an apply is run.

Looking further at the documentation for `kubectl apply -h`, it displays options like `--wait` and `--timeout`, and the descriptions seem to be in the contex

[2020-09-10 19:37] q42jaap opened #1301 "kubectl rollout undo should alter kubectl.kubernetes.io/last-applied-configuration annotation"
**What would you like to be added**:
Make `kubectl rollout undo` and `kubectl apply` work together. `kubectl rollout undo` doesn't revert the `kubectl.kubernetes.io/last-applied-configuration` annotation, which leads to problems if named objects in arrays are  intended to be removed.

**Why is this needed**:
I ran into the issue that I had an old container still being present after applying a rena

[2020-09-10 22:19] #851 closed

[2020-09-11 07:42] tsuna commented on #727
/reopen

Bug still exists in v1.19.1

I often create aliases like `alias fooctl kubectl --context=foo` and this bug makes it impossible to use `kubectl` plugins through the alias.

[2020-09-11 17:39] amorenoz opened #929 "portforward: error: UDP protocol is not supported for..."
**What happened**:

There has been a regression in port `kubectl portforward`.

When a service is exported on both TCP and UDP using the same port
[code]
... you *can* (I'll clarify later) get:

- Using kubectl-1.18.8-0:
[code]
- Using kubectl-1.19.0-0:
[code]

**What you expected to happen**:

To still be able to forward a the TCP port

**How to reproduce it (as minimally and precisely as possibl

[2020-09-11 18:20] amorenoz commented on #929
Posted https://github.com/kubernetes/kubernetes/pull/94728

[2020-09-12 17:27] 180254 opened #930 "Bash autocompletion hangs when additional authentication (in addition to having access credential) is required"
**What happened**:
I have a Azure Kuberenetes Service cluster with enabled Azure AD integration.
When you use the bash autocompletion, before you make an additional authorization, then autocompletion operation hangs.

**What you expected to happen**:
The operation does not hang.
I am asked for an additional authorization.

**How to reproduce it (as minimally and precisely as possible)**:
- Create

[2020-09-14 19:08] omnibs commented on #25
`.metadata.annotations.ingress\.kubernetes\.io/url-map` works for me in 1.17

[2020-09-15 08:28] rameshgkwd05 opened #931 "Container logs are overwritten when we use kubectl cluster-info dump"
**What happened**:
We have a pod with init and run containers in init. When we use `kubectl cluster-info dump` command, we saw only logs of run-container and not of init-container.
The possible bug here in this for-loop: [clusterinfo_dump.go#L289](https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/clusterinfo/clusterinfo_dump.go#L289)

**What you expected to happen**:
We were expecting all

[2020-09-15 16:50] yogendra opened #933 "Kustomize Documentation - Typo in the newName parameter in image section"
**What happened**:
newImage parameter is incorrectly statted as nameName parameter in the documentation for kustomize https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#
**What you expected to happen**:
Parameter name should be newName

**How to reproduce it (as minimally and precisely as possible)**:

Visit - https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#

**Any

[2020-09-16 01:44] monopole commented on #818
Tracking in the kustomize repo as https://github.com/kubernetes-sigs/kustomize/issues/1500

[2020-09-16 09:10] kmmanto opened #934 "cpu request/limit differ in value in describe node and describe pod"
**What happened**:
I'm trying to programatically retrieve resource requests/limits using the Python API and found out that some pods differ in the returned values from kubectl describe no node

`kubectl describe no node`
[code]

`kubectl describe pod fluentd-86cb78bdc4-sbcb2`
[code]

**What you expected to happen**:
Same values should be reported

**How to reproduce it (as minimally and precisely

[2020-09-16 15:30] soltysh commented on #927
@jlpettersson by default kubectl looks for in-cluster config (see [Authenticating inside the cluster](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/examples/in-cluster-client-configuration/README.md#authenticating-inside-the-cluster) for more info) which means that it checks for `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` envs present and for `/var/r

[2020-09-16 16:04] knight42 commented on #934
Are there multiple containers in pod `fluentd-86cb78bdc4-sbcb2`? If so, `kubectl describe pod` would display the resource requests and limits for individual container, while `kubectl describe node` would display the sum.

[2020-09-16 16:10] kmmanto commented on #934
@knight42 There is only one container and one init-container which I believe is not included in the sum. However, there are other pods in that node that have 1+ containers but are reported correctly.

[2020-09-16 16:17] eddiezane commented on #901
/priority important-soon

[2020-09-16 16:18] eddiezane commented on #926
/priority backlog

[2020-09-16 16:20] eddiezane commented on #923
/priority backlog

[2020-09-16 16:20] knight42 commented on #934
https://github.com/kubernetes/kubectl/blob/d70ead5fcaa0e8f8246715584147ba3bfd081411/pkg/util/resource/resource.go#L40-L44
The resource requests and limits of init-containers define the minimum resource of a Pod, so I think the init-container actually requests `250m` cpu and the limit is `500m`, right? If so, then this is expected behavior.

/remove-kind bug

[2020-09-16 16:26] eddiezane commented on #915
/assign @seans3
/priority backlog

[2020-09-16 16:27] eddiezane commented on #914
/priority backlog

[2020-09-16 16:32] soltysh commented on #913
I think it's being resolved in https://github.com/kubernetes/kubernetes/pull/90137

[2020-09-16 16:32] eddiezane commented on #913
/priority backlog

[2020-09-16 16:42] eddiezane commented on #931
/priority backlog

[2020-09-16 16:44] SaiHarshaK commented on #931
/assign

[2020-09-16 16:49] eddiezane commented on #930
This is potentially working as expected assuming the Azure CLI is prompting for action (web auth).

@180254 if you follow the prompt to sign in with a web browser does the command return?

We may need to make sure that completion commands have a proper timeout either via or Cobra or bash.

/triage needs-information

[2020-09-16 16:49] eddiezane commented on #930
/assign @brianpursley

[2020-09-16 16:50] eddiezane commented on #929
/priority critical-urgent

[2020-09-16 16:52] eddiezane commented on #928
/assign
/priority backlog

[2020-09-16 17:09] brianpursley commented on #903
This came up at the monthly bug scrub meeting today.

The consensus was that how it works currently is the desired behavior.

To recap the behavior:

1. You always get `NAME` no matter what, and it is always first.
2. If you DON'T specify `additionalPrinterColumns` in your spec, then you get the default which is the  `AGE` column.
3. If you DO specify `additionalPrinterColumns` in your spec, then

[2020-09-16 17:09] #903 closed

[2020-09-16 17:24] seans3 commented on #900
@raravena80 Some more context here before we close this issue. The feature you're suggesting subverts the concept of declarative config by adding an imperative way to modify the application of local config. More than any other command, `kubectl apply` exists to implement this concept of declarative config, usually where local config is mirrored onto the APIServer (see `gitops`). This example viola

[2020-09-16 17:24] #900 closed

[2020-09-16 17:33] eddiezane commented on #921
We're working on posting an FAQ to hold historical knowledge and decisions. Here's the relevant excerpt:

/close

[2020-09-16 17:34] #921 closed

[2020-09-16 17:51] eddiezane commented on #933
Will be closed by https://github.com/kubernetes/kubernetes/pull/89086

/priority backlog

[2020-09-16 19:17] soltysh commented on #908
This feature request seems like we'd be re-inventing what load balancers are meant for. There are multiple factors involved such as: balancing the load, failure detection and re-routing. All of which are nicely wrapped in LB. So having said that I don't see us implementing such a feature in the near term, unless I get convinced otherwise.
/close

[2020-09-16 19:17] #908 closed

[2020-09-16 19:34] soltysh commented on #920
This particular use-case seems reasonable, but I assume you're targeting the default and not adding additional capability. If that's the case then I hate to say but we can't break backwards compatibility doing so. I'm happy you were able to bypass your problem by implementing your own pod selection algorithm.
/close

[2020-09-16 19:34] #920 closed

[2020-09-16 19:37] soltysh commented on #923
Adding this is at the thin line between feature request and compatibility with other kubectl commands. So I'm going treat this as a the latter. When working on it make sure to use [ResourceBuilder](https://github.com/kubernetes/cli-runtime/blob/3cc3835b3ec298e5a3a277b03f7a133f156a45d9/pkg/resource/builder.go#L51) like other command. This will ensure all the mechanics used in other command will be

[2020-09-16 23:14] #929 closed

[2020-09-17 01:16] #901 closed

[2020-09-17 02:23] kmmanto commented on #934
Yes, that's what the init-container is set to.

So this would only apply if the resource requests/limits of the init-container is more than any of the containers in the pod right?

**Scenario A**

`describe node`
[code]
`init-container`
[code]
`container-a`
[code]

**Scenario B**

`describe node`
[code]
`init-container`
[code]
`container-a`
[code]
`container-b`
[code]

[2020-09-17 06:23] kmmanto commented on #934
I guess it's answered by [init-container-resources](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources)

[2020-09-17 06:23] #934 closed

[2020-09-17 08:28] bingosummer opened #935 ""act-as" in kubeconfig doesn't work"
**What happened**:

1. I add "act-as" into the kubeconfig, follwing https://github.com/kubernetes/client-go/blob/5ab99756f65dbf324e5adf9bd020a20a024bad85/tools/clientcmd/api/types.go#L126.
[code]

2. The header "Impersonate-User" is missing when I run "kubectl get node -v=9".

**What you expected to happen**:

The header `"Impersonate-User: bar"` should be added when I run "kubectl get node -v=9".

[2020-09-17 08:35] bingosummer commented on #935
I find that if I add "as" into kubeconfig, it works. But from https://github.com/kubernetes/client-go/blob/5ab99756f65dbf324e5adf9bd020a20a024bad85/tools/clientcmd/api/types.go#L126, it should be "act-as".

[2020-09-17 17:39] brianpursley commented on #930
@180254 The message says:
[code]

What happens if you open your browser and go to https://microsoft.com/devicelogin? Does that work?

[2020-09-17 18:33] oz123 opened #936 "Unexpected behavior when using multiple contexts in kubeconfig"
When using a config with multiple contexts, one might see a surprising message if there is no context set.
Let me demostrate:
[code]

Here, I have a context set. So `kubectl get pods` or any other command works fine.
If there is no current-context, kubectl says it can't connect to localhost (that's reasonable if you know k8s, more on that below).
[code]
**What would you like to be added**:
The abo

[2020-09-17 19:57] jlpettersson commented on #927
This sounds interesting and a possible solution @soltysh thank you!

I will close this issue. I will try with this proposed solution, I did not know that `kubectl` used `client-go` internally, but that sounds reasonable.

[2020-09-17 19:57] #927 closed

[2020-09-17 22:07] 180254 commented on #930
If I do web auth beforehand, autocomplete works as expected.

If I do as in reproduction step, i.e. autocomplete is the first operation, the operation hangs _without_ any message. I expect to see message about required webauth, or the operation will timeout after some time.

[2020-09-18 09:42] oz123 commented on #936
I believe this is #737 is related.

[2020-09-18 09:48] oz123 commented on #936
Validation of the configuration is done here:

https://github.com/kubernetes/kubernetes/blob/ba35704b510f918254c3ba826fb63608f6ed2dd6/staging/src/k8s.io/client-go/tools/clientcmd/validation.go#L152

The is already a validaor that checks that the context `foo` exists.
[code]

To fix this issue, a validator that checks that the configuration has `current-context` set should be added.

[2020-09-18 12:04] knight42 commented on #936
/assign

[2020-09-18 14:07] julienvey opened #937 "Add KUBECTL_EXTERNAL_DIFF_OPTIONS env var to set custom diff command options"
**What would you like to be added**:

I'd like an environment variable `KUBECTL_EXTERNAL_DIFF_OPTIONS` to be added in order to be able to customize the options when using a diff command other than `diff` when using `kubectl`

The related part of the code https://github.com/kubernetes/kubectl/blob/f00cf713934555e6edd635bd7477f028056eda50/pkg/cmd/diff/diff.go#L168

**Why is this needed**:

When usin

[2020-09-18 16:04] brianpursley commented on #930
I too was able to reproduce it.

Here are my steps:
[code]

The problem seems to be that AKS is prompting for the user to go to a website to authenticate, but the completion code is not able to show output until the command has finished running.
[code]

I'm not sure what fix, if any, can be made, but as I think about it, it would need to be done in one of these projects:
* **kubectl** - To complic

[2020-09-18 17:51] noahi commented on #936
Your suggested error content looks good to me. Is there a situation where localhost is desired?

[2020-09-18 21:22] SaiHarshaK commented on #931
I have just tested the issue on the master branch, the output is exactly what the author desires. The version that the author was using which gave the issue is release-1.17 which didn't have the fix yet.
So, we can close the issue. @eddiezane

[2020-09-20 20:52] self-tuts commented on #747
please delete the below folder. It worked for me

**~/.aws/cli/cache**

[2020-09-20 21:27] cah-prakash-kalaiarasu01 commented on #151
_kubectl get all --all-namespaces_

will list the resources from all the namespace

[2020-09-21 09:38] fkleedorfer commented on #603
Experiencing this under Windows 10 (10.0.17763) and kubectl 1.19, getting `cannot allocate memory` for most calls as described by the OP

[2020-09-21 13:59] gyliu513 opened #938 "Allocatable->Allocated"
**What happened**:

If I run `kubectl describe node`, then I will see the following:

[code]

Here I was thinking should not the `Allocatable` be `Allocated`? This should be resources which already allocated.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and ser

[2020-09-22 19:21] #876 closed

[2020-09-22 19:22] #826 closed

[2020-09-23 00:07] seans3 commented on #866
/remove-lifecycle stale

[2020-09-23 00:07] seans3 commented on #866
/lifecycle frozen

[2020-09-23 01:47] eddiezane commented on #914
@pwittrock we need to condense this to fit in the FAQ https://github.com/kubernetes/kubernetes/pull/94989

[2020-09-23 09:18] micktg commented on #151
It's not a 100% solution, but for me works the following

`kgetall='kubectl get namespace,replicaset,secret,nodes,job,daemonset,statefulset,ingress,configmap,pv,pvc,service,deployment,pod --all-namespaces'`
and just call
`kgetall`
But obviously I expected that behavior from
`kubectl get all --all-namespaces`
in the first place.

[2020-09-23 09:37] antoineco commented on #151
@micktg that only lists a very small subset of resources.

To list _all_ resources, like the issue's title suggests, see https://github.com/kubernetes/kubectl/issues/151#issuecomment-594978672

[2020-09-23 11:50] micktg commented on #151
Of course, I am aware of that. It is suitable for me personally in most cases and miles better than `kubectl get all --all-namespaces` That's what I wanted to say.

[2020-09-23 13:15] AljoschaP commented on #858
/remove-lifecycle stale

[2020-09-23 15:59] eddiezane commented on #931
@SaiHarshaK thanks for investigating!

@rameshgkwd05 please reopen if you don't find this fixed on the latest version of kubectl.

/close

[2020-09-23 16:00] #931 closed

[2020-09-23 16:57] eddiezane opened #939 "Warn about plugin name collision"
In SIG-CLI biweekly meeting the potential for collision of the [alpha debug](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container) command and the [debug kubectl plugin](https://github.com/aylei/kubectl-debug) was brought up for when the alpha command graduates to a stable command.

We need to investigate if this will be an actual issue for plugins that

[2020-09-23 16:58] eddiezane commented on #939
@ahmetb did y'all have any thoughts here?

[2020-09-23 16:59] eddiezane commented on #939
/kind feature

[2020-09-23 17:01] soltysh commented on #939
The proposal is to do something along the lines of https://github.com/kubernetes/kubernetes/pull/92343 where we're trying to warn about flags passed to plugins.

[2020-09-23 20:25] eddiezane commented on #933
/close

[2020-09-23 20:25] #933 closed

[2020-09-23 23:19] MichaelWasher commented on #938
I believe it still should be allocatable. It should be the value of resources that can be allocated to normal pods. (as opposed to system daemons)

https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/
https://kubernetes.io/docs/concepts/architecture/nodes/#capacity

[2020-09-23 23:22] MichaelWasher commented on #935
/assign

[2020-09-24 15:38] brianpursley commented on #882
So I see https://github.com/spf13/cobra/pull/1070 got merged, but it doesn't look like it has been released yet.

Because zsh completions have issues without https://github.com/spf13/cobra/pull/1070, I think we are technically blocked on this until the next cobra release.

[2020-09-24 15:43] knight42 commented on #882
@brianpursley As @maciaszczykm said in https://github.com/kubernetes/kubernetes/pull/93714#issuecomment-669657885:

looks like we don't have to wait for the new release of cobra.

[2020-09-24 19:21] #396 closed

[2020-09-24 21:26] geekofalltrades commented on #683
/remove-lifecycle stale

[2020-09-25 06:21] gyliu513 commented on #938
Oh, my bad, you are right, thanks @MichaelWasher

[2020-09-25 06:21] #938 closed

[2020-09-25 08:01] lindhe commented on #454
I would be interested in trying to resolve this issue. But I realize that this is an intricate problem which may require some expertise from more experienced Kubernetes developers. Are there any suggestions on reasonable designs to approach this, or do we know of something that makes this problem intrinsically hard to solve?

[2020-09-26 04:15] #777 closed

[2020-09-26 09:52] lianghao208 commented on #928
/assign

[2020-09-28 08:56] rdxmb commented on #669
/reopen
/remove-lifecycle rotten

[2020-09-28 17:14] #646 closed

[2020-09-28 18:21] danielhelfand commented on #928
Making a note here that the original issue description seems to miss. `wait` and `timeout` are supported with `kubectl apply`, but a more appropriate description for the options with apply may have been removed in https://github.com/kubernetes/kubernetes/pull/62487. It looks like the apply command is currently using the delete command options, but it should possibly have it's own descriptions like

[2020-09-28 18:36] carlossg commented on #754
This is easy to see with a small timeout if you have more than one resource

For example with a 2s timeout it takes approximately `number of pods * 2s` to timeout, not 2s

[code]

[2020-09-29 06:31] pickfire commented on #131
Kubectl man pages is neither human readable nor fish-manpage-completions parsable.

I use https://gist.github.com/terlar/28e1c2e4ac9a27be7a5950306bf45ab2 in the meantime.

[2020-09-29 10:33] MartinSGill commented on #613
I really like the way the WinGet team did it. I'm sure I've also seen this pattern elsewhere.

"complete" is a command on the cli tool itself, which handles the auto-completion. It can then we wrapped by any shell's auto-complete mechanism, will always be up-to-date with the application itself, and can probably re-use most of the code the cli tool already uses for determining commands.

It would a

[2020-09-29 14:05] Duologic commented on #906
I can report the same issue on
[code]

[2020-09-29 19:32] Gauravjaitly commented on #48
hey guys,
i created an EKS cluster, a separate VPC for it and a worker node(bothe by cloud formation)

but getting the following error even after adding new cluster to kubeconfig

kubectl version --short

`Client Version: v1.19.2`
`Unable to connect to the server: dial tcp: lookup api.EKS-Test-Cluster: no such host`

can anyone suggest something?

[2020-09-29 20:57] blackntech opened #941 "Racist term in kubectl command"
The kubectl command has commands named cordon. from documents these commands are enable or disable nodes for pod scheduling. english word cordon traditionally refer to police military guarding location from access by marginalized people. police forces have severe and angry systemic racism against people of color.

Can renaming these commands to avoid emotional reactions from people who have been v

[2020-09-30 16:51] celestehorgan commented on #941
Hi @blackntech!

Welcome to the Kubernetes project and we hope you continue to contribute.

@eddiezane pointed us, the Naming Working Group, at this issue via Slack. Because changing this term would introduce breaking changes to kubectl, we'd like you to bring this to the WG Naming mailing list for discussion with the broader community before the kubectl team actions on this bug.

To do this:
1. J

[2020-10-01 00:34] sramkrishna opened #942 "kubectl keeps .kube in non-standard place."
**What happened**:
kubectl utility does not keep it's configuration in the standard location on Linux as defined by the freedesktop. See: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
The spec was created in order to manage large number of configuration areas that turned unmanageable in the old days. Using the spec will allow for much better predictability especially

[2020-10-01 13:19] parthibd commented on #941
@blackntech From the Merriam Webster dictionary "cordon" means "a line of troops or of military posts enclosing an area to prevent passage" . Even outside the context of Kubernetes , the word is not biased towards any person . At this point I think you are just a troll who created a Github account just to open an "issue" on something that doesn't even exist or can't be validated .

[2020-10-01 13:48] dims commented on #942
reminded me of an interesting twitter thread:
https://twitter.com/aka_pugs/status/1227859842380881920

[2020-10-01 14:06] wjdingman1 commented on #941
Totally agree, this 'grievance' is absurd.

[2020-10-01 14:21] erichiller commented on #941
I second that. I've never heard anyone ever use cordon in a demeaning way, not in reality nor entertainment.

[2020-10-01 14:51] kbirger commented on #613
There are two cool options listed in this issue, but I consider them both proofs of concept.

https://github.com/felixfbecker/PSKubectl requires you to use an entirely new command syntax, which is not desirable

https://www.powershellgallery.com/packages/PSKubectlCompletion is a good start, but does not support resource name completion as of yet (there's an open issue for it).

[2020-10-01 17:12] pvsousalima commented on #686
Isn't there any suggested implementation to implement this automatic recovery?

[2020-10-01 17:59] her commented on #878
Does stale mean, "won't do"?

[2020-10-01 22:43] VanBantam commented on #764
I just performed a fresh install of k8 and got this exact same error.  So it's unclear to me how this can be a load balancer or proxy error.

[2020-10-02 16:32] sallyom opened #943 "`kubectl run` does not fail when you do not pass a NAME, when you pass a --command"
**What happened**:
[code]
the pod is created, then crashloops with
[code]
this should instead error w/ the msg,
[code]
**How to reproduce it (as minimally and precisely as possible)**:
`$ kubectl run --image fedora --command -- sleep 100`
the pod/sleep is created, and if you
`kubectl get pod/sleep -o yaml` you'll see the error noted above.

**Environment**:
latest master build

[2020-10-02 16:34] sallyom commented on #943
/assign sallyom

[2020-10-02 17:26] RudyBone opened #944 "kubectl reports different apiVersion then what I deployed"
My apologies if this issue/feature has been addressed elsewhere:

Running kubectl 1.14.5 against a 1.14.5 cluster.

I push a deployment yaml file up to the cluster with apiVersion: apps/v1

I do a kubectl get deployments <mydeployment> -o yaml and the apiVersion comes back as extensions/v1beta1

Using the --v=8 flag I can see that kubectl is actually issuing the REST call to the extensions/v1beta1

[2020-10-02 18:47] brianpursley commented on #686
/reopen

[2020-10-02 19:25] brianpursley commented on #686
I was taking a look at this a little bit today and I think this is a legitimate issue.

The root problem seems to be that port forwarding enters some sort of unrecoverable state after it is no longer able to communicate with the pod it was connected to, and yet it does not fail with an exit code either.

### Here are my steps to reproduce (use two terminals)

**terminal 1**
[code]

**terminal 2**

[2020-10-02 20:43] brianpursley commented on #686
/remove-lifecycle rotten

[2020-10-04 14:25] dougsland commented on #892
@zhouya0  it seems in the original PR was focused in the describe command not for global commands.
Not sure about others in the development group but I would just deprecate such generic match for describe. As you mentioned  it can be achieved by labels or even with kubectl autocomplete.

[2020-10-04 19:09] dene14 commented on #151
If someone still suffers from that problem, please check this script: https://gist.github.com/dene14/7253685cdedde2b6d16e8fc1df450d4f

[2020-10-04 19:12] antoineco commented on #151
@dene14 "Migrate releases from helm2 to helm3" sounds very much off topic to me.

[2020-10-04 23:48] mhewedy opened #945 "kubectl edit add new field in cronjob says "Edit cancelled, no changes made.""
**What happened**:

Create a new cronjob using:

[code]

Then try to use `kubectl edit` to edit the cronjob and add the new field: `successfulJobsHistoryLimit` under the spec according to https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#jobs-history-limits

After save (using vim :wq) I got: `Edit cancelled, no changes made`
However If I edited an existing field (such as `failed

[2020-10-04 23:58] mhewedy commented on #945
My fault, the issue is that the field already exists near the bottom of the file.

[2020-10-04 23:58] #945 closed

[2020-10-05 01:23] dougsland commented on #937
I think make sense. Let me try to prepare a patch.

[2020-10-05 01:23] dougsland commented on #937
/assign

[2020-10-05 03:46] dougsland commented on #937
With the provided patch the following commands work:

[code]

[2020-10-05 19:47] sallyom commented on #943
oh i came across this: https://github.com/kubernetes/kubernetes/issues/13004#issuecomment-140405582  this was a previous issue but fix was never implemented AFAICT

[2020-10-06 01:04] dougsland commented on #935
/me nods

Not sure what sig-cli will decide but looks like there is a documentation pointing to --as:

From:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/

[code]

Additionally, renaming as to act-as might break users env.

[2020-10-06 01:49] dougsland commented on #686
let try to reproduce this report and work on it.

[2020-10-06 01:49] dougsland commented on #686
/assign

[2020-10-06 18:08] eddiezane commented on #944
This was a compatibility translation due to the deprecation path for older APIs.

You can see that your deployment is actually part of `apps/v1` by hitting the endpoint manually.

[code]

A [thread on the mailing list](https://groups.google.com/g/kubernetes-dev/c/je0rjyfTVyc) says:

/remove-kind bug
/kind support
/close

[2020-10-06 18:08] #944 closed

[2020-10-06 18:12] eddiezane commented on #944
You should be able to specify the version you want directly as well with:

[code]

[2020-10-06 20:20] mcandre opened #946 "Let us port forward services rather than just pods"
During software development, it slows everything down to have to adjust port forwards as the new pods roll out.

Some third party tools like kubefwd may help, but they're flakey at best.

Please allow port forwarding of services, instead of being forced to target specific pods, which are ephemeral.

[2020-10-07 14:27] brianpursley commented on #882
I don't know about everyone else, but I would not be satisfied if we still had to have to have custom scripts to make zsh work.

When I created this issue, I had hopes that this would simplify completions (by eliminate custom scripts) and make everything consistent while at the same time enabling fish and powershell completions. But it is clear now that it is not that simple.

If cobra 1.0.0 can't

[2020-10-07 17:37] marckhouzam commented on #882
I feel your pain. 😞
However, we would only need to keep the zsh modifications temporarily.  I mean, Cobra will do a release eventually 😄
I'll mention to the maintainers that `kubectl` is waiting on it to try to put more pressure.

That being said, before using native zsh completion, we need to get rid of *all* existing custom bash scripts.  Sadly until that is done, a new release of Cobra will not

[2020-10-08 00:17] eddiezane commented on #926
Let's track this at #686 now that it's reopened.

/close

[2020-10-08 00:17] #926 closed

[2020-10-08 00:27] eddiezane commented on #946
@mcandre you should be able to port forward to a service directly with `kubectl port-forward svc/nginx 8080:80`

We currently have #686 open to fix an issue with pods being restarted.

[2020-10-08 04:02] montmanu opened #947 "Clarify use of REMOTE_PORT when port-forward TYPE is service"
**What would you like to be added**:

Documentation that clarifies the contextual nature of the `REMOTE_PORT` argument to `port-forward` when `TYPE` is `service`.

**Why is this needed**:

It is unclear from the current documentation that when `TYPE` is `service`, `REMOTE_PORT` represents a reference to a _Service_ port and not to a `containerPort`, as is the case for all other `TYPE`s.

Using the

[2020-10-08 10:34] nikhita opened #948 "Test Issue - Please ignore"
Testing https://github.com/kubernetes/test-infra/pull/19479

[2020-10-08 10:35] #948 closed

[2020-10-08 11:44] kargakis opened #949 "kubectl logs cronjob support"
**What would you like to be added**:

`kubectl logs cronjob/mycj` support

**Why is this needed**:

A convenient way to inspect the logs of the latest execution of a cron job.

@kubernetes/sig-cli-feature-requests

[2020-10-08 17:55] evilrussian opened #950 "Setting remote http kubectl config by KUBECONFIG"
Hello!

**What would you like to be added**: i want to have feature to define remote (by http) kubectl config by env KUBECONFIG

**Why is this needed**: Let's say we have kubectl config with access to many clusters by oidc. Cluster kubeapi connected to one SSO. And we have 100+ users of clusters.  And all users have one same kubectl config.

Example config:
[code]
If something changed in config, i

[2020-10-08 21:23] ixdy commented on #690
/reopen
/remove-lifecycle rotten

[2020-10-08 22:25] hershkoy opened #951 "Kubectl WSL2 The connection to the server 127.0.0.1:32770 was refused"
I am new to kubernetes. I am trying to run it locally on my windows 10 using WSL2 (following [this tutorial](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#kind-counting-1-2-3) )

Everything was fine until I got to the section about minikube. After installing systemd, kubernetes seems to not working properly. Even kubectl version which worked previously stopped

[2020-10-08 23:17] strangiato opened #952 "Add kubectl kustomize --version"
**What would you like to be added**:

It would be great to have a `version` flag for kustomize in order to know which version of kustomize you are leveraging through kubectl.

For example:

[code]

or

[code]

**Why is this needed**:

Currently there is no way to know which version of kustomize you are using through kubectl other than external documentation.

As far as I can tell the version shipp

[2020-10-09 01:03] #947 closed

[2020-10-09 07:35] OuSatoru commented on #895
because there is http_proxy env when `kubeadm init`, reinstall with http_proxy cleaned before `kubeadm init` solved the problem.

[2020-10-09 07:35] #895 closed

[2020-10-09 07:36] hershkoy commented on #951
I enabled the "show system containers". I see that kubernetes containers are created, but I don't see any one that has port 32770 open.
I don't know if this information helps, just try to debug it.

I also tried restarting the docker service, and reset the Kubernetes cluster.

![image](https://user-images.githubusercontent.com/13259380/95555929-2cfb6600-0a1b-11eb-8520-90de5b8aee84.png)

[code]

[2020-10-09 07:41] hershkoy commented on #951
I did
` mv .kube .kube_1`

And there is a slight improvement, as kubectl is at least not stuck anymore when activated without sudo:

[code]

The connection refused issue still exists though

[2020-10-09 08:00] hershkoy commented on #951
Update:

I did

[code]

And now it seems that kubectl is working

[code]

[2020-10-09 08:17] hershkoy commented on #951
ok, I managed to solve it, I think

first, I deleted the cluster I created previously, and as expected got the same refused error:
[code]
I deleted the `~/.kube` folder and then:
[code]

And now cluster seems to work again as expected:
[code]

[2020-10-09 08:17] #951 closed

[2020-10-09 10:25] HerrNaN commented on #910
@jayendra13 @eddiezane It seems like nothing has happened here for a while, is it ok if I take over?

[2020-10-09 10:32] jayendra13 commented on #910
yes sure I got busy with some other stuff, and I almost forgot this.
you can continue on this.

[2020-10-09 10:36] jayendra13 commented on #910
may be this can help https://github.com/kubernetes/kubectl/pull/916

[2020-10-09 10:41] marckhouzam commented on #882
The Cobra maintainers have agreed that a release is needed. A few PRs will be included in the next few days (at least that is my understanding) and then the release will be made.

[2020-10-09 14:05] foldleft commented on #693
/reopen
/remove-lifecycle rotten

[2020-10-09 19:34] jjfmarket commented on #926
Thank you @eddiezane

[2020-10-09 20:03] greatvovan commented on #151
Crazy... Instead of fixing the buggy command they removed it from documentation.

[2020-10-10 13:31] dty1er commented on #524
Just FYI I've made a CLI tool to do this.
https://github.com/dty1er/kubecolor

[2020-10-10 19:37] vyaslav commented on #120
I came up with [this](https://gist.github.com/vyaslav/42a82ede8b8732f93177b40545e180b1) to autocomplete common aliases `kgp` `kl` `kex` ...

[2020-10-11 02:28] dougsland commented on #686
Hey @soltysh, I am wondering if we can discuss this one in the sig meeting. Should os.Exit(1) enough for this one ? Just tested a local patch and it works.

[2020-10-11 09:37] DirkTheDaring commented on #450
Get running pods and do not show Terminating pods (.metata.deletiion != nil)

`kubectl get pods --field-selector=status.phase=Running --template {{range .items}}{{ if not .metadata.deletionTimestamp }}{{.metadata.name}}{{"\n"}}{{end}}{{end}}`

[2020-10-11 13:15] HerrNaN commented on #910
Somehow adding i18n translations on every single `Short` and `Long` line seems a bit micromanaging in a way. Wouldn't it be easier to go through all the commands and add that separately? This would allow the code that describe how the commands should work less cluttered, more consise and easier to read and we can ensure that all commands get these translations.

WDYT @eddiezane?

[2020-10-11 13:26] dougsland commented on #946
Agreed @eddiezane. Probably good idea to close this one.

Reference:
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

[2020-10-11 22:47] brianpursley commented on #500
/remove-lifecycle stale

[2020-10-12 19:16] eddiezane commented on #952
We're tracking this at https://github.com/kubernetes/kubectl/issues/797

/close

[2020-10-12 19:16] #952 closed

[2020-10-13 01:13] eddiezane commented on #685
/remove-lifecycle stale

[2020-10-13 13:20] eddiezane commented on #946
/close

[2020-10-13 13:21] #946 closed

[2020-10-14 07:45] rdxmb opened #955 "kubectl apply -k works different as kustomize build"
**What happened**:
When using `kubectl apply -k` there is an error, while `kustomize build` works.

**What you expected to happen**:
They should work the same way.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

[code]

[code]

**Anything else we need to know?**:

**Environment**:

[code]

[code]

[2020-10-14 16:16] eddiezane commented on #935
/priority backlog
/assign @sallyom

[2020-10-14 16:19] eddiezane commented on #937
/assign @seans3

[2020-10-14 16:20] eddiezane commented on #686
/priority backlog
/kind bug

[2020-10-14 16:23] eddiezane commented on #942
Let's track this at https://github.com/kubernetes/kubernetes/issues/56402 if you'd like to add your thoughts there please.

/close

[2020-10-14 16:23] #942 closed

[2020-10-14 16:27] eddiezane commented on #936
/priority backlog

[2020-10-14 17:14] marckhouzam commented on #882
Cobra 1.1.0 has just been released 😄
https://github.com/spf13/cobra/releases/tag/v1.1.0

But we should not move to Cobra's zsh completion until we have removed all custom completion bash scripts from kubectl.

[2020-10-14 18:37] seans3 commented on #827
/remove-lifecycle stale

[2020-10-14 18:42] seans3 commented on #827
@amitsaha Yes. For the fix that I suggested, you would have to compile your own kubectl binary.

If you want to use the command-line, then many commands (including `kubectl apply`) allow the use of `stdin` as an argument using `-`. So an example command is the following:

kustomize build <DIR> | kubectl apply -f -

You can also do the following:

cat <MANIFEST OF RESOURCES SEPARATED BY ---> | kube

[2020-10-14 18:42] #827 closed

[2020-10-14 18:46] seans3 commented on #937
@julienvey Please note an environment variable already exists for choosing the `diff` program. According to `kubectl diff -h`:
[code]

An example is:
[code]

Closing

[2020-10-14 19:07] seans3 commented on #937
/triage accepted

[2020-10-14 19:13] eddiezane commented on #524
Cheers @dty1er and thanks for sharing.

Would be good to have you join us for a future sig-cli meeting to talk potential for getting your work upstream.

https://github.com/kubernetes/community/tree/master/sig-cli#meetings

[2020-10-14 21:05] eddiezane commented on #882
@marckhouzam thanks for pushing that through with the cobra maintainers! I've opened a PR to update out dependency.

https://github.com/kubernetes/kubernetes/pull/95571

[2020-10-15 06:20] knrt10 opened #956 "Upgrade cobra to 1.1.0"
**What would you like to be added**:

Cobra released their new version yesterday https://github.com/spf13/cobra/releases/tag/v1.1.0 which included `ValidArgsFunction` for zsh completion. This means all the code needed for zsh here https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/completion/completion.go#L157 can be removed and converted to `GenZshCompletion`

**Why is this needed**:

So t

[2020-10-15 11:01] soltysh commented on #686
@dougsland just open a PR and pls ping me on slack with it, I'll review

[2020-10-15 11:01] soltysh commented on #686
/priority backlog
/kind bug

[2020-10-15 11:13] soltysh commented on #955
Dup of https://github.com/kubernetes/kubernetes/issues/82905
/close

[2020-10-15 11:13] #955 closed

[2020-10-15 14:37] Limoncho-san opened #957 "Error: Kubernetes cluster unreachable: unable to parse the server version: invalid character '<' looking for beginning of value"

[2020-10-16 07:50] g0dA opened #958 "About the signal handler in t.Safe()"
I want to send an http request when my cli program exits unexpectedly, but it is found that the signal handler cannot be  executed correctly after using t.Safe()，So I made a demo：
[code]
after run, I will execute `nc -lvvp 9898` locally and send SIGHUP(kill -1 PID), but i did not receive this request

So how can I handle the signal correctly?

[2020-10-16 11:50] mariojacobo opened #959 "Kubectl real user"
**What would you like to be added**:

Would be nice to be able to tell which user is executing commands inside a container. We can see which user ran for example "kubectl exec", but once inside the container, we don't have any mechanism to audit the real user that ran commands.  If you have multiple people connected to a container and running some cli commands, there's no way to tell who ran what.

[2020-10-17 16:24] dty1er commented on #524
Hi @eddiezane .
Wow nice! I am willing to join the meeting and want to talk about kubecolor with you guys. When will you have a next one?

[2020-10-18 13:18] #957 closed

[2020-10-18 13:21] LemonSpike opened #960 "The connection to the server was refused"
**What happened**:
Ran `kubectl get node -o wide` after installing k3sup on my Mac using the IP Address of my Raspberry Pi node, and got this error:

`The connection to the server x.x.x.x:6443 was refused - did you specify the right host or port?`

**What you expected to happen**:
List of node details.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the install steps as o

[2020-10-18 17:09] Thoro opened #961 "Too large oidc token, over nginx proxy returns useless error message"
**What happened**:
I am using dex with oidc auth in kubectl to access my kubernetes cluster via an nginx proxy (logging of requests etc). At some point I added more groups to my user, which affected the token, which is now 4930 bytes large. Due to nginx default settings of http2_max_field_size with the value of 4k, nginx was SILENTLY (only info+ mode showed a message) dropping the connection, and

[2020-10-19 07:03] bingosummer commented on #935
Seems it's expected to use "as" instead of "act-as". Closing the issue.

[2020-10-19 07:03] #935 closed

[2020-10-20 13:23] lallinger-arbeit commented on #450
I understand the issue with people wanting to get pods which are in terminating state, but at least there should be a flag to add to tell kubectl it really should only output pods which also show running state when calling `kubectl get pods`.

Thanks @DirkTheDaring, your solution outputs the desired information!

[2020-10-20 16:50] brianpursley commented on #576
/remove-lifecycle stale

[2020-10-20 18:40] eddiezane commented on #956
This can be tracked at https://github.com/kubernetes/kubernetes/pull/95571. It has been a bit of an ordeal.

/close

[2020-10-20 18:41] #956 closed

[2020-10-21 01:27] cprayer commented on #808
/remove-lifecycle stale

[2020-10-21 06:23] Markus-ipse commented on #891
Has anything happened regarding this issues?

[2020-10-21 07:24] KnicKnic opened #962 "wait should leverage observedGeneration"
**What would you like to be added**:
I would like for `kubectl wait --for=condition` to wait until observedGeneration reaches at least the generation when kubectl started.

Objects like Deployments have a `status.observedGeneration` (https://godoc.org/k8s.io/api/apps/v1#DeploymentStatus)
In addition the `condition` object in apimachinery also has a `observedGeneration` variable attached to it. see

[2020-10-21 08:27] rdxmb commented on #572
/remove-lifecycle stale

[2020-10-21 11:34] pierluigilenoci commented on #797
/remove-lifecycle stale

[2020-10-21 16:07] apelisse commented on #892
Yes, I'd be fairly opposed to seing `kubectl get` with that behavior. `describe` is probably fine because it's meant for humans rather than machines, but we can't have `kubectl get` return arbitrary objects in scripts, it has to do exactly what it is asked. Just my two cents.

[2020-10-21 16:45] brianpursley commented on #569
One challenge with multiple configs is that the config file currently stores two types of information:
1. The definition of clusters, users, and contexts
2. Which context is your "current context" (what gets set when you run `kubectl config use-context`)

If there are multiple configs, how will kubectl interpret the `current-context` that is stored within multiple configs.  Or if you run `kubectl

[2020-10-21 17:38] briandealwis opened #963 "Option for kubectl to render messaging using structured output"
**What would you like to be added**:

Would be beneficial to have `kubectl` be able to deliver output in a structured form that can be consumed by other tools.

Minikube, for example, supports outputting information [as a stream of CloudEvents events](https://minikube.sigs.k8s.io/docs/contrib/json_output/).

**Why is this needed**:

Kubectl is increasingly being used as an implementation tool.  In

[2020-10-21 17:42] BenTheElder commented on #569
Sorry this fell by the wayside, I have not gotten to any real development lately ... swamped in reviews etc. 😞

@brianpursley this was part of our thinking as well ... only the existing location should have current-context / preferences, potentially with some validation warning / error-ing if present in config.d 👍

[2020-10-21 18:07] eddiezane commented on #524
@dty1er next meeting will be November 4th. You'll get a calendar invite if you join the mailing list.

[2020-10-21 23:20] brianpursley commented on #569
@BenTheElder sorry I should have read back before I commented. It looks like the current context issue has already been brought up. This issue was mentioned today in the sig cli meeting and I wanted to add this concern, but it sounds like you guys already covered it.  👍

[2020-10-22 12:17] deads2k commented on #686
Spoke on slack.  We don't exit from library code.  The library code in client-go is starting a server to forward requests, so it's behavior is like `ListenAndServe`.  We don't expect it to exit on failures, the same way we don't expect to have an http server exit on errors.  Anything that gets added would need coordination in a high layer of logic in kubectl.

If someone actively pursues it, I thi

[2020-10-23 08:20] soltysh opened #964 "git-like blame for kubectl"
When you request yaml or json output you'll notice the addition of `.managedFields` which contain information from server-side apply about modifications made to a particular resource. We could use that data and build git-like blame behavior for kubectl.

For example:
[code]
would print something like:
[code]

[2020-10-23 12:36] lbernail opened #965 "Support for setting resourceVersion in kubectl get"
**What would you like to be added**:

Support for `--resource-version=X` for `kubectl get`
(or maybe or simpler flag to just force a read from cache by setting RV=0, such as --cache ?)

**Why is this needed**:
Today, kubectl get only supporting LISTing with RV="" which on large clusters can be slow for users and impact the control plane and etcd in particular.

I did a few tests on large cluster w

[2020-10-23 14:18] dty1er commented on #524
Will join the next one!

[2020-10-23 14:27] wojtek-t commented on #965
@kubernetes/sig-cli-feature-requests @soltysh - for thoughts
[I don't have strong preference about how much details we want to expose, but at the very high-level I'm supportive for this, given we have the ability to set RV in the k8s API.]

[2020-10-23 18:58] soltysh commented on #847
/remove-lifecycle stale
/lifecycle frozen

[2020-10-25 10:56] lalyos opened #966 "describe output is broken if all annotations are skipped (last-applied-configuration)"
**What happened**:
In `kubectl describe` output, at the end of the line  **Annotations:** the newline char is missing , therefore the next line is slipping in.

Se how Annotations and Selector is in the same line:
[code]

**What you expected to happen**:

I would expect either a `<none>` in the line of the Annotations, or maybe `<filtered>`. (discussion needed)
But the Selector: should be on a new

[2020-10-27 00:03] poindexter-1 commented on #747
upgrading the aws-cli and botocore version fixes the issue:
Last working versions: aws-cli/1.18.165 Python/3.6.4 Darwin/19.6.0 botocore/1.19.5

[2020-10-27 02:56] medyagh opened #967 "klog flags such as "--log_dir" are advertised but not usable."
while `kubectl options` advertises that these flags are available but when I try to use them, they don't work,
for example --log-file or --log-dir

[code]

using --log_dir flag
[code]
the log dir is empty. but I expect to see log files
[code]

 in minikube we have simmilar problem since we use kubectl's templates for grouping the cobra flags
https://github.com/kubernetes/minikube/issues/9521#issue

[2020-10-27 07:35] omeid commented on #569
Also ideally, the other, non-state, config files should be restricted to 1 cluster per file to avoid any confusion and conflict in the future.

[2020-10-27 15:17] eddiezane commented on #967
@brianpursley do you remember this coming up recently?

[2020-10-27 15:35] dougsland commented on #967
talked with @eddiezane over slack. Let me give a try in this report.

[2020-10-27 21:58] DavidGrinberg commented on #891
Bases are still even used on the main [readme](https://github.com/kubernetes-sigs/kustomize#2-create-variants-using-overlays) -

![image](https://user-images.githubusercontent.com/13791262/97366517-d2b52e80-187d-11eb-98a0-ec56155cbf83.png)

Very unclear what the suggested method is given [this comment](https://github.com/kubernetes-sigs/kustomize/issues/2243#issuecomment-651751009)

[2020-10-28 01:55] brianpursley commented on #967
I don't recall it coming up, but looked at it and here is what I found:
You have to specify `--logtostderr=false` or else it won't write to a file.

So for example:
[code]
(in the example above, the directory needs to exist already)

Similarly:
[code]

[2020-10-28 16:55] soltysh commented on #965
@lbernail your example assumes you are getting all 30k pods at once, which `kubectl get` does not, by default it returns elements in chunks of 500 see https://github.com/kubernetes/kubernetes/blob/17312ea4a92a0bba31272a6709b37a88aa383b2d/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L473, the flag being:
[code]
I don't have any strong opinions one way or the other, similarly to Wojtek :wink: but I

[2020-10-28 21:28] lbernail commented on #965
Thanks a lot @soltysh
Even if the calls are paginated, they all make it to etcd right? So the total query time can probably only be higher? (and the impact on etcd greater?)
Can apiserver server RV=0 paginated queries from the cache? (I think I read somewhere that paginated calls bypass the apiserver cache).

I'm discovering the includeObject option. How is it related to getting data from the apis

[2020-10-29 03:30] #884 closed

[2020-10-29 09:25] Bjego opened #968 "Installation via WinGet"
**What would you like to be added**:
Hey guys, it would be great, if I could install kubectl via WinGet (instead of Scoop or chocolatey) as winget is going to be the official windows based package manager in the future.

**Why is this needed**:
Win-Get is going to be the official package manager for windows OS. From a corporate perspective it will be much easier to argue for the official packagema

[2020-10-29 10:22] wojtek-t commented on #965
I like this argument.

watcache doesn't support pagination - so the limit param is ignored with RV=0

[2020-10-29 21:17] andras-gerendas opened #969 "localsubjectaccessreviews doesn't appear when listing api-resources"
**What happened**:

localsubjectaccessreviews didn't appear as an api resource when querying namespaced api-resources from kubectl.

**What you expected to happen**:

localsubjectaccessreviews should have appeared in the list of api resources.

**How to reproduce it (as minimally and precisely as possible)**:

I have called kubectl to retrieve namespaced api-resources with the following command:
k

[2020-10-30 03:41] ernsheong commented on #785
Leave this open? It would be useful to have `kubectl proxy` proxy to every service, regardless of HTTP or gRPC for easy debugging purposes?

[2020-10-30 09:43] lpellegr opened #970 "AttributeError: module 'importlib' has no attribute 'util'"
**What happened**:

I get an error when running for instance `kubectl get nodes`:

**What you expected to happen**:

I expect a list of resource information.

**How to reproduce it (as minimally and precisely as possible)**:

Run `kubectl get nodes` on a Fedora 33 desktop installation.

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl vers

[2020-10-30 11:34] brianpursley commented on #970
This makes me think it is a problem with your gcloud client
[code]

That call stack is definitely not originating from inside kubernetes.

[2020-10-30 12:51] lpellegr commented on #970
Oops, indeed, the problem is with the _gcloud_ client that seems not compatible with Python 3.9:

https://stackoverflow.com/questions/64010263/gcloud-not-working-with-fedora33-and-python3-9

I am sorry for the noise.

[2020-10-30 12:51] #970 closed

[2020-10-30 16:43] anwesh-b opened #971 "Node Events update on Node failure"
When we use `kubectl describe node <node_name>`, in the Events section there is no event listing if a running node fails.
It would be better if we could see the events such as shut down of node. It does have event for reboot, but not for shutdown.

[2020-11-01 01:44] troy0820 commented on #966
/sig cli

[2020-11-01 13:44] lalyos commented on #966
This is already fixed/merged in upstream https://github.com/kubernetes/kubernetes/pull/91405

I've tested recent releases:
[code]
So **v1.18.9 is still broken** but above v1.19.0 every version is fixed.

[2020-11-01 14:39] #966 closed

[2020-11-01 23:49] marckhouzam commented on #882
PR #96087 moves all bash custom completions to Go.  As planned by @brianpursley, it will allow to move to native zsh completion and get rid of all the zsh script code.  However, we need to move to Cobra 1.1.1 for that, which is done by #95571

[2020-11-02 03:38] syntheticgio commented on #970
Also happened after a brew upgrade for me (ugh).  Can confirm that `export CLOUDSDK_PYTHON=python2` works.

[2020-11-02 07:49] knight42 commented on #964
I would like to work on this interesting feature, but it is not quite obvious to me how to implement now, it might take some time.

/assign

[2020-11-02 16:14] soltysh commented on #964
@knight42 go for it, I'd start with this as a kubectl plugin presented at one of sig-cli calls and we can continue the discussion from there

[2020-11-02 23:29] adamzr commented on #970
Happened to me after a brew upgrade. Works with python 3.8 . I had to add:
[code]
to `.zshrc`.
This works because I have the `python@3.8` homebrew package installed. I use zsh.

[2020-11-03 15:20] timurista opened #972 "Offer a silent flag or apply flag for kubectl create namespace"
**What would you like to be added**:
An flag to silence errors `--slient` or `--apply` flag to make`kubectl create` not complain when creating a resource that already exists (just like how apply works)

**Why is this needed**:
When creating a namespace using `kubectl create namespace` command you get an Error that the resource already exists. However, to get the error to not show up you can use ku

[2020-11-03 16:56] AshwinNS commented on #454
sounds good, you can even override the `entrypoint` to sleep the container for certain amount of time, that would be more elegant.

[2020-11-04 14:54] dty1er commented on #963
`kubectl get` already have --output=json but others don't.

[2020-11-04 15:08] briandealwis commented on #963
`get -o json` affects the normal output, but doesn't affect error output:
[code]

[2020-11-04 19:40] kotyara85 opened #973 "Kubectl request forward through a proxy"
Hey there,
We aren't connection to our clusters directly, but rather through a proxy servers written in go.
We're using client-go, all requests are working fine, but with watch=true & follow=true
They're timing out and no data is being streamed back

2020/11/04 11:35:52 "GET https://localhost:8081/cluster/api/v1/namespaces/default/pods?fieldSelector=metadata.name%3Dtest-pod&resourceVersion=2957148

[2020-11-04 23:18] eddiezane commented on #524
This was discussed today.

Take away is we'll need to create a KEP and then determine the challenge of implementation and maintainer burden. Is this supported server side or client side?

Recording if anyone is interested https://youtu.be/NtmbMqWCbOI?t=1322

[2020-11-05 02:11] eddiezane commented on #972
@timurista could you please share more about your use case here and the need for silencing these errors?

The declarative approach is most always favored over the imperative in the Kubernetes world.

[2020-11-05 02:27] eddiezane commented on #973
@kotyara85 [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernete) is a better place for this question. You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

To help kick start you there I'd imagine this is because watch requests stream data back.

Check out https://kubernetes.io/docs/refer

[2020-11-05 02:27] #973 closed

[2020-11-05 04:10] eddiezane commented on #971
This would be a better fit for the [main kubernetes repo](https://github.com/kubernetes/kubernetes/issues) since kubectl simply pulls events from the server and displays them.

Looks like https://github.com/kubernetes/kubernetes/pull/96129 might actually bring this.

/close

[2020-11-05 04:10] #971 closed

[2020-11-05 05:33] lukaszgryglicki opened #974 "kubectl get po returns an error"
**What happened**: running `kubectl get po` returned error.

**What you expected to happen**: a list of running pods.

**How to reproduce it (as minimally and precisely as possible)**:
This probably happens under heavy load.

**Anything else we need to know?**:
This is the error:
[code]

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
[code]
- Cloud provider or ha

[2020-11-05 17:25] #910 closed

[2020-11-06 02:28] Darren-wh opened #975 "Kubectl command can not overwrite the service or deployment which be changed by manual update."
Kubectl command can not overwrite the service or deployment which be changed by manual update. (for examples like service port or containers port)
1.Preparing the deployment and service
2.use the kubectl command to deploy service.
3.using the "kubectl edit deployment deployment" or service to add new Containers configuration and save.
Then kubernetes will do a rolling update.
4.using the kubectl c

[2020-11-06 05:06] dty1er commented on #524
Starting working on writing KEP

[2020-11-06 22:32] yashdesai93 opened #976 "Kubectl describe pod should specify any finalizers as well as it's UID"
**What would you like to be added**:
Kubectl describe pod should mention
1) all the finalizers present in the pod
2) pod.UID

**Why is this needed**:
We use kubectl describe as a way to snapshot the pod's status and having this
info will help us in the same.
1) pod UID allows us to distinguish between two different versions of a pod
2) finalizers added on a terminating pod will allow us to know wh

[2020-11-06 22:33] yashdesai93 commented on #976
/triage accepted

[2020-11-07 00:34] #835 closed

[2020-11-07 12:15] tsuna commented on #970
I filed a bug upstream: https://issuetracker.google.com/u/1/issues/172647331

[2020-11-07 16:58] knight42 commented on #976
/assign

[2020-11-09 11:08] phisco opened #977 "--since flag for kubectl get events"
**What would you like to be added**:
A `--since` flag for `kubectl get events`, similar to the one in the `logs` subcommand.
**Why is this needed**:
Given the nature of events, more similar to logs than real resources, it would make sense to have an easy way to filter events by timestamp without recurring to `jq` or custom scripts.

I've tried to implement it using `-o jsonpath|gotemplate=", but i

[2020-11-09 15:53] timurista commented on #972
sure. Here's my use case we have a need to upgrade istio and associated components in our app. We also want to ensure that a namespace exists and add a default one if it is there.

Here's what we are doing currently to make this happen (with a prometheus helm chart install):
[code]
The apply -f- wors as intended in the line above by only adding the resource if it doesnt exist but ignoring it other

[2020-11-09 20:41] eddiezane commented on #977
@phisco valid request but I don't think we would add this to `kubectl get` as it would be very specific to events.

There's currently a KEP open for a new `kubectl events` command. Please take a look and add your thoughts there!

https://github.com/kubernetes/enhancements/issues/1440

/close

[2020-11-09 20:41] #977 closed

[2020-11-10 09:53] phisco commented on #977
Definitely agree it would be better to have a dedicated subcommand, I'll check the proposal, thanks @eddiezane!

[2020-11-10 13:46] Michael-Sinz opened #978 "kubectl uses far more memory than expected"
We use kubectl in some jobs to check on the cluster.  However, we have found that it can be rather costly in memory use in either small or large clusters.  Even more surprising, getting the results as YAML costs twice the memory as getting the results as JSON

**What happened**:
First, the amount of memory used has gone up over the versions of kubernetes - significant increase in 1.18 vs 1.15 (the

[2020-11-10 17:35] howardjohn commented on #517
This still happens on 1.18

[2020-11-10 18:01] eddiezane commented on #517
/remove-lifecycle rotten

[2020-11-11 01:25] eddiezane commented on #978
@Michael-Sinz thanks for reporting!

I have a feeling this is related to https://github.com/kubernetes/kubectl/issues/866.

For triage sake could you please test this with v1.19.3 and the v1.20 beta since you have access to a large cluster?

https://storage.googleapis.com/kubernetes-release/release/v1.19.3/bin/linux/amd64/kubectl
https://storage.googleapis.com/kubernetes-release/release/v1.20.0-be

[2020-11-11 01:34] eddiezane commented on #517
I've narrowed this down to [here](https://github.com/kubernetes/kubernetes/blob/1d4c0ad6f33f2bc42555becdb5d74e570c0730f3/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/tableconvertor/tableconvertor.go#L110-L111).

I can take a stab at a fix but I'm not sure if this was intentional or not.

Maybe @smarterclayton or @sttts have insight?

[2020-11-11 16:01] harjas27 opened #979 "Repetitive messages in kubectl rollout status"
**What would you like to be added**:
When using the `rollout status` command, the output contains repetitive messages. For example:

`Waiting for deployment "nginx-deployment" rollout to finish: 1 out of 3 new replicas have been updated...
Waiting for deployment "nginx-deployment" rollout to finish: 1 out of 3 new replicas have been updated...
Waiting for deployment "nginx-deployment" rollout to f

[2020-11-11 17:40] eddiezane commented on #517
/assign @seans3

[2020-11-11 17:42] eddiezane commented on #939
/assign @verb

Would you be ok taking a look at this?

[2020-11-11 17:44] eddiezane commented on #964
/triage accepted
/priority backlog

[2020-11-11 17:47] eddiezane commented on #969
/assign @seans3

[2020-11-11 17:47] eddiezane commented on #969
/triage accepted
/priority backlog

[2020-11-11 17:51] eddiezane commented on #967
From bug scrub there also exists a `--alsologtostderr`

[2020-11-11 17:51] eddiezane commented on #967
/triage accepted
/priority backlog
/assign @seans3

[2020-11-11 18:20] ahmetb commented on #939
@eddiezane I don't have any particular opinions here. We've been rarely accepting plugins with such generic names that have the potential to be overshadowed, and giving the verbal notice that "your plugin might be silently replaced by kubectl in the future".

I have a feeling like scanning `PATH` directories for executables to discover plugins will end up being in the "hot path" of running builtin

[2020-11-11 18:58] verb commented on #939
@eddiezane Sure, I can take a look. I think we won't be able to add it in time for 1.20, however, unless we want to make it a release blocker.

@ahmetb I imagine adding new `kubectl` subcommands is pretty infrequent, so maybe we can maintain a two release window for the warning. Perhaps we could also run the check while the commands are in `kubectl alpha` to warn of upcoming collision.

[2020-11-11 19:04] eddiezane commented on #968
Package managers are out of scope as the org just provides binaries and we rely on the community to handle distribution.

Personally - I took a look at adding it but it seems that WinGet doesn't yet support standalone executables. Tracking at https://github.com/microsoft/winget-cli/issues/182.

Here's the manifest for when that lands.

[code]

/close

[2020-11-11 19:04] #968 closed

[2020-11-12 17:03] eddiezane commented on #974
Cheers @lukaszgryglicki - 1.16 is a bit out of support. Are you able to reproduce this with a [supported version](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl)?

[2020-11-12 17:12] eddiezane commented on #963
@briandealwis Historically we have said that kubectl output is not versioned and have discouraged it being parsing.

I put it on the agenda for the next meeting (2020-12-02) if you'd like to join.

https://github.com/kubernetes/community/tree/master/sig-cli#meetings

[2020-11-12 17:46] lukaszgryglicki commented on #974
Nope, I don't have anything other. I'll soon update to v1.20 anyway...

[2020-11-12 19:20] #725 closed

[2020-11-12 20:32] asulaiman commented on #970
For usage with python3 i also had to update the gcloud sdk.

`brew install python@3.8
export CLOUDSDK_PYTHON=python3.8
gcloud components update`

[2020-11-12 23:10] Michael-Sinz commented on #978
A quick test (will do more tomorrow) shows that 1.20.0-beta.1 is actually slightly more memory use (very small) but I need to get access to the large production clusters to do a full verification as it is after business hours now and things are scaling down from their peak usage.  (We see 4x to 10x scale variation from low to high during the day.)

[2020-11-13 03:47] muhammadaliamin commented on #970
@asulaiman I followed the steps that you mentioned but got this error
[code]

[2020-11-13 03:49] asulaiman commented on #970
Updated comment, try `export CLOUDSDK_PYTHON=python3` instead.

[2020-11-13 14:30] muhammadaliamin commented on #970
I have this in my `zshrc` file

[code]

Still getting the error. I think gcloud is able to pick up this variable. its unable to pick up python3.8 from mac.

[2020-11-13 14:49] knight42 opened #980 "`kubectl cp` accidentally succeed if source file doesn't exist in pod"
**What happened**:

`kubectl cp` accidentally succeed if source file doesn't exist in pod

**What you expected to happen**:

`kubectl cp` terminates with non-zero exit code and print error message.

**How to reproduce it (as minimally and precisely as possible)**:

1 `kubectl cp` now terminates with zero exit code even if source file doesn't exist in pod:
[code]

2. `kubectl cp` sometimes even doe

[2020-11-13 14:49] knight42 commented on #980
/assign

[2020-11-13 14:50] knight42 commented on #980
/triage accepted

[2020-11-13 21:16] uvwild commented on #603
me too  for
kubectl krew list
same versions

[2020-11-14 05:59] eddiezane commented on #974
Please reopen if you run into this again after upgrading.

/close

[2020-11-14 05:59] #974 closed

[2020-11-16 16:03] Michael-Sinz commented on #978
I have run the 1.20.0-beta.1 and 1.19.3 now against a large cluster.   Note that the cluster is rather dynamic so the runs are not of the exact same state across the runs.  I also could not complete the yaml output as 1.20.0-beta.1 ran out of memory on my access VM (which has 16GBytes of RAM).

In json it does complete but it is still over 9x the memory compared to the output.  (7.3GBytes of RSS f

[2020-11-17 20:56] soltysh commented on #913
@starpit I did some testing and I think the problem is that you're actually working with different resources depending on what you request. Regular get returns a list of pods, but a watch returns objects one by one, thus you should be seeing errors about template not matching desired output like so:

[code]
So I think this is more of a problem with the set of flags and your expectations. Probably

[2020-11-17 23:53] raravena80 commented on #537
/remove-lifecycle rotten

[2020-11-19 09:38] rameshgkwd05 commented on #931
HI @eddiezane I checked the previous versions e.g. 1.16
It does not have a code to collect init container logs.  See [here](https://github.com/kubernetes/kubectl/blob/release-1.16/pkg/cmd/clusterinfo/clusterinfo_dump.go#L276)

Can we backport this fix for v1.16?

[2020-11-19 12:23] unixfox commented on #588
Can someone reopen this issue? Some people are still interested into this feature.

[2020-11-19 13:08] webdeb commented on #588
Just a hint for everyone who needs this for the GitLab CI.

You can define your **Variable** as **File**
https://docs.gitlab.com/ee/ci/variables/#custom-environment-variables

The Variable can then be used directly with `kubectl`
 without creating a file manually in the scripts.

[code]

[2020-11-19 16:34] mbrancato opened #981 "kubectl diff requires update / patch permission"
**What happened**:

Usually, when we think about using `diff` to compare two things - write access is not required. In this case, it seems `kubectl diff` requires write access to compare the current and future state. This might be an upstream problem if this is due to the server side apply.

When doing `kubectl diff` on a Deployment:
[code]

It seems to require PATCH / PUT permission under `/apis/

[2020-11-19 17:54] soltysh commented on #665
/remove-lifecycle rotten
/lifecycle frozen

[2020-11-19 20:22] lindhe commented on #830
/remove-lifecycle stale

[2020-11-20 15:33] timhughes commented on #891
https://kubernetes-sigs.github.io/kustomize/blog/2019/06/18/v2.1.0/#resources-expanded-bases-deprecated

[2020-11-20 18:00] #892 closed

[2020-11-21 04:26] tovbinm commented on #970
This worked for me on macos `export CLOUDSDK_PYTHON=python3`

[2020-11-21 08:44] kam1kaze commented on #970
this problem was fixed in the upstream. Just upgrade to 318.0.0 version: `gcloud components update`

[2020-11-21 18:03] eddiezane commented on #981
kubectl supports +1/-1 version of the api server so your v1.19.3 client is pretty off from our [version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl).

You could try using an [older kubectl version](https://downloadkubernetes.com/) or upgrading your cluster to a [supported version](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-version

[2020-11-21 18:20] #860 closed

[2020-11-21 22:24] #885 closed

[2020-11-22 13:39] lindhe commented on #830
/remove-lifecycle rotten

[2020-11-22 16:33] knight42 commented on #964
<img width="1099" alt="Screen Shot 2020-11-23 at 00 30 10" src="https://user-images.githubusercontent.com/4237254/99909370-18e99a80-2d23-11eb-942e-7a6a9346afc8.png">

@soltysh Hi! I have almost implemented this interesting feature, it is not that hard as I expected.

[2020-11-23 17:45] bboreham opened #982 "drain.Helper defaults to "delete immediately""
The member `GracePeriodSeconds` defaults to 0, which is interpreted as "delete immediately" by the lower layers called.
I'm not sure whether this is a bug or some subtle design I haven't figure out.

IMHO it would have been better to copy `metav1.DeleteOptions` which makes `GracePeriodSeconds` a pointer, so the default value is nil.

[2020-11-23 20:04] soltysh commented on #964
@knight42 will you be able to attend next week's SIG-CLI call or record a demo and I'll re-play that during the call?

[2020-11-24 06:50] mbrancato commented on #981
Hi @eddiezane

Here is a minimal example:
uses - https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/controllers/nginx-deployment.yaml as `test.yaml`

[code]

[code]

/reopen

[2020-11-24 09:40] sttts commented on #964
cc @apelisse @lavalamp

[2020-11-24 14:06] AnishShah commented on #923
@soltysh I would like to work on this if it is available.

/assign @AnishShah

[2020-11-24 16:15] knight42 commented on #964
@soltysh I think I am unable to attend the meeting(due to the timezone 😢 ), but I have created a repo for this kubectl plugin: https://github.com/knight42/kubectl-blame and a demo video is available on the README.

Please feel free to give it a try and file bug reports if there is any 😉

[2020-11-24 16:23] erictune commented on #964
@knight42
This is awesome.  I actually shouted for joy when @apelisse shared https://asciinema.org/a/375008 with me.

One small suggestion:  If you do another demo or video, add an HPA to the deployment and have the HPA modify replicas.  This was one of the key motivating use cases behind server-side apply and managed fields.

Thanks again for implementing this!

[2020-11-24 18:52] apelisse commented on #964
That's really awesome!

I'm curious how/if you handle fields that are owned by multiple managers?
I'm also a little concerned about the output width, so I'm curious if you thought about other formats/options, including hiding date or printing relative date (`X days ago`). There are only two kinds of managedfields ("Apply" and "Update"), you could try to experiment only printing a specific symbol f

[2020-11-25 15:27] soltysh commented on #964
@knight42 sure no worries, I'll demo that in sig-cli and will let you know about the results. I'll be personally advocating to include this in 1.21 :)

[2020-11-25 16:03] soltysh commented on #923
Sure go ahead.

[2020-11-26 05:02] knight42 commented on #964
@erictune I am so glad to know you like this plugin!

I have tried creating an HPA for the deployment locally, but perhaps I am missing something, the `metadata.managedFields` doesn't get updated even after HPA modified the replicas. Could you reproduce that?

The version of kubectl and k8s cluster:
[code]
The commands to reproduce:
[code]

[2020-11-26 05:39] knight42 commented on #964
@apelisse Thanks for your advice! let's make this plugin better.

I didn't expect a field could be managed by multiple managers now, and I am not sure how to handle such fields. Any suggestion?

both `Apply` and `Update` are quite short IMO, I think we might be better to keep the meaning of operation obvious here.

Sure, how about adding an option `--time=full|relative|none (defaults to relative)`

[2020-11-26 05:41] knight42 commented on #964
@soltysh Thanks a lot! Being able to design and implement a kubectl command is an honor to me  😄

[2020-11-26 18:07] wknapik commented on #557
/remove-lifecycle rotten

[2020-11-26 20:37] lindhe commented on #966
@lalyos I get the error still in 1.18.12

[2020-11-27 14:37] knight42 commented on #964
@apelisse Hi, `kubectl-blame` is able to customize time format now https://github.com/knight42/kubectl-blame#1-customize-time-format

[2020-11-30 05:17] apelisse commented on #964
Looks great!

[2020-11-30 05:18] apelisse commented on #964
Could you start iterating on a pull-request against kubectl? I'm sure we'll want that merged upstream, thanks!

[2020-11-30 07:58] rothgar commented on #964
Is there a specific reason this should be built in to kubectl and not kept as a plugin?

[2020-11-30 11:56] vio-f opened #984 "Official documentation on the usage of kind List"
**What would you like to be added**:
Could official documentation be created on the usage of kind List?

**Why is this needed**:
While [brianpursley's comment](https://github.com/kubernetes/kubectl/issues/837#issuecomment-632092853) on issue #837 kind of explained it, that does not represent official documentation, plus it does not properly address the purpose of it (only some use cases). Is it ju

[2020-11-30 16:45] apelisse commented on #964
We can talk about it during the sig-meeting, but I suspect we'll want this to become a core feature of kubectl.

[2020-11-30 18:52] #878 closed

[2020-11-30 20:16] electrical opened #985 "kubectl port-forward fails when using a proxy with rancher"
**What happened**:
kubectl port-forward command throws an error when running with a socks5 proxy configured in the kube config file.
All other commands work fine so far.

I'm not 100% confident if this is a problem with kubectl or with the rancher implementation.

**What you expected to happen**:
Not to fail

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else

[2020-11-30 20:48] dims commented on #985
Can you please open this in https://github.com/rancher/rancher ?

/close

[2020-11-30 20:48] #985 closed

[2020-11-30 22:05] julianvmodesto commented on #981
Yes this is the current expected behavior:

https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run-authorization

This issue is a duplicate of https://github.com/kubernetes/kubernetes/issues/95449

[2020-11-30 22:09] eddiezane commented on #981
Thanks @julianvmodesto. Let's track this there.

/close

[2020-11-30 22:12] brianpursley commented on #981
nevermind about that PR.  I thought it had to do with the `?timeout=32s` on the end of the request, and it was causing a problem for me, but it turned out I must have had an old version of the code because that seems to have been fixed already in 1.20.  Sorry about that.

I do see the same problem @mbrancato described by the way.

[2020-11-30 22:27] eddiezane commented on #984
This issue is scoped beyond kubectl and probably belongs elsewhere.

Leaving this open until I chat with sig-apimachinery.

[2020-11-30 22:27] eddiezane commented on #984
/assign

[2020-11-30 22:47] mbrancato commented on #981
I'll move discussion there, but as the title says my issue is the patch permission requirement and specifically for `kubectl diff` which I think is an abstraction from this other issue. I tried not to provide a solution but I thought falling back to client dry run may be a solution.

[2020-11-30 23:26] eddiezane commented on #972
Helm provides the `--create-namespace` flag which will create the namespace if it doesn't exist. Does that solve your use case?

https://helm.sh/docs/faq/#automatically-creating-namespaces

[2020-11-30 23:41] eddiezane commented on #985
@electrical socks5 support is still a work in progress.

https://github.com/kubernetes/kubernetes/issues/58065
https://github.com/kubernetes/kubernetes/pull/84205
https://github.com/kubernetes/kubernetes/pull/72943

[2020-12-01 11:10] electrical commented on #985
@eddiezane thank you so much for linking those :-) Looking forward to see that working.

[2020-12-01 16:22] brianpursley commented on #984
@viorelflorian When you say official documentation, can you clarify what are you referring to?  Are you asking for something to be added to https://kubernetes.io?

[2020-12-01 23:50] eddiezane commented on #984
@brianpursley I Googled and followed the tree of linked issues for https://github.com/kubernetes/kubectl/issues/837 (especially the Helm one - https://github.com/helm/helm/issues/8615) and `kind: List` seems to be a source of confusion for folks all around.

We should probably have some actual info about it since it only appears in that example and not in the the main docs or the API Reference.

I

[2020-12-02 04:52] PrakashTrove commented on #500
Same issue exists in v1.19.0 as well. Im using AWS ALB.

NAME    HOSTS             ADDRESS                PORTS   AGE
app           *         abc.elb.amazonaws.com      80      15h

[2020-12-02 17:55] eddiezane commented on #963
/assign @soltysh

[2020-12-04 05:03] ahmetb opened #986 "kubectl completion zsh: Throws error with GNU sed on macOS"
**What happened**:

Recently the `source <(kubectl completion zsh)` command started to throw error:

    sed: -e expression #6, char 44: Invalid character class name

**What you expected to happen**:

Expecting completion script to load correctly.

**How to reproduce it (as minimally and precisely as possible)**:

1. zsh 5.7.1 (x86_64-apple-darwin19.0)
2. macOS 10.15.7 (19H15)
3. sed (GNU sed) 4.8

[2020-12-04 21:43] harshakondreddy commented on #499
I am using a centos machine  to run kubectl   and   executing the below  instruction worked for me

`yum install bash-completion

echo 'source <(kubectl completion bash)' >>~/.bashrc
kubectl completion bash >/etc/bash_completion.d/kubectl
echo "alias k=\'kubectl\'" >> ~/.bashrc
echo 'complete -F __start_kubectl k' >>~/.bashrc
source ~/.bashrc `

 once it's completed, it  should be  able to get the

[2020-12-05 07:38] zzxwill opened #987 "Repeated "kubectl" in the output of command "kubectl exec""
**What happened**:
When executing `kubectl exec`, the output shows there is a repeated `kubectl` in `Use kubectl kubectl exec [POD]`.
(I did a quick query whether someone already reported it, and found no record.)

[code]

**What you expected to happen**:

# kubectl exec -it afdfsfsaf bash
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] --

[2020-12-05 19:02] PQMISSCMP commented on #461
please, add this feature!!

[2020-12-06 06:24] danielhelfand commented on #987
This was addressed in kubernetes/kubernetes#89919. See #887 for similar issue.

[2020-12-06 21:58] ahmetb commented on #986
Note for others: It turns out this was fixed but releasing with 1.20 earliest. https://github.com/kubernetes/kubernetes/commit/ff888f3a43abcb48b773e108baa38858220d88e3

The issue comes from this line:

    if sed --help 2>&1 | grep -q 'GNU\|BusyBox'; then

The `'` characters are supposed to be `"` in grep command. Otherwise it's failing to detect GNU sed, and therefore running the wrong sed comman

[2020-12-06 21:59] #986 closed

[2020-12-07 02:11] zzxwill commented on #987
Great, thanks. Closing it.

[2020-12-07 02:11] #987 closed

[2020-12-07 09:16] jwurm commented on #572
It woud also be great to have --prune work with custom resources, instead of just native kubernetes ones.

I don't know for sure about 1.19 right now (using 1.16 at work), but there it seems to ignore e.g. Istio objects despite being labeled.

[2020-12-08 08:10] hotrush commented on #970
The only way worked for me - switch temporary back to python2

[code]

[2020-12-09 00:27] #808 closed

[2020-12-09 01:51] mateeyow commented on #755
/reopen

[2020-12-09 01:57] mateeyow commented on #755
Still need support to apply yaml file for self-signed certificate sites.

[2020-12-09 17:08] eddiezane commented on #943
@sallyom any update on this one?

[2020-12-09 17:10] eddiezane commented on #943
/triage accepted
/priority backlog

[2020-12-09 17:20] eddiezane commented on #982
/triage accepted
/priority backlog

[2020-12-09 17:22] eddiezane commented on #979
@harjas27 which version of kubectl and server are you using?

/triage needs-information
/assign @dougsland

[2020-12-09 17:24] dougsland commented on #979
/assign

[2020-12-09 17:35] eddiezane commented on #975
/assign @dougsland

[2020-12-09 17:35] dougsland commented on #975
/assign

[2020-12-09 17:38] eddiezane commented on #906
/assign @dougsland

[2020-12-09 17:38] eddiezane commented on #975
May be slightly related to #906

[2020-12-09 17:39] dougsland commented on #906
/assign

[2020-12-09 17:45] eddiezane commented on #961
@Thoro can you please provide the full `-v 9` verbose log output with this on the latest version of kubectl (1.20).

/triage needs-information

[2020-12-09 17:48] Thoro commented on #961
@eddiezane Pretty hard, would have to break my whole cluster authentication.

The basic issue is not a bug in kubectl, it's that nginx drops the connection, but based on the Go error message it's very hard to figure out why it's happening.

[2020-12-09 17:52] eddiezane commented on #950
@rothgar any thoughts on this one? Related to your work on [k](https://github.com/rothgar/k) at all?

[2020-12-09 17:54] Thoro commented on #961
[code]

[code]

[2020-12-09 18:08] eddiezane commented on #962
/triage accepted
/priority backlog

@RealHarshThakur are you interested in this one as well?

[2020-12-09 20:22] soltysh commented on #949
I've explained this already in the past here https://github.com/kubernetes/kubernetes/issues/67070#issuecomment-414252984
The questions posted in the other comment are still valid and are main reason why this is not considered.

[2020-12-09 20:22] #949 closed

[2020-12-09 21:55] ameukam opened #988 "Support of Apple Silicon"
**What would you like to be added**:

Provide full compatibility for Apple Silicon (AArch64/Arm64).
Support of those architectures in Golang is targeted for 1.16 : https://github.com/golang/go/issues/42756.

**Why is this needed**:
Apple has [announced](https://www.apple.com/newsroom/2020/06/apple-announces-mac-transition-to-apple-silicon/) transition of the Mac hardware line to Apple Silicon. It

[2020-12-09 22:42] eddiezane commented on #972
We discussed this and decided it's not something we'd want upstream.

/close

[2020-12-09 22:42] #972 closed

[2020-12-09 23:03] eddiezane commented on #961
Thanks for the output.

The error you were getting from 1.16 seems much more actionable.

cc @soltysh

[2020-12-09 23:06] eddiezane commented on #960
@LemonSpike hopefully you figured this out.

My guess is this was an issue with requiring the cgroup kernel parameters on the Pi. K3s might have failed to start because they were missing. Looks like Alex updated the guide recently as well.

/triage support
/close

[2020-12-09 23:06] #960 closed

[2020-12-10 01:24] eddiezane commented on #984
I checked in with apimachinery and `kind: List` is more of an internal resource that wasn't meant to be exposed. We currently use this inside kubectl when dealing with lists of mixed resources.

How to proceed is currently being discussed.

[2020-12-10 01:25] eddiezane commented on #978
This came up in our sig-cli meeting today.

This might be addressed by not sorting the data or streaming the output as it comes in.

We currently toss everything into a `kind: List` which is a type of mixed resources. This wasn't really intended to be used externally (#984).

/triage accepted
/priority backlog

[2020-12-10 01:31] eddiezane commented on #988
/triage accepted
/priority backlog

[2020-12-10 04:11] RealHarshThakur commented on #962
@eddiezane Interested ? Yes !! I am bit occupied at the moment though. If someone else can do it before I get to it, that would be great.

[2020-12-10 12:13] harjas27 commented on #979
**Version details**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.13-gke.1401", GitCommit:"00c919adfe4adf308bcd7c02838f2a1b60482

[2020-12-10 17:27] Michael-Sinz commented on #978
I do find it interesting that the memory use is so far more than the size of the JSON (and even worse, the YAML - still unclear how we can used that much more memory just because the output is YAML)

While the kind: List may be a part of this, I think the bigger problem is more fundamental.

[2020-12-11 02:42] taishin opened #989 "cannot download v1.17.15"
**What happened**:

When I tried to download 1.17.15, 1.17.16-rc0 was downloaded.

**What you expected to happen**:

I expect 1.17.15 to be downloaded

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g:

[2020-12-11 09:09] MicDeDuiwel opened #990 "Error while proxying request: connection reset by peer"
**What happened**:
Mentioned in this issue on kubernetes https://github.com/kubernetes/kubernetes/issues/97125 but will give a quick rundown here:

When using `kubectl` to port-forward, proxy, or tail logs we will eventually get a `connection reset by peer` issue. This does not seem to impact inter-pod or inter-node communication, only communications via `kubectl`.
This issue started when I expand

[2020-12-11 17:48] nivekastoreth commented on #704
Ok, so in that case how do I filter out these events via the `kubectl` cli?

[2020-12-11 18:50] eddiezane commented on #989
Thanks for reporting. Looks like folks are working on addressing it.

https://github.com/kubernetes/kubernetes/issues/97178

Let's track there.

/close

[2020-12-11 18:50] #989 closed

[2020-12-11 19:02] eddiezane commented on #990
/triage needs-information

[2020-12-13 00:29] yannh opened #991 "kubectl apply --validate=true --dry-run=client requires connection to Kubernetes cluster"
Note: Not sure if Bug, Enhancement request or Support request.

**What happened**:

**What you expected to happen**:

Trying to validate a Kubernetes manifest using client-side schema validation requires a connection to a Kubernetes cluster:

$ kubectl config use-context none
Switched to context "none".
$ kubectl apply --validate=true --dry-run=client -f nginx-service.yml
The connection to the ser

[2020-12-13 06:50] boot-vue opened #992 "pod always pull image even if imagePullPolicy: IfNotPresent"
kubelet version:

[code]

kubectl version:

[code]

docker images  has exist `rancher/rancher:v2.5.3`:

[code]

helm repo : `https://artifacthub.io/packages/helm/rancher-stable/rancher`

kubectl edit deploy  rancher -n xxxx:

[code]

kubectl describe pod rancher-84474b8b54-twszq -n xxx:

[code]

it always  pull image ,  delete all pods and recreated, same perfomance

[2020-12-13 06:55] boot-vue commented on #992
another node with same enviroment, it performane normal:

[code]

 kubectl get nodes -n cattle-system -o wide:

[code]

docker version (same in 2 nodes):

[code]

I don't known the problem is on  `kubectl` or `k3s` or `helm`

[2020-12-13 07:18] boot-vue commented on #992
if change imagePullPolicy to `Never`  one node normal , another node still error

`kubelet` can't identify the image in local machine,  `reboot`  `restart docker` still not normal

[2020-12-13 09:37] boot-vue commented on #992
after  many times retry, it work ok, but i don't  know why

[2020-12-13 09:37] #992 closed

[2020-12-13 19:38] viorelflorian commented on #984
I found usages of it in third party helm charts (traefik v2.3) and i was wondering what is the original intended usage of such a thing (it's not a resource, is it?)
For the record yes kubernetes.io sounds like a good place to document it. I believe there is a mention of it in the custom resources section.

[2020-12-14 09:11] max-rocket-internet commented on #704
/remove-lifecycle rotten

[2020-12-15 05:53] hoxu commented on #818
/remove-lifecycle stale

[2020-12-15 09:19] skulos commented on #990
hi @eddiezane, I'm helping @MicDeDuiwel with this problem. And it seems to be that the cluster works fine with `kubectl` commands, but anything needing a connection, like port-forward and proxy (for kubernetes dashboard) gets a sort-of time-out with a "peer reset" error. My suspicion is packets are being dropped or invalidated along the network.

It's hard to make this a feasible way to reproduce

[2020-12-15 13:02] cig0 opened #993 "`kubectl get pods --sort-by=status` makes kubectl crash (error not handled)"
**What happened**:
Kubectl crashes with `F1215 09:51:35.632353   79162 sorter.go:360] Field {.status} in [][][]reflect.Value is an unsortable type: interface, err: unsortable type: map[string]interface {}`

**What you expected to happen**:
Get a list of pods ordered by STATUS (I now know there're other ways to do this)

**How to reproduce it (as minimally and precisely as possible)**:
Run the comm

[2020-12-15 15:13] michaelgugino commented on #982
When used via kubectl cli, this defaults to -1 as expected: https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/drain/drain.go#L148

When used as a library, the value should be specified or standard go defaults apply.

[2020-12-15 15:41] bboreham commented on #982
Yes, I'm saying the behaviour when used as a library should be different, because the current behaviour is extremely surprising.
Not at a Go level, at a "all your pods just got killed instantly" level.

[2020-12-15 17:42] bbagwellffn opened #994 "kubectl auth gives invalid answer when namespace argument is blank"
**What happened**:
I really am hoping this isn't user error, but the order of parameters I feed to kubectl auth can-i appears to provide different results in the case that -n is specified but no namespace is given.  I presume this is being parsed as a resourceName inconsistently.

Please tell me that I'm not crazy.

[code]

I assume that when the -n is provided as the third argument, it's supposed

[2020-12-16 06:22] angadrandhawa commented on #725
Hey guys, where can I find the convert plugin ?
when i use `Krew` and do the `kubectl krew search` i dont see it in the list.

[2020-12-16 17:42] span commented on #738
I also find this confusing and to add `rollout status` actually seems to exit gracefully and successfully although the pod is stuck in `CrashLoopBackOff `.

Example:

[code]

What actually defines "...status of the latest rollout until it's done." [0] ? I expected it to be a successful rollout where pods are started, alive and ready.

[0] https://kubernetes.io/docs/reference/generated/kubectl/kube

[2020-12-16 17:44] span commented on #738
/reopen

[2020-12-16 19:03] dougsland commented on #906
Unfortunately, I cannot reproduce the issue.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.5", GitCommit:"e338cf2c6d297aa603b50ad3a301f761b4173aa6", GitTreeState:"clean", BuildDate:"2020-12-09T11:18:51Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892

[2020-12-16 19:24] dougsland commented on #975
If I understood correctly:

first you create a service (manifest.yaml):
apiVersion: v1
kind: Service
metadata:
  name: test01
  namespace: ryu-dev
spec:
  selector:
    app: test-api
  ports:
    - name: test-api
      port: 8080
      targetPort: 8080
      protocol: TCP

Second you update it manually to add a new port:

[code]

In the final step you wanna get back in the first stage doing:

[cod

[2020-12-16 23:24] Bjohnson131 opened #995 "[request] add -o csv for easy exporting of resources to spreadsheets."
**What would you like to be added**:
I would like to be able to use the output flag to specify csv format when listing resources. For example:
`kubectl get pods -o csv` would output the current pods in a CSV format.
An example of proper CSV format could be

[code]
Which in monospace would not only look like properly formatted CSV, but it would also be properly formatted CSV.

This flag would be va

[2020-12-17 18:10] eddiezane commented on #930
/remove-lifecycle stale

[2020-12-17 20:43] eddiezane commented on #995
/triage accepted
/priority backlog

[2020-12-17 20:46] eddiezane commented on #995
I was a little surprised this was missing. We can add as alpha functionality per @pwittrock.

[2020-12-17 20:55] eddiezane commented on #994
@bbagwellffn there's a big [version skew](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl) on your client/server. Could you please help us by trying to reproduce with a newer server? Try [kind](https://kind.sigs.k8s.io).

[2020-12-17 21:36] rothgar commented on #995
Until this is an official feature of kubectl you can use something like this

[code]

[2020-12-17 22:29] eddiezane commented on #984
@viorelflorian we're still not sure about the proper solution as this internal type was not meant to be exposed.

For now though we'd gladly accept documentation on it to https://github.com/kubernetes-sigs/cli-experimental/tree/master/site if you're still interested.

https://kubectl.docs.kubernetes.io/

[2020-12-18 09:43] gcharters commented on #874
Just in case anyone encounters the same issue I had...  Editing the kube config file from `kubernetes.docker.internal` to `localhost` worked, but was getting overwritten each time I restarted kube.  In the end I found that there was something wrong with my /etc/hosts file - it had an entry for `kubernetes.docker.internal`, but I couldn't ping it.  I recreated the /etc/hosts file from scratch and I

[2020-12-18 17:25] viorelflorian commented on #984
Sure. I would love to as soon as someone assigns this to me.

[2020-12-18 18:33] eddiezane commented on #984
You should be able to `/assign` yourself. GitHub doesn't let us assign folks out of the org.

(Unless this works because you opened the issue)

/assign @viorelflorian

[2020-12-18 18:34] eddiezane commented on #984
/triage accepted
/priority backlog

[2020-12-19 20:18] #815 closed

[2020-12-19 23:21] #773 closed

[2020-12-20 18:07] dougsland commented on #993
Looks like a long time regression and still on master.  In branch 1.18 it seems works nice.

$ git branch
* release-1.18

[code]

$ git branch
* master
[code]

[2020-12-20 21:43] dougsland commented on #979
Not sure if this is real issue as this is a watching/monitoring task. The best is discuss in the SIG-CLI meeting.
@eddiezane

[2020-12-22 08:36] superbrothers commented on #725
@angadrandhawa I don't know where the binary is, but you can build from the source code:

[code]

[2020-12-23 16:06] ralsu091 commented on #991
In our CI pipeline we used to be able to run `kubectl create secret generic -n namespace mysecret --from-literal=key=secret -oyaml --dry-run=client`

This now fails with kubectl 1.19 with:
[code]

Was this a recent change?

[2020-12-24 13:29] knight42 commented on #995
/assign

[2020-12-24 14:02] knight42 commented on #993
looks like this is caused by the changes of klog https://github.com/kubernetes/klog/pull/79

It might be better to check if objects is sortable in advance rather than during sorting.

[2020-12-25 02:52] morlay commented on #569
I used this scripts to load all kube config 🤣

[code]

[2020-12-27 19:28] eranreshef commented on #754
/remove-lifecycle stale

[2020-12-28 10:25] rdxmb commented on #669
/remove-lifecycle stale

[2020-12-29 04:39] knight42 commented on #995
I have filed https://github.com/kubernetes/kubernetes/pull/97562 to implement this feature.

[2020-12-29 19:50] brianpursley commented on #994
@bbagwellffn Couple things that jump out.

First, I notice you have `--as==` (two equals) and not `--as=` (one equal).  That doesn't seem right syntactically.  Try with one equal.

Second, regarding this example you gave:
[code]

The `-n` flag requires an argument, so I think kubectl actually thinks `--as==system:serviceaccount:bbagwell:jenkins-automation` is the namespace you are asking can-i for

[2020-12-29 20:00] brianpursley commented on #993
@cig0 Is there somewhere in the docs saying that `--sort-by=status` should work?  And if so what are you expecting?  `status` is a map in the json and sort-by is a JSONPath expression:
[code]

I'm trying to understand the bug here, or are you saying that the error should be handled better?

[2020-12-31 19:48] cig0 commented on #993
Hi @brianpursley I see, I confused it's use and hence the trace I got -- thanks.

Anyway, yeah, maybe the error could be shown without the trace for a cleaner output, since it doesn't add any useful information.

Thanks everyone.

[2020-12-31 19:48] #993 closed

[2021-01-02 14:31] fwolter opened #996 "custom-columns stops abruptly when hitting a non-existent array index"
**What happened**:
When the get pods command with custom-columns option hits an array index that doesn't exist for a pod, the command is aborted:
[code]

**What you expected to happen**:
That the non-existent array element is replaced e.g. by `<none>` in the output. And that the remaining pods are printed:
[code]

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
[c

[2021-01-02 16:45] #894 closed

[2021-01-02 16:45] #897 closed

[2021-01-03 19:52] Duologic commented on #906
Hello, sorry for the delay. I surely have trouble reproducing this in an isolated way too, but I think I might have something.

The original Deployment manifest didn't have the ports 'named', we added that later. By the looks of it, that is what is causing the problem.

Version info:
[code]

The used manifest:
[code]

Screencast:
![Peek 2021-01-03 20-49](https://user-images.githubusercontent.com/3

[2021-01-04 00:07] marckhouzam commented on #613
/remove-lifecycle stale

[2021-01-04 00:09] marckhouzam commented on #613
As information, the next release of Cobra, the library beneath kubectl, will provide support for powershell completion:
https://github.com/spf13/cobra/pull/1208

[2021-01-04 07:09] bbagwellffn commented on #994
I appreciate it Brian –

I tried with a single equal sign, and sadly, no change there.  I do plan on
trying with the newer version of kube server as well, but it’ll be a bit
before I can get this one upgraded or freed up hardware to deploy to new
metal.  Such is the life of a sysadmin this time of year.

*From:* Brian Pursley <notifications@github.com>
*Sent:* Tuesday, December 29, 2020 11:50 AM
*

[2021-01-04 10:25] pacoxu commented on #994
It is similar with `can-i create pods -n xxxxx`
[code]
You can try
`kubectl auth can-i create pods -n  --as=system:serviceaccount:bbagwell:jenkins-automation --v=9`

[code]

[2021-01-04 21:37] #905 closed

[2021-01-04 21:50] sftim commented on #837
BTW I'd document this detail in https://kubernetes.io/docs/reference/using-api/api-concepts/ and have kubectl just _link_ there.

That said, if `kubectl explain list` (and also perhaps `kubectl explain watch`) could somehow let people know they are trying the wrong approach, that'd be handy.

[2021-01-04 22:02] sftim commented on #984
I'd be happy to move this issue to [k/website](https://github.com/kubernetes/website) but only a few people have access to move issues between repos.

[2021-01-04 23:56] schollii opened #997 "Binary data not shown in kubectl describe configmap"
To reproduce:

Create a config map from 2 files: one file is text, the other is a png. The text file will become a key in data field, whereas the png will become a key in binaryData field (this partially answers #20849).
Example:
[code]
The kubectl describe cm only shows data, not binaryData:
[code]

Proposed Solution:

How about I submit a PR that fixes the describe command so it shows a `binaryD

[2021-01-04 23:57] tavor opened #998 ".spec.clusterIP needs to be explicitly empty, if .spec.type = ExternalName"
**What happened**:
Ran `kubectl apply -f my-service-config.yml`.

Contents of `my-service-config.yml`:

[code]

And got:
[code]

**What you expected to happen**:
Since I didn't define a `.spec.clusterIP`, I'd expect,  in the case of `.spec.type = ExternalName`, that `.spec.clusterIP` is treated as empty.

**How to reproduce it (as minimally and precisely as possible)**:
I don't have a complete dep

[2021-01-05 06:40] kingdevnl commented on #613
That's dope.

[2021-01-05 10:19] sftim commented on #997
I suggest deleting:

from this issue. This repository is for issues about the kubectl code more than about its docs.

[2021-01-05 13:01] schollii commented on #997
@sftim deleted

[2021-01-05 15:55] soltysh commented on #958
It doesn't look like this question is related to kubectl, but rather to signal handling in go.
/close

[2021-01-05 15:55] #958 closed

[2021-01-05 16:01] soltysh commented on #965
By default `kubectl get` retrieves server-side printed information about a resource. It's a table with pre-defined columns that is then printed to stdout. When you request `-oyaml` or anything that requires more data that table contains full definition of the object.

[2021-01-05 16:49] soltysh commented on #976
Both finalizers and UID are considered technical fields which we don't expect to show in the `kubectl describe` output. If you need them you're free to use yaml or json output and parse it as necessary.

[2021-01-06 03:53] g0dA commented on #958
No, later investigation found that the problem was in this place
[pkg/util/interrupt/interrupt.go](https://github.com/kubernetes/kubectl/blob/master/pkg/util/interrupt/interrupt.go#L28)
Will handle these signals by default

[2021-01-06 07:31] zackzhangkai commented on #998
There is no problem in my system.

[code]

[2021-01-06 12:44] mfojtik opened #999 "The --local flag require valid kubeconfig to be present"
**What happened**:

I'm trying to use `kubectl` to add label to local YAML manifests, howerver I found that you have to specify a kubeconfig even when you use the `--local` flag which should prevent `kubectl` talk to remote server.
As a workaround, one can set `KUBERNETES_MASTER=localhost`  and the command will work, but it is ugly and require env var that is here since stone age.

**What you expe

[2021-01-06 12:44] mfojtik commented on #999
/assign @soltysh

[2021-01-06 16:20] tavor commented on #998
I'm using Docker Desktop on Mac and looks like `1.19.3` is bundled without the ability to upgrade. Looks like `1.19.4` fixed this issue.

[2021-01-06 16:20] #998 closed

[2021-01-06 17:08] eddiezane commented on #962
/assign @KnicKnic

[2021-01-06 17:15] eddiezane commented on #991
@apelisse any thoughts here?

[2021-01-06 17:24] apelisse commented on #991
sent, without sending it."

That applies to the `apply` part, not the the validation part unfortunately.
We need to get the OpenAPI/type information from somewhere to validate.

The typical solution for CI is to download a copy of the OpenAPI somewhere and use kubeval
to validate the manifests.

I don't know if there is anything we can do here beyond clarifying the documentation.

[2021-01-06 17:25] seans3 commented on #991
The validation schema may not be downloaded from the cluster. So a connection may be needed to download this schema so validation can proceed. In order for this to happen exclusively locally, we have to be able to know for sure the schema has already been downloaded.

[2021-01-06 17:26] apelisse commented on #991
[code]

This is odd and sounds like a bug, aren't we supposed to use a default "localhost:8080" when no config is specified?

[2021-01-06 17:29] eddiezane commented on #997
@schollii Would be happy to have you work on this!

/triage accepted
/priority backlog

[2021-01-06 17:29] eddiezane commented on #996
/triage accepted
/priority backlog

[2021-01-06 17:30] eddiezane commented on #996
/assign @dougsland

[2021-01-06 17:30] sallyom commented on #943
I should finally have time to look at this, will report back

[2021-01-06 17:44] realnikhilkumar opened #1000 "kubectl Unable to connect to the server Azure Kubernetes Service"
Hi,

I am getting below error when using kubectl with MS AKS. I had followed all Microsoft documentation and Kubernetes documentation.

kubectl get nodes
Unable to connect to the server: x509: certificate signed by unknown authority

Azure CLI 2.17.1

Please see below output for aks cli install

PS C:\Users\nikhil.kumar1\.kube> az aks install-cli
Downloading client to "C:\Users\nikhil.kumar1\.azur

[2021-01-06 17:58] rothgar commented on #950
I would love to see something like this for the same reason. I've seen a couple ways to solve this problem outside of `kubectl` but would love something a bit more integrated.

Some things I've seen/done in the past

- If systems are managed centrally you can use a package (via brew, apt, etc) to install a config file on the system (e.g. /etc/kuberentes/config)
- If you have shared drives or nfs h

[2021-01-06 18:07] dougsland commented on #975
no response, closing this one for now. Feel free to re-open in case you still think this report is valid.
/close

[2021-01-06 18:07] #975 closed

[2021-01-06 18:48] yannh commented on #991
@apelisse I understand, it was not clear to me that kubectl was downloading the OpenAPI Schema from the cluster for validation. I maintain kubeconform, a kubeval-like validator, which is why I am interested in kubectl validation capabilities.

Kubeval requires to convert the OpenAPI spec into JSONSchemas first - it would be interesting if that step could be skipped, since it requires regular maint

[2021-01-06 18:52] seans3 commented on #991
@ralsu091 The issue you are describing is different than the initial issue. Please open a different issue to address your concern.

/close

[2021-01-06 18:52] #991 closed

[2021-01-06 18:55] Clivern commented on #1000
@realnikhilkumar i think this might help to #823

[2021-01-07 00:52] dougsland commented on #996
Hi @fwolter , I cannot reproduce the report in my env. Could you please provide more details how to reproduce it?

[2021-01-07 01:47] dougsland commented on #937
patch is merged, thanks for the report.
/close

[2021-01-07 01:47] #937 closed

[2021-01-07 18:35] fwolter commented on #996
Basically you can reproduce it with any cluster that contains at least one pod in the default namespace by specifying an array index which surely doesn't exist:
[code]

[2021-01-07 21:45] brianpursley commented on #962
@KnicKnic Can you provide a more specific example of the use case where this is a problem?  Preferably with some specific kubectl commands to demonstrate the problem.

[2021-01-07 22:18] realnikhilkumar commented on #1000
Hi,

In my case this error was very misleading. It has nothing to do with actual certificate. Microsoft should have done better job in documentation at their end. The error given is incorrect. Error should actually inform user about not have proper runtime setup. AKS is expecting that the user is using a UNIX/Linux terminal not default Azure-CLI. AKS is expecting user to use AKS CLI from a UNIX/Li

[2021-01-07 22:18] #1000 closed

[2021-01-08 00:20] KnicKnic commented on #962
## Generic problem
@brianpursley The current wait functionality does not work in any condition in which a CRD needs to reset a condition upon update of the spec.

# Specific Example
## Background
I will invent a trivial CRD, that takes a container image, and has a condition whether or not that image is running Healthy.
[code]

## User Actions
The goal for us is to
1. update the image
    1.  by se

[2021-01-08 15:45] embano1 opened #1001 "kubectl LIST not always sets resourceVersion on LIST metadata"
**What happened**:

`kubectl` does not reliably set the returned `resourceVersion` in the LIST metadata.

LIST output:

[code]

LIST with watch output:

[code]

[code]

**What you expected to happen**:

`kubectl` should always set `resourceVersion` on the LIST metadata field.

**How to reproduce it (as minimally and precisely as possible)**:

See steps above

**Anything else we need to know?**:
Tr

[2021-01-09 14:53] hrishin opened #1002 "Add endpoint count in kubectl get svc"
**What would you like to be added**:
In the `kubectl get svc` add an endpoint count column by default. It may be fine to add it as part of `-o wide` option.
[code]

**Why is this needed**:
Often a time working with `service` the important information is required is `endpoints` a `service` pointing to. Especially in the troubleshooting scenarios to get the overview of `services`.

[2021-01-10 02:27] dougsland commented on #996
oh sure, reproduced, thanks!

[2021-01-10 17:33] tace commented on #603
Windows 10 1809 and WSL1, most of krew calls I get "cannot allocate memory". I'm using ConEmu terminal.

[2021-01-11 13:48] azarezade opened #1004 "Error while proxying request: context canceled"
**What happened**:
Deployed  Kubernetes on bare-metal Ubuntu server 20.04 using microk8s and after deploying a test app, and installing and configuring dashboard add-on it seemed that all pods was deploying fine. Then I tried to connect to dashboard from outside. I can see the normal dashboard in some rare cases (second picture), but it then quickly switch to erroneous state (first picture) and re

[2021-01-11 15:41] Markus-ipse commented on #891
I don't think this issue is stale or rotten, it's just a lack of updates.

[2021-01-11 21:51] seans3 commented on #685
/remove-lifecycle stale
/lifecycle frozen

[2021-01-12 03:44] dty1er opened #1005 "Resource Quota section in kubectl describe namespace has invalid indentation"
**What happened**:

`Resource Quotas` section in the output of `kubectl describe namespaces` has invalid indentation.
It has only 1 space at the head.

<img width="368" alt="スクリーンショット 2021-01-12 123708" src="https://user-images.githubusercontent.com/60682957/104266458-ff6b0080-54d2-11eb-96e6-f8fdeb12d4d2.png">

**What you expected to happen**:

2 spaces should be located.

**How to reproduce it (a

[2021-01-12 04:15] dty1er commented on #1005
I quickly created a PR to fix this.
https://github.com/kubernetes/kubernetes/pull/97946

[2021-01-12 11:14] tnozicka commented on #909
This is still needed. I run into this yesterday when I wanted to clear conditions with a patch for all instances of my CRD.

/reopen
/sig cli

[2021-01-12 11:16] tnozicka commented on #909
/remove-lifecycle rotten

[2021-01-13 18:13] pwittrock commented on #950
Would an exec plugin mechanism be a better approach to enable integration with arbitrary systems?

[2021-01-14 00:45] rothgar commented on #950
I've played with plugins for this and they end up being essentially the same as a wrapper but harder to use.

You'd have to call the plugin with something like

[code]
and the pluging effectively would be
[code]

The only benefit I've seen is you can use `krew` to update your plugin if you don't want to use something like `brew`

You can of course make it easier with `alias kubectl="kubectl plugin

[2021-01-14 17:11] miton18 commented on #524
Any KEP in progress ? :-)

[2021-01-15 16:32] dougsland commented on #943
Hi Sally,

Just faced this one recently. Here some thoughts, hope it helps. :)

Having --name as required argument now would break scripts/tools but IMO is the best option for a long term solution (see below).

Based on above, I would be in favor to have a message to users (for now) informing that --name is available and ask them to update the command line arguments/scripts/tools. At the same time

[2021-01-15 21:47] sallyom commented on #943
thanks for your input, @dougsland! See, the name is already set as "required" with kubectl run:
https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/run/run.go#L266-#L268
However, the cmd gets confused only when you pass a --command.
With this cmd, you get the proper error:
[code]
But with this cmd you get a pod created stuck with Status `CreateContainerError` and with the name pod/sleep:
[co

[2021-01-15 21:51] dougsland commented on #943
Hey @sallyom,

I believe that's not enough for a validation. :(

Agreed. I noticed the same.

Sure thing! Thanks!

[2021-01-16 00:16] dougsland commented on #524
/cc dougsland

[2021-01-17 23:56] drpaneas opened #1006 "namespace is ignored when --dry-run=client -o yaml"
**What happened**:

[code]

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Funny thing: without `-o yaml --dry-run=client` it does the expected thing.

[code]

**Anything else we need to know?**:

No

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):

[code]

- Cloud provider or hardware c

[2021-01-18 03:32] dty1er commented on #524
Sorry for the delay of my work.
It is not forgotten but I'm just getting busy for my work :(

[2021-01-18 05:13] dty1er commented on #1006
I tried this but it was not reproduced. The difference looks like the kubectl version. What if you upgrade your kubectl to the latest then try again?

[code]

[2021-01-18 13:39] armingerten commented on #937
There is still a small gap: When using GNU diffutils, some commands (e.g. `--color[=WHEN]`) require an equal sign, which is excluded by the specified regex (`^[a-zA-Z0-9-]+$`)

[2021-01-18 13:40] armingerten opened #1007 "KUBECTL_EXTERNAL_DIFF does not allow parameters with equal sign to be applied"
Unfortunately there is still a small gap with `KUBECTL_EXTERNAL_DIFF`: When using GNU diffutils, some commands (e.g. `--color[=WHEN]`) require an equal sign, which is excluded by the specified regex (`^[a-zA-Z0-9-]+$`)

_See also https://github.com/kubernetes/kubectl/issues/937#issuecomment-703380916_

[2021-01-18 13:43] dougsland commented on #1007
/assign

[2021-01-18 15:15] drpaneas commented on #1006
I confirm this is not a bug after all. If I use the same server version with my client there it works.
Sorry for the noise.

[2021-01-18 15:15] #1006 closed

[2021-01-18 17:01] arbourd commented on #576
/remove-lifecycle stale

[2021-01-18 17:02] AlekSi commented on #576
/remove-lifecycle stale

[2021-01-18 17:18] marckhouzam commented on #576
For full fish shell completion support, we need to move to go custom completions, which is done in https://github.com/kubernetes/kubernetes/pull/96087.  Hopefully that PR can get merged eventually.

[2021-01-19 00:47] dougsland commented on #1007
/triage accepted
/priority backlog
/kind bug

[2021-01-19 00:47] dougsland commented on #1007
/sig cli

[2021-01-19 05:26] dougsland commented on #1005
/triage accepted
/priority backlog

[2021-01-19 18:30] seans3 commented on #797
/remove-lifecycle stale
/lifecycle frozen

[2021-01-19 18:46] dougsland commented on #943
/cc @rikatz

[2021-01-19 21:14] #1005 closed

[2021-01-20 08:53] makotom opened #1008 "`kubectl logs` cannot show all log entries if label selector is used"
**What happened**:

`kubectl logs -l some=labels --tail=-1` showed only 10 lines of logs.

**What you expected to happen**:

It should show all the log entries that satisfies the selector condition.

**How to reproduce it (as minimally and precisely as possible)**:

Run `kubectl logs -l some=labels --tail=-1` (replace the selector accordingly).

**Anything else we need to know?**:

[It is coded so

[2021-01-20 09:42] makotom commented on #1008
Apologies, please ignore this. I eventually realized that I was using an incorrect binary when I test this. 😭

[2021-01-20 09:42] #1008 closed

[2021-01-20 13:04] xcq1 commented on #690
/remove-lifecycle stale
Any progress with this?
Just encountered this issue with PrometheusRules CRDs in kubectl 1.18.10.

[2021-01-20 18:06] dougsland commented on #1007
Patch merged on master, thanks for your report.
/close

[2021-01-20 18:07] #1007 closed

[2021-01-20 19:39] subodh-dharma opened #1009 "Wrong binary is downloaded for kubectl v1.17.15"
**What happened**:

Download kubectl binary from https://dl.k8s.io/release/v1.17.15/bin/linux/amd64/kubectl results in downloading kubectl for version 1.17.16-rc.0

**What you expected to happen**:

Expect to get kubectl binary for v1.17.15

**How to reproduce it (as minimally and precisely as possible)**:

Download the binary from https://dl.k8s.io/release/v1.17.15/bin/linux/amd64/kubectl

[code]

[2021-01-20 20:01] dougsland commented on #1009
Indeed. I am not familiar how to fix the download/release area. @brianpursley  @eddiezane @pwittrock  might be familiar.
/triagge accept

[2021-01-20 20:21] rikatz commented on #1009
/close

Duplicate of https://github.com/kubernetes/kubernetes/issues/97241 :)

[2021-01-20 20:21] #1009 closed

[2021-01-21 09:03] dty1er commented on #685
Agreed on this issue. I actually developed a kubectl plugin for this purpose, (https://github.com/dty1er/kubectl-skew), but it would be much better if it is integrated in kubectl core.

[2021-01-21 14:46] soltysh commented on #914
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-21 15:16] soltysh commented on #999
This is already being discussed in https://github.com/kubernetes/kubernetes/issues/93188
/close

[2021-01-21 15:16] #999 closed

[2021-01-22 01:05] dougsland commented on #982
@bboreham the patch https://github.com/kubernetes/kubernetes/pull/96812 is merged. Can we close this one?

[2021-01-22 01:05] dougsland commented on #982
/cc

[2021-01-22 01:17] dougsland commented on #982
My main concern is, changing behavior as a library, might break users out there. Let me know your thoughts @bboreham

[2021-01-22 07:09] bboreham commented on #982
My thoughts are the current behaviour is broken.

Changing to a pointer will silently fix anyone who didn’t realise, and give a small roadbump to those who did.

[2021-01-22 14:12] dougsland commented on #982
let me take a deep look in this one.
/assign

[2021-01-22 15:34] zackzhangkai opened #1010 "Feat: Support show annotations"
**What would you like to be added**:

support `kubectl get pod/depoloyment/svc xxx --show-annotations`

**Why is this needed**:

Now, we have `kubectl get pod --show-labels`. I think the annotations should also be supported to get directly by `kubectl`.

[2021-01-22 15:56] bboreham commented on #982
Example where I had to fix this: https://github.com/weaveworks/kured/pull/237

[2021-01-22 17:26] thomas-riccardi commented on #890
/remove-lifecycle rotten

[2021-01-23 11:25] zackzhangkai commented on #1010
/triage accepted

[2021-01-24 01:04] Nuru opened #1011 "Feature Request: detach-keys option/setting for pod terminal"
_This is a revival of #693 which was sort of duplicated by #878 but both went stale before being addressed. #878 labeled this behavior a bug and put it on the backlog. I consider it a feature request, but am happy to let SIGCLI decide._

`kubectl run -it`, `kubectl exec -it`, and `kubectl attach -it` connect to a Docker container in a manner parallel to `docker run -it` and `docker attach`. All th

[2021-01-24 14:22] azarezade commented on #1004
It seems the issue was related to my cluster configuration. After reseting kubeadm and installing again it resolved!

[2021-01-24 14:22] #1004 closed

[2021-01-24 15:15] rikatz opened #1012 "[WIP] Document how to migrate all the descriptions and helpers to i18n.T and raise a first good issue later"
This is an umbrella issue to migrate all the descriptions and helpers from all the commands to use i18n.T + ensure that future commands and changes gets the proper translations.

* We need to figure out all the parts of kubectl that uses 'translatable' strings and are not using i18n.T strings
* We need to figure out all the parts that already have i18n.T strings but miss parts on other translation

[2021-01-24 15:15] rikatz commented on #1012
/assign @rikatz

[2021-01-24 16:07] rikatz commented on #910
xref: https://github.com/kubernetes/kubernetes/pull/97610

[2021-01-24 16:08] rikatz commented on #1012
xref: https://github.com/kubernetes/kubernetes/pull/97610

[2021-01-25 10:36] #922 closed

[2021-01-26 15:49] kofan opened #1013 "Kubectl 'client' and 'server' validations work differently for env variable value format"
**What happened**:

I have the following Pod template defined:

[code]

---

Now, when I run the client validation

[code]
it succeeds:
[code]

---

However, when I run the server validation

[code]
it fails:
[code]

In other words, the server detects the fact that the value `1` should be quoted, while the client does not see the issue.

---

**What you expected to happen**:

The client validation

[2021-01-27 18:32] dougsland commented on #1012
/cc

[2021-01-30 20:46] dougsland commented on #994
/cc

[2021-02-01 07:21] O-ll-O commented on #221
I encountered the same bug, is it a bug?has it been fixed?

[2021-02-01 17:42] MartinX3 commented on #454
/remove stale

[2021-02-01 17:42] MartinX3 commented on #454
/remove-lifecycle stale

[2021-02-01 19:05] lindhe commented on #454
/remove-lifecycle stale

[2021-02-01 23:19] jamylak commented on #407
I had to do the following, I just replaced with `foo` cause I was a bit frustrated

in this file
[code]

[code]

Change

[code]

->

[code]

then

[code]

then start new shell

[2021-02-02 02:52] tarunkhannan commented on #221
Check for indentations too. In my case its the issue :p

[2021-02-02 12:24] Duncan-tree-zhou opened #1014 ""kubectl set env resource/name key=value" did not support keys with dot in it."
**What happened**:

when I use `kubectl set env deployment/app test.on=true`, an error was thorw : `error: environment variables must be of the form key=value and can only contain letters, numbers, and underscores`

while I can use `kubectl edit deployment app` to add `test.on=true` in app deployment as env var.

**What you expected to happen**:

i think it is supposed to be supported to set an en

[2021-02-02 12:26] Duncan-tree-zhou commented on #1014
my kubectl version is v1.18.4

[2021-02-02 15:57] ameukam commented on #988
In progess: https://github.com/kubernetes/kubernetes/pull/97743

[2021-02-02 20:42] meier-christoph opened #1015 "kubectl diff: external command doesn't support sub commands"
**What happened**:

The way kubectl handles args defined with a custom diff command (via KUBECTL_EXTERNAL_DIFF) prevents usage of sub commands e.g. `KUBECTL_EXTERNAL_DIFF=kubectl-neat diff` would not work because diff is appended at the end resulting in the final command being `kubectl-neat {from} {to} diff`.

**What you expected to happen**:

The command executed should be `kubectl-neat diff {fro

[2021-02-03 07:31] cassador commented on #454
Any update or workaround on this?
I saw the mentioned workaround but i don't think they could be used in our configuraiton.
We are running it on EKS cluster with SSH disabled so i can't use that one with where the pods data are being stored by default on runtime,

[2021-02-03 17:19] eddiezane commented on #965
/triage accepted
/priority backlog
/help
/good-first-issue

@lbernail were you still interested in working on this?

[2021-02-03 17:22] eddiezane commented on #994
Let's reopen this if the suggestions don't work. Please check the verbosity output for the namespace being populated.

/close

[2021-02-03 17:22] #994 closed

[2021-02-03 17:23] eddiezane commented on #1001
@soltysh

[2021-02-03 17:25] eddiezane commented on #1002
/priority backlog
/triage accepted
/help
/good-first-issue

This change will need to be done server side.

[2021-02-03 17:32] eddiezane commented on #1015
/assign @dougsland

[2021-02-03 17:34] eddiezane commented on #1014
/triage accepted
/priority backlog
/help
/good-first-issue

[2021-02-03 17:37] eddiezane commented on #1010
@soltysh to take a look about current implementation.

[2021-02-03 17:44] lauchokyip commented on #1014
/assign

[2021-02-03 18:26] eddiezane commented on #1011
Sorry this keeps getting closed. We will certainly accept a PR on this if anyone wants to pick it up.

/triage accepted
/priority backlog
/help

cc @her

[2021-02-03 18:27] eddiezane commented on #1011
/lifecycle frozen

[2021-02-03 18:29] eddiezane commented on #1013
This may already be tracked in a few places.

Difference is that server uses a Go struct and kubectl uses the OpenAPI schema that is published per resource.

I think the action is to switch to a vendored api?

/assign @soltysh

cc @apelisse

[2021-02-03 18:33] eddiezane commented on #950
We talked about this a few times and ultimately decided not to do this. Concerns of security and being too specific were raised.

If there is enough interest in the future we might be open to making it simpler to allow users to populate the data from another mechanism like an env string. Base64 has been requested before as well.

/close

[2021-02-03 18:33] #950 closed

[2021-02-03 18:35] eddiezane commented on #963
We discussed this a few times and decided it will be good to have an output in the future that is machine parsable.

The first step here is to identify if anyone wants this enough to work on it for 9 months+. If so we want to enable you to do so. Will need a KEP, etc.

[2021-02-03 20:33] BLasan commented on #1002
Can I work on this? I'm bit new to the community

[2021-02-03 20:42] #962 closed

[2021-02-03 23:12] modevops opened #1016 "kubectl apply -k unknown shorthand flag: 'k' in -k"
**What happened**:
 kubectl apply -k "github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=master"
Error: unknown shorthand flag: 'k' in -k
**What you expected to happen**:

apply the crds
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
kubect

[2021-02-03 23:20] apelisse commented on #1013
Nooooooooo :-)

We have server-side validation and client-side validation. I'm much more concerned about things that are rejected client-side and accepted server-side than the opposite. The server should be authoritative. There are a few projects that we're interested in doing to improve client-side (and server-side) validation, including: validation ratcheting (to fix invalid server-side validati

[2021-02-04 02:32] lauchokyip commented on #1002
yea @BLasan go ahead  👍🏼  , just type `/assign` to assign it to you

[2021-02-04 03:15] dty1er commented on #1016
@modevops

Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean", BuildDate:"2020-10-20T22:18:07Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

Your kubectl version seems too old. 1.12.0 is currently not supported. Install the latest and try again. ref https://kubernetes.io

[2021-02-04 04:19] BLasan commented on #1002
/assign

[2021-02-04 06:57] pattnaik-soumitri opened #1018 "`kubectl config set-context --current --namespace=abc` fails saying `Error: unknown flag: --current`"
**What happened**:
Permanently saving the namespace for all subsequent kubectl commands in the current context fails in windows but works on Mac. The command is documented [here](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-context-and-configuration).

**Command**
[code]
**Output**
[code]

**What you expected to happen**:
It should set the namespace to `abc` in the current cont

[2021-02-04 07:07] dty1er commented on #1018
I did not check deeply but seems like kubectl version 1.11.2 is too old and unsupported. (current latest is 1.20.2)
What if you update kubectl to the latest and try again?

[2021-02-04 07:37] pattnaik-soumitri commented on #1018
I just installed kubcetl version 1.20.2 as you mentioned, and it works in that. Thanks!
**How do I know in which version this got fixed?**

I will close the issue.

[2021-02-04 08:08] pattnaik-soumitri commented on #1018
Closing the issue as it not present in the latest version of kubectl.

[2021-02-04 08:08] #1018 closed

[2021-02-04 14:12] soltysh commented on #1001
`kubectl` uses `List` as a container for resources retrieved from the server. Since every resource has its own specific List type, eg. `PodList` we can't put multiple different types into those, and `kubectl` allows you to request several different resources at once. We have an open issue here https://github.com/kubernetes/kubectl/issues/984 which asks for documenting the `List` type being used in

[2021-02-04 14:12] #1001 closed

[2021-02-04 15:37] rudeigerc commented on #965
Hi, may I have a try?

[2021-02-04 23:50] marckhouzam commented on #882
/remove-lifecycle stale

[2021-02-05 13:23] kofan commented on #1013
Yes, it is totally fine and reasonable that the server throws a validation error that the client could not detect. Like, for example, duplicated resource names, or modification of immutable fields.
However, validating the format of environment variable values looks like a simple task that the client can do without a problem...

[2021-02-06 05:50] BLasan commented on #1002
Would you mind helping me to fix this issue? How to test these commands separately? Just running `go test` command?

[2021-02-06 16:17] lauchokyip commented on #1002
@BLasan I just started contributing a month ago but the main code for `kubectl` sits here
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl

[2021-02-06 16:28] BLasan commented on #1002
Thanks a lot :)

[2021-02-07 13:29] mcouthon commented on #738
I definitely think this should be reopened. Is there a workaround using `kubectl wait`, perhaps?

[2021-02-07 14:20] lauchokyip commented on #965
@rudeigerc , yea go ahead, type `/assign` so k8s-ci-robot will assign you

[2021-02-07 14:25] rudeigerc commented on #965
@lauchokyip Thanks a lot! 😃

/assign

[2021-02-07 19:22] marwenbk commented on #587
this issue randomly occur on microk8s dahboard-proxy , restarting the server may solve it

[2021-02-08 06:36] rudeigerc commented on #965
I think that I could follow https://github.com/kubernetes/kubectl/issues/965#issuecomment-718070378 to make some updates.

My question is should `--resource-version` only be imported when `--watch` is active, or should it be imported to the whole `kubectl get`? (Since when the resource version is specified, it is handled in `func (o *GetOptions) watch(f cmdutil.Factory, cmd *cobra.Command, args []

[2021-02-08 15:50] logicalhan commented on #965
It should be exposed to `kubectl get` in general. It basically enables stale reads at exact timestamps, we'd likely want this for both list and individual object get operations.

[2021-02-08 16:26] eddiezane commented on #1016
Please reopen if you still encounter this using a supported version.

/close

[2021-02-08 16:26] #1016 closed

[2021-02-08 16:39] thockin commented on #798
Think of this as read-modify-write - it's not an uncommon pattern.

This is not impossible, but it turns PUT into PATCH.  We have distinct PATCH operations for a reason, and that is almost certainly what you want in this caser (`kubectl apply` should "just work").  Is there a reason why you can't use PATCH or apply?

We don't really want to hand-roll client side changes for this.  Then we'd need t

[2021-02-08 16:54] thockin commented on #798
/assign

[2021-02-08 18:10] rudeigerc commented on #965
@logicalhan Got it. Thanks. 😃

[2021-02-08 19:02] apelisse commented on #1013
Yeah, I agree with that, I don't have a lot of time to look into the specific details, but I'm happy to help someone get started and move forward with that issue if there's interest.

[2021-02-08 20:04] dougsland commented on #979
This issue has been discussed in the SIG-CLI meeting and agreed that the current behavior is working as expected.
I am closing this issue for now, feel free to re-open this issue and join the SIG CLI meetings to raise your point of view with us.

More info about the meeting:
https://github.com/kubernetes/community/tree/master/sig-cli

/close

[2021-02-08 20:04] #979 closed

[2021-02-09 03:20] pbecotte commented on #798
All three of those options seem like workarounds, with semantic problems as you mention. But they miss the point... PUT shouldn't depend on the status of what's currently in the slot. I would have expected PUT to work by removing the existing thing and then sticking a new one in it's place. Thats the whole point of using an option like "replace" instead of "apply". Are any other fields preserved f

[2021-02-09 04:23] thockin commented on #798
We opted (rightly or wrongly) to NOT do an IP reallocation when someone
writes "" via PUT.  Everyone agreed that was almost certainly not what a
user intended.

The bug here, if there is one, is that "" was accepted at all.

On Mon, Feb 8, 2021, 7:20 PM Paul Becotte <notifications@github.com> wrote:

[2021-02-09 06:08] dty1er commented on #669
I made a PR for this issue referring to @rdxmb 's PR  (thank you for your great work).
https://github.com/kubernetes/kubernetes/pull/98904

It seems like the original PR needed some additional changes, so I applied them.
My PR looks containing a lot of file changes, but the reason is written in `Special notes for your reviewer:` part in the PR description.
I want you guys to help review 🙏

[2021-02-09 13:27] FalcoSuessgott commented on #1010
I studied the implementation of printing out `kubectl get pods --show-labels` and I would like to give it a try with `--show-annotations`.

May I?

[2021-02-09 15:31] FalcoSuessgott commented on #1010
/assign

[2021-02-09 17:24] skuxy opened #1019 "sort-by not sorting as expected"
**What happened**: When using sort-by on certain fields, output is sorted unexpectedly

**What you expected to happen**: Proper numerical sort on resource request fields

**How to reproduce it (as minimally and precisely as possible)**:

On `kubectl get pods -A  -o=custom-columns='CPU:.spec.containers[*].resources.requests.cpu,MEM:.spec.containers[*].resources.requests.memory,NAME:.metadata.name'

[2021-02-09 18:38] howardjohn commented on #517
/remove-lifecycle stale

Ping

[2021-02-10 07:31] lucasyarza opened #1020 "kubectl is really slow on MacOS BigSur"
**What happened**:
In MacOS BigSur the kubectl commands are very slow most of the time. For example, if you run `kubectl get pods` it takes at least 46 seconds.

**What you expected to happen**:
In previous versions it only took about 10 seconds.

**How to reproduce it (as minimally and precisely as possible)**:

On MacOS BigSur execute `kubectl get pods`

**Anything else we need to know?**:
It ha

[2021-02-10 11:15] verb commented on #939
Ah, I lost track of this because it's in a different repo. We ended up performing the `kubectl alpha debug` -> `kubectl debug` rename with warnings in the release notes, so it's not relevant to this particular example. As far as I know there are no other upcoming name collisions.

I agree with wanting to avoid a path scan for every subcommand, some I'm not sure where to go with this. My only idea

[2021-02-10 15:52] skuxy commented on #1019
Please note: I am quite aware this is same behaviour I'd get by using `sort` on a particular column, but that is exactly why I didn't want to use that command in this case :)

[2021-02-10 15:59] #891 closed

[2021-02-10 17:56] soltysh commented on #1010
I'm not convinced of the value of adding yet another flag to `kubectl get`. We already have a problem with too many flags per each command which makes it very hard for new-comers and even old-timers to graps all of them. This in particular brings the additional complexity which comes from where the implementation would reside, and that's inside a shared library.

[2021-02-10 18:15] shreyas-badiger opened #1021 ""kubectl drain" using golang's RunNodeDrain function."
Hello,
I have a question regarding the RunNodeDrain function from the[ golang's drain package.](https://pkg.go.dev/k8s.io/kubectl/pkg/drain#RunNodeDrain)
I followed a similar implementation as it is implemented in [kops](https://github.com/kubernetes/kubectl/blob/f22a5a4e3daf0f03bad7ee500496fceddca77d6b/pkg/drain/default.go#L33).
However, the node gets cordoned successfully but the nodes are not d

[2021-02-10 19:14] shreyas-badiger commented on #1021
I figured it out. I was passing `instanceID` for `nodeName`, whereas I should have passed `node.Name`
But the question remains for why `RunNodeDrain()` didn't return error when I called the drain on an invalid name.
I see the error when I pass an instanceID for `kubectl drain `command on cli

[code]

[2021-02-10 19:14] #1021 closed

[2021-02-11 14:17] FalcoSuessgott commented on #1010
Hi @soltysh,

I now got a tested and working version of displaying the annotations, the code is quite redundant but I faced 2 issues as I will explain later:

[code]

As you said, it easily gets too complex:

1. the `LABELS` column is implemented as always the last column, because the labels are usually the longest, now with the `ANNOTATIONS` column we would have to find a way how to display the i

[2021-02-12 02:23] oblogic7 commented on #858
/remove-lifecycle rotten

[2021-02-12 02:24] oblogic7 commented on #858
I have a use case where I need to wait for a collection of rollouts where the manifests are generated through kustomize.  Would be very nice if the wait command supported such a use case.

[2021-02-12 09:02] eddiezane commented on #939
This is probably safe to close. Completely agree on the path scanning and it sounds like the warnings about choosing names are documented and y'all are proactive about accepting.

Thanks for taking a look!

/close

[2021-02-12 09:02] #939 closed

[2021-02-12 13:27] stavalfi opened #1022 "How does kubectl finds the latest replicaset of a deployment?"
Is this a bug here?

this function is used to show the replicaset history of a deployment and to show the latest replicaset as the first one in the list:
https://github.com/kubernetes/kubectl/blob/aaaf1de578d4776237970e1e6faae41f3bb8993d/pkg/util/deployment/deployment.go
[code]

I'm probably wrong but does findNewReplicaSet basically search for a replicateset with same image-name as the deployment

[2021-02-12 19:02] eddiezane commented on #980
/remove-lifecycle stale

[2021-02-13 18:11] #915 closed

[2021-02-14 20:56] brianpursley commented on #665
@soltysh are you thinking this would be a new `—for=create` option that works similar to how it waits for deletion, but instead waits for the resource to exist (without consideration for its status)?

[2021-02-15 05:22] MaisaDaoud commented on #797
kubectl apply -k doesnt work with kustomization.yaml with  generators and transformers. Any help

[2021-02-15 05:45] MaisaDaoud commented on #797
update: the built in kustomize doesn't work with generators and transfomers plugins (as per mentioned in one of the open questions). The best place to install kustomize and set the path in azure is https://www.kubeflow.org/docs/other-guides/kustomize/ ... solved my issue. thanks

[2021-02-15 06:53] KrisJohnstone commented on #797
RE: Version Upgrade for those whom stumble across this:
https://github.com/kubernetes/kubernetes/pull/98946

[2021-02-16 01:04] raravena80 commented on #537
/remove-lifecycle stale

[2021-02-16 01:20] eddiezane commented on #537
Really want to try and tackle this one this year. There's going to be an increased need for user defined defaults.

cc @dougsland

/lifecycle frozen
/remove-priority P2
/priority backlog

[2021-02-16 02:01] eddiezane commented on #1022
I was curious on the internals here and fell down the rabbit hole. Turns out ReplicaSets are actually reused if one matching the current Deployment PodSpec still exists (say you switch a deployment back to the previous image).

Check out this code from the deployment controller.

https://github.com/kubernetes/kubernetes/blob/9e5fcc49ec568f222a5274f443903d89fec3e591/pkg/controller/deployment/recrea

[2021-02-16 02:01] #1022 closed

[2021-02-16 11:32] BLasan commented on #1002
The output template was found inside the go_test.go file. Should I start from there by adding the new field? @hrishin

[2021-02-17 03:49] dougsland commented on #537
Nice @eddiezane - Sounds a good plan.

[2021-02-17 09:01] hrishin commented on #1002
hi @BLasan , I'm sorry to say I've never delved into the kubectl source much. However, I can try to help with some leisure time.
IMO `go_test.go` sounds like the test code. Looking at the glance one can look into
get command -> https://github.com/kubernetes/kubectl/tree/master/pkg/cmd/get
printers -> https://github.com/kubernetes/cli-runtime/tree/master/pkg/printers
or
nice to check if there is a

[2021-02-17 09:26] BLasan commented on #1002
yuh, get_test.go is for the testing purposes. I checked the get.go file but was not able to find the relevant implementation. Thanks for the resources :)

[2021-02-17 13:45] andras-gerendas commented on #969
/remove-lifecycle stale

[2021-02-17 20:13] szpak commented on #450
It would still be nice to have it possible without any "templating magic".

/remove-lifecycle rotten

[2021-02-17 23:25] dougsland commented on #537
/assign @eddiezane
/cc @dougsland

[2021-02-18 04:19] dougsland commented on #1020
Hi @lucasyarza I don't have MacOS BigSur here but I have few questions:

[code]
Is it only with kubectl get pods command or any other command too?

[code]
You meant 1.19 and previous versions?

Any insight from:
[code]

@eddiezane

[2021-02-18 07:19] lucasyarza commented on #1020
Hi @dougsland,
_is it only with kubectl get pods command or any other command too?_
No, it is with all kubectl get <anyresource>

_You meant 1.19 and previous versions?_
I only check this on 1.19 version.

**kubectl get pods -v=9**

[code]

[2021-02-18 20:06] curusarn opened #1023 "Validate certificate format when writing it to kubeconfig"
**What would you like to be added**:
`kubectl config set-cluster <cluster> --certificate-authority=<ca.crt> --embed-certs=true` should validate that the certificate has correct format.

**Why is this needed**:
Kubectl will silently base64 encode the passed certificate even if it's already base64 encoded. This will result in a unusable config. I would expect `kubectl` to never produce a config that

[2021-02-18 20:36] eddiezane commented on #537
/assign @dougsland

[2021-02-19 06:42] BLasan commented on #1002
/assign @lauchokyip

[2021-02-19 15:18] lauchokyip commented on #1002
Thanks @BLasan will start working on it next week

[2021-02-20 00:09] marckhouzam commented on #613
Cobra 1.1.3 has been released and provides full PowerShell completion support.  Kubectl could start using it for commands and flags.

However, custom completions that are defined directly in kubectl (e.g., `kubectl get [tab]`, `kubectl describe pod [tab]`, etc) will only work for PowerShell if they are moved to Go completions which is done in kubernetes/kubernetes#96087

[2021-02-20 05:07] dougsland commented on #1015
Hi @meier-christoph,

Have you resolved this one as https://github.com/itaysk/kubectl-neat/pull/58 suggested creating a shell script?

Can we close this one?

Thanks!

[2021-02-20 14:23] serathius commented on #830
/remove-lifecycle stale
/lifecycle frozen

[2021-02-20 21:49] rikatz commented on #1002
/assign @rikatz
I'll try to guide you folks during this week, sounds good? :)

[2021-02-20 21:50] lauchokyip commented on #1002
/assign @rikatz

[2021-02-21 05:59] shanmukha511 opened #1024 "Error while executing bash script in pod location without exec in to pod via git bash"
**What happened**:
I am executing below command to execute shell script which is in pod location without exec in to pod but its trying to look the script in my local path not in pod path .

Command executing via git bash

kubectl exec -i pod-0 --namespace default -- bash /tmp/test.sh

**Error Below:**

bash: C:/Users/testuser/AppData/Local/Temp/instance_restore.sh: No such file or directory
comman

[2021-02-21 08:12] BLasan commented on #1002
That's great :)

[2021-02-21 23:24] #683 closed

[2021-02-22 10:16] meier-christoph commented on #1015
Hi,

I am not sure I would call this fixed, I still believe there is a mistake in the ordering of arguments passed to the diff command but you are right that you can overcome this by using a shell script.

In my case, @sh0rez had the same issue and he chose a more direct approach as a few days ago he created [kubectl-neat-diff](https://github.com/sh0rez/kubectl-neat-diff) which I have been using a

[2021-02-22 18:36] eddiezane commented on #1024
Your versions a pretty out of support. Please upgrade your client and try again.

https://kubernetes.io/docs/setup/release/version-skew-policy/

/close

[2021-02-22 18:36] #1024 closed

[2021-02-22 20:25] rikatz commented on #1002
OK folks, I'm wondering if this should be shown only if options wide is used. For now this is "simple" to change  but not related exactly with kubectl, but with apiserver and transpassing two objects so we need to figure out if apimachinery folks are ok with this.

So, after digging a bit (aaand greping a bit more) we can see that the file that generates the columns to be printed is this one: http

[2021-02-23 20:07] lucasyarza commented on #1020
Hi @dougsland,
Request to API goes as expected. The issue I see is from the first step (loader.go) to the second step (when cli requests API). You can see in the logs this action takes more less one minute.

Regards.

[2021-02-24 00:52] eddiezane commented on #1020
Can you please try again after removing (make a backup just in case) `~/.kube/http-cache` and `~/.kube/cache`?

How many clusters/users/etc do you have in your `~/.kube/config`?

It looks like the hang up is in the loader.

[2021-02-24 07:14] lucasyarza commented on #1020
Hi @eddiezane,

I don't have `~/.kube/http-cache`. Y try after deleting `~/.kube/cache` and `~/.kube/config`. First time it works as expected. But when I do second call again takes more than 40 seconds.

If only delete `~/.kube/cache` calls takes more than 40 seconds. I need to delete both `~/.kube/cache` and `~/.kube/config`, to make one call that takes less than 15 seconds. Other calls takes aga

[2021-02-24 07:55] lucasyarza commented on #1020
Hi,
This is the output of `kubectl get pods --v=10`

[code]

As you can see kubectl get cache 3 times from /Users/blablabla/.kube/cache/discovery/api.blablabla.com_6443/servergroups.json and takes 15 second for each.

I can see similar lines on the output like:
[code]
And it doesn't take that long.

I think is related with 114 line of cached_discovery.go

Regards.

[2021-02-25 04:06] Wolfium commented on #1024
While it was closed by old version unsupported the root cause as can see is because git_bash in windows has some weird issues handling slash starting path to handle unix posix like path and windows local paths

It is related to `/tmp/test.sh` part of your command being processed as local path by git bash.
There are 2 ways to handle it

If it just call (not part of any script to be share) you can e

[2021-02-25 09:06] aeriksson opened #1025 "Can't read certificate authority from named pipe"
It seems that kubectl can't read `--certificate-authority` from named pipes or `/dev/stdin`.

**What happened**:
[code]

**What you expected to happen**:
This should work regardless of whether kubectl is reading from a regular file, from a named pipe, or from `/dev/stdin`.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Anything else we need to know?**:
Kubectl see

[2021-02-25 14:38] rikatz commented on #1002
/remove-help
/remove-good-first-issue

So yesterday during sig-cli meeting we've figured out this issue is not as easy as it seems to be :) So we're going to discuss the best approach to this, as it demands some change on the way the API server returns the information (And IF this is possible).

I'm removing the labels for now, and will keep this open until we figure out if and how we can achieve

[2021-02-25 17:46] soltysh commented on #1002
This won't be possible, that data is connected with retrieving additional objects and we're not doing that inside any get output. `kubectl describe` provides that additional information you're requesting, though.

/close

[2021-02-25 17:46] #1002 closed

[2021-02-26 14:58] bowqtr opened #1026 "Jenkins Kubectl fails with Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy)"
**Exec Summary**

Jenkins is running in a Kubernetes cluster just upgrade to 1.19.7 but now jenkins build scripts are failing when running

    sh "kubectl --kubeconfig ${args.config} config use-context ${args.context}"

to give error

    io.fabric8.kubernetes.client.KubernetesClientException: Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy)

but what permissions or

[2021-02-27 18:39] sftim commented on #1026
@bowqtr, GitHub is not the right place for support requests.

For help, you could ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kube

[2021-02-27 18:39] sftim commented on #1026
/remove-kind bug

[2021-02-27 18:54] bowqtr commented on #1026
Understood.   As totally stuck and needing assistance trying all avenues for grateful assistance.  If anybody could help would appreciate the guidance or solution given the difficult circumstances were in.   We don’t have any k8 engineers :(

[2021-02-28 15:13] sftim commented on #1026
I feel obliged to be neutral and not recommend a specific firm, but https://landscape.cncf.io/card-mode?category=kubernetes-certified-service-provider&grouping=category _does_ include several firms that provide Kubernetes support.

[2021-02-28 15:39] bowqtr commented on #1026
`Thanks Tim; I do appreciate that, however this is a pre-revenue startup-company of one person left and limited remaining resources, beyond no engineers.   It’s been a tough year.   So unfortunately, don’t have the financial resources to engage; otherwise would have been secondary choice, after ideally would have liked to have kept the engineer, but they moved on.  So dependent on the public spiri

[2021-02-28 16:23] sftim commented on #1026
/close

Advised on support options.

[2021-02-28 16:23] #1026 closed

[2021-02-28 19:36] nikhita commented on #564
Created https://github.com/kubernetes/kubernetes/pull/99556 as a POC to get initial feedback

[2021-03-01 06:39] pacoxu commented on #830
Some links that may help

- https://github.com/kubernetes-sigs/metrics-server/issues/193#issuecomment-451309811
- https://stackoverflow.com/questions/45043489/kubernetes-understanding-memory-usage-for-kubectl-top-node

[2021-03-01 09:13] pacoxu commented on #996
I tried to fix it in https://github.com/kubernetes/kubernetes/pull/99579

[2021-03-01 12:43] wknapik commented on #557
/remove-lifecycle stale

[2021-03-02 08:58] pacoxu commented on #500
[code]

`Ports` here only means if there is TLS configurations.

- if it has TLSs, it return 80, 443
- if it doesn't has TLSs, it return 80

Most likely, port 80 for HTTP, port 443 for TLS

https://github.com/kubernetes/kubernetes/blob/release-1.20/pkg/printers/internalversion/printers.go#L1193-L1210

[2021-03-02 09:41] howardshaw commented on #965
is there any update?

[2021-03-02 16:56] aramperes opened #1027 "Support selectors (label query) in kubectl rollout restart"
**What would you like to be added**:

Adding the `-l / --selector` flag to the `kubectl rollout restart` command (and other applicable `rollout` subcommands).

**Why is this needed**:

At the moment, `kubectl rollout restart` can either
- restart all resources of a given type (e.g. `kubectl rollout restart deployment`)
- restart one resource (e.g. `kubectl rollout restart deployment/something`)

I

[2021-03-03 17:13] eddiezane commented on #1013
/triage accepted
/priority backlog

[2021-03-03 17:16] eddiezane commented on #1013
/assign @KnVerey

[2021-03-03 17:17] eddiezane commented on #963
/triage accepted
/help
/priority backlog

[2021-03-03 17:17] eddiezane commented on #1012
/triage accepted
/priority backlog

[2021-03-03 17:20] eddiezane commented on #1010
Let's sit on this one and look for community 👍 on the top level comment.

/triage needs-information
/priority awaiting-more-evidence

[2021-03-03 17:22] eddiezane commented on #1023
We can initially implement this as a warning. It will require fixing a bunch of tests to actually fail.

/triage accepted
/priority backlog
/assign

[2021-03-03 17:28] eddiezane commented on #1019
There might be a bug with custom columns. Could even be a TODO somewhere in there to fix it.

/triage accepted
/help
/priority backlog

[2021-03-03 17:34] eddiezane commented on #1025
/triage accepted
/priority backlog
/assign @dougsland

[2021-03-03 17:54] Cdower commented on #1023
I'd like to try fixing tests

[2021-03-03 21:34] eddiezane commented on #1027
/triage accepted
/priority backlog

[2021-03-04 00:41] KnVerey opened #1028 "Support --chunk-size on kubectl drain"
**What would you like to be added**:

I would like `kubectl drain` to support the `--chunk-size` flag that currently exists on `kubectl get`. If this proposal is accepted, I will submit a PR.

**Why is this needed**:

During a drain, kubectl issues a pod list request. Supporting a chunk size option that ultimately sets the `limit` parameter on this request will improve the scalability of the drain

[2021-03-04 04:50] navidshaikh commented on #1027
/assign

[2021-03-04 05:55] aramperes commented on #1027
https://github.com/kubernetes/kubernetes/pull/99758

[2021-03-04 10:26] morremeyer commented on #697
@neolit123 Bad practice or not: if we can prevent people from footgunning themselves, we should consider doing so.

[2021-03-04 14:45] lauchokyip commented on #965
@howardshaw I guess you can go ahead and give it a try

[2021-03-04 14:48] rudeigerc commented on #965
@howardshaw Sorry I ran out of time recently, please go ahead if you would like to.

[2021-03-04 15:14] soltysh commented on #1028
/triage accepted
/assign @KnVerey
cc @michaelgugino since you played with drain code

[2021-03-04 16:34] michaelgugino commented on #1028
Rather than get the request in chunks (which would require server side buffering as it takes a snapshot of the pods), we could retrieve the entire list (as we do today) and break that list into smaller chunks.  The bulk of the API calls are after the initial list action, so all of the gets and eviction requests when we're attempting to operate on each pod.

If we want to scale drain to prevent DOS

[2021-03-04 17:18] eddiezane commented on #1027
/assign @aramperes

[2021-03-04 17:27] eddiezane commented on #564
/unassign @eddiezane @seans3
/assign @nikhita

[2021-03-04 17:33] eddiezane commented on #1028
/priority backlog

[2021-03-05 08:44] book987 commented on #1011
Looks like this is a huge change, since kubernetes doesn't prepared for detach keys for now. This cannot achived by simply adding options to cli. I propose close this issue and reopen in kubernetes.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cri/streaming/server.go#L65

*pls point out if i'm wrong, thanks!

[2021-03-05 14:23] lauchokyip commented on #965
I guess I will try tackling this one /assign

[2021-03-05 14:23] lauchokyip commented on #965
/assign

[2021-03-05 20:04] mthome commented on #1011
It is a pity CRI doesn't seem to consider detach keys. Support would seem to be straightforward for dockershim:
https://github.com/kubernetes/kubernetes/blob/336bbae82c4c0bd28f51cc5d7e34faeef8263bc4/pkg/kubelet/dockershim/docker_streaming.go#L129 ->
https://github.com/kubernetes/kubernetes/blob/336bbae82c4c0bd28f51cc5d7e34faeef8263bc4/pkg/kubelet/dockershim/docker_streaming.go#L172
which fails to

[2021-03-05 20:09] Nuru commented on #1011
@book987 @mthome There is [already an issue in Kubernetes](https://github.com/kubernetes/kubernetes/issues/71765) for this feature, but it got closed as stale (as did  #693 and #878 here). If you can get it re-opened and linked, that would be great.

[2021-03-06 01:21] KnVerey commented on #1028
Thanks for the response! While @michaelgugino proposal also makes sense and would improve scalability in a different way, it would not affect the scenario I'm targeting, which is related to storage rather than request volume. Here's the scenario:

- `kubectl drain` (and others, including `kubectl describe node`) currently make pod list requests without the `limit` parameter and do not expose a way

[2021-03-07 01:56] michaelgugino commented on #1028
@KnVerey thanks for the detailed explanation.  I think maybe we should copy your reply into the first comment as it is definitely different from what I thought we were discussing.

I think this would be fine to add for the stated reason.  My only question would be documentation and how will users know to use this?  This obviously doesn't have to be solved now, but something to think about.

More f

[2021-03-07 16:13] navidshaikh commented on #1027
/unassign

[2021-03-08 02:58] lauchokyip commented on #965
I tried adding `req.Param("resourceVersion", "x")` here (https://github.com/kubernetes/kubernetes/blob/17312ea4a92a0bba31272a6709b37a88aa383b2d/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L441) where `x` is any number > 0  to test. However, when I run `kubectl get pods` it always output `The resourceVersion for the provided list is too old.` If I do `curl http://localhost:8080/api/v1/pods?resour

[2021-03-09 04:47] #818 closed

[2021-03-09 05:48] dty1er opened #1029 "Usage section in kubectl get --help doesn't include "-o name""
**What happened**:

`--output` section in `Usage` of `kubectl get --help` does not contain `name`.

![image](https://user-images.githubusercontent.com/60682957/110424583-5e6d8000-80e6-11eb-914b-f4ba79432287.png)

**What you expected to happen**:

Both should show "name"

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubectl get --help`

**Anything else we need to know?**:

[2021-03-09 05:49] dty1er commented on #1029
If this should be fixed, I will submit the PR.

[2021-03-09 15:27] #1020 closed

[2021-03-09 21:16] KnVerey commented on #1028
👍 Added the details to the issue description.

The command that currently supports setting a limit is `get`, and it has a default value of `500`, so I would be inclined to match that.

The original design issue for the chunking feature has this to say:

Here are some ways forward that I think could make sense:

- Option 1: Add a `limit=500` parameter to pod list requests that are internal to a non

[2021-03-10 00:07] #1014 closed

[2021-03-10 14:23] howardshaw commented on #965
ok i will try

Chok Yip Lau <notifications@github.com> 于 2021年3月5日周五 22:24写道：

[2021-03-10 14:45] lauchokyip commented on #965
@howardshaw , I am working on this one now but I will let you know if I can't solve it. Thank You.

[2021-03-10 17:21] eddiezane commented on #866
cc @KnVerey

[2021-03-10 19:14] Michael-Sinz commented on #978
As far as I know, this issue is still live - the amount of memory used to get the complete pod status of the cluster is amazingly large for non-trivial clusters.  Far more than expected given the size of the (rather verbose) json formatted output.

/remove-lifecycle stale

[2021-03-11 01:46] danielyaa5 commented on #450
Ya this is hella dumb, status says terminating not running... lets not overcomplicate things or at least update documentation

[2021-03-11 01:48] danielyaa5 commented on #450
[code]

[2021-03-11 01:56] danielyaa5 commented on #450
This did work for me though ```
kubectl get pods --template '{{range .items}}{{ if not .metadata.deletionTimestamp }}{{.metadata.name}}{{"\n"}}{{end}}{{end}}'```

[2021-03-11 20:03] KnVerey commented on #1028
As discussed at yesterday's meeting, I'm going to proceed with PRs for option 2 for `kubectl drain` and `kubectl describe`, as well as possibly `kubectl top pod` (relevance TBC). After looking into `kubectl cluster-info dump`, I believe it will issue its list requests one namespace at a time, and that this is not likely the biggest scalability concern it would face, so I will leave it out of this

[2021-03-11 20:16] eddiezane commented on #978
@Michael-Sinz turns out we have some profiling built-in to kubectl.

Cant you please run the following and upload the dumps?

[code]

If you want to take a peak at what you're uploading you can run `go tool pprof -top allocs-json.pprof`.

[2021-03-11 20:25] medyagh commented on #967
@seans3 I am curious are u still working on this ? the fejta-bot is going to close it

[2021-03-11 21:50] lauchokyip commented on #965
I did some digging, the errors seem like it's coming from etcd (https://github.com/kubernetes/autoscaler/blob/57be08dbdcd4cd92e43f89310f2114e365d02624/cluster-autoscaler/vendor/k8s.io/apiserver/pkg/storage/etcd3/errors.go#L28). This is where `v3rpc.ErrCompacted` (https://github.com/kubernetes/autoscaler/blob/57be08dbdcd4cd92e43f89310f2114e365d02624/cluster-autoscaler/vendor/go.etcd.io/etcd/clientv

[2021-03-11 22:11] logicalhan commented on #965
You have you use a recent RV. You can't start at 1, it'll almost never work. What I would do is I would make a list call against any arbitrary resource. Doing so returns a ListRV. This is equivalent to etcd's current internal global counter. You can then use that RV to make subsequent requests. That RV will work for X minutes where is X is equal to the compaction interval set on the kube-apiserver

[2021-03-11 22:57] eddiezane commented on #1029
/triage accepted
/priority backlog
/assign @dty1er

[2021-03-11 23:34] Michael-Sinz commented on #978
I will have to see what I can poke at.  I assume no details about the cluster will be in the profile reports, right?
(I will take a look at the code in a bit)

I may not have the same size cluster available right now - we dynamically scale rather drastically all the time (up and down) so the overall scale of the cluster changes.  (In addition to moving various workloads between different clusters)

[2021-03-11 23:40] eddiezane commented on #978
From what I can tell.

[Source](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/profiling.go).

[Here's the proto](https://github.com/google/pprof/blob/master/proto/profile.proto) it writes out.

[2021-03-12 00:07] lauchokyip commented on #965
@logicalhan Thanks for your explanation! I am still learning about the Kubernetes so I hope you don't mind giving some more guidance on this. It would be great if you can answer my following questions :)
i) Why does using the `req.Param` wouldn't work as expected as how `curl` works?
ii) What do you mean by a list call against arbitrary resource and how can I do that for `kubectl`? Do you mean som

[2021-03-12 12:20] awoimbee opened #1030 "SEGFAULT: describe ingress with backend.resource"
**What happened**:
SEGFAULT
[code]

Also, I'm not using `extensions/v1beta1 Ingress`, Should the warning be here ?

**What you expected to happen**:
describe the ingress, even if it doesn't make sense.

**How to reproduce it (as minimally and precisely as possible)**:
Create an ingress with `backend.resource` targeted at an AWS EFS instead of using `backend.service` that redirects to a basic nginx

[2021-03-12 13:36] Michael-Sinz commented on #978
Note that our clusters are relatively dynamic so I can not assure you that the same state exists across all of the runs.

I did two clusters - a smaller one and a larger one.  The larger one took a long time to complete and I had to use an different machine to run the test on it as the memory use was too high for my normal dev VM.  (It literally was OOM killed by the kernel on my regular dev VM)

[2021-03-12 16:40] jgallucci32 opened #1031 "Use git shallow clone when applying configuration from GitHub url"
**What would you like to be added**:
When applying a configuration using a direct GitHub url, it appears to be cloning the entire git repository which depending on the project can cause delays (and in some cases timeout) during the operation. An example is applying the Kustomization for the CSI driver for Amazon EBS as follows
[code]
For this particular environment, the WAN is very limited and clo

[2021-03-12 23:11] dougsland commented on #978
/cc

[2021-03-14 03:08] lauchokyip commented on #965
@wojtek-t @soltysh @eddiezane. Need you guys last inputs before I submit the PR :). Thank You!
I figured out that when limiting the chunk size and RV at the same time will in result of infinite waiting time (does not terminate). For instance, I was using
[code]
The response will not be terminate, therefore `kubectl` will always return
[code]
However, if I change the request to
[code]
The output wi

[2021-03-14 04:15] lauchokyip commented on #1019
I was able to reproduce the bug, will take a look 😃

[2021-03-14 04:15] lauchokyip commented on #1019
/assign

[2021-03-14 23:10] lauchokyip commented on #1019
@eddiezane @soltysh
I have digged into it and found the issues lie into here(https://github.com/kubernetes/kubectl/blob/0223f3fef06550cd3783f8044f0bd7f96d8dd954/pkg/cmd/get/sorter.go#L265)

They are both detected as string, and because the package is using natural sort package (https://github.com/fvbommel/sortorder/blob/master/natsort.go). I tried to add a test case to compare **100m** and **1** o

[2021-03-15 04:13] FingerLiu opened #1032 "plugin does not work when --kubeconfig provided as command line paramter"
**What happened**:
When  `--kubeconfig` is provided as a command line  parameter, kubectl does not recognize plugin any more.

**What you expected to happen**:
Plugin should work when  `--kubeconfig` is provided.

**How to reproduce it (as minimally and precisely as possible)**:

1 make a minimal kubectl plugin
[code]

2 this works.
[code]

3 and this do not.
[code]

4 but if you append kubeconfig

[2021-03-15 05:22] dty1er commented on #1032
It seems like this is already fixed. https://github.com/kubernetes/kubectl/issues/884
The change is included in the latest kubectl.