[2016-04-18 19:35] bgrant0607 opened #1340 "Improve default kubectl behavior when it doesn't know what cluster to talk to"
At minimum, we need to improve the error message:
`The connection to the server localhost:8080 was refused - did you specify the right host or port?`

We might also want to consider not using localhost as the default, though we want to keep it aligned with our single-node dev cluster plans. kubernetes/kubernetes#24106

cc @kubernetes/kubectl @dlorenc @vishh

[2017-04-12 15:29] jeremyjjbrown opened #2 "Kubectl errors when it needs to be updated instead of notifying."
It would be nice if kubectl would provide a hint when it just needs an update.

Using a slightly older version of kubectl against Api server 1.6 and I got

[code]

Needless to say the user likely is going to waste a lot of time troubleshooting this before replacing kubectrl that was working just fine minutes before.

[2017-04-20 01:23] lihan opened #3 "kubectl get po columns aren't aligned when using watch mode"
`kubectl version`

`Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}`

`Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeS

[2017-04-20 09:21] owenmorgan opened #4 "Cant set context"
When using kubectl

`kubectl version                                                                                                                                                            (jd-uat/default)
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T22:51:55Z", GoVersion

[2017-04-21 00:57] mengqiy commented on #4
You should use `kubectl config use-context`.

[2017-04-21 06:38] owenmorgan commented on #4
Doh!

[2017-04-21 06:38] #4 closed

[2017-04-21 12:36] dictvm opened #5 "kubectl cp doesn't feature tab completion"
[code]

It would be helpful if `kubectl cp` completed pod-names, like most other `kubectl` parameters do. This way, you wouldn't have to issue `kubectl get pod` and copy the pod name before copying a file from or to a pod.

[2017-04-21 21:02] mengqiy commented on #5
@shiywang Are you interested in fixing this?

[2017-04-22 07:30] shiywang commented on #5
/assign

[2017-04-25 20:41] liggitt opened #6 "kubectl proxy --reject-methods flag is non-functional"
The flag is registered, but the specified value is never read or used

This means all http methods are allowed by default (despite the help saying PUT/POST/PATCH being disallowed), and users have no way to control which methods are accepted

[2017-04-26 00:16] adohe commented on #6
@liggitt Thanks for reporting this, I will fix this today.

[2017-04-26 13:27] Vrtak-CZ opened #7 "kubectl delete all -l foo=bar - does not delete ingress"
[code]

does not delete ingress with label `foo=bar`.

[2017-04-27 12:29] kendallarm opened #8 "l --help"

[2017-04-27 12:30] #8 closed

[2017-04-27 17:43] mengqiy commented on #7
I think this is because of ingress is a luster scoped resource.
https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2017-04-30 02:40] adohe commented on #3
the fix located [https://github.com/kubernetes/kubernetes/pull/43501](https://github.com/kubernetes/kubernetes/pull/43501)

[2017-05-10 15:52] gyliu513 opened #9 "Adding "PodPreset" to "kubectl get help""
@gyliu513 commented on [Wed May 10 2017](https://github.com/kubernetes/kubernetes/issues/45597)

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply

[2017-05-10 15:52] gyliu513 opened #10 "Adding "PodPreset" to "kubectl get help""
@gyliu513 commented on [Wed May 10 2017](https://github.com/kubernetes/kubernetes/issues/45597)

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply

[2017-05-10 15:54] #10 closed

[2017-05-16 21:44] pwittrock commented on #2
Can you provide steps to reproduce.  Using kubectl 1.5 with a 1.6 server should work.

[2017-05-16 21:46] pwittrock commented on #7
Ingress [is namespaced](https://kubernetes.io/docs/api-reference/v1.6/#create-138).  `--all` probably uses a static list somewhere.

[2017-05-16 21:47] pwittrock commented on #6
@adohe Any updates?

[2017-05-16 21:47] #6 closed

[2017-05-16 21:48] pwittrock commented on #5
@shiywang Any updates?

[2017-05-17 12:37] Vrtak-CZ commented on #7
Yes but when i use `kubectl delete all -l foo=bar -n baz` it doesn't work either.

[2017-05-17 23:17] pwittrock opened #11 "Refactor kubectl run + expose and kubectl create xxx to use shared code"
The `kubectl run` and `kubectl expose` commands can be used to create various workloads and services.  `kubectl create xxx` commands can also create the same resources, but use different code and have support for different flags.

Refactor the commands that create the same objects to use common code and bring feature parity

[2017-05-17 23:40] pwittrock opened #12 "Add kubectl create for missing workloads"
Add new `kubectl create` commands for missing workloads.  Flags for fields shared between all workloads - e.g. `image` (and everything else in Pod or PodTemplate) should be factored into a single library.  Flags for field shared between many workloads should be factored into another library - e.g. `replicas`.

- `create statefulset`
- `create daemonset`
- `create replicaset`
- `create pod`

[2017-05-19 08:50] sanderploegsma opened #14 "`kubectl scale` completion does not include statefulset"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): A bit of both, I guess.

**Kubernetes version** (use `kubectl version`): 1.6.2

**Environment**:
- **Cloud provider or hardware configuration**: Macbook Pro 2016
- **OS** (e.g. from /etc/os-release): macOS Sierra 10.12.4
- **Kernel** (e.g. `uname -a`): `Darwin Sanders-MacBook-Pro-2.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:5

[2017-05-23 11:47] veris-neerajdhiman opened #15 "Issues in Pull local image irrespective of ` imagePullPolicy: Never` tag"
- I am trying to create a pod from local docker image which I have created .

![selection_006](https://cloud.githubusercontent.com/assets/15321333/26352052/b2c74612-3fd7-11e7-8c9d-ffdcbf62fd97.png)

- Below is my yaml file

[code]
- Command :
![selection_007](https://cloud.githubusercontent.com/assets/15321333/26352167/38202aea-3fd8-11e7-8651-939997926878.png)

- Dashboard view :
![kubernetes dash

[2017-05-23 14:17] veris-neerajdhiman opened #16 "CrashLoopBackOff while creating Pod"
- I am getting below error while creating a pod :
![kubernetes dashboard 1](https://cloud.githubusercontent.com/assets/15321333/26358534/7cf46bdc-3ff0-11e7-8bac-f6df9453052d.png)

- yaml file :

[code]

- kubectl config :

[code]

[2017-05-23 17:12] mengqiy commented on #15
Have you push your local docker image to each node?

[2017-05-24 04:44] veris-neerajdhiman commented on #15
@mengqiy

No
- I just created a build using docker-compose
- list all images using docker images.
- copy image name and used it for creating pods.

If you have any guide for using local images in kubctl then please share. In official docs I don't see any ref to push images to nodes (how/why ?)

[2017-05-24 05:04] mengqiy commented on #15
This section may be helpful to you https://kubernetes.io/docs/concepts/containers/images/#pre-pulling-images

If you build an image living outside of the cluster, you must make sure each node has this image to use it as pre-pulled images. Otherwise, `kubelet` on each node will not find the image.

Maybe you need a script to copy the image to each node when booting up. I'm not sure if this is the b

[2017-05-24 22:58] mengqiy commented on #3
@lihan Can you verify if this is fixed by https://github.com/kubernetes/kubernetes/pull/43501? If so, we can close this.

[2017-05-26 12:03] danwinship opened #17 "NetworkPolicy describer isn't useful"
"kubectl describe" isn't useful for NetworkPolicies. @thockin says so!

[2017-05-29 21:00] fabianofranz opened #18 "Cached discovery issue on windows"
From the master branch at least (need to check previous versions), `kubectl get` and potentially a number of other commands are failing miserably on Windows:

[code]

[2017-05-29 22:41] lihan commented on #3
@mengqiy I don't have cluster running on that branch so cannot verify it.

But as of

[code]
It hasn't been fixed, will keep this thread updated

[2017-05-30 15:46] ddcprg opened #19 "kubectl run --env option restricts the format of the variable values"
**Kubernetes version**:

[code]

**Environment**:
- **OS**: Mac OS Sierra v10.12.4
- **Kernel**: Darwin mylaptop.localdomain 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64 i386 MacBookPro11,2 Darwin
- **Others**:
    - minikube version: v0.19.0
    - Docker version 17.03.1-ce, build c6d412e

**What happened**:

I'm invoking `kubectl ru

[2017-05-30 19:11] #18 closed

[2017-05-30 23:28] mengqiy commented on #3
The fix is not backported to 1.6. But it should have been fixed in master branch.

[2017-05-31 02:31] pwittrock commented on #16
Is there a specific issue or are you asking for help?  If you think there is an issue please provide more details.

[2017-05-31 02:31] #16 closed

[2017-05-31 02:32] pwittrock commented on #15
Please open this in the kubernetes/kubernetes repo and mention @kubernetes/sig-node-bugs

[2017-05-31 02:32] #15 closed

[2017-05-31 02:33] pwittrock commented on #14
@foxish Are you the right person for this?

[2017-05-31 02:34] pwittrock commented on #9
We should wait until PodPreset is out of alpha

[2017-05-31 02:36] pwittrock commented on #7
My comment was in response to @mengqiy.

@bowei is this your team?

[2017-05-31 02:37] #2 closed

[2017-05-31 02:37] pwittrock commented on #2
Closing.  Reopen if you can reproduce.

[2017-05-31 02:37] pwittrock commented on #3
Reopen if this is still a problem in 1.7

[2017-05-31 03:36] bowei commented on #7
yes -- cc: @nicksardo

[2017-05-31 03:38] bowei commented on #7
@Vrtak-CZ : do you have a minimal repro we can try? (e.g. ingress YAML)

[2017-05-31 07:54] aanm commented on #17
If no one is going for this, I can take a stab at this one.

[2017-05-31 09:20] xiangpengzhao opened #20 "Mark deprecated commands in 'kubectl help'"
We have several deprecated commands. When running `kubectl help`, we get below (I don't list other commands here).

[code]

For new end-users, they are confused by the different commands with the same usage. They might be not sure which one to use until they get `Command "foo" is deprecated, use "bar" instead`. We need to mark the deprecated commands in the help info.

I will create a PR to mark t

[2017-05-31 11:39] Vrtak-CZ commented on #7
sure

[code]

and then I try `kubectl delete all -l app=bar -n foo`

[2017-05-31 11:59] adohe commented on #17
@aanm that would be great, and I think I now ready for help review this.

[2017-05-31 16:40] nicksardo commented on #7
If `kubectl get all` doesn't show ingresses, then I'm glad `kubectl delete all` doesn't delete ingresses. https://github.com/kubernetes/kubernetes/issues/42885

According to this https://github.com/kubernetes/kubernetes/pull/42954#issuecomment-286012772, changes are afoot.

[2017-05-31 17:02] bowei commented on #7
@pwittrock -- doesn't seem to be a networking related issue? Who should own this then?

[2017-06-01 10:56] jjfiguep opened #21 "Error pulling images from external registry when the user changes"
**What keywords did you search in Kubernetes issues before filing this one?**
docker login private registry

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2016-12-12T21:10:52Z", GoVersion:"go1.6.2", Compile

[2017-06-01 11:58] #21 closed

[2017-06-01 12:00] jjfiguep commented on #21
Sorry it was created here by mistake.

[2017-06-01 22:07] droot opened #22 "kubectl Get command should use open-api extension to display a resource"
kubectl Get command does not provide a rich experience for resources retrieved through federated apiservers and types not compiled into the kubectl binary.

Open-api schema for resources retrieved through federated api servers will have additional metadata as  x-kubernetes-print-columns extension. Kubectl should make use of the extension information to display richer output for such types. So beha

[2017-06-01 22:08] droot commented on #22
PR that addresses this issue #46235

[2017-06-01 22:43] droot commented on #22
/assign droot

[2017-06-02 18:01] aanm commented on #17
@adohe I've made some drafts of the output. Which one do you think looks better?
policy:
[code]

Output A
[code]

Output B
[code]
Output C
[code]

[2017-06-04 20:53] thockin commented on #17
I like C but I would put ports before From:

[code]

Don't we have a standard representation of selectors across Describes?

Maybe more readable:

[code]

I'm not sure that's any better

On Fri, Jun 2, 2017 at 11:02 AM, André Martins <notifications@github.com>
wrote:

[2017-06-06 12:54] alkar opened #23 "serviceAccountName default value"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

- **Install tools**: `terraform`
- **Others**: N/A

**What happened**:
1. Given the following manifest:
[code]

[code]

2. Modify the manifest to specify a `serviceAccountName`:

[code]

A

[2017-06-06 20:31] minherz opened #24 "kubectl does not set container name according to deployment manifest"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-06-06 20:44] mengqiy commented on #23
Patch works well but the conversion mess it up.

What is happening is:
There are 2 service account fields. ([`serviceAccount`, which is the alias of `serviceAccountName`, has been deprecated](https://github.com/kubernetes/kubernetes/blob/4a01f44b7378fb0c58450898e1bca30ea8a5158a/pkg/api/v1/types.go#L2391-L2401))
After specifying `serviceAccountName: test-sa`, do a Get:
[code]

`serviceAccount` is d

[2017-06-06 20:46] mengqiy commented on #23
@alkar An work around is explicitly set these 2 fields to null:
[code]

[2017-06-06 21:47] mengqiy commented on #24
I think the name in the pod template will just get ignored when running controller managed pods. @janetkuo Is this correct?

[2017-06-07 09:41] minherz commented on #24
Okey. It is possible that i placed a wrong issue description then. I have two deployments, both with services and then from a container of the app1 i cannot access or `ping` service2 using `service2.deploymentnamespace.svc.cluster.local` URL. If it is relevant, my deployments run on Windows agent.
The `ipconfig /all` outpout from the container that runs app1 is:
[code]
I am not sure that DNS serve

[2017-06-07 14:37] #22 closed

[2017-06-07 21:16] tonglil opened #25 "Unable to kubectl get -o jsonpath annotation value"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `kubectl get annotation json`

This feature request seems like it would help in this scenario: https://github.com/kubernetes/kubernetes/issues/19817

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubec

[2017-06-08 20:23] pmorie opened #26 "kubectl get should support PodPreset"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

podpreset

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

bug;

**Kub

[2017-06-08 20:36] alkar commented on #23
Right, thanks for the detailed explanation & workaround.
Is this something that will eventually get resolved when `serviceAccount` gets removed?

[2017-06-08 20:43] mengqiy commented on #26
/assign @droot
Assign to you  since it's related to your work.

[2017-06-08 21:20] fabianofranz commented on #26
/sig cli

[2017-06-08 21:43] fabianofranz commented on #26
@pmorie this looks fixed already, do you have the latest `kubectl` from master?

[code]

[2017-06-08 21:51] mengqiy commented on #23
I think we will eventually removed this field. I filed an issue #47198 to ask when.

[2017-06-09 15:05] tomfotherby opened #27 "kubectl patch initContainers image doesn't work"
**Is this a request for help?** : Nope

**What keywords did you search in Kubernetes issues before filing this one?** : "patch"

---

**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT?

**Kubernetes version** (use `kubectl version`): v1.6.2

[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release): CoreOS
- **Install tools**: [Tack](

[2017-06-09 16:55] mengqiy commented on #23
There is a PR #44900 to remove it. It is targeted at the beginning of 1.8.

[2017-06-09 20:53] mengqiy commented on #27
After debugging a bit, `kubectl` is doing its job. It seems the APIserver just ignore the change. Maybe because initContainer is not allowed to be update after created.
The following is the log. You can find `initContainers:[map[image:busybox:1.25`.
original:
 map[kind:Deployment apiVersion:extensions/v1beta1 metadata:map[namespace:default selfLink:/apis/extensions/v1beta1/namespaces/default/deplo

[2017-06-09 21:00] derekwaynecarr opened #28 "kubectl drain errors if a pod has already been deleted"
**Kubernetes version** (use `kubectl version`):
kubernetes/master

**What happened**:
kubectl drain of a node threw an error when a pod was already deleted.

**What you expected to happen**:
kubectl drain should not error if the pod it attempts to delete is already deleted

**How to reproduce it** (as minimally and precisely as possible):
create a pod, run kubectl drain on the node, delete the pod

[2017-06-09 21:15] tomfotherby commented on #27
Thanks. Should I close this and open a feature request to the apiserve to ask if the initContainer can be changed?

[2017-06-09 23:29] mengqiy commented on #27
I believe https://github.com/kubernetes/kubernetes/issues/47264 is an issue with same root cause that filed against main repo.
We can close this one.

[2017-06-09 23:29] #27 closed

[2017-06-12 07:44] #28 closed

[2017-06-13 04:18] brendandburns opened #29 "Optionally use azure active directory for kubectl auth."
Kubectl authentication is pluggable. Azure Active Directory is a popular authentication service for both cloud and on-premise identity management. Kubectl should support azure active directory authentication to enable those users to continue to use their existing identity management solutions.

[2017-06-13 06:33] mengqiy commented on #19
/assign

[2017-06-13 06:37] mengqiy commented on #19
[code]
I think there are 2 issues here.
1. Cobra is trying to split the flag by comma when using [StringSlice](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/run.go#L120). We should use StringArray().
2. Maybe we should not restrict it.

I will send a fix soon.

This is not a blocking issue for 1.7, since it already exists in 1.6.

[2017-06-13 14:37] timothysc opened #30 "BUG: Info log on every kubectl command "duplicate proto type registered""
**This a BUG REPORT** (choose one):
[code]

**Kubernetes version** (use `kubectl version`):

[code]

**What happened**:
Every kubectl command outputs a proto info message about dbl registration.
[code]

**What you expected to happen**:
No output

**How to reproduce it** (as minimally and precisely as possible):
Run any kubectl command.

[2017-06-13 14:39] pmorie opened #31 "Kubectl should warn when resources aren't found and discovery failed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Aggregator

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kube

[2017-06-13 14:44] timothysc commented on #30
/cc @kubernetes/sig-api-machinery-bugs @kubernetes/sig-cli-bugs

[2017-06-13 19:02] timothysc commented on #30
I verified that this occurs when you use different versions of go on the client vs. server.

[2017-06-13 21:14] mengqiy commented on #30
[code]
client with go1.8.1 works with server with go1.8.3

it seems that client with go1.8.3 doesn't work with server with go1.8.1

[2017-06-13 21:17] mengqiy commented on #30
@timothysc Is this a blocking issue for 1.7?

[2017-06-13 21:28] timothysc commented on #30
I think it's a bad experience, but I don't know if it's blocker worthy.  I'd definitely cherry-pick any fixes.

[2017-06-13 21:58] mengqiy commented on #26
Closing this since it has been fixed on master. Feel free to reopen this if it is not.

[2017-06-13 21:58] #26 closed

[2017-06-14 17:23] mengqiy commented on #29
Closing in favor of https://github.com/kubernetes/kubernetes/pull/43987

[2017-06-14 17:23] #29 closed

[2017-06-14 17:53] mengqiy commented on #24
@MrHohn This seems to be an network issue.

If we confirm this is a network issue, we should move this issue to the main repo.

[2017-06-14 18:37] #23 closed

[2017-06-14 18:38] pwittrock commented on #23
Closing since this is not an issue with kubectl.  Thanks for triaging @mengqiy

[2017-06-14 19:42] alexandercampbell opened #32 "Too many functions are coupled to cobra.Command"
Many of the functions in `kubectl/cmd` require instances of `cobra.Command`, a complex and occasionally counterintuitive struct. In many cases the business logic of our application is very tightly coupled to `cobra.Command`.

This is bad for a few reasons:
1. Switching to an alternative configuration system for any reason is impossible.
2. Testing even simple methods requires "stubbing" `&cobra.Co

[2017-06-14 19:42] alexandercampbell commented on #32
/assign

[2017-06-14 20:03] MrHohn commented on #24
10.0.0.10 should be kube-dns service's vip, you could try `kubectl get svc kube-dns --namespace=kube-system` to see.

Also, don't think pinging service ip work: https://github.com/kubernetes/kubernetes/issues/47156.

BTW, although it may be the same, the correct FQDN should be `service2.service2namespace.svc.cluster.local`.

[2017-06-14 22:05] mengqiy commented on #25
@tonglil please take a look at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/jsonpath/jsonpath_test.go#L280.
[code]
This should work for you.

[2017-06-15 05:18] k82cn opened #33 "kubectl did not print readable message of PVC's capacity."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:

Here's the output when we print `Quantity` as string.

[code]

**What you expected to happen**:
print `1Gi`

**How to reproduce it** (as minimally and precisely as possible):
`kubectl describe statefulsets`

/assign

xref https://github.com/kubernetes/k

[2017-06-15 07:56] minherz commented on #24
Thanx. Answering the questions, the original settings was to use `service2.service2namespace.svc.cluster.local` but it didn't work and wasn't resolved. Eventually i had to use local environment variables to identify IP:Port of the service (which isn't desired behavior).
This is happening when my application resolves DNS name vs. NIC which doesn't have correct DNS. In the example above it will be `

[2017-06-15 15:54] alexandercampbell commented on #32
Progress visible here: https://github.com/alexandercampbell/kubernetes/compare/cleanup-in-kubectl...alexandercampbell:kubectl-32-cobra-command-refactoring?expand=0

[2017-06-15 21:08] mengqiy commented on #24
Closing since this is not a kubectl issue.
Please move the discussion to the main repo or ask for help in the slack channel. Thanks.

[2017-06-15 21:08] #24 closed

[2017-06-16 17:03] mengqiy commented on #24
@minherz feel free to reopen this if you still believe this is a kubectl issue.

[2017-06-16 23:04] minherz commented on #24
thanx. I will do a follow up on this. If the problem persist I will create an issue with more correct titling and more details

[2017-06-17 00:40] hasanatkazmi opened #34 "`kubectl top nodes/pods` doesn't show Storage usage"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Mostly feature

On run

[2017-06-17 10:59] sandoracs opened #35 "cmd.Flags().Set() accepts invalid configurations in create_service_test.go"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.0.644+2ddde09a6ca650-dirty", GitCommit:"2ddde09a6ca6504f200572b44282dc9983641618", GitTreeState:"dirty", BuildDate:"2017-06-16T20:43:23Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Serv

[2017-06-18 16:41] smarterclayton commented on #25
The listed annotations should work, which means we have a bug in our JSONPath implementation

[2017-06-18 16:41] smarterclayton commented on #25
Please file a bug in the main repo

[2017-06-18 16:43] smarterclayton commented on #32
Introduction of something like Assert is somewhat dubious, we've generally pushed back on that in the past - can you give an example of where you intend to use it?

[2017-06-18 16:46] smarterclayton commented on #32
Re: coupling to cobra the rules of thumb have been (but not always enforced):

1. Nothing beyond the `Complete()` method may refer to the command
2. No utility function outside of `pkg/kubectl/...` should accept either the command or the command factory
3. Interfaces should be defined for FlagSets to avoid binding to pflag directly (we have a set of them, but use them lazily, which meant that some

[2017-06-18 16:47] smarterclayton commented on #34
Top is an alpha command - the intent has been to rewrite it when the master metrics API is delivered in stable form (targeted for 1.8).  For now, dropping the help text seems reasonable.

[2017-06-18 22:03] alexandercampbell commented on #32
@smarterclayton thanks for the feedback. I will likely rebase the Assert commit out of the branch before opening the pull request. I am curious to know why we've pushed back on Assert thus far, since I find it to be an excellent way to document expectations in the code.

I agree with all of the numbered points you gave. Unfortunately it seems that very little code follows them :)

[2017-06-19 00:05] smarterclayton commented on #32
Re: Assert has come up mostly in cases where the preconditions are clear and would panic anyway (in which case the assert doesn't add a ton).  We also try to enforce less complex stateful inputs at interface boundaries, or guard anyway with if blocks.  Just hasn't been a great example of it being needed.

pkg/kubectl/cmd deserves a good separation pass - many of the early commands predated the dec

[2017-06-19 15:45] tonglil commented on #25
Thanks. I didn't know about escaping the `.`.

This query allowed it to work (note for future readers, escape all `.`s in the key (`ingress.kubernetes.io/url-map`) of the map):

[code]

[2017-06-19 15:45] #25 closed

[2017-06-19 16:42] alexandercampbell commented on #32
I've rebased out the Assert commit. Thanks again for your feedback.

I'd love to see (or work on) the kind of `kubectl/cmd` separation pass you're talking about.

Some background: My end goal is to consolidate the code underlying `kubectl run` and `kubectl create deployment` to solve issue #11. To that end, I am refactoring the Run functions to depend less on the details of a particular `cobra.Com

[2017-06-19 16:55] alexandercampbell commented on #11
@pwittrock I assume that the syntax and options of `kubectl {run,expose}` must remain identical. Can you confirm?

[2017-06-19 17:38] alexandercampbell commented on #11
For what it's worth, `kubectl create`, `kubectl run`, and `kubectl expose` generally diverge to the same codepath already (by calling generate).

| command | generate call |
| - | - |
| `create` | [`obj := options.StructuredGenerator.StructuredGenerate()`](https://github.com/kubernetes/kubernetes/blob/012ffed6d3e3222e0e004e1edf60e7bc814546f4/pkg/kubectl/cmd/create.go#L254) |
| `run` | [`obj := cre

[2017-06-19 20:32] pwittrock commented on #35
@sandoracs Interested in filing a PR to fix?

[2017-06-19 20:46] sandoracs commented on #35
Sure, why not! I'll take a look at it.

[2017-06-19 21:25] pwittrock opened #36 "Kubectl upgrade tests failing 1.6 -> 1.7"
https://k8s-testgrid.appspot.com/1.6-1.7-upgrade#gke-cvm-upgrade-cluster&sort-by-failures=

[2017-06-19 23:54] pwittrock commented on #36
Closing in favor of https://github.com/kubernetes/kubernetes/issues/43464

[2017-06-19 23:54] #36 closed

[2017-06-20 13:40] ryanwalls opened #37 "Current bash-completion instructions do not work on Mac OS 10.11.6 and bash 3.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  "bash-completion"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2017-06-20 16:38] apelisse commented on #37
Thanks for opening the issue @ryanwalls.

It looks like the `bash-completion` code is not sourced properly.

Can you verify that your `~/.bash_profile` has something like this:
[code]

if this fixes the issue, we'll make sure we update the documentation to include that.

Credit goes to: http://davidalger.com/development/bash-completion-on-os-x-with-brew/

[2017-06-20 20:17] alexandercampbell commented on #11
Differences in available flags when you switch from `kubectl run` to `kubectl create deployment`:
https://gist.github.com/alexandercampbell/c7e34370e48bc5d7b33c7a0680b7bbe6

[2017-06-21 07:58] aguilbau opened #38 "inconsistencies when using flag '-o json'"
**kubernetes version**
[code]

**Environment**:
- aws
- coreos
- `Linux ip-10-0-65-22 4.11.2-coreos #1 SMP Tue May 23 22:04:34 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz GenuineIntel GNU/Linux`
- tectonic installer:

**What happened**:
I have a daemonset, running on 5 nodes. When I kill a pod of this daemonset and get it's status
with kubectl, I will notice inconsistencies with the

[2017-06-21 09:18] k82cn commented on #33
The PR (#47573) is merged.

[2017-06-21 09:18] #33 closed

[2017-06-21 13:54] ryanwalls commented on #37
@apelisse Yes, when I installed `bash-completion` it had said to put this in my `.bash_profile`:
[code]

So I did.  But it didn't fix the issue on my machine.

[2017-06-21 21:43] cameronbrunner opened #39 "Scaling a deployment always sets 'schedulerName' to 'default-scheduler' (kubectl 1.5.7, master 1.6.4)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
'schedulerName', 'scale'

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-06-21 21:50] cameronbrunner commented on #39
Since the already released version of kubectl can't be changed to fix this its just something people will likely have to live with.  I think this adds more weight to the discussion in https://github.com/kubernetes/kubernetes/issues/42392 around highly recommending keeping the major and minor versions of the client and server in sync (or a newer client than server).

What is particularly troubling

[2017-06-21 22:50] apelisse commented on #37
Can you remind me what is the issue exactly?

Can you elaborate what didn't work? Did you get an error?

[2017-06-22 01:07] pwittrock commented on #39
Thanks for the bug.  Yes this would require a patch release, which if someone was going to install we would recommend they just upgrade to 1.6 for their cluster.

[2017-06-22 01:10] pwittrock commented on #38
Thanks for the issue.

For some resources `get` does some logic instead of just printing what is in the yaml so this is expected.

[2017-06-22 01:10] #38 closed

[2017-06-22 02:07] pwittrock commented on #34
@hasanatkazmi Would like to file a PR to drop the help text?

[2017-06-22 02:09] pwittrock commented on #7
@mengqiy Would you follow up on this and figure out if it was fixed in 1.7 with dynamically populating "all"?

[2017-06-22 02:10] pwittrock commented on #9
Would you add this to the list of PodPreset to beta items?

[2017-06-22 02:21] pwittrock commented on #11
Awesome:

What should add the following to the create command.  We should figure out how to test this so it doesn't get worse again.  Maybe create a white list of flags that can differ, and enforce that all the other flags present in `run` exist for `create`

- attach=false
- command=false
- env=[]
- hostport=-1
- image-pull-policy=''
-image
  - why doesn't the format match?  We should make it mat

[2017-06-22 03:55] alexandercampbell commented on #11
@pwittrock I've made progress in one of my branches at consolidating the common options to a common struct. I like the idea of the whitelist, good call.

[2017-06-22 07:02] droot commented on #9
Sure.

On Jun 21, 2017 7:10 PM, "Phillip Wittrock" <notifications@github.com>
wrote:

[2017-06-22 12:26] ryanwalls commented on #37
@apelisse No errors.  When I typed `kubectl` and then tabbed, it just showed the contents of the current directory instead of showing the available commands.

When I looked in my environment `set | less` there were no references to `kubectl` auto complete commands.  So for me, `source <(kubectl completion bash)` did not work.  I don't know why.  Feel free to close if you feel this is just a one of

[2017-06-22 15:05] cameronbrunner commented on #39
No problem.  Main reason for the submission was to make sure that if someone else saw this type of behavior at least the issue would be documented.  It may be worth a quick check in the patch code to see if other values being are being or could be overwritten.

[2017-06-22 16:01] apelisse commented on #37
Yeah that's weird. Not much we can do about that :-/

[2017-06-22 16:01] #37 closed

[2017-06-22 21:03] mnussbaum opened #40 "Cannot fetch multi-container pod logs by selector"
**kubectl version**:

[code]

**What happened**:

When attempting to fetch the logs of a pod using a selector kubectl seems to demand a container name, but then does not allow a container name to be passed.

[code]

**What you expected to happen**:

1. With `kubectl logs --selector app=kube-dns` I expected to see the logs for all containers in all my `kube-dns` labeled pods.
2. With `kubectl logs

[2017-06-23 10:27] #20 closed

[2017-06-23 14:10] sandoracs commented on #35
I was wrong, the second port (targetPort) can be a string. Therefore, cmd.Flags().Set("tcp", "8080:X") is valid. However, I've found other issues (int32 allowed as port) but I could fixed them.

[2017-06-23 23:24] pwittrock opened #41 "Kubectl caches partially populated api discovery"
Kubectl caches the discovery service results which may not be fully populated by the apiserver.  Kubectl should use etags for caching the discovery service results.

[2017-06-23 23:28] liggitt commented on #41
Which commands fail with a partial cache? The intent is to rediscover on cache misses.

[2017-06-23 23:29] liggitt commented on #41
@deads2k

[2017-06-23 23:32] pwittrock commented on #41
This was being used with `kubectl api-versions` specifically.

[2017-06-23 23:50] pwittrock commented on #41
FWIW, I haven't dug into the code to verify the details.  This is just the behavior we are seeing.

[2017-06-24 04:21] apelisse commented on #41
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/cached_discovery.go#L112

If `kubectl api-versions` succeeds once, it will not get updated unless you remove `servergroups.json` (for that specific `host:port`).

[2017-06-24 04:59] liggitt commented on #41
I see. For that command, I'd expect it to ask the server every time, since the point of the command is to ask the server for its API versions. Opened https://github.com/kubernetes/kubernetes/issues/48016 to fix that.

In places where kubectl actually asks for a specific kind from the discovery client, it checks if the result came from a cache and retries with fresh data on error (for example, http

[2017-06-24 14:06] #14 closed

[2017-06-26 22:01] alexandercampbell commented on #11
FYI `include-extended-apis` is [deprecated](https://github.com/kubernetes/kubernetes/blob/ec1fcbed74846a9ab17dc83c7ff8a28a3f1710e4/pkg/kubectl/cmd/util/helpers.go#L613-L616).

[2017-06-26 23:27] mengqiy commented on #7
I didn't find any code dynamically populating "all".
We still [hard code `all`](https://github.com/kubernetes/kubernetes/blob/df41787b1a3f51b73fb6db8a2203f0a7c7c92931/pkg/kubectl/resource/categories.go#L86-L102).
So we still don't support ingress and daemonset in `all`.

[2017-06-26 23:29] mengqiy commented on #7
@pwittrock Can you give me an pointer to this?

[2017-06-27 21:47] mengqiy commented on #40
@shiywang IIRC you implement this feature, can you look into this?

[2017-06-28 02:24] shiywang commented on #40
/assign

[2017-06-28 09:35] shiywang commented on #40
FYI https://github.com/kubernetes/kubernetes/pull/45275

[2017-06-28 09:59] CaoShuFeng commented on #40
Yeap, please review https://github.com/kubernetes/kubernetes/pull/45275

[2017-06-28 14:45] AXington opened #42 "Namespace flag causes completion error."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):
(Output is current, but this is after I upgraded from 1.6.4 where I first saw the problem)
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.5", GitCommit:"490c6f13df1cb6612e0993c4c14f2ff90f8cdbf3", GitTreeState:"clean", BuildDate:"2017-06-14T20:15:53Z", GoVersion:"go1.7.6"

[2017-06-28 17:14] mnussbaum commented on #40
For anyone else looking at this issue, it seems https://github.com/kubernetes/kubernetes/pull/44282 will resolve this, and https://github.com/kubernetes/kubernetes/pull/45275 will also be really helpful. Given that seems https://github.com/kubernetes/kubernetes/pull/44282 has been merged, I'm going to close this issue.

[2017-06-28 17:14] #40 closed

[2017-07-02 13:55] fiksn opened #43 "kubectl --sort-by not working in 1.7.0"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:"2017-06-29T23:15:59Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1"

[2017-07-04 15:02] superbrothers commented on #42
This is not an issue specific to --namespace. It can happen with all flags in the format --flag=val in zsh only.
[code]

Then, I found that this issue is caused by the flaghash variable in __start_kubectl() to be not a global variable. The following is the minimum reproduction code.
https://gist.github.com/superbrothers/6427b3a7853aa4043dc436189794245a

The following is the fixed code.
https://gis

[2017-07-06 03:42] mengqiy commented on #43
/assign @shiywang
Do you have bandwidth to look into this?

[2017-07-06 03:44] mengqiy commented on #42
@superbrothers If you think this is a bug for cobra, you can try to fix it upstream.

[2017-07-06 05:37] superbrothers commented on #42
@mengqiy I was thinking about this, I found out that this is not a bug for cobra. I will create a PR for kubectl.

[2017-07-06 06:36] shiywang commented on #43
@mengqiy sure

[2017-07-07 11:13] shiywang commented on #43
already found the root cause, will submit a patch soon

[2017-07-10 18:28] alexandercampbell commented on #11
The "kubectl run" flags I will be porting to "kubectl create deployment" are:

1. command
2. env
3. hostport
4. image-pull-port
5. labels
6. limits
7. port
8. replicas
9. requests

We do not want to support the "--expose" family of flags in "create deployment".
Thanks @janetkuo for helping me come up with this list.

[2017-07-11 01:09] shiywang commented on #11
@pwittrock @alexandercampbell I'm not sure if @adohe still working on this  https://github.com/kubernetes/kubernetes/pull/44936 , if not could we also continue his work in this pr?

[2017-07-11 02:51] alexandercampbell commented on #11
@shiywang thank you for linking me to that PR! I knew a separation of that kind was being discussed but I was not aware anyone had begun coding.

After a quick look it doesn't look like it will interfere too much with my work on this issue. The work I am doing here is more compatibility between the commands than it is a code quality improvement.

[2017-07-11 05:23] shiywang commented on #11
@alexandercampbell ok, you are welcome

[2017-07-12 16:42] #19 closed

[2017-07-13 23:13] HartS commented on #30
I'm seeing this same issue with a build of hyperkube.. so in this case the server and client *are* the same binary, so they can't be using different versions:

[code]

[2017-07-13 23:17] lavalamp commented on #30
I don't see how the server go version could matter.

[2017-07-14 16:24] alexandercampbell opened #44 "Consolidate the Deployment Generators"
Issue type: refactor

### Description

[`pkg/kubectl/deployment.go`](https://github.com/kubernetes/kubernetes/blob/cb712e41d435dbb42519bded680fef4043dd23b3/pkg/kubectl/deployment.go) is the same 100 lines copy/pasted. `DeploymentBasicAppsGeneratorV1` and `DeploymentBasicGeneratorV1` are identical except they return `extensionsv1beta1.Deployment` and `appsv1beta1.Deployment` respectively.

If I con

[2017-07-14 16:30] alexandercampbell commented on #44
fyi @pwittrock
I decided to create a separate issue for this since it's a well-defined block of work.

[2017-07-14 17:06] mengqiy commented on #44
FYI, difference between `extensionsv1beta1.Deployment` and `appsv1beta1.Deployment` is the defaulting for `RevisionHistoryLimit` is different.
But I don't think generator support setting `RevisionHistoryLimit` at this time.

[2017-07-14 21:59] alexandercampbell commented on #5
What's an example of a command that has autocompletion for pod names? I tried 3-4 commands and could not find one.
This is a difficult issue because Cobra does not offer support for autocompletion of this nature.

[2017-07-15 00:05] mengqiy commented on #5
You can try `kubectl get pod [tab]`.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cmd.go#L38 this the place of our autocompletion logic.

[2017-07-17 22:37] alexandercampbell commented on #11
I have a branch where I have implemented three of these flags: `--labels`, `--replicas`, `--env`

I will open a PR as soon as https://github.com/kubernetes/kubernetes/pull/48950 is merged. A couple of things have come up during implementation:

1. I can't add `--port` unless we add service support to "kubectl create deployment", which we've already decided is a bad idea.
2. I *could* add `--comman

[2017-07-17 23:39] alexandercampbell commented on #11
Finished implementing `--requests` and `--limits`.
My branch is here: https://github.com/kubernetes/kubernetes/compare/master...alexandercampbell:kubectl-add-remaining-flags-to-create-deployment?expand=0

[2017-07-17 23:49] alexandercampbell commented on #11
After a quick discussion with @pwittrock I'm going to try implementing `--command` but validated so that it will be rejected unless the number of images is exactly 1. This way you can still perform the functionality of "run".

[2017-07-19 04:23] mengqiy commented on #30
Same issue happens at https://github.com/kubernetes/kubernetes/issues/48924.

[2017-07-19 16:44] #44 closed

[2017-07-19 16:47] alexandercampbell commented on #44
That's an interesting bug.
The commit is in master, if anyone's curious: https://github.com/kubernetes/kubernetes/commit/d74ac3785eafd8644a1ac2c9757f613105d76a4f

[2017-07-24 19:42] abstrctn opened #45 "kubectl run --dry-run raises error"
**What keywords did you search in Kubernetes issues before filing this one?**: There were several issues in github.com/kubernetes/kubernetes, chiefly this one that suggested creating an issue in this repo instead, which I'm doing now since nothing seems to exist in this repo: https://github.com/kubernetes/kubernetes/issues/47180

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

[2017-08-03 09:34] kamerblauwlicht opened #46 "A password with special characters is not escaped right when create a docker-registry secret."
**BUG REPORT**

**Kubernetes version**

[code]

**Environment**:
- **Cloud provider or hardware configuration**: all cloudproviders
- **OS** : 16.04.3 LTS (Xenial Xerus)
- **Kernel** : Linux master 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

When you create a docker-registry secret with a special character you can't pull images.

[2017-08-03 09:59] kamerblauwlicht commented on #46
oh deer. it's a shell command and special characters need to be escaped.
ok continue and nevermind.

[2017-08-03 09:59] #46 closed

[2017-08-05 21:39] DarqueWarrior opened #47 "Rejecting valid Environment Variable Names"
**Kubernetes version:**

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure Container Service
- **OS**: Windows 10
- **Install tools**:
- **Others**:

**What happened**:
I was invoking the following command:
`kubectl run myname --image=myimage:86 --port=80 --env="ConnectionStrings:DefaultConnection=Data Source=tcp:mySqlServer,1433;Initial Catalog=myDB;User Id=myUser;Pas

[2017-08-07 00:32] #42 closed

[2017-08-08 03:38] zjj2wry commented on #47
@DarqueWarrior the env key not support name: "a:b", but value can set value: "a:b".

[2017-08-09 18:40] jaraco opened #48 "Kubectl fails to resolve names except through DNS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Not exactly

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl "unable to connect to the server" "read udp"

---

**Is this a BUG R

[2017-08-09 19:34] dims commented on #48
can you please paste the output of `kubectl --v=10 version`

[2017-08-09 19:52] jaraco commented on #48
[code]

[2017-08-09 20:39] dims commented on #48
@jaraco if you see your `/Users/jaraco/.kube/config` file, you will see the reference to `kub1.mycorp.local`, change that to `kub1` and you will be all set i think

[2017-08-09 21:04] #43 closed

[2017-08-09 21:40] pwittrock commented on #48
@jaraco The version command prints the cluster version as well, that is why it connects to the server.

[2017-08-09 21:41] #41 closed

[2017-08-09 21:41] pwittrock commented on #45
@mengqiy @shiywang Could you look into this?

[2017-08-09 21:41] pwittrock commented on #45
/assign @mengqiy

[2017-08-09 21:42] jaraco commented on #48
@dims, Sorry to confuse matters with two names, but I find kubectl can't resolve either name, while other tools will resolve both. Here's the output after making the suggested change.

[code]

[2017-08-09 21:42] pwittrock commented on #45
Is this related to #48659

[2017-08-09 21:42] jaraco commented on #48
@pwittrock: I see that now. I've updated the OP to strike that aspect.

[2017-08-09 21:43] #39 closed

[2017-08-09 21:44] #34 closed

[2017-08-09 22:03] dims commented on #48
@jaraco AFAIK, ping and socket.gethostbyname are both ipv4 only. Try `ping6` and `socket.getaddrinfo("example.org", 80, 0, 0, socket.IPPROTO_TCP)` to check if you see the problem with ipv6

also can you please run `kubectl --v=10 version` with the updated ~/.kube/config

[2017-08-10 01:02] mengqiy commented on #45
I don't think so.

[2017-08-10 12:38] jaraco commented on #48
[code]

I think IPv6 is a red herring. As you can see, the IPv6 address that's appearing in the output is just the IPv6 address for the local WiFi router (192.168.14.1 and 2601:14d:8701:59f8:f299:bfff:fe02:cee3 are the same host). It's true I have IPv6 enabled in my environment, but the kubernetes environment and the VPN I use to connect to it is IPv4 only, so I expect kubectl to resolve the name

[2017-08-10 16:02] apelisse commented on #47
According to [this](http://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap08.html#tag_08_01):

Which let's me believe that we should allow "other characters".

Also, try this:
[code]

I don't see anything wrong there.

[2017-08-10 21:19] pwittrock commented on #47
Fixed in 1.8

https://github.com/kubernetes/kubernetes/commit/b99e57149d81aef8b0bbb3181f851257d18a2569

[2017-08-10 23:14] pwittrock commented on #45
@abstrctn  Thanks for filing this issue.  I was able to reproduce, though I am curious about your use case.  Is it just to validate that the command line args are correct, or something else?

[2017-08-10 23:50] mengqiy commented on #47
https://github.com/kubernetes/kubernetes/pull/47460 doesn't fix this issue with `:`.
Reopening the issue.

[2017-08-11 00:01] mengqiy commented on #47
It seems kubectl doesn't like `:` in the env key.

@shiywang Do have bandwidth to verify if this is a bug in Cobra or in kubectl code?

[2017-08-11 04:40] shiywang commented on #47
/assign

[2017-08-11 19:54] apelisse opened #49 "Allow client-side validation against OpenAPI rather than Swagger"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): validation, openapi

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-08-13 19:06] pwittrock opened #50 "Remove kubectl dependencies on unversioned kubernetes API packages"
Change libraries that rely on unversioned API structs from kubernetes/kubernetes to use externally available versioned structs from kubernetes/api

[2017-08-13 21:40] mengqiy commented on #50
Also see:https://github.com/kubernetes/kubernetes/issues/48564

[2017-08-14 02:48] xilabao opened #51 "kubectl set resource/selector/subject -o yaml doesn't return the expected format"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-08-14 09:14] CaoShuFeng commented on #51
rolebinding "admin" subjects updated

In my cluster, when I run with -o yaml nothing is printed.

[2017-08-15 13:30] zjj2wry commented on #12
@pwittrock @alexandercampbell seems intersting with this. Can I have a go at this?

[2017-08-15 17:07] alexandercampbell commented on #12
/unassign
/assign @zjj2wry
Sure, go for it.

[2017-08-16 07:39] zhangxiaoyu-zidif commented on #12
Good to see it :) :+1:

[2017-08-16 14:01] gtirloni opened #52 "`kubectl run --expose` continues after error (missing parameter)"
**Versions**:

[code]

**What happened**:

When using `--expose`, it's necessary to specify `--port` and kubectl correctly terminates with an error, but the deployment is still created.

[code]

**What you expected to happen**:
I expected the kubectl wouldn't proceed with the action and nothing would be created.

**How to reproduce it** (as minimally and precisely as possible):
Run `kubectl run ng

[2017-08-17 03:24] zjj2wry commented on #52
/assign

[2017-08-18 13:40] zjj2wry commented on #52
who can help closes this issue, i forget write ```closes xxx``` so that it keep open~

[2017-08-18 13:41] zjj2wry commented on #52
@kargakis

[2017-08-18 13:56] kargakis commented on #52
/assign

[2017-08-18 13:56] kargakis commented on #52
/close

[2017-08-18 13:56] #52 closed

[2017-08-18 14:01] gtirloni commented on #52
@kargakis was this closed by accident?

[2017-08-18 14:07] zjj2wry commented on #52
@gtirloni this issue has fixed. you can check this by use master kubectl. thanks

[2017-08-18 14:13] kargakis commented on #52
Fixed by https://github.com/kubernetes/kubernetes/pull/50834

[2017-08-18 15:42] gtirloni commented on #52
Sorry, I got lost with all the messages here. Thanks for fixing this, much appreciated.

[code]

[2017-08-22 22:08] pwittrock commented on #49
/priority important-soon

[2017-08-22 22:08] pwittrock commented on #49
cc @kubernetes/sig-cli-feature-requests

[2017-08-22 22:09] pwittrock commented on #49
/assign @apelisse

[2017-08-24 23:23] pwittrock commented on #11
cc @kubernetes/sig-cli-feature-requests

[2017-08-24 23:24] pwittrock commented on #49
/priority critical-urgent

[2017-08-24 23:24] pwittrock opened #53 "Test issue in milestone"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-08-24 23:27] pwittrock commented on #53
/kind feature
/priority important-soon
/sig cli

[2017-08-24 23:29] pwittrock commented on #11
/sig cli

[2017-08-24 23:30] pwittrock opened #54 "Test issue move out of milestone"
This should be moved out because it is missing labels

[2017-08-25 00:16] marun commented on #53
/priority backlog

[2017-08-25 00:17] marun commented on #53
/priority important-longterm

[2017-08-25 07:13] mengqiy opened #55 "kubectl apply should use openapi"
kubectl apply should use openapi to calculate diff.
This will mitigate version skew issue.

[2017-08-25 11:46] zjj2wry commented on #45
i cannot reproduce this. maybe has fix ??
[code]

[2017-08-25 15:00] abstrctn commented on #45
@pwittrock Sorry for my late response - I probably should have included my original goal in the issue so wouldn't forget it... It does seem to still be happening on my version of kubectl, though I know it's not the latest (1.7.3)

Using `-o yaml` or json should work fine though. Normally we use dry-run inside automation scripts to template out baseline resources, which we then modify using `jq` (i

[2017-08-25 18:24] cjwagner commented on #54
bump

[2017-08-28 18:21] cbluth opened #56 "kubectl cycle pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cycle, refresh

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE

[2017-08-29 13:04] tnozicka opened #57 "kubectl delete returns incorrect exit status"
**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
`kubectl delete` returns bad exit status. It was unable to delete specified resources and exited with code 0.

**What you expected to happen**:
Exit with non zero exit code.

**How to reproduce it** (as minimally and precisely as possible):
[code]

[2017-08-29 18:34] apelisse commented on #56
Deleting pods manually is not ideal if you want a rolling update to the new values (and avoid downtime). It's a little bit tedious.

The "correct" way to do it is to create a new configmap everytime you want to change a value, and then update-then-apply (or edit) the deployment to point to that new configmap. This will automatically perform a rolling-update. It is tedious to create a new configmap

[2017-08-29 20:29] apelisse commented on #57
That's arguable. That command line `kubectl delete pod --ignore-not-found=false -l foo=bar ...` doesn't have a specific resource to delete, but a label of resources to find and delete.

Finding no resource that match a label is pretty different from failing to find the specific item you wanted to delete. In other words, it didn't fail to delete any of the matching items, it just didn't find any.

[2017-08-29 21:11] apelisse commented on #57
Generalizing a little bit more. What about `kubectl get pods`? When the cluster is new and no pods are running, doing `kubectl get pods` returns "No Resource Found" (without errors). I don't think that should be a failure.

Similarly, if you say `kubectl get pods unknown-pods`,  that should fail if `unknown-pods` doesn't exist.

And similarly, `kubectl get pods -l some-label=no-exist` returns "No

[2017-08-31 23:46] apelisse commented on #51
Marking as enhancement since I don't think this has been thought through nor ever worked.

[2017-08-31 23:49] apelisse commented on #45
Don't you use that with `-o yaml/json` though?

[2017-09-01 00:03] apelisse opened #58 "Verify that kubectl can parse openapi"
Since https://github.com/kubernetes/kube-openapi/pull/10 is moving parsing code for `openapi` from the main repo to https://github.com/kubernetes/kube-openapi/, we need to verify that the full swagger openapi file can still be parsed.

This is just a reminder that we need to do that.
In other word, we need to add a test in the main repo that verifies that the parsing code can parse the openapi swa

[2017-09-01 09:54] JorritSalverda opened #59 "Return list of operation ids from 'kubectl apply' and add 'kubectl await' to wait for their results"
**FEATURE REQUEST**

I use `kubectl apply` to perform rolling updates for _Deployments_, rolling updates for _StatefulSets_, updates for _Deamonsets_, etc. Usually with multiple manifests in one file (namespace, secret, service, deployment).

To verify whether those updates finish successfully I currently need to figure out which one - or combination - of the above actions I just applied. Nicer wo

[2017-09-03 01:18] #49 closed

[2017-09-05 08:19] grebois commented on #30
[code]

[2017-09-05 09:25] dixudx commented on #12
@pwittrock and others I'm working on `statefulset`. Already submitted a [PR #51944](https://github.com/kubernetes/kubernetes/pull/51944). PTAL.

[2017-09-05 09:52] dixudx commented on #12
@pwittrock and others I'm working on `replicaset`. Already submitted a [PR #51946](https://github.com/kubernetes/kubernetes/pull/51946). PTAL.

[2017-09-05 14:00] timothysc commented on #30
I originally saw it on the delta in behavior from two different generated versions, which could be a false positive.

[2017-09-05 15:56] apelisse commented on #59
I think I agree with all of that, but the choice of `await` as a keyword kind of confused me.

Would you mind updating the description of the issue to include an expected output for `kubectl await ...` ?

[2017-09-06 15:29] JorritSalverda commented on #59
I've added a description on what `kubectl await` - or whatever name covers its meaning :) - is expected to do.

[2017-09-07 15:53] aleksandra-malinowska opened #60 "kubectl annotate fails for annotations with prefix"
`kubectl annotate` fails to set annotation containing prefix:

[code]

kubectl version:

[code]

This has been replicated on head (v1.9.0-alpha.0.408+ea017719e52138-dirty) and with different kubectl versions (1.7.0, 1.7.5). Same command succeeds in GKE running 1.7.4.

[2017-09-07 15:53] aleksandra-malinowska commented on #60
cc @mwielgus @krzysztof-jastrzebski @janetkuo

[2017-09-11 09:46] Winterflower opened #61 "kubectl edit <resource> fails with Edit cancelled, no changes made even when file has modifications"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* edit ingress
* edit cancelled

also Google search on error message and kubectls editing

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:

[2017-09-11 16:04] mwielgus commented on #60
/assign @janetkuo

[2017-09-11 16:58] mengqiy commented on #51
IMO kubectl should print the object that API server returned in yaml format when `-o yaml`.

[2017-09-11 19:42] aauren opened #62 "Create Key Agent Integration for kubectl"
**Feature Description**
For those that don't want to have an unencrypted set of x509 keys on their system for kubectl to use, it would be helpful if kubectl were able to retrieve the x509 keys from a secure agent such as gpg-agent. That way, instead of having the certificates either specified by path or within the kubectl context itself in an insecure manner, kubectl could reference and retrieve t

[2017-09-11 20:02] mengqiy commented on #61
Can paste your manifest here?

[2017-09-11 21:35] rothgar commented on #62
/sig sig-auth
/sig sig-cli

[2017-09-11 21:41] rothgar commented on #62
/sig auth
/sig cli

[2017-09-12 00:47] mengqiy commented on #45
I can reproduce this issue with 1.7.5 kubectl
But I found kubectl built from HEAD works fine.

[2017-09-12 12:16] aleksandra-malinowska commented on #60
Closing as it was probably related to using incompatible versions.

[2017-09-12 12:16] #60 closed

[2017-09-12 21:48] Winterflower commented on #61
hi @mengqiy - could you please clarify what you mean by manifest? the YAML file I used to create the ingress? I tried googling for kubernetes manifest, but could not find anything actionable.

[2017-09-13 01:32] mengqiy commented on #61
Yes, yaml file

[code]
to be
[code]
There is no change between these two.
The order between `hosts` and `secretName` doesn't matter here, it's a map.
I think this is WAI. Closing.

Feel free to reopen if I miss something.

[2017-09-13 01:32] #61 closed

[2017-09-13 12:57] roffe commented on #30
same output with gcr.io/google_containers/hyperkube-amd64:v1.7.5 image.

Was wondering why one of my cron pods who's using this image for kubectl kept outputting

[code]
and landed here

[2017-09-18 14:38] jaraco commented on #48
I'm able to work around the issue by manually maintaining a name mapping in `/etc/hosts`:

[code]

But surely this isn't sustainable. Ideally, there'd be a fix for the issue so we don't have to maintain this mapping on each host.

[2017-09-19 14:59] vnalla commented on #30
I am getting the same for every kubectl command. I am using coreos/hyperkube:v1.7.4_coreos.0 and same result with 1.7.2_coreos_0 as well and there is go version mismatch at all
`kubectl version
2017-09-19 14:55:33.488846 I | proto: duplicate proto type registered: google.protobuf.Any
2017-09-19 14:55:33.489644 I | proto: duplicate proto type registered: google.protobuf.Duration
2017-09-19 14:55:33

[2017-09-20 15:55] dims commented on #30
related to https://github.com/kubernetes/kubernetes/pull/52132

[2017-09-21 22:39] smarterclayton opened #63 "ANSI escape sequences aren't terminated by kubectl logs"
Partial ANSI sequences escape `kubectl logs` (at least on my OS X terminal).  I *think* we may need to look at what other tools like head and tail do.

[2017-09-28 18:05] #51 closed

[2017-09-29 16:59] apelisse commented on #63
I really doubt any of these tools are smart.

Maybe: `PS1="\[\033[0m\]$PS1"` :-)

[2017-09-29 20:44] apelisse opened #66 "Deprecate "Discovery" and replace with openapi"
This is a feature request, or an invitation to discuss the above idea.

The cache mechanism for discovery is far from perfect, and there is quite some code that we could remove from kubectl by using openapi rather than the current discovery mechanisms.

I'll try to investigate what this would mean, but I think that no so many things would be impacted.

cc @pwittrock @mbohlool

*Please cc whoever m

[2017-09-30 11:10] kargakis commented on #56
Updates to a config map should project inside your container seconds after you update the configmap. Or isn't this the case with envFrom? Pretty sure it works for volumes. If your app knows how to reread config on an interval, it should be able to pick up the new config.

[2017-10-02 12:59] iamcaleberic opened #67 "Error when trying to run kubectl create command on yaml files"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2017-10-02 16:30] apelisse commented on #66
FYI @smarterclayton @liggitt

[2017-10-02 16:51] liggitt commented on #66
openapi for schema seems reasonable, but I would not expect to stop using the group/version/kind discovery docs which convey structure and precedence information not present in the openapi docs

[2017-10-02 16:56] apelisse commented on #67
@iamcaleberic Could you tell me more about the Kubernetes environment that you're using? is it a minikube server? There is a known limitation against minikube servers https://github.com/kubernetes/minikube/issues/1996 (cf [1.8 release note](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#known-issues) too)

Let me know if that's NOT what it is.

Thank you,

[2017-10-02 17:09] apelisse commented on #66
Can't we get this information from the "paths" section of the openapi?

[2017-10-02 17:14] liggitt commented on #66
no. those don't contain the same information as the discovery docs (resource name, shortnames, categories, precedence order). additionally, forcing fetching a single monolithic swagger doc is not scalable as the number of API groups and resource increases (with aggregated APIs). Even creating that aggregated doc has repeatedly proven problematic.

[2017-10-02 17:19] pwittrock commented on #67
@mbohlool can you follow up on this

cc @k8s-mirror-api-machinery-bugs

[2017-10-02 18:18] mbohlool commented on #67
@pwittrock Sure. I will wait for @apelisse question to be answered. Most probably this is minikube but will look further if it is not.

[2017-10-02 18:26] mbohlool commented on #66
@liggitt I think:
- we should any missing discovery information to OpenAPI spec as extensions.
- kubectl is fetching OpenAPI spec anyway. It and make more sense for it to use OpenAPI spec instead of hitting discovery endpoint every time.
- With aggregated API server, we only have one shortcoming to make this work (adding default spec for endpoints with no OpenAPI spec to add discovery information

[2017-10-02 20:00] mbohlool commented on #66
related: https://github.com/kubernetes/kubernetes/issues/44589

[2017-10-02 20:05] liggitt commented on #66
I am in favor of removing swagger in favor of openapi (no need for two schema descriptors)

only in the case of client side validation, which we want to remove

invalidating a multi-megabyte discovery document every time any aggregated API changes any detail doesn't seem like a good idea.

[2017-10-02 20:11] mbohlool commented on #66
Can you elaborate in cases that we change something in the discovery and current OpenAPI spec is not invalidated?

Adding another data point:
- discovery information is cached for 10 minutes in kubectl. So changes in discovery will not be seen by kubectl for a while. But if they are in OpenAPI spec they will be seen instantly (in practice).

[2017-10-02 20:17] liggitt commented on #66
The vast majority of the places kubectl uses discovery data, it doesn't need the schema information, it just needs enumerated resources, version precedence, and kind/resource mapping.

Making it fetch a cache-invalidated monolithic discovery doc just for that information isn't desirable.

We'll maintain the existing discovery APIs indefinitely for clients that do not need schema information, and j

[2017-10-02 20:22] apelisse commented on #66
I'm not disagreeing with that point, but just for the sake of precision, it's actually ~100kb gzipped.

[2017-10-02 20:30] apelisse commented on #66
I think my goal was to improve the caching mechanism of discovery, and since we already have a "better" cache for openapi, I thought it'd be nice to just re-use it. But I have to agree with @liggitt on his points.

So the questions is (for another issue probably): can we improve the caching for discovery paths?

[2017-10-02 21:06] mbohlool commented on #66
@apelisse @liggitt I think the question here is are we OK with having 10 minutes cache for discovery or not. If we are not, then we can work on another/better cache for discovery or we can rely on already existing OpenAPI cached version. The thing is our performance tests shows that reading <100kb OpenAPI spec on cache invalidation is very fast (especially because it is in proto format) and won't

[2017-10-02 21:24] mbohlool commented on #66
@apelisse yes, I am asking for more detail on that. Like an actual example and the frequency of it happening.

[2017-10-03 00:58] tonglil commented on #56
Most, if not a lot of, apps (especially off the shelf) don't know to reread config on intervals. For example, even nginx requires the user to manually reload it.

My use case is trying to automate the changing of config for the https://github.com/cloudendpoints/esp that only accepts parameters via flags. Even if I set those flags from environment vars, I still need to cycle the pods to get it run

[2017-10-03 03:07] apelisse commented on #56
And that's probably the sane thing to do. You want declaratively defined configuration, and your app to behave in a predictable way. The recommended way is to: update the config-map with new options, change its name, change the configmap reference in the deployment to that new name, commit these two files, review that this is a good change, merge and deploy.

[2017-10-03 03:43] cbluth commented on #56
RE: https://github.com/kubernetes/kubectl/issues/56#issuecomment-333301655
If this is the case, then consider my original issue invalid. I didn't know the changes were instant. I will have to try it out.

[2017-10-03 03:49] apelisse commented on #56
I don't think there is much we can do about it. Also, know that @monopole and @mengqiy are working on a new declarative management tool that would address your problems with updates to configmaps.

[2017-10-03 03:49] #56 closed

[2017-10-03 15:11] AnthonyWC opened #68 "kubectl config get-contexts show no cluster?"
Just set up a new AWS cluster with private DNS + private topology on AWS:

```kops create cluster --zones=$AWS_ZONE --name=${CLUSTER_NAME} --vpc=${VPC_ID} --topology private --bastion=true --networking weave --associate-public-ip=false --cloud=aws```

kops recognize the cluster:
[code]

But output of ```kubectl config get-contexts``` does not list anything under cluster
[code]

I tried to manually

[2017-10-03 15:56] apelisse commented on #68
Where is the name `example-poc` coming from? Can you look at your `$HOME/.kube/config` and try to connect the dots:
- `current-context` field is probably `example-poc`
- Look in the `contexts` section for a context named `example-poc`, does it exist?
- What is the value for `cluster`? is it `beta.example.com`?
- Can you find that value in `clusters` section? Does the `server` field map your expect

[2017-10-03 16:23] zjj2wry commented on #68
`kubectl config get-clusters` will show your clusters.

and you can use `kubectl config set-context example-poc --cluster=beta1.example.com` update `example-poc` context configuration

[2017-10-03 18:27] AnthonyWC commented on #68
I ended up just manually editing $HOME/.kube/config by hand which seems to sort out kubectl and kops somewhat (at least they give out more normal error since .kube/config was basically empty;

[code]
Not sure why kops create ... command created a cluster that did not populate .kube/config with updated informationfor some reason.

I also noticed kops actually created a new public dns zone even thou

[2017-10-03 18:27] #68 closed

[2017-10-03 18:55] apelisse commented on #68
Maybe you should open a ticket for `kops` though? that still seems like a situation we don't want to be in. But I don't think it's a kubectl bug though.

Thank you!

[2017-10-03 20:47] pwittrock opened #69 "Refactor kubectl apply code to be maintainable"

[2017-10-03 21:41] #69 closed

[2017-10-04 10:38] iamcaleberic commented on #67
@apelisse yes I am running a minikube server

[2017-10-04 15:47] apelisse commented on #67
I'm so glad to hear that! :-)

I'm closing this issue, let's follow up on https://github.com/kubernetes/kubectl/issues/67

Thank you

[2017-10-04 15:47] #67 closed

[2017-10-04 15:48] apelisse commented on #62
CC @cjcullen

[2017-10-04 16:40] marun opened #70 "IGNORE: Test Issue"
Foo

[2017-10-04 16:40] marun commented on #70
/label kind/cleanup

[2017-10-04 16:41] marun commented on #70
/kind bug

[2017-10-04 16:41] marun commented on #70
/priority important-soon

[2017-10-04 16:42] marun commented on #70
/sig cli

[2017-10-04 16:45] marun commented on #70
/label approved-for-milestone

[2017-10-04 22:04] marun commented on #70
Updated.

[2017-10-04 22:05] marun commented on #70
Updated again?

[2017-10-04 23:56] marun commented on #70
Update

[2017-10-05 01:59] marun commented on #48
I need to temporarily remove this from the milestone due to munger spamming.  Will re-enable shortly.

[2017-10-05 02:37] marun opened #71 "IGNORE: Another test issue"

[2017-10-05 02:39] marun opened #72 "IGNORE: Yet another test issue"

[2017-10-05 02:41] marun commented on #71
Update

[2017-10-05 02:46] marun commented on #71
Update

[2017-10-05 02:55] marun commented on #72
Update

[2017-10-05 21:00] marun commented on #70
[MILESTONENOTIFIER] Milestone Issue **Current**

@marun

<details open>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.
- `priority/important-soon`: Escalate to the issue owners and SIG owner; move out of milestone after several unsuccessful escalation attempts.
- `kind/bug`: Fixes a bug discovered during the current release.
</details>
<details>
<sum

[2017-10-05 21:02] marun commented on #71
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action Required**: This issue has not been updated since Oct 5. Please provide an update.

**Note**: This issue is marked as `priority/critical-urgent`, and must be updated every 0 days during code slush.

Example update:

[code]
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalate

[2017-10-05 21:02] marun commented on #72
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action Required**: This issue has not been updated since Oct 5. Please provide an update.

**Note**: This issue is marked as `priority/critical-urgent`, and must be updated every 0 days during code freeze.

Example update:

[code]
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalat

[2017-10-05 21:02] marun commented on #72
Update

[2017-10-05 21:04] marun commented on #71
[MILESTONENOTIFIER] Milestone Labels **Incomplete**

@marun

**Action required**: This issue requires label changes. If the required changes are not made within 0 days, the issue will be moved out of the v1.8 milestone.

_**priority**_: Must specify exactly one of `priority/critical-urgent`, `priority/important-longterm` or `priority/important-soon`.

<details>
<summary>Help</summary>
<ul>
 <li><a

[2017-10-05 21:04] marun commented on #72
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action Required**: This issue has not been updated since Oct 5. Please provide an update.

**Note**: This issue is marked as `priority/critical-urgent`, and must be updated every 0 days during code freeze.

Example update:

[code]
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalat

[2017-10-05 21:06] marun commented on #48
[MILESTONENOTIFIER] Milestone Issue **Current**

@jaraco

<details open>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.
- `priority/important-soon`: Escalate to the issue owners and SIG owner; move out of milestone after several unsuccessful escalation attempts.
- `kind/bug`: Fixes a bug discovered during the current release.
</details>
<details>
<su

[2017-10-05 21:06] marun commented on #70
[MILESTONENOTIFIER] Milestone Issue **Needs Approval**

@marun @kubernetes/sig-cli-bugs

**Action required**: This issue must have the `status/approved-for-milestone` label applied by a SIG maintainer. If the label is not applied within 0 days, the issue will be moved out of the v1.7 milestone.
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.

[2017-10-05 21:06] marun commented on #71
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action required**: During code slush, issues in the milestone should be in progress.
If this issue is not being actively worked on, please remove it from the milestone.
If it is being worked on, please add the `status/in-progress` label so it can be tracked with other in-flight issues.

**Note**: If this is

[2017-10-05 21:06] marun commented on #72
[MILESTONENOTIFIER] Milestone **Removed**

@marun @kubernetes/sig-cli-bugs

**Important**: Code freeze is in effect and only issues with `priority/critical-urgent` may remain in the v1.9 milestone.

<details>
<summary>Help</summary>
<ul>
 <li><a href="https://github.com/kubernetes/community/blob/master/contributors/devel/release/issues.md">Additional instructions</a></li>
 <li><a href="https://git

[2017-10-05 21:08] marun commented on #70
[MILESTONENOTIFIER] Milestone Issue **Needs Approval**

@marun @kubernetes/sig-cli-bugs

**Action required**: This issue must have the `status/approved-for-milestone` label applied by a SIG maintainer. If the label is not applied within 0 days, the issue will be moved out of the v1.7 milestone.
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.

[2017-10-05 21:08] marun commented on #71
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action required**: During code slush, issues in the milestone should be in progress.
If this issue is not being actively worked on, please remove it from the milestone.
If it is being worked on, please add the `status/in-progress` label so it can be tracked with other in-flight issues.

**Note**: If this is

[2017-10-05 21:08] marun commented on #72
[MILESTONENOTIFIER] Milestone Issue **Needs Approval**

@marun @kubernetes/sig-cli-bugs

**Action required**: This issue must have the `status/approved-for-milestone` label applied by a SIG maintainer. If the label is not applied within 0 days, the issue will be moved out of the v1.9 milestone.
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.

[2017-10-05 21:10] marun commented on #70
[MILESTONENOTIFIER] Milestone Issue **Current**

@marun

<details open>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.
- `priority/important-soon`: Escalate to the issue owners and SIG owner; move out of milestone after several unsuccessful escalation attempts.
- `kind/bug`: Fixes a bug discovered during the current release.
</details>
<details>
<sum

[2017-10-05 21:10] marun commented on #71
[MILESTONENOTIFIER] Milestone Issue **Needs Attention**

@marun @kubernetes/sig-cli-bugs

**Action required**: During code slush, issues in the milestone should be in progress.
If this issue is not being actively worked on, please remove it from the milestone.
If it is being worked on, please add the `status/in-progress` label so it can be tracked with other in-flight issues.

**Note**: If this is

[2017-10-05 21:10] marun commented on #72
[MILESTONENOTIFIER] Milestone Issue **Needs Approval**

@marun @kubernetes/sig-cli-bugs

**Action required**: This issue must have the `status/approved-for-milestone` label applied by a SIG maintainer. If the label is not applied within 0 days, the issue will be moved out of the v1.9 milestone.
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.

[2017-10-05 21:12] marun commented on #71
[MILESTONENOTIFIER] Milestone Issue **Current**

@marun

**Note**: If this issue is not resolved or labeled as `priority/critical-urgent` by the time heck freezes over it will be moved out of the v1.8 milestone.
<details open>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.
- `priority/important-soon`: Escalate to the issue owners and SIG owner; move

[2017-10-05 21:12] marun commented on #72
[MILESTONENOTIFIER] Milestone Issue **Needs Approval**

@marun @kubernetes/sig-cli-bugs

**Action required**: This issue must have the `status/approved-for-milestone` label applied by a SIG maintainer. If the label is not applied within 0 days, the issue will be moved out of the v1.9 milestone.
<details>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.

[2017-10-05 21:14] marun commented on #72
[MILESTONENOTIFIER] Milestone **Removed**

@marun @kubernetes/sig-cli-bugs

**Important**: This issue was missing the `status/approved-for-milestone` label for more than 0 days.

<details>
<summary>Help</summary>
<ul>
 <li><a href="https://github.com/kubernetes/community/blob/master/contributors/devel/release/issues.md">Additional instructions</a></li>
 <li><a href="https://github.com/kubernetes/t

[2017-10-05 21:32] marun commented on #72
[MILESTONENOTIFIER] Milestone **Removed**

@marun @kubernetes/sig-cli-bugs

**Important**: Code freeze is in effect and only issues with `priority/critical-urgent` may remain in the v1.9 milestone.

<details>
<summary>Help</summary>
<ul>
 <li><a href="https://github.com/kubernetes/community/blob/master/contributors/devel/release/issues.md">Additional instructions</a></li>
 <li><a href="https://git

[2017-10-05 22:25] #72 closed

[2017-10-05 22:25] #71 closed

[2017-10-05 22:25] #70 closed

[2017-10-05 22:26] marun commented on #48
[MILESTONENOTIFIER] Milestone Issue **Current**

@jaraco

<details open>
<summary>Issue Labels</summary>

- `sig/cli`: Issue will be escalated to these SIGs if needed.
- `priority/important-soon`: Escalate to the issue owners and SIG owner; move out of milestone after several unsuccessful escalation attempts.
- `kind/bug`: Fixes a bug discovered during the current release.
</details>
<details>
<su

[2017-10-06 20:50] pwittrock opened #73 "Replace type "switch" statements with KindVisitor"
Time commitment: 5-10 hours (assuming knowledge of Go)

These sorts of type switches are brittle and break when new groups are added.

https://github.com/kubernetes/kubernetes/blob/28857a2f02ef1490bb6b0109dc1fd7fa5ecae11b/pkg/kubectl/history.go#L56

Instead we should use a common library that is updated, so we don't have to update the code in a dozen places:

https://github.com/kubernetes/kubernet

[2017-10-09 15:53] pwittrock opened #74 "Transition ownership of tests that tests resource specific logic to SIG apps"
Per-discussion with @erictune, SIG apps should own kubectl tests that primarily test generators and logic for specific resources.

[2017-10-09 15:54] pwittrock opened #75 "Setup tools for an oncall rotation for SIG cli"
We need to be able field setup a rotation for fielding support and keeping tests healthy

[2017-10-09 16:25] erictune commented on #74
I can't tell exactly what the "set" and "create" tests are.  Can we get a list or pointer to the code?

[2017-10-09 16:57] pwittrock opened #76 "Move kubectl tests in common test jobs into their own jobs"
The test results on the [test grid page](https://k8s-testgrid.appspot.com/sig-cli) show the results of test jobs running both non-cli tests and cli tests.  Isolate the signal for cli tests from non-cli tests, we should move the cli tests into their own test jobs.

[2017-10-09 16:59] pwittrock opened #77 "Update skew tests on test grid to be 1.8-1.9 instead of 1.7-1.8"
The test results on the [test grid page](https://k8s-testgrid.appspot.com/sig-cli) show the results of test jobs running both non-cli tests and cli tests.  Isolate the signal for cli tests from non-cli tests, we should move the cli tests into their own test jobs.

[2017-10-09 19:25] pwittrock commented on #74
@seans3 Can you figure out which of the tests on the [sig-cli](https://k8s-testgrid.appspot.com/sig-cli#gce) test grid page are concerned with details specific to specific resource types or workloads?

[2017-10-16 17:05] pwittrock opened #78 "New apply path crashes when there is no group"

[2017-10-16 17:58] #78 closed

[2017-10-16 20:34] pwittrock opened #79 "Publish SIG-CLI 1.9 goals"
Write a quick document outlining the 1.10 goals for kubectl and check it into the repo.  Solicit what the community is planning.

[2017-10-16 23:47] apelisse commented on #66
OK, closing this now. I think we agree that it's a bad idea. Please re-open if you want this revisited.

[2017-10-16 23:47] #66 closed

[2017-10-16 23:50] apelisse commented on #57
No updates, closing

[2017-10-16 23:50] #57 closed

[2017-10-17 14:03] superbrothers commented on #5
@shiywang @pwittrock @alexandercampbell @mengqiy I implemented completion for kubectl cp and created a PR. Please check and review it on kubernetes/kubernetes#54068.

[2017-10-17 20:36] pwittrock opened #80 "Umbrella Issue: Remove kubectl dependencies on kubernetes/kubernetes"
Remove from:
- [x] pkg/kubectl/resources #81

To Remove:
- [ ] pkg/apis #83

[2017-10-17 20:36] pwittrock opened #81 "Remove pkg/kubectl/resource deps on kubernetes/kubernetes"
Part of #80

[2017-10-18 15:24] pwittrock commented on #73
@mahdix can you take this one?

[2017-10-18 15:24] pwittrock commented on #73
cc @mengqiy @seans3

[2017-10-18 17:10] pwittrock opened #83 "Remove Kubectl dependencies on kubernetes/pkg/api and kubernetes/pkg/apis"
Background:
Kubernetes resource structs have 2 versions - an internal version and an external version.  Kubectl should only depend on the external versions so that it can be moved into its own repo and be maintained independently from the server.  To do this, we must replace instances where an internal type and client is used with the external type and client.

An example PR of how to do this can

[2017-10-18 19:23] pwittrock opened #84 "SIG CLI Leads Tasks"
- [ ] Routinely check [maintainers tasks](https://github.com/kubernetes/kubectl/blob/master/docs/maintainers/MAINTAINERS.md)
- [ ] Identify new contributor for SIG CLI and provide them opportunities and guidance
- [x] Setup on call rotation for maintainers tasks - @shiywang is starting to look into this
- [ ] Clean up reviewers / approvers, remove old entries
  - Who has left the project in the co

[2017-10-18 19:23] pwittrock commented on #84
cc @fabianofranz @adohe @mengqiy

[2017-10-19 16:00] pwittrock commented on #45
Apparently fixed in 1.8

[2017-10-19 16:00] #45 closed

[2017-10-19 16:02] pwittrock commented on #50
Closing in favor of kubernetes/kubectl#83

[2017-10-19 16:02] #50 closed

[2017-10-19 16:17] pwittrock opened #86 "Support generating CA and self signed certs"
Time commitment: 30-60 hours (assuming knowledge of Go and crypto libraries)

We need to be able to generate CA's and self signed certificates and provide them to the Kubernetes apiserver for creating certain resources.

Currently this is done by users who need to run shell commands to generate the certificates.  Kubectl should support generating canonical certs for users.

We should write a go li

[2017-10-19 16:24] pwittrock commented on #86
@samanthakem can you take this issue?

[2017-10-19 21:36] pwittrock opened #87 "Support integration test framework that brings up a new control plane"
Time commitment: 30-60 hours (assuming knowledge of Go and the Ginkgo test framework)

We need a way to write integration tests for kubectl and point it at a control plane (apiserver, controller-manager, etcd, scheduler) running locally.

As a kubectl developer, when I write an integration test for kubectl, there should be a ginkgo test framework that launches a new control plane, and provides a k

[2017-10-20 00:01] pwittrock opened #88 "Create test library that emulates a node"
As a kubectl contributor, I want to be able to run integration tests against a control plane without real nodes.

We want to be able to support the following in kubectl tests using a real apiserver + etcd + controll-ermanager + schedule, but without any real node:
- testing`describe nodes`
  - needs to register itself as a node with the apiserver
  - needs to support multiple nodes
- testing `logs

[2017-10-20 05:55] samanthakem commented on #86
Yes @pwittrock. Thank you!

[2017-10-20 11:40] yland commented on #87
@pwittrock Could I be assigned to this issue, I would like to work on it.

[2017-10-20 17:20] mahdix commented on #73
Sure.

[2017-10-20 18:36] mindprince opened #89 "`kubectl logs -f` is not working correctly on 1.8"
/kind bug

`kubectl logs -f ` is not working on Kubernetes 1.8. It gets stuck and only returns when the container exits.

I tested it in GKE 1.6.11 and 1.7.8 and it works there. But doesn't work on GKE 1.8.0.

Here's a simple reproduction:
1. Create a 1.8.0 or 1.8.1 cluster.
2. Run a simple busybox container and `echo "hello"`.
[code]
3. In another terminal, try `kubectl logs` without `-f`. It wor

[2017-10-20 18:40] pwittrock opened #90 "Remove dependency on k8s.io/kubernetes/pkg/apis/policy from kubectl"
Remove dependencies from packages under `k8s.io/kubernetes/pkg/kubectl/...` on `k8s.io/kubernetes/pkg/apis/policy` by converting them to use the `k8s.io/api/policy/v1beta1` package

[2017-10-20 18:43] pwittrock opened #91 "Remove dependency on k8s.io/kubernetes/pkg/apis/rbac from kubectl"
Remove dependencies from packages under `k8s.io/kubernetes/pkg/kubectl/...` on `k8s.io/kubernetes/pkg/apis/rbac` by converting them to use the `k8s.io/api/rbac/v1` package

[2017-10-20 18:55] pwittrock opened #92 "Remove dependency on k8s.io/kubernetes/pkg/apis/extensions from kubectl"
Remove dependencies from packages under k8s.io/kubernetes/pkg/kubectl/... on `k8s.io/kubernetes/pkg/apis/extensions/v1beta1` by converting them to use the `k8s.io/api/policy/v1beta1` package

[2017-10-20 22:55] pwittrock commented on #86
Excellent.  Reach out if you need help.

[2017-10-21 00:05] pwittrock opened #93 "Meta/Umbrella: Improve `pkg/kubectl/resource`unit / integration test coverage and structure"
**Note:** The items can be completed incrementally, but are not easy to parallelize.  Taking this issue does not commit you to completing all of the items, just the next ones on the list.

The [pkg/kubectl/resource](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/resource) is critically important, but we have very little unit or integration test coverage for it and even less docum

[2017-10-21 00:08] pwittrock commented on #87
I won't be able to officially assign it to you until we add you as a collaborator, but will remove it from the open pool.  We can do this once you complete this first task.  @yland

[2017-10-21 03:40] pwittrock commented on #87
Please reach out if you later discover that you need more direction on this task.

[2017-10-21 04:31] #81 closed

[2017-10-21 16:34] pwittrock opened #94 "Create library for parsing commandline flags -> protocol buffer"
Expected hours: 20-50 (assuming some knowledge of Go, Cobra and ProtocolBuffers)

Topics:
- Go
- Go spf13/Cobra
- Go ProtocolBuffers
  - Field options / extensions
  - SelfDescribing messages

Problem: Business logic in cli libraries read flags directly and depend upon cobra.  This makes it hard to test and reuse the business logic in other clis, since the libraries depend directly upon the flags.

[2017-10-21 16:52] pwittrock opened #95 "Document k8s.io/kubernetes/pkg/kubectl/resource"
The [kubectl/resource](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/doc.go) package has almost no documentation

- Write the doc.go with overview of what the package does and how to use it. Include examples.
  - Look at how it is already used to help figure this out
- Document the code for types and functions
- Write a CONTRIBUTING.md for this package with anything you

[2017-10-21 17:27] pwittrock opened #96 "Document the kubectl ring factories"
Time commitment: 10-20 hours

kubectl uses "ringfactory" objects to hold state and initialize dependencies kubectl commands.

The design is somewhat complex, and additional documentation would be helpful.

We should write a `doc.go` file that goes into more detail about the factory patterns, providing examples of why the pattern is necessary, how to override sub factories, how to initialize a new

[2017-10-21 17:48] pwittrock opened #97 "Add conflict detection to pkg/kubectl/apply/strategy"
Time commitment: 5-15 hours

First read the apply documentation:
https://kubernetes.io/docs/tutorials/object-management-kubectl/declarative-object-management-configuration/

Apply is being rewritten under `pkg/kubectl/apply/strategy`.  The new merge and replace code should check for conflicts between the last seen value and the current value, and optionally return an error if they do not match wit

[2017-10-21 23:01] pwittrock commented on #87
Also note that this task, while encapsulated, is a bit large in scope.  Feel free to tackle a smaller one for your first contribution instead.

[2017-10-21 23:06] pwittrock opened #98 "Document pkg/kubectl/cmd/util/env"
Document [pkg/kubectl/cmd/util/env](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd/util/env).
- Add a `doc.go` describing what the package is for and providing examples on how to use it
- Improve type and function code-comment documentation

[2017-10-21 23:08] pwittrock opened #99 "Document pkg/kubectl/cmd/util/editor package"
Document the [pkg/kubectl/cmd/util/editor](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd/util/editor) package

- Add a `doc.go` with overview of the package and examples for usage
- Audit and improve type and function code comments.  Improve documentation.

[2017-10-21 23:14] pwittrock opened #100 "Document pkg/kubectl/cmd/util/openapi"
Document code under [pkg/kubectl/cmd/util/openapi](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl/cmd/util/openapi)

- Write a `doc.go` file with an overview and examples
- Audit functions.  Write code comments for any under documented functions

[2017-10-23 02:18] shiywang commented on #94
/assign

[2017-10-23 02:36] dixudx commented on #89
@mindprince I did not reproduce this.

Both v1.7 and v1.8 work well.

[2017-10-23 06:30] alessbn commented on #90
Hi @pwittrock I'd like to pick this issue.

[2017-10-23 12:55] frodenas opened #101 "Several kubectl Pod Disruption Budget Generators issues"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Pod Disruption Budget

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-10-23 13:24] frodenas commented on #90
@alessbn, my apologies, I didn't see your comment on this issue when I started working on another PR that fixes some Pod Disruption Budget issues. https://github.com/kubernetes/kubernetes/pull/54411 fixes partially fixes this, but there're still some other files to update. I already started working on them, but as you commented here first that you'll pick the issue, I will stop working on it.

[2017-10-23 13:45] frodenas commented on #91
Seems @shiywang is already working on this at https://github.com/kubernetes/kubernetes/pull/54210

[2017-10-23 14:11] yland commented on #92
@pwittrock I would like to let you know that I just successfully compiled the Kubernetes source  code and I am currently working on this issue for my initial contribution.

[2017-10-23 15:53] ellenkorbes commented on #98
I'll take this one :)

[2017-10-23 16:17] pwittrock commented on #98
@ellenkorbes Thanks.  Assigned to seans3 as a placeholder until you are added to the repo.

[2017-10-23 19:03] alessbn commented on #90
@frodenas thank you, as a new contribuitor is not easy for me pick an issue :sweat_smile:

[2017-10-23 19:51] pwittrock commented on #87
@yland unassigning since you picked up a different task

[2017-10-23 21:20] alessbn commented on #90
Hi @frodenas you can keep working on the issue I'll pick up issue 95 😄

[2017-10-23 21:24] alessbn commented on #95
@pwittrock I'll pick up this issue

[2017-10-24 01:41] yuexiao-wang commented on #99
@pwittrock I would like to work on it.

[2017-10-25 09:40] yuexiao-wang commented on #99
/cc @seans3 @mengqiy I would like to take this

[2017-10-25 14:54] pwittrock commented on #95
cc @seans3 @mengqiy

[2017-10-25 15:15] pwittrock commented on #95
@alessbn ACK

[2017-10-25 15:26] php-coder opened #104 "kubectl exec: mark -p option as deprecated in the help output"
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?**:
kubectl deprecate

---

**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
`-p` option of `kubectl exec` is deprecated:
[code]
But it's not marked as deprecated in the help output:
[code]

**What you expected

[2017-10-25 15:34] apelisse commented on #95
Awesome @alessbn ! Feel free to assign me when you're done! :-) Thank you

[2017-10-25 22:16] #90 closed

[2017-10-26 02:37] smarterclayton commented on #73
These should all be behind the factory interface, not exposed to kubectl directly.  How will someone extend these for non core resources?

[2017-10-26 07:53] jyoti0208 commented on #100
@pwittrock I am interested in working for this issue

[2017-10-26 08:56] yuexiao-wang commented on #104
I would like to work on it

[2017-10-26 10:26] hartfordfive opened #107 "Panic on deleting statefulset on kubernetes 1.8.1-gke.0"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?**:  BUG REPORT

**Kubernetes version

[2017-10-26 12:36] Juntaran commented on #30
same for each kubectl command in v 1.7.6
Everything is normal in v 1.5.0 with same config

`[root@localhost ~]# kubectl version
2017-10-26 20:32:21.787720 I | proto: duplicate proto type registered: google.protobuf.Any
2017-10-26 20:32:21.787779 I | proto: duplicate proto type registered: google.protobuf.Duration
2017-10-26 20:32:21.787792 I | proto: duplicate proto type registered: google.protobu

[2017-10-26 14:51] pwittrock commented on #100
cc @seans3 @mengqiy

[2017-10-26 16:51] apelisse commented on #104
I can't assign it to you, but I greatly appreciate you doing this. I'm looking at your PR right now. Thanks.

[2017-10-26 17:30] jkemp101 commented on #48
This appears to be a normal issue with go apps.  The resolution process is described here https://golang.org/pkg/net/.  I think we need to get `kubectl` to use CGO but I can't figure out how to force that yet.  Just a random guess but might be because its cross compiled https://github.com/golang/go/commit/c9164a5d77be38fb5aa3940908b8dd2cdd494618?

[2017-10-26 17:41] apelisse commented on #107
Kubectl is not tested nor supported with more than 1 version skew. Can you update your version of Kubectl and see if it still fails?

Thank you,

[2017-10-26 19:05] phagunbaya commented on #30
In my case go version and kubelet version as same. Still seeing this
[code]

[2017-10-26 23:11] julianvmodesto commented on #97
I'm interested in giving this a shot – I'll need some examples of conflicts for tests. Will try finding some.

[2017-10-27 03:12] mindprince commented on #89
Tried to reproduce it with @mengqiy. We were not able to reproduce it on normal GKE clusters.

But we were able to reproduce it on [GKE alpha clusters](https://cloud.google.com/container-engine/docs/alpha-clusters) (`--enable-kubernetes-alpha`). This flag enables all alpha features in Kubernetes.

[2017-10-27 03:22] mindprince commented on #89
https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go lists all the alpha features we have, I wonder which one is conflicting with following logs.

[2017-10-27 15:23] jkemp101 commented on #48
I changed `CGO_ENABLED=0` to `1` here https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L526 and then compiled `kubectl` locally on my mac by running `make kubectl`.  The built binary used the regular OS name resolution and would resolve my cluster name using the DNS server specified by my VPN client.

Obviously not a fix.  Need someone that knows the go build details to see

[2017-10-27 18:22] php-coder opened #109 "kubectl create clusterrolebinding -o yaml shouldn't create a binding"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

clusterrolebinding

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-10-27 18:24] php-coder commented on #109
`-o` option should imply `--dry-run` option.

[2017-10-27 18:26] php-coder commented on #109
I'm also surprised that it uses `rbac.authorization.k8s.io/v1beta1` instead of `rbac.authorization.k8s.io/v1` for `apiVersion`.

[2017-10-27 20:23] mengqiy commented on #89
@mindprince
I tried in a version skew env:
kubectl 1.8.2 vs GKE1.7.8 work
kubectl 1.7.6 vs GKE1.8.1-gke.0 NOT work

I think this means the bug is in the apiserver. Where is your original issue in main repo?

[2017-10-27 20:59] mindprince commented on #89
@mengqiy https://github.com/kubernetes/kubernetes/issues/54205

[2017-10-27 22:08] vishh commented on #89
@jlewi FYI

[2017-10-27 22:21] mengqiy commented on #89
Reopened kubernetes/kubernetes#54205.

[2017-10-29 04:35] alessbn commented on #95
Hi @apelisse I will split this issue into three PR as follows:
- [ ] Write a CONTRIBUTING.md.
- [ ] Document the code.
- [ ] Write the doc.go with overview and examples.

[2017-10-29 21:54] apelisse commented on #95
@alessbn Sounds like a good plan to me!

For that last point, you can use #54572 as an example.

[2017-10-30 11:08] wackxu commented on #109
Actually, in all `create resource` command, `-o`  option doesn't imply  `--dry-run`  flag true, I think it is the just design purpose. and in my environment I try servral times and  it always use the  `rbac.authorization.k8s.io/v1` for `apiVersion`,I can not recurrent it.

[2017-10-30 13:25] liggitt commented on #94
Agree with a layer of indirection. Most of our commands do this as options structs, which we can bind cobra flags to. It's unclear to me what the addition of protobuf accomplishes here.

[2017-10-30 13:27] smarterclayton commented on #94
Yeah, we have three or four examples of this, which reuse our existing infra for objects.  Why do we need something new?

[2017-10-30 13:27] liggitt commented on #94
the options struct is described in https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#command-implementation-conventions

[2017-10-30 15:47] pwittrock commented on #94
The context for this is not to rewrite kubectl comands, but provide a more maintainable approach for plugins and new clis.  I would be happy to put together a more formal design proposal once the space has been explored enough to provide a PoC.

Defining the flags declaratively instead of imperatively promotes better decoupling between command logic and cobra / environment which helps avoid [this

[2017-10-30 22:38] #17 closed

[2017-10-30 22:43] pwittrock commented on #86
@samanthakem Any updates?

[2017-10-31 08:52] junaid18183 commented on #30
Same for me
[code]

[2017-10-31 08:55] roffe commented on #30
It's fixed from Kubernetes 1.8 and onward. Update to get rid of it

A cherry-picked backport to 1.7 is in the pipeline: https://github.com/kubernetes/kubernetes/pull/53950

[2017-10-31 12:13] ellenkorbes commented on #98
This was mostly solved on [this PR](https://github.com/kubernetes/kubernetes/pull/54572) except for the GetEnvVarRefString and GetEnvVarRefValue functions, as explained there.

[2017-10-31 15:23] samanthakem commented on #86
@pwittrock sorry for the delay, yes... in fact there are some follow up questions I should have done before.

- Where the ```certificates``` folder would be located within the k8s context?

- Would you like the ```kubectl alpha create certificates``` to abstract all of the three mentioned commands **at once** or would be something like ```kubectl alpha create certificates X```, ```kubectl alpha cr

[2017-10-31 16:44] cdikibo commented on #96
@pwittrock I'm interested in this issue

[2017-11-01 01:22] mihnjong opened #113 "Need a command to list all available/existing types (or resources) in a cluster"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no. `kubectl get all --all-namespaces` does not show all resources such as secrets.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "sec

[2017-11-01 01:45] shiywang commented on #113
https://github.com/kubernetes/kubernetes/pull/42873

[2017-11-01 16:53] pwittrock commented on #73
We shouldn't be compiling into types to kubectl at all, but instead use a combination of duck-typing (via discovery API and openapi) and polymorphic subresources to support dynamic types.  This approach will provide support for CRDs and version skew in addition to other non-core types.

If we need to support compiling in non core resources before this, I expect that is complex enough to warrant it

[2017-11-01 19:54] julianvmodesto commented on #97
@pwittrock cc @seans3 @mengqiy

I've an initial handle on this, but i'm a new contributor fyi so i might need some coaching if that's ok :)

Seems like we need something for field equality that's not `reflect.DeepEqual`, is there something for field equality available in apimachinery? I'll poke around.

[2017-11-01 21:27] apelisse opened #114 "[UMBRELLA] Kubectl independence"
The goal of this issue is to track research, implementations and improvements that can be done in order to have a more independent development of Kubectl features.

This effort is based on @pwittrock documents: https://goo.gl/2RYvqG and https://goo.gl/j2hnrG

Kubectl independence would lead to less friction with other Kubernetes development, increased velocity, simplification of the testing infras

[2017-11-01 21:47] dims commented on #83
@quinton-hoole - seems like a list of things that can be done mechanically here. if we have some folks to help out.

[2017-11-01 21:52] apelisse opened #115 "[UMBRELLA] Kubectl independence: testing"
Part of #114.

Improve Kubectl independence by improving testing.

Currently, kubectl is tested against kubernetes and kubernetes is tested using kubectl. This tight coupling prevents kubectl from being tested quickly and adequately.

The goal of this issue is to track the steps and improvements that can be done to test kubectl independently from Kubernetes (or at least improve that state).

[2017-11-01 21:54] apelisse opened #116 "[UMBRELLA] Kubectl independence: releasing"
Part of #114.

Improve Kubectl independence by releasing independently.

Kubectl is currently released as part of core kubernetes, on a 3-month schedule.

The goal of this issue is to track the feasibility of releasing independently, and the challenges and improvements that needs to be done.

[2017-11-01 21:56] apelisse opened #117 "[UMBRELLA] Kubectl independence: code refactoring"
Part of #114.

Improve Kubectl independence by refactoring the code into well-documented, well-tested, re-usable pieces with mockable/fakeable interfaces. These pieces of code should have a limited number of dependencies (to avoid spaghetti).

The goal of this issue is to track the refactoring efforts.

- [ ] #132 Walking/Reading/Writing to Unstructured types with OpenAPI
- [ ] #133 Move packages

[2017-11-01 21:58] apelisse opened #118 "[UMBRELLA] Kubectl independence: documentation"
Part of #114.

Improve Kubectl independence by improving its documentation.

This is mostly about:
- Documenting the code and the interfaces
- Maintaining kubectl documentation
- Document the release-process

[2017-11-02 06:15] shiywang opened #119 "kubectl convert should return error when out-version is an invalid value"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.0-alpha.1.2069+b518a80cef0302-dirty", GitCommit:"b518a80cef03022132e70

[2017-11-02 10:36] calind opened #120 "Cannot autocomplete kubectl bash aliases"
The default `kubectl` complete function `__start_kubectl` does not work with bash aliases:

[code]

__Actual output:__
[code]

__Expected output:__
[code]

[2017-11-02 20:57] hartfordfive commented on #107
@apelisse I updated my kubectl client to a recent version and that did fixed the issue.  Thanks for your help.

[2017-11-02 20:57] #107 closed

[2017-11-03 05:56] WanLinghao commented on #83
Is  this job  going  by some  kind of order? @pwittrock

[2017-11-03 19:07] #119 closed

[2017-11-06 05:05] mudejar commented on #93
@mengqiy @seans3 @pwittrock I'd like to take this issue as a first task to contribute if no one else has already been assigned to it

[2017-11-06 10:02] bkrannich opened #121 "Autocomplete issues with --from-file and --from-literal"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: minikube
- **OS** (e.g. from /etc/os-release): macOS Sierra, 10.12.6
- **Kernel** (e.g. `uname -a`): `Darwin WDFM31654402A 16.7.0 Darwin Kernel Version 16.7.0: Wed Oct  4 00:17:00 PDT 2017; root:xnu-3789.71.6~1/RELEASE_X86_64 x86_64`
- **Install tools**: n/a
- **Others**: `GNU b

[2017-11-06 13:53] yland commented on #92
@pwittrock, I would like to inquire if you think it is better to solve all of this in one pull request or if I can do multiple pull requests given the number of modules that need to be updated such as scale, rollout_status, rollback etc.

[2017-11-06 19:37] pwittrock commented on #92
More smaller PRs is best

[2017-11-06 19:44] pwittrock opened #122 "Setup submit queue and prow testing for kubectl PRs"
Complete kubectl repo setup with issue / pr bots, submit queue, and PR tests

- We should make sure all the pull tests work against feature-branches as well as master.

[2017-11-06 19:45] pwittrock commented on #122
@apelisse @droot we should finish this off

[2017-11-07 16:29] pwittrock commented on #93
@mudejar It is all yours.  Please work with @droot

[2017-11-07 18:19] apelisse commented on #109
I agree with @wackxu that -o changes the way things are printed, not what is performed.

Feel free to close the issue, or I'll do it in a week or so if you're fine with that @php-coder

[2017-11-07 20:12] #122 closed

[2017-11-07 20:21] php-coder commented on #109
Ok, probably you are right.

[2017-11-07 20:21] #109 closed

[2017-11-07 21:25] apelisse commented on #122
We could probably improve further, but let's open specific issues if needed.

[2017-11-08 02:52] smarterclayton opened #123 "kubectl CLI should more consistently and concisely convey discovery"
Moved from kubernetes/kubernetes#53387

----------

Now that discovery is complete as an API, and CRD and aggregation are in heavy use, we need to make some minor tweaks to kubectl to improve discoverability of apis from clients.

Common issues:

1. I want to see all resources that I might be able to create
2. I want to be able to disambiguate conflicting resources
3. I want to distinguish between

[2017-11-08 03:13] shiywang opened #124 "[E2E_TEST] Move run_initializer_tests into runTests()"
In `hack/make-rules/test-cmd-util.sh` e2e function [run_initializer_test](https://github.com/kubernetes/kubernetes/blob/5590c1fb94e09f9a2b7a09c9776e8d6535b18304/hack/make-rules/test-cmd-util.sh#L4968) was not being record by function `record_command`, it would be better if we can records its output/error messages in junit format

[2017-11-08 12:51] AlexandreRoba opened #125 "Kubectl completion zsh error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Kubectl completion zsh

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-11-08 18:33] janetkuo commented on #73
https://github.com/kubernetes/kubernetes/blob/28857a2f02ef1490bb6b0109dc1fd7fa5ecae11b/pkg/kubectl/history.go#L56

The type switches in `GroupKindElement.Accept()` are brittle too:
https://github.com/kubernetes/kubernetes/blob/33f873dbbee58caffcff9e7b44f174a32ec1df92/pkg/kubectl/apps/kind_visitor.go#L51-L52

ReplicaSet exists in "apps" group as well.

[2017-11-08 18:33] janetkuo commented on #73
https://github.com/kubernetes/kubernetes/blob/28857a2f02ef1490bb6b0109dc1fd7fa5ecae11b/pkg/kubectl/history.go#L56

The type switches in `GroupKindElement.Accept()` are brittle too:
https://github.com/kubernetes/kubernetes/blob/33f873dbbee58caffcff9e7b44f174a32ec1df92/pkg/kubectl/apps/kind_visitor.go#L51-L52

ReplicaSet exists in "apps" group as well.

[2017-11-08 19:01] mahdix commented on #73
@janetkuo AS these two (`ReplicaSet` and `CronJob`) are not used in `HistoryViewerFor` method, can we do these fixes in another PR?

[2017-11-08 19:08] janetkuo commented on #73
Yes, that's a separate issue (a bug in KindVisitor, instead of replacing something with KindVisitor) and should be fixed in a another PR.

Btw, based on the description, this issue is more general than just HistoryViewer? For example, rollback.go uses type switches too: https://github.com/kubernetes/kubernetes/blob/33f873dbbee58caffcff9e7b44f174a32ec1df92/pkg/kubectl/rollback.go#L59-L69

[2017-11-08 20:11] drywheat commented on #120
I can confirm the same behavior on my end

[2017-11-08 20:23] mahdix commented on #73
I would suggest we keep this issue open and after PR#55257 was merged, open refactor `rollback` in a follow-up PR. Then close this issue.

[2017-11-09 01:59] mengqiy commented on #92
https://github.com/kubernetes/kubernetes/pull/54493 doesn't solve all of them. Reopening.
@yland Don't close this issue in your PR until all of them are resolved.

[2017-11-09 06:32] superbrothers commented on #121
This issue seems to be already fixed in cobra by https://github.com/spf13/cobra/pull/415.

[2017-11-09 07:32] m1093782566 commented on #83
@quinton-hoole @dims I can be the volunteer.

[2017-11-09 07:32] m1093782566 commented on #83
/assign

[2017-11-09 14:17] mahdix opened #126 "Update type switches in "kind_visitor""
(Quoting from @janetkuo)
[code]
This is a follow up from https://github.com/kubernetes/kubectl/issues/73.

[2017-11-09 14:17] mahdix commented on #126
I will pick up this.

[2017-11-09 14:20] mahdix opened #127 "Replace type "switch" statements with KindVisitor in "rollback""
This is a follow-up ticket from https://github.com/kubernetes/kubectl/issues/73

Quoting @janetkuo:

[2017-11-09 14:21] mahdix commented on #127
I will work on this.

[2017-11-09 14:22] yland commented on #92
@mengqiy Thanks, I did not realize it would automatically close this.

[2017-11-09 14:23] yland commented on #92
/reopen

[2017-11-11 09:16] mengqiy commented on #92
/reopen

[2017-11-14 03:44] amalucelli commented on #120
I don't know if this is the best/right solution, but I made `k` autocomplete by doing `source <(kubectl completion bash | sed 's/kubectl/k/g')`.

[2017-11-14 14:47] wgordon17 opened #131 "Please add fish completion"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "fish"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUE

[2017-11-14 15:00] saj commented on #120
https://github.com/cykerway/complete-alias is kind of amazing.  With this, there is no need to modify the original completion functions, and it works with lazily-loaded completions.

[2017-11-15 05:24] shiywang commented on #131
FYI: https://github.com/kubernetes/kubernetes/issues/30763

[2017-11-15 17:13] apelisse commented on #127
Thanks for working on this @mahdix!

[2017-11-15 17:13] apelisse commented on #126
Thanks @mahdix. Let me know if you need help, feedback or anything

[2017-11-15 17:14] apelisse commented on #125
What is the error?

[2017-11-15 18:17] apelisse opened #132 "Kubectl independence: Walking/Reading/Writing to Unstructured types with OpenAPI"
It'd be nice to be able to use Unstructured types as easily as actual Go types.

We could give some thoughts to use OpenAPI to provide a nice framework to find fields, read values, and changes some fields.

This issue will track these efforts.

This is also orthogonal to fixing the union types in the kubernetes API (issue #?).

[2017-11-15 18:25] apelisse opened #133 "Kubectl Independence: Move packages from `k8s.io/kubernetes/pkg/kubectl` to `k8s.io/kubectl/pkg`"
Rather than moving everything from Kubectl directly to a new repo, let's move packages that could be use either by Kubectl or by any other kubernetes client application, to `k8s.io/kubectl`.

I'll try to keep track of the packages moved/to be moved in that issue (help wanted):

- [ ] #135 Move `k8s.io/kubernetes/pkg/kubectl/apply` to `k8s.io/kubectl/pkg/apply`
- [ ] #136 Move `k8s.io/kubernetes/pk

[2017-11-15 18:30] apelisse commented on #116
A couple of thoughts on releasing:
- Ideally, this repository is `go get`-able, so you can get kubectl by just running `go get k8s.io/kubectl/cmd/kubectl`,
- If we want to maintain multiple versions, we can use `gopkg.in` and branches,
- We could provide tarballs with pre-compiled versions for people who don't want to install the go suite.
- We could create ubuntu/homebrew/distro-specific packages

[2017-11-15 21:55] apelisse opened #134 "Write `kubectl alpha apply`"
@pwittrock has written a great new piece of code to do apply using openapi. It's much easier to read, modify and use. It's not used at all for now though. It would be nice to build a new `kubectl alpha apply` to start using it. Maybe also fix the bugs.

We could also, on top of that, add new layers to fix the broken behavior in `kubectl apply` that we can't fix with the existing code.

@pwittrock

[2017-11-15 22:45] apelisse opened #135 "Move `k8s.io/kubernetes/pkg/kubectl/apply` to `k8s.io/kubectl/pkg/apply`"
And make sure it's properly tested, documented, with nice examples, few dependencies.

[2017-11-15 22:46] apelisse opened #136 "Move `k8s.io/kubernetes/pkg/kubectl/explain` to `k8s.io/kubectl/pkg/explain`"
And make sure it's properly tested, documented, with nice examples, few dependencies.

[2017-11-15 22:48] apelisse opened #137 "Move `k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi` to `k8s.io/kubectl/pkg/openapi`"
Or maybe it should go somewhere else, to be thought through.

[2017-11-16 01:48] wackxu commented on #136
I can help do this.

[2017-11-16 04:09] apelisse commented on #136
@wackxu great! Let me know if you need any feedback/help or anything else. Feel free to ping me on slack (apelisse) if you want IM. Thank you!

[2017-11-16 04:10] apelisse commented on #136
I can't assign to you since you're not "part of the org". I'm assigning to me to make it clear that someone is working on it.

[2017-11-16 05:35] mengqiy commented on #136
Do we have policy about this?

I guess you can assign using github instead of using `/assign`

[2017-11-16 05:39] apelisse commented on #136
No :-/ I just can't find that name in the list.

[2017-11-16 05:41] mengqiy commented on #136
I see. Interesting :-\

[2017-11-16 05:53] mengqiy opened #138 "Use structured generator for kubectl autoscale"
`kubectl autoscale` is using parameter injection style generator at the moment.

It should implement the [structured generator interface](https://github.com/kubernetes/kubernetes/blob/c3ed0f26636d0fc5c3905a0c09bf4886da8512c9/pkg/kubectl/generate.go#L49-L52) like deployment generator: https://github.com/kubernetes/kubernetes/blob/c3ed0f26636d0fc5c3905a0c09bf4886da8512c9/pkg/kubectl/deployment.go#L1

[2017-11-16 05:55] wackxu commented on #138
I can help fix it

[2017-11-16 05:58] mengqiy commented on #138
Great!
I found I can't assign it to you. So I will assign it to myself for now. Ping me on slack when the PR is ready or you have some question.

[2017-11-16 05:58] wackxu commented on #138
@mengqiy Ok, Thanks

[2017-11-16 11:34] zzq392342084 opened #139 "kubectl logs Error from server (Forbidden): Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy)"
kubectl create command works correctly,but kubectl logs and kubectl exec not :
Error from server (Forbidden): Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=proxy)

[2017-11-16 14:07] totherme commented on #91
Hi folks. From what we can tell from looking at kubernetes/kubernetes#54210 , that PR might have fixed this, but it got closed without merging with the comment "after rebase, since rbac already been fixed, so close this."

Looking at the state of master, it seems like there are still three files with dependencies on `k8s.io/kubernetes/pkg/apis/rbac`
* `pkg/kubectl/cmd/auth/reconcile.go`
* `pkg/kub

[2017-11-16 19:00] apelisse commented on #115
Key component of testing: #87

[2017-11-16 19:13] apelisse commented on #87
@pwittrock wrote somewhere else:

The goal is to deprecate `test-cmd.sh` for the many reasons that makes it a bad thing (it's very hard to debug, it's monolithic, and much more)

[2017-11-16 19:28] apelisse commented on #87
I think it might be useful to think broader. If I work on nodes, wouldn't I need to test against these components too? Let's just say we should have composable testing components, that let's a kubernetes engineer, or even an engineer working on a kubernetes solution, test his software easily, **reliably** and quickly.

[2017-11-16 20:51] #73 closed

[2017-11-16 21:24] naisanza opened #140 "kubectl -n kube-system and kubectl --all-namespaces, differ in behavior"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-system all-namespaces

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug?

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-releas

[2017-11-16 21:46] pwittrock commented on #87
Agreed, the next big step for this is helping folks test their CRDs, which would mean some way of loading the CRD and controller from the harness as well.

[2017-11-16 23:36] apelisse opened #141 "OpenAPI: Use OpenAPI semantic rather than x-kubernetes custom directives"
We currently implement union through the `x-kubernetes-patch-strategy: retainKeys` sub-strategy. We could replace that with OpenAPI "oneof" semantic, available in [OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md).

We might be able to remove other custom directives by having a better definition of our objects.

[2017-11-16 23:46] wrossmann opened #142 "`kubectl proxy --accept-hosts` appears to filter destination, not source."
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**:
- Client: v1.8.3
- Server: v1.7.8-gke.0

**Environment**:
- **Cloud provider**: Google [GKE]
- **OS**:
    - Client: CentOS 6/7 [client]
    - Server: cos-stable-61-9765-66-0
- **Install tools**: gcloud

**What happened**:
In my development VM [10.0.1.100] I started kubectl proxy to provide full access to the Dashboa

[2017-11-17 01:06] stewart-yu commented on #139
have your cluster RABC opened? and can you provide more information about your cluster

[2017-11-17 01:55] pwittrock opened #143 "Enable use-openapi-print-columns in kubectl"
If the openapi scheme lists the columns to print for an object, we should print them.

[2017-11-17 06:49] naisanza commented on #140
@steward-yu should this be fixed to have universal behavior?

[2017-11-17 07:00] stewart-yu commented on #140
In my opinion, you should follow command line rules: `-n` is `kubectl `command options, but `--all-namespaces` response to `kubectl <commandname>`. In other word, `-n` and `--all-namespaces`  are use in different level. @naisanza

[2017-11-17 11:40] #101 closed

[2017-11-17 13:08] #126 closed

[2017-11-18 18:32] josephspurrier commented on #120
Same issue on my end in OS X.

[2017-11-18 19:36] #143 closed

[2017-11-19 17:18] mahdix commented on #96
@cdikibo Are you working on this?

[2017-11-19 23:49] ahmetb opened #146 "--show-labels shows up on "kubectl create [...]""
- (ideally) `--show-labels` should not show up at `kubectl create service` command('s help)
- and it should error out when it's silently ignored like it's done today

For example:

[code]

this command should fail and say `invalid flag "--show-labels" for "create"` or something like that.

[2017-11-20 02:18] wackxu commented on #146
Actually there are so many cases like this. When there are some unused flag but cobra command can recognize, for example  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/printing.go#L44-L52
when we use  --show-all when we create service but do not specify the -output flag

[2017-11-20 03:28] ahmetb commented on #146
It might be by-design. I'm not sure. I just wanted to bring up in case it is completely useless.

I recently opened an issue in the main repo (now fixed): if you specify --show-labels and incompatible printer (-o yaml) it now prints a validation error.

Similarly I think it should fail if --show-labels isn't applicable to the command.

[2017-11-20 09:18] totherme commented on #87
This looks awesome. @hoegaarden and I would like to have a crack at it. We chatted with @pwittrock about it on a call, and have a good idea where to start.

cc @seans3 @mengqiy I would like to take this

[2017-11-20 14:01] shiywang commented on #87
@totherme cool, since I can't assign to you now, assign myself as a placeholder : )

[2017-11-20 16:02] pwittrock commented on #87
+1

[2017-11-20 22:10] ahmetb opened #147 ""kubectl describe" events query is too specific"
Right now if I run a command like `kubectl describe service foo -v=10` I see that the query to retrieve `Events` is like:

`I1120 14:07:00.770878   34700 round_trippers.go:417] curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubectl/v1.8.2 (darwin/amd64) kubernetes/bdaeafa" https://35.192.225.48/api/v1/namespaces/doctor/events?fieldSelector=involvedObject.kind%3DService%2Cinvo

[2017-11-20 23:10] ahmetb opened #148 "kubectl create service: ignores extra positional arguments"
See:

    $ kubectl create service loadbalancer --tcp=80:80 lb-1 lb-2 lb-3
    service "lb-1" created

it will silently ignore `lb-2` and `lb-3` arguments. If command takes exactly 1 positional argument, it should fail when executed command is not exactly 1.

[2017-11-21 00:56] stewart-yu commented on #148
i will have a look  about it.

[2017-11-22 06:02] mengqiy commented on #91
@totherme I have a inflight PR cleanup pkg/kubectl/cmd/set/set_subject.go and its tests: https://github.com/kubernetes/kubernetes/pull/56119

Feel free to take `pkg/kubectl/cmd/auth/reconcile.go`.

[2017-11-22 06:30] shiywang commented on #91
@mengqiy @totherme oh, sorry, seems something I missed, will submit a pr soon if you haven't working on this yet, have you ? @totherme

[2017-11-22 19:16] mengqiy opened #150 "Remove Registry usage in kubectl"
Echo what @caesarxuchao said in https://github.com/kubernetes/kubernetes/pull/55388#issuecomment-346227092:
[code]

IMO we can (should) get rid of `Registry` and `GroupFactoryRegistry` in [`legacyscheme`](https://github.com/kubernetes/kubernetes/blob/4e2f5e2212b05a305435ef96f4b49dc0932e1264/pkg/api/legacyscheme/scheme.go#L28-L33) and [`kubectl's scheme`](https://github.com/kubernetes/kubernetes/bl

[2017-11-22 19:59] #55 closed

[2017-11-23 09:16] totherme commented on #91
We hadn't started on it, so no worries :)

[2017-11-23 12:54] knutster commented on #48
Still an issue with 1.8.x.  Seriously, the fix is known, stop cross-compiling this for macOS.

[2017-11-23 18:16] pwittrock commented on #48
@knutster would you be interested in contributing a fix?

[2017-11-23 18:38] pwittrock commented on #48
Closed in favor of kubernetes/release#469.

We will need to continue to cross compile since the build process builds the binaries for all os distros.  However we can try to use the technique described [here](https://inconshreveable.com/04-30-2014/cross-compiling-golang-programs-with-native-libraries/) to make cross compilation work with cgo.

[2017-11-23 18:39] #48 closed

[2017-11-25 05:59] cdikibo commented on #96
@mahdix I was but I feel I don't know Go well enough to finish this in a timely matter.

[2017-11-27 20:33] AlexKhotian commented on #135
@apelisse
Hey, I'll try to move it. I hope, it's not urgent and I can take my time to get familiar with codebase.

[2017-11-27 21:04] apelisse commented on #135
Thanks @AlexKhotian ! Feel free to let me know how I can help!

[2017-11-28 11:21] tback opened #151 "kubectl get all does not list all resources in a namespace"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
get all, get all resources

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose on

[2017-11-29 02:39] stewart-yu commented on #151
`kubectl get all --namespace tmp` is wrong, you may use `kubectl get all --n tmp`

[2017-11-29 10:52] tback commented on #151
@stewart-yu: Double dash and short form (`kubectl get all --n tmp`) *doesn't work*!

Both variants below *do work*:
`kubectl get all --namespace tmp`
`kubectl get all -n tmp`

You can look that up in `kubectl options`:
[code]

[2017-11-29 11:08] stewart-yu commented on #151
Sorry, my mistakes. I will have a look about it

[2017-11-29 12:43] stewart-yu commented on #151
/kind bug

[2017-11-29 12:43] stewart-yu commented on #151
I will fix it ASAP

[2017-11-30 08:02] stewart-yu commented on #151
cc @smarterclayton  Described as above. We can not get `limitRange` for it is `unknown objects`?

[2017-11-30 08:04] stewart-yu commented on #151
cc @fabianofranz

[2017-11-30 11:18] totherme opened #152 "The Test Framework should not require special treatment in pre-commit.sh"
There is an MVP of the test framework discussed in #87 , but it relies on having special treatment in pre-commit.sh to pass the travis tests. In particular:

- The test framework directory is currently exempt from having to run `go test ./...`
- Instead, a custom script `pkg/framework/test/scripts/run-tests.sh` is called, which runs the tests using the ginkgo CLI

The tests of the test framework s

[2017-11-30 11:26] totherme opened #153 "The Test Framework's test fakes shouldn't be so tightly coupled with the implementations they test"
In the test framework MVP (discussed in #87 ), there is currently a tight coupling between the test fakes `pkg/frameworks/test/assets/fakeetcd/` and `etcd.go`. In particular, both of these currently know the exact flags that `etcd` ought to be called with. There is a similar issue with the apiserver fake.

We should find a way to adequately test this wiring which doesn't leave us with tightly coup

[2017-11-30 11:31] totherme commented on #152
@hoegaarden and I would like to work on this please.

cc @seans3 @mengqiy I would like to take this

[2017-11-30 14:37] fabianofranz commented on #151
There are some rules about which resources must fall under "all", take a look [here](https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all). Are the resources you want covered there?

[2017-11-30 15:02] totherme commented on #153
After investigating, we think that fixing this issue will make #152 easier, so we'd like to start with this.

@hoegaarden and I would like to work on this please.

cc @seans3 @mengqiy I would like to take this

[2017-11-30 15:06] tback commented on #151
Yes, limits are covered there (Rule 2: No namespace admin level resources (limits, quota, policy, authorization rules)).
This leaves me frustrated though:

1. `kubectl help get` describes `kubectl get all` as `List all resources with different types.` so I think I am right to expect *all* resources to be listed.
2. It might be ok if adminstrative resources are hidden from a normal user. As a clust

[2017-11-30 16:48] apelisse commented on #152
Since you are part of the org, I think you can just do `/assign` to get it assigned to you.

/assign @totherme @hoegaarden

[2017-11-30 16:56] smarterclayton commented on #151
There's an open issue for that - I'd like to see it solved, but it requires
some other work to happen because there are resources that exist, but
aren't deletable.

On Thu, Nov 30, 2017 at 10:06 AM, Till Backhaus <notifications@github.com>
wrote:

[2017-12-01 16:55] apelisse commented on #148
Assigning to me since I can't assign @stewart-yu. Thanks for taking a look at it!

[2017-12-01 16:57] apelisse commented on #132
I'm working on this, but if anybody wants to help, I'd be more than happy to share some of the work. I'll probably come-up with a more detailed plan.

[2017-12-01 16:58] apelisse commented on #125
Please specify the error. I'll close in two weeks if not updated. Thanks.

[2017-12-01 16:59] apelisse commented on #121
Yeah, can someone verify if this is fixed on a more recent kubectl? Thanks

[2017-12-01 17:05] apelisse commented on #139
I strongly suspect this is just mis-configured RBAC rules. Please clarify.

I'll try to close that in a week or so if no updates.

[2017-12-01 17:07] apelisse commented on #140
I agree with @stewart-yu.

Having ... `kubectl --all-namespaces create ...` makes no sense, while `kubectl -n some-namespace create ...` does.

[2017-12-01 17:18] apelisse commented on #142
I don't know who knows about proxy. @liggitt ?

[2017-12-01 17:22] apelisse commented on #146
Yeah, `create` uses the printer library (because you can print what you just created). And the printer library registers all the parameters it knows about.

You can do (even if it's completely useless):
[code]

[2017-12-01 17:23] apelisse commented on #146
We could return an error if `--show-labels` is specified and output is empty though.

[2017-12-02 09:58] AlexKhotian commented on #135
@apelisse  Hey, small update here. We'll try to do it over this weekend.

[2017-12-02 16:42] apelisse commented on #135
Great @AlexKhotian ! Let me know if you need any help/tips/whatever, and feel free to ping me on slack too!

[2017-12-02 16:43] apelisse commented on #135
You'll realize quickly, but I think it might depend on #137 being completed first. Feel free to start with that one if needed.

[2017-12-02 18:31] AlexKhotian commented on #135
@apelisse Okay, Thx =)! Currently looking into /util/openapi. Will try to move it before that issue.

[2017-12-02 23:23] mindprince commented on #89
/close
This is not a kubectl issue. https://github.com/kubernetes/kubernetes/issues/54205#issuecomment-346176210

[2017-12-02 23:23] #89 closed

[2017-12-04 01:43] Lion-Wei commented on #146
I can help to fix this. :-)

[2017-12-04 04:36] apelisse commented on #146
Great Lion-Wei, Thanks for working on that! Feel free to ping me on chat or ask for anything. I can't assign to you, so I'll just assign to me to mark it assigned.

[2017-12-04 05:49] apelisse commented on #146
Yeah, thanks, I forgot to do it ahah

[2017-12-04 08:13] Lion-Wei commented on #146
@apelisse I pushed a pr to do this. In that pr, kubectl will give a warning in this cases like this issue mentioned.
I have tested it, works fun. But might be immature in realization. Can you help me take a review? Thanks.

[2017-12-04 17:40] mengqiy opened #156 "Apply should not assume that publishing openapi spec means support strategic merge patch"
It was discussed in https://github.com/kubernetes/kubernetes/pull/51321#pullrequestreview-80212182.

According to https://github.com/kubernetes/kubernetes/pull/51321#discussion_r154271945, what we should do for this release is:
send strategic merge patch if the type is registered, JSON merge patch otherwise.

Creating this issue for tracking purpose.

[2017-12-04 18:55] #156 closed

[2017-12-04 19:29] apelisse commented on #146
I'm not sure we have a consensus on what needs to be done, and it's slightly too premature to come-up with code yet.

@ahmetb, can you please re-iterate what you expect?

[2017-12-04 20:18] ahmetb commented on #146
@apelisse I think the right thing to do here is to make sure `--show-labels` does not show up at `kubectl create service --help` and is not usable with the `kubectl create service` and other "create xxx" commands.

[2017-12-05 01:20] Lion-Wei commented on #146
ehhh, Here is how I understand:
When we use `kubectl create' with `--show-labels` but with out any `-o` specify, the `--show-labels` flag will not work. like:
[code]
But this flag not completely useless, cause when we use `kubectl create` with `-owide`, add this flag can print lables info, like:
[code]
So IMO, we can't just disable this flag in `kubectl create`, we need identify cases that the `--

[2017-12-05 01:21] Lion-Wei commented on #146
If I understand it wrong, please let me know, thanks... @ahmetb @apelisse

[2017-12-05 02:17] Lion-Wei commented on #76
If you want, I can help do this, seems lots time passed. :-)

[2017-12-05 02:23] ahmetb commented on #146
@Lion-Wei you're right. I wasn't aware of this. in this case we should fail when it does not apply. We recently made similar fix to kubectl where we errored if `-o=...` value is not compatible with `--show-labels` (e.g. `-o=yaml --show-labels`). You can dig that PR up and extract common code.

[2017-12-05 03:43] Lion-Wei commented on #146
Ok, sounds good, I will do that.

[2017-12-05 05:42] Lion-Wei commented on #146
@ahmetb Sorry to ask, but I can't find that pr anywhere, can you give me some information about it? Thanks.

[2017-12-05 05:44] ahmetb commented on #146
https://github.com/kubernetes/kubernetes/pull/55371

[2017-12-05 06:13] shiywang commented on #132
@apelisse hi, is this still wip, anything I could help here ?

[2017-12-05 16:59] apelisse commented on #132
Hi @shiywang, yeah I'm still working on this. If you need help finding something useful to do, I think we could talk on slack!

[2017-12-05 18:06] apelisse commented on #146
We should probably be more generic and move the verification to the printer code.

[2017-12-05 22:24] hoegaarden commented on #153
As #154 & #155 are merged, this issue can be closed.
@totherme @apelisse

[2017-12-05 22:26] #153 closed

[2017-12-05 22:26] apelisse commented on #153
I think you can use `/close` or something :D

[2017-12-06 01:24] Lion-Wei commented on #146
@apelisse I extracted printer verification of `delete` `create` and others to `util/printing.go`. I'm thinking maybe there are other cases that should validate, if so, we can add to that function too.

[2017-12-06 03:02] shiywang commented on #121
@apelisse we can verify this once that update vendor spf13/cobra pr merged which is after 1.9 release I guess ?

[2017-12-06 04:31] apelisse commented on #121
One could check-out the master branch, merge that PR locally, compile kubectl and see if it is fixed.

[2017-12-06 04:42] apelisse commented on #146
I'm thinking that it might make more sense with the printers package itself. That's where the printer logic lives, that's what is supposed to know how to interpret the options, and which combinations of option make sense and which don't.
@smarterclayton who knows the most about printing.

[2017-12-06 07:34] shiywang commented on #121
yes, we can do that beforehand, but we will merge that anyway since it not only fix this issue but also the others, so how about test it after merge.

[2017-12-06 08:48] shiywang commented on #88
@totherme  is your testing framework covered this part ? if not @vfreex and me would like to work on this.

[2017-12-06 19:20] apelisse commented on #147
@caesarxuchao Would you happen to know that, or someone who might now? Thanks

[2017-12-06 19:22] apelisse commented on #140
@naisanza I'd be happy to know why you disagree? :-)

[2017-12-06 19:23] apelisse commented on #139
Feel free to re-open if needed! Thanks

[2017-12-06 19:23] #139 closed

[2017-12-07 11:18] hoegaarden opened #161 "In the testing framework, the Etcd struct should have sane 0-value behaviour"
In #157 @apelisse commented:

[code]

That doesn't currently work. Let's make the Etcd bit of it it work. (the apiserver bit is in #162, and
making it work for `Fixtures{}` is #163)

More specifically:

`&Etcd{}.Start()` should start an etcd server listening on some random port. We ought to be able to query the struct for that port.

[2017-12-07 11:19] hoegaarden opened #162 "In the testing framework, the APIServer struct should have sane 0-value behaviour"
In #157 @apelisse commented:

[code]

That doesn't currently work. Let's make the APIServer bit of it it work. (the etcd bit is in #161, and
making it work for `Fixtures{}` is #163)

More specifically:

`&APIServer{}.Start()` should start an etcd server listening on some random port, then start an api server that talks to that etcd. The api server should be listening on a different random port. We

[2017-12-07 11:50] hoegaarden opened #163 "In the testing framework, the Fixtures struct should have sane 0-value behaviour"
In #157 @apelisse commented:

[code]

That doesn't currently work for either of those structs, or even for the `Fixtures{}` struct. Let's make it work for `Fixtures`. (the etcd bit is in #161, and the apiserver bit is in #162).

More specifically:

`&Fixtures{}.Start()` should behave like `NewFixtures("some/sane/etcd/binary/path", "some/sane/apiserver/path").Start()`

[2017-12-07 12:03] hoegaarden commented on #161
/assign @totherme @hoegaarden

[2017-12-07 14:17] hoegaarden commented on #163
/assign @hoegaarden @totherme

[2017-12-07 19:03] #152 closed

[2017-12-07 21:28] apelisse opened #164 "Understand and potentially remove `k8s.io/kubernetes/pkg/kubectl/testing`"
I don't understand what this is for. The `doc.go` file is plain wrong as it's just been copy-pasted from somewhere else (likely `k8s.io/kubernetes/pkg/kubectl`) and left unmodified.

Also the code is barely used anywhere, I'm wondering if we could remove that.

[2017-12-07 23:46] mengqiy commented on #164
Totally agree. The only usage in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/testing/zz_generated.deepcopy.go is generated. I believe it can be safely removed.

[2017-12-08 01:35] wackxu commented on #164
It also been used in https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers_test.go#L62,
It needs to implement  interface  `runtime.object`  for printers test use

[2017-12-08 02:08] Lion-Wei commented on #146
I can take some time to learn this part code, give the whole logic of printer, then we can decide what to do. You think that will work?

[2017-12-08 02:55] Lion-Wei commented on #164
We can still remove doc.go. : )
Since 'testing' package only have `testing.TestStruct`, and it only used in printers_test.go, maybe we can move it to `printers_test.go`.

[2017-12-08 04:57] apelisse commented on #164
Do we need that structure at all, in printers_test.go? Can we look at it and see if we could use something else, replace it somehow?

[2017-12-08 04:58] apelisse commented on #146
Yeah, that could. I think if you need to have a deep knowledge of printers, then something must be wrong. So don't get lost into too many details.

[2017-12-08 06:53] Lion-Wei commented on #164
I think it can be replaced. I'll try to do that. : )

[2017-12-08 18:28] #161 closed

[2017-12-08 20:26] superbrothers commented on #121
I merged spf13/cobra#415 into the master branch (https://github.com/superbrothers/kubernetes/commit/7a7e11459f0ffe3873b13d410a5e76f65db07e17) and verified this issue is fixed, but @shiywang is right, we should verify again after https://github.com/kubernetes/kubernetes/pull/53631 will be merged.

[2017-12-09 03:33] liggitt commented on #62
an interesting alternative could be an "exec for key" that could invoke a separate command to retrieve unencrypted pem key content. That command could possibly take advantage of an active ssh-agent or gpg-agent session to provide key content

[2017-12-10 17:20] mindprince opened #167 "`kubectl get all --all-namespaces` has duplicate output for `ds`, `deploy` and `rs`."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind bug

**Kubernetes version** (use `kubectl version`):
[code]

`kubectl get all --all-namespaces` has duplicate output for `ds`, `deploy` and `rs`.
[code]

/assign @mengqiy

[2017-12-11 03:21] ScorpioCPH commented on #167
@zjj2wry Could you take a look at this, thanks.

[2017-12-11 03:23] stewart-yu commented on #167
[https://github.com/kubernetes/kubernetes/issues/55720](https://github.com/kubernetes/kubernetes/issues/55720), PTAL

[2017-12-11 17:29] liggitt commented on #86
what is the intended use here?

[2017-12-11 23:24] hansbogert commented on #125
Seems this is hitting me as well.  How do I see errors when sourcing a zsh file? I just get the return error of 127. Writing to a file and then running `zsh completions-file` is not the same as sourcing even for syntax checking, if I remember zsh internals correctly.

I did verify that 1.7.11 did not have this, and 1.8.5 still does.

[2017-12-12 08:19] lenalebt opened #170 "Cannot ssh into (hanging) init container"
**What keywords did you search in Kubernetes issues before filing this one?** bash, init, exec

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind FeatureRequest

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T

[2017-12-12 09:13] zjj2wry opened #171 "Use discovery and dynamic client for cluster-info dump"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-12-12 09:14] zjj2wry commented on #171
/kind enhance

[2017-12-12 09:15] zjj2wry commented on #171
/kind feature

[2017-12-12 19:50] samanthakem commented on #86
@liggitt from my understanding, it is supposed to make the process of creating certs more automatic... read [this](https://kubernetes.io/docs/concepts/cluster-administration/certificates/). Let me know if you could answer the questions I made above. Thanks in advance!

[2017-12-12 20:05] liggitt commented on #86
I'm not sure cert-generating functionality belongs in kubectl...

[2017-12-12 20:17] samanthakem commented on #86
@liggitt it will probably be in ```kubernetes/common``` as suggested by @pwittrock but the functionality will be used by running ```kubectl alpha create certificates```. Let's wait to see if he get back to us! :smile: What do you have in mind?

[2017-12-12 20:30] ahmetb opened #172 ""kubectl drain" must print warnings about eviction errors"
I am using [Pod disruption policies](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) so my `kubectl drain` cannot move forward with the eviction.

However it's not printing anything and **just hangs here**:
[code]

Only when I added `-v=10` I realized it's continuously failing and retrying:

[code]

Maybe `kubectl drain` should print this error to the output.

[2017-12-13 03:20] shiywang commented on #172
@vfreex would you like to take a look ?

[2017-12-13 08:08] Lion-Wei opened #174 "deprecate the print flag `--template`"
**What keywords did you search in Kubernetes issues before filing this one?** :
'template'  'printer'  'kubectl'
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**What happened**:

Recently I was learning code about printer. Little confused about the flag `--template`.
The flag `--template` have a description: "Template string or path to template file to use when

[2017-12-13 08:14] Lion-Wei commented on #174
/sig kubectl
/cc @smarterclayton @apelisse

[2017-12-13 08:20] Lion-Wei commented on #174
/kind feature

[2017-12-13 11:22] shiywang commented on #174
I would like to keep the redundancy, give user more choices, but if you feel description of `--template` provide some inaccurate information, we can make it more accurate.

[2017-12-13 16:32] stefanotorresi commented on #125
I am also experiencing this issue.

[2017-12-13 18:20] AlexandreRoba commented on #125
This is still accurate for me two. I learned to live with it :(.
I do not have more information on the error.
The only thing I know is that I'm getting a SIG 127.
I tried to have more info but this is as far as my knowledge can lead me to.

[2017-12-13 18:23] apelisse commented on #125
What happens if you run `kubectl completion zsh`? Can somebody maybe post that? (maybe use a paste-bin :-)

[2017-12-13 18:36] AlexandreRoba commented on #125
when I run
[code]
it generates the completion scrips.

You can find the generated script in the attached file.
[output.log](https://github.com/kubernetes/kubectl/files/1556575/output.log)

[2017-12-13 19:11] apelisse commented on #125
Thank you @AlexandreRoba

I've run that script, just changed that last line from `_complete kubectl >/dev/null` to `_complete kubectl` to see why it fails. For the record, here is the error: `complete.sh:8680: command not found: _bash_comp`.

I'll punt to @sttts since I think he knows much more about that.

[2017-12-13 19:19] AlexandreRoba commented on #125
Excellent. I did the same modification and I get the same error.
Thanks @apelisse for your swift reply.

[2017-12-14 08:52] Lion-Wei commented on #174
@shiywang Thanks for replaying. If so, I will do that.
And also, there don't have any hint about `-o templatefile`, should we add this information or should we take this as a hidden function?

[2017-12-14 09:00] Lion-Wei opened #175 "kubectl get multi-resources can't show kind when using with `--sort-by` flag"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
When using `kubectl get all --sort-by ***`, the result we got don't have resource kind information. For example:
[code]

**What you expected to happen**:

[code]

**How to reproduce it** (as minimally and precisely as possible):
`kubectl get all --sort-by

[2017-12-14 09:01] Lion-Wei commented on #175
/sig cli

[2017-12-14 09:20] sttts commented on #125
Can you load the zsh auto-completion frameworks? I guess you have no other autocompletion enabled, so they are not launched already:

[code]

You have to put that into your zsh startup scripts. We should probably add them to the generated completions as well.

Let me know whether that helps.

[2017-12-14 09:55] AlexandreRoba commented on #125
Hi,

thanks for the help.

I have edited and added the two lines at the top of my .zshrc script files as:
[code]
Those new lines execute properly (no error) but the kubctl autocomplete script still raise same error.
The command _bash_comp is still unknow. Do I have to install a "zsh autocomplete framework"?

[2017-12-14 10:10] AlexandreRoba commented on #125
I tried to install the [zsh-completions framework](https://github.com/zsh-users/zsh-completions) and activated the plugin on my oh-my-zsh but still the same error.

[2017-12-14 21:54] #127 closed

[2017-12-14 23:21] #163 closed

[2017-12-15 00:03] #162 closed

[2017-12-15 10:15] vfreex commented on #172
@shiywang OK, I will work on this issue.

[2017-12-17 20:16] pwittrock commented on #86
@liggitt Generating certs is necessary for installing aggregated API servers and something we need common infrastructure for.  Apimachinery might be a better spot for these, but there is precedence for creating resource config in kubectl (e.g. `kubectl create deployment`)

[2017-12-17 20:17] pwittrock commented on #86
cc @droot

[2017-12-17 20:21] liggitt commented on #86
API resources sure, but not non-API artifacts, right?

[2017-12-17 20:24] pwittrock commented on #86
apiregistration.k8s.io/v1beta1/APIService is a resource right?

[2017-12-17 20:25] liggitt commented on #86
sure... kubectl could consume a CA to produce that resource (like `create configmap --from-file=...`), but producing the CA seems out of scope

[2017-12-17 20:29] pwittrock commented on #86
Out of scope for the Kubernetes project or out of scope for this repo?  Why wouldn't we do this for the user?  It isn't terribly complicated for us to build but greatly improves the UX.

[2017-12-17 20:46] pwittrock commented on #86
create configmap also supports `--from-literal=key1=config1`

[2017-12-17 20:47] liggitt commented on #86
sure... in both cases, kubectl is not creating the value, it is consuming one provided to it

[2017-12-17 21:45] pwittrock commented on #86
Lets make it a plugin

[2017-12-17 21:48] pwittrock commented on #86
We already need to support this for production use cases, and had to build this for installing Service Catalog.  We might as well solve it in one place, instead of making everyone come up with a bespoke solution.  Folks can always choose not to use it if it doesn't work for them.  That is the reality of developing porcelain.

[2017-12-19 03:15] EmpireJones opened #185 "Watch flag should indicate when a resource is deleted"
Feature suggestion/improvement:
`kubectl get pods --watch` should indicate when a pod is actually deleted.

Currently it just appends another line or two indicating that it has a terminating status, around when it gets deleted.

This might apply to other resource types too.

**Kubernetes version** (use `kubectl version`):
Client: 1.8.4
Server: 1.8.0 (via minikube v0.24.1)

**Environment**:

Miniku

[2017-12-19 03:33] EmpireJones commented on #185
This might also just be an issue of the lines not getting cleared properly in the bash shell, when a row is supposed to go away.

[2017-12-19 11:53] sttts commented on #125
Tried on MacOS Sierra with zsh 5.3.1 installed via brew in a new user's homedir:

[code]

Works fine.

[2017-12-19 11:59] AlexandreRoba commented on #125
I tried with:
- ZSH 5.3.
- kubectl installed with the Gcloud SDK version 183.0.0

I'm still getting the error. Should I remove this as GCloud component and install it with brew?

[2017-12-19 12:49] mortenlj opened #186 "Default output from kubectl when getting a CRD named Status is wrong"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Status

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

*

[2017-12-19 16:19] HartS commented on #151
I'd like to see a documentation improvement, as well as a new 'type' to use to *actually* show all resources in a namespace, as the current meaning of `all` is both unintuitive and *not documented anywhere*. Just fixing kubectl wouldn't help users figure out what's going on for older versions, so I think a new name (`everything` ?) would be helpful for retaining consistency with older client versi

[2017-12-22 22:29] mpashka opened #188 "Kubectl doesn't respect --user parameter when execution create clusterrolebinding"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
username

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

[2017-12-23 07:59] Lion-Wei commented on #146
@apelisse Thanks for your advise, sorry take so lang.
Here is what I got from the code.

##### `get`

| options           | NONE | wide | name | json/yaml | custom-columns | custom-columns-file | jsonpath(-file) | template/go-template/go-template-file |
| ----------------- | :--: | :--: | :--: | :-------: | :------------: | :-----------------: | :-------------: | :---------------------------------

[2017-12-27 02:14] exploitht commented on #135
This issue has been raised a long time, Is @AlexKhotian  still concerned about it?
May I try to move it?
@apelisse thx

[2017-12-27 03:08] stewart-yu opened #189 "Does we need print apigroup for 'ds'、'deployments'?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

Now that `kubectl get all --all-namespaces` has duplicate output for `ds`, `deploy` and `rs`,  obvious, thoes duplicate in each apisource in different apiGroup, should we  better printer relative apiGroup?
If need, i will help

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardwar

[2017-12-27 03:09] stewart-yu commented on #189
@apelisse

[2017-12-27 06:00] exploitht commented on #135
/assign

[2017-12-27 08:35] exploitht commented on #189
@stewart-yu
Why did you use a space between / and assign?

[2017-12-27 11:17] dyson opened #190 "kubctl explain resourcequota.spec.hard incomplete"
/kind bug

**What happened**:
Ran:
[code]

**What you expected to happen**:
To see list of available hard resource quota limits.
Instead there is only a link to a page that 404's.

**How to reproduce it (as minimally and precisely as possible)**:
Run:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware conf

[2017-12-27 12:43] huzhengchuan commented on #190
I test in my kubernetes clusters, the link response is not 404 error.
<pre>
[root@xxx-master1 ~]# kubectl  version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T20:55:30Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Min

[2017-12-27 13:15] dyson commented on #190
Sorry I totally should have included the output! This is from minikube running 1.8:

[code]

And running against our gke cluster, running 1.8.4
[code]

[2017-12-27 13:23] AlexKhotian commented on #135
@exploitht @apelisse
I think, that this issue is still blocked by architecture discussion in #169. And also, as we discussed before, this issue requires #137(currently also blocked by #169) to be completed first. I'm not sure, if we can continue with this issue. Maybe @apelisse has some new info about current status.

[2017-12-27 16:40] huzhengchuan commented on #190
the link is 404 error, is because the change kubernetes/community#1010.
it had been fixed in master branch. you can close the issue.

[2017-12-27 16:51] #190 closed

[2017-12-28 17:38] apelisse commented on #135
Yeah, I don't think it's stall because Alex doesn't work on it, but because we're not sure that's something we want to do yet. I'll keep you posted.

[2018-01-02 03:47] zjj2wry commented on #185
```-a, --show-all=false: When printing, show all resources (default hide terminated pods.)```
@EmpireJones maybe this flag can help you

[2018-01-02 17:28] apelisse commented on #170
Not sure what specifically fails here, but I'm not sure this is kubectl related...

[2018-01-02 17:46] apelisse commented on #175
Thanks for working on this @Lion-Wei !

[2018-01-02 22:09] #148 closed

[2018-01-03 00:36] stewart-yu commented on #189
In [#167](https://github.com/kubernetes/kubectl/issues/167), we can see that 'ds', 'deploy', 'dn' has duplicate output, but actually have diff apigroup. For example, duplicate `ds`, one in apigroup `a`, one in apigroup `b`,  so i think we need also add `ApiGroup` column when print thoes resource. Duplicate `ds`, outpu may be like this:
[code]

[2018-01-03 00:37] stewart-yu commented on #186
If don't mind, i'm glad to help it.

[2018-01-03 08:30] #164 closed

[2018-01-03 22:05] cjwagner commented on #54
/close

[2018-01-03 22:05] #54 closed

[2018-01-04 08:22] kumarganesh2814 opened #192 "kubectl exec connection error: desc = "transport: dial unix docker-containerd.sock: connect: connection refused": unknown"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2018-01-04 11:50] PengTaoWW commented on #96
cc @seans3 @mengqiy I would like to take this

[2018-01-04 11:52] PengTaoWW commented on #96
@pwittrock please assign to me

[2018-01-04 14:15] dims commented on #192
@kumarganesh2814 - try exactly the same thing `ls /tmp` using `docker exec` on the node where the container is actually running to see if there is a problem.

also 126 seems to be documented here http://tldp.org/LDP/abs/html/exitcodes.html - `Command invoked cannot execute` `Permission problem or command is not an executable`, so docker exec should result in a failure as well. hoping that's the is

[2018-01-04 14:31] lenalebt commented on #170
So, my request is about adding a "-c" flag to `kubectl exec`, to make its behaviour similar to `kubectl logs` when talking about init containers. Why should this not be kubectl-related?

[2018-01-04 17:17] apelisse commented on #170
OK totally makes sense to me now! That's a good idea. I'll update the labels.

[2018-01-04 20:08] bowei commented on #7
/remove-lifecycle stale

[2018-01-05 08:21] EmpireJones commented on #185
@zjj2wry thanks for the tip, but I couldn't get that flag to make it show terminated pods (server/client v1.9.0)

[2018-01-07 20:21] darkowlzz commented on #185
Created a PR implementing this https://github.com/kubernetes/kubernetes/pull/57947 . Some feedback would be great :)

[2018-01-08 01:36] stewart-yu commented on #189
we can make output like that:
[code]
add `APIVERSION` column for multi-group resource, so we can disgusting it. What's your opinion?
@apelisse

[2018-01-08 11:51] Lion-Wei commented on #188
I think we may have some misunderstanding here. IIUR, `--user` flag is the username you want to bind to the role, not the user name you use to create the clusterrolebinding.

[2018-01-08 16:45] apelisse commented on #188
I don't think that is true. `--user` is a global `kubectl` option, which on top of that is documented as follow:

I think it should do what @mpashka expects.

[2018-01-08 16:51] iamrandys commented on #37
I had the same issue and found that the bash installed by brew does not have this problem.

This is the version I'm running now.  The only version difference from what I was running before is the darwin version 17.0.0.

GNU bash, version 4.4.12(1)-release (x86_64-apple-darwin**17.0.0**)

[2018-01-08 19:23] php-coder opened #197 "kubectl apply includes raw and useless data into the error message"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"error when retrieving current configuration"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind bug

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
`kubectl apply` includes Golang struct into the error m

[2018-01-08 21:48] mengqiy commented on #197
&{0xc420094300 0xc420bc6310 default  nnp-test.yaml 0xc4220eb4a8  false}

The first half is not very helpful.

The second half is complaining that `metadata.name` is missing since it is one of the preconditions:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apply.go#L616

You are welcome to send to a PR to update the error message to make it more useful.

[2018-01-08 23:34] mengqiy commented on #75
/remove-lifecycle stale
/lifecycle frozen

[2018-01-09 01:29] Lion-Wei commented on #188
But in `create clusterrolebinding`  subcommand, the `--user` flag described as `Usernames to bind to the role`.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/create_clusterrolebinding.go#L57.
I'm not sure about that.

[2018-01-09 02:52] Lion-Wei commented on #188
I have tested, the `kubectl create clusterrolebinding' command also have `--user` flag, which is conflict with the global `--user` option. We can solve this problem by change the `--user` flag of `kubectl create clusterrolebinding' to another name.
Here are my test result:
[code]
Here I changed this flag name to `--clusterroleuser`. : )

[2018-01-09 16:15] apelisse commented on #188
I'm a little worried about the conflict. I don't think this should happen. Your patch is merely hiding the bug, isn't it? That might be a good thing, but it might be too early to decide to do that.

Could you investigate how a global flag can conflict with a much deeper sub-command flag? That looks like a source of confusion.

[2018-01-09 16:35] apelisse commented on #189
I'm pretty unfamiliar with all of that but that seems wrong:

These two appears to have a different APIVERSION, but aren't they the same thing? And they have the same start time. I doubt they are actually two different resources, but rather two different representation of the same resource. If that's correct, then we should definitely display them only once. But I'm not sure why this is happening.

[2018-01-09 17:06] apelisse commented on #186
I can't assign you, I'm assigning to me as a placeholder. Thanks @stewart-yu !

[2018-01-09 17:12] apelisse commented on #171
@zjj2wry should this be closed since the PR was merged? or does it need more work? Thanks

[2018-01-09 17:14] apelisse commented on #150
@mengqiy what's the status on this one? are you working on it?

[2018-01-09 17:30] apelisse commented on #63
Feel free to re-open if needed. Thanks

[2018-01-09 17:30] #63 closed

[2018-01-10 01:05] stewart-yu commented on #189
[https://github.com/kubernetes/kubernetes/issues/55720](https://github.com/kubernetes/kubernetes/issues/55720)
![image](https://user-images.githubusercontent.com/30410021/34751003-15309204-f5e5-11e7-8df7-20f861c840bc.png), so must be same thing but in diff period
  @apelisse

[2018-01-10 01:07] apelisse commented on #189
So should we display both? I don't know ... @liggitt

[2018-01-10 01:51] Lion-Wei commented on #188
Sorry, I don't understand, I mean we have species of global flag and sub-command flag, but when we using the command, we can't specify use a flag as global flag or sub-command flag, if both of them have a same flag, then have some problem.
I think we need to discuss how to handler this situation, here I have some thoughts:
1. Can we have a system to detect this case? I do think this should be avoi

[2018-01-10 05:12] stewart-yu commented on #186
The method you create `Status` are wrong @mortenlj
[code]
So when you get it,  just output nil

[2018-01-10 08:15] mortenlj commented on #186
@stewart-yu : I'm not sure I understand you. In what way is this a wrong way to create an object?

This is a custom resource definition, of an object that happens to have `kind: Status`, but it is *not* the status-field of a parent object (like PodStatus for instance).

The object is created, and it's there if you use alternative output formats. If you don't use kubectl, but use the API directly,

[2018-01-10 18:15] mengqiy commented on #150
I'm not working on it now.

[2018-01-11 02:56] Lion-Wei commented on #197
I can help to fix this problem, but I'm not quiet sure what error information we should keep. Here are the error message after I fixed:
[code]
The second line is `namespace/name`, but don't have name in this case, so only namespace. I think this is the original intention.

[2018-01-11 07:43] sttts commented on #150
I would like to see pkg/kubectl/scheme/install.go go away soon'ish. This code should never have passed review and being merged. Compare https://github.com/kubernetes/kubernetes/pull/55388/commits/f0a0d641a0f42268f0992feae86ae7cbcb307a8c

[2018-01-13 12:53] bhack opened #206 "Kubectl xpra"
Can `kubectl exec` work with [xpra](https://xpra.org/trac/wiki/Usage)?
Many dev  wants to access to a GUI in the pod  in the development phase (i.e. for visual debug a job before launching at scale).
The standard way was to install sshd in the pod but if will be possible to connect directly with kubectl I think that could be useful to add a section in the documentation (i.e. access to a X session

[2018-01-13 12:55] bhack commented on #206
P.s. Just to point on the [Docker related docs](https://xpra.org/trac/wiki/Usage/Docker).

[2018-01-15 17:52] liggitt commented on #189
The client doesn't know they are the same... only the server knows that.

Because the discovery docs for the resource in both API groups includes the "all" category. If we want to fix this, we should update the server to only include the apps resources in the "all" category. Opened https://github.com/kubernetes/kubernetes/pull/58301 to fix this server-side

[2018-01-15 18:04] liggitt commented on #167
/assign
opened kubernetes/kubernetes#58301 to fix this server-side

[2018-01-15 18:07] liggitt commented on #188
the sub-command wins in this case. Having had that command available for several releases, I don't think we'll change the interface at this point

/close

[2018-01-15 18:07] #188 closed

[2018-01-15 18:09] liggitt commented on #140
looks like a flag parsing issue in cobra/spf13

`kubectl get sa --all-namespaces` works fine

[2018-01-15 19:51] liggitt commented on #186
I think something in the client path is confusing the response for a v1 Status object

[2018-01-15 21:51] #167 closed

[2018-01-15 21:51] #189 closed

[2018-01-16 06:53] ra90707 commented on #96
@pwittrock Please assign this to me..

[2018-01-16 17:05] ssubramanian123 opened #210 "kubectl --serviceaccount option use"
Hi,

I have 40+ Deployments which we created before RBAC enabled in our cluster. Now we want to enable RBAC and re-deploy these services. For new deployment, through automated process service account get added, but for the existing deployment either we have to use kubectl edit to modify it or modify existing deployment.yaml file. Since we have 40+ services is there any alternate way to directly pa

[2018-01-16 22:45] anitakumar opened #212 "give the loadbalancer a name"
when creating a Service and using the type LoadBalancer is it possible to provide a name for the load balance and kubectl to create the loadbalancer with the name specified

[2018-01-18 00:38] mengqiy commented on #84
/lifecycle frozen

[2018-01-18 12:34] shiywang commented on #121
@bkrannich  I think this should been fixed, would you like to try it again on master branch ?

[2018-01-19 17:04] apelisse commented on #188
@liggitt, are you saying that the person needs to change the active user in the kubeconfig to do that?

[2018-01-19 17:20] liggitt commented on #188
yes, or define a context that references the desired user and use --context

[2018-01-19 17:30] bkrannich commented on #121
@shiywang: I tried but couldn't verify the fix is working. However, this might be due to the fact that I'm pretty new to the topic. Let me describe the steps I followed so that you can maybe point me to where I did something wrong:

* Synced to https://github.com/kubernetes/kubernetes/commit/49c729eef41ef09b2c3a04376bfa81846faed9ca
* Ran the build via `make`
* What I got was:
[code]
* To activate

[2018-01-19 17:54] apelisse commented on #121
I tried in december, it wasn't working. No surprise to me.

[2018-01-19 17:54] apelisse commented on #188
Great, I think that's useful for the record :-)

[2018-01-19 23:07] superbrothers commented on #121
I also tried but it wasn't working on bash 3.2. However it was working on bash 3.4. @shiywang Please reopen this issue.

[2018-01-20 07:35] superbrothers commented on #121
Finally I found the cause of this problem and it will be fixed by https://github.com/spf13/cobra/pull/520. I verified as follows:

[code]

[2018-01-22 11:18] sybeck2k opened #216 "Kubectl through a proxy"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
http proxy, https proxy
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2018-01-22 17:31] anitakumar opened #217 "Error: error validating "": error validating data: kind not set"
i have a deployment and the service yaml files as follows

service.yaml
apiVersion: v1
kind: Service
...
deployment.yaml
apiVersion: extensions/v1beta1
kind: Deployment
...
i am using helm but i believe this is kubectl issue

below  is the version of kubectl  i am using
lient Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitT

[2018-01-23 09:44] nikhita commented on #186
Dupe of https://github.com/kubernetes/kubernetes/issues/42521, https://github.com/kubernetes/apiextensions-apiserver/issues/11

[2018-01-23 13:59] liggitt commented on #186
No, mishandling an object named Status is different

[2018-01-23 17:12] apelisse commented on #217
Do we have logs? I'm really unsure what is being passed to kubectl at this point. I've tried to apply an empty deployment, but it doesn't fail with the same error.

[2018-01-23 17:12] apelisse commented on #217
Is there any way to get logs? so that we know what it's trying to do?

[2018-01-23 17:14] apelisse commented on #216
@liggitt You probably know more about proxies than I do.

[2018-01-23 17:16] apelisse commented on #210
I strongly believe you should be editing your `deployment.yaml` files on disk (and then commit them) so that you have a documented/reproducible environment (rather than use edit, or an imperative way of changing the serviceaccount).

You can certainly use a script to change the service account in all files? Though 40-ish is not that bad.

[2018-01-23 17:22] apelisse commented on #212
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2018-01-23 17:22] #212 closed

[2018-01-23 17:22] apelisse commented on #206
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2018-01-23 17:22] #206 closed

[2018-01-23 18:22] liggitt commented on #216
sounds like a possible bug in how the discovery client is constructed

[2018-01-23 18:30] MrHohn opened #221 "Unable to change service from type=NodePort to type=ClusterIP with kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind bug

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
- Create a service with type=ClusterIP. Let's say kube-dns:
[code]
- Edit type from ClusterIP to NodePort, and now we have:
[code]
- Edit type from NodePort to ClusterIP with **all the auto-allocated nodePorts removed**, and we hit this error:
[code]
- Tr

[2018-01-23 19:17] mengqiy commented on #221
This is caused by a known issue: mergeKey in `ports` is `portNumber` (both are 53) cannot uniquely identify an entry in this case.

[2018-01-23 20:29] pwittrock commented on #97
@julianvmodesto Sorry for the late response.  Have you started this?

[2018-01-23 20:40] julianvmodesto commented on #97
@pwittrock no worries, sorry, I dropped off on this. Feel free to re-assign to someone else!

[2018-01-23 20:50] pwittrock commented on #97
SGTM

[2018-01-24 16:26] mengqiy commented on #197
IMO it could be more explicit:
[code]
@Lion-Wei It would be great if you can help.

[2018-01-24 16:45] mengqiy commented on #96
@PengTaoWW @rohit164 Are you working on this?
I can't assign to you guys using GitHub, but I can keep an record in the comment.

[2018-01-24 17:50] anitakumar opened #224 "error trying to create a Role"
i tried to create the Role with a cluster running in aws using the file below
[code]
[code]
errror
[code]
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:39:33Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Ser

[2018-01-25 02:25] Lion-Wei commented on #197
Sure thing. : )

[2018-01-25 06:23] mengqiy commented on #150
Why you want that piece of code to go away? Is it causing trouble for you?

Should legacy kubectl use its own scheme? If so, we need to register types using the following 2 lines, right?
[code]

[2018-01-25 09:08] rednatto opened #226 "kubectl panic on pod delete"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): panic, SIGSEGV

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2018-01-25 09:10] rednatto commented on #226
Could this be a minikube issue - should I post it there aswell/instead?

[2018-01-25 10:13] anitakumar commented on #217
I had the Chart.yaml sitting in the templates directory of the helm folder. i believe helm was trying to process this and it was validating against something that did not exist as the Chart file is not a template to deploy or create service. once i removed it from there and put it where it needs to be, the deployment worked. i also did not use helm create to create the release. i just created a di

[2018-01-25 10:13] #217 closed

[2018-01-25 13:20] sttts commented on #150
It copies code that is tightly coupled with the API types and should be shipped with the API types. It's deep knowledge that should not be in some CLI file. Compare e.g. pkg/apis/apps/install/install.go in kube. The code in the kubectl is a copy of that. Any mistake in keeping both in sync will be hard to debug and will lead to unexpected, inconsistent behaviour.

In https://github.com/kubernetes/

[2018-01-26 20:23] dls314 opened #227 "Consider preferring USERPROFILE as the home path more often on Windows"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : homedrive

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug-feature report-request

**Kubernetes version** (use `kubectl version`): 1.8.2

**Environment**:
- **Cloud provider or hardware configuration**: Docker for Windows, Minikube
- **OS** (e.g. from /etc/os-rel

[2018-01-27 04:11] adohe commented on #226
@rednatto I would try to reproduce this and see what's going on~

[2018-01-27 04:32] mengqiy commented on #100
@jyoti0208 Any update?

[2018-01-27 04:39] mengqiy commented on #124
@shiywang It seems `run_initializer_tests` never runs anywhere.

[2018-01-29 06:08] shiywang commented on #124
@mengqiy agree, @wackxu are you still working on this #55295?

[2018-01-29 10:03] nikhita commented on #186
/cc @sttts

[2018-01-29 16:11] lukahartwig commented on #97
If this issue isn't taken then I would like to try this.

[2018-01-29 17:17] apelisse commented on #35
Looks like this is indeed stale. Feel free to re-open if it's a problem.

[2018-01-29 17:17] #35 closed

[2018-01-29 17:23] apelisse commented on #224
I think you should try to apply this configuration as an admin. Because you're trying to give `developer` more privilegies than your current user has.

[2018-01-29 20:12] dls314 commented on #227
As far as I know, the relevant windows feature here is best described by this topic:
https://msdn.microsoft.com/en-us/library/windows/desktop/bb776911(v=vs.85).aspx

And the values of known folders are often specified relative to the user profile (search for %USERPROFILE% in this list)
https://msdn.microsoft.com/en-us/library/windows/desktop/dd378457(v=vs.85).aspx

The HOMEDRIVE and HOMEPATH varia

[2018-01-30 13:32] sttts commented on #186
We send back `<group>/<version>` Status objects instead of `meta/v1` Status. Hence, we get a conflict here. IMO we have to exclude `Status` from the valid kind names in CRDs.

[2018-01-30 13:58] kiich commented on #172
this would be great to have - in our use case, we are using kube-node-drainer from kube-aws which is essentially calling kubectl drain. I wasn't able to see anything from that though in the logs, except for the fact the command returned error return code. Would be super useful to see these extra messages, which I later found out by using the `-v=10`

[2018-01-30 14:31] adohe commented on #172
@kiich what's your kubectl version? I want to check that whether this has been updated in recent release.

[2018-01-30 14:32] adohe commented on #172
@vfreex any update on this? I think this would be easy to catch on.

[2018-01-30 14:37] adohe commented on #186
We may have other built in names, I think `Spec`, `Status` should be both excluded.

[2018-01-30 14:44] liggitt commented on #186
Spec isn't a top level type.

[2018-01-30 15:07] kiich commented on #172
hi @adohe sure thing:
[code]

[2018-01-30 19:46] nikhita commented on #5
/remove-lifecycle stale

[2018-01-30 19:49] nikhita commented on #9
/remove-lifecycle stale

[2018-01-30 19:51] nikhita commented on #31
/remove-lifecycle rotten

[2018-01-30 19:51] nikhita commented on #12
/remove-lifecycle stale

[2018-01-30 19:52] nikhita commented on #58
/remove-lifecycle stale

[2018-01-31 01:35] mengqiy commented on #32
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-02 10:37] luciano-numen commented on #125
Same error here `_bash_comp` unknown

[2018-02-02 12:12] stefanotorresi commented on #125
FWIW I ended up using the [oh-my-zsh plugin](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/kubectl/kubectl.plugin.zsh) which doesn't seem to cause the issue.

[2018-02-02 14:32] decoursin commented on #226
I'm having the same issue, but I'm using minikube version 25 and Linux Mint, otherwise I have the same client and server kube versions.

[2018-02-02 15:19] rednatto commented on #226
Running against another, non-minikube, server seems to work for me.

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T21:12:46Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2d

[2018-02-03 00:09] monopole opened #248 "inf loop if cycle in manifest search"
kinflate has inf loop if one has a structure like

dir/
  <no manifest>
  subdir/
    manifest that specifies a resource at ".."

[2018-02-03 11:30] peterfication opened #250 "kubectl proxy with protocol in stdout message"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `proxy`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQU

[2018-02-04 16:42] #121 closed

[2018-02-06 04:14] apelisse commented on #210
Will that work? I'm really not convinced we should address this issue with more code in `kubectl`. I'll close it unless you really want it :-)

[2018-02-08 02:04] m1093782566 commented on #83
/unassign

[2018-02-08 12:01] rednatto commented on #226
Possibly related information:

Creating a service, and then trying to fetch it gives different results when using `svc` vs `service`, against the broken cluster, but seems to work against other cluster?

`kubectl create service nodeport nginx --tcp=8080`

[code]
`kubectl get svc nginx`

[code]

`kubectl get service nginx`

[code]

[2018-02-08 12:26] PCQ opened #269 "No major and minor serverVersion-Information using Minikube v0.25.0 and K8s v1.9.0"
Hello,
I am working on my Mac with the last minikube and kubernetes version
[code]
If have started minikube with
`minikube start --kubernetes-version v1.9.0`

But when I use kubectl to get the k8s version I only get empty Strings as minor and major serverVersion

[code]

I am using this informations in my Unit-Test to validate that the cluster is running in the correct version.

[2018-02-08 14:27] adohe commented on #226
`svc` should be just an alias of `service`, it should get the same result as `kubectl get service ***`, but what you mean `against a broken cluster`? @rednatto

[2018-02-09 08:23] rednatto commented on #226
@adohe What I mean is that `svc` was not recognized, but `service` was, when running commands against the minikube cluster where `pod delete` panicked; and that it worked when running against another, non-minikube, cluster - where the delete did _not_ panic.

Sorry to be unclear, I had written the same things in the minikube-issue and did not keep track of what I had written.
This missing alias th

[2018-02-09 09:10] GuiSim commented on #131
In the meantime, I use https://github.com/evanlucas/fish-kubectl-completions

[2018-02-09 11:37] gardarh commented on #226
I get a similar stack trace:
[code]

When running the following:
`kubectl delete daemonsets/fluentd-elasticsearch`

After a long delay kubectl version will return:
[code]

I recently updated my cluster using kops (it is running on AWS) to version 1.8.6 .

[2018-02-09 21:53] grodrigues3 opened #271 "Add examples to existing Kapps demonstrating customization of key dimensions strategy (3)"
Right now, the main customization that we want to give users as an option is the persistent storage.

List of apps to migrate:
- [x] https://github.com/kinflate/mysql https://github.com/kinflate/mysql/pull/3
- [x] https://github.com/kinflate/wordpress https://github.com/kinflate/wordpress/pull/2
- [x] https://github.com/kinflate/wordpress-mysql https://github.com/kinflate/wordpress-mysql/pull/3
-

[2018-02-12 19:07] CalvinHartwell opened #276 "Bug: kubectl create secret --from-file does not accept tilde ~ character in path"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDate:"2017-11-20T05:28:34Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed2

[2018-02-12 23:11] seans3 opened #277 "Kinflate: Better Error Messages"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST:

kinflate checks for errors in ApplicationManifest and config files and prints meaningful error messages + exit non-0 (8)

- Check correctness of PATCH - that it applies correctly to an object that it finds
- Resources parse as objects
- Options are well formed - ApplicationManifest schema parses
- replacement for lint. l

[2018-02-12 23:13] seans3 opened #278 "Use Internal Error Library throughout Application to Display More Descriptive Error Messages (8)"
- [ ] Check correctness of PATCH - that it applies correctly to an object that it finds
- [ ] Resources parse as objects
- [ ] Options are well formed - ApplicationManifest schema parses
- [ ] replacement for lint. lint is going to call this
- [x] hierarchy of errors
- [x] may depend on technical debt (file system) issue

e.g.

Filenot found errors

[2018-02-12 23:15] seans3 commented on #277
Duplicate of: https://github.com/kubernetes/kubectl/issues/278

[2018-02-12 23:15] #277 closed

[2018-02-14 18:36] mengqiy commented on #278
One optional checking we may want to add is:

Validate all the field keys in the yaml are valid.
e.g.
[code]

[2018-02-14 19:11] apelisse opened #286 "As a user I have a way of managing Secrets outside of my source control. (5)"
Create a document that answers:

- "How do users use secrets today?"
- "What secret storage systems do they use that we should support?"
- "What commands / config do I need to integrate 'applying' these secrets?"

[2018-02-14 19:17] grodrigues3 opened #287 "Figure out the story for examples - where do they live. CLA bot for cncf? etc"
/assign @grodrigues3

[2018-02-14 21:23] grodrigues3 commented on #287
@pwittrock does this mean examples for tutorial/learning purposes or examples in the same way that helm uses charts?  More production ready?  Do you think this entails drafting process documentation for contributing to the repo/adding new examples?  Do we need some kind of automation or testing setup?

[2018-02-14 22:20] apelisse opened #288 "kinflate: Create abstraction for "Application" (above Kube-manifest)"
Currently, most operations in Kinflate use the "Manifest" as the main abstraction for the application. But this is quite inaccurate, since an application can be built from multiple Manifest (multiple-layers, composed layers, ...). We need to create a new abstraction for the application that will handle these Manifests into a unified interface. That abstraction would be responsible for managing ord

[2018-02-14 22:56] apelisse opened #290 "Tutorial for kinflate commands (3)"
init, add, set, inflate, patch overlay,

How polished should this be:
- Tutorial on the K8s docs page on how to use this.
- Aim for a 10-15 minute tutorial.
- Should work on a mac or mobile devices
- Shouldn't have to install programs in order to follow tutorial

[2018-02-14 22:58] apelisse opened #291 "Technical Debt: Missing file system parameter (5)"

[2018-02-15 15:30] ant31 opened #293 "[kinflate] use namePrefix in every reference/direct link"
I have some following resources:
one ingress, one svc
[code]
and
[code]

In this case, using `namePrefix` isn't practical because I have to edit manually the svc:
[code]

I would expect a replacement in the serviceName too

[2018-02-15 21:53] mengqiy opened #295 "As a user, I want to know exactly what kinflate is going to do and how it will change my resources (8)."
Suggestion: `diff`
As a user I can see how an ApplicationManifest transforms a set of resources.

- Shows each resource kinflate parses
- Shows how patches are applied
- Shows newly created resources
- Shows label and name changes

[2018-02-15 22:13] ant31 commented on #293
this could extend also to how application are parametrized
e.g
[code]

[2018-02-16 09:26] StegSchreck opened #298 "Make watch flag `-w` usable also for `kubectl get all`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
* `watch`
* `-w`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEA

[2018-02-16 18:33] grodrigues3 commented on #287
CLA bot setup for example repos.  More complete picture around examples forthcoming.

[2018-02-16 22:40] monopole commented on #295
proposed tasking

1) Add a flag --tmpdir to kinflate that changes
   behavior.  Instead of writing yaml stream to stdout,
   this flag causes kinflate to write a file path to
   stdout representing a newly created tmpdir.  In that
   tmp dir, "kinflate inflate" creates a resource tree
   with file names invented from GVKN.

2) Add a flag --noop that suppresses all transformation.

with these two t

[2018-02-16 22:46] monopole opened #300 "kinflate lint"
jeff -
Sunil and i chatted about the difference between

  kinflate inflate -f foo >/dev/null

and

  kinflate lint -f foo

I.e. given that the inflate command is going to report errors like manifest pointing empty files and what not, is linting even a thing?  How is it different from running inflate and discarding the output?

One option is the Go approach.  A runnable Go package can fail “golint

[2018-02-18 21:37] richardmarshall opened #302 "Support symlinks for kubectl plugins directory"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- plugins
- symlink

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2018-02-20 00:16] TimMoore commented on #3
I just saw this in 1.9:

[code]

[2018-02-20 03:06] josephspurrier commented on #120
/remove-lifecycle stale

[2018-02-20 17:58] droot commented on #290
This is completed in this PR https://github.com/kubernetes/kubectl/pull/297

[2018-02-20 17:58] #290 closed

[2018-02-20 19:33] Liujingfang1 opened #304 "Create internal error library different types. For example, ManifestError, ResourceError (5)"

[2018-02-20 22:29] jethrogb opened #305 "get --watch specifying a resource uses "watch list" instead of "watch" API"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): watch

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**

[2018-02-20 22:46] ahmetb opened #306 ""kubectl get" downloads the entire swagger spec (GET /swagger-2.0.0.pb-v1) on every invocation"
/kind bug

[code]

When I run `kubectl get nodes` or `kubectl get storageclass` now, I see an extra `GET /swagger-2.0.0.pb-v1` request. This makes me think **it's downloading the entire swagger spec on every kubectl call**. Is this network traffic necessary?

It's also ruining the request/response debugging experience we used to get by adding `-v=10`, now it's printing an entire hexdump of the swa

[2018-02-20 22:49] ahmetb commented on #306
I realize sometimes this request completes instantly (i.e. `304 Not Modified`) but I think we need to exclude these 115,000+ lines from the output. I'm not sure if it's useful to anyone at all.

[2018-02-21 19:20] #295 closed

[2018-02-21 19:37] #304 closed

[2018-02-21 19:37] #286 closed

[2018-02-21 19:37] apelisse commented on #287
Should we close this?

[2018-02-21 21:03] grodrigues3 commented on #287
/close

[2018-02-21 21:03] #287 closed

[2018-02-22 19:19] #288 closed

[2018-02-23 04:15] #271 closed

[2018-02-23 09:27] Lion-Wei commented on #298
@apelisse Is this what we need to do?

[2018-02-23 10:59] miguefl commented on #125
Same error here but I was able to solve it.

That error appeared after upgrade some packages via `brew upgrade` and update kubernetes for mac

`brew install kubernetes-cli`

And then
`brew link kubernetes-cli`

because this warning:
`Warning: kubernetes-cli 1.9.3 is already installed, it's just not linked.`

I don't know if this is going to help you but just in case.

PS: I don't know if it is nec

[2018-02-23 16:52] apelisse commented on #298
I don't think it's unreasonable. But I'm somehow expecting roadblocks.

[2018-02-26 01:40] mengqiy commented on #138
This is fixed by #55913. Closing.

[2018-02-26 01:40] #138 closed

[2018-02-27 13:26] ashanaakh commented on #276
+1