[2019-12-25 07:50] npu21 opened #790 "some links referring kustomize inaccessible"
like these
 [404] https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/transformers/config/defaultconfig, <nil>
[404] https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/commonannotations.go, <nil>
[404] https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/commonlabels.go, <nil>
 [404] https://github.com/k

[2019-12-26 07:03] zhouya0 commented on #789
Do you think this PR will solve your problem?
https://github.com/kubernetes/kubernetes/pull/86636

[2019-12-27 14:23] TheBlackguarde commented on #501
/remove-lifecycle stale

[2019-12-27 20:37] thockin commented on #789
Thanks!  Responded on the PR :)

On Wed, Dec 25, 2019 at 11:03 PM zhouya0 <notifications@github.com> wrote:

[2019-12-28 11:14] mwalexander82 opened #791 "kubectl exec & port forward TLS handshake error when https_proxy environment variable contains special characters"
**kubectl version**

- **Client Version**: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.12", GitCommit:"a8b52209ee172232b6db7a6e0ce2adc77458829f", GitTreeState:"clean", BuildDate:"2019-10-15T12:12:15Z", GoVersion:"go1.11.13", Compiler:"gc", Platform:"windows/amd64"}
- **Server Version**: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.12", GitCommit:"524c3a1238422529d62f8e49506df658

[2019-12-30 11:03] bdelsaz commented on #603
Updating Windows 10 did not fix the issue for me. Still getting `not supported by windows`
If I use `kubectl-krew` (with the dash) it does work however.

[2019-12-30 22:50] #12 closed

[2020-01-02 16:56] #691 closed

[2020-01-03 06:45] ahmetb opened #792 "trailing path separator in PATH causes plugin listing failure"
kubectl v1.17.0

On a clean Windows installation, my PATH string ends with a `;` (path separator on windows). This is _normal_ and it's provided by Windows by default, I've never changed my PATH manually.

However, because of this, `kubectl plugin list` command fails with:

I suggest kubectl treats empty PATH segments, as they're often considered valid.

Once the trailing `;` is removed from PATH

[2020-01-03 09:14] bjethwan commented on #25
@tonglil - Please document this example in kubernetes.io/docs

[2020-01-03 15:54] tsubasaxZZZ opened #793 "kubectl get events --watch doesn't print messages"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`is:issue "kubectl get events"`

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2020-01-04 03:42] Ark-kun opened #794 "Confusing error when using kubectl annotate pods $HOSTNAME --local=true"
When running with `--local=false`, there is no error and the pod is annotated.
When running with `--local=true` the error seems wrong:

[code]

kubectl version:
[code]

[2020-01-05 10:00] #696 closed

[2020-01-06 10:40] ashwanijha04 commented on #61
Hey Guys!
Could you please check if you are using Tabs instead of spaces to indent the block or spaces instead of tabs?

You can also see the error when the file opens again for retry:
----
# configmaps "coredns" was not valid:
# * : Invalid value: "The edited file failed validation": [yaml: line 8: found a tab character where an indentation space is expected, invalid character 'a' looking for beg

[2020-01-06 11:55] wknapik commented on #554
/remove-lifecycle stale

[2020-01-06 21:12] dustin-decker commented on #685
/remove-lifecycle rotten

[2020-01-06 21:51] seans3 commented on #685
/sig cli
/area kubectl
/kind feature
/assign

[2020-01-07 12:35] paranoidsp commented on #767
Duplicate of #734

[2020-01-07 13:11] bizlevel opened #795 "Kubectl fails if i try using Multi Cluster Access Using kubeconfig Files - error converting *[]NamedAuthInfo into *map[string]*api.AuthInfo: duplicate name "minikube""
I have 2 identical worked cluster, where login is identical - `minikube`
I trying make whole config file to use both of cluster, use with keys.
I got like this `config`:
[code]

And with this config `kubectl` can't work:
[code]
But if i change one login to any, like this:
[code]
 I see that all work with config and first cluster:
[code]
But when i switch to second cluster of course - it can't work

[2020-01-07 13:46] bizlevel commented on #795
When i use KUBECONFIG environment method for 2+ clusters - i no got error, but needed users block of config is disappear/missed/rewritten.
Lets see it:
[code]
As we see we have in both config same name - `minikube`, buth with different keys and path to them

Checking it:
[code]
And it is will be work because for 1 cluster all fine in config:
[code]
But if we switch to  second:
[code]
All fine at f

[2020-01-07 21:57] alahijani commented on #450
As a workaround for now I'm relying on the `READY` column showing `n/n`:

[code]

[2020-01-08 09:20] zhouya0 commented on #794
It's because you must use files but not api resources when `--local=true` is set. I made a PR to fix the error message. https://github.com/kubernetes/kubernetes/pull/86952

[2020-01-08 15:38] cprayer opened #796 "Some kubectl commands doesn't print error message when there are no TYPE resources in namespace"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

is:issue "kubectl describe"
is:issue "kubectl top"

**Is this a BUG REPORT or FEATURE R

[2020-01-08 20:57] nicks opened #797 "kubectl kustomize versioning"
**Expected behavior:**

[code]

should print information about the version of Kustomize templates that `kubectl kustomize` accepts

**Actual behavior**

[code]

doesn't work.

The kubectl command only accepts kustomize version 2+, but the main kustomize repo is on version 3+. This has caused some confusion for our users, because they thought that they should be using the "new way" of preferring `k

[2020-01-09 10:35] #697 closed

[2020-01-09 17:10] dlipovetsky commented on #797
/cc @kubernetes/sig-cli-feature-requests

[2020-01-09 18:54] pbecotte opened #798 "kubectl replace doesn't work with immutable fields"
`kubectl replace` doesn't work on service objects unless `ClusterIP` is specified. Not sure what the correct behavior should be? Came across this looking at issues with `helm update --force` not working if there is a service in the app.
https://github.com/helm/helm/issues/7350

[code]

[code]

[2020-01-11 19:30] #688 closed

[2020-01-12 18:18] hmanikkothu opened #799 "'fieldpath' parsing fails with error 'field specified in var not found in corresponding resource'"
See below the yaml files to reproduce the issue. (A full version of the deployment can be found here - https://github.com/hmanikkothu/ibmmq-jmsspringboot-kubernetes/tree/master/kubernetes )

1. deployment.yaml
[code]

2. mqsvc.yaml
[code]
3. kustomization.yaml
[code]
4. patch.yaml
[code]

### kustomize version - 3.5.4 (latest)
[code]
### kubectl version - 1.17 (latest)
[code]

### Reproduce
#### S

[2020-01-13 09:37] val1715 commented on #734
+ 1 to this issue.

The same situation from myself.

Kubectl Version:
[code]

I used `kubectl` a 6-7 month ago (version  1.13) and it worked fine for me, as expected:
- when run `kubectl get pod --watch` :
  get updates in default format
- when run `kubectl get pod -o wide --watch` :
  get updates in wide format

I don't remember exact kubectl version for that binary file.

[2020-01-13 12:13] zhouya0 commented on #799
I believe this is a `kustomize` bug. The reason you don't get error when using `kustomize build` is because your `kustomize` version is the newest which is different from `kubectl` 's `kustomize` version. I tested `kustomize build` using version 2.0.2 will get the same error.

[2020-01-13 16:22] Zebradil commented on #793
IIRC, `kubectl` supports one version forward and backward skew. So, try using `kubectl 1.13`.

[2020-01-13 16:24] Zebradil commented on #793
Check this SO answer if you need to maintain several `kubectl` versions: https://stackoverflow.com/a/59373340/2227895.

[2020-01-14 14:36] alewitt2 opened #800 "CRD short-name ghosting deleted CRD"
After deleting a CRD, the short name "sticks around" at the last known corresponding version.

Kube Version:
[code]

steps to reproduce:
1. create a CRD with some short name like `xyz`. ie. `kubectl apply -f yourCRD.yaml` -> `customresourcedefinition.apiextensions.k8s.io/your.xyz.crd.io created`
2. verify kube recognizes your resource. ie. `kubectl get xyz` -> `No resources found.`
3. delete the c

[2020-01-15 17:36] pcarinhas opened #801 "Kubectl changes current folder to perm 600"
Running
`gcloud container clusters get-credentials my-cluster --zone us-central1-f --project my-project`

when KUBECONFIG has a missing configuration folder (~/.kube/missingfolder) will change whatever the current folder permissions to 600. This will lock you out of your own $HOME if executed from there.

[2020-01-15 17:37] pcarinhas commented on #801
Should provide at warning and abort if folders are missing in ~.kube.

[2020-01-15 19:37] jglick opened #802 "Random ordering of annotations in describe ingress"
Testing against Microk8s

[code]

`kubectl apply -f` the following:

[code]

Now if you

[code]

you will see the annotations dance around randomly. Sometimes you migh see

[code]

and at other times

[code]

I would expect the displayed order to be stable, preferably lexicographically sorted.

I believe the issue is that https://github.com/kubernetes/kubernetes/blob/b95d571e32294047a5fb9ca93ee4e3

[2020-01-16 03:23] zhouya0 commented on #802
/assign

[2020-01-16 18:25] dlipovetsky commented on #797
Regardless of the future of `kubectl kustomize`, it would help to know which kustomize version is used.

[2020-01-17 08:56] creation-shin-chan opened #803 "`kubectl drain node` doesn't warn nor include pods with local volumes in the eviction list"
I am a newbie here.

`kubectl drain node` doesn't warn daemonset pods nor pods with local volumes attached.
It looks like the filter is completely ignored.

https://github.com/kubernetes/kubectl/blob/master/pkg/drain/drain.go#L174-L182

I made a change like below and it seems fixed it.
[code]

Can anyone commit the change since I don't know the manner of committing changes.

[2020-01-17 10:50] zhouya0 commented on #803
/assign

I think the problem is to figure out why this PR is needed?
https://github.com/kubernetes/kubernetes/pull/84562

[2020-01-17 11:09] creation-shin-chan commented on #803
@zhouya0
That's true. The change is unnecessary but it's merged.

[2020-01-17 11:09] #803 closed

[2020-01-17 12:06] ZimbiX commented on #704
I was often seeing 60m old events every few minutes, so I've had to manually filter them out with `jq`:

[code]

System (using GKE):

[code]

[2020-01-19 11:28] #706 closed

[2020-01-19 14:34] MartinX3 commented on #454
/remove-lifecycle stale

[2020-01-19 19:36] #496 closed

[2020-01-19 19:36] #508 closed

[2020-01-19 21:38] #684 closed

[2020-01-20 05:37] ozbillwang opened #804 "[feature request] delete namespaces with prompt Y/N when with `--all`"
Could we change the default behave when delete customized namespaces?

I knew currently namespace `default`, `kube-public`, `kube-system` are protected.

[code]
But could we have a prompt for `Y/N` when we delete a customized namespace? Especially when with `--all` options. Otherwise, it will clean the whole cluster with one shot.

Unless with option `--force`?

Second, should we not delete namesp

[2020-01-21 06:31] mindw commented on #721
This is especially useful for debugging network issues via specialized images.

/remove-lifecycle rotten

[2020-01-21 19:22] #701 closed

[2020-01-21 20:04] apelisse commented on #707
/wg apply

[2020-01-21 20:09] apelisse commented on #707
/assign

[2020-01-21 21:36] apelisse commented on #707
`kubectl apply --server-dry-run` would catch these errors and is the recommended way to go. We're promoting server-dry-run and diff to GA this cycle, so we're trying to improve a few things.

[2020-01-22 00:30] seans3 commented on #669
/remove-lifecycle rotten

[2020-01-22 01:43] seans3 commented on #644
/remove-lifecycle stale

[2020-01-22 10:43] rdxmb commented on #669
can somebody check the PR, please?

[2020-01-22 16:05] brianpursley commented on #798
I did a little research into this and have come to the conclusion this is likely a problem in the API.

Steps to reproduce using kubectl:
[code]
Error message (same as @pbecotte got)
[code]

Further investigation shows if I try to use the API directly to replace the service, I get the same error coming back from the API.  For example:
[code]
Response:
[code]

So I'm guessing the services PUT endpo

[2020-01-22 17:11] seans3 commented on #804
/sig cli
/kind kubectl
/kind feature

[2020-01-22 17:12] soltysh commented on #801
This look like a problem with gcloud, so I'm going to close it. If you can provide kubectl issue feel free to reopen.
/close

[2020-01-22 17:12] #801 closed

[2020-01-22 17:15] soltysh commented on #800
What's the time between the 3 and 5, we have a cache of resources, I can't remember of to of my head how long, but either wait for 30min or try removing `.kube/cache`.

[2020-01-22 17:18] ricochet commented on #799
Please close and reopen this on kustomize.  https://github.com/kubernetes-sigs/kustomize/issues

[2020-01-22 17:18] soltysh commented on #798
This looks like it's not a problem with kubectl, you're getting a clear information back from the server that you can't modify immutable field.
/close

[2020-01-22 17:18] #798 closed

[2020-01-22 17:18] alewitt2 commented on #800
interesting. yeah time between is only a few min. Ok, as long as the cache gets cycled at some point, then im happy.

[2020-01-22 17:19] seans3 commented on #796
/sig cli
/area kubectl
/kind bug
/priority P4

[2020-01-22 17:19] ricochet commented on #797
Please close and reopen this on [kustomize](https://github.com/kubernetes-sigs/kustomize/issues).

[2020-01-22 17:22] seans3 commented on #796
/priority P3

[2020-01-22 17:24] seans3 commented on #794
/sig cli
/area kubectl
/kind bug
/priority P3

[2020-01-22 17:24] seans3 commented on #794
@zhouya0 Is this now fixed? Should this be closed?

[2020-01-22 17:26] seans3 commented on #795
Please move to minikube repo--closing.

/close

[2020-01-22 17:26] #795 closed

[2020-01-22 17:26] ricochet commented on #795
This appears to be an issue with how minikube writes out the kubeconfig. Please close and follow up with the [minikube](https://github.com/kubernetes/minikube).

[2020-01-22 17:26] soltysh commented on #793
The will be addressed as part of https://github.com/kubernetes/enhancements/pull/1291

[2020-01-22 17:27] seans3 commented on #792
/sig cli
/area kubectl
/priority P2

[2020-01-22 17:28] seans3 commented on #791
/sig cli
/area kubectl
/kind bug
/priority P2

[2020-01-22 17:29] seans3 commented on #789
/sig cli
/area kubectl
/kind bug
/priority P2

[2020-01-22 17:31] soltysh commented on #786
This will become not valid any more after https://github.com/kubernetes/kubernetes/pull/87077 lands, which will remove all the generators except for one creating a pod.
/close

[2020-01-22 17:31] #786 closed

[2020-01-22 17:31] seans3 commented on #785
/sig cli
/area kubectl
/kind feature

[2020-01-22 17:31] ricochet commented on #787
This will be resolved by [server-side apply](https://github.com/kubernetes/enhancements/issues/555).

[2020-01-22 17:35] seans3 commented on #783
Actually, we need to move this to the kustomize repo so that it gets traction. Can you move this to the kustomize repo? Sorry for trouble.

/close

[2020-01-22 17:35] #783 closed

[2020-01-22 17:38] ricochet commented on #782
The `README.md` should point to the main kubernetes repo. There's an ongoing effort to move commands out of the main repo (kubectl main is in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes)).

[2020-01-22 17:39] soltysh commented on #778
With https://github.com/kubernetes/kubernetes/pull/87077 (removing kubectl run generators other than pod creation) I'm going to close this.
/close

[2020-01-22 17:39] #778 closed

[2020-01-22 17:39] seans3 commented on #777
/sig cli
/kind kubectl

[2020-01-22 17:40] seans3 commented on #777
/area kubectl

[2020-01-22 17:42] seans3 commented on #776
This is how completion works with cobra--closing this.

/close

[2020-01-22 17:42] #776 closed

[2020-01-22 17:42] eddiezane commented on #774
@Ark-kun can you please provide a reproducible config?

[2020-01-22 17:42] seans3 commented on #774
/sig cli
/area kubectl
/kind bug
/priority P2

[2020-01-22 17:42] pbecotte commented on #798
I don't understand...the issue report is very clearly saying that we aren't trying to modify the field. That's why I opened a bug report- very confusing to get that error message when you aren't trying to modify anything, and the "replace" command simply doesn't work on (at least) service objects.

[2020-01-22 17:43] seans3 commented on #773
/sig cli
/area kubectl
/kind feature

[2020-01-22 17:43] seans3 commented on #771
/sig cli
/area kubectl
/kind feature

[2020-01-22 17:44] seans3 commented on #769
/sig cli
/area kubectl
/kind feature

[2020-01-22 17:45] ricochet commented on #771
A [krew plugin](https://github.com/kubernetes-sigs/krew) may be a better fit for this.

[2020-01-22 17:46] seans3 commented on #768
Please add the version: `kubectl version`

/sig cli
/area kubectl
/kind bug
/priority P1

[2020-01-22 17:47] soltysh commented on #767
Closing as duplicate.
/close

[2020-01-22 17:47] #767 closed

[2020-01-22 17:48] soltysh commented on #734
This was fixed in a recent release, you need to have a 1.17 server matching your client.
/close

[2020-01-22 17:48] #734 closed

[2020-01-22 17:49] seans3 commented on #766
Since this is fixed in 1.16, closing this. (It will not be backported, since its low priority).

/close

[2020-01-22 17:49] #766 closed

[2020-01-22 17:49] ricochet commented on #769
Cool idea. For something like this, it helps to first write a [plugin](https://github.com/kubernetes-sigs/krew).

This also reminds me a little bit of [kui](https://github.com/IBM/kui).

[2020-01-22 17:51] seans3 commented on #764
/close

[2020-01-22 17:51] #764 closed

[2020-01-22 17:52] ricochet commented on #764
If you're getting a `<` back then you're likely getting html back (probably 404). The URL to the API server is likely incorrect.

[2020-01-22 17:52] soltysh commented on #763
Based on the previous answer I'd encourage you to write a kubectl plugin, for now I'm going to close this.
/close

[2020-01-22 17:52] #763 closed

[2020-01-22 17:55] eddiezane commented on #761
@erwinvaneyk gentle bump on a reproducible case

[2020-01-22 17:57] seans3 commented on #760
Please note: the version skew you report is NOT supported (client 1.16; server 1.14; we only support versions +/- 1 version). Please reproduce this using an appropriate version.

/sig cli
/area kubectl
/kind bug
/priority P2

[2020-01-22 17:58] seans3 commented on #753
/sig cli
/area kubectl
/kind feature

[2020-01-22 18:08] seans3 commented on #724
/remove-lifecycle rotten
/priority P2

[2020-01-22 18:27] brianpursley commented on #798
I didn't mean to imply that the issue should definitely be closed, just that I was researching it a little more to find out if the problem is in the API.  Sorry if I caused that confusion.

However, I checked the API code and they have a unit test explicitly checking that ClusterIP is not removed in an update call in pkg/apis/core/validation/validation_test.go:

[code]

So I see a few possible cho

[2020-01-22 19:32] nicks commented on #797
great filed as https://github.com/kubernetes-sigs/kustomize/issues/2142.

though i think the change has to happen in this repo, since it's about what subcommands are registered? https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/kustomize/kustomize.go#L59

[2020-01-23 02:31] zhouya0 commented on #794
Yes. I think can close it now.

[2020-01-23 02:56] hmanikkothu commented on #799
Closing the issue per comment above.

[2020-01-23 02:56] #799 closed

[2020-01-23 04:49] eddiezane commented on #769
To echo @ricochet getting this started as a plugin would be the right approach if it's something you're truly interested in working on! Would be great to demo at the SIG CLI bi-weekly meeting.

There's hesitation around adding any interactivity to existing commands since it would break existing scripts and what not.

[2020-01-23 04:56] eddiezane commented on #780
@manosnoam is there a possibility that some controller form the submariner.io service is constantly reapplying the removed label. Are you able to reproduce with an arbitrary label like `foo=bar`?

[2020-01-23 05:24] seans3 commented on #794
/close

[2020-01-23 05:24] #794 closed

[2020-01-23 10:30] rdxmb opened #805 "kubectl --validate --dry-run does not check for kubernetes-syntax"
Neither `--validate` nor `--dry-run` makes a full syntax check with `kubectl apply` against the server. So, there is no **real** dry-run and no real **validate**

However, `kubectl diff` does so:

[code]

[code]

expected:

[code]
[code]

[2020-01-23 10:50] stephen-dexda commented on #705
/remove-lifecycle stale

[2020-01-23 16:40] serathius opened #806 "Drop heapster support in kubectl top"
Kubectl supports Metrics API provided by metrics server starting from 1.8
Heapster is RETIRED and no longer supported.

Having kubectl still mention heapster leads to confusion from users on what is needed to have kubectl top working.

/assign

[2020-01-23 16:48] serathius commented on #806
/sig instrumentation

[2020-01-23 16:52] serathius commented on #806
/type cleanup

[2020-01-23 19:20] rdxmb commented on #805
similar:

[code]

[2020-01-23 20:07] eddiezane commented on #805
@soltysh does server-side apply address this?

[2020-01-23 21:49] brianpursley commented on #796
/assign

[2020-01-24 08:33] nutchalum commented on #804
`kubectl` should have a confirmation when `delete` any resources
or at least default with `--dry-run` because it is a destructive action
this will provide a better user experience that said `User must confirm a delete action `

human error always happens, a lot

[2020-01-25 00:29] 22dh22 commented on #125
At least with the rest of my configuration
[code]
works fine while swapping those two lines
[code]
results in 127 :thinking:

[2020-01-25 19:57] #498 closed

[2020-01-25 19:57] #594 closed

[2020-01-25 19:57] #86 closed

[2020-01-25 21:59] #709 closed

[2020-01-26 17:24] srguglielmo commented on #125
Confirmed with me as well, with zsh 5.7.1. For anyone unaware, @mbtamuli 's `sed` command just comments out line 20: `alias _complete=_bash_comp`. Along with a `rm -f ~/.zcompdump; rm -rf ~/.zcompcache` to clear the completions cache, I was able to resolve the "command not found" error.

It looks like https://github.com/kubernetes/kubernetes/pull/79079 was closed due to inactivity :-(

[2020-01-27 08:36] joachimmathes opened #807 "kubectl does not allow multiple extra-scopes with --auth-provider-arg"
## kubectl version

[code]

## What I do

[code]

## What I expect

In `~/.kube/config.yaml` key `extra-scopes` should have value `openid,foo,bar`

[code]

## What it does

[code]
Single or double quoting the csv doesn't help either.

## Workaround

1. Run `kubectl` with single extra scope:
[code]
2. Add additional scopes `foo,bar` to key `extra-scopes` in `~/.kube/config.yaml` manually.

[2020-01-27 14:59] soltysh commented on #147
/reopen

[2020-01-27 22:47] ixdy commented on #690
/reopen

[2020-01-28 04:32] cprayer opened #808 "kubectl logs command with label selector option doesn't print error messages when there are no pod type resources matching labels"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

is:issue "kubectl logs"

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2020-01-28 20:02] rdxmb commented on #805
I think this could be fixed with https://github.com/kubernetes/enhancements/issues/576 (?)

[2020-01-28 20:23] seans3 commented on #749
/remove-lifecycle stale

[2020-01-28 20:38] brianpursley commented on #792
/assign

[2020-01-29 04:50] gkarthiks opened #809 "kubectl api-versions flag options are not clear in the help"
### Description
is there any flag options available for the `kubectl api-versions` command?

### What happened?
When I run the `kubectl api-versions -h`, the response will be the following, which is not clear on the flags and/or options.

[code]

### Expected
If there are any flags and/or options available, that should also been displayed along with the usage format.

### Misc:
If there is a poten

[2020-01-29 04:51] gkarthiks commented on #809
/area kubectl

[2020-01-29 04:53] gkarthiks commented on #809
sig/cli

[2020-01-29 20:30] apelisse commented on #805
Yeah, you're supposed to use the existing `--server-dry-run` if you want to validate against a cluster. That feature is being promoted to GA, and so we're changing this flag to `--dry-run=server`.

[2020-01-29 21:47] bgshacklett commented on #61
I ran into this when specifying a key earlier on in the configuration which already existed later in the configuration. The second instance of the key overrode the first. I believe this results in the configuration which K8s receives being identical and no changes being made.

Perhaps it would make sense to put a check in here for modification of the text contents (maybe a quick hash check) in add

[2020-01-29 23:53] danmutblix commented on #151
Yes, agreed. Doesn't really matter where you put the -n arg

`kubectl get -n tmp po,sts,svc,whatever` also works

Not that it matters in here, but just a side-note, I think it's easier to just add **-A** instead of **--all-namespaces**

`kubectl get all -A`

[2020-01-30 00:00] danmutblix commented on #151
@liggitt

This works for me

`kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind -A 2>/dev/null`

Ignore errors

[2020-01-30 11:43] babilen5 commented on #576
/remove-lifecycle stale

[2020-01-30 11:46] #711 closed

[2020-01-30 21:11] steadysupply opened #810 "Piping to exec is insanely slow"
Local:
[code]
Node:
[code]

To reproduce:
[code]

Of note is that the `echo`'d string is `cat`'d back to my terminal in <500ms but the report from `time` isn't delivered until a minute later (this seems to vary, sometimes being as low as 16 seconds and as high as 2 minutes).

The above is a minimal reproduction of behaviour observed when copying files to containers using `tar` and `exec` as sugges

[2020-01-31 04:44] brianpursley commented on #810
Just curious, what is the output if you run kubectl exec with the verbose flag (-v9), like this?

[code]

[2020-01-31 05:20] steadysupply commented on #810
[code]

[2020-01-31 05:26] steadysupply commented on #810
Weirdly using read builtin `read` doesn't hang for 30 secs.
[code]

[2020-01-31 06:10] gavinfish opened #811 "kubectl taint nodes command has wrong examples"
[code]

In the `kubectl taint nodes` command help information, the `bar:NoSchedule` argument should be ` bar=:NoSchedule`, otherwise it will throw error like this:

[code]

## Environment
[code]

Ref: kubernetes/website#18874
/assign

[2020-01-31 08:27] jasiu001 opened #812 "kubectl logs command with label selector cuts logs"
**Kubectl version**
[code]

**What happened**
When *kubectl logs* command is used with full pod name then all logs are displays
[code]
When the same command is used with label selector instead full pod name then logs are cut:
[code]

**How to reproduce it**
Use above commands to any pod with longer (more than e.g. 50 lines) logs content

**Expected results**
Full logs content should be displayed o

[2020-01-31 08:52] steadysupply commented on #810
[code]
<img width="654" alt="Screenshot 2020-01-31 at 08 51 37" src="https://user-images.githubusercontent.com/18679515/73525350-f0e12180-4406-11ea-999f-e974f08729a9.png">

[`trace.out.zip`](https://github.com/kubernetes/kubectl/files/4138273/trace.out.zip)

[2020-01-31 09:02] steadysupply commented on #810
Perhaps something like https://github.com/moby/moby/issues/36516, but for cri-o

[2020-01-31 12:28] cprayer commented on #808
/assign

[2020-01-31 15:58] brianpursley commented on #810
It does seem to have something to do with crio.  Using minikube I was able to reproduce some amount of extra slowness like you describe, although to a lesser extent...

---
### cri-o container runtime (~2 to 5 seconds)

[code]
... make sure pod is running...
[code]
---
### docker container runtime (~200ms)
[code]
... make sure pod is running...
[code]

[2020-01-31 16:07] bgshacklett commented on #613
/remove-lifecycle stale

[2020-01-31 16:14] #593 closed

[2020-01-31 16:55] brianpursley commented on #812
It appears to be working as intended (see below from the help).  Whether or not this limit makes sense is up for debate I suppose.
[code]
You can use `--tail=-1` to get the behavior you want using a label.
[code]

[2020-01-31 17:20] brianpursley opened #813 "Default grace period to 0 when --force is used to delete a pod, deployment, etc"
**What would you like to be added**:
Default grace period to 0 when using `--force` to delete a pod, deployment, etc

**Why is this needed**:
If I run
[code]
I get a warning saying:
[code]
And then it continues to delete the pod normally, without force.

Can kubectl just make the assumption that if you use `--force` and don't specify `--grace-period`, you are intending to immediately delete the po

[2020-01-31 19:57] brianpursley commented on #813
/assign

Not sure what everyone thinks about this idea, but I'm going to take a stab at it make a PR

[2020-02-01 16:38] #585 closed

[2020-02-01 16:38] #11 closed

[2020-02-02 02:33] #707 closed

[2020-02-02 18:21] joaocc opened #814 "kubectl version --client=false tries to contact server and fails"
This behaviour was not present a few versions of kubectl ago (as it has been used in a set of automation scripts in the past).
Basically, from our understanding, `kubectl version --client=false` should not try to contact any server and should return the version of the local kubectl install.
Happens on mac and alpine
[code]
[code]

[2020-02-03 11:37] steadysupply commented on #810
Thanks @brianpursley, closing this in favour of https://github.com/cri-o/cri-o/issues/3175

[2020-02-03 11:37] #810 closed

[2020-02-05 00:40] myshkin5 commented on #768
[code]

[2020-02-05 02:28] mwmix commented on #804
@seans3 - I am going to take a swing at this solving this one assuming there is no objections to that.

[2020-02-05 17:22] SurferJeffAtGoogle commented on #573
/remove-lifecycle stale

[2020-02-05 20:43] edthorne opened #815 "kubectl apply -k . --prune doesn't create generated resources"
I wonder if I've found a bit of an edge case with `kustomize` composition, `apply`, and `prune`.

Environment:
[code]

After a bit of trial and error I was able to reproduce the problem and a possible workaround to the issue. The behavior I was experiencing was related to executing a command similar to the following:

[code]

My reason for doing this is for development into a remote cluster and fo

[2020-02-05 23:46] sftim opened #816 "Write valid JSON from kubectl cluster-info dump"
**What would you like to be added**:
`kubectl cluster-info dump` writes out cluster info in JSON format, followed by one line:
[code]
I would like that last line written to standard error

**Why is this needed**:
If the diagnostic is written to standard error, the output becomes valid JSON.

/sig cli

[2020-02-05 23:47] sftim commented on #816
The relevant code is https://github.com/kubernetes/kubectl/blob/0555a86aaff9f0ba20dbc066dfaa1891222def87/pkg/cmd/clusterinfo/clusterinfo_dump.go#L292-L294

[2020-02-06 13:31] #715 closed

[2020-02-07 10:05] alvarobrey commented on #125
My current workaround:

In `.zshrc`:
[code]
Once (or also in `.zshrc` if you want it to be always up to date):

[code]

[2020-02-07 17:50] d2iq-shadowbq opened #817 "Errors become uncomprehendable in plugin list"
## Version:

Master
Tested 1.17.0+

## Problem:

All through the Error sequences of `plugin.go` there are no newline statements.

This produces errors that become very difficult to read as STDERR is used interchangeably to also show verbose information.

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/plugin/plugin.go

https://github.com/kubernetes/kubectl/blob/08c1f25495df730ea63fa7bb6b

[2020-02-07 17:52] brianpursley commented on #817
I saw the same thing and fixed in this pending PR...
https://github.com/kubernetes/kubernetes/pull/87633

[2020-02-07 18:49] seans3 commented on #750
/remove-lifecycle stale

[2020-02-07 18:51] seans3 commented on #750
@prksu Thanks for the fix and the cherry-pick. Closing.

/close

[2020-02-07 18:51] #750 closed

[2020-02-08 02:32] #726 closed

[2020-02-08 02:33] #792 closed

[2020-02-08 18:22] #668 closed

[2020-02-09 22:36] raelga commented on #557
/remove-lifecycle stale

[2020-02-10 14:53] LuckySB commented on #762
/remove-lifecycle stale.

[2020-02-10 14:55] LuckySB commented on #762
kubectl version 1.16.6 and 1.17.2 - this bug is still relevant
[code]

[2020-02-10 19:10] #713 closed

[2020-02-10 19:34] d2iq-shadowbq commented on #817
resolved by merge.

[2020-02-10 19:34] #817 closed

[2020-02-10 19:38] d2iq-shadowbq commented on #816
Precedence for using STDERR for verbosity

https://github.com/kubernetes/kubectl/blob/08c1f25495df730ea63fa7bb6b282e08ac4cd74e/pkg/cmd/plugin/plugin.go#L136

[2020-02-10 19:47] distortedsignal commented on #700
Oh no! Don't let me go stale!

[2020-02-10 19:50] seans3 commented on #700
/remove-lifecycle stale

[2020-02-10 19:59] distortedsignal commented on #700
Thanks @seans3!

[2020-02-10 21:15] brianpursley commented on #816
If dest is stdout, can we just suppress this message entirely?

Regarding the precedent for using stderr for verbosity, I actually just “fixed” that to use stdout 😆 in a recent PR, because I thought it was a mistake.

Kubectl does have a verbose flag that could be used for extra verbosity, and some commands make better use of that than others.

[2020-02-10 21:56] a0s commented on #524
Another weird work around
[code]
It would be great if someone writes a "kubernetes plugin" for CCZE :)

[2020-02-11 02:13] dneilson opened #818 "Update kustomize in kubectl"
The documentation out there is not right for the version baked in kubectl at the moment.

It is incredibly frustrating attempting to use it :|

Can we have this updated so we can use more options to generating manifests?

[2020-02-11 05:59] bhargaviaaa opened #819 "Pod CPU usage in %"
How to get Pod CPU usage in %. Also please provide REST API for kubectl top pods

[2020-02-11 08:44] eloyekunle commented on #742
From https://github.com/kubernetes/kubernetes/pull/87951#issuecomment-584235273 and https://github.com/kubernetes/kubernetes/pull/87951#issuecomment-583750522, `resourceVersion` can be specified as part of the manifest for `patch` and `replace` operations. Specifying them as flags could be ambiguous if the flag and manifest conflict on this.

/close

[2020-02-11 08:44] #742 closed

[2020-02-11 09:20] #796 closed

[2020-02-11 11:42] omeid commented on #569
/remove-lifecycle stale

[2020-02-11 19:34] #719 closed

[2020-02-12 00:18] geekofalltrades commented on #683
/remove-lifecycle rotten

[2020-02-12 02:16] fengzixu opened #820 "[feature request] support a new output style `Kind`"
During my daily works, I always want to know how many kinds of resources we have created in the kubernetes cluster. When I run the command

[code]
I think I just can choose the output style from name and wide
[code]

So I think maybe we can add one more option for output style: Kind. Just output the third column
[code]

If the maintainers approve this feature, I would like to handle it.

[2020-02-12 02:18] fengzixu commented on #820
Ping @gnufied @ncdc @rphillips @grobie

[2020-02-12 02:26] fengzixu commented on #820
Besides I mentioned above, I think we can add the version info of every resource when we perform the command `kubectl api-resources --verbs=list -o wide`. Because (Kind, Group, Version) defines a API in kubernetes. We can let users of kubectl detect the resource more clear.

[2020-02-12 03:21] fengzixu commented on #820
/kind kubectl
/kind feature

[2020-02-12 09:20] m1kola commented on #809
It doesn't looks like the command has any flags:

https://github.com/kubernetes/kubectl/blob/b5db31b03232870830b4197e9c7176130dcc733d/pkg/cmd/apiresources/apiversions.go#L53-L67

But I a gree that `[flags] [options]` in help text is a bit confusing. Not sure if it's somethin that can to be changed in kubectl itself to hide or in https://github.com/spf13/cobra.

[2020-02-12 13:41] brianpursley commented on #777
Hi @CalvinHartwell

Can you post the output of running `kubectl version`?

[2020-02-12 14:54] brianpursley commented on #407
/remove-lifecycle stale

[2020-02-12 17:32] shahar-klein opened #821 "kubectl get should return non-zero value if not found"
kubectl get returns 0 weather it finds or doesn't the requested resource.

[code]

ENV:
[code]

[2020-02-12 19:58] #720 closed

[2020-02-13 00:00] brianpursley commented on #683
Seems like the problem is that the entire json representation of the resource (including spec, status, etc) is returned for every pod, when only the name is needed.

As @geekofalltrades says, doing `kubectl get pod -o name` doesn't help because even in that case, it still receives the entire json payload for each pod and the name is just extracted client-side.

awk-ing the name out of the table is

[2020-02-13 01:55] #809 closed

[2020-02-13 09:02] sftim commented on #816
Fine by me!

[2020-02-13 11:16] discordianfish commented on #742
Why do we even have annotate, label and scale operations in the first place? All this can be specified in a manifest, like the resource version. I expected that is to improve the UX, same applies to `--resource-version`.

Just my 2 cent.

[2020-02-13 19:40] leonardorifeli commented on #747
For me upgrading to the latest version of AWS CLI solved the issue: https://docs.aws.amazon.com/codedeploy/latest/userguide/getting-started-configure-cli.html

[2020-02-14 02:01] brianpursley commented on #768
@myshkin5 I noticed in your trace output the user agent shows "kubectl/v1.16.2".

I looked at the code in question as of v1.16.2, and saw this:
https://github.com/kubernetes/kubernetes/blob/v1.16.2/staging/src/k8s.io/kubectl/pkg/cmd/util/helpers.go#L134
[code]
It is failing on the Sprintf because details is nil

However starting in v1.17.0, there is a nil check for details that *SHOULD* prevent th

[2020-02-14 14:20] brianpursley commented on #813
/kind feature

[2020-02-14 14:20] brianpursley commented on #813
/sig cli

[2020-02-14 14:20] brianpursley commented on #813
/area kubectl

[2020-02-14 14:24] soltysh commented on #678
The fact that we have `--ignore-not-found` is why this is working this way, if you prefer to ignore errors you have an option to do so, if not the default behaviour is to fail fast. This is not a bug but it's working as designed.
/close

[2020-02-14 14:24] #678 closed

[2020-02-14 14:29] soltysh commented on #811
Duplicate of https://github.com/kubernetes/kubernetes/issues/87296.
/close

[2020-02-14 14:29] #811 closed

[2020-02-14 15:20] brianpursley commented on #774
Hi @Ark-kun Can you provide a reproducible example and the version of kubectl you are using by running `kubectl version`?

[2020-02-14 16:17] brianpursley commented on #125
/assign
Going to try to fix this :crossed_fingers:

[2020-02-14 16:19] brianpursley commented on #125
Take a look at this PR:
https://github.com/kubernetes/kubernetes/pull/88165

I just removed the last line that called _complete like @pmkc suggested.  That seemed to fix it for me using zsh on ubuntu 19.10.

[2020-02-14 16:20] brianpursley commented on #125
Can someone give /ok-to-test on the PR?

[2020-02-14 17:19] brianpursley commented on #125
Some discussion over on the PR... I may actually just suppress the exit code of the _complete call.  I don't seem to need that call, but I'm not quite sure why it is being made, so I hate to completely remove it in case someone needs it.

So basically the only change is:
[code]
To this:
[code]

Thoughts?

[2020-02-14 17:44] myshkin5 commented on #768
@brianpursley It would be a pain to get my webhook to misbehave in this particular way again.

I'll call this one "accepted by inspection". The code looks good to me. Thanks!

(and thanks @Random-Liu)

[2020-02-14 17:44] #768 closed

[2020-02-14 18:41] brianpursley commented on #500
Kubectl isn't deciding what data to display, it is just showing what comes back from the API.  If you do a `kubectl get ingress -v9` you can see what comes back from the API.

But I was curious, and found a related issue that has traveled a long journey and was eventually closed with a PR on Nov 13 2019.

https://github.com/kubernetes-retired/contrib/issues/1517 --> https://github.com/kubernetes/i

[2020-02-15 19:59] maxandersen opened #822 "kubectl should allow `//` preamble for plugins to avoid exec format error"
I noticed that where a git plugin can be as follows:

git-helloworld:
[code]

[code]

(notice the use of `//` instead of `#!`) if you do the same for kubectl you get:

[code]
"
With this it is currently a must to have your script plugin start with "#!".
This is unfortunate since if you are using go or java single script notion they will not load.

They could out "#!" in header but all current IDE'

[2020-02-17 14:35] jglick commented on #396
I did look at this but still feel that something like https://github.com/kubernetes/kubectl/issues/396#issuecomment-529471691, deleting specific users/contexts/etc., would be more comfortable: the cleanup plugin requires that you do some preconfiguration to make sure it is not throwing out some things that are still useful. (In my case, I have some EKS configurations that do not work unless I have

[2020-02-17 16:13] uhaciogullari commented on #221
`nodePort: null` definitely works declaratively. Thanks @aserrallerios.

[2020-02-17 17:14] brianpursley commented on #646
@naihuayang Can you provide more info to reproduce?  Do you have a yaml file you used to create redis-master?  Are you using IPv6?

I created an AKS cluster and the deployment using the [aks quickstart](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#run-the-application) and did not observe the problem like you did:

[code]

[2020-02-17 18:40] thockin commented on #789
This popped up again for me.  Trying to update docs to not use `kubectl run` and I can't replace those invocations with `kubectl create` because of this.

[2020-02-17 22:13] brianpursley commented on #646
Without being able to reproduce it, I just happened to find where it truncates the external IP to 13 bytes + "..." when it is longer than 16 bytes.

https://github.com/kubernetes/kubernetes/blob/ea5cef1c65b5890011bdd258f5c61dcf197ee5e3/pkg/printers/internalversion/printers.go#L1018

[code]
[code]
[code]

It looks like that in order to support full display of IPv6 in table format, `loadBalancerWidt

[2020-02-18 05:42] mshahat opened #823 "Unable to connect to the server: x509: certificate signed by unknown authority"
Hi,
trying to find an explanation to this.
i am running kubectl on macOS `10.15.3 (19D76)`
[code]
i have an haproxy setup fronting my kuberentes master api-server, configured to offload TLS them establish another https connection to the backend

[code]
I'm using a wildcard `*.pks.uat.lnd.xxx.com` certificate generated from let's encrypt, the root CA for that is `Digital Signature Trust Co. - DST R

[2020-02-18 13:18] zhouya0 commented on #821
/assign

[2020-02-18 14:32] zhouya0 commented on #821
Because `no resources found` actually has  no error in your command and no error in the process of API request. It just returns an empty table. For example the request `api/v1/namespaces/default/pods` should not have no error even there's no pods.

[2020-02-19 08:26] zhouya0 commented on #814
/assign

[2020-02-19 17:10] seans3 commented on #821
Because this is not an error--closing.

/close

[2020-02-19 17:10] #821 closed

[2020-02-19 17:11] seans3 commented on #820
/area kubectl
/sig cli

[2020-02-19 17:16] seans3 commented on #818
The current kustomize in kubectl is 2.0.3.
kustomize at head is above that.

/sig cli

[2020-02-19 17:18] brianpursley commented on #816
/assign

[2020-02-19 17:18] seans3 commented on #818
The current challenge with updating kustomize in kubectl is the different versions of common dependencies. This challenge will be solved when kubectl completely removed from core kubernetes.

[2020-02-19 17:20] seans3 commented on #815
/area kubectl
/sig cli
/kind bug

[2020-02-19 17:23] seans3 commented on #814
The actual flag is `--client` without a value (ie. NOT `--client=false`). This is not a bug--closing.

/close

[2020-02-19 17:23] #814 closed

[2020-02-19 17:23] ricochet commented on #815
I wonder if this case is better handled by changing your development `kustomization.yaml` to disable hashes.

[code]

See https://github.com/kubernetes-sigs/kustomize/blob/master/examples/generatorOptions.md

[2020-02-19 17:25] eddiezane commented on #808
@cprayer just want to confirm that you are working on this one

[2020-02-19 17:25] seans3 commented on #812
/area kubectl
/sig cli

[2020-02-19 17:26] seans3 commented on #807
/area kubectl
/sig cli
/kind bug
/priority P2

[2020-02-19 17:27] seans3 commented on #806
/area kubectl
/sig cli
/kind cleanup

[2020-02-19 17:28] soltysh commented on #805
Based on the previous commenting I'm closing this.
/close

[2020-02-19 17:28] #805 closed

[2020-02-19 17:29] seans3 commented on #804
/area kubectl

[2020-02-19 17:33] seans3 commented on #802
/area kubectl
/sig cli
/kind bug
/priority P3

[2020-02-19 17:34] edthorne commented on #815
Unfortunately, I'm relying on the suffix hash to change from build to build to force a deployment. It was the only way I could find to trigger a new deployment when nothing but the image contents changed without a corresponding change in the image tag.

[2020-02-19 17:35] soltysh commented on #800
/close

[2020-02-19 17:35] #800 closed

[2020-02-19 17:38] seans3 commented on #793
/area kubectl
/sig cli

[2020-02-19 17:38] soltysh commented on #793
Closing in favor of https://github.com/kubernetes/enhancements/issues/1440
/close

[2020-02-19 17:38] #793 closed

[2020-02-19 17:39] eddiezane commented on #791
@mwalexander82 are you able to reproduce this on version 1.17 or higher?

[2020-02-19 17:41] seans3 commented on #816
/area kubectl
/kind feature

[2020-02-19 17:43] ricochet commented on #807
Looking at the source, extra-scopes was deprecated in May 2017. The error message should have surfaced this error message, "auth provider field depricated, refresh request don't send scopes"...

https://github.com/kubernetes/kubernetes/commit/6915f857574505a2cd2072c32d9d6da66ce6f55a

[2020-02-19 17:47] soltysh commented on #780
This was mentioned to happen only on AWS and I haven't heard from the user, so closing.
/close

[2020-02-19 17:47] #780 closed

[2020-02-19 17:48] soltysh commented on #779
Closing based on the comment from https://github.com/kubernetes/kubernetes/issues/87180#issuecomment-574217538
/close

[2020-02-19 17:48] #779 closed

[2020-02-19 17:48] seans3 commented on #784
Hi @symbiont-sam-halliday. Compiling kubectl is done within the main kubernetes (this will change when kubectl is moved out of kubernetes core). From kubernetes root, the command is simple:

`make kubectl`

It is not currently possible to build from the kubectl repository alone...so I'm going to close this.

/close

[2020-02-19 17:48] #784 closed

[2020-02-19 17:49] soltysh commented on #774
Closing since the author did not respond. Feel free to reopen if you have more insights.
/close

[2020-02-19 17:49] #774 closed

[2020-02-19 17:50] gkarthiks commented on #773
/assign

[2020-02-19 17:50] soltysh commented on #771
Yeah, plugin is the right direction.
/close

[2020-02-19 17:50] #771 closed

[2020-02-19 17:51] soltysh commented on #769
Yup, plugin to start with is a good approach.
/close

[2020-02-19 17:51] #769 closed

[2020-02-19 17:53] soltysh commented on #761
Closing due to age. Feel free to re-open with new insights.
/close

[2020-02-19 17:53] #761 closed

[2020-02-19 17:54] rccrdpccl commented on #762
/assign

[2020-02-19 17:54] seans3 commented on #762
/remove-lifecycle stale

[2020-02-19 17:54] soltysh commented on #760
Closing due to age, feel free to re-open if you get more insights.
/close

[2020-02-19 17:54] #760 closed

[2020-02-19 18:18] soltysh commented on #822
When invoking a kubectl plugin we use `syscall.Exec` (at least on linux) and we pass the entire execution to the child process, so this is more of binary level problem not kubectl
/close

[2020-02-19 18:18] #822 closed

[2020-02-19 18:19] soltysh commented on #820
We're not envisioning supporting outputs outside the default range. You can easily grep this one out from the current output.
/close

[2020-02-19 18:19] #820 closed

[2020-02-19 18:20] soltysh commented on #819
All of the metrics should be consumed from Prometheus, currently.
/close

[2020-02-19 18:20] #819 closed

[2020-02-19 18:23] soltysh commented on #804
See https://github.com/kubernetes/kubernetes/pull/62167 for explanation why this won't happen.
/close

[2020-02-19 18:23] #804 closed

[2020-02-19 19:29] apelisse commented on #814
It is indeed a boolean, but `--client=false` means the opposite of what you want. You want `--client=true` to only show client information. @zhouya0 has created a PR to clarify the help string.

[2020-02-19 22:16] maxandersen commented on #822
that’s a shame. as noted other cli's, i.e. git, that uses same mechanism of <cmd>-<plugin> in path this works. kubectl stands out.

I tried looking in the source code but couldn't find the actual place this call is made - can you give a pointer ?

[2020-02-20 01:27] cprayer commented on #808
@eddiezane
I'm new to Go language / kubectl source code and have been busy this month. So It's delayed. But this issue is on progress. Thank you for asking about it.

[2020-02-20 14:29] ialidzhikov commented on #757
/remove-lifecycle stale

[2020-02-20 14:46] soltysh commented on #812
This was discussed yesterday during sig-cli bug call and we've decided that this will not be changed for now. Users have options to specify a higher limit.
/close

[2020-02-20 14:46] #812 closed

[2020-02-20 17:55] soltysh commented on #782
Fixed in https://github.com/kubernetes/kubernetes/pull/87550
/close

[2020-02-20 17:55] #782 closed

[2020-02-20 17:56] soltysh commented on #740
This is fixed in recent versions.
/close

[2020-02-20 17:56] #740 closed

[2020-02-20 22:23] rccrdpccl commented on #762
As mentioned in the linked issue https://github.com/kubernetes/kubernetes/issues/83024, this seems to be an apiserver problem fixed with version 1.17:

[code]
[code]

As opposed to:
[code]
[code]

Should we close the issue @seans3 ?

[2020-02-21 07:48] rdxmb commented on #805
@apelisse Thanks! Already using this in my CI

[2020-02-21 14:59] mturzynski commented on #449
Is it already fixed? Same happens to me.

`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.1", GitCommit:"d224476cd0730baca2b6e357d144171ed74192d6", GitTreeState:"clean", BuildDate:"2020-01-14T21:04:32Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"c52f59bbba5fbf21fbb18e9a06f

[2020-02-21 18:08] apelisse commented on #805
Awesome @rdxmb, let us know if there's anything else we can do to improve it!

[2020-02-21 19:36] lentzi90 commented on #779
I'm sorry, but I don't see why this issue should be closed based on that comment.
The short and simple issue here is that

- `kubectl auth can-i create resource/resourceName` says **yes**, but
- `kubectl create resource resourceName` is actually **forbidden**

If this is OK, then sure leave the issue closed. I'm just afraid that there may be other more serious discrepancies where `can-i` says no,

[2020-02-21 21:25] soltysh commented on #822
https://github.com/kubernetes/kubernetes/blob/479759ed163bd232ba92351340e2b84de26a1b99/pkg/kubectl/cmd/cmd.go#L375-L394

[2020-02-22 02:34] #80 closed

[2020-02-22 12:03] scientronic92 opened #824 "kubectl set image doesn't work nor apply"
I am trying to update existing deployment using this command:
[code]
after it was flaskapp:4.
I deployed the cluster on aws using eksctl:
[code]
when I go to the loadbalancer url it keep showing me the first version used!
The new docker image is tested outside and it works perfectly.
I also tried using:
```kubectl edit``` and ```kubectl apply``` still get the same result.

[2020-02-24 13:12] scientronic92 commented on #824
The problem was in tagging and uploading docker image!

[2020-02-24 13:12] #824 closed

[2020-02-25 00:06] distortedsignal commented on #700
Just tried to repro this and could not. This might be fixed in the following version:

[code]

[2020-02-25 00:06] #700 closed

[2020-02-25 21:15] johnjjung opened #825 "Support KUBECONFIG_BASE64 env"
`KUBECONFIG=~/.kube/config`

This is a great feature. However, it's really annoying for CI/CD pipelines where you have to get the file. Can you guys please support multiline environment variables with a base64'd version of the kubeconfig variable that you want?

For example:

[code]

`KUBECONFIG_BASE64=YXBpVmVyc2lvbjogdjEKa2luZDogQ29uZmlnCgpjbHVzdGVyczoKLSBjbHVzdGVyOgogICAgY2VydGlmaWNhdGUtYXV0aG9y

[2020-02-26 01:32] jroper opened #826 "Allow adding annotations to pod when using kubectl run"
When using `kubectl run` to run a shell for debug/diagnostic purposes, it would be really useful to be able to add annotations to the created pod. The use case I have in mind is to control sidecar injectors, for example, if you're using Istio with automatic sidecar injection, you may not want the created pod to have the sidecar injected, to do this you need to pass set the annotation `sidecar.isti

[2020-02-26 01:38] jroper commented on #826
Work around to do this using the overrides flag:

[code]

[2020-02-26 05:43] amitsaha opened #827 "Hook into `kubectl apply/create` lifecycle"
Is it possible to "hook" into the `kubectl apply` command so that I can run a custom command/program before "apply" is invoked? The workflow i have in mind with such a hook would be:

1. User runs `kubectl apply`
2. Custom command runs
3. If (2) succeeds, (1) continues, else exits

I was hoping plugin would be the answer, but it seems like that's not the case. If this was possible, I could use (2)

[2020-02-26 14:02] corneliusweig opened #828 "Kubectl book: Add documentation around kubectl plugins"
Documentation around kubectl plugins is non-existent in the kubectl book.

The krew team would like to raise awareness to kubectl plugins and also provide an additional place where to add installation instructions for krew.

We'd like to add the following:

1. A note about krew when running `kubectl plugin`
1. A section in the kubectl book about plugins in general and a short overview of krew. Bot

[2020-02-26 14:23] rdxmb commented on #572
/remove-lifecycle stale

[2020-02-26 14:35] brianpursley commented on #827
Maybe you can accomplish this using the shell's `&&` operator, like this example:

Only run apply if a local directory called example exists:
[code]

Or for a more complex example, if you want to hit an endpoint successfully before running apply, something like this:
[code]

[2020-02-26 15:21] #147 closed

[2020-02-26 19:44] brennancheung commented on #574
I'm running into this as well.  I can't tell where this is being set.  I can't find it in any of the standard places `PATH` is set if anyone knows that.  I tried changing permissions as well and it stills says it can't find that directory.  Anyone know how to resolve this?

[2020-02-26 20:41] ahmetb commented on #574
@brennancheung It's better if you ask the dotnet project how/why they're injecting directories like that into your `PATH` variable. This is fixed in Kubectl since v1.14.0, so make sure you're using a newer version to get rid of the error messages in the original message. This is not specific to dotnet.

[2020-02-26 21:34] #828 closed

[2020-02-26 21:52] brennancheung commented on #574
It still shows the error which is kind of annoying.  I'm on 1.17.  The directory exists so I don't know why kubectl would be complaining.  That is the primary issue that I think is still not resolved.

[2020-02-26 21:58] corneliusweig opened #829 "Kubectl Book: Use canonical URL for krew"
As pointed out by @ahmetb, we should always use the canonical URL sigs.k8s.io/krew when linking to krew.

We should not use
- krew.dev which is just a privately owned redirect
- github.com/kubernetes-sigs/krew which is not the official URL either.

I messed this up a bit in https://github.com/kubernetes/kubernetes/pull/88577, so I'd like to fix it :roll_eyes:

[2020-02-26 22:04] ahmetb commented on #829
Thank you. 🙏 got a PR?

[2020-02-26 22:04] corneliusweig commented on #829
incoming

[2020-02-27 22:51] #124 closed

[2020-02-28 13:14] davidwter commented on #501
/remove-lifecycle stale

[2020-02-28 14:05] brainbug89 commented on #125
How does this fix the `zsh: command not found: _bash_comp` error?

Isn't the real problem that it should be `_bash_complete`?

[2020-02-28 16:36] brianpursley commented on #125
*I updated the PR based on discussion in the PR since my previous comment on this issue.  Now, I'm just removing the line entirely, and the two aliases as well: _bash_comp and _bash_expand.*

@brainbug89 do you have any insight about the purpose of _bash_comp and who would need it?  I looked through the code history and couldn't find anything.  I even tried googling for it and only found reference

[2020-02-29 12:45] serathius opened #830 "Improve documentation of kubectl top"
Due naming purpose of kubectl top is misinterpreted and compared to similarly named linux system tools. We should ensure that users understand meaning of those values and have proper expectation for this tool. Discussion: https://github.com/kubernetes-sigs/metrics-server/issues/447

I propose to improve command help that would do better explanation and link to relevant documentation in Kubernetes

[2020-02-29 13:29] #659 closed

[2020-02-29 15:55] atykhyy commented on #564
It would certainly be nice to be able to do this with kubectl rather than kludge it with curl.

[2020-03-01 13:53] #723 closed

[2020-03-01 22:02] naihuayang commented on #646
Hi,
I think can be try use
[code]

[2020-03-03 13:01] oke-py opened #831 "Update `kubectl top` error message to mention not heapster but metrics server"
`kubectl top` returns an error below if metrics-server is not installed.
[code]

It should be `Error from server (NotFound): the server could not find the requested resource (get services metrics-server`.

I'm using Kubernetes v1.17.3.

[2020-03-04 03:11] zhouya0 commented on #802
/close

[2020-03-04 03:11] #802 closed

[2020-03-04 03:21] zhouya0 commented on #831
/assign

[2020-03-04 07:01] zhouya0 commented on #831
The logic is written in:
https://github.com/kubernetes/kubernetes/blob/cadd51783bd463b3fdd6c1416e596493a717fe83/staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go#L179-L189
It will use `heapster` if no metrics-server is not provided.
Since `heapster` is not totally removed from the code, so this is not a bug, I'am right about this?

[2020-03-04 08:06] oke-py commented on #831
Oh, I see. It might be another issue...?
heapster was deprecated in v1.11 and remove in v1.13.
https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md

[2020-03-04 08:23] zhouya0 commented on #831
If removing existing `heapster` code, there might be a lot of work to do and need to discuss with the community. I see some places like HPA still using `heapster`:
https://github.com/kubernetes/kubernetes/blob/cadd51783bd463b3fdd6c1416e596493a717fe83/cmd/kube-controller-manager/app/autoscaling.go#L70

[2020-03-04 08:25] oke-py commented on #831
Ah, removing code might have a big impact. It might need KEP?

[2020-03-04 13:43] soltysh commented on #725
/reopen
/remove-lifecycle rottem
/lifecycle frozen

[2020-03-04 15:58] david-in-perth commented on #151
The *kubectl-conventions.md* doc linked to above still exists at [a different location][1] ([permalink][1 permalink]),
and still has the section titled *Rules for extending special resource alias - "all"*.

Should that section be updated to make that clear that the "all" alias is obsolete / is only being kept for backwards-compatibility?

[1]: https://github.com/kubernetes/community/blob/master/co

[2020-03-04 18:20] #816 closed

[2020-03-04 23:13] #733 closed

[2020-03-05 01:24] moebius87 commented on #151
Meanwhile I worked around the problem by using **[ketall](https://github.com/corneliusweig/ketall#via-krew)** (it can be installed via [krew](https://github.com/kubernetes-sigs/krew)).

[code]
I know, this isn't what you're looking for but it's not so bad.
I hope you'll find it useful anyway. :)

[2020-03-05 01:53] onesolpark commented on #823
you have to change the `certificate-authority-data` in kube config with your proxy cert
(typically located in `~/.kube/config`)

Example)
[code]

[2020-03-05 15:29] #662 closed

[2020-03-06 04:57] modevops opened #832 "kubectl create too limited"

[2020-03-06 04:58] #832 closed

[2020-03-06 05:02] modevops opened #833 "kubectl create too limited some of the kubectl run features should be re-added."
kubectl create is too limited. kubectl run gave a-lot flexibility in creating deployments and jobs via command-line. You can do very little with kubectl create without using a yaml file. In my opinion it was a very bad idea to deprecate kubectl run without having similar functionality with kubectl create.
What would you like to be added:
Add the functionality lost when kubectl run for deployments

[2020-03-06 20:17] syedriko opened #834 ""kubectl help api-resources --sort-by" text mentions nodes, not API resources"
Looks like a case of copy/paste:

$ ack "sort nodes list"
staging/src/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
108:	cmd.Flags().StringVar(&o.SortBy, "sort-by", o.SortBy, "If non-empty, sort nodes list using specified field. The field can be either 'name' or 'kind'.")

staging/src/k8s.io/kubectl/pkg/cmd/top/top_node.go
118:	cmd.Flags().StringVar(&o.SortBy, "sort-by", o.Selector, "If non-

[2020-03-07 18:53] danielhelfand opened #835 "Improve Error Message from Using kubectl apply with generateName"
Version:

[code]

Currently, if `kubectl apply -f` is used with `generateName` specified but no `name` specified in the metadata of an object, the resulting error will be similar to the following:

[code]

The issue of the error message has come up in a number of places:
* #197
* https://github.com/kubernetes/kubernetes/issues/44501
* https://github.com/tektoncd/pipeline/issues/2113
* https://gith

[2020-03-08 09:27] dpoetzschke commented on #650
/remove-lifecycle stale

[2020-03-08 14:26] mariusziemke opened #836 "kubectl port-forward for service with explicit local port broken in v1.18.0-beta.1"
Hey guys,

in v1.18.0-beta.1 kubectl ignores the local port when creating a port-forward to a service.
When forwarding traffic directly from a pod everything works as expected.

**Versions**
[code]

**Steps to reproduce**

[code]

[2020-03-08 22:00] mshahat commented on #823
thanks a million, @onesolpark ... your suggestion is correct, I figured this out a couple of weeks ago and it helped me solve my problem. in my case, i was using a let's encrypt cert, as I commented away the `certificate-authority-data` in `~/.kube/config` , all worked as desired.

thanks,

[2020-03-08 22:00] #823 closed

[2020-03-09 10:42] zhouya0 commented on #831
I found this is dup of https://github.com/kubernetes/kubernetes/pull/87498/files.

[2020-03-09 11:36] zhouya0 commented on #835
/assign
I'll try to improve this. :)

[2020-03-09 16:49] seans3 commented on #835
/sig cli
/area kubectl
/kind bug
/priority P2

@zhouya0 Please feel free to modify the priority as you see fit

[2020-03-10 08:15] zhouya0 commented on #835
I tried to send a PR, I don't know if this could solve your porblem. https://github.com/kubernetes/kubernetes/pull/88998

I didn't add some message like `try running kubectl create -f instead` because you will never know what future changes for `kubectl create` and other commands.

[2020-03-10 12:47] danielhelfand commented on #835
@zhouya0 Thanks! Added feedback to your pr.

[2020-03-11 01:30] brianpursley commented on #813
Merged
https://github.com/kubernetes/kubernetes/pull/87776

[2020-03-11 01:30] #813 closed

[2020-03-11 12:47] #736 closed

[2020-03-11 13:59] liggitt commented on #667
Is something running `kubectl config view` and logging the results automatically?

[2020-03-11 14:09] liggitt commented on #667
If you have access to run `kubectl config view`, you could also just run `cat $KUBECONFIG` and view the config file directly. `kubectl config view` just echoes the contents of the config file it is using.

[2020-03-11 16:57] thockin commented on #564
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-03-11 23:58] #728 closed

[2020-03-12 18:41] slmingol opened #837 "Any official docs around Kind: List?"
Couldn't find any information on how to make use of `kubectl explain list`.

[code]

[2020-03-12 18:48] andyfeller commented on #837
Kubernetes documentation has [examples](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-custom-objects) that use this, however there is nothing explicitly about it as @slmingol mentioned.
[code]

[2020-03-13 16:19] bolt-juri-gavshin commented on #454
Hello! Is there any ETA on fixing this?
It is really inconvenient to have so complex workarounds just to get files from "Completed" pods of a job. Have to create pods directly with init containers and do some magic just do such a simple operation...
Thanks a lot in advance!

[2020-03-13 22:44] #702 closed

[2020-03-14 16:01] brianpursley commented on #454
Just to understand the issue a little better (correct me if I'm wrong)...

You have something like this...
[code]

And you want to be able to do this after the job has completed...
[code]

But it fails with this message:
[code]

The reason you don't want to define a persistent volume is that you just want to get the result of your job this one time, it is not something that is needed long-term, is

[2020-03-15 03:31] bharathi-tenneti opened #838 "kubectl completion bash on Mac not working as expected."
Not able to enable Kubectl Autocompletion on my Mac OS(macOS Mojave 10.14.6), referring to https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion
[code]

Please help with what else I can check for?

[2020-03-15 09:20] phroggyy opened #839 "kubectl get pods table view displays targets incorrectly for type averageValue"
## Description

When creating a `HorizontalPodAutoscaler` of the apiVersion `autoscaling/v2beta2`, using an `Object` metric with an `averageValue` target, `kubectl get hpa` (default output format) incorrectly displays the targets as 0/0. `kubectl describe hpa` **does** correctly parse the average value out of the response.

## Steps to reproduce

YAML used:
[code]

This particular example requires

[2020-03-15 14:49] danielhelfand opened #840 "Typo in kubectl exec Deprecation Message"
As pointed out in this [comment](https://github.com/kubernetes/kubernetes/pull/88460/files#r387949242) in https://github.com/kubernetes/kubernetes/pull/88460, the deprecation messages for `kubectl exec [POD] [COMMAND]` shows `Use kubectl kubectl exec [POD] -- [COMMAND] instead.` for suggesting to the user how to use the command in the future. The message says `kubectl` twice, and can be changed to

[2020-03-16 02:59] zhouya0 commented on #839
/assign

[2020-03-16 05:50] zhouya0 commented on #839
Thanks for finding this bug. I made this PR to fix this:https://github.com/kubernetes/kubernetes/pull/89142

[2020-03-16 17:57] danielhanold commented on #407
Same issue here.

### kubectl version info
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T23:41:24Z", GoVersion:"go1.14", Compiler:"gc", Platform:"darwin/amd64"}

### zsh version info
zsh 5.8 (x86_64-apple-darwin19.3.0)

[2020-03-17 12:45] TOTOleHero opened #841 "kubectl exec, accent or specials chars showing problem"
Hello,

I'm french and i use fr_FR.UTF-8 charset encoding. I need to use accents in console mode with 'kubectl exec'.
But I try every combination of locale code (in host or on container), I'm not able to show accent chars.

I just use 'kubectl exec -it <pod-name> bash'
[code]
And no accent chars like éàâèç... is printed or show on console.

I use Windows with kubectl-1.17.0.exe.

What's wrong ?

T

[2020-03-17 14:15] bharathi-tenneti commented on #838
https://dev4devs.com/2019/10/20/how-to-have-kubectl-autocompletion-in-macos-x/

[2020-03-17 14:15] #838 closed

[2020-03-17 22:55] syedriko opened #842 ""kubectl create job --from=cronjob/hello hello-job" fails with "error: failed to create job: jobs.batch "hello-job" is forbidden: cannot set blockOwnerDeletion...""
**Kubernetes version (use kubectl version):**
[code]

**Environment:**
[code]

**What happened:**
[code]

**What you expected to happen:**
[code]

**How to reproduce:**

1. enable the OwnerReferencesPermissionEnforcement API server admission plugin

1. create a CronJob, the one from the k8s docs will do:
[code]
1. Run "kubectl create job":
[code]
- Disable the OwnerReferencesPermissionEnforcement

[2020-03-18 13:24] RoguePointer80 commented on #613
I use `kubectl` every day, and it would be a great enhancement to have a powershell-native module (PS core, of course! cross platform et al). Right now we are stuck with the outdated `cmd` shell. For example, instead of returning yaml or json string on the stdout, the cmdlet could return rich objects that we could interact with easily.

[2020-03-18 15:24] bergmeister commented on #613
@RoguePointer80 This is what you look for: https://github.com/felixfbecker/PSKubectl

[2020-03-18 16:06] voor commented on #396
/remove-lifecycle rotten

[2020-03-18 16:36] #741 closed

[2020-03-18 17:05] soltysh commented on #842
Duplicate of https://github.com/kubernetes/kubernetes/issues/88645
/close

[2020-03-18 17:05] #842 closed

[2020-03-19 05:22] #125 closed

[2020-03-19 05:50] bseenu commented on #808
The kubectl logs does not work  when you give the correct label also, it works with get only. And this makes sense to me as they can be multiple pods with the matching label

Why do you bother about showing error message in the negative case, you are not supposed to be using the label filter with the logs command at all

[2020-03-19 13:25] hansbogert commented on #125
I normally just do  a +1 on the opening post, but in this case explicitly:

Thank you all for fixing this. This was a really a pain in the behind for way too long.

[2020-03-19 14:14] avorima commented on #672
/reopen

[2020-03-19 16:05] flopes89 opened #843 "Add custom trusted CA when connecting through HTTP Proxy with Deep Packet Inspection (MITM Certificate)"
When trying to run any kubectl command, I receive

    Unable to connect to the server: x509: certificate signed by unknown authority

I suspect this is because our company uses a HTTP Proxy that does Deep Paket Inspection on HTTPS Proxy, which means it injects its own certificate and effectively acts as a MITM.

This trips up kubectl when connecting to our cluster. I want to avoid using insecure

[2020-03-19 20:05] bolt-juri-gavshin commented on #454
@brianpursley , you are 100% correct.
At the moment what I do is create a pod with `tail -f /dev/null` as command and then use `kubectl exec` + `kubectl cp` + `kubectl delete`.
One of use cases is execution of tests in Jenkins, after execution I need to retrieve junit.xml file.
I have ok-ish workaround now (with just 1 additional step), but being able to copy files from Completed pod would require

[2020-03-20 00:45] brianpursley commented on #450
I looked into this issue a little bit today and here is what I found out.

First of all, for reference, here is how I am reproducing:
[code]
The output is:
[code]

At least by my understanding, this is the problem:  I told kubectl only to get pods with `--field-selector=status.phase=Running` but I see the pod in a Terminating status.

The reason this happens is that the value displayed in the tabl

[2020-03-20 00:56] brianpursley commented on #500
/remove-lifecycle rotten

[2020-03-20 14:08] wknapik commented on #450
@brianpursley getting running pods from a script should be easy and reliable. Currently it's not. You could change the documentation, but that would not help users with that problem.

And yes, the current documentation is actively misleading and should be changed, but that's not where the work should stop.

IMO.

[2020-03-20 16:04] brianpursley commented on #450
Thanks @wknapik

By "running pods" do you mean you do not want to see the ones that are still running, but in the process of terminating?  Because that is what it is showing you now.  When it says Terminating in the `kubectl get` output, that is technically still a pod that is in a Running status phase, it just shows you "Terminating" because it knows it is in the process of terminating, but that

[2020-03-20 22:18] brianpursley commented on #450
I was curious to see if there was a way using only kubectl to get a list of the ready pods, and this is what I came up with (inspired by [alahijani's awk workaround above](https://github.com/kubernetes/kubectl/issues/450#issuecomment-571791955))

It uses a [go-template](https://golang.org/pkg/text/template/) to print the name of pods only if all of its containers are ready.

It's definitely more c

[2020-03-22 02:55] #743 closed

[2020-03-22 16:09] raravena80 commented on #551
/remove-lifecycle stale

[2020-03-22 20:52] raravena80 commented on #537
/remove-lifecycle stale

[2020-03-23 13:35] tnimni opened #844 "Kubectl completion script doesn't support busybox"
When installing kubectl completion script on BusyBox it will not work.
The reason is completion.go file line 276
Replacing the regex from 'GNU' to 'GNU\\|BusyBox' will solve the issue
This was already fixed in helm https://github.com/helm/helm/blob/master/cmd/helm/completion.go

[2020-03-24 00:57] brianpursley commented on #836
So I think this is what you were saying, but I confirmed, this appears to be a new bug introduced in 1.18.0.

Steps I followed to reproduce:
[code]

Output using 1.17.3 client:
[code]

Output using 1.18.0-rc.1 client:
[code]

/sig cli
/area kubectl
/kind bug

[2020-03-24 01:34] alejandrox1 commented on #836
Reproduced as well with latest from release-1.18 branch
[code]

Same exact behavior as described above.

Thank you so much @mariusziemke for finding this! And thank you @brianpursley for looking into it as well.

/priority critical-urgent
/milestone v1.18

I am inclined to say that this issue is release blocking as the regression was introduced while working in the 1.18.0 release.

[2020-03-24 01:42] alejandrox1 commented on #836
/milestone v1.18

[2020-03-24 06:10] #836 closed

[2020-03-24 17:57] MikaelSmith commented on #125
The instructions on https://kubernetes.io/docs/tasks/tools/install-kubectl/ to use
[code]
seem wrong for the same reason. Anyone know how to setup completion for an alias?

[2020-03-24 19:37] #806 closed

[2020-03-25 12:14] #745 closed

[2020-03-25 13:27] flopes89 commented on #843
In the meantime, I have already added the CA Certificate in question to the `/usr/share/ca-certificates` folder and ran `sudo dpkg-reconfigure ca-certificates` . However, kubectl still refuses to connect.

[2020-03-25 15:14] knight42 commented on #407
I have filed a PR https://github.com/kubernetes/kubernetes/pull/89479 to fix this issue, please give it a try and feel free to tell me any problem you encountered.

[2020-03-25 17:17] maelvls commented on #113
The output of that is the list of all custom resource definitions that have been registered.

@workhardcc is wondering about `kubectl get all` which only (in my mind) would be expected to display all object including the ones that correspond to a custom resource. Right now, `kubectl get all` only shows the built-in Kubernetes resources, no CRD-defined resources.

For example: when you have cert-ma

[2020-03-25 21:21] hansbogert commented on #125
@MikaelSmith
So eventually it works for you?

Else I could have a look in my install why it works OOTB with antibody+ ohmyzsh plugin for kubectl.

[2020-03-25 21:29] MikaelSmith commented on #125
Yeah, seems to work for me. I'm not sure where to update the instructions.

[2020-03-25 21:36] hansbogert commented on #125
@MikaelSmith you make a PR for the docs? repo is here right? https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/tools/install-kubectl.md#user-content-enable-kubectl-autocompletion-1

[2020-03-25 22:20] brianpursley commented on #125
In the past when I found things in the docs that need to be updated, I just used the edit page button at the bottom of the page and it will let you make a pull request from there.

[2020-03-26 04:41] wangrzneu commented on #844
/assign

[2020-03-26 08:22] knight42 commented on #749
@ahmetb Hi! I have met the same issue and filed a PR https://github.com/kubernetes/kubernetes/pull/89505 to fix it, could you try my patch to see if the problem is resolved?

[2020-03-26 17:51] rtheis opened #845 "1.18.0 kubectl apply -f no longer applies as many resources as possible"
**What happened**:

1.18.0 `kubectl apply -f` no longer applies as many resources as possible before exiting with an error.

**What you expected to happen**:

`kubectl apply -f` should apply as many resources as possible before exiting with an error to match the behavior in 1.17 and earlier

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?

[2020-03-26 17:52] seans3 commented on #845
/assign

[2020-03-26 17:52] seans3 commented on #845
/area kubectl
/sig cli
/kind bug

[2020-03-26 17:53] kwiesmueller commented on #845
I was just able to reproduce this:

`namespace.yaml`:
[code]

`configmap.yaml`:
[code]

- 1.17:
[code]

- 1.18:
[code]

[2020-03-26 20:45] #748 closed

[2020-03-26 22:10] seans3 commented on #845
/priority P0

[2020-03-27 03:26] snowmansora commented on #845
Hi,

I also encountered this issue and want to point out that for
[code]
my-cr.yaml (kind "CronTab") can be created **most of the times in the first kubectl apply -f** when using kubectl <1.18.
I know it may fail sometimes, probably due to how fast the server can create the CRD. When it fails, next kubectl apply -f will work.
But I hope the fix being done on kubectl 1.18 will behave as same as bef

[2020-03-27 09:32] toshi0607 opened #846 "kubectl patch can't be applied to ConfigMap data"
# What happened:
When I applied patch to ConfigMap, it doesn't work well. (`Error from server: Invalid JSON Patch`)

## Command

[code]

## Target CondigMap

[code]

# What you expected to happen:

No error occurs and `data.condif.template.containers[].lifecycle.preStop.exec.command` is applied.
[code]

# How to reproduce it (as minimally and precisely as possible):

1. Create ConfigMap

[code]

c

[2020-03-27 13:28] mik-dass opened #847 "Wrong error code thrown when list of a certain resource is empty"
**kubectl version:**
[code]
**OS:**
[code]
**What happened:**
When list of a resource type is empty, the error message seems to be thrown in the error stream but the error code is 0, thus indicating no error.

**What you expected to happen:**
I expected kubectl to return anything other than zero when list of a resource type is empty as the output is throw in the error stream.

**Logs:**
[code]

[2020-03-27 15:59] joachimmathes commented on #807
Thanks @ricochet for the hint.

### TL;DR

This issue is not a bug. Everything works as defined.

### Deep dive

I've tracked this down to pflag library:

* kubectl
  * cobra
    * pflag

The kubectl command flag `auth-provider-arg` is parsed by a flag parser of type
`StringSlice` in [kubectl:pkg/cmd/config/create_authinfo.go#L173](https://github.com/kubernetes/kubectl/blob/6b2a72dcaa9a61f1af6840d

[2020-03-27 17:21] joachimmathes commented on #807
After some more research, I finally found out how
[code]
came around.

We use [kubelogin](https://github.com/int128/kubelogin) for OIDC authentication. In [its documentation](https://github.com/int128/kubelogin/blob/master/docs/standalone-mode.md#extra-scopes) it says

So, if you miss this note - as we did - you run into the kubectl parser issue mentioned above.

Furthermore, it seems that `kubelo

[2020-03-27 19:47] codenrhoden opened #848 "SIGSEGV for "describe CSINode" on 1.18.0"
When running the command `kubectl describe CSINode`, I receive the following:

[code]

Note that `kubectl get CSINode` works fine:

[code]

The "describe" verb on `CSINode` worked fine in 1.17.x

[code]

[2020-03-28 23:11] bndn opened #849 "Images newName field example has a wrong name newImage"
In the [Container Images](https://kubectl.docs.kubernetes.io/pages/app_management/container_images.html) page and the [Customizing Pods Templates](https://kubectl.docs.kubernetes.io/pages/app_customization/customizing_pod_templates.html) page of the Book, the `newName` field example has a wrong field name `newImage`. The right field name is `newName` in the [Image type definition](https://github.c

[2020-03-29 09:43] sshishov commented on #840
This is completely misleading. Please fix this and how it could not be caught during testing?

[2020-03-29 13:50] tnimni commented on #844
Updated the regex, as github removed '\'

[2020-03-30 03:57] ukreddy-erwin opened #850 "How to pass imagePullSecrets from commandline"
I am using kubernetes imperative way instead of declarative.
As there are many parameters changing regularly and can't update the yaml file every time.

For creating a deployment, we use this
kubectl create deployment nginx --image=nginx:1.7.1

This is fine for public images.
But for provate images, we need to pass credentials data using secrets.
If it is yaml file, we keep in the file below line.

[2020-03-30 08:33] zhouya0 commented on #848
/assign

[2020-03-30 09:19] zhouya0 commented on #848
@codenrhoden  I submit this PR to fix this.
https://github.com/kubernetes/kubernetes/pull/89646

[2020-03-30 10:40] kasterma commented on #812
Adding a note here for other people experiencing this issue in the same way I did; it appears that when you use

    kubectl logs --since=4h --all-containers=true -lapp=consul --prefix

the implicit `--tail=10` is still in force, taking the minimum implied by the `--since` and `--tail` commands.  Hence the correct way to get 4 hours of logs is by

    kubectl logs --since=4h --tail=-1 --all-contai

[2020-03-30 14:24] cprayer commented on #808
@bseenu
label selector is supported option in logs command. it works well.
In case, if it doesn't care about error message, you don't distinguish between no pod and no log of pod.
I think it's helpful to know about existence of pod matching label.

[2020-03-30 15:10] danielhelfand opened #851 "Filter Option for kubectl api-versions"
When using `kubectl api-versions`, I would like the ability to filter for if a specific API Version is available on a cluster as opposed to having to search through all the results that are returned by `kubectl api-versions`.

Having a flag that accepts a list of API versions to search for and then returns only the selected would help to address this. Another thought with this is to allow a user t

[2020-03-30 19:43] bseenu commented on #808
@cprayer Sorry my bad, i was not passing the container when i checked it, just came across this as well - https://github.com/kubernetes/kubernetes/issues/54000

[2020-03-31 00:42] pjh commented on #754
/remove-lifecycle rotten

I just experienced exactly the issue described in the OP, and found it very confusing. I noticed these log messages from my e2e test:

[code]

The age of the pods is 90 minutes rather than the 30 minutes I expected, because `kubectl wait` is applying the timeout to each selected pod sequentially. This is very unintuitive to me. If this default behavior can't be changed, p

[2020-04-01 06:32] vosmax commented on #450
I've simplified @brianpursley solution a bit.

Find NOT READY pods:
`kubectl -n default get pods -o=go-template --template='{{range $i := .items}}{{range .status.containerStatuses}}{{if not .ready}}{{$i.metadata.name}}{{"\n"}}{{end}}{{end}}{{end}}'`

Find READY pods:
 `kubectl -n default get pods -o=go-template --template='{{range $i := .items}}{{range .status.containerStatuses}}{{if .ready}}{{$i.

[2020-04-01 16:12] #74 closed

[2020-04-01 16:13] soltysh commented on #132
This should be possible currently with dynamic client and Unstructured type.
/close

[2020-04-01 16:14] #132 closed

[2020-04-01 16:19] soltysh commented on #150
This should be done by now. Kubectl uses only external types and has its own scheme. I doubt we'll be reaching the point where each command has its own scheme.
/close

[2020-04-01 16:19] #150 closed

[2020-04-01 16:40] seans3 commented on #454
/remove-priority P3

[2020-04-01 16:51] eddiezane commented on #500
@ahmetb there was speculation on our bug scrub call that this might be fixed. Could you please check if it's still an issue when you get a chance please?

[2020-04-01 16:52] eddiezane commented on #396
/assign

[2020-04-01 21:06] #755 closed

[2020-04-02 14:23] #695 closed

[2020-04-02 19:24] hhollenstain opened #852 "Kubectl diff applies changes in 1.18.0"
# What is the issue?

When running kubectl diff in kubectl version 1.18.0 we are getting unexpected behavior of the diff being applied. What is expected is the output of diff (changes) without them being applied.  I went and verified on kubectl 1.16.x this was not the behavior of older clients. This has caused issues for us running checks on expected changes.

Below is a simple test of Client and

[2020-04-03 16:09] julianvmodesto commented on #852
/reopen

Cherry-pick for 1.18.1: https://github.com/kubernetes/kubernetes/pull/89827

[2020-04-03 17:50] bseenu commented on #851
you can get the available apis on the cluster using the ```kubectl get apiservices```
[code]

[2020-04-03 17:59] liggitt commented on #845
I'm still seeing this problem in master:

[code]

[2020-04-03 18:00] liggitt commented on #845
/reopen

[2020-04-03 19:06] bseenu commented on #850
Did you try overrides - https://stackoverflow.com/questions/40288077/how-to-pass-image-pull-secret-while-using-kubectl-run-command

[2020-04-04 15:11] brianpursley commented on #846
I don't think you need to escape `"` as `\"` because the patch argument is wrapped in single quotes.

What if you try this:
[code]

[2020-04-04 15:26] Xtigyro opened #853 "[v1.18.0] kubectl's version cannot be retrieved WITHOUT a kube config or additional params"
It should be possible to check the `kubectl` version WITHOUT having a valid or any kubeconfig file.

However, now it just throws an error and does NOT display the version in use (v1.18):
[code]

[2020-04-04 23:21] brianpursley commented on #502
/remove-lifecycle rotten

[2020-04-05 01:45] brianpursley commented on #502
Looked into this a little.  I found that `<no value>` is being written by go when it processes the template, not by kubernetes.
https://golang.org/pkg/text/template/

Relevant source:
https://golang.org/src/text/template/exec.go?s=#L973
[code]

One way to prevent `<no value>` from being output, using go template's built-in functionality, would be to check using an if statement something like this:

[2020-04-05 14:27] JCzz opened #854 "Where is the documentation for "-listio""
Just wanted to look for a description of "-listio" - like kubectl get pods -listio=name

`kubectl get pods -listio=resourcename`

[2020-04-05 14:41] brianpursley commented on #854
You're looking for the `-l` (or `--selector`) option.  [Kubectl Reference Docs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#get)

Your example is a selector for pods that have a label of `istio` with a value of `resourcename` and it is equivalent to this:
[code]

[2020-04-05 15:49] brianpursley commented on #853
if you use `--client=true` it will work:
[code]
[code]

I agree that it would be nice to print the client version though even if there is no config file.

[2020-04-05 16:18] brianpursley commented on #841
Hi Thomas.

Can you provide some steps to reproduce the problem?

I tried to reproduce it like this and was unable to:
[code]

And using interactive exec
[code]

[2020-04-05 19:16] bseenu commented on #847
I think this is expected as the API call to fetch all the pods in the namespace returns 200 OK even if there are no pods, but the api call to fetch a specific pod returns 404 in which case the exit status of the command is set to 255, you can check it yourself by running the command adding -v9 option

-srini

[2020-04-05 20:46] bseenu commented on #853
when you just use version without any options it should fetch client and server version and fetching server version without kubeconfig file would not be possible, so i think this is expected behaviour

-srini

[2020-04-05 21:26] wknapik commented on #554
/remove-lifecycle stale

[2020-04-06 01:57] #845 closed

[2020-04-06 02:02] seans3 commented on #685
/remove-lifecycle stale

[2020-04-06 02:03] seans3 commented on #685
/assign @brianpursley

[2020-04-06 02:03] seans3 commented on #685
/cc @soltysh

[2020-04-06 02:03] seans3 commented on #685
/assign @soltysh

[2020-04-06 04:36] mik-dass commented on #847
Yes and the error code is 0. But the message is printed in the error stream which shouldn't be the case.

[2020-04-06 07:30] toshi0607 commented on #846
Thank you for the advice! When I applied the patch that removed escape, the following error occurred.

[code]

Does the patch still have an issue?

[2020-04-06 10:37] Xtigyro commented on #853
I think a local tool should be able to print its version without any external dependencies or extra parameters. If it does not have a `kubeconfig`, it should print the client version and throw the same error after that. If you specify `--client=true`, it should still print just the client version - the same goes for `--server=true`.

[2020-04-06 11:01] JCzz commented on #854
Ahh cool, thanks :-)

[2020-04-06 11:01] #854 closed

[2020-04-07 07:25] zhouya0 commented on #853
It actually should not act like this... My PR will fix this:https://github.com/kubernetes/kubernetes/pull/89913

[2020-04-08 17:42] brianpursley commented on #685
@seans3 are you thinking this warning would occur only when you do `kubectl version` or after any kubectl command that makes a call to the server?

[2020-04-08 18:07] brianpursley commented on #846
Different problem.

I'm not sure how you would be able to patch this configmap (it is pretty complicated).  Maybe someone else can help you, or try stack overflow.

[2020-04-08 18:14] seans3 commented on #685
@brianpursley I was imagining it would happen for every command that makes a call to the server. It would be very intrusive; but I think that's the point.

[2020-04-08 18:21] brianpursley commented on #685
@seans3 agreed, otherwise people won't see it.

Is there any way to know the server version without making a call to explicitly retrieve it?

What do you think about the API adding a header to the response that indicates the server version, something like `X-Kubernetes-Version: 1.19.0` so that after each call the client can check the skew, without having to make a separate call to get it?

Or do y

[2020-04-09 01:42] brianpursley commented on #685
@seans3 Maybe this is or isn't the direction to go, but I wanted to learn a little more about how the API works so I decided to go down this path a little.

I'm thinking it could be done without too much work by adding a filter to set the response header. like this PR in my repo shows:
https://github.com/brianpursley/kubernetes/pull/1/files

Running that locally, the debug output looks like this:

[2020-04-09 04:10] zhouya0 opened #855 "Remove *cobra.Command from Options"
In `CreateJobOptions` and `CraeteCronJobOptions`, there still left `*cobra.Command` wich is not used now. Before, they were used by `cmdutil.PrintObject(c.Cmd, job, c.Out)`  but now they are using `o.PrintObj(job)`.

[2020-04-09 04:11] zhouya0 commented on #855
/assign

[2020-04-10 15:34] brianpursley commented on #407
/assign knight42

[2020-04-10 18:43] brianpursley commented on #501
/assign

[2020-04-11 01:13] brianpursley commented on #664
Is this still an issue?  If so, can you provide steps to reproduce.  Also, what is your kubectl version?

Here is what I tried.

My kubectl version:
[code]

Setup:
[code]

Confirm port forward works (`curl -I 127.0.0.1:5555` to verify):
[code]
Stop port forwarding.

Start ncat on port 5555:
[code]

Try port forwarding again:
[code]

So the message looks to me like it is telling me port 5555 is alr

[2020-04-12 08:31] Aracki commented on #664
I tested with client 1.17 and server 1.15 version and it does warn about used port! Thanks @brianpursle,y I'm gonna close this one.

[2020-04-12 08:31] #664 closed

[2020-04-13 07:35] #587 closed

[2020-04-13 08:17] developer-guy opened #856 "Add AuditSink object support to explain command"
When I issued command like following :
`k explain auditsink `

it says that server does not have a resource type "auditsink".

![Screen Shot 2020-04-13 at 11 15 48](https://user-images.githubusercontent.com/16693043/79104933-44ada680-7d78-11ea-9bb8-60e5c3995787.png)

[2020-04-13 11:23] developer-guy commented on #856
I want do develop this feature but I don’t find where to add necessary files for AuditSink

[2020-04-13 12:56] kyprifog opened #857 "kubectl logs error message not easily handled"
When I run kubectl logs against a pod ID that doesn't exist it seems to return stdout  of "" and no stderr, and then at some point much later it returns a server error as a callback saying the pod id does not exist.  It would be more ideal if it returned an error message earlier as would be expected with a 404 status http request rather than blank stdout

[2020-04-13 13:01] marckhouzam commented on #576
Cobra 1.0 provides support for Fish completion: https://github.com/spf13/cobra/blob/v1.0.0/fish_completions.md

[2020-04-13 14:43] brianpursley commented on #856
Does auditsink show in the output of `kubectl api-resources`?

[2020-04-13 15:03] brianpursley commented on #857
Hi @kyprifog . What is your version? Can you run `kubectl version` and paste the output?

Is your cluster self-hosted or a cloud provider and if so, which one?

I ran the command locally using kubectl 1.18.0 and a kind cluster and it completed pretty much instantly:
[code]

But in this case, a local kind cluster may not be comparable.

[2020-04-13 15:13] developer-guy commented on #856
nope, I think I need to enable first right I remember it

[2020-04-13 16:13] jglick commented on #685
Maybe this could be opt-out, or printed at most once per day, or something? I run `kubectl` from the Snap (typically very new) against a variety of clusters, some significantly older (EKS…), and have rarely encountered an _actual_ problem. I think there was one obscure issue with `top` sort order or something. Having `kubectl` print a warning after every command, with no option to suppress this, w

[2020-04-13 16:48] kyprifog commented on #857
Nevermind, i was expecting the error to be surfaced back to the main thread of kubectl but this should not be the case.

[2020-04-13 16:48] #857 closed

[2020-04-13 18:41] #856 closed

[2020-04-13 18:51] #407 closed

[2020-04-13 19:28] brianpursley commented on #576
That probably won't help too much since Kubernetes uses Cobra 0.0.5 and it might be a hard sell to to upgrade unless there are already plans to do so.

It might serve as an example, but even if you look at kubectl's zsh completion works, if I recall it does not use Cobra's zsh completion, but instead translates bash completion using a series of seds to make it work for zsh.

Maybe using zsh as an

[2020-04-13 19:28] brianpursley commented on #576
/sig cli
/area kubectl
/kind feature

[2020-04-13 19:42] jglick commented on #840
Fixed by https://github.com/kubernetes/kubernetes/pull/89919 AFAICT.

[2020-04-13 19:46] #840 closed

[2020-04-13 19:55] danielhelfand commented on #851
Not quite the format I am looking for. I would prefer information to be in the output of what is produced by `kubectl api-versions`.

[2020-04-13 20:44] marckhouzam commented on #576
Helm just moved from Cobra 0.0.5 to 1.0: https://github.com/helm/helm/pull/7904

From my evaluation the changes are minor and backwards-compatible.  But I can understand that upgrading may not happen over night for kubectl.

Zsh pretty much has the same scripting syntax as bash and has bash-completion compatibility support.  Fish has nothing of the sort however with a scripting syntax  incompatibl

[2020-04-13 22:32] wyardley commented on #600
/remove-lifecycle rotten

[2020-04-13 22:32] wyardley commented on #600
/reopen

[2020-04-14 08:43] AljoschaP opened #858 "Add flag k to kubectl wait"
In order to check if the whole deployment is ready or deleted, it would be awesome if `kubectl wait` would support kustomize using the `-k` flag.

For example:
`kubectl wait --for=condition=Available --timeout=1h -k .`

Thank you very much !

[2020-04-14 17:40] jellonek commented on #852
Cherry pick was already merged - IMO this one also should be closed by it.

[2020-04-14 19:05] julianvmodesto commented on #852
/close

[2020-04-14 19:05] #852 closed

[2020-04-15 11:50] soltysh commented on #685
Opt-in is already there, and it's matching the exact version, @brianpursley look into the code behind `--match-server-version` flag, we'll use something similar but warning on +/- 2 because we want a clear information for users they are outside of supported boundaries for now.

/priority critical-urgent

[2020-04-15 12:56] brianpursley commented on #685
Thanks @soltysh I wasn't aware of the `--match-server-version` flag.

[2020-04-15 13:12] brianpursley commented on #685
@soltysh are you working on this or are you looking for someone to work on it?  Just curious what the critical-urgent label means.

[2020-04-15 18:36] #757 closed

[2020-04-16 13:20] GMZwinge commented on #450
@brianpursley and @vosmax: the kubectl commands using the go-template don't work in my case. They handle the pods with a `STATUS` of `Terminating` as if they had a `STATUS` of `Running`.

[2020-04-16 14:31] brianpursley commented on #704
Seems like this is happening for a few people...

/remove-lifecycle stale

[2020-04-16 14:47] eliaoggian commented on #704
The issue is that it prints the event of deletion of the related event. There is a cleanup mechanism that deletes events older than 60m, this deletion is an event itself, and it gets printed by the watch.

Using a Java client I was able to filter out these deletion events.

Hope this helps!

[2020-04-16 18:58] vosmax commented on #450
@GMZwinge this is normal behavior. While termination is going, container has status `Running`, because it got termination signal and trying kindly complete the main thread. When it's terminated pod changes his `phase` on state `Terminated`.
[Here](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/) you may find answers on your questions.

[2020-04-17 18:39] liggitt commented on #853
even after https://github.com/kubernetes/kubernetes/pull/89913, this is still not working as it did in 1.17

[2020-04-17 19:10] liggitt commented on #853
will be fixed in 1.18 by https://github.com/kubernetes/kubernetes/pull/90244

/assign @soltysh

[2020-04-20 04:15] #693 closed

[2020-04-20 06:42] ewolff opened #859 "kubectl on WLS uses wrong path delimiter"
On Ubuntu / Windows Subsystem for Linux I get:

So kubectl uses \ instead of / as a path delimiter.

My version is

[2020-04-20 06:44] ewolff commented on #859
Sorry, my mistake.

[2020-04-20 06:44] #859 closed

[2020-04-20 13:35] alexgeek commented on #721
/remove-lifecycle rotten

[2020-04-20 17:00] deedf opened #860 "kubectl drain should have an option to not cordon the node"
Currently, `kubectl drain` unconditionally cordons the node.

This might not always be desirable, for instance if the operator wants to use a different type of taint than the default, using `kubectl taint` for example.

So `kubectl drain` should have a flag to leave out the cordoning.

[2020-04-21 07:42] #735 closed

[2020-04-21 08:44] #749 closed

[2020-04-21 12:31] rdxmb commented on #669
/remove-lifecycle stale

[2020-04-21 17:15] yordis commented on #574
[code]

Still showing up the error.

The folder does exists

[code]

[2020-04-21 19:48] brianpursley commented on #785
@Dominik-K I wonder if the problem is caused by the unescaped `:` in your url.  What if you try this instead?  (Replacing `:` with `%3A`)
[code]

[2020-04-21 20:01] seans3 commented on #797
/remove-lifecycle stale

[2020-04-21 20:01] seans3 commented on #797
/sig cli
/area kubectl

[2020-04-21 20:12] rkand4 commented on #151
Is there an equivalent of this in Client Java SDK ? I cannot figure it out at all.

[2020-04-21 22:12] sraillard commented on #151
I know it's a old discussion, but why I arrived here is very simple: I was searching for a simple way to list ***all*** the objects created in a namespace, hence, I have found the existence of the `all` keyword.

This `all` keyword really makes sens for me. Then I discover that `all` isn't listing all kind of objects... Hence my discovery of this ticket!

Honnestly, it's hard to understand why thi

[2020-04-22 00:03] brianpursley commented on #724
Can you do a `kubectl version` and post the output?

I tried reproducing on several client/server version combinations and did not get an error, just:
[code]

[2020-04-22 00:57] brianpursley commented on #787
Confirmed this is resolved in kubectl 1.18.0.

Using kubectl 1.17.3:
[code]

Using kubectl 1.18.0:
[code]

[2020-04-22 03:50] zhouya0 commented on #858
/assign

[2020-04-22 06:47] antoineco commented on #151
@sraillard see the answer from @moebius87 https://github.com/kubernetes/kubectl/issues/151#issuecomment-594978672

[2020-04-22 09:43] sraillard commented on #151
This plugin seems to be nice and do the work! My question is more why this kind of tool isn't integrated by default in kubectl?

[2020-04-22 11:52] stephen-dexda commented on #705
/remove-lifecycle stale

[2020-04-22 17:54] rkand4 commented on #151
Is there an equivalent of listing all kubernetes objects matching a label like below using **Kuberentes java client SDK**? (https://github.com/kubernetes-client/java)

The goal is to list all .yml files this particular application has an example is the below label can match DaemonSet, Deployment, Service

kubectl get all -l app=RatingsService

[2020-04-22 20:20] antoineco commented on #151
@rkand4 this is a question for StackOverflow or discuss.kubernetes.io.

The short answer is **no**. You have to range over all the APIs returned by [`getAPIVersions`](https://github.com/kubernetes-client/java/blob/cbc1d385dfa02da38e07e4b22498971b7b464680/kubernetes/docs/ApisApi.md), list the resources inside each returned API (only the `preferredVersion` of each API), and finally get the objects f

[2020-04-22 20:41] danmutblix commented on #151
Soo, can we just close this for now, the answers are already answered
through this thread. Thanks

On Wed, 22 Apr 2020, 22:20 Antoine Cotten, <notifications@github.com> wrote:

[2020-04-23 00:57] mziyabo commented on #613
If you're looking for kubectl auto-completion in PowerShell core you can have a look at **PSKubectlCompletion** module-  https://www.powershellgallery.com/packages/PSKubectlCompletion/0.0.1.

@bergmeister Is the PSKubectl using kubectl.exe client or cmdlets. I installed the module and completion is only on the cmdlets am I correct?

[2020-04-23 06:28] seans3 commented on #797
/assign

[2020-04-26 01:17] brianpursley commented on #721
/area kubectl
/kind feature
/sig cli

[2020-04-26 06:38] willemswang commented on #61
I have also faced same issue.

[code]

[2020-04-26 07:29] zhouya0 commented on #705
The fix seems no response for a long time, I submit another PR: https://github.com/kubernetes/kubernetes/pull/90502

[2020-04-26 08:05] BlueShells commented on #747
Run into the same issue on Mac
after upgrade everything , I found its the permission issue of somefile that in  the .kube folder

`PermissionError: [Errno 13] Permission denied: '/Users/abc/.aws/cli/cache/*.json'`

change the owner to the user that run kubectl command

[2020-04-26 12:29] andreazorzetto commented on #524
Or in alternative you could try [yh](https://github.com/andreazorzetto/yh)

`$ kubectl get pods -o yaml | yh`

![Comparison with or without yh](https://raw.githubusercontent.com/andreazorzetto/yh/master/images/comparison.png)

[2020-04-26 13:38] pipoe2h commented on #517
This is still happening with v1.16.8

obj.yaml
[code]

crd.yaml
[code]

kubectl get storageclusterpair primary-dr
[code]

kubectl get storageclusterpair primary-dr -o jsonpath='{.spec.remoteSites[*].name}'
[code]

[2020-04-26 14:09] brianpursley commented on #517
/reopen

[2020-04-27 07:56] TomaszKlosinski commented on #524
This issue is opened for almost 2 years. Is it on the roadmap?

[2020-04-27 18:17] brianpursley commented on #517
/remove-lifecycle rotten
/assign

[2020-04-28 20:11] brianpursley commented on #721
/assign

[2020-04-28 20:12] brianpursley commented on #721
/remove-lifecycle stale

[2020-04-28 20:37] #727 closed

[2020-04-29 01:43] brianpursley commented on #667
@liggit is right, the `REDACTED` text is really just a mechanism to hide the text from plain sight, but there is nothing stopping you from reading the file directly and seeing everything unredacted.

Anyway, i submitted a PR which makes token behave like the other fields and show `REDACTED`, but I’m not sure why this issue was not auto closed when it merged.

I’ll see if I can close the issue myse

[2020-04-29 01:43] #667 closed

[2020-04-29 01:47] brianpursley commented on #705
/assign zhouya0

[2020-04-29 01:51] brianpursley commented on #787
Closing because this has been fixed.
/close

[2020-04-29 01:51] #787 closed

[2020-04-29 08:02] zhouya0 commented on #855
/close

[2020-04-29 08:02] #855 closed

[2020-04-29 12:45] brianpursley commented on #860
/kind feature

[2020-04-29 12:45] brianpursley commented on #858
/kind feature

[2020-04-29 12:48] brianpursley commented on #853
/kind bug

[2020-04-29 12:49] brianpursley commented on #850
@ukreddy-erwin did bseenu's suggestion work for you?

[2020-04-29 12:51] brianpursley commented on #849
/kind bug

[2020-04-29 12:52] brianpursley commented on #848
Fixed by https://github.com/kubernetes/kubernetes/pull/89646
/kind bug
/close

[2020-04-29 12:52] #848 closed

[2020-04-29 12:55] brianpursley commented on #844
/kind bug

[2020-04-29 13:00] brianpursley commented on #839
Fixed by https://github.com/kubernetes/kubernetes/pull/89142
/close

[2020-04-29 13:00] #839 closed

[2020-04-29 13:00] brianpursley commented on #839
/kind bug

[2020-04-29 13:02] brianpursley commented on #834
/kind bug

[2020-04-29 13:03] brianpursley commented on #833
/kind feature

[2020-04-29 13:04] brianpursley commented on #831
/kind cleanup

[2020-04-29 13:06] brianpursley commented on #829
/kind documentation

[2020-04-29 13:07] brianpursley commented on #826
/kind feature

[2020-04-29 13:08] brianpursley commented on #825
/kind feature

[2020-04-29 13:08] brianpursley commented on #818
/kind documentation

[2020-04-29 13:10] brianpursley commented on #808
/kind bug

[2020-04-29 13:14] brianpursley commented on #754
/kind bug

[2020-04-29 13:15] brianpursley commented on #747
/kind bug

[2020-04-29 13:15] brianpursley commented on #747
This might be resolved, we just need someone to try to reproduce the issue to confirm

[2020-04-29 13:18] brianpursley commented on #554
/kind feature

[2020-04-29 13:48] brianpursley commented on #850
I don't think I understand. I thought overrides should solve the problem for you.

Can you provide more information? Were you able to try using overrides, and if so, will you post the command you used?

More info will be needed to determine if there is a bug. If you don't think it is a bug, then Stack Overflow might provide a better response for help.

[2020-04-29 15:05] brianpursley commented on #500
/cc @ahmetb

[2020-04-29 16:15] brianpursley commented on #502
Default behavior of go templates, so going to close this
/close

[2020-04-29 16:15] #502 closed

[2020-04-29 16:18] brianpursley commented on #557
We should have a general KEP for this that defines reasonable return codes across all commands.

[2020-04-29 16:19] brianpursley commented on #557
See can-i

[2020-04-29 16:19] soltysh commented on #557
`kubectl auth can-i` to be exact

[2020-04-29 16:22] seans3 commented on #564
Closing as this is intended behavior.

[2020-04-29 16:23] seans3 commented on #564
/close

[2020-04-29 16:32] seans3 commented on #600
/remove-kind kubectl

[2020-04-29 16:32] seans3 commented on #600
/remove-area kubectl

[2020-04-29 16:32] seans3 commented on #600
Not a kubectl issue

[2020-04-29 16:33] wyardley commented on #600
@seans3 it's literally an  issue about the behavior of `kubectl`; how is it "not a kubectl issue"?

[2020-04-29 16:35] seans3 commented on #644
/remove-priority P1
/priority P2

[2020-04-29 16:37] #600 closed

[2020-04-29 16:38] thockin commented on #564
I think the issue here is that there seems to be no way to use kubectl
to edit a status?

E.g something like `kubectl edit pod --status foo` or `kubectl edit
pod --subresource=status` or something like that.

On Wed, Apr 29, 2020 at 9:24 AM Kubernetes Prow Robot
<notifications@github.com> wrote:

[2020-04-29 16:39] thockin commented on #564
I hate to be That Guy that reopens issues, but this is a major gap for manual testing and scripting.

[2020-04-29 16:40] ahmetb commented on #502
@brianpursley for ideal UX, I recommend we reopen this and consider showing `""` instead of `<no value>` which makes scripting scenarios around kubectl pretty difficult.

[2020-04-29 16:41] thockin commented on #564
/reopen

[2020-04-29 16:53] seans3 commented on #665
/remove-lifecycle rotten

[2020-04-29 16:57] hanyouqing opened #861 "How can I use a patches file in the parents' directory?"
I'm trying to use a common patch file like this:

[code]

then got the error blow:

[code]

Will it be supported in the coming release? or any suggestion?

[2020-04-29 17:02] ahmetb commented on #500
No it's not fixed in v1.18.2, the speculations must be incorrect. :) Port 80’s still there with the provided repro.

[code]

Incorrect. Here's my response body, no port 80

[code]

[2020-04-29 18:42] sunil811 opened #862 "kubectl"

[2020-04-29 20:24] brianpursley commented on #502
@ahmetb I hear what you're saying, it is strange, but `<no value>` is coming from the default go-template implementation, not something Kubernetes is adding.

Even if we add code to convert `<no value>` to an empty string, it is deviating from the default go template implementation (not really a go template anymore, or rather it would become a customized go template). So for this reason, and becau

[2020-04-29 20:38] brianpursley commented on #500
Thanks @ahmetb
I took another look and think I found where it is happening:
https://github.com/kubernetes/kubernetes/blob/a26c34e47007dfa26378a7fac5296763df476d11/pkg/printers/internalversion/printers.go#L1157-1162

It assumes if you have TLS, it is port 443 and 80, otherwise 80. None of those are probably good assumptions to make.

I'll see if I can change the printer to pull the ports from the J

[2020-04-29 21:56] brianpursley commented on #500
I'm thinking the problem is ingress doesn't know anything about what ports the load balancer is listening on.

When I create an ingress in GKE and select HTTPS, it gives me both 80 and 443 (see below):
![ingress](https://user-images.githubusercontent.com/4977542/80650393-eeac5480-8a41-11ea-99a5-7385a615a277.png)

But then I can go make changes to the load balancer to remove HTTP if I want, and ing

[2020-04-30 00:41] ahmetb commented on #500
@brianpursley please refer to my initial comment.

    annotations:
      kubernetes.io/ingress.allow-http: "false" # disable HTTP

Without this annotation you see both 80 & 443. With this annotation apiserver no longer returns 80. So why show “80, 443” regardless was my original issue report.

[2020-04-30 14:58] soltysh commented on #669
There are two issues here:
1. Unnecessary kind when `--show-kind=false`
2. Printing using `--custom-columns` and `--show-kind`.

The first case is a bug and should be fixed, there's a `NamePrinter` here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/printers/name.go which most likely is missing wiring the show-kind flag properly.

The latter is not a bug p

[2020-04-30 15:02] soltysh commented on #669
/priority P2

[2020-04-30 15:04] soltysh commented on #669
/priority backlog

[2020-04-30 15:07] soltysh commented on #669
/remove-label P1
/remove-label P2

[2020-04-30 15:09] soltysh commented on #669
/remove-label priority/P1
/remove-label priority/P2

[2020-04-30 15:09] soltysh commented on #669
/remove-priority P1
/remove-priority P2

[2020-04-30 15:14] soltysh commented on #665
This is definitely a valid issue, `kubectl wait` is still young command. From quick look at code the problem seems to be with this line https://github.com/kubernetes/kubernetes/blob/8dd93ca94c253c161e9affcd22ffa0e25c8e683d/staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go#L230 which re-uses `ResourceFinder`, we most probably need to support some kind of wait for create, similarly how we wait for oth

[2020-04-30 15:18] soltysh commented on #600
Based on the contents of the kubeconfig provided by @persku a few lines above it's not a problem with kubectl in any way. The way gcloud configures its environment is up to them and kubectl is completely agnostic of any provider.
If your kubeconfig contains a line which invokes gcloud then that's exactly what happens.
[code]
If this line is replaced with a different command, then that other comman

[2020-04-30 17:07] brianpursley commented on #500
Ok, I think I see what you mean.  Obviously I’m not too familiar with ingress, but trying to help close out some of these bugs.  I’ll see what I can learn about that annotation, and whether it can be used to fix the issue.

[2020-04-30 20:31] soltysh commented on #573
There are 2 problems in here which might be confusing, so lemme shed a bit of light:
[code]
This warning is indicating you're invoking apply on a resource which was not created with `kubectl apply` command, or appropriate flag passed to `kubectl create`. The reason for that is using either will add an annotation to the object so the next invocation can compare that and pick what has changed and ap

[2020-04-30 20:32] #573 closed

[2020-04-30 20:37] soltysh commented on #151
/close

[2020-04-30 20:37] #151 closed

[2020-04-30 21:14] brianpursley commented on #500
Actually, I am correct about this, read ahead...

When I do `kubectl get ingress test-ingress2 -v9`, the response body that comes back from the server is a Table, not an Ingress, and the table contains the ports `80, 443`:

[code]

I suspect why you saw something different was because you're using an older version of kubectl.  I pulled down kubectl v1.10.2 (what you said you were using in the orig

[2020-04-30 21:50] ahmetb commented on #500
I actually posted that response with v1.18.2, so I don't think anything’s wrong my side. :) That's exactly the JSON I got on the response body (plus why would server return a different result for this based on kubectl version?). I think this is still a client-side thing.

[2020-04-30 21:53] mool commented on #818
It would be great to have the latest kustomize version in kubectl :-)

[2020-04-30 22:38] brianpursley commented on #500
The server doesn't handle specific kubectl versions differently, but kubectl tells the server how it wants the response.  For example...

Kubectl 1.10.2's request, with `Accept: application/json` returns Ingress JSON
[code]

kubectl 1.18.0's request, with `Accept: application/json;as=Table;...` returns Table JSON
[code]

If you're requesting to an older Kubernetes server with a newer kubectl, I'm

[2020-04-30 23:06] brianpursley commented on #818
/remove-kind documentation

Sorry, I think I misclassified this. Sounds like this is not just a documentation thing.

[2020-05-01 01:11] brianpursley commented on #862
/close

[2020-05-01 01:11] #862 closed

[2020-05-01 01:19] brianpursley commented on #646
@yangnaihua does that show the entire address for you?

[2020-05-01 08:55] yangnaihua commented on #646
in fact, i am not sure. if not , it is a bug

[2020-05-03 18:49] vijaygharge opened #864 "Unable to apply revised yml defination over OOMKilled POD"
Hi, I am trying to simulate memory requests & limits functionality. I tried creating POD with below configuration - which led to OOMKilled case as expected. Then I increased limits from 100Mi to 200Mi & performed `kubectl apply -f $filename`. However it is throwing error stating “pod memory-demo is invalid”.

Is it possible to simulate this case wherein I am revising & applying old memory limits v

[2020-05-03 18:58] vijaygharge commented on #864
As I understand - this error is generated because I am trying to modify fields on a running pod that are not allowed. Need to remove the pod and then apply the file. On a running pod only a few field are allow to be modified.
`"Forbidden: pod updates may not change fields other than spec.containers[*].image, spec.initContainers[*].image, spec.activeDeadlineSeconds or spec.tolerations (only additio

[2020-05-03 18:58] #864 closed

[2020-05-03 19:21] DragD opened #865 "kubectl does not generate namespace in yaml for dry run"
**What happened**:
Running:
[code]
produces YAML, which does not contain the line specifying the existing namespace `tmp`.

![Snap302](https://user-images.githubusercontent.com/17828303/80923401-3b6a9500-8d8c-11ea-9178-c8453f8b31aa.jpg)

**What you expected to happen**:
The produced YAML should contain the line specifying the existing namespace.

**How to reproduce it**:
Execute:
[code]
**Anything

[2020-05-03 20:35] #666 closed

[2020-05-03 21:57] gattytto commented on #524
I am currently using zsh instead of shell and antigen to manage zsh "plugins", one of them is "antigen bundle c-castillo/ccze" which resides in github.com/c-castillo/ccze

I think it would be nice to start from there since handy shortcuts can be made and kubectl can be added to a list of commands ccze can process, thought I haven't checked how it manages the rules for the coloring.

here's my curr

[2020-05-04 14:19] zhouya0 commented on #865
Seems same logic with https://github.com/kubernetes/kubernetes/pull/90502.

[2020-05-04 17:34] apelisse opened #866 "kubectl get doesn't stream results with many results"
I've got a cluster here with many many objects of a specific resource type (probably too many), and I'm trying to list them anyway:
[code]

If I run the same request with v8, I can see that it's running a lot of requests to the apiserver, with the continue token etc. But it looks like none of these resources are going to be printed before they are all collected.

There is a `chunk-size` parameter,

[2020-05-05 06:40] SayakMukhopadhyay commented on #574
I facing the same issue. I am getting issues for multiple paths which are not present in the file system like `C:\\WINDOWS\\system32\\config\\systemprofile\\AppData\\Local\\Microsoft\\WindowsApps` and `%USERPROFILE%?go/bin`. I have looked at the linked PR but I am failing to understand why would the `plugin list` command need to tell me if path variables exist or not. I can understand that kubectl

[2020-05-05 08:58] Gfeuillen commented on #818
+1 : the `kubectl` integration is one of the reasons we went for `kustomize`.

It would already be nice to be able to get the underlying `kustomize` version. @seans3 How did you arrive at this ?

[2020-05-05 12:55] techdragon commented on #697
/reopen

[2020-05-05 13:12] neolit123 commented on #697
once a kubenconfig is downloaded from the internet it's responsibility of the administrator to verify the validity of the kubeconfig before using the kubeconfig.

similar goes for bash scripts:
[code]
^ this is a bad practice.

[2020-05-05 22:55] ixdy commented on #690
/reopen

[2020-05-05 22:55] ixdy commented on #690
/kind bug

[2020-05-05 23:00] seans3 commented on #690
/remove-lifecycle rotten
/sig cli
/area kubectl
/kind bug
/priority P2

[2020-05-05 23:03] seans3 commented on #690
This is probably obvious, but I'll ask anyways: was the CRD applied successfully before the attempt to create the custom resource?

Also, is it possible to report the version (e.g. `kubectl version`).

[2020-05-05 23:41] Ghazgkull commented on #690
@seans3 Yes. The use-case here is deploying a pretty vanilla microservice to a cluster with Istio deployed. The Istio CRDs were created and in use long before attempting this rollout. My kubectl version at the time of opening this issue was 1.11.3.

[2020-05-06 00:19] ixdy commented on #690
I'm not sure if it's the same root cause (it's a similar error message), but I wrote a simple repro for `kubectl auth reconcile -f` failing when applied to CRDs in https://github.com/kubernetes/kubernetes/pull/85708.

[2020-05-06 00:27] ixdy commented on #690
and `kubectl auth reconcile -f` fails even if the CRD has already been applied successfully. Using the example I linked:

[code]

[2020-05-06 14:50] liggitt commented on #564
/remove-kind bug
/kind feature

I agree this is a really annoying gap. Adding `--subresource` support for get/edit/apply/patch commands would make sense to me.

xref an attempt to do this at https://github.com/kubernetes/kubernetes/pull/60902 and a https://github.com/kubernetes/kubernetes/issues/15858#issuecomment-624686815

[2020-05-06 14:50] liggitt commented on #564
this seems higher priority than P2 to me

[2020-05-06 16:01] seans3 commented on #564
/remove-priority P2
/priority P1

[2020-05-08 00:13] brianpursley commented on #861
@hanyouqing I don't know for sure, but this seems like an intentional security thing.

One alternative might be to symlink common.yaml into your directory, something like this:
[code]

[2020-05-10 18:45] justinkillen opened #867 "Be able to specify that a resource should not exist"
We run all yaml changes through a git repo which is then later applied via CI/CD running:```kubectl apply -k .```

Unfortunately, when a yaml file is removed, kubectl will not delete the resource and it becomes orphaned, and the yaml is no longer declarative.  Contrast this with tools like Terraform and AWS Cloudformation - both of those will remove resource that are no longer declared.

The appro

[2020-05-11 08:20] hanyouqing commented on #861
@brianpursley Thanks for your comments, It doesn't work either. actually I've tried that and got the same error.

[2020-05-11 13:02] omeid commented on #569
/remove-lifecycle stale

Still want this feature.

[2020-05-11 13:25] loganmzz opened #868 "Job duration equals age when all pod failed"
When all pod associated to a job have failed, displayed duration is equal to age. I think it should be equal to one of:

* duration between first pod start & last pod end
* duration of last pod

[2020-05-11 16:15] brianpursley commented on #868
Possibly related to https://github.com/kubernetes/kubernetes/pull/87564

@loganmzz Is the example below what you're talking about?

Run a job that fails.  This one runs for 30 seconds then fails
[code]

Wait 15 minutes, and then run `kubectl get all`
[code]

The job retried several times, but each time failed after 30 seconds.  However the total duration of the job is showing as 15 minutes, which

[2020-05-11 19:02] seans3 commented on #690
/assign

[2020-05-13 02:06] ksaritek commented on #858
@zhouya0, are you working on that issue? is it a good first start issue?

[2020-05-13 02:27] zhouya0 commented on #858
Yes. I submit this PR.https://github.com/kubernetes/kubernetes/pull/90357. But no response for a long time.

[2020-05-13 08:41] loganmzz commented on #868
Yes, it is exactly that.

[2020-05-13 08:42] loganmzz commented on #868
Is there any spec/documentation about `kubectl get` columns per resource type ?

[2020-05-13 08:46] loganmzz commented on #868
I took a look to Job and in `.status.conditions`, you have entry with `.type` equals to `Failed` or `Complete` with associated `lastTransitionTime` that can be used instead of `completionTime` (that make non-sense for non-`Complete` job)

[2020-05-13 17:09] brianpursley commented on #501
Trying to cleanup the issue list.
Can this issue be closed?

This has been open for almost a couple of years and I don't think a change to set-cluster will occur since there is a pretty simple way to accomplish the same thing as you mentioned...

[code]

Unless there is a compelling reason, I would propose we just close this with the above statement noted as the recommended way to accomplish this

[2020-05-13 18:01] NathanHowell commented on #501
@brianpursley the fix seems pretty small, assuming I'm reading the code right. I don't know go well enough to propose a solution. the CA file appears to be read twice, which doesn't work with a fifo.

run calls `validate` which reads the file once:

https://github.com/kubernetes/kubernetes/blob/bd6640a8e003059ee98f84e7378d97f8337c5e0b/staging/src/k8s.io/kubectl/pkg/cmd/config/create_cluster.go#L18

[2020-05-13 21:00] brianpursley commented on #501
@NathanHowell OK, thanks for the explanation. I didn't realize there was an underlying issue with multiple reads which would affect fifo.  I must have glossed over the point of your comment above, but I think I understand now.

Let me see if I can revisit the PR in a way that can fix the underlying issue...

[2020-05-14 03:37] aquilesb opened #869 "Link to v1.16.5 is returning v1.16.6-beta.0"
Not sure if this is the right place to post that, but Is correct the link to version `v1.16.5` be returning the `v1.16.6-beta.0`?

`curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.16.5/bin/darwin/amd64/kubectl`

[2020-05-15 21:12] foobarbecue commented on #527
/reopen /remove-lifecycle rotten

[2020-05-15 21:14] foobarbecue commented on #527
This the weirdest, most confusing thing about learning k8s . If "all" doesn't mean "all," rename it "common" or "basic" something.

[2020-05-16 18:29] luca-esse commented on #815
Hello,
Apparently when using `--prune`, resources the don't match the label selector are ignored. (I don't know if this is the intended behavoir since the documentation is very poor for this feature).
You can verify this by removing the `commonLabels` field and checking the output of your command, it should say: "error: no objects passed to apply"

In this case, since you are specifying the `commo

[2020-05-17 18:24] badjware commented on #867
Have you tried the using `--prune` command-line argument? It allows automatic deletion of resources that are not declared in the provided yaml.

[2020-05-17 23:29] gkarthiks commented on #773
/unassign

[2020-05-18 05:08] seans3 commented on #789
/remove-lifecycle stale

[2020-05-18 05:54] zhouya0 commented on #789
I believe this is fixed and now the function is moved to `staging/src/k8s.io/kubectl/pkg/cmd/create/create_deployment.go` after this PR. https://github.com/kubernetes/kubernetes/pull/90676

[2020-05-18 09:06] seans3 commented on #789
Closing on resolution.

/close

[2020-05-18 09:06] #789 closed

[2020-05-18 19:53] justinkillen commented on #867
The prune option is nice, but it makes a lot of assumptions and requires a lot of overhead in setting it up correctly.  In particular, it moves filtering from the resource-specific yamls into the general-purpose command line.  It causes the kubectl command line to be highly coupled to the yamls, which seems like a bad idea.

[2020-05-19 11:10] 9kranti opened #870 "Uninstall kubectl [client as well as server]"
How to uninstall kubectl (client and server) completely?

I tried `sudo rm /usr/local/bin/kubectl`
Then installed particular version using `kubectl binary` with `curl`
`kubectl version`
Client is updated but Server showing previous installed version
Client and Server mismatched

OS: Ubuntu 18.04

[2020-05-19 14:51] tommy-sho opened #871 "How to specify replicas number for `kubectl create deployment'?"
## version
[code]

## What I want to do

I'm trying to create a deployment through `kubectl create deployment` command, but., there is no proper options to specify replicas in below options,
[code]

## Question

Is there any way to set replicas for deployments? or Are there any plans to add an option to specify the number of replicas in the future?

[2020-05-19 16:23] justinkillen commented on #867
Or I guess perhaps in the kustomization.yaml you just add one label, and that is used on the prune.  Hmm.

[2020-05-20 06:28] zhouya0 commented on #871
Yes, this is actaully we are working...
https://github.com/kubernetes/kubernetes/pull/91113 Will add `--local` flag.
And I guess `--replica` flag will add soon.

[2020-05-20 08:31] tommy-sho commented on #871
@zhouya0
Thank you for your reply!
I will close this issue.

[2020-05-20 08:31] #871 closed

[2020-05-20 16:51] seans3 commented on #564
SIG CLI meeting on May 20th agreed to move forward on this and prioritize it. As work on this progresses, we'd like to get feedback from the larger community.

/assign
/assign @eddiezane

[2020-05-20 17:02] eddiezane commented on #564
/assign

[2020-05-20 21:01] toroc commented on #574
This same issue is happening on my Mac:
[code]
Version
----
[code]

[2020-05-20 21:16] justinkillen commented on #867
Seems there is already work going into making this better.  Closing this issue as a duplicate of https://github.com/kubernetes/enhancements/pull/810

[2020-05-20 21:16] #867 closed

[2020-05-20 23:45] #501 closed

[2020-05-20 23:50] seans3 commented on #762
Resolved in 1.17. Duplicate issue with more context here: https://github.com/kubernetes/kubernetes/issues/83024

/close

[2020-05-20 23:50] #762 closed

[2020-05-21 00:20] brianpursley commented on #501
The PR that was merged will allow you to use process substitution with the `--certificate-authority` command line option, so you will be able to do this:
[code]

[2020-05-21 00:29] NathanHowell commented on #501
@brianpursley thanks for pushing this through

[2020-05-21 00:55] brianpursley commented on #574
@brennancheung and @yordis in the case of `~/.dotnet/tools`, I think the error message is because of the `~`.

It is strange because I have dotnet tools installed, and in my path, it shows as "/home/bpursley/.dotnet/tools" and so I don't have the same problem.

In fact, I have to explicitly try to get it in my path with the ~ by wrapping it in single quotes, like this:
[code]

And then I am able t

[2020-05-21 00:57] brianpursley commented on #574
@toroc Are you able to `ls /usr/local/go/bin`?

[2020-05-21 06:17] zedtux commented on #501
Great news, thank you very much !!

[2020-05-21 13:00] brianpursley commented on #865
As he mentioned above, this looks like it is fixed by @zhouya0 's PR in kubectl v1.19.0...

[code]

/close

[2020-05-21 13:00] #865 closed

[2020-05-21 13:30] brianpursley commented on #861
@hanyouqing This issue is probably better suited for the https://github.com/kubernetes-sigs/kustomize repository

But I did find this [seemingly related issue](https://github.com/kubernetes-sigs/kustomize/issues/2078) which links to this [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/5d4e45c24dbe5c5aee5c5767a33ee76de2f90f74/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar) which says

[2020-05-21 13:41] brianpursley commented on #837
I think this is because List is not actually a "resource". Each resource can have an associated list type, PodList or CronJobList, but those are not actually resources.

If you do a `kubectl api-resources` you should see a list of resources and kubectl explain should work for any of these:
[code]

[2020-05-21 13:58] brianpursley commented on #844
Hi @wangrzneu
Just checking if you have an update on this, or if you have any questions or need help.

[2020-05-21 14:03] brianpursley commented on #844
It looks like this was already done in [this PR that was merged](https://github.com/kubernetes/kubernetes/pull/82181) and will be fixed in v1.19.0:

https://github.com/kubernetes/kubernetes/commit/6885919986250c33af63933d95b30d1896a8dd07

/close

[2020-05-21 14:04] #844 closed

[2020-05-21 17:09] andyfeller commented on #837
@brianpursley : While the explanation why nothing has been done before, what should be done to document this somewhere going forward?

[2020-05-22 12:55] #738 closed

[2020-05-22 14:27] sguidos commented on #519
I still had this problem on kubectl v1.15.5; and escaping the inner double-quotes with a \ backslash did not work.  Very frustrating.  Just for the hell of it, I escaped each inner double-quote with the C# styled a triple-double-quote, and it worked!  Go figure, LOL

`--overrides '{ """apiVersion""": """v1""","""spec""":{"""ports""":[{"""port""":2830,"""protocol""":"""TCP""","""targetPort""":2830,

[2020-05-22 16:11] aleb opened #872 "Patching reports success when it did not do anything"
I'm running the command below and it reports success but the finalizers remain unchanged ("Finalizers: [kubernetes.io/pvc-protection]"):

[code]

This happens with some service account. If I run the patch command on my laptop, it works fine.

The patch command should report an error when it fails to apply the patch.

[2020-05-22 18:27] brianpursley commented on #872
Just a quick thought, I haven’t had a chance to try it, but what if you use `null` or `[null]` instead of `[]`.

I wonder if it reported success because it didn’t think there was anything to do... not sure how Json merge patch interprets [], maybe the same as {} which would be to do nothing.

[2020-05-23 10:16] #790 closed

[2020-05-23 12:13] nsvijay04b1 commented on #527
please /reopen

[2020-05-23 14:58] brianpursley commented on #872
@aleb Sorry, I missed the part where you said it works find from your laptop.

I tested and it works fine for me too.

Can you provide your OS (e.g. `cat /etc/os-release`) and the output of `kubectl version` on the machine that doesn't work and also for your laptop?

[2020-05-24 02:22] ukimpact opened #873 "Ability to run command against context parameter"
I've listed issue is stackoverflow as well:

https://stackoverflow.com/questions/61966552/gurantee-context-for-kubectl-command-kubectl-get-po-use-context-bla

If you write a simple bash script with` kubectl config use-context cluster-a` and infinite loop which does:
`kubectl get po`
and run it in terminal A, then open terminal B. In terminal B you switch context to context `cluster-b`. The command

[2020-05-24 21:38] brianpursley commented on #873
@ukimpact check out the `--context` option and see if it does what you want.

Example:
[code]

As you found out, there is only one "set" context at any given time and the context is actually stored in the shared configuration, so even if your kubectl's are operating in a different terminal, they will share the same context, unless you explicitly specify the context using `--context`

[2020-05-25 09:04] aleb commented on #872
The OS is "Debian GNU/Linux 9 (stretch)".

The kubectl version:
[code]

[2020-05-25 12:35] aleb commented on #872
If I use the service account credentials on my laptop with **kubectl v1.18.0** I get a proper failure:

[code]

[2020-05-25 12:35] #872 closed

[2020-05-26 09:28] pocman commented on #747
hi @brianpursley
I reproduce this issue with
[code]

[2020-05-26 09:50] lentus commented on #572
I am currently working with a company to move their infrastructure to a kubernetes environment, and we are currently trying to solve the issue that certain resources (such as ingress) are not deleted when just `apply`ing the new version of a yml file. Prune seems to be exactly what we need, but we are hesitant to implement it in our CI/CD pipeline since prune is still in alpha.

This issue is stil

[2020-05-27 01:13] junaid-ali commented on #740
@soltysh is this fixed? I can still see the broken links in kubectl built from master:
[code]
[code]

[2020-05-27 01:13] junaid-ali commented on #740
@soltysh If no one is working on this, I can take this to fix.

[2020-05-27 01:31] junaid-ali commented on #740
@soltysh please ignore my above replies, my context was configured wrong. It looks fixed.

[2020-05-27 06:55] franklin216 commented on #747
For me, the update of the version was not possible, because of Admin Rights. So i tried something else.

After deleting the folders 'cli' and 'boto' in C:\Users\username\.aws everything worked like before.
Maybe deleting 'cli' would have been enough.

[2020-05-27 16:01] eddiezane commented on #870
Hey @9kranti!

The server version that you are getting reported back from kubectl is actually from the Kubernetes API server. You'll need to do a upgrade of your master deployment.

/close

[2020-05-27 16:02] soltysh commented on #870
/close

[2020-05-27 16:02] #870 closed

[2020-05-27 16:10] soltysh commented on #869
@kubernetes/release-team-leads this sounds like a problem in the release artifacts.
I'm closing this here, since it's not a kubectl bug, per se.
/close

[2020-05-27 16:10] #869 closed

[2020-05-27 16:14] seans3 commented on #866
/sig cli
/area kubectl
/kind bug

[2020-05-27 16:20] seans3 commented on #860
/sig cli
/area kubectl

[2020-05-27 16:21] apelisse commented on #866
I would maybe consider this a feature more than a bug, but it's debatable :-)

[2020-05-27 16:22] seans3 commented on #853
/sig cli
/area kubectl

[2020-05-27 16:22] brianpursley commented on #861
@hanyouqing just following up.  We discussed this issue on the the sig-cli "bug scrub" meeting today, and it was confirmed that using kustomize v3 with the `--load_restrictor` is the way to accomplish what you are asking.

/close

[2020-05-27 16:23] #861 closed

[2020-05-27 16:30] soltysh commented on #847
/kind feature

[2020-05-27 16:31] soltysh commented on #847
/kind remove bug

[2020-05-27 16:32] soltysh commented on #847
/remove-kind bug

[2020-05-27 16:37] ricochet commented on #846
Can you provide a test case of 20-30 lines of pure yaml? The amount of templating here makes it difficult to reproduce. My gut is that this is a client problem or an issue with string escaping. Can you reproduce this on the latest version?

[2020-05-27 16:41] seans3 commented on #834
/sig cli
/area kubectl

[2020-05-27 18:51] Xtigyro commented on #853
Seems to be fixed now.

[2020-05-27 19:10] seans3 commented on #853
/close

[2020-05-27 19:10] #853 closed

[2020-05-27 20:51] eddiezane commented on #846
I think I figured this out.

`data.config` is actually just one big string due to the multiline yaml.

[code]

If you escape your patch with that in mind it applies. Do not that it's a string patch and not acted on logically as json.

I tossed it into this tool to do that easily https://www.freeformatter.com/javascript-escape.html

[code]

[2020-05-28 06:28] asad-mahmood1 opened #874 "kubectl version command on Docker Desktop for Mac always returns a "Unable to connect to the server: dial tcp...no such host" error"
I have just started using Kubernetes on my Docker Desktop for Mac and after enabling Kubernetes from the Preferences window, I tried running kubectl version to get the client version and server version. This is what I saw instead:

**$kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.7", GitCommit:"be3d344ed06bff7a4fc60656200a93c74f31f9a4", GitTreeState:"clean",

[2020-05-28 07:26] asad-mahmood1 commented on #874
Just figured it out. By default, the server address for the cluster in the kube config file is set to https://kubernetes.docker.internal:<port number>. For Docker Desktop for Mac version 2.3.0.3 and K8s version 1.16.5, this server address needs to be changed to https://localhost:<port number>, where the port number is usually something like 6443. Once I made this change to the server address, I wa

[2020-05-29 13:48] serathius commented on #830
/help

[2020-05-29 13:48] serathius commented on #830
/remove-lifecycle stale

[2020-05-29 17:21] eddiezane commented on #866
I was able to replicate this by creating 100k configmaps. I'll try poking around and see what I can figure out.

[2020-05-31 16:21] malferov commented on #501
@brianpursley may we have the same for two other properties?
[code]

[2020-05-31 19:57] glothriel commented on #711
I also have this problem and it happens not only with dry runs.

We hacked this around, by introducing retries in a parent command that runs kubectl.

[2020-06-01 02:25] seans3 commented on #711
This is expected behavior. It is not currently possible to apply a CRD and create an instance of the custom resource in the same apply. We would like to eventually get this to work, but it does not work now. Details: the apply uses discovery to create a RESTMapper that understands API resources. This RESTMapper will not have an entry for the CRD (even after the apply), hence the failure.

Keeping

[2020-06-01 13:35] brianpursley commented on #501
@malferov The merged PR fixes those too.  https://github.com/kubernetes/kubernetes/pull/91077/files#diff-e7b8759abac71d5e887c99a90de266c6L423-L431

[2020-06-02 09:03] gkarthiks commented on #773
@juliantaylor do you have list of commands that you wanted to propose the qps flag for?

[2020-06-02 17:53] eddiezane commented on #846
Feel free to reopen this if it you think it's something else.

/close

[2020-06-02 17:54] #846 closed

[2020-06-02 21:05] juliantaylor commented on #773
can't it be a generic option that applies to all subcommands like timeouts? all commands should be instantiating the same client-go instance?

If not apply is most relevant as often does a lot of api requests when applying many resources as it needs to get the resources first for patching and then create a patch. And apply --prune does even more requests.

[2020-06-03 16:37] tylerauerbeck commented on #818
Are there any current plans to at least get kustomize on a 3.X release instead of remaining a full major release behind?

[2020-06-03 20:05] eddiezane commented on #866
I've tracked this down to being a bottleneck here:

https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L498

Specifically here:

https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/cli-runtime/pkg/resource/result.go#L122

Issue is in fact the `chunk-size`. By defa

[2020-06-03 20:17] apelisse commented on #866
I suspect there are two things that are going to make the non-caching behavior happen:
1. If we have to sort the results, we need to receive them all fist. is there a non-sorting option? Can you look at the options here, maybe we might have an option that would say "don't sort just give me the results as fast as you can". [1]
2. I believe we do something relative to printing the header for the col

[2020-06-03 21:05] brianpursley commented on #874
Glad you got it figured out.
If the server address is wrong, you might want to open an issue with Docker Desktop for Mac.  They would be the ones who set that address.

[2020-06-03 21:16] eddiezane commented on #866
Hmmm

1. As of now when sorting is enabled we set `chunk-size = 0` to fetch in one request.

https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L464-L468

2. I'm not too sure on this one but `Infos()` is already called to fetch the requests before we reach the multi-gvk stuff.

[2020-06-03 21:31] apelisse commented on #866
Yeah, keep digging there, you might find something useful.

Isn't it sorting by default? I'm a little confused. I should take a minute to look at the sorting option for kubectl get.

[2020-06-03 22:01] eddiezane commented on #866
https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L210-L214

Unless provided `sort-by` is an empty string.

https://github.com/kubernetes/kubernetes/blob/e422e9a3f41bfdf27c4bd2ebfabff40fe7a8b1e9/staging/src/k8s.io/kubectl/pkg/cmd/get/humanreadable_flags.go#L124

[2020-06-04 01:21] FrelDX opened #875 "Connect pod through SSH protocol"
![image](https://user-images.githubusercontent.com/32826879/83704451-b3a2cf80-a644-11ea-8145-2749f83def45.png)
https://github.com/FrelDX/kube-console-on-ssh

[2020-06-04 08:29] teoincontatto opened #876 "Verb validation when creating role not in line with API"
I would like to know why there is a verb validation when creating roles using `kubectl` when this validation is not enforced by the kubernetes API. In particular this is something that could be very useful in order to use kubernetes RBAC on CRDs created by users:

[code]

As mentioned [here](https://github.com/kubernetes/kubernetes/issues/87180#issuecomment-574217538) using custom verb is somethin

[2020-06-04 16:50] apelisse commented on #866
Sure, can you dig deeper and make sure that they are not eventually sorted anyway on a simple get? If there is no sorting involved, that would probably make things much simpler.

And also, I would suggest that you keep digging on this multi-gvk thing.

Thanks @eddiezane!

[2020-06-09 02:03] jonnylangefeld commented on #672
@liztio I think this would be actually super useful, as the only way currently is through an unintuitive curl command. Can you reopen?

[2020-06-09 07:26] knight42 commented on #860
/assign

[2020-06-09 12:19] knight42 commented on #860
I have filed a PR https://github.com/kubernetes/kubernetes/pull/91943 to solve this problem. If it got merged, we can disable cordon by `kubectl drain --disable-cordon`

[2020-06-09 12:30] deedf commented on #860
Awesome, thank you very much !

[2020-06-09 19:32] Shell32-Natsu opened #877 "Update doc for kustomize configMapGenerator"
Change from `env` to `envs`.

**What happened**:

Currently the doc in kubectl is using `env` in configMapGenerator.

**What you expected to happen**:

`env` has been deprecated and `envs` should be used.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
- Cloud

[2020-06-09 22:38] seans3 commented on #835
/remove-lifecycle stale

[2020-06-10 11:38] #721 closed

[2020-06-10 19:59] her opened #878 "C-p is bound over"
kubectl doesn't pass through `detach-keys` options

for docker `--detach-keys ctrl-q,ctrl-q` https://docs.docker.com/engine/reference/commandline/attach/#override-the-detach-sequence

This means that `C-p` is effectively broken in running containers.

[2020-06-10 21:58] marccampbell opened #879 "Enhancement Request: Add flag to suppress "managedFields" from output"
**What would you like to be added**:
A flag to `get <object> -o <format>` to suppress the `managedFields` in the output.

**Why is this needed**:
With 1.18, the output of a manifest from `kubectl get <object> -o <yaml>` now has the additional `managedFields`. This addition is generally not useful when inspecting an object or debugging a failing service/pod/etc.

This might be part "this is new and

[2020-06-11 00:27] marckhouzam commented on #576
Nice!
Be aware that Fish completion will not provide kubectl's custom completions.  For that to work, kubectl must move from custom completions written in bash code to custom completions written in Go, as introduced in Cobra 1.0 (the new `command.ValidArgsFunction` field and the one for flags).

Also PowerShell completions do not support custom completions of any form at this time.

Don't do that

[2020-06-11 00:42] brianpursley commented on #576
@marckhouzam thanks for the heads up.  After my last comment I also saw that cobra has a new way to implement dynamic completion, and the old way only works for bash (and zsh in our case since it just modifies bash completion).

As part of this, I'll see what it would take to move to the new dynamic completion approach. At first glance it seems like it would be an improvement.

Regarding zsh compl

[2020-06-11 00:48] marckhouzam commented on #576
@brianpursley if you manage to get rid of the old dynamic completion code to use the new way, not only will it remove bash code that's difficult to maintain and test, but you'll improve fish completion automatically, and eventually you'll be able to move to native zsh completion which provide completion descriptions, which are currently not supported in kubectl's zsh solution.

So I fully agree th

[2020-06-11 07:27] alexellis commented on #879
Also echoed on Twitter https://twitter.com/ibuildthecloud/status/1270813350935400449

This amount of YAML also makes it hard to debug issues and to edit deployments in-cluster. Darren also mentions UI projects (i.e. Kubernetes Dashboard, Kontena Lena) will have to apply patches to hide this information so that they remain usable.

[2020-06-11 11:09] prankul88 opened #880 "`kubectl certificate deny` should have clear output"
**What happened**:
I am trying to create a csr. Using the command `kubectl certificate deny <csr name>` it had an output `certificatesigningrequest.certificates.k8s.io/my-svc.my-namespace approved`. This becomes confusing at times.

**What you expected to happen**:
I would expect it to have a clear output, something like "certificatesigningrequest.certificates.k8s.io/my-svc.my-namespace denied."

[2020-06-11 12:15] ph-One commented on #837
I literally just went searching for the exact same thing. Would be nice if there was _something_ mentioned about `Kind: List` in the documentation.

[2020-06-12 07:19] ibmboy19 opened #881 "port-forward to Service always go to first pod"
**What happened**:
   port-forward the service on local 8080 port, and access to localhost 8080 port the request always go to the first pod.
  `kubectl port-forward services/xxx 8080:8080`

**What you expected to happen**:
   Should be the behavior as Service

**How to reproduce it (as minimally and precisely as possible)**:
Do port-forward and access the service

**Anything else we need to know?*

[2020-06-13 17:28] brianpursley opened #882 "Implement kubectl custom command-line completions using go instead of bash"
**What would you like to be added**:
* Implement dynamic completions (i.e. show list of pods) using go instead of bash using new capabilities available in Cobra 1.0.0.
* Remove all existing custom command-line completion bash and zsh workaround code and let cobra generate the completion script.
* Add unit tests for each of the completion types (node, context, cluster, resource, etc)
* There should

[2020-06-13 17:29] brianpursley commented on #882
I was looking at this, and I think it will work fine. I'm going to make an attempt at this and submit a PR for review.

/assign

[2020-06-13 18:46] davidmichaelkarr opened #883 "Get "Upgrade request required" with "kubectl exec" in Cygwin, not in cmd"
I'm aware of the fact that variations of this issue have been reported before, but there's a different aspect here. I'm also going to file an issue about this with Cygwin. I have a feeling that's where the real issue lies, but I'm posting this here just to see if someone has a useful POV on this.

I've been using kubectl v1.17 on Windows 10 (with Cygwin) for quite a while, connecting to k8s cluste

[2020-06-13 19:58] davidmichaelkarr commented on #883
Oh, and I also upgraded to v1.18, as another step to attempt a resolution.  No difference.

[2020-06-14 15:40] davidmichaelkarr commented on #883
From the logging, this is the resulting curl command, with some elisions:

`curl -k -v -XPOST  -H "User-Agent: kubectl.exe/v1.18.0 (windows/amd64) kubernetes/9e99141" -H "Authorization: Bearer ..." -H "X-Stream-Protocol-Version: v4.channel.k8s.io" -H "X-Stream-Protocol-Version: v3.channel.k8s.io" -H "X-Stream-Protocol-Version: v2.channel.k8s.io" -H "X-Stream-Protocol-Version: channel.k8s.io" 'http

[2020-06-15 03:27] marckhouzam commented on #882
Yeah!
FYI, Helm just moved to Go dynamic completions.  For example:
https://github.com/helm/helm/blob/a28d695c43ad5b889923c5cf0e7694503bdb47df/cmd/helm/status.go#L56

Actually, Cobra 1.0's support for zsh completion does not yet support dynamic completions in any form. It first needs https://github.com/spf13/cobra/pull/1070 and then Cobra's native zsh completions will be ready.  Until then, `kubec

[2020-06-15 03:32] knight42 commented on #880
duplicated https://github.com/kubernetes/kubernetes/issues/91876#issuecomment-641533097

[2020-06-15 04:58] brianpursley commented on #882
@marckhouzam thanks for the reminder... I think you mentioned this before in another issue but it slipped my mind for some reason, I’m not sure why.

I think this issue is still probably something to be done, but timing wise, maybe It is best to hold off until https://github.com/spf13/cobra/pull/1070 gets merged and we can upgrade to a version of cobra that supports dynamic completions for all...

[2020-06-15 08:28] zhouya0 commented on #881
Hope this could answer your question: https://github.com/kubernetes/kubernetes/issues/15180#issuecomment-410798267

[2020-06-15 08:40] ibmboy19 commented on #881
Thanks!
So, this is a TODO item.

[2020-06-15 08:40] #881 closed

[2020-06-15 10:46] nick-jones commented on #877
I believe the docs are correct for the version of kustomize currently bundled with `kubectl`. `envs` was introduced in kustomize v3, `kubectl` currently uses v2 - see https://github.com/kubernetes/kubectl/issues/818

[2020-06-15 10:52] marckhouzam commented on #882
@brianpursley  it's really up to you but to be clearer, if you switch to dynamic completion in Go, it will work for all three shells right away, even with the current zsh workaround (that is what helm has right now: using `ValidArgsFunction` and the zsh workaround).  The zsh workaround uses the bash completion script and that script uses dynamic completion in Go.  It is Cobra 1.0's *native* zsh sc

[2020-06-15 12:35] prankul88 commented on #880
@knight42 Thanks for pointing out

[2020-06-15 12:36] #880 closed

[2020-06-15 16:14] davidmichaelkarr commented on #883
Well, I've managed to resolve this.  My configuration had been working fine for quite a while using v1.17, even though that violates the "within one minor version of cluster version" rule.  However, after I started seeing this error, I went down to version 1.13.5, and that did not fix the problem.  Finally, I tried moving to version 1.14.0, and now it's working. I have no idea why this was never f

[2020-06-15 17:08] Shell32-Natsu commented on #877
@nick-jones Thanks for pointing out.

[2020-06-16 01:29] zhouya0 commented on #879
See https://github.com/kubernetes/kubernetes/issues/89080 and also https://github.com/kubernetes/kubernetes/issues/90066

[2020-06-16 07:17] YoninL commented on #120
I followed official guide and the issue is gone.

https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion

What I was missing is
[code]

[2020-06-16 11:55] soltysh commented on #147
I'm leaving this closed, since for `kubectl describe`  I think this is fine. We will be adding a separate command for accessing events, see https://github.com/kubernetes/enhancements/issues/1440

[2020-06-16 17:56] skaven81 opened #884 "kubectl plugins do not work when options placed before plugin name"
**Edit**:
The root cause of this issue has nothing to do with strace; it is because calling a kubectl plugin with options before the plugin name causes kubectl to not know how to find the plugin.
[code]

**What happened**:

`kubectl plugin list` shows that I have some plugins installed:
[code]

But calling them does not work:
[code]

However, calling them under strace works somehow:
[code]

**What

[2020-06-16 18:38] brianpursley commented on #884
What is the output of this?
[code]

[2020-06-16 23:31] skaven81 commented on #884
Typical permissions:
[code]

[2020-06-17 01:30] brianpursley commented on #884
Hmm.  If you do `which kubectl-pkrizak` does it return the path to kubectl-pkrizak?

[2020-06-17 02:26] skaven81 commented on #884
Yes it does.  And it's worth noting again that _it works properly and runs the plugin if I run `kubectl` under `strace`_.  So there's something weird going on...maybe something to do with threading inside kubectl?  Just a guess.

[2020-06-17 13:41] davidmichaelkarr commented on #883
It appears this wasn't resolved at all.  Changing to version 1.14.0 temporarily made it work, but now this morning I'm attempting to do "kubeclt exec" again, and every attempt is failing with "Upgrade request required".

[2020-06-18 00:01] brianpursley commented on #884
I was able to reproduce your problem when I made an alias for kubectl, like this:
[code]

By any chance, have you defined an alias for kubectl?
What is the output of `alias | grep kubectl`?

[2020-06-18 03:16] skaven81 commented on #884
Indeed!
[code]
Removing the alias makes it work.  Is this a bug in kubectl, or an odd side-effect of how aliases work?

[2020-06-18 13:56] brianpursley commented on #884
Not sure if there is some way to fix or prevent this, but here is what I think is happening:

Kubectl expects the plugin name needs to be the first thing after `kubectl`, but when you have an alias, it expands before the kubectl code runs.

So when you have an alias of this:
[code]
And then try to use the `foo` plugin like this:
[code]
the code actually sees this (I think, haven't confirmed):
[cod

[2020-06-18 14:30] skaven81 commented on #884
Agreed, this is what I'm seeing as well.  The alias itself isn't the issue -- it occurs any time an argument appears before the plugin name.

[code]

[2020-06-18 15:27] knight42 commented on #884
this problem is a bit interestring and I think I have found out the reason.

tl;dr
kubectl expects plugin to be invoked in the format `kubectl <plugin name> <flags>`. If user places flags before the plugin name, kubectl would consider the plugin name as its subcommand.

we can take a look at these lines:
https://github.com/kubernetes/kubernetes/blob/dcb587e09f43e4e98123da94e0614bc1672e074a/pkg/kub

[2020-06-18 18:06] davidmichaelkarr commented on #883
I've resolved this problem.  It all centered on the proxy.  I believe that it was blocking the websocket call from the server to the IP address on the client.  The simple solution was to not set the proxy variables in the shell.  This won't be a problem.  The reason it worked in the CMD shell was that I never set the proxy variables in the Windows environment variables.

[2020-06-18 18:06] #883 closed

[2020-06-18 18:29] skaven81 commented on #884
Agreed -- it looks like that code block needs to be updated so that it enumerates through the whole list of `cmdArgs` and skip over anything that is an _option_, and just grab the first _argument_.  If the first _argument_ is a plugin, then call the plugin with the options that came before it appended, followed by the `remainingArgs`

[2020-06-18 20:04] brianpursley commented on #884
@skaven81 and @knight42 I think your ideas are on the right track, but it gets a little tricky to figure out what to do when you consider this:

`--namespace=test`
vs
`--namespace test`

First one is simple to parse because it has no space, but the second one is harder because you need to know something about the context of the flag to know whether `test` belongs to the flag or is a separate comma

[2020-06-19 04:22] knight42 commented on #884
I am not sure whether it is a good idea to call the plugin with options before it, since users may think of plugin accept the global flags as kubectl subcommand, but that is not always true.

[2020-06-19 04:26] knight42 commented on #884
also I think we'd better change the title of this issue to something like `kubectl plugins doesn't work with flags before its name`

[2020-06-19 04:30] skaven81 commented on #884
I edited the title and description to make it more obvious to newcomers that this has nothing to do with strace.

[2020-06-19 11:39] Dominik-K commented on #785
You can `port-forward` a `Service`, as well: `kubectl port-forward service/my-service grpc`.

That's sufficient for us. Don't remember the specific use-case for using `kubectl proxy` here. Therefore closing this issue.

[2020-06-19 11:39] #785 closed

[2020-06-19 12:13] knight42 commented on #884
IMHO I think a better choice might be warn users about the options before the plugin name and call the plugin with remaining args after the plugin name.

[2020-06-19 17:53] brianpursley commented on #884
@knight42 That sounds like a good approach to me.

I think there is still the situation of how do you identify what is supposed to be the plugin name vs some flag value.

For example, if you have this alias:

[code]

If you try to run the foo plugin like this:
[code]

I think the code would consider the args to be `test foo` and it won't be able to find the foo plugin.  It would look for the follo

[2020-06-20 03:12] knight42 commented on #884
/assign

[2020-06-20 12:26] #849 closed

[2020-06-20 15:07] knight42 commented on #884
@brianpursley @skaven81 I have filed a PR https://github.com/kubernetes/kubernetes/pull/92343.

I have changed my mind a little bit, I decided to simply print an error message and exit rather than calling the plugin with remaining args since I think that would lead to unexpected behavior of plugin to users.

[2020-06-20 16:24] raravena80 commented on #551
/remove-lifecycle stale

[2020-06-20 20:20] #753 closed

[2020-06-21 01:25] #724 closed

[2020-06-22 13:01] zhouya0 opened #885 "kubectl create clusterrolebinding don't honor `--user` global flag"
**What happened**:
Like this comment said:
https://github.com/kubernetes/kubernetes/pull/91372#issuecomment-633467779

**What you expected to happen**:
Find a way to honor both `--user` in clusterrolebinding and global `--user` flag.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use

[2020-06-23 06:25] whereisaaron commented on #120
The [official instructions](https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion) are not working for me with `bash` 4.3 and 4.4. After adding the commands below, completing with `kubectl` works fine, but `k` doesn't. If I type 'k', 'space' and then press tab is expands to 'k kubectl' and then if I press tab again it starts completing `kubectl` commands. Do the off

[2020-06-23 06:40] brianpursley commented on #120
Did you try this?
[code]

[2020-06-23 09:34] weibeld commented on #120
It should work with any Bash version 4.1+... @whereisaaron do you use macOS or Linux, and which version of [bash-completion](https://github.com/scop/bash-completion) do you have installed?

[2020-06-23 15:21] brianpursley commented on #120
@whereisaaron Does this return anything for you?
[code]

[2020-06-24 03:19] Kampe commented on #818
The amount of issues present in 2.x.x is really annoying. Can we get this prioritized?

[2020-06-24 16:14] seans3 commented on #885
/sig cli
/area kubectl

[2020-06-24 16:20] eddiezane commented on #885
Is there an easy way to reproduce this?

/triage needs-information

[2020-06-24 16:23] seans3 commented on #884
/area kubectl

[2020-06-24 16:23] seans3 commented on #884
/sig cli

[2020-06-24 16:24] seans3 commented on #884
/priority P2

[2020-06-24 16:27] seans3 commented on #882
/sig cli
/area kubectl

[2020-06-24 16:31] eddiezane commented on #882
/kind feature
/priority P3

[2020-06-24 16:34] eddiezane commented on #879
We'll track this on https://github.com/kubernetes/kubernetes/issues/90066

/triage duplicate
/close

[2020-06-24 16:34] #879 closed

[2020-06-24 16:35] seans3 commented on #878
/sig cli
/area kubectl

[2020-06-24 16:35] seans3 commented on #878
/triage more-information

[2020-06-24 16:36] eddiezane commented on #877
These docs will come with the updated version of kustomize.

/close

[2020-06-24 16:36] #877 closed

[2020-06-24 16:39] eddiezane commented on #878
Hard coded list of allowed verbs at staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go

[2020-06-24 16:39] seans3 commented on #878
/triage needs-information

[2020-06-24 16:40] eddiezane commented on #874
/triage support
/close

[2020-06-24 16:40] #874 closed

[2020-06-24 16:41] seans3 commented on #873
/sig cli
/area kubectl

[2020-06-24 16:41] eddiezane commented on #873
/triage support
/close

[2020-06-24 16:42] #873 closed

[2020-06-24 16:45] eddiezane commented on #868
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/86436. Please reopen if not.

/traige duplicate
/close

[2020-06-24 16:45] eddiezane commented on #868
/triage duplicate

[2020-06-24 16:45] #868 closed

[2020-06-24 16:46] eddiezane commented on #866
/priority P2

[2020-06-24 16:50] eddiezane commented on #860
/priority P2

[2020-06-24 16:56] eddiezane commented on #858
/area kustomize

[2020-06-24 16:56] eddiezane commented on #858
Getting this on your radar, Jeff.

/assign @monopole

[2020-06-24 16:57] eddiezane commented on #858
/priority P2

[2020-06-24 17:00] eddiezane commented on #831
Fixed via https://github.com/kubernetes/kubernetes/pull/87498. This will ship with 1.19.

/close

[2020-06-24 17:00] #831 closed

[2020-06-24 17:50] eddiezane commented on #876
Hardcoded list of verbs https://github.com/kubernetes/kubectl/blob/72276045eef3534d49e1f9431ed8b07a7ddf395e/pkg/cmd/create/create_role.go#L60

Is the fix to simply remove the list? Does the server provide a way to validate the verb? Do we need to?

/kind bug
/priority P2
/area kubectl
/area extensibility
/sig cli

[2020-06-24 18:12] eddiezane commented on #876
@zhouya0 any thoughts here?

[2020-06-24 18:17] eddiezane commented on #705
/priority P2

[2020-06-24 18:44] her commented on #878
@seans3 what type of information are you looking for? Happy to provide.

The basic thing here is that if you shell into a running container managed by kube, readline shortcuts are bound over,  like, <C-p>.

Are you familiar with <C-p> in bash?

[2020-06-24 19:52] brianpursley commented on #866
@eddiezane @apelisse I think this is a throttling issue. Take a look at this PR and let me know what you think: https://github.com/kubernetes/kubernetes/pull/92483

[2020-06-24 20:16] eddiezane commented on #878
@her do you have a way to reproduce what you're seeing?

I created a deployment with `nginx:latest` and exec'd in with `kubectl exec -it nginx-59d7cd6545-cw87p -- /bin/bash`. `<C-r>` and `<C-p>` are both working for me.

[2020-06-24 20:17] SaiHarshaK commented on #885
The global flag --user is used for authentication purpose, while the --user flag for clusterrolebinding (or the other sub-commands which also use --user flag) is to create ClusterRoleBinding for a user using a particular clusterRole.
For example:
[code]
In this example, --user flag is consumed by clusterrolebinding.
But someone might also want to specify "global --user flag" for choosing a user fo

[2020-06-24 22:05] brianpursley commented on #866
I looked into this a little more and discovered that in order to stream results as they are received, kubectl get needs to be changed to use `Visit()` instead of `Infos()`

https://github.com/kubernetes/kubernetes/blob/6d7a9048b67d81e57923892650a23636f1afba42/staging/src/k8s.io/cli-runtime/pkg/resource/result.go#L91-L101

`Visit()` would allow row-by-row printing, whereas `Infos()` returns the ent

[2020-06-24 22:09] seans3 commented on #866
This (sorting) was one of the reasons we changed to `Infos()`. In addition, we've added pre-processing and post-processing hooks in `apply`. The sorting/ordering of resources as well as filtering can happen in the pre-processing hook. The post-processing hook is now where the `prune` functionality lives.

[2020-06-24 22:12] apelisse commented on #866
Agree about the post/pre processing in `apply`, but I'm hoping this is unrelated because it's `get`. I agree that sorting will make it difficult, but in that case, would be nice to have an option to disable sorting altogether in order to stream the results

[2020-06-24 22:29] eddiezane commented on #876
Discussed this on [Slack](https://kubernetes.slack.com/archives/C0EN96KUY/p1593022547361100).

Opening a PR to warn instead of error here.

/assign

[2020-06-24 23:22] her commented on #878
I beg you to try again and take a close look. `<C-p>` is actually the start of the [detach sequence](https://docs.docker.com/engine/reference/commandline/attach/#extended-description) in docker.

@eddiezane if you run a command in your test container `$ echo 'foo'` and then issue `<C-p>`  you'll trigger the `detach sequence` _and you won't access entries in history_ **unless you issue the command

[2020-06-24 23:44] Danish864 opened #886 "kubectl error validating data: apiVersion not set (apiversion already set to v1)"
while creating yaml file with kubectl i am getting error of apiversion not set. but i have already set it to v1.

kubectl create -f myfirstpod.yaml
error: error validating "myfirstpod.yaml": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off with --validate=false

cat myfirstpod.yaml
kind: Pod
apiversion: v1
metadata:
  name: myfirstpod
spec:
  con

[2020-06-25 09:27] Danish864 commented on #886
I did typo in writing apiversion instead of apiVersion. Issue is resolved.

[2020-06-25 09:27] #886 closed

[2020-06-25 12:54] zhouya0 commented on #705
Fixed by this [PR](https://github.com/kubernetes/kubernetes/pull/90502) and can be closed now.
/close

[2020-06-25 12:55] #705 closed

[2020-06-25 12:57] zhouya0 commented on #858
/unassign

[2020-06-25 17:18] seans3 commented on #827
/remove-lifecycle rotten

[2020-06-25 17:19] seans3 commented on #827
/sig cli
/area kubectl
/triage support

[2020-06-25 17:23] seans3 commented on #827
In `kubectl` version >= 1.18.1 there is a pre-processing hook in `apply`. Using this path, you would have to write go code, importing the `kubectl` code (from staging), and setting the `PreProcessorFn()` in the `ApplyOptions` to run before the `apply`. The `PreProcessorFn()` is here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go#L102

Conta

[2020-06-25 17:24] seans3 commented on #827
/assign

[2020-06-25 17:47] eddiezane commented on #878
@her ahh got it. Thanks for the explanation!

/remove-triage-needs-information
/priority backlog

[2020-06-25 17:47] eddiezane commented on #878
/remove-triage needs-information

[2020-06-25 21:12] her commented on #878
Awesome thanks for taking a second look @eddiezane really appreciate that!

[2020-06-26 03:26] geekofalltrades commented on #683
/remove-lifecycle rotten

[2020-06-26 03:49] BenTheElder commented on #569
/lifecycle frozen

[2020-06-26 04:20] amitsaha commented on #827
great @seans3 - thank you. As a `kubectl` user would I have to write my custom `kubectl` client then?

[2020-06-26 06:30] manojnirania opened #887 "v1-18-Issue - "kubectl exec -t -i" command help comments are not correct."
Output of below command have typo error for "Use" comments.

master $ kubectl exec -t -i webapp tail -f /log/app.log
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use **kubectl kubectl exec [POD] -- [COMMAND] instead**.

It should be

kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use **kubectl exec [POD] -- [COMMAND] inste

[2020-06-28 02:04] zhouya0 commented on #887
Already fixed by https://github.com/kubernetes/kubernetes/pull/89919

[2020-06-28 13:11] raesene opened #888 "Crafted CN fields in CSRs can create confusing results in kubectl output"
**What happened**:

Data passed in the CN and O fields of a CSR submitted to the Kubernetes API server will be represented by kubectl in a way that could cause confusion for the administrator. It is possible to craft a CN field that modifies the appearance of the CSR when displayed with `kubectl describe`

As an example, the CSR below, has additional text in the CN field which when viewed with kub

[2020-06-28 17:24] #644 closed

[2020-06-29 13:59] liggitt commented on #888
quoting the fields with %q would be reasonable

[2020-06-29 14:01] enj commented on #888
The code is [here](https://github.com/kubernetes/kubernetes/blob/1cbda2493d2744af0d0e52b008976af0fc1d3a5e/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L3450-L3505) in case anyone wants to take a look.

[2020-06-29 14:02] enj commented on #888
/good-first-issue

[2020-06-29 14:22] vinu2003 commented on #888
Hey @raesene i can take a look at this as part of my learning task.
/assign @vinu2003

[2020-06-30 11:35] sheeeng opened #889 "Explicit verbosity options."
Currently, kubectl offers current option.

[code]

**What would you like to be added**:

[code]

**Why is this needed**:

Currently, there are no distinct differences between shorthand `-v` and explicit `--v` options. By using `--verbosity` as explicit options, it is a clear and unambiguous option for kubectl.

[2020-06-30 12:07] sheeeng commented on #889
Did I understand correctly that kubectl uses [Cobra](https://github.com/spf13/cobra#create-additional-commands) to create additional command line arguments?

[2020-06-30 13:43] detiber commented on #564
Looking to see if there are any updates on this? It looks like the related linked issues/PRs are closed and wanted to see if there is any additional information around the plans for this.

[2020-06-30 14:52] vinu2003 commented on #888
Hey @raesene , Is it worth Changing the CommonName to CN and O for usergroup ?

[2020-06-30 17:14] MartinX3 commented on #454
/remove-stale

[2020-06-30 17:14] MartinX3 commented on #454
/remove-lifecycle stale

[2020-06-30 17:20] eddiezane commented on #396
/remove-lifecycle stale

[2020-07-01 04:47] zedtux commented on #454
/remove-lifecycle stale

[2020-07-01 13:12] thomas-riccardi opened #890 "Autocomplete for container name in kubectl exec"
**What would you like to be added**:
Auto-completion for container name in `kubectl exec`.
`kubectl exec -it mypod -c [TAB]`

Currently it proposes pod names after `-c` (in fact after anything ~unknown it seems).

More generally, it should stop proposing pod names after the first pod name in cmdline, especially after `--`.

(tested with kubectl v1.18.3)

**Why is this needed**:
Autocompletion allo

[2020-07-02 00:00] max-sixty opened #891 "Kubectl docs on Kustomize use "bases", which was deprecated a year ago"
The [kubectl docs on kustomize](https://kubectl.docs.kubernetes.io/pages/app_customization/bases_and_variants.html) prominently discuss `bases`, though this was [deprecated a year ago](https://github.com/kubernetes-sigs/kustomize/blob/661743c7e5bd8c3d9d6866b6bc0a6f0e0b0512eb/site/content/en/blog/releases/v2.1.0.md).

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/5635

[2020-07-03 01:44] zhouya0 opened #892 "Kubectl describe prefix match feature"
In `kubectl describe` we actually have this prefix match feature:
[code]
Which is not in `kubectl get`:
[code]
The logic is written in https://github.com/kubernetes/kubernetes/blob/180af4240c42906f072112e7ac7818f4b3574c5a/staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go#L240-L253

But for this feature I have couple of questions:
1. Should `kubectl get` , `kubectl logs`, `kubect edit`...beha

[2020-07-06 11:30] dpoetzschke commented on #650
/remove-lifecycle rotten

[2020-07-06 17:07] pnbrown commented on #874
This resolved my issue. Thank you.

[2020-07-08 18:32] matt2000 commented on #826
/remove-lifecycle rotten

[2020-07-08 20:03] liggitt commented on #884
this was discussed in https://github.com/kubernetes/kubernetes/issues/77666 and during the initial plugin impl review at https://github.com/juanvallejo/kubernetes/pull/9#discussion_r191944024 and https://github.com/juanvallejo/kubernetes/pull/9#issuecomment-393571640

I don't think we have sufficient information to know how to relocate flags/args that appear ahead of plugin names

[2020-07-09 09:01] giuscri opened #893 "kubectl run should generate a name for the pod by default"
**What would you like to be added**: Allow the user to launch
[code]
That is, not requiring the user to specify a name for the pod.

**Why is this needed**: I feel that many user could just call their pod as the name of the image, like `kubectl run --image=alpine alpine`, `kubectl run --image=nginx nginx`, ... Why not generating a random name for the pod fror the name of the image + something uniq

[2020-07-09 14:38] Numblesix commented on #818
Is there any update its pretty hard to follow examples (as nee starter) just to find out that the kustomize version shipped in kubectl/oc is pretty outdated :(

[2020-07-10 20:56] musabmasood opened #894 "Support private git repos"
(apologies if this a duplicate request)

**What would you like to be added**:

`kubectl apply -f git@my.private.host/my-repo.git/branch/dir/`

**Why is this needed**:

Currently unable to directly apply use private git repos

[2020-07-12 17:03] brianpursley commented on #500
I ended up closing this PR because it seems that a more comprehensive approach should be taken to display the ingress ports.

**Here is a recap of what I learned while working on it:**

The problem is that [`formatPorts()` assumes either `80` or `80,443` and nothing else](https://github.com/kubernetes/kubernetes/blob/20032462850b87b8cf002bcffadbb4aaf02b2f26/pkg/printers/internalversion/printers.go

[2020-07-13 08:52] OuSatoru opened #895 "Let kubectl not to use a proxy"
I installed a kubernetes cluster in local servers based on the offical docs, when downloading packages and docker images, I uses a proxy (yyy.yyy.yyy.yyy), after installed, I cleared the envs. Now kubectl automatically uses the proxy. I don't want to open the proxy every time I use the kubectl command.

**What happened**:
`kubectl logs _somepod_`
got

**What you expected to happen**:
see the logs

[2020-07-13 09:14] tavin commented on #725
Even if we'll have to install something extra, glad to see this command will remain available and without making a request to the API service (right?)

[2020-07-13 19:21] SebStrug opened #896 "Contradicting kubectl apply documentation"
Originally filed at: https://github.com/kubernetes/website/issues/22465 (now closed)

**Contradicting kubectl apply documentation**

**Problem**:
The `kubectl apply` documentation here:
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply

Says that the `-k` flag should be used for a directory.

However the documentation here for the kubectl overview:
https://kubernetes.io

[2020-07-13 19:30] seans3 commented on #896
@SebStrug Hello Seb. The `-f <DIR>` flag is for regular resource config (e.g. yaml) within the directory, and it can be combined with the `-R` recursive flag. The `-k <DIR>` flag is for directories of kustomize configuration that needs the extra step of `kustomize build`. You can tell if a directory has kustomize configuration if there is a `kustomization.yaml` file in the directory. The `-k` flag

[2020-07-13 19:55] misterikkit commented on #884
For me, the main use case is to specify `--kubeconfig=some-other-kubeconfig` because most kubectl plugins will talk to your cluster. I find it much easier to manage separate kubeconfig files versus many contexts in one file, and I have some aliases like `ka='kubectl --kubeconfig="$ADMIN_KUBECONFIG"'`

[2020-07-14 11:06] AshishKapoor commented on #543
I put back the `google-cloud-sdk` folder from the recycle bin and it worked. 🤷🏻‍♂️

[2020-07-14 13:49] brianpursley commented on #685
/remove-lifecycle stale

[2020-07-14 14:44] JnMik commented on #747
Same issue, upgrading to this fixed it

aws-cli/1.18.97 Python/2.7.17 Linux/5.3.0-7642-generic botocore/1.17.20

Simply running pip install awscli

[2020-07-15 08:52] olsw opened #897 "kubectl autocomplete zsh "Pseudo-terminal will not be allocated because stdin is not a terminal""
**What happened**:
Trying to setup kubectl autocomplete on mac running zsh. Any attempts at autocomplete lead to error "Pseudo-terminal will not be allocated because stdin is not a terminal"

**What you expected to happen**:
It shouldn't errir

**How to reproduce it (as minimally and precisely as possible)**:

kubectl get pods -n r(press tab)Pseudo-terminal will not be allocated because stdin is n

[2020-07-15 15:17] max-rocket-internet commented on #704
/remove-lifecycle stale

[2020-07-15 16:07] ahmetb commented on #884
Since I've approved most of the 100 plugins in Krew, I can say that majority of the plugins out there don't even support `-n`/`--namespace` –let alone `--kubeconfig`. :)

As long as users can still tell what's the error, it's fine.

[2020-07-17 04:25] #896 closed

[2020-07-17 13:00] Ruimingwang commented on #853
you can run this command :   export KUBERNETES_MASTER=http://127.0.0.1:8080    on master role

[2020-07-17 15:29] knight42 commented on #882
@brianpursley Hi! now that https://github.com/spf13/cobra/pull/1070 has been merged, are you still working on this issue? If not, I am willing to work on it.

[2020-07-17 15:53] brianpursley commented on #882
@knight42 I didn't realize it got merged. I am not working on it currently, so if you are willing, please go ahead. I'll be happy to help if you have any questions or review the PR when you are ready.

[2020-07-17 16:54] knight42 commented on #882
@brianpursley wow that is helpful! really appreciate it!

[2020-07-17 17:04] brianpursley commented on #882
@knight42 you're welcome. Like I said, take it or leave it. Don't feel obligated to use it, but if it helps as a reference then great! :smile:

[2020-07-17 18:30] misterikkit commented on #884
@ahmetb Thanks for that data point. It seems fair that we shouldn't worry about supporting this use case. I do agree that the error output could be improved.

It seems like plugins tend to rely on the `KUBECONFIG` env, so for anyone else reading this issue, I changed my alias from
[code]
to
[code]

And now I can run commands like `ka krew`

[2020-07-19 07:58] knight42 commented on #882
/asign

[2020-07-19 07:59] knight42 commented on #882
/assign

[2020-07-20 15:04] eddiezane commented on #897
@olsw can you try ssh-ing with `ssh -tt you@host`?

https://stackoverflow.com/a/7122115

[2020-07-20 22:36] raravena80 commented on #537
/remove-lifecycle rotten

[2020-07-21 16:43] davidbIQ commented on #396
To me it seems obvious that there's 2 missing commands....

  delete-cluster  Delete the specified cluster from the kubeconfig
  delete-context  Delete the specified context from the kubeconfig

  get-clusters    Display clusters defined in the kubeconfig
  get-contexts    Describe one or many contexts

  set-cluster     Sets a cluster entry in kubeconfig
  set-context     Sets a context entry in

[2020-07-22 10:56] greenstatic commented on #797
/remove-lifecycle stale

[2020-07-22 13:43] m1o1 commented on #572
We're considering options like Tanka for jsonnet based deployments, but haven't found anything like helm in terms of "packaging" a release in kubernetes. Pruning seems to be the only option to apply these manifests as a single package that deletes resources that are no longer in the manifest files. Looking forward to this feature becoming stable

[2020-07-22 15:40] ivan4th commented on #572
@m1o1 I didn't try Tanka yet, but [qbec](https://qbec.io) does its own pruning quite well

[2020-07-22 16:14] soltysh commented on #551
The state and history of decision behind `kubectl cp` can be bound in https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190920-future-of-kubectl-cp.md. Also, other pointed at other solutions. With that I'm going to close this issue, since I don't think we'll be addressing it.
/close

[2020-07-22 16:14] #551 closed

[2020-07-22 16:14] eddiezane commented on #576
/priority backlog

[2020-07-22 16:15] eddiezane commented on #613
/priority backlog

[2020-07-22 16:16] soltysh commented on #554
I'd suggest checking `kubectl wait` since that'd be a better fit for multiple wait condition. If it doesn't support it would be a nice addition there. I don't think we will support multiple deployments in `kubectl rollout status`.
/close

[2020-07-22 16:16] #554 closed

[2020-07-22 16:17] seans3 commented on #665
/remove-kind bug
/kind feature

[2020-07-22 16:18] eddiezane commented on #665
/priority backlog

[2020-07-22 16:19] eddiezane commented on #725
/priority important-soon

[2020-07-22 16:21] soltysh commented on #650
This issue is about kustomize not kubectl. Most importantly the kustomize version in kubectl is rather old due to problems with dependencies, see https://github.com/kubernetes/kubectl/issues/818. I'd suggest using latest binary release of standalone kustomize.
/close

[2020-07-22 16:21] #650 closed

[2020-07-22 16:22] eddiezane commented on #747
/assign
/priority backlog

[2020-07-22 16:24] seans3 commented on #754
/area kubectl
/sig cli

[2020-07-22 16:24] eddiezane commented on #754
/priority backlog

[2020-07-22 16:27] JabusKotze commented on #754
/assign

[2020-07-22 16:28] eddiezane commented on #797
/priority important-soon
/assign @pwittrock

[2020-07-22 16:30] eddiezane commented on #815
/priority backlog
/assign @seans3

[2020-07-22 16:31] eddiezane commented on #818
/priority important-soon

Tied with #797

[2020-07-22 16:33] eddiezane commented on #818
/assign @seans3
/assign @monopole

[2020-07-22 16:33] eddiezane commented on #808
/priority backlog

[2020-07-22 16:34] eddiezane commented on #825
/priority backlog

[2020-07-22 16:35] seans3 commented on #825
/sig cli
/area kubectl

[2020-07-22 16:37] eddiezane commented on #825
@johnjjung this is a great feature request but is a bigger scope than just kubectl. We'd need to coordinate with SIG-api-machinery and this might require a KEP.

Would you please close this issue here and reopen on the main kubernetes/kubernetes repo?

[2020-07-22 16:37] seans3 commented on #826
/sig cli
/area kubectl
/priority backlog

[2020-07-22 16:40] soltysh commented on #829
/priority backlog

[2020-07-22 16:41] eddiezane commented on #829
/assign @corneliusweig

[2020-07-22 16:44] pwittrock commented on #797
FYI: updating the FAQ with this:

https://github.com/kubernetes-sigs/kustomize/pull/2749

[2020-07-22 16:45] eddiezane commented on #830
/priority backlog

[2020-07-22 16:48] #825 closed

[2020-07-22 16:51] pwittrock commented on #826
Thanks for your request!  `kubectl run` is a bit out of control with the number of options it offers today.  Because we support setting labels, annotations seems like a reasonable addition.  Generally we'd like to avoid adding more flags if at all possible.

[code]

[2020-07-22 16:52] JabusKotze commented on #826
/assign

[2020-07-22 16:55] eddiezane commented on #841
Closing this but please reopen it if we are able to reproduce.

/close

[2020-07-22 16:55] #841 closed

[2020-07-22 17:05] eddiezane commented on #894
@musabmasood a starting point for this would be to start with a [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/).

/priority backlog

[2020-07-22 18:00] brianpursley commented on #882
@knight42 This issue came up in today's SIG-CLI bug scrub meeting.

@pwittrock mentioned that [kustomize](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/complete/complete.go) uses [posener complete](https://github.com/posener/complete/tree/master) to do its completions and that it might be worth considering using it for kubectl.

@eddiezane added it as a future topic for the n

[2020-07-22 18:14] eddiezane commented on #895
@OuSatoru can you please provide detailed steps and examples to reproduce this from a generic environment?

/triage needs-information

[2020-07-22 18:15] eddiezane commented on #897
/triage needs-information

[2020-07-22 18:20] eddiezane commented on #891
/priority backlog

@seans3 @pwittrock @monopole any thoughts on this one? Do we remove that page from the kubectl book?

[2020-07-22 18:33] SaiHarshaK commented on #826
/assign

[2020-07-22 19:08] eddiezane commented on #890
/priority backlog

[2020-07-22 20:28] eddiezane commented on #889
I think this would need to be changed over in klog https://github.com/kubernetes/klog/blob/b5c3182dac44f851522e32c97c86ac32755c296d/klog.go#L432 as that's where this flag originates.

[2020-07-22 20:32] eddiezane commented on #888
/priority backlog

[2020-07-22 20:40] eddiezane commented on #875
@FrelDX thanks for sharing you neat project!

I'm going to close this issue as it doesn't appear to be something that warrants specific work to be done on kubectl.

Perhaps consider adding it to an [awesome list](https://github.com/ramitsurana/awesome-kubernetes) or turning it into a [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/).

/close

[2020-07-22 20:40] #875 closed

[2020-07-22 20:41] eddiezane commented on #396
/priority backlog

[2020-07-22 20:42] eddiezane commented on #887
Closing as this appears to already be fixed but please reopen if not.

/close

[2020-07-22 20:42] #887 closed

[2020-07-22 20:45] eddiezane commented on #850
Feel free to reopen this with reproducible examples/instructions if using overrides does not work.

/close

[2020-07-22 20:45] #850 closed

[2020-07-22 20:45] eddiezane commented on #847
/priority backlog

[2020-07-22 20:49] eddiezane commented on #569
/priority backlog

[2020-07-22 20:55] eddiezane commented on #747
I think this is safe to close as it appears to be closely tied to different versions of the aws cli and iam authenticator.

If anyone stumbles on this from a search please make sure you have the latest versions of all tools mentioned above.

If the issues persists please reopen with details on versions and reproduction steps/examples.

/close

[2020-07-22 20:56] #747 closed

[2020-07-22 21:05] eddiezane commented on #773
This is roughly related to discussions we had around #866.

/priority backlog

[2020-07-22 21:08] eddiezane commented on #572
/priority backlog

[2020-07-22 21:12] eddiezane commented on #843
If this issue still persists I believe it might be a better question for Stack Overflow as kubectl will just use system ca's and certs.

/close

[2020-07-22 21:12] #843 closed

[2020-07-23 04:23] knight42 commented on #882
@brianpursley [posener complete](https://github.com/posener/complete/tree/master) seems to be a good alternative, thanks for letting me know!

I am afraid I am unable to attend the meeting as the meeting time is at midnight in my TZ, but I will check the recording next day.

[2020-07-23 04:33] pwittrock commented on #891
Need to update Kustomize first

[2020-07-23 07:03] alecor191 commented on #454
@bolt-juri-gavshin I have a similar use case as you describe (exec pod that runs tests, then pull the test logs from the pod). Do you mind sharing more details on how your approach works? Specifically, I understand that you keep the "test pod" alive with `tail -f /dev/null`, however, how do you know when the test run is complete, so that you can copy the test result files with `kubectl cp`?

[2020-07-23 10:40] marckhouzam commented on #882
I haven't looked in detail at https://github.com/posener/complete but out of curiosity, if you are to rewrite the `kubectl` custom completions in Go either way, what's the advantage of doing it in https://github.com/posener/complete instead of directly in Cobra?

(Disclaimer: I have a bias since I developed the Cobra solution and have moved the Helm project to use it)

[2020-07-23 11:55] soltysh commented on #123
/assign

[2020-07-23 11:56] soltysh commented on #833
We don't envision adding all flags from `kubectl run` to create sub-commands. Each case is considered separately.
I'm closing this as this is too general to address.
/close

[2020-07-23 11:57] #833 closed

[2020-07-23 11:59] soltysh commented on #837
I think Brian's explanation nicely covers the topic.
/close

[2020-07-23 11:59] #837 closed

[2020-07-23 12:00] soltysh commented on #893
We require naming created resources to ensure the user know what was created, and is also responsible for making the resource name unique.
/close

[2020-07-23 12:00] #893 closed

[2020-07-23 15:46] andyfeller commented on #837
The explanation is only part of the issue; the lack of documenting it is the premise.

[2020-07-27 02:17] FrelDX commented on #875
Can you add my project to https://github.com/ramitsurana/awesome-kubernetes ？

[2020-07-27 02:18] FrelDX commented on #875
Can you add my project to https://github.com/ramitsurana/awesome-kubernetes ？

[2020-07-27 02:19] FrelDX commented on #875
![image](https://user-images.githubusercontent.com/32826879/88497340-a249c400-cff2-11ea-8b50-e58e56923c14.png)

[2020-07-28 09:37] armujahid opened #898 "Enhance kubectl create (Add useful flags from kubectl run e.g. replicas, labels, requests, limits, env, port etc.)"
`kubectl create` is currently too limited. `kubectl run` gave a-lot flexibility in creating deployments and jobs via command-line.
We can do very little with kubectl create without editing yaml file. In my opinion it was a very bad idea to [remove generators in kubectl run](https://github.com/kubernetes/kubernetes/pull/87077) without providing similar functionality in `kubectl create`.

**What wou

[2020-07-28 09:43] armujahid commented on #898
Related PRs:
Replicas: https://github.com/kubernetes/kubernetes/pull/91562

[2020-07-28 09:48] olsw commented on #897
Where and how should I use that? If i just put it in on my shell nothing happens

[2020-07-29 08:15] knight42 commented on #882
@marckhouzam Hi! I am rewriting `kubectl` custom completions using cobra now, I wonder how could I gradually rewrite it without changing the current stuff? Basically I don't want to refactor the whole custom completion mechanism and then file a huge PR. Do you have any suggestion? Thanks in advance!

[2020-07-29 12:13] marckhouzam commented on #882
@knight42 I think you are taking the best approach by changing things gradually.

You can start by adding `ValidArgsFunction` or `RegisterFlagCompletionFunc()` to one command or flag at a time; it will not break the other custom completions still written in bash. Once you've added a completion in Go you can remove the corresponding bash completion code if no other completion is using it.

For exam

[2020-07-29 12:59] wknapik commented on #557
/remove-lifecycle stale

[2020-07-29 15:21] gothrek22 commented on #151
Just to add a workaround for:
```Error: uninstallation completed with 1 error(s): could not get apiVersions from Kubernetes: could not get apiVersions from Kubernetes: unable to retrieve the complete list of server APIs: external.metrics.k8s.io/v1beta1: the server is currently unable to handle the request```

run:
```kubectl delete apiservice v1beta1.external.metrics.k8s.io```

[2020-07-29 16:47] pwittrock commented on #569
Is this answer sufficient: https://stackoverflow.com/questions/46184125/how-to-merge-kubectl-config-file-with-kube-config/46184649#46184649 ?

[2020-07-29 16:49] brianpursley commented on #882
@knight42 I have an update for you.  We discussed this topic in today's SIG-CLI meeting and agreed it makes sense to proceed with using Cobra 1.0.0 because we already have a dependency on cobra, other projects (like helm) are using it, and people already have completions setup in their .bashrc, .zshrc, etc.

If you find that Cobra's completion is not able to let us eliminate all the hard-coded bas

[2020-07-29 16:50] BenTheElder commented on #569
@pwittrock the problem with actively mutating a single file is that we have to do the locking to avoid race conditions
The locking is known to be problematic though ...

If we could support a config.d and then a seperate file for just the current-context most cluster management tools would probably manage their own kubeconfig files without fear of racing with other tools.

see also: https://github

[2020-07-29 17:13] pwittrock commented on #569
What if we were to add a `flatten` command which performed the locking?

The challenges with supporting `config.d` is that it wouldn't be supported by plugins, controllers, etc that didn't have the code compiled in.  @ahmetb was able to bring up some cases where users could end up using different contexts or clusters between plugins for instance, as the plugin would use just the kubeconfig, and ku

[2020-07-29 17:20] BenTheElder commented on #569
If we kept current-context specifically in the kubeconfig file specified by the existing rules then those tools would at worst be pointed to a nonexistent context and do nothing? (Since the context name would refer to one stored in some file they don't yet read)?

Most tools get the (possibly broken) locking by importing client-go.

A glob in KUBECONFIG env would be no less breaking that supportin

[2020-07-29 17:22] BenTheElder commented on #569
For plugins, kubeclt could pass a fully resolved KUBECONFIG list value / env based on the files discoveted when calling them.

Ditto for the dispatcher.

[2020-07-29 17:23] pwittrock commented on #569
This might be easier on VC

[2020-07-29 19:43] eddiezane commented on #898
@armujahid there's a discussion that needs to be had about enhancing kubectl create/run and their intended goals. I've added it to the agenda for our next SIG-CLI meeting and it would be great to have you join us.

Next meeting is August 12th at 9:00 AM Pacific Time.

https://github.com/kubernetes/community/tree/master/sig-cli#meetings

/priority awaiting-more-evidence

[2020-07-29 22:38] cifranix commented on #587
Was able to resolve this by opening port 10250 on the node in which it's trying to reach.

[2020-07-30 03:37] knight42 commented on #882
@marckhouzam Really appreciate your detailed guidance, it is really helpful!

@brianpursley Thanks for letting me know, I would file a PR with experimental changes ASAP so that we could discuss on it.

[2020-07-31 04:37] BenTheElder commented on #569
Forgot to post back here: We spoke over VC and hashed it out, I intend to have a short doc ready to discuss at the next SIG CLI meeting.

[2020-08-01 22:08] bendavis78 commented on #527
Note that you can pass a comma-separated list of resource kinds to the `get` command:

    $ kubectl get deployments,services,ingresses -l app=myapp

You can use the following command (no xargs required) to get literally all resource types:

    $ kubectl get $(kubectl api-resources --verbs=list --namespaced -o name | paste -sd ',') -l app=myapp