[2018-02-27 18:22] droot opened #325 "Define `app` package and move all Application related code in one place (5)"
This is to help with the refactoring kinflate codebase.

[2018-02-27 18:22] droot commented on #325
This is done, so closing this issue.

[2018-02-27 18:22] #325 closed

[2018-02-27 18:23] droot opened #326 "Implement Application's methods which gives us a good idea of shape of the solution from top-down (5)"
Implement application.Resources() method which implements the core functionality of inflate command.

[2018-02-28 15:32] ant31 opened #330 "[kinflate] Override resources if redefined on overlays"
**What happened**:
1, I created  'base-package' with a default configmap:
cat package/Kube-manifest.yaml
[code]

2. Created an overlay and modified the file app.env
[code]

3. Kinflate returned an error:
[code]
**What you expected to happen**:
I expected that the configmap 'redefined' in the overlay to override the parent one.

Beside configmap, I think that all resources declared in an overlay sh

[2018-03-01 14:33] mortenlj commented on #186
Is the conclusion here that this is not a bug in the output, but rather a bug that I was allowed to create a CRD kind named `Status`? Do I now have to change the name of my CRD?

[2018-03-01 14:41] sttts commented on #186
@mortenlj yes. With today's way the api works, we cannot allow a CRD of kind `Status`.

Renaming a CRD means to create a new one and copy over the objects. We don't have a mechanism for that (= CRDs do not support cohabitation; that's the feature this would need). And even if we had, it would likely not work correctly with `Status`.

Sorry for the bad news.

[2018-03-01 16:01] joaocc opened #332 "Error message swapping arguments"
---
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
When a config map specifies ```[]``` instead of ```{}``` the returned message is:
[code]

**What you expected to happen**:
The message should say ```got "array", expected "map";```

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else we need to know**:

[2018-03-01 16:32] mengqiy commented on #113
/remove-lifecycle rotten

[2018-03-01 16:34] mengqiy commented on #113
It is intended to not show Secrets when `kubectl get all --all-namespaces`

[2018-03-01 17:22] nikhita commented on #141
/remove-lifecycle stale

[2018-03-02 02:18] mengqiy commented on #114
/remove-lifecycle rotten

[2018-03-02 02:18] mengqiy commented on #118
/remove-lifecycle rotten

[2018-03-02 02:51] mengqiy commented on #3
/assign @xingzhou
Can you please look into this issue? Your PR https://github.com/kubernetes/kubernetes/pull/43501 should fix it.

[2018-03-02 02:54] mengqiy commented on #120
Can someone help to update the vendor to pick up the fix in cobra?

[2018-03-02 03:51] nikhita commented on #113
@mengqiy To confirm, we don't want to show Secrets with `kubectl get all`, right? The description of the issue says that we _should_ show Secrets...

I agree that Secrets should not be shown in `kubectl get all`. IIUC the current behavior is that Secrets are not shown so this can be closed now.

[2018-03-02 06:21] nikhita commented on #120
/assign

[2018-03-02 08:19] anguslees commented on #86
I encountered the need to do this just now, also while trying to install Service Catalog.  I'd **much** rather we fixed APIService to no longer require the `caBundle` inline in the actual k8s resource.  (ie: make it possible to separate the declaration of intent from the secret material, so the latter can be generated on initial install by some sort of in-cluster controller)

I mention this here,

[2018-03-02 17:24] mengqiy commented on #306
/assign @apelisse

[2018-03-02 17:27] apelisse commented on #306
Yeah, I've been kind enough to truncate that mess when running with `--v=9` :-)
It's not downloaded on every call (http layer caches it, but it's abstracted away, so nothing else knows if it does). Still we print what appears as downloaded. Is there anything you'd like to see that you can't see with `--v=9`?

[2018-03-02 22:25] #120 closed

[2018-03-03 00:08] mengqiy commented on #326
Done in https://github.com/kubernetes/kubectl/pull/322.

[2018-03-03 00:08] #326 closed

[2018-03-03 02:39] ewdurbin opened #335 "Inaccurate error message when cluster EOFs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- `EOF`
- `multiple kinds`
- `falling back to hardcoded types`

**Kubernetes versio

[2018-03-03 20:11] nicolls1 opened #336 "kubectl create secret with docker-registry creates a secret that can't be used"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"", Minor:"

[2018-03-05 02:54] tamalsaha opened #337 "[plugin] kubectl plugin env variable is not incorrect"
I am experimenting with writing plugins for kubectl. One issue I found is that `KUBECTL_PLUGINS_GLOBAL_FLAG_AS_GROUP` flag is set to `[]` when this flag is not set.
[code]
When I try to set this env value back via `pflag.Set()`, it is considered as `[]string{"[]"}`. .This causes `DefaultClientConfig(flags)` to throw error. You can find my demo code here: https://github.com/tamalsaha/kubectl-plugin

[2018-03-05 09:39] nikhita commented on #123
/remove-lifecycle stale

[2018-03-05 16:04] joaosousafranco commented on #151
Same issue here. Its returning only deployments, replicasets and pods

[2018-03-05 16:15] Paxa commented on #113
Would be nice to have, because `kubectl get all` doesn't show custom resources

[2018-03-05 16:24] nikhita commented on #113
This is now possible: https://github.com/kubernetes/kubernetes/pull/59561

[2018-03-05 22:18] mengqiy commented on #113
@nikhita FYI https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2018-03-05 22:22] mengqiy commented on #151
Ref: https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2018-03-05 23:14] mengqiy opened #338 "Work with Barni on airflow (3)"
Collect requirements, see what we can do for him.

[2018-03-05 23:22] Liujingfang1 opened #339 "Create an example-example (3)"
Fix examples - we clear need "bases" and (distinct) clear "end-user customizations" (with correct sibling to base layouts).

The (non-empty) emptyDir things and git submodules aren't best practice examples (for today's definition of best practice layout in go/kinflate-glossary)

[2018-03-05 23:24] mengqiy commented on #338
Fall back to JSON merge patch when can't find a schema for the type.
(After looking at the several CRD types (spark, redis, mysql), IMO supporting JSON merge patch can handle these 3 CRD types.)

[2018-03-06 00:03] mengqiy commented on #332
@apelisse Looks like it's a bug in our openapi validation code.

[2018-03-06 00:06] mengqiy commented on #336
We used to support both.
It seems kubelet drop the support for `.dockercfg`.
@Random-Liu Can you confirm?

[2018-03-06 00:36] apelisse commented on #332
I see, the problem is that it should be `got "array", expected "map"`. Yeah, that sounds simple enough to fix. Thanks for reporting!

[2018-03-06 00:38] apelisse commented on #332
If anybody wants to try to fix this, I'd be happy to help!

[2018-03-06 21:56] Liujingfang1 commented on #339
Created 3 repos to demonstrate the best practice using ldap.
kinflate/example-ldap:  the base of ldap
kinflate/example-ldap-customized: the customized base of ldap on top of kinflate/example-ldap
kinflate/example-ldap-instances: two customized instances overlaying the customized base kinflate/example-ldap-customized

[2018-03-06 22:36] Liujingfang1 opened #342 "Remove package tree by refactoring kinflate sub commands by using Application Interface or FileSystem(3)"

[2018-03-07 20:04] #339 closed

[2018-03-07 21:55] mengqiy commented on #342
I guess this is done. Closing.

[2018-03-07 21:55] #342 closed

[2018-03-08 03:53] tamalsaha opened #345 "[plugin] Value must be assigned for boolean flags"
With spf13/pflag library, you can just specify a boolean flags as `--flagname` to set the flag value to `true`. When a boolean flag is used in a kubectl plugin, this results in an error. Setting the flag to `--flagname=true` works as expected.

This is what the error message looks like:

[code]
Example plugin: https://github.com/tamalsaha/kubectl-plugin-demo

/kind bug

[2018-03-08 04:02] tamalsaha opened #346 "[plugin] Plugins has not way to resolve relative paths"
We are experimenting with writing kubectl  plugins. Currently one of the issues is that the plugin current directory is set to the `~/.kube/plugins/<name>` directory. This means that plugin can't resolve relative paths like `-f ./d1/d2/file.yaml`.

I think the current directory for the plugin should be set to the same current directory for `kubectl` so that plugins can resolve relative paths prope

[2018-03-08 18:28] carolynvs commented on #345
I have an open PR to address this gap https://github.com/kubernetes/kubernetes/pull/58768

[2018-03-08 18:35] carolynvs commented on #337
I hit a similar (maybe the same?) bug in spf13/viper. Here's a related open PR: https://github.com/spf13/viper/pull/398.

I was able to work around the problem by switching to `StringSlice` instead of `StringArray`. https://github.com/kubernetes-incubator/service-catalog/pull/1700/files#diff-bac754e10d86591646bb672b9577e16bR74

[2018-03-08 23:04] mengqiy opened #347 "Make update name reference and patching works when there are multiple layers"

[2018-03-08 23:26] Liujingfang1 commented on #347
In our example-example, we can run kubectl apply after inflating the customized base [kinflate/example-ldap-customized](https://github.com/kinflate/example-ldap-customized). The pod can get started correctly and adding/searching/deleting user all work as expected. However, the [staging and production instances](https://github.com/kinflate/example-ldap-instances) don't work since the nameprefix add

[2018-03-09 09:47] aheart commented on #226
I have experienced this panic when accidentally running kubectl delete on **worker** node.

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T10:09:24Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Ser

[2018-03-09 16:41] apelisse commented on #347
That looks like a bug in the transformation of the last layer?

[2018-03-10 13:37] #53 closed

[2018-03-12 17:28] #77 closed

[2018-03-12 22:59] Liujingfang1 commented on #226
I'd like to investigate on this issue. @rsalmond  Can you share how you created `my-nginx-nginx-ingress-controller` in the above example?

[2018-03-12 23:56] mengqiy commented on #347
Close in favor of https://github.com/kubernetes/kubectl/pull/352.

[2018-03-12 23:56] #347 closed

[2018-03-13 02:24] rsalmond commented on #226
@Liujingfang1 for sure, that was created using the stable nginx ingress controller helm chart.

`helm install stable/nginx-ingress --name my-nginx --set rbac.create=true --set controller.hostNetwork=true`

[2018-03-13 07:37] decoursin commented on #226
It's probably not the reason, but it could be a result of running out of disk space.

[2018-03-13 17:04] Liujingfang1 commented on #226
@rsalmond Thank you for your help. I used the same environment and running the same chart as you listed, but couldn't reproduce the error.  The reason might be out of disk space as @decoursin mentioned. I checked my nodes and none of them are out of disk.

[2018-03-13 19:18] Liujingfang1 commented on #226
Based on the stacktrace, the error is from this part of code in k8s.io/kubernetes/pkg/kubectl/cmd/util/factory_object_mapping.go
[code]
If `clientset` is `nil`, then we will see this segmentation error.  The fix would be to add a check on `clientsetErr`:
[code]

[2018-03-13 21:09] Liujingfang1 commented on #226
/assign @mengqiy

[2018-03-14 04:08] adohe commented on #346
/assign @aodhe

[2018-03-14 04:46] BenTheElder commented on #346
/assign @adohe

[2018-03-14 05:42] feiskyer opened #353 "kubectl complete error: command not found: __debug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using kubectl with autocomplete, e.g. `kubectl create -f nginx <TAB>`, then there is `command not found: __debug` error reported:

[code]

kubectl version: v1.10.0-alpha.3.1792+891b471064ddc1.

**What you expected to happen**:

kubectl should autocomplete with no errors.

**How to reproduce it (as minimally and prec

[2018-03-14 05:44] zjj2wry commented on #332
I tried to reproduce it, but I found that master works fine. and maybe it fix by https://github.com/kubernetes/kube-openapi/pull/23

[2018-03-14 17:49] seans3 commented on #353
This issue is a duplicate of:
https://github.com/kubernetes/kubernetes/issues/60517
https://github.com/kubernetes/kubernetes/issues/61017

This issue has been fixed yesterday (3/13/2018): https://github.com/kubernetes/kubernetes/pull/61129

It is being cherry-picked into 1.10 release

[2018-03-15 01:47] feiskyer commented on #353
@seans3 Cool. Thanks

[2018-03-15 01:48] #353 closed

[2018-03-15 20:32] nikhita commented on #117
/remove-lifecycle rotten

[2018-03-15 21:42] #79 closed

[2018-03-15 21:43] nikhita commented on #116
/remove-lifecycle rotten

[2018-03-16 20:47] cristianrgreco commented on #221
I've just run into this issue, is there a workaround?

[2018-03-16 22:11] mengqiy commented on #221
`kubectl replace` can be the workaround.

[2018-03-16 22:14] #332 closed

[2018-03-16 22:29] mengqiy commented on #47
@shiywang Any update?

[2018-03-18 08:03] m4r10k opened #357 "role missing in kubectl get command line completion"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  completion

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: on-prem
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.4
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kubea

[2018-03-19 20:15] ahmetb opened #361 "kubectl create clusterrolebinding: must error if --namespace is specified"
Users can easily confuse

[code]

and

[code]

In latter command, the `--namespace` argument is SILENTLY IGNORED because clusterrolebinding is not a namespaced resource.

In such cases (silently ignoring something) we should be explicit and if `--namespace` is specified, `kubectl create clusterrolebinding` should error out!

[2018-03-19 20:15] ahmetb commented on #361
/kind feature
/sig cli
/sig auth

[2018-03-19 20:16] liggitt commented on #361
/priority backlog

[2018-03-19 20:18] liggitt commented on #62
/close
in favor of exec-obtained credentials
@ericchiang is there an issue tracking x509 expansion of the exec interface?

[2018-03-19 20:18] #62 closed

[2018-03-20 03:21] knityster commented on #37
@apelisse , is very useful, thank you.

[2018-03-20 18:12] ericchiang commented on #62
Issue for tracking x509 client certs https://github.com/kubernetes/kubernetes/issues/61421

[2018-03-20 23:29] apelisse opened #363 "Path framework"
The goal of this issue is to track some of the progress made to the [path framework](https://github.com/kubernetes/kubectl/tree/master/pkg/framework/path), and what we'd want to do. Feel free to update the following list:

- [ ] Improve the documentation for the "predicates" package. Explain what predicates are, and why they exist.
- [ ] Improve the documentation for "selectors" package. Explain w

[2018-03-20 23:31] apelisse commented on #363
cc @pwittrock @seans3

[2018-03-21 16:33] mengqiy commented on #357
cc: @superbrothers

[2018-03-21 22:36] grodrigues3 opened #364 "Explore the solution generated service names. Come up (list of approaches) that we can run through. Brainstorm as a group (3)"
/assign @droot

[2018-03-21 22:37] grodrigues3 opened #365 "PoC for best solution for generated service names (3)."
/assign @droot

[2018-03-22 02:30] zjj2wry commented on #361
/assign

[2018-03-22 08:51] superbrothers commented on #357
I will look this ;)

[2018-03-22 20:34] Liujingfang1 opened #369 "in manifest, [packages](https://github.com/kubernetes/kubectl/blob/master/pkg/apis/manifest/v1alpha1/types.go#L88) field becomes "bases" (3)"
kinflate is not about packaging.

this was a point of confusion in the k8s eng review.

[2018-03-23 14:09] Nowaker opened #371 "Support multi-container pod for "kubectl logs" without "-c""
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

`kubectl logs -l` will print logs for pods with the same label, however it doesn't support printing logs from pods with multiple containers at once, without `-c` flag.

[code]

There is a PR for this feature but the original author abandoned it: https://github.com/kubernetes/kubernetes/pull/45275.

That being said, this fe

[2018-03-23 14:10] Nowaker commented on #40
@mnussbaum Since PR https://github.com/kubernetes/kubernetes/pull/45275 was abandoned by its author, I created https://github.com/kubernetes/kubectl/issues/371 to track it separately.

[2018-03-23 21:21] Liujingfang1 opened #374 "Kinflate should allow configMap overlay."
Considering the base and instances for spring-boot example: https://github.com/kinflate/spring-boot-helloworld
The base defines a configmap from file application.properties.
The staging instance wants to use the same configmap but with a different application.properties file.
Currently kinflate inflate gives the error as:
`there is already an entry: "v1_ConfigMap_demo-configmap.yaml"`

[2018-03-24 09:36] superbrothers commented on #357
The reason why "clusterrole" and "role" are not completed is that they are not included in handled resources of human readable printer.

- https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/printing.go#L287-L297
- https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers.go#L73-L421

Fundamentally, we should replace `validArgList` with a real

[2018-03-26 04:05] Lion-Wei opened #376 "Extend kubectl describe for networkPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind feature

**What happened**:
Since [Allow including both podSelector and namespaceSelector in a NetworkPolicyPeer](https://github.com/kubernetes/kubernetes/pull/60452) got merged, we need extend `kubectl describe` to describe policies where a NetworkPolicyPeer has both podSelector and namespaceSelector set.

[2018-03-26 04:06] Lion-Wei commented on #376
@danwinship

[2018-03-26 17:00] jdanekrh commented on #226
I got the same stacktrace as reproduced before while deleting pods, probably due to networking issues.
[code]

[2018-03-27 11:08] #197 closed

[2018-03-27 12:10] Lion-Wei opened #378 "kubectl reject annotation information without any warning"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
/kind bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:
If we use `k create -f <file name> --save-config=true` or `kubectl apply <file name>`, and this file have annotations with type not `map[string]string`, then kubectl will quietly reject those annotations.

For example, you have a yaml described object wic

[2018-03-27 12:29] Lion-Wei commented on #378
@apelisse Can you help me confirm is this an bug or not, thanks. : )

[2018-03-27 17:35] apelisse commented on #378
Here are the two things I see:
1. Annotations are discarded without a warning or any message. You can't know what it's doing and/or why.
2. It shouldn't discard the annotation.

With regard to 1, I certainly agree that this is wrong. For 2., it also looks like a bug, but I'm much less certain.

I find it surprising that the code doesn't fail the validation. Do you think you can investigate that?

[2018-03-28 02:36] Lion-Wei commented on #378
@apelisse Of course, actually, I already did. : )
In `kubectl apply` or `kubectl create --save-config` use case, kubectl need to get object annotations, and apply `kubectl.kubernetes.io/last-applied-configuration` annotation.
If this annotation not with type `map[string]string`, function `NestedStringMap` will return err, but the interface `GetAnnotations` will deprecate this err and return an emp

[2018-03-28 02:47] apelisse commented on #378
What do you mean "after is created"?

Also, I was expecting the object to be validated *before* we add the annotation.

[2018-03-28 03:21] Lion-Wei commented on #378
I mean, we use the yaml file(whatever the annotation is) create the object first, if any field wrong, will return an error.
If object succefully created, then we can path `kubectl.kubernetes.io/last-applied-configuration` if needed.

Just a thought in my mind, don't know if it is feasible.

[2018-03-28 03:33] apelisse commented on #378
Yeah, would you mind looking at it? Because we definitely have validation in `kubectl apply` (which should fail on that object), maybe we just have to run it slightly earlier in the process.

[2018-03-28 06:55] Lion-Wei commented on #378
Sure, I'll try to fix it. : )

[2018-03-28 07:04] Lion-Wei commented on #378
/assign

[2018-03-29 14:56] carlosmkb opened #384 "kubectl "--dry-run" with "-o yaml" does not show 'apiVersion' neither 'kind'"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.10.0

**Environment**:
- **Cloud provider or hardware configuration**: baremetal
- **OS** (e.g. from /etc/os-release): centos 7
- **Kernel** (e.g. `uname -a`): 3.10.0-693.17.1.el7.x86_64
- **Install tools**: kubeadm
- **Others**:

**What happened**:
the output of `kubectl create

[2018-03-29 16:28] mengqiy commented on #357
2 is simpler, but I feel it treats `role` and `clusterrole` differently.

@juanvallejo @soltysh Any idea how we can fix this?

[2018-03-29 19:21] ihoegen opened #385 "Kubectl 1.10.0 is unable to create deployments on clusters running 1.8.7"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

/kind bug

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: macOS 10.13.3
- **Kernel**: Darwin 17.4.0
- **Install tools**: brew

**What happened**:

When creating a sample deployment using the command `kubectl create -f deployment.yaml`, the following o

[2018-03-30 11:26] #30 closed

[2018-03-30 15:47] soltysh commented on #357
I've seen a PR fixing that bit of code with data from discovery. Let's revisit this issue after https://github.com/kubernetes/kubernetes/pull/61691 is merged.

[2018-03-30 16:44] ihoegen commented on #385
Opened issue here as well: https://github.com/kubernetes/kubernetes/issues/61943

[2018-03-30 17:54] m4r10k commented on #357
@soltysh yes, as kubernetes/kubernetes#61691 looks like as it would fill the gap

[2018-03-30 18:56] #371 closed

[2018-03-30 21:32] ahmetb opened #386 "kubectl config view: should error out on positional argument"
/sig cli
/kind bug

`kubectl config view` does not complain when I give it a positional argument.

Apparently this command only uses the current-context set.

So I've been confused for 5 minutes straight why

    kubectl config view A
    kubectl config view B

are returning the same thing.

Please make this command exit with ERROR message/code when someone passes an unused/silently-ignored positi

[2018-04-01 13:02] MartinX3 commented on #226
Same error here
Server Version is 1.9.6
Client Version is 1.9.6

[2018-04-01 13:06] rishabp commented on #226
Hi, i am working on a project to create a declarative application in
printers...I dont have any idea how to approach this...my job depends on
this...i searched on the internet and found your project...guys can you
please help me out for my project or any documents that i can study dor
declarative application...
Regards
Rishab Patnaik

On Sun, Apr 1, 2018, 6:32 PM Martin Dünkelmann <notifications@g

[2018-04-01 13:20] nikhita commented on #384
Can you tell what `kubectl version` gives you?

I tried both for:

[code]

and

[code]

and it gives me the correct output.

[code]

[2018-04-01 18:12] jdanekrh commented on #226
@rishabp please do not hijack bug tickets in an issue tracker. https://paste.kde.org/pmh0qaunn

[2018-04-02 09:50] carlosmkb commented on #384
fresh install on centos 7.4: `kubelet kubeadm kubectll`

`kubectl version`
`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:55:54Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}`
`Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitC

[2018-04-03 06:36] nikhita commented on #113
@mengqiy Sorry, missed the edit before. I think it is accurate for CRDs. `kubectl get all` doesn't show CRDs because they are cluster scoped resources. CRs don't follow that so it is possible to list them via `kubectl get all`.

[2018-04-03 08:44] RiaanLab commented on #25
@tonglil Thank you for adding the last comment. You are a star :-)

[2018-04-03 19:16] Liujingfang1 opened #391 "ASUI want understanding of the "secret" field in manifest."
Rename with sufffix Generator, i.e. configmapgenerator, secretgenerator.

[2018-04-03 19:17] Liujingfang1 opened #392 "AAUI expect secret and configmap generators to have same behavior options"
provide  add vs replace for secret.

is there a reasonable "merge" option - as one has with configmap?

[2018-04-04 00:47] ahmetb opened #396 "kubectl config: no commands to manage users"
kubectl v1.10.0
/kind feature
/sig cli

`kubectl config` command lets users create/delete/update "context"s. Contexts are composed of "cluster"s and "user"s. Example:

[code]

`kubectl config` lets you create/update/delete "cluster"s, but IT DOESN'T let you manage "user"s:

[code]

Why is that?

I think `*-cluster` commands listed above should also exist for `*-user`.

[2018-04-04 00:50] ahmetb opened #397 "kubectl config set: parameter name split with space in --help"
kubectl v1.10.0
/kind bug
/sig cli

See the space in `PROPERTY _NAME` and `PROPERTY _VALUE` occurrences below:

[code]

[2018-04-04 01:06] ahmetb opened #398 "kubectl config set: please add some examples"
kubectl v1.10
/kind documentation
/sig cli

This command's --help message is not useful at all. Can we please have some commonly used tasks listed in EXAMPLES section of the --help message?

[code]

[2018-04-04 08:56] superbrothers commented on #357
Looks like that the way of kubernetes/kubernetes#61691 is not better for this issue.

Since `ValidArgList` is used when generating a completion script with `kubectl completion bash/zsh`, the resource list of the connected cluster at that time will be cached in the generated script.

[code]

This is not appropriate when using multiple clusters. In this case, we need to obtain the resource list dyna

[2018-04-04 15:01] mikedoug commented on #384
I too had this problem with:

[code]

[code]

[2018-04-04 15:27] costinm opened #399 "Kubectl 1.10 "create secret" missing kind and apiversion"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"create secret"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

B

[2018-04-04 16:13] everydaynerd commented on #384
Having same issue with Version 1.10.0 - This is breaking a lot of our build jobs... 👎

[2018-04-04 16:15] djschny opened #400 "SIGSEGV - panic when running busybox"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): sigsegv, panic

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2018-04-04 16:42] dag24 opened #401 "kubectl create secret docker-registry omits apiVersion and kind"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS EC2
- **OS** (e.g. from /etc/os-release): Amazon Linux 2017.12
- **Kernel** (e.g. `uname -a`): Linux 4.9.76-38.79.amzn2.x86_64

**What happened**:
[code]

**What you expected to happen**: A successful secret creation. This c

[2018-04-04 16:47] dag24 commented on #401
The purpose of doing `--dry-run` and then `kubectl apply -f -`, by the way, is to allow a one-shot create-or-update of the secret when registry login credentials change e.g. when authenticating against ECR.

[2018-04-04 21:41] jsenon commented on #384
still have issue with 1.10.1 beta:
[code]
[code]

[2018-04-04 21:45] dwalleck commented on #227
I encountered this same issue after trying to use Kubernetes that had been installed by Docker on my corporate laptop. It added my new cluster info to %USERPROFILE%\.kube\config, so I went crazy for an hour or so trying to understand why my new cluster hadn't appeared. It doesn't appear that I can change my HOMEDRIVE and HOMEPATH, which makes this config directory an outlier in relation to my othe

[2018-04-04 22:34] nikhita commented on #384
This was fixed in https://github.com/kubernetes/kubernetes/pull/61808. This patch was cherry-picked into `release-1.10` - https://github.com/kubernetes/kubernetes/pull/61836.

The latest 1.10 tag is `v1.10.1-beta.0`, which was created 9 days ago. This patch was merged 6 days ago into the 1.10 branch. It should be there on the next released tag.

(Also, it worked for me above because I was on the `

[2018-04-04 22:39] nikhita commented on #384
Just confirmed with sig-release, 1.10.1 should be out mid next week.

[2018-04-05 05:15] jsenon commented on #384
That’s clear thanks

[2018-04-05 05:40] nikhita commented on #384
Closing this since the fix has been merged on master and cherry-picked.

/close

[2018-04-05 05:40] #384 closed

[2018-04-06 03:35] zerda opened #407 "kubectl zsh completion cause directory path completion has extra space"
**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Aliyun ECS
- **OS**: Ubuntu 16.04.4 LTS
- **Kernel**: 4.4.0-105-generic
- **Install tools**: zsh 5.1.1

**What happened**:

When hit <kbd>tab</kbd> to complete a sub directory path, zsh added an extra space after the directory path.
It causes p

[2018-04-09 13:45] jheiss commented on #398
It would also be nice if there was an option to `kubectl config view` that would show the property names in a format that was compatible with `config set`.

[2018-04-09 13:53] jheiss opened #415 "kubectl config set hangs on some invalid property names"
(Previously reported by someone else in kubernetes/kubernetes#29312)

I haven't quite figured out exactly what the pattern is, but property names that are almost but maybe not quite right seem to trigger it. For example, this hangs: `kubectl config set users.jheiss.exec.command test`

[2018-04-10 16:15] Liujingfang1 opened #417 "AAUI don't want to think kinflate is a package management tool."
So we change the config file name from
_Kube-manifest.yaml_ to _kustomize.yaml_

Also update all docs.

(There was a thread relating the word _manifest_ to package management)

[2018-04-10 17:40] karan opened #418 "Kinflate: dec.DisallowUnknownFields undefined"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kinflate
kinflate json

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2018-04-10 17:46] karan commented on #418
Ah `DisallowUnknownFields` is supported in go 1.10. That explains it.

So now the issue really is whether `DisallowUnknownFields` is *really* needed, and if not we can support go1.9

[2018-04-10 20:49] Liujingfang1 opened #421 "AAUI want to know the name of this thing"
After the move (different story), replace every occurance of kinflate with kustomize.  Do this in one shot, rather than piecemeal.

[2018-04-10 21:26] monopole opened #422 "Write a test for updates to Configmaps. (5)"
@monopole has taken this.

**Rolling updates for ConfigMaps**

As a user, when I change a value in a ConfigMap, that change should be rolled out to all Workloads using that ConfigMap *in the same KubeManifest*

i.e. verify that the names of generated config maps is a hash of the contents and that any deployments in the output of inflate referene this new name/

[2018-04-11 00:00] #422 closed

[2018-04-11 14:27] przemek-sl opened #425 ""kubectl label all" skips secrets"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl label secrets

---

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**Kubernetes version**:
[code]

**Environment**:
- **OS**: Mac OS X (10.13.2, build 17C88)
- **Kernel**: 17.3.0 Darwin Kernel Version 17.3.0: Thu Nov  9 18:09:22 PST 2

[2018-04-11 14:33] jheiss commented on #385
This can probably be closed since the other ticket has been fixed and closed.

[2018-04-11 14:51] sacha-cs opened #426 "kubectl describe (statefulset|clusterrole|clusterrolebinding|cronjobs) fails in v1.10.0"
**What keywords did you search in Kubernetes issues before filing this one?** :
kubectl describe statefulset

---

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: macOS Sierra 10.12.6
- **Kernel**: Darwin Kernel Version 16.7.0
- **Install tools**: brew

**What happened**:
[code]

[2018-04-11 16:42] jordansissel opened #427 "Cannot use Windows paths in create secret --from-file"
**What keywords did you search in Kubernetes issues before filing this one?** kubectl create secret generic from-file windows "is not a valid key name for a Secret"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): W

[2018-04-11 18:53] monopole opened #429 "AAUI find the init command creates work, rather than removes it."
A user who seeks to do customization has no useful concept of a default customization, so there's no good way to populate an official initial `kustomize.yaml` file.

Whatever we my offer as an example namePrefix, label, or configmapgenerator only forces the user to remove them.  If they mistakenly leave these examples in, they get strange "helloworld" or whatever customizations in their actual res

[2018-04-11 18:56] monopole opened #430 "AAUI need to see a completely documented kustomize.yaml example on website (3)"

[2018-04-11 18:57] monopole opened #431 "AAUI don't want to think kustomize is a package manager (part 2)."
As a followup to the name change from
_Kube-manifest.yaml_ to _kustomize.yaml_ (#417), remove the use of the word _manifest_ from visible documents, demos, examples.

E.g. in a sentence like "Now edit the manifest file... " replace _manifest_ with the literal file name _kustomize.yaml_, or with the phrase _kustomize config file_.

[2018-04-11 20:24] monopole opened #432 "Move everything to the new org"
Script to do the move:
https://github.com/monopole/scratch/blob/master/bulkRepoMoveRetainingHistory.sh

Possible destination orgs:
* https://github.com/googlecontainertools
* https://github.com/kubernetes-sigs

Decision thread:  https://groups.google.com/a/google.com/forum/#!topic/gke-kubernetes-app-lifecycle/-aNokW0TIiU

If this thread remains blocked on no decision, we can move into https://gith

[2018-04-11 20:25] fmoctezuma commented on #399
I think this is related with https://github.com/kubernetes/kubernetes/pull/61808

[2018-04-12 00:23] monopole opened #436 "AAUI don't want to see unusable fields in kustomize.yaml (3)"
remove the unused k8s api fields:
[code]

from all examples and documentation

[2018-04-12 09:24] Vikash082 commented on #401
I am also facing same issue. any workarounds ? I am trying for istio and using this script:
https://raw.githubusercontent.com/istio/istio/release-0.7/install/kubernetes/webhook-create-signed-cert.sh

its failing with the above mentioned issue.

[2018-04-12 17:01] monopole commented on #431
i've got a PR in progress for this

[2018-04-12 17:03] monopole commented on #436
i have a PR in progress to wrap this up

[2018-04-13 03:43] #431 closed

[2018-04-13 18:00] #429 closed

[2018-04-14 14:33] liggitt commented on #399
yes, this is resolved in 1.10.1 in kubernetes/kubernetes#61808

[2018-04-14 14:33] #399 closed

[2018-04-14 14:35] liggitt commented on #425
for historical reasons, the `all` category does not include some resources. see https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all for guidance on what is included:
 •	No cluster scoped resources 
 •	No namespace admin level resources (limits, quota, policy, authorization rules) 
 •	No resources that are po

[2018-04-14 14:35] #425 closed

[2018-04-14 14:36] liggitt commented on #396
set-credentials configures the user entries

[2018-04-14 14:39] liggitt commented on #113
https://github.com/kubernetes/kubernetes/pull/42873 provides the `api-resources` command that lists all available types

/close

[2018-04-14 14:39] #113 closed

[2018-04-14 14:41] liggitt commented on #140
the flags must come after the command to which they apply. `--all-namespaces` belongs to the `get` command. `-n` and `--namespace` are global options

/close

[2018-04-14 14:41] #140 closed

[2018-04-14 14:43] liggitt commented on #210
you can use `kubectl set serviceaccount` to set service accounts on an existing deployment, or modify your manifests to include service accounts and reapply them (recommended)

/close

[2018-04-14 14:43] #210 closed

[2018-04-14 14:44] liggitt commented on #224
that's exactly right. you cannot define a role with more permissions than you currently have.

see https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping for more information about what permissions you must have to create roles

/close

[2018-04-14 14:44] #224 closed

[2018-04-14 14:47] liggitt commented on #336
this was a bug in 1.9.0, fixed in 1.9.1

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v190

[2018-04-14 14:47] #336 closed

[2018-04-14 14:56] liggitt commented on #306
This is getting fetched because `--use-openapi-print-columns` is defaulting to true. With server-side printing enabled in 1.11, do we still need this fetched by default? Seems very heavy-weight.

[2018-04-14 16:00] liggitt commented on #306
opened #62584 for this

[2018-04-14 16:02] liggitt commented on #385
resolved in 1.10.1

[2018-04-14 16:02] #385 closed

[2018-04-14 16:03] liggitt commented on #401
resolved in 1.10.1

[2018-04-14 16:03] #401 closed

[2018-04-14 20:37] ahmetb commented on #396
/reopen
@liggitt I don’t see a command to delete the user entries?

[2018-04-17 16:31] #430 closed

[2018-04-17 18:05] rcorre opened #444 "kubectl exec should take a deploy as an argument"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

[code]
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

[2018-04-18 13:18] #306 closed

[2018-04-18 22:42] spiffxp commented on #124
I closed #55295 due to inactivity if someone else wants to try taking this on

[2018-04-19 02:36] #376 closed

[2018-04-20 05:39] esukram commented on #400
I can confirm that issue.

[2018-04-20 06:12] Vikash082 commented on #221
Hitting similar issue. Any workaround which doesn't delete service ?

[2018-04-21 00:05] someword commented on #397
I took a run at this and failed to find a good resolution.    Anywhere templates.LongDesc is called like https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/set.go#L48 goes through the markdown processor here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/templates/normalizers.go#L34.   The characters *, _, & and [ (possibly others) get prepended by a

[2018-04-21 18:10] rfum commented on #426
same here with v1.8.7

[2018-04-24 17:07] mengqiy commented on #221
@Vikash082 Does `kubectl replace` work for you?

[2018-04-26 10:38] nikhilagrawal577 opened #449 "Kubectl Top nodes and kubectl describe nodes are showing different values"
/sig cli
/kind bug

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="14.04.5 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.5 LTS"
VERSION_ID="14.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://b

[2018-04-26 10:44] wknapik opened #450 "Kubectl returns pods in various states when only those in Running state are selected via --field-selector, or -o jsonpath"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
field-selector, field selector, status phase

---

**Is this a BUG REPORT or FEATURE

[2018-04-26 10:52] wknapik commented on #450
Selecting pods like this
[code]
also doesn't work as expected. Pods in states like Terminating and ContainerCreating are returned.
In fact, if you run
[code]
you'll see everything described as Running, even though
[code]
will show the same pods in other states.

I feel like I'm missing some key piece of information here, but the cheatsheet here https://kubernetes.io/docs/reference/kubectl/cheatshe

[2018-04-26 17:38] pashau commented on #450
we have the same problem

[2018-04-27 08:28] nieshuai123 commented on #401
@Vikash082  the same problem .... have you resolved it?

[2018-04-29 07:47] rahulkrishnanfs commented on #100
/remove-lifecycle stale

[2018-04-29 08:18] xellsys opened #454 "kubectl cp to work on stopped/completed pods"
**Status Quo:**
The current implementation of `kubectl cp` requires the container to be running by encapsulating the exec command using the tar binary.

**Requirement:**
Allow copying files _from_ (possibly also _to_) a stopped container.

**Additional info:**
This relates to #58512.
It would also more closely align to the `docker cp` functionality.
No need for the tar binary in the container anym

[2018-05-02 03:50] gregkeys opened #461 "--all-namespaces should work with kubectl set image deployments"
/kind feature

**What happened**:
received the following error `unknown flag: --all-namespaces`

**What you expected to happen**:
I expected all deployments to be updated to the given image:tag across all name spaces

**How to reproduce it (as minimally and precisely as possible)**:
deploy nginx into 2 or more namespaces with a label of `app: nginx` then run the following command
` kubectl set ima

[2018-05-03 20:28] Liujingfang1 opened #465 "Move example-ldap"
Move github.com/kinflate/example-ldap and sibling repos -ldap-customized and -ldap-instances to the new org, retaining the integration tests run by kubernetes/test-infra
https://k8s-testgrid.appspot.com/sig-cli-misc#kinflate-periodic-default-gke

[2018-05-04 04:54] liggitt commented on #357
https://github.com/kubernetes/kubernetes/pull/63421 implements lookup at completion-time using `api-resources` (and adds caching support to make it performant)

[2018-05-04 07:01] superbrothers commented on #357
@liggitt Great work!

[2018-05-04 07:03] m4r10k commented on #357
@liggitt Thanks!

[2018-05-04 17:08] #357 closed

[2018-05-04 17:47] apelisse commented on #170
/remove-lifecycle stale

[2018-05-04 17:48] apelisse commented on #170
/remove-lifecycle rotten

[2018-05-04 19:37] #465 closed

[2018-05-05 11:31] Vrtak-CZ commented on #7
is there any progress?

[2018-05-07 06:03] ahmetb commented on #147
/reopen

[2018-05-07 16:57] Liujingfang1 opened #468 "Remove example-ldap repo from the integration test"
Since the data of example-ldap has been moved to `cmd/kustomize`. We don't need to checkout the `example-ldap` repo any more.
We can remove this repo from the checkout list.
As well as `example-ldap-customized`

https://k8s-testgrid.appspot.com/sig-cli-misc#kinflate-periodic-default-gke

[2018-05-07 16:59] Liujingfang1 commented on #468
The log from the test
[code]

[2018-05-07 22:13] #468 closed

[2018-05-07 22:13] Liujingfang1 commented on #468
The latest test passed https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kinflate-periodic-default-gke/632

[2018-05-09 08:33] nikhilagrawal577 opened #475 "kubectl get pods --all-namespaces returns error"
/kind bug
/sig cli

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Kubernetes version** (use `kubectl version`):
1.8.5

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="14.04.5 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.5 LTS"
VERSION_ID="14.04"

- **Kernel** (e.g. `unam

[2018-05-09 12:20] majewsky opened #476 "kubectl shows localized messages even though LC_MESSAGES=C"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): Arch Linux
- **Kernel** (e.g. `uname -a`): Linux hostname 4.16.7-1-ARCH #1 SMP PREEMPT Wed May 2 21:12:36 UTC 2018 x86_64 GNU/Linux
- **Install tools**: curl

`kubec

[2018-05-09 17:14] rofc commented on #426
Same for _clusterroles_ and _clusterrolebindings_.

[code]
[code]
[code]
[code]
[code]
**But...** "_create clusterrolebinding_" works fine.

[code]

[2018-05-09 19:43] pwittrock opened #479 "Kustomize: Help text for `kustomize edit add` shouldn't show secret."
`kustomize edit add` shows an example of adding a secret, but this doesn't exist

[2018-05-09 19:44] pwittrock opened #480 "Kustomize: Support `kustomize edit add labels` and `kustomize edit add annotations`"
kustomize supports adding labels and annotations through the declarative config, but it isn't obvious how to add them from the cli.  We should add commands to do so.

[2018-05-09 20:18] pwittrock opened #481 "Kustomize: Support `kustomize edit add base`"
Add `kustomize edit add base` command to modify the kustomization.yaml with a base.

[2018-05-10 06:45] zentron opened #483 "Provide the ability to clear the current kubectl context without explicitly setting a new one"
**Feature Request**

When attempting to run scripts we sometimes want to create and use a "temporary" context that can be easily cleaned up afterward. (as opposed to appending the `--server` etc arguments to every command since they may be externally loaded)

e.g
[code]
However the `delete-context` result may end up with `warning: this removed your active context, use "kubectl config use-context"

[2018-05-10 19:15] wgordon17 commented on #131
/close

[2018-05-10 19:15] #131 closed

[2018-05-10 19:16] DamonStamper commented on #151
@HartS
When running `kubectl get` I'm shown a list of resource types.

That might be a decent place to start for documentation.

For reference I got the below against my v1.10.0 Kube setup.
[code]

[2018-05-11 05:01] #171 closed

[2018-05-12 02:40] #133 closed

[2018-05-13 19:00] mrbobbytables opened #487 "Error describing cronjobs with kubectl v1.10+"
/kind bug
/sig cli
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?**

kubectl describe cronjob
"the server could not find the requested resource"
**Note:** Possibly related to #426

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

Impacted Client Versions:
[co

[2018-05-15 00:49] #136 closed

[2018-05-15 00:49] #137 closed

[2018-05-15 00:49] #98 closed

[2018-05-15 01:50] #93 closed

[2018-05-15 02:51] #92 closed

[2018-05-15 02:51] #95 closed

[2018-05-15 02:51] #88 closed

[2018-05-15 02:51] #91 closed

[2018-05-17 16:01] scottrigby commented on #396
`kubectl config unset users.NAME`.

I can understand how it may be more obvious if there were (delete/get/set) `*-user(s)` commands to match the existing `*-cluster(s)` and `*-context(s)` ones, but `unset` works for deleting user entries and is just as easy to type ¯\\_(ツ)_/¯

[2018-05-18 14:18] rofc commented on #449
#426

[2018-05-18 14:18] rofc commented on #487
#426

[2018-05-18 15:57] rofc commented on #426
Seems the issue came with v1.10.0-beta.1, the v1.10.0-alpha.3 works fine (at least for me).. FYI:

[code]
[code]

[2018-05-18 21:01] #481 closed

[2018-05-18 21:01] monopole commented on #481
moved to https://github.com/kubernetes-sigs/kustomize/issues/12

[2018-05-18 21:03] monopole commented on #480
Moved to https://github.com/kubernetes-sigs/kustomize/issues/13

[2018-05-18 21:03] #480 closed

[2018-05-18 21:04] monopole commented on #479
Moved to https://github.com/kubernetes-sigs/kustomize/issues/14

[2018-05-18 21:04] #479 closed

[2018-05-18 21:04] monopole commented on #432
done

[2018-05-18 21:04] #432 closed

[2018-05-18 21:05] monopole commented on #421
done

[2018-05-18 21:05] #421 closed

[2018-05-18 21:10] monopole commented on #418
moved the code to https://github.com/kubernetes-sigs/kustomize, now moving issues.

Feel free to open an issue there to support 1.9 if you wish, thanks!

[2018-05-18 21:10] #418 closed

[2018-05-18 21:10] monopole commented on #417
done

[2018-05-18 21:10] #417 closed

[2018-05-18 21:11] monopole commented on #392
done

[2018-05-18 21:11] #392 closed

[2018-05-18 21:11] monopole commented on #391
done

[2018-05-18 21:11] #391 closed

[2018-05-18 21:12] monopole commented on #374
done

[2018-05-18 21:12] #374 closed

[2018-05-18 21:12] monopole commented on #369
done

[2018-05-18 21:12] #369 closed

[2018-05-18 21:13] #365 closed

[2018-05-18 21:15] #364 closed

[2018-05-18 21:21] monopole commented on #330
I'm moving issues to the new repo, or closing those that are a bit out of date.  Sorry we missed this, but i this behavior is different now.  See https://github.com/kubernetes-sigs/kustomize/blob/master/demos/configGeneration.md

[2018-05-18 21:21] #330 closed

[2018-05-18 21:28] monopole commented on #300
moved to https://github.com/kubernetes-sigs/kustomize/issues/16

[2018-05-18 21:28] #300 closed

[2018-05-18 21:29] #436 closed

[2018-05-18 21:31] monopole commented on #436
There's currently no use of a kustomization as an API object or custom resource, so there's nothing that can fail if these fields are missing, and if they are present they get picked up as a possible resource by kubectl.  Need a coherent plan if we want to put them back

[2018-05-18 21:32] #338 closed

[2018-05-18 21:33] #291 closed

[2018-05-19 14:50] nicdoye commented on #125
I get 127 returned from sourcing this, but completion actually works.

- macOS 10.13.4
- zsh 5.3
- antibody 3.4.6
- kubectl  v1.10.2

I do load
[code]

before sourcing a pre-generated copy of `kubectl completion zsh`.

None  of helm, kops or minikube autocompletion exhibit this behaviour.

[2018-05-21 13:11] rofc commented on #426
The problem seems to be the +/- 1 version from server..

_**kubectl supports +/- 1 version from the server, so kubectl 1.7 or 1.8 would correctly describe the resource**_

https://github.com/kubernetes/kubernetes/issues/64042#issuecomment-390365112

[2018-05-21 20:56] ahmetb opened #489 "kubectl config -o=jsonpath returns golang []byte represenation for string field"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`): 1.10.2

**What happened**: I am trying to export my CA certificate through kubectl.

I ran this command:

    kubectl config view --minify --flatten -o=jsonpath='{.clusters[*].cluster.certificate-authority-data}'

and got this:

[code]

**What you expected to happen**:

I expe

[2018-05-21 22:37] jethrogb commented on #305
/remove-lifecycle stale

[2018-05-22 09:42] #146 closed

[2018-05-22 20:47] monopole commented on #278
@seans3 can you copy the undone parts of this to new issues in https://github.com/kubernetes-sigs/kustomize/issues?  This is the last 'kustomize' issue in this repo.
If busy, i can do it.

[2018-05-24 14:43] jessfraz opened #490 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 22:32] ahmetb opened #491 "Possible to bypass Service validation via "apply", loses declarative spec and locks down the object forever"
**Kubernetes version** (use `kubectl version`): 1.10.2

**What happened**:

I have managed to have "kubectl apply":

1. **bypass the  corev1.Service validation** (prevents you from specifying both UDP/TCP ports if `spec.type:LoadBalancer`),
2. have items in my declarative specification **was silently ignored and not applied**,
3. break my Service object **broken and no further `apply` works anymor

[2018-05-25 10:05] gianrubio opened #492 "Can we have an oficial kubectl image?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FR

**What happened**:

Nowadays there's no official image from kubectl available, I'd expect this repo provide an image.
I can do a PR to provide that but first I want to know if they maintainers are willing to merge it.

[2018-05-25 19:17] Netdoc41 opened #493 "[Windows] Unable to open kube config file"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
issue/bug

**Kubernetes

[2018-05-27 03:22] davidopp opened #494 "Have an option to print the URL and body of the request that will be sent to the server"
For educational purposes it would be cool if you could request to have kubectl dump to stdout or stderr the REST path and request body corresponding to the kubectl command you run. Perhaps if this were implemented it would make sense to also have a "dry run" mode so you would only get this output and not actually make the request to the server.

[2018-05-27 06:49] adohe commented on #494
@davidopp what's the difference between using high log level and using this option? use `--v=10` will also print the URL and request body that will be sent to the server. As for `dry-run` I think many of kubectl commands has implement this functionality.

[2018-05-27 06:50] davidopp commented on #494
Oh cool, I didn't realize --v=10 already did this. Thanks!

[2018-05-27 06:50] #494 closed

[2018-05-27 18:49] #135 closed

[2018-05-28 19:27] adshmh commented on #93
cc @seans3 @mengqiy @pwittrock I just submitted a PR on this as a start. Would appreciate it if you could review it.

[2018-05-29 12:14] antoineco commented on #125
Spot on,

[code]

Bash auto-completion must be installed, even with the Zsh shell.

[2018-05-30 18:00] apelisse commented on #141
We need openapiv3 for kubernetes native type. I'll close this for now, we definitely plan on doing this.

[2018-05-30 18:00] #141 closed

[2018-05-30 19:13] nikhita commented on #186
/remove-lifecycle stale

[2018-05-31 06:51] mortenlj commented on #186
If the conclusion is that creating a CRD named Status shouldn't be allowed, I don't think there is any more action needed on this bug. I have renamed my CRD to avoid the issue.

[2018-05-31 07:16] nikhita commented on #186
We still need to give an error to the user that they are not allowed to use the name though. :)

[2018-06-01 17:47] mrezaei00 commented on #151
@liggitt does `kubectl api-resources` replace the functionality as well or this just means `kubectl get all` is going to be deprecated and there will not be any support for searching labels in a namespace?

My use case is the same as the issue:
[code]
which doesn't return secrets, for example:
[code]

[2018-06-01 21:38] vidhill opened #495 "Way to get list of pods running in a service"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** pods service
---

**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T12:22:21Z",

[2018-06-01 22:22] DStorck opened #496 "kubectl set --help : please add examples"
kubectl version 1.10.0
/kind documentation
/sig cli

**Is this a request for help?** : No, but it would be very helpful. The [Kubernetes references docs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#set) do not provide examples either for `kubectl set`

**What keywords did you search in Kubernetes issues before filing this one?** :` kubectl`,  `set`  - there is a [simila

[2018-06-03 17:44] nikhita commented on #276
/remove-lifecycle stale

[2018-06-04 03:43] #174 closed

[2018-06-04 06:55] nikhita commented on #132
/remove-lifecycle stale
/lifecycle frozen

[2018-06-04 06:56] nikhita commented on #76
/remove-lifecycle stale

[2018-06-04 14:55] chrissound opened #497 "panic: interface conversion: interface {} is []interface {}, not map[string]interface {}"
panic: interface conversion: interface {} is []interface {}, not map[string]interface {}

goroutine 1 [running]:
k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi/validation.getObjectKind(0x14e0d20, 0xc4210343a0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0xffffffffffffff01, 0xc4204058c0)
	/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi/validation/validation.go:1

[2018-06-05 05:37] adohe commented on #497
@chrissound could you please provide your client and server version? `kubectl version` can give you this info.

[2018-06-05 07:17] chrissound commented on #497
[code]

[2018-06-05 09:15] neopaf opened #498 "Misleading printout of forward-ports"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

[code]

**What happened**:

[code]

**What you expected to happen**:

Since port 3000 is forwarded to port 80, I expected printout to show "-> 80".

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-06-05 13:20] adohe commented on #497
@chrissound How to reproduce it? I will take a look.

[2018-06-05 14:43] MasayaAoyama commented on #498
Hello :)
Service is "80(service port) > 3000(pod port)",
Port-forward is "3000(localport) > 3000(pod port)".

And we operate port-forwarding
  1. "local port > pod port" for pod, or
  2. "service port > pod port" for service.

But actually we can only use port-forward to pod.
If we use "port-forward service", kubectl choose 1 pod from pods related the service.
So, I think output is "3000(localport

[2018-06-05 14:49] MasayaAoyama commented on #496
Hello,

we can see "kubectl set env -h" or "kubectl set * -h".
and "kubectl create service -h" also don't show examples, and "kubectl create service loadbalancer -h" show examples.

Maybe I think it is policy of kubectl, maybe.
Do you think we need examples for "set env", "create service", and so on?
If need, I would like to implement.

[2018-06-05 17:18] DStorck commented on #496
it would probably be enough to just include several examples in `kubectl set -h` to give people an idea of how to work with the command, those examples could even carry over into `kubectl set * -h` as you mentioned.  But right now there it very difficult to find examples anywhere.

[2018-06-05 18:49] nikhita commented on #276
We have a bot (@fejta-bot) which marks issues and PRs as "stale" if there has been no activity on it for 90 days. It is done to make sure that old issues are closed, if they are no longer relevant. If they are relevant, someone removes the stale label.

I haven't tested it but I don't think it is. If it were, I believe someone would have linked/referenced this issue on the PR.

Please feel free to

[2018-06-06 06:29] mengqiy commented on #7
Ingress is a cluster scoped resources.
Per https://github.com/kubernetes/community/blob/9151896ac90a1a3bacb4f33768e7bde96abbde22/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all, ingress should not be included.

[2018-06-06 06:59] whs-dot-hk opened #499 "Autocomplete for kubectl pod name"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
autocomplete
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature r

[2018-06-06 07:03] mengqiy commented on #58
/remove-lifecycle rotten

[2018-06-06 14:09] superbrothers commented on #499
In my environment, autocompletion works for pods which have the longest name (253 characters). https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[code]

@whs-dot-hk Could you please try the above steps?

[2018-06-06 14:57] whs-dot-hk commented on #499
@superbrothers There is already auto-complete in linux? I was on a mac in my office (only choice). But, I use linux (ubuntu b4 now fedora) all of the time. Will have a try again soon.

[2018-06-06 15:07] superbrothers commented on #499
Yes, there is. However autocompletion also works on macOS.

[2018-06-06 16:31] mengqiy commented on #7
/reopen

[2018-06-06 16:58] MasayaAoyama commented on #496
now, we can get examples "kubectl set env -h", "kubectl set image", and so on.
we also need "kubectl set -h"?

[2018-06-06 17:18] ahmetb opened #500 ""get ingress" still shows port 80 even though it is HTTPS only."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT
**Kubernetes version** (use `kubectl version`): v1.10.2
**Environment**:
- **Cloud provider or hardware configuration**: GKE

I have a HTTPS only ingress that shows port 80 in kubectl get (kubectl v1.10.2):

[code]

I think port 80 actually isn't open:

![image](https://user-images.githubusercontent.com/159209/40799994-f488d8f6-

[2018-06-06 22:31] paulgmiller commented on #59
#54932 might be related

[2018-06-07 09:29] alecharp commented on #426
@rofc do you think kubectl could warn the user we are when this +/- 1 is not respected?

[2018-06-09 02:01] superbrothers commented on #499
@whs-dot-hk Were you able to resolve this issue? If you have still any problem, please feel free to reopen this issue.

/close

[2018-06-09 02:01] #499 closed

[2018-06-11 19:09] ahmetb commented on #489
/sig cli
ping

[2018-06-12 00:51] adohe commented on #489
/assign @adohe

[2018-06-12 00:52] adohe commented on #489
just assign this to me, would involve someone into this.

[2018-06-13 14:43] damemi commented on #489
@adohe if you haven't started working on this yet, I think I may have a fix in https://github.com/kubernetes/kubernetes/pull/65059

[2018-06-14 00:36] adohe commented on #117
/remove-lifecycle stale

[2018-06-14 00:36] adohe commented on #117
/assign @adohe

[2018-06-18 08:51] neopaf commented on #498
I think this is very understandable, and maybe reasonable.
Yet kinda confusing.
In a command I talk about port-forwarding to a service, and not about port-forwarding to pod.

Maybe add small "(pod)" to clarify what's going on?
To look it like this (continuing your example):
[code]

Other option:
[code]
;)

[2018-06-18 15:24] G-Harmon commented on #398
+1 agree that examples would be very helpful.

[2018-06-18 15:36] G-Harmon commented on #185
I'd like to see this feature. It'd help with rapid deletion/creation of the same pod.

/remove-lifecycle rotten

[2018-06-18 20:57] vijayeswari commented on #426
$ ./kubectl version

Make sure the kubectl version (Client) and Kubectl version of your Kubernetes Cluster (Server version) are same or compatible.

I had issues when the Client version was "1.8.2" and Server version was "1.9.6" . I upgraded my Client version to 1.9.6 and it works fine now. I am able to perform any kubectl operation on the statefulsets without any error.

The below one had Issues

[2018-06-18 23:45] natefox commented on #415
I see this hang too. Appears it was introduced at v1.10 as the v1.9.8 binary gives a quick failure. Ultimately hoping for kubernetes/kubernetes#64751

[code]

[2018-06-20 03:03] zjj2wry commented on #361
/unassign

[2018-06-20 05:38] nikhita commented on #361
/remove-lifecycle stale

[2018-06-20 09:29] neoel opened #501 "Allow [kubectl config set-cluster] to specify certificate-authority data in command."
Currently kubectl only allows a certificate to be specified from the filesystem, it's possible to embed the certificate in the configuration file.
I'd like to be able to pass the certificate base64 encoded directly with `kubectl config set-cluster`.
This will allow me to generate a configuration command without having to write the cert to the filesystem.

@k8s-mirror-cli-feature-requests

[2018-06-20 13:22] liggitt commented on #361
`--namespace` is a global flag. It can be passed to any kubectl command. The effect it has is to set the "current" namespace. There is no effective difference between using a `$KUBECONFIG` file containing a "current-context" which includes a namespace, and setting the `--namespace` flag on the command line. When working with cluster-scoped resources, the current namespace is not relevant, and is i

[2018-06-20 13:22] #361 closed

[2018-06-20 16:55] ahmetb commented on #361
@liggitt the tl;dr of this issue is that "silently ignoring passed flags is not a good idea", which your comment doesn't address as far as I can tell.

I think there's room for improvement in this case. I have previously opened bugs (and got them fixed) about "this command accepts --some flag and silently ignores it" for flags like `-o/--output`.

[2018-06-20 17:18] liggitt commented on #361
the difference is that `-o`/`--output` isn't a global flag, and `--namespace` is. whether you specify `--namespace` or not, every kubectl command has a "current namespace".

[2018-06-21 13:38] adohe commented on #496
`kubectl set env -h` is always what we want, no need to give examples in `kubectl set -h`.

[2018-06-22 19:04] ahmetb opened #502 "--output=go-template returning weird ("<no value>") string, breaking integration"
kubectl v1.10.4

The following command prints `<no value>` to the screen:

[code]

when the "clusters" field in the kubeconfig doesn't have the `"certificate-authority-data"` field, for example:

[code]

`-o=go-template` should NOT cause a weird string value like `"<no value>"` to be printed to stdout. Instead this should print nothing and exit.

This is breaking integrations like `kubectl [...] |

[2018-06-22 21:52] #489 closed

[2018-06-24 08:19] adohe commented on #502
/assign @adohe

[2018-06-26 13:52] adohe commented on #415
I would take a look. but whats the relation between this issue and #64751?

[2018-06-27 19:59] chrissound opened #503 "kubectl set image does not work on initContainers"
kubectl version

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:21:50Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"c

[2018-06-28 10:46] luciano-numen commented on #407
Any update on this?

[2018-07-01 12:36] adohe commented on #83
/remove-lifecycle rotten

[2018-07-01 12:36] adohe commented on #83
/unassign @shiywang

[2018-07-01 12:37] adohe commented on #83
/assign @adohe

[2018-07-01 12:38] adohe commented on #386
/remove-lifecycle stale

[2018-07-01 12:38] adohe commented on #386
/assign @adohe

[2018-07-01 12:39] adohe commented on #11
/unassign @alexandercampbell

[2018-07-01 12:40] adohe commented on #11
/unassign @adohe

[2018-07-01 12:40] adohe commented on #11
/remove-lifecycle rotten

[2018-07-02 22:02] roshankadasani commented on #151
Try - `kubectl get all --all-namespaces`

[2018-07-02 23:01] gkarthiks opened #505 "kubectl go-template 'eq' not working with integers"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

I am running the below kubectl command with go-template as output format with some conditional checks. I am evaluating the value of a variable to 1, but it fails and throws me below error.

### Error Output

My kubectl command is like below

**Kubernetes version** (use `kubectl version`):
Client Version: v1.10.0
Server Version:

[2018-07-03 03:33] liggitt commented on #151
`kubectl api-resources` enumerates the resource types available in your cluster.

this means you can combine it with `kubectl get` to actually list every instance of every resource type in a namespace:

[code]

[2018-07-03 03:34] liggitt commented on #151
/close

[2018-07-03 09:44] nikhita commented on #505
/kind bug

[2018-07-03 20:59] gkarthiks commented on #505
## UPDATE:
the comparators is not working with just the integers.
I changed my template code to `{{if eq .state.terminated.exitCode 1.0}}` like this. It worked.

[code]

[2018-07-04 09:58] jonathanbeber commented on #385
Hi,

I'm with client `1.11.0` and server `v1.8.8` and facing the same issue. Should I open a new issue?

[2018-07-04 11:07] olemarkus commented on #172
/remove-lifecycle rotten

[2018-07-04 13:48] liggitt commented on #385
No. 1.8.x servers have a known bug that makes them respond incorrectly to requests containing Accept headers they don't recognize. This was fixed in 1.9.0.

1.8.x is outside the supported skew window for kubectl 1.11.0

[2018-07-05 01:47] mlda065 opened #506 "`get nodes -w` works differently to all other `get x -w`"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* `get nodes`
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

I've tried two environments, with the same behavi

[2018-07-05 01:49] #192 closed

[2018-07-05 07:17] nikhita commented on #12
This is still relevant, right? Please close this PR again if it is no longer relevant.

/remove-lifecycle rotten
/assign

[2018-07-05 07:17] nikhita commented on #12
/reopen

[2018-07-05 07:18] nikhita commented on #12
/unassign

[2018-07-05 07:20] nikhita commented on #31
/remove-lifecycle rotten
/reopen

This still looks relevant

[2018-07-05 07:20] nikhita commented on #31
/assign

[2018-07-05 07:20] nikhita commented on #31
/reopen

[2018-07-05 07:21] nikhita commented on #31
/unassign

[2018-07-05 08:24] nikhita commented on #142
/remove-lifecycle rotten

[2018-07-05 08:37] nikhita commented on #147
/remove-lifecycle rotten

This still looks relevant.

/assign

[2018-07-05 08:37] nikhita commented on #147
/reopen

[2018-07-05 08:37] nikhita commented on #147
/unassign

[2018-07-05 08:39] nikhita commented on #86
/remove-lifecycle rotten

This still looks relevant.

[2018-07-05 08:40] nikhita commented on #335
/remove-lifecycle rotten

This still looks relevant.

[2018-07-05 08:41] nikhita commented on #216
/remove-lifecycle rotten

This still looks relevant.

/assign

[2018-07-05 08:41] nikhita commented on #216
/reopen

[2018-07-05 08:41] nikhita commented on #216
/unassign

[2018-07-05 09:37] nikhita commented on #80
/lifecycle frozen

[2018-07-05 09:38] nikhita commented on #74
/lifecycle frozen

[2018-07-05 09:39] nikhita commented on #115
/remove-lifecycle stale

[2018-07-05 09:39] nikhita commented on #115
/remove-lifecycle rotten

[2018-07-05 09:39] nikhita commented on #114
/remove-lifecycle rotten

[2018-07-05 09:40] nikhita commented on #9
/remove-lifecycle rotten

This still looks relevant.

/assign

[2018-07-05 09:41] nikhita commented on #9
/unassign

[2018-07-05 09:43] nikhita commented on #99
/remove-lifecycle stale

[2018-07-05 09:52] nikhita commented on #87
/remove-lifecycle stale

[2018-07-05 11:14] nikhita commented on #491
/cc @apelisse

[2018-07-05 11:32] liggitt commented on #491
To be clear, this isn't bypassing service validation, the patch computation is getting confused by the ports that differ only by protocol, and is giving bad patch directives.

The bad merge key is tracked in https://github.com/kubernetes/kubernetes/issues/39188

[2018-07-06 07:46] carlosonunez opened #507 "`kubectl config` seems to hash file names when --client-certificate is given a path"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2018-07-06 07:59] carlosonunez commented on #507
I am an idiot; that hash was my Docker container. Don't code while sleep deprived, kids!

[2018-07-06 07:59] #507 closed

[2018-07-06 08:46] nikhita commented on #507
:)

[2018-07-06 19:52] carolynvs commented on #345
/lifecycle frozen

[2018-07-09 06:21] mlda065 opened #508 "add non-plural option kubectl config get-context (no trailing s)"
tldr: Add `kubectl config get-context` as a synonym for `kubectl config get-contexts`

**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* `get-context`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature Request

**Kubernetes version** (use `

[2018-07-09 14:55] aleofreddi opened #509 "kubectl convert -o name fails when using stdin"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`name` `stdin` `error: list types are not supported by name printing: *v1.List`

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Clo

[2018-07-10 05:55] mengqiy commented on #99
This has been done. It's at https://github.com/kubernetes-sigs/testing_frameworks

[2018-07-10 05:56] mengqiy commented on #87
This has been done. It's at https://github.com/kubernetes-sigs/testing_frameworks

[2018-07-10 05:56] #87 closed

[2018-07-10 05:57] mengqiy commented on #99
Accidentally closed a wrong issue.
Reopening...

[2018-07-12 01:38] ahmetb commented on #503
points to the fact that abcxyz deployment doesn't exist. You should be getting an error:

but I'm guessing you're still right, `set image` probably doesn't support init containers.

[2018-07-17 06:03] dj13may91 opened #510 "Kubectl top nodes/pods background url"
I wanted to know how kubectl top nodes or kubectl top pods fetches the information as in what api does it hit. i couldn't find it in the kubernetes api docs : https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/
neither there is any function in the library : https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md

[2018-07-17 09:14] aditya-konarde commented on #25
Thanks @tonglil ; I was seeing the same issue, found that I was not escaping the `.`

[2018-07-17 10:06] dims commented on #510
run kubectl with `--v=10` and you can see all the HTTP requests being sent

[2018-07-18 04:48] nikhita commented on #124
/remove-lifecycle stale

[2018-07-18 05:38] nikhita commented on #444
/remove-lifecycle stale

[2018-07-18 07:01] nikhita commented on #427
/remove-lifecycle stale

[2018-07-18 07:05] nikhita commented on #337
/remove-lifecycle rotten

[2018-07-18 16:47] mengqiy opened #511 "kubectl skew tests failing on GKE"
skew-cluster-stable1-kubectl-latest-gke and skew-cluster-stable1-kubectl-latest-gke-serial start to fail last night.
https://k8s-testgrid.appspot.com/sig-cli-master#skew-cluster-stable1-kubectl-latest-gke
and
https://k8s-testgrid.appspot.com/sig-cli-master#skew-cluster-stable1-kubectl-latest-gke-serial

It seems we are having issue bringing up a GKE cluster.

/kind bug
/sig cli

[2018-07-18 16:52] mengqiy commented on #511
The failure looks very similar to https://github.com/kubernetes/kubernetes/issues/64833

[2018-07-19 01:26] ahmetb opened #512 "--user not showing in help for "create {cluster}rolebinding""
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

kubectl 1.11.0

`--user` flag not showing in help for:
- `kubectl create clusterrolebinding --help`
- `kubectl create rolebinding --help`

commands.

Example:

[code]

[2018-07-19 02:11] mengqiy commented on #511
With the help from the @BenTheElder, this looks like a GKE-only issue.
The nodes can't register themselves with the master.

[2018-07-19 08:06] nikhita commented on #400
/remove-lifecycle stale

[2018-07-19 09:40] nikhita commented on #104
@ksaritek awesome! :tada:

[2018-07-19 09:50] dj13may91 opened #513 "How can i get API KEY of my kubernetes cluster to call authorised apis ?"
https://github.com/kubernetes-client/java/blob/master/kubernetes/README.md

ApiClient defaultClient = Configuration.getDefaultApiClient();

        // Configure API key authorization: BearerToken
        ApiKeyAuth BearerToken = (ApiKeyAuth) defaultClient.getAuthentication("BearerToken");
        BearerToken.setApiKey**("YOUR API KEY")**;
        // Uncomment the following line to set a prefix for

[2018-07-19 09:55] #510 closed

[2018-07-19 23:12] mengqiy commented on #511
After digging it more with @krzyzacy, it seems it fails on GKE 1.10 clusters.
https://k8s-testgrid.appspot.com/sig-release-1.10-all

[2018-07-20 04:59] nikhita commented on #397
This is still relevant.
/remove-lifecycle stale

But this does not meet the criteria for help-wanted because the general direction for the solution is not yet defined.
/remove-help

[2018-07-20 05:02] nikhita commented on #363
/remove-lifecycle rotten

[2018-07-20 10:11] ashi009 commented on #59
How come a feature like this is ignored for all these years.  For a managed rollout, the result of the `kubectl apply` should provide enough information for the automation system to make the verdict, instead of guessing the status of the rollout.

OTOH, two separate calls made with `kubectl` are not naturally bound. I think it would be more preferable to let `kubectl apply` to watch the rollout di

[2018-07-20 10:12] ashi009 commented on #59
/remove-lifecycle rotten

[2018-07-20 16:44] MPJHorner commented on #59
Did you come up with a solution for this or is their an alternative way to do the rolling update and check the outcome?

[2018-07-21 02:19] paulgmiller commented on #59
Nothing new from me

On Jul 20, 2018 9:44 AM, "Matt Horner" <notifications@github.com> wrote:

Did you come up with a solution for this or is their an alternative way to
do the rolling update and check the outcome?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubectl/issues/59#issuecomment-406658035>,
or mute the th

[2018-07-23 16:36] dineshibm commented on #61
I have also faced same issue.

kubectl edit pod k8s-master-ag1gr1icp2m01 -n kube-system
error: pods "k8s-master-ag1gr1icp2m01" is invalid
error: pods "k8s-master-ag1gr1icp2m01" is invalid
A copy of your changes has been stored to "/tmp/kubectl-edit-oh43e.yaml"
error: Edit cancelled, no valid changes were saved.

Here is kubectl version
 kubectl version
Client Version: version.Info{Major:"1", Minor

[2018-07-23 19:30] quasoft commented on #104
Update on this issue in https://github.com/kubernetes/kubernetes/pull/54629

[2018-07-24 22:18] mengqiy commented on #511
This has been fixed.
Closing

[2018-07-24 22:18] #511 closed

[2018-07-25 12:34] cbluth opened #514 "Create ConfigMap from http source"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `"from-file" "http"`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2018-07-25 13:33] willmao commented on #503
same issue

[2018-07-26 06:59] yvespp commented on #509
I get the same error if two resources are defined in the same yaml separted by `---`.
[code]
test.yaml:
[code]
This worked with kubectl v1.10.5:
[code]

[2018-07-26 11:54] alwinmarkcf commented on #400
@djschny any information? I'm having the same issue where I didn't have this issue yesterday

[2018-07-26 11:57] alwinmarkcf commented on #400
Ok in my case it was a dangling container with that name. Removing that container solved the issue for me

[2018-07-26 14:15] wknapik commented on #450
/remove-lifecycle stale

[2018-07-26 20:31] Pehesi97 opened #515 "--recursive option with wildcards or regexes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): recursive resource management kubernetes

---

**Is this a BUG REPORT or FEATURE REQU

[2018-07-27 01:50] liggitt commented on #506
node objects do change every few seconds, as their status is updated by the kubelet (outputting in yaml format would reveal the changes)

/close

[2018-07-27 01:50] #506 closed

[2018-07-27 01:53] liggitt commented on #515
rather than building complex file finding function into kubectl, I'd recommend combining with a more powerful tool like `find` and piping the results to kubectl:

[code]

[2018-07-27 01:56] liggitt commented on #509
this is resolved in 1.11.1

/close

[2018-07-27 01:58] liggitt commented on #509
/sig cli
cc @juanvallejo

[2018-07-27 02:09] #515 closed

[2018-07-27 09:21] TimMoore commented on #3
/remove-lifecycle rotten

This still happens in v1.11.1

[code]

[2018-07-27 23:39] apelisse commented on #104
Still looks relevant to me:
[code]

[2018-07-27 23:40] apelisse commented on #104
I've just seen the PR from @quasoft so maybe not actually ;-/

[2018-07-27 23:44] apelisse commented on #104
Yeah, this is fixed. Github will close it automatically when the PR merges. Thanks everyone.

[2018-07-28 01:05] #104 closed

[2018-07-30 04:41] #118 closed

[2018-07-30 04:41] #269 closed

[2018-07-31 05:02] jaitaiwan commented on #221
Just came across this issue so definitely not stale.

[2018-07-31 23:25] njzhangyifei commented on #221
`kubectl replace` worked for me

Note: it requires specifying the `clusterIP` field to be the same IP as the allocated ClusterIP of this service

[2018-08-01 05:55] bhavin192 commented on #498
@neopaf I think the first one is more correct, as MasayaAoyama said it actually port-forwards to the pod not the service.

[2018-08-02 09:00] nabadger commented on #7
This is still an issue for me, any updates?

[code]

[2018-08-03 16:19] jeremyjjbrown commented on #151
Why is this closed? Some complex xargs stuff does not mitigate the fact at "all" is indeed a falsehood that does not return all objects.

[2018-08-03 16:27] liggitt commented on #151
`all` will not be extended because of compatibility concerns, and is not referenced in help any longer because it is misleading, as you point out

[2018-08-03 16:40] jeremyjjbrown commented on #151
Is there some other literate way to <verb> all by label?

[2018-08-03 18:44] Obtin commented on #100
@pwittrock is anybody working on it ? If not I would like to take this issue.

[2018-08-03 19:16] seans3 commented on #100
Hello @Obtin. Phil is on parental leave until early September. I'm confident that no one is working on this now. So it would be great if you took this issue.

[2018-08-03 20:20] seans3 opened #517 "additionalPrinterColumns for CRD's doesn't work in k8s 1.11 for columns with array data"
**Kubernetes version** (use `kubectl version`): 1.11 (server-side printing)

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**Bug**
Reproduce using the following steps:

1) Create  CRD:

crd.yaml
[code]
[code]
2) Create an instance of the CRD:

crd-instance.yaml
[code]

[code]

3) Print instance of CRD:

[code]

### EXPECTED

Notice that only the first array of hosts is prin

[2018-08-06 13:11] alkar commented on #426
I'm seeing the same issue but only on one out of three clusters. I initially thought it might be a caching issue but clearing `~/.kube/cache/discover/<cluster>` does not seem to help at all. Is there any information that I can provide to help sort this one out?

[code]

The versions are the same across the three clusters.

[2018-08-07 13:54] nikhita commented on #517
created a PR: https://github.com/kubernetes/kubernetes/pull/67079

[2018-08-09 12:50] majewsky commented on #476
:clap:

/remove-lifecycle stale

[2018-08-09 22:13] wesley-ramos commented on #99
@nikhita  is anybody working on it ? If not I would like to take this issue

[2018-08-10 13:13] JaroVojtek opened #518 "kubectl not working properly : unable to upgrade connection: Unauthorized"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes versi

[2018-08-10 16:42] psreed opened #519 "[Windows] kubectl run not accepting valid JSON as --override on Windows (same JSON works on Mac)"
/kind bug

**What happened**:
- "kubectl run" with --overrides is rejected with "error: Invalid JSON Patch" on WINDOWS
- exact same command verified works fine on MacOS

**What you expected to happen**:
Patch applied to my kubectl run. See proper expected output from Mac OS run below.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
Outp

[2018-08-10 18:29] wesley-ramos commented on #99
cc @seans3 @mengqiy

[2018-08-11 08:32] nikhita commented on #99
No, it's all yours! :tada:

[2018-08-11 17:53] adampl opened #520 "kubectl apply doesn't update nodeSelector"
**BUG REPORT**

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:17:28Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903

[2018-08-11 18:39] wesley-ramos commented on #99
Ok I'll start

[2018-08-13 00:05] #116 closed

[2018-08-13 16:31] ryankemper commented on #125
Are there any plans to fix this issue? It breaks the common pattern of `source <(kubectl completion zsh) && echo success || echo failure`. I've worked around the issue by using && for fail and || for true, but it's very ugly.

Ironically if the bug does get fixed I'll have to switch the && and || again: https://xkcd.com/1172/

[2018-08-14 12:49] donbowman opened #521 "Kubectl exec output is not binary clean"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): binary

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Kubernetes ve

[2018-08-15 18:41] liggitt commented on #276
This will work: `kubectl create secret generic kubeconfig --from-file ~/somefile`

Expansion of ~ paths to the home directory is done by the calling shell, and varies depending on whether the arg is quoted/unquoted, and is a flag or not. Bash chooses not to expand flag values containing ~. You can see this shell behavior in action with echo as well:

[code]

I don't think it makes sense to add cus

[2018-08-15 18:41] #276 closed

[2018-08-16 22:13] tsuna commented on #454
Would be great to have this capability.

[2018-08-17 00:44] dnltsk opened #522 "kubectl get service doesn't work without -w"
`kubectl get service my-service -w` works fine and outputs

`my-service   LoadBalancer   10.0.xxx.xxx   104.46.xxx.xxx   3030:31053/TCP   37m`

The same command without `-w` or `--watch` outputs the following exception message

[code]

A similar exception message is also outputted when firing other commands like `kubectl get pods` or `kubectl get nodes`

The Kubernetes cluster is running on AKS. I

[2018-08-17 04:35] adohe commented on #522
@dnltsk I am afraid you need to make sure the client version match the service version, or at least within version scope.

[2018-08-17 07:48] dnltsk commented on #522
your suggestion fixed my issue. Thanks.

after running `az aks install-cli --client-version v1.7.7` to sync the server and client version everything works perfectly fine.

[2018-08-20 14:37] juanvallejo opened #523 "The `patch` command should not require a KUBECONFIG when using --local"
The `kubectl patch` command currently fails when there is no kubeconfig present, no `--config` flag is provided, and `--local` is given:

[code]

Since we are not hitting the server, no kubeconfig should be needed.
This error [occurs here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/patch.go#L156) when attempting to retrieve a namespace in the command's Complete method.

W

[2018-08-22 06:53] Vickey-Wu commented on #37
I use bellow commands can use kubectl completion on my xshell but only when i close the window or new a window and retype these commands again can kubectl complete. I hope someone can help me do these work only once
[code]

[2018-08-24 13:47] soltysh commented on #523
This is fixed in https://github.com/kubernetes/kubernetes/pull/67399.

[2018-08-24 13:47] #523 closed

[2018-08-24 17:36] cbryant-zspace commented on #401
@liggitt how was this resolved? Does create secret now populate the fields, they aren't required, or what?

[2018-08-24 17:40] liggitt commented on #401
it now populates the fields on output

[2018-08-24 18:00] izelnakri opened #524 "Add ANSI colors to kubectl describe and other outputs"
**FEATURE REQUEST**:

Currently kubectl outputs are pretty boring without a color:

![kubetest_ _-bash_ _181x31](https://user-images.githubusercontent.com/1190931/44599951-29bfa480-a7d8-11e8-9e0e-1aa6186bd3ec.jpg)

Adding color to them will make them easier to read. Each key could be colored based on its indentation level. Each key/value pair in labels,annotations,taints etc could be colored diffe

[2018-08-25 08:57] #378 closed

[2018-08-27 07:48] chenyb4 commented on #496
In kubectl v1.11.2 was exist examples.

kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:17:28Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a7

[2018-08-27 08:29] johanot opened #525 "Add --cascade or --force flag to kubectl delete namespace, for non-empty namespaces"
Today, if you drain a node, kubectl will prompt you for confirmation in the form of `--ignore-daemonsets` and `--delete-local-data` if applicable. This is fine and a nice guard for doing something dangerous.

Along the same lines, I would like some sort of `--force` or `--cascade` flag for deleting namespaces, in case the namespace contains objects. This would imply `kubectl get -n <namespace> all

[2018-08-28 02:14] LeiYangGH commented on #18
I still get this error:

I0828 10:05:03.921949   11996 cached_discovery.go:87] failed to write cache to C:\Users\YANG.LEI\.kube\cache\discovery\10.33.62.132_8081\apiregistration.k8s.io\v1\serverresources.json due to chmod C:\Users\YANG.LEI\.kube\cache\discovery\10.33.62.132_8081\apiregistration.k8s.io\v1\serverresources.json.244339038: not supported by windows

**$ ./kubectl.exe  version**
Client

[2018-08-28 06:13] fatalc commented on #524
Maybe a good idea

[2018-08-28 12:16] neopaf commented on #498
Maybe. Yet second gives a bit more insight as to what was done.
Not insisting on that second ;)

[2018-08-29 08:21] imran21 opened #526 "unexpected error during validation: unable to resolve Kubernetes cluster API URL dns: lookup api.clust1.kube.devopsimran.com on 172.31.0.2:53: server misbehaving"
In Route53 the A record is not created.
When I run
 ./kops validate cluster
Its getting error as below

 <unexpected error during validation: unable to resolve Kubernetes cluster API URL dns: lookup api.clust1.kube.devopsimran.com on 172.31.0.2:53: server misbehaving>
my nodes in EC2 is all creating fine and successfully but i cant to anything on ( ./kops validate cluster) and (kubectl)

Could any

[2018-08-29 10:06] #526 closed

[2018-08-29 13:23] schollii opened #527 "Need a real "get-all" command"
**FEATURE REQUEST**:

Add a get-all command that really shows *all* objects, with some flags to filter on certain types (namespaced vs non-namespaced, etc).

Similarly, the dashboard should have a mode to show all resources (again, dashboard does not show networkpolicy objects, not even in pod descriptions to say "this pod is selected by this networkpolicy object". But dashboard improvement should

[2018-08-29 13:32] schollii opened #528 "`kubectl describe pod/xxx` should show what resources selected the pod"
**FEATURE REQUEST**:

Add a flag or command that shows which objects have selected a specified pod, or for each pod, what objects selected it. For example, if I create a network policy with a selector, then each pod that matches this selector should show this in its description, something like this:

Selected-by:
   networkpolicy/name-of-policy
   service/name-of-service

Similarly, the dashboard

[2018-08-29 20:42] #226 closed

[2018-08-30 19:34] sellers commented on #398
I do have one example that will work, but I have not determined the total syntax for "maps"
[code]

[2018-08-30 19:47] sellers commented on #415
@adohe I think @natefox referenced it because the commands that @jheiss was trying to run are related the the feature request.    It's tangential.     I hope that helps.

[2018-08-30 23:21] cblecker opened #529 "kubernetes/kubectl: Switch to lgtm/approve for merge"
Hi @pwittrock / @soltysh,
Are you okay if we swapped this repo to use the lgtm/approve plugins as the merge driver for tide, rather than github reviews? This would help with a consistent experience across the org. Right now, the lgtm and approval plugins are enabled, but the labels mean nothing to tide -- it's only looking for a github review from someone with write access to merge.

https://githu

[2018-08-31 13:38] thinkerbot opened #530 "JsonPath errors printed on stdout"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): jsonpath stderr stdout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2018-09-01 13:33] jeremyjh commented on #483
@zentron do you have a workaround for this? When I'm not actively working with Kubernetes I'd like to clear my context so it doesn't take up room in my prompt.

[2018-09-03 14:28] nikhita commented on #150
/remove-lifecycle stale

[2018-09-03 14:30] nikhita commented on #47
/remove-lifecycle stale

[2018-09-03 14:31] nikhita commented on #170
/remove-lifecycle stale

[2018-09-03 14:32] nikhita commented on #186
/remove-lifecycle stale

[2018-09-03 22:31] zentron commented on #483
@jeremyjh for my purposes I ended up just setting the `KUBECONFIG` environment variable (https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable) so that i could create a temporary context and then delete it for clean up once my operation is complete. Given this work-around I'm happy to consider this task as closed for

[2018-09-04 03:49] KeZhang opened #531 "If the cluster time is not same with the client time, the "Age" is incorrect"
There is some NTP issue in my cluster machine, it delay **6 hours** for the stand time. When I use the kubectl to get the info of resources, I found the **"Age"** always show **>6 Hours**.
When I login into the k8s cluster master node machine, its time is delay just delay **6 hours** compare to my local desktop time

There is a little confused when I just create a new resource, that make me think

[2018-09-04 14:15] cblecker commented on #529
Hearing no objections, making this change..

[2018-09-04 14:24] #529 closed, assigned to nobody

[2018-09-04 14:28] cblecker commented on #529
This change should now be in effect :)

[2018-09-05 05:40] ahmetb commented on #500
/remove-lifecycle stale

[2018-09-06 07:46] #531 closed

[2018-09-06 07:47] KeZhang commented on #531
this issue gone ,  when I upgrade the kubectl version to "1.11"

[2018-09-11 17:35] mabushey commented on #221
Not fixed:

[code]

[2018-09-14 03:40] terrynie opened #532 "Bug -- kubectl exec con't kill the process sometimes"
Kubernetes version:

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}

Amazon ec2
Mac OSX 10.14 Beta (18A326h)
Homebrew

**What happened**:
![1111536895239_ pic_hd](https://user-images.githubusercontent.com

[2018-09-14 06:57] #532 closed

[2018-09-16 10:47] dixudx commented on #221
Dup of kubernetes/kubernetes#66390, which has been fixed in kubernetes/kubernetes#66602.

Please try using `kubectl apply -f test-service.yaml   --force`.

/close

Please reopen if needed.

[2018-09-16 10:47] #221 closed

[2018-09-16 15:56] tsuna commented on #454
/remove-lifecycle rotten

[2018-09-17 17:38] G-Harmon commented on #185
/remove-lifecycle stale

[2018-09-18 08:08] shubheksha commented on #80
@seans3, are there any more changes left under this umbrella issue or were you able to get them all? If not, I can help out :smile:

[2018-09-18 08:09] shubheksha commented on #80
/remove-lifecycle frozen

[2018-09-18 17:13] seans3 commented on #80
@shubheksha Unfortunately, there are is still quite a bit to be done to complete this. I am estimating at least a couple months. Thanks for removing the frozen lifecycle.

[2018-09-18 17:39] shubheksha commented on #80
@seans3, no problem! Are we tracking who is working on what on a file/package basis? I would love to help out but I see you've sent a few PRs already, so I was wondering what can I pick up?

[2018-09-18 21:46] seans3 commented on #80
@shubheksha Here is the spreadsheet I am using to track the dependencies which need to be removed:

https://docs.google.com/spreadsheets/d/1zTzjBBXK8SyYMr35Azb39WABvCKB4gF8rVwA4PhBuj0/edit#gid=974040405

The first rows are dependencies on an internal version of a resource. We're going to replace all dependencies on internal versions of resources with external versions of a resource. Please let me

[2018-09-19 18:47] arno-joule opened #533 "Request Header asking wrong media type: returns 406"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91b072862", GitTreeState:"clean", BuildDate:"2018-09-10T11:44:36Z", GoVersion:"go1.11", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.11", GitCommit:"1df6a8381669a6c753f79cb

[2018-09-19 19:57] adubkov opened #534 "Long run of "kubectl run" does not refresh IAM token"
**BUG REPORT**

**Kubernetes version** : v1.11.1

**Environment**:
- **Cloud provider or hardware configuration**: Kubernetes cluster on EKS, kubectl on Mac

**What happened**:

When I'm running container with `--stdin=true` on EKS cluster for 20-30min, container app complete  successful, but `kubectl` return an error:
[code]

It seems that `kubectl run` does internally call `get pods` and it does

[2018-09-20 10:49] rctl commented on #525
This looks like a nice feature to prevent accidental deletion of namespaces that have objects, I like this. I would like to take a look at implementing this.

[2018-09-20 11:11] arno-joule commented on #533
After talking with a colleague we discussed downgrading kubectl to 1.10.5 (the same version running in rancher) and the issue is mentioned above followed the steps for https://www.benpickles.com/articles/72-downgrading-kubectl-with-homebrew.

I'm suspecting this is due to breaking change between kubernetes 1.8 and kubectl 1.11.* this would need to be confirmed to see if this affects others k8s 1.8

[2018-09-20 14:06] juanvallejo commented on #525
We expect the `kubectl delete` command to behave generically with any resource.
It would not make sense to special-case it to behave differently with a specific resource.

A solution that has been discussed in the past would consist of leveraging annotations on resources as a means of marking them "not safe to delete", similar to the work in https://github.com/kubernetes/kubernetes/pull/17740#issu

[2018-09-23 08:17] J-Siu opened #535 "Selector does not work for service."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2018-09-24 15:22] Tibingeo opened #536 "kubectl command sleeps after 5 minutes"
---

**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
I am running bash script into a pod which  have a sleep command which will sleep for 10 minutes, after that 10 minutes kubectl command should be exited but it is not happening.

I tried logging into pod and checked that bash script is complete already.

**What you expected to happen**:
In ideal scenario

[2018-09-25 01:11] raravena80 opened #537 "Command default config rules for kubectl (perhaps in ~/.kube/config)"
---

/kind feature
/sig cli

**Kubernetes version** (use `kubectl version`):
All

**Environment**:
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: kubectl
- **Others**:

**What happened**:

We would like to have rules for kubectl that allow you to specify default configs for certain commands

For

[2018-09-25 01:42] cory-klein commented on #537
The `kubectl get pods` example is particularly egregious for me, the default for `--show-all` is opposite my expectation about 98% of the time, and it's particularly challenging that there is no shorter way to invert that parameter as the shorthand `-a` causes no change from the default behavior.

[2018-09-25 12:02] vithati commented on #47
I wanted to learn more about kubernetes and thus started investigating this issue out of interest.

@mengqiy , I found that the issue is not in Cobra but in kubectl code. Cobra is parsing arguments properly but kubectl is not allowing ":" in environment name. Allowed characters in environment are [-._a-zA-Z][-._a-zA-Z0-9]* as per this [code](https://github.com/kubernetes/kubernetes/blob/master/sta

[2018-09-25 13:24] mxey opened #538 "port-forward should support named ports"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): v1.11.3

**Environment**:
- **Cloud provider or hardware configuration**: Libvirt
- **OS** (e.g. from /etc/os-release): Client on macOS 10.14.0, server CentOS 7
- **Kernel** (e.g. `uname -a`): 3.10.0-862.9.1.el7.x86_64
- **Install tools**: kubeadm
- **Others**:

**What happe

[2018-09-25 18:34] ahmetb opened #539 "[Plugin] [1.12] plugin binaries are overshadowed by themselves if they appear in PATH twice"
**Kubernetes version** (use `kubectl version`): 1.12.0-beta.2

**What happened**:

I have added a directory that contains my plugins to my $PATH twice, like:

[code]

then I ran `kubectl plugin list` only to find out the plugins are overshadowed by themselves, e.g.

[code]
(not the paths are exact)

Also `kubectl open-svc` doesn't work because of this now.

**What you expected to happen**:

Dedupl

[2018-09-25 18:46] ahmetb opened #540 "[1.12] plugin commands with dashes cannot be invoked with their original names"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT
**Kubernetes version** (use `kubectl version`): 1.12.0-beta.2

**What happened**:

There are already plugins named with dashes (`-`) in the plugin name, such as:
- `open-svc`
- `ca-cert`
- `rm-standalone-pods`

in the [krew package manager](https://github.com/GoogleContainerTools/krew-index/tree/4bcf63c95a3f42a37fbaca1d735f2efb9

[2018-09-25 18:58] seans3 commented on #9
Pod Preset will be implemented in service catalog--not kubectl. This issue is obsolete. Closing.

[2018-09-25 18:58] #9 closed

[2018-09-25 19:01] seans3 commented on #75
An on-call rotation has been implemented for SIG CLI. The document which describes this on-call is here: https://docs.google.com/document/d/1Z3teqtOLvjAtE-eo0G9tjyZbgNc6bMhYGZmOx76v6oM/edit#heading=h.bo8ocy72prya. Marking closed.

[2018-09-25 19:01] #75 closed

[2018-09-25 19:10] seans3 commented on #84
* The SIG CLI charter describing specific roles within the SIG has been accepted and merged: https://github.com/kubernetes/community/blob/master/sig-cli/charter.md
* The SIG CLI charter describes the process for technical decision making: https://github.com/kubernetes/community/blob/master/sig-cli/charter.md
* The SIG CLI charter describes the process for creating new sub-projects:  https://github

[2018-09-25 19:10] #84 closed

[2018-09-25 19:18] seans3 commented on #97
Apply is moving to the server side. We will not be doing anymore work on apply within kubectl on the client side. This is obsolete. Marking closed.

[2018-09-25 19:18] #97 closed

[2018-09-25 19:28] seans3 commented on #86
@pwittrock Where are we on this issue now?

[2018-09-25 19:59] seans3 commented on #11
/area kubectl

[2018-09-25 20:05] apelisse commented on #47
@vithati Please, feel free to open a PR for this! Thanks (and please assign me).

[2018-09-25 20:07] seans3 commented on #278
Moved to kustomize repo: https://github.com/kubernetes-sigs/kustomize/issues/372. Closing issue.

[2018-09-25 20:07] #278 closed

[2018-09-25 20:08] seans3 commented on #134
Apply logic is moving to the server side. This issue is obsolete. Closing.

[2018-09-25 20:08] #134 closed

[2018-09-25 20:10] seans3 commented on #3
/sig cli
/area kubectl
/priority P3
/assign @juanvallejo

[2018-09-25 20:13] seans3 commented on #12
/sig cli
/area kubectl

[2018-09-25 20:14] seans3 commented on #12
@pwittrock This work has been completed--right?

[2018-09-25 20:16] seans3 commented on #31
/sig cli
/area kubectl
/priority P2

[2018-09-25 20:20] seans3 commented on #32
/sig cli
/area kubectl
/priority P3

[2018-09-25 20:27] seans3 commented on #58
@apelisse Have we accomplished this? Can I close this?

[2018-09-25 20:28] seans3 commented on #58
/sig cli
/area kubectl

[2018-09-25 20:28] apelisse commented on #58
I'd keep it open for now.

[2018-09-25 20:32] seans3 commented on #58
Moved this issue to the kube-openapi repo: https://github.com/kubernetes/kube-openapi/issues/103.

Closing here.

[2018-09-25 20:32] #58 closed

[2018-09-25 20:38] seans3 commented on #74
/remove-label priority/important-soon

[2018-09-25 20:39] seans3 commented on #74
/remove-label important-soon

[2018-09-25 20:39] seans3 commented on #74
/remove-priority important-soon

[2018-09-25 20:39] seans3 commented on #74
/priority P2

[2018-09-25 20:40] seans3 commented on #76
/remove-priority important-soon
/priority P2

[2018-09-25 20:49] seans3 commented on #59
/sig cli
/area kubectl

[2018-09-25 20:51] seans3 commented on #59
This functionality is not on the kubectl roadmap. Please reference "kubectl rollout status ..." or "kubectl get --watch ..."

Closing this.

[2018-09-25 20:51] #59 closed

[2018-09-25 20:52] seans3 commented on #80
/assign
/sig cli
/area kubectl

[2018-09-25 20:52] seans3 commented on #80
/kind cleanup

[2018-09-25 20:52] seans3 commented on #80
/priority P0

[2018-09-25 20:52] apelisse commented on #59
Not completely true, that sounds very similar to what @monopole is doing.

[2018-09-25 20:59] seans3 commented on #76
/remove-lifecycle stale

[2018-09-25 21:00] seans3 commented on #83
/assign

[2018-09-25 21:00] seans3 commented on #83
/sig cli
/area kubectl
/priority P0

[2018-09-25 21:01] seans3 commented on #83
/kind cleanup

[2018-09-25 21:02] seans3 commented on #100
/remove-lifecycle rotten

[2018-09-25 21:02] seans3 commented on #100
/area kubectl

[2018-09-25 21:03] seans3 commented on #100
/remove-priority important-longterm

[2018-09-25 21:03] seans3 commented on #100
/priority P2

[2018-09-25 21:04] seans3 commented on #99
/remove-priority important-longterm
/priority P2

[2018-09-25 21:05] seans3 commented on #99
/area kubectl

[2018-09-25 21:08] seans3 commented on #114
/sig cli
/area kubectl
/kind cleanup

[2018-09-25 21:08] seans3 commented on #114
/assign

[2018-09-25 21:09] seans3 commented on #114
Another related issue: #80

[2018-09-25 21:10] seans3 commented on #114
/priority P0

[2018-09-25 21:11] seans3 commented on #115
/sig cli
/area kubectl

[2018-09-25 21:12] seans3 commented on #117
/remove-lifecycle stale
/sig cli
/area kubectl

[2018-09-25 21:17] seans3 commented on #123
/kind feature
/area kubectl
/priority P2

[2018-09-25 21:18] seans3 commented on #124
/sig cli
/kind feature
/priority P2

[2018-09-25 21:28] seans3 commented on #147
/sig cli
/area kubectl
/remove-kind feature
/kind cleanup

[2018-09-25 21:28] seans3 commented on #147
/priority P3

[2018-09-25 21:34] seans3 commented on #150
/sig cli
/area kubectl
/kind cleanup
/remove-kind feature
/priority P2

[2018-09-25 21:36] seans3 commented on #170
/sig cli
/area kubectl
/priority P2

[2018-09-25 21:39] seans3 commented on #172
/sig cli
/area kubectl

[2018-09-25 21:40] seans3 commented on #172
This appears to have been fixed with: https://github.com/kubernetes/kubernetes/commit/08b92fff03b2a71746729708055b04dbae7a51a1

Closing. Please re-open if I am wrong about the fix.

[2018-09-25 21:40] #172 closed

[2018-09-25 21:41] juanvallejo commented on #3
We will be updating --watch in `kubectl get` in the next release to support metav1beta1 Tables (server-side printing). Will fix this then

[2018-09-25 21:44] seans3 commented on #185
/sig cli
/area kubectl

[2018-09-25 21:44] seans3 commented on #185
/priority P2

[2018-09-25 21:50] seans3 commented on #216
/priority P2

[2018-09-25 21:53] seans3 commented on #227
/remove-lifecycle stale
/lifecycle frozen

[2018-09-25 21:53] seans3 commented on #227
/priority P3

[2018-09-25 21:55] seans3 commented on #250
/sig cli
/area kubectl
/priority P3

[2018-09-25 22:00] seans3 commented on #302
Because of the new plugin mechanism, I believe this issue is obsolete. I'm assigning to @juanvallejo for a determination. If it's obsolete, please close this--thanks.

[2018-09-25 22:00] seans3 commented on #302
/sig cli
/area kubectl

[2018-09-25 22:00] seans3 commented on #302
/remove-lifecycle stale

[2018-09-25 22:02] seans3 commented on #305
/kind bug
/sig cli
/area kubectl
/priority P2

[2018-09-25 22:04] seans3 commented on #335
/sig cli
/area kubectl
/priority P3

[2018-09-25 22:06] seans3 commented on #337
/sig cli
/kind kubectl
/assign @juanvallejo

[2018-09-25 22:06] seans3 commented on #337
/area kubectl

[2018-09-25 22:06] seans3 commented on #337
/priority P2

[2018-09-25 22:07] seans3 commented on #337
Is this still relevant with the new plugin mechanism? Please close if this is obsolete.

[2018-09-25 22:09] seans3 commented on #345
/sig cli
/area kubectl

[2018-09-25 22:09] seans3 commented on #345
@carolynvs @juanvallejo If this issue is obsolete or has been addressed with the new plugin mechanism, let's close this.

[2018-09-25 22:10] seans3 commented on #345
/assign @juanvallejo

[2018-09-25 22:11] carolynvs commented on #345
@seans3 Thanks for the reminder on this one. Yes now that kubectl is moving to the git plugin model, this is no longer an issue and is safe to close.

/close

[2018-09-25 22:11] #345 closed

[2018-09-25 22:13] seans3 commented on #363
/sig cli
/area kubectl

[2018-09-25 22:14] seans3 commented on #386
/area kubectl
/priority P2

[2018-09-25 22:16] juanvallejo commented on #337
This should no longer be an issue with the updated plugin mechanism. Environment variables are now passed as-is, and user-defined command flags and parameters are now passed straight through to a plugin executable.

/close

[2018-09-25 22:16] #337 closed

[2018-09-25 22:17] seans3 commented on #396
/area kubectl
@ahmetb Can we close this?

[2018-09-25 22:17] seans3 commented on #396
/remove-lifecycle rotten

[2018-09-25 22:19] seans3 commented on #397
/area kubectl
/priority P3

[2018-09-25 22:21] juanvallejo commented on #302
Yep, under the new plugin design, plugin executables can exist anywhere in a user's PATH.
You are also able to symlink an executable that exists somewhere outside of your PATH to a location within your PATH: `sudo ln -s ~/.plugins/kubectl-foo /usr/local/bin/kubectl-foo`

/close

[2018-09-25 22:21] #302 closed

[2018-09-25 22:21] seans3 commented on #398
/area kubectl
/priority P1

[2018-09-25 22:34] seans3 commented on #407
/sig cli
/area kubectl
/kind bug
/priority P2

[2018-09-25 22:36] seans3 commented on #415
/sig cli
/area kubectl
/kind bug
/priority P2

[2018-09-25 22:39] seans3 commented on #426
/area kubectl

[2018-09-25 22:43] seans3 commented on #426
All of the error examples seem to be when the client and server diverge more than +/- 1 version, which is not supported. Therefore, I am going to close this issue. Please open another issue if there are errors related to client/server versions within +/- 1 version.

[2018-09-25 22:43] #426 closed

[2018-09-25 22:46] seans3 commented on #427
/sig cli
/area kubectl
/kind bug
/priority P3

[2018-09-25 22:48] seans3 commented on #444
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 22:50] seans3 commented on #449
/remove-lifecycle rotten
/area kubectl

[2018-09-25 22:50] seans3 commented on #449
/priority P2

[2018-09-25 22:53] seans3 commented on #450
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 22:54] seans3 commented on #454
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 22:55] ahmetb commented on #396
@seans3 I'm not sure. I think the lack of user commands still cause symmetry and people need to find hacks like the one mentioned in https://github.com/kubernetes/kubectl/issues/396#issuecomment-389919197 (it probably got so many upvotes from people coming here via Google search results).

[2018-09-25 22:55] seans3 commented on #461
/remove-lifecycle rotten
/area kubectl
/priority P3

[2018-09-25 22:58] seans3 commented on #475
Based on the error message this appears to be a transient networking problem. Based on the lack of activity, I'm closing this issue. If it is reproducible, please reopen.

[2018-09-25 22:58] #475 closed

[2018-09-25 23:00] seans3 commented on #476
/sig cli
/area kubectl
/kind bug
/priority P3

[2018-09-25 23:01] seans3 commented on #483
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 23:05] seans3 commented on #487
/remove-lifecycle rotten
/area kubectl

It appears the client/server versions differ by more than +/- version. This type of version mismatch is not supported. So it would be possible to run into this error. Please try to reproduce this issue when the client and server have the same version. I'm closing this now. Please re-open if the issue persists with the same version.

[2018-09-25 23:05] #487 closed

[2018-09-25 23:10] seans3 commented on #490
/assign
/sig cli
/priority P0

[2018-09-25 23:26] seans3 commented on #491
/priority P0

[2018-09-25 23:27] seans3 commented on #491
/assign @mengqiy

[2018-09-25 23:29] seans3 commented on #493
/kind bug
/sig cli
/area kubectl
/priority P3

[2018-09-25 23:30] seans3 commented on #493
/remove-lifecycle rotten

[2018-09-25 23:36] seans3 commented on #495
The kubectl issues repo is used for tracking problems and code progress. Please look on Stackoverflow for information on using kubectl. For your query, please have a look at "kubectl get pod -l <service label selector>".

[2018-09-25 23:36] #495 closed

[2018-09-25 23:39] seans3 commented on #496
/area kubectl
/priority P2

[2018-09-25 23:43] seans3 commented on #497
@chrissound Please include steps to reproduce the bug--thanks.

/remove-lifecycle stale
/sig cli
/area kubectl
/kind bug
/priority P2

[2018-09-25 23:45] seans3 commented on #498
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 23:47] liggitt commented on #491
I don't think this is a p0... you can recover by modifying the lastApplied annotation

[2018-09-25 23:47] seans3 commented on #500
@ahmetb Can you do a describe on that ingress to get more detail?

/kind bug
/sig cli
/area kubectl
/priority P2

[2018-09-25 23:48] seans3 commented on #501
/kind feature
/sig cli
/area kubectl
/priority P2

[2018-09-25 23:50] seans3 commented on #502
/remove-lifecycle stale
/sig cli
/area kubectl
/kind bug
/priority P2

[2018-09-25 23:52] seans3 commented on #503
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-25 23:55] ahmetb commented on #500
@seans3 describe output is already in the original issue posting.

[2018-09-25 23:56] seans3 commented on #505
/sig cli
/area kubectl
/priority P2

[2018-09-25 23:57] seans3 commented on #508
/area kubectl
/priority P3

[2018-09-25 23:59] seans3 commented on #509
/area kubectl
/kind bug
/priority P1

[2018-09-26 00:00] seans3 commented on #517
/kind bug
/area kubectl
/priority P2

[2018-09-26 00:01] seans3 commented on #517
/assign @nikhita

[2018-09-26 00:04] seans3 commented on #512
/sig cli
/area kubectl
/priority P2
/size XS

[2018-09-26 00:04] seans3 commented on #512
/kind bug

[2018-09-26 00:05] seans3 commented on #512
/size S

[2018-09-26 00:06] seans3 commented on #512
/size small

[2018-09-26 00:07] #513 closed

[2018-09-26 00:08] seans3 commented on #514
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-26 00:10] seans3 commented on #519
/sig cli
/area kubectl
/priority P2

[2018-09-26 00:11] seans3 commented on #520
/kind bug
/sig cli
/area kubectl
/priority P2

[2018-09-26 00:13] seans3 commented on #522
I'm closing this.

[2018-09-26 00:13] #522 closed

[2018-09-26 00:14] seans3 commented on #524
/kind feature
/sig cli
/area kubectl
/priority P2

[2018-09-26 00:16] seans3 commented on #527
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-26 00:17] seans3 commented on #528
/kind feature
/sig cli
/area kubectl
/priority P3

[2018-09-26 00:35] seans3 commented on #535
/kind bug
/sig cli
/area kubectl
/priority P1

[2018-09-26 00:37] seans3 commented on #538
/kind feature
/sig cli
/area kubectl
/priority P2

[2018-09-26 00:38] seans3 commented on #539
/kind bug
/sig cli
/area kubectl
/priority P2
/assign @juanvallejo

[2018-09-26 00:39] seans3 commented on #540
/kind bug
/sig cli
/area kubectl
/priority P2
/assign @juanvallejo

[2018-09-26 00:39] seans3 commented on #537
/area kubectl
/priority P2

[2018-09-26 00:44] adubkov commented on #534
I'm using this workaround currently, to run jobs for long time and get logs from them:
[code]

[2018-09-26 00:50] seans3 commented on #491
/remove-priority P0
/priority P1

[2018-09-26 01:39] ahmetb commented on #540
@juanvallejo That sounds like good news! It's not a great hack but it seems like it can do the trick. I'll close this once I verify.

[2018-09-26 01:39] ahmetb commented on #540
/assign

[2018-09-26 01:56] juanvallejo commented on #540
@ahmetb

Thanks. To clarify, this does not prevent underscores from being used as part of a command's name, rather it means that plugin commands with underscores can be invoked either with an underscore or a dash:

[code]

[code]

[2018-09-26 02:38] ahmetb commented on #540
@juanvallejo Yes, I see now. I think this gives us enough to refactor existing krew plugins to work. Thanks.

[2018-09-26 02:38] #540 closed

[2018-09-26 08:41] soltysh commented on #80
Closing as duplicate of https://github.com/kubernetes/kubectl/issues/83
/close

[2018-09-26 08:41] soltysh commented on #114
Closing as duplicate of https://github.com/kubernetes/kubectl/issues/83
/close

[2018-09-26 08:41] #114 closed

[2018-09-26 09:45] wknapik commented on #450
@seans3 I'd say that's a bug, not a feature request. The code doesn't do what the documentation says it would. And it doesn't error out, it returns incorrect results.

[2018-09-26 14:37] adampl commented on #520
I think it's fixed in 1.12 or it was just a glitch, as now I'm unable to reproduce it.

**Current version:**
Client Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.0-rc.1", GitCommit:"3e4aee86dfaf933f03e052859c0a1f52704d4fef", GitTreeState:"clean", BuildDate:"2018-09-18T21:08:06Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2018-09-26 17:12] seans3 commented on #521
/sig cli
/area kubectl

[2018-09-26 17:12] seans3 commented on #521
/priority P2

[2018-09-26 17:12] apelisse commented on #521
I suspect the shell is going to interpret some characters differently if you're in interactive mode.

What are you trying to do? If you want to copy the file, you could use `kubectl cp` instead. If you want to use `kubectl exec` (maybe you're generating some output), use non-interactive mode: `kubectl exec -t POD cat /bin/bash > /tmp/bash; sum /tmp/bash` (note t Styling with Markdown is supported

[2018-09-26 17:12] #521 closed

[2018-09-26 20:17] juanvallejo commented on #527
This functionality sounds like something that'd be great to implement as a plugin

[2018-09-27 00:09] schollii commented on #527
Where would I start? I know some Go and I have lots of software dev experience so that part is not a problem, it's more the logistics : how do I mark that I'm working on this so people know, where do I publish it for peer review, for downloading, etc. I found https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/, are there other links that I should look at?

[2018-09-27 16:50] juanvallejo commented on #527
@schollii

I am currently updating the docs for plugins, so that they are up to date with the current plugin system: https://github.com/kubernetes/website/pull/10259, see https://github.com/kubernetes/website/blob/c20a616f572ada305d346c2a560271b2915874db/content/en/docs/tasks/extend-kubectl/kubectl-plugins.md (while that PR merges) for an accurate doc on the current state of plugins.

You can also

[2018-09-27 16:51] #539 closed

[2018-09-27 19:01] juanvallejo commented on #539
Please note that this is because the plugin executable needs to include an underscore, and not due to a warning under `kubectl plugin list`, per our discussion in https://github.com/kubernetes/kubectl/issues/540#issuecomment-424553028, otherwise, `kubectl-open-svc` is split into subcommands: `kubectl open svc`

[2018-09-28 00:10] DazWilkin opened #542 "`kubectl get events --watch` appears borked with non-default output formats"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`is:issue "kubectl get events"`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2018-09-28 05:48] tcoopman commented on #454
Ran into the same issue, but we didn't have to transfer a lot of data. The easiest **hack** was to tar all the data and base64 encode is and log it to stdout. Then you can get the data out because you can still get the logs for a stopped container.

[2018-09-28 21:19] juanvallejo commented on #527
@schollii plugin documentation has now been updated. You can find a guide for writing plugins under the new mechanism at: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/#writing-kubectl-plugins

[2018-09-29 06:12] stealthybox commented on #305
I just noticed this in the 1.12 release notes.
It looks like this is intentional behavior of client-go.
`/watch` is now deprecated in favor of passing `?watch=true`.

ref: https://github.com/kubernetes/kubernetes/pull/65147

[2018-09-30 04:58] amerghazal commented on #398
I'd like to pick this up if no one has yet

[2018-09-30 20:27] m1kola commented on #542
I just built `kubectl` from master (from the commit [`6a8a859`](https://github.com/kubernetes/kubernetes/commit/6a8a8597f5bf4de29b7b88384529188df0b71337)) and it seems to work well. Also v1.12.0 works as expected.

I can, however, reproduce it with v1.11.2. So, I guess, the issue was fixed somewhere in between v1.11.2 and v1.12.0. I didn't manage to find the relevant pull request, though.

Tested

[2018-09-30 22:45] DazWilkin commented on #542
You bet! I'm taking a week's leave but will try this when I'm back on the 8th. Thanks!

[2018-10-01 18:01] seans3 commented on #490
Merged initial SECURITY_CONTACTS file. Closing this.

[2018-10-01 18:01] #490 closed

[2018-10-01 19:52] m1kola commented on #538
I think, this is a good idea. I'll try to implement this.

[2018-10-02 12:36] iahmad-khan commented on #30
kubectl version
2018-10-02 13:36:02.034449 I | proto: duplicate proto type registered: google.protobuf.Any
2018-10-02 13:36:02.034557 I | proto: duplicate proto type registered: google.protobuf.Duration
2018-10-02 13:36:02.034574 I | proto: duplicate proto type registered: google.protobuf.Timestamp
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d

[2018-10-02 12:58] roffe commented on #30
@iahmad-khan update your kubectl, i don't think the fixes will ever be backported to old branches

[2018-10-02 12:59] roffe commented on #30
https://github.com/kubernetes/kubernetes/pull/53950

[2018-10-02 13:47] iahmad-khan commented on #30
Yeah, that was the latest from Fedora package.

Reinstalled using curl. Fixed.
Thanks

[2018-10-05 13:27] pierluigilenoci opened #1428 "kubectl should accept --to-revision option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

I want to patch an annotation of an older revision of a deployment

**What you expected to happen**:

I want to use this command to patch it

kubectl patch deployment mydeployment --patch '{"metadata": {"annotations": {"kubernetes.io/change-cause": "custom message"}}}' --namespace mynamespace --record=false
--to-rev

[2018-10-05 21:12] m1kola commented on #538
I have an update for this. I think, implemented this feature in the following PRs:

* https://github.com/kubernetes/kubernetes/pull/69403- Makes one of the util functions in `k8s.io/kubernetes/pkg/kubectl/util` to be exportable (+ adds some extra tests for the `port-forward` command)
* https://github.com/kubernetes/kubernetes/pull/69477 - Implements the feature in the `port-forward` command

[2018-10-05 21:34] seans3 commented on #538
/assign @m1kola

[2018-10-05 22:13] seans3 commented on #3
/kind bug

[2018-10-06 09:38] m1kola commented on #535
I can reproduce it. It's wired. When I add a new label to the service, I can select the service using this label:

[code]

but `run=ghost` still doesn't return any results

[code]

I'll look, if I can find the cause and if it.

[2018-10-06 11:30] J-Siu commented on #535
@m1kola

Arrrrr. I understand what you saying after I went through it a few times. As I am new to kubernetes and confusing between labels/selectors and also the -l option. But after some search and try with --show-labels, it becomes clear:

[code]

Thank you!!

[2018-10-06 11:30] #535 closed

[2018-10-06 14:22] tech509201941 opened #543 "Can't access cluster via kubeconfig: json access token error"
I try to connect from a docker ubuntu image to my gcloud kubernetes cluster. For whatever reason kubectl get pods results in "error executing access token command":

`kubectl --kubeconfig kubernetes/access/config get pods
`
[code]

`err=fork/exec /google/google-cloud-sdk/bin/gcloud: no such file or directory output= stderr=`

I generated my kube config via:

`gcloud container clusters get-credenti

[2018-10-06 14:25] tech509201941 opened #544 "Can't access successfully created context"
I want to create a kubectl context within my docker container.
This fails, although kubectl responds that "Context "kubernetes-admin" created.":

[code]

How can this be the case?
Thanks a lot :)

[2018-10-07 22:03] m1kola commented on #476
It looks like kubectl currently only supports the `LANG ` env var, it makes perfect sense to me to allow to set `LC_MESSAGES` to override just messages [1]. However, I'm not sure if we want to support `LC_ALL` and `LANGUAGE` env vars as well to more closely follow [this priority order](https://www.gnu.org/software/gettext/manual/html_node/Locale-Environment-Variables.html).

I've decided to implem

[2018-10-08 14:46] dczombera commented on #100
Are there more information which are helpful for this task? I'd like to work on this issue but it seems that as someone who is new to the project I'm lacking the required knowledge to extend the documentation of the code.

[2018-10-09 05:04] splnanthakumar commented on #7
"**kubectl delete ingress ingress-name -n namespace"** .   this should be working fine

[2018-10-09 17:49] seans3 commented on #7
/sig cli
/area kubectl
/kind bug

[2018-10-10 23:46] #538 closed

[2018-10-12 18:20] #476 closed

[2018-10-15 07:40] hebbarsushma opened #545 "kubectl get pod -n default -l " " output behaviour"
FEATURE REQUEST
*Kubernetes version** (use `kubectl version`):all

**What happened**:

Above command lists all the pod present in default namespace

**What you expected to happen**:
Since -l " " does not match with any of the pod  label  command  should produce  output as

Can anyone explain this behaviour.

[2018-10-15 16:06] juanvallejo commented on #545
An empty `-l` or `--selector` value is meant to be a no-op. https://github.com/kubernetes/cli-runtime/blob/7915b4409361b23932e7af013a2ec31d5753e001/pkg/genericclioptions/resource/builder.go#L398

This is not a bug.

/close

[2018-10-15 16:06] #545 closed

[2018-10-15 23:30] seans3 commented on #80
/reopen

I think this should be re-opened, since https://github.com/kubernetes/kubectl/issues/83 only captures a subset of the items necessary for `kubectl` independence. This issue is more general and it should be used as an umbrella issue for `kubectl` independence items which are not related to internal versions of resources.

[2018-10-16 01:52] vishal49naik49 commented on #518
@JaroVojtek - I am getting told error while running kubectl port-forward command.
I have generated my own certs. Can you please advise how you fixed your issue?

[2018-10-16 10:57] soltysh commented on #80
@seans3 I still think we should have only, small or big I don't care. It's easier to have a single source of this. Having multiple will only lead to confusion. If need to just copy the items to the other issue.

[2018-10-16 19:23] seans3 commented on #83
Closing this in favor of the more general:
https://github.com/kubernetes/kubectl/issues/80

[2018-10-16 19:23] #83 closed

[2018-10-16 19:28] seans3 commented on #80
/remove-priority P0

[2018-10-19 11:57] #530 closed

[2018-10-20 05:32] mingfang opened #546 "kubectl explain crd --recursive goes into an infinite loop"
The reason is because the visitor at path spec.validation.openAPIV3Schema.allOf will reference an object type that references itself, causing the visitor to go into an infinite loop.

The visitor needs some of kind of loop detection.

[2018-10-20 15:26] mingfang opened #547 "Move the CRDFinder to the cli-runtime repo"
The CRDFinder and perhaps others in the util package are generic and very useful to be part of the cli-runtime https://github.com/kubernetes/cli-runtime repo

[2018-10-20 16:07] mingfang commented on #547
It turns out this is not very useful. I'm just going use bits of the code as reference

[2018-10-20 16:07] #547 closed

[2018-10-20 20:54] faghani commented on #503
same issue!

[2018-10-23 03:22] Ark-kun opened #548 "kubectl get --all-namespaces does not see namespaced pod in some cases"
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Debian

**What happened**:
After we moved pods to a non-default namespaces, some kubectl invocations can no longer find the pods.

$ kubectl get pod --all-namespaces | grep pod-7957d899d9-yyyy
kubeflow      pod-7957d899d9-7gz

[2018-10-23 10:35] vishal49naik49 commented on #518
Thank you @JaroVojtek!!
I was able to fix this issue actually. The Kubelet client certificate supplied to the Kube-api service had Auth type as ‘server’. I changed it to ‘client’ and it worked like charm.

[2018-10-23 20:48] code-sleuth commented on #500
From the specifications laid out [here](https://github.com/kubernetes/kubernetes/pull/26684#issuecomment-223397591), this is working as expected since it has a TLS section in the Ingress yaml.
This should be closed as `not a bug`
cc: @juanvallejo @soltysh @seans3

[2018-10-24 20:39] mml opened #549 "'kubectl get cs' is misleading when the apiserver is unreachable"
[code]

The main problem is that the server is unreachable, which we should surface in both cases.

[2018-10-25 16:15] bgrant0607 commented on #47
Please see https://github.com/kubernetes/kubernetes/issues/53201

[2018-10-26 10:34] vithati commented on #519
Using " instead of ' around --overrides input working for me in Windows. example:- kubectl run test --image=myimage --overrides="{\"apiVersion\":\"apps/v1beta1\",\"spec\":{\"template\":{\"spec\":{\"imagePullSecrets\":[{\"name\":\"myregkey\"}]}}}}" --dry-run -o yaml

[2018-10-29 19:02] vithati commented on #546
Can i work on this bug?

[2018-10-30 00:05] seans3 opened #550 "kubectl expose crashes when there are no selectors (apps group only)"
**Kubernetes version** (use `kubectl version`):

[code]
This bug can be reproduced back to `kubectl version 1.9.7`

**Environment**:
Google Kubernetes Engine: GKE -- not used. `kubectl` never gets to the point of talking to the server.

**How to Reproduce**

`kubectl expose -f test/fixtures/pkg/kubectl/cmd/convert/appsdeployment.yaml --port 80`

The bug occurs for workloads in the **apps** group (

[2018-10-30 00:06] seans3 commented on #550
/sig cli
/area kubectl
/kind bug
/assign

[2018-10-30 00:07] seans3 commented on #550
/priority P1

[2018-10-30 19:44] raravena80 opened #551 "rsync behavior to copy files from pod to pod, perhaps for `kubectl cp`"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

/sig cli
/area kubectl
/kind feature

Right now looks like `kubectl cp` only allows copying local/remote and remote/local. This works for most cases by what if somebody wants to sync files from pod to pod

It would be nice to have something like this:

`kubectl cp <namespace1>/<pod1>:/tmp/foo.txt <namespace2>/<pod1>:/tmp/foo.txt`

This wo

[2018-10-30 20:50] mackoftrack commented on #450
+1

I'm seeing this bug.

[code]

[2018-10-30 21:09] seans3 commented on #450
/kind bug
/priority-remove P3
/priority P1

[2018-10-30 21:10] seans3 commented on #450
/remove-priority P3

[2018-10-30 21:10] seans3 commented on #450
/remove-kind feature

[2018-10-31 00:41] #546 closed

[2018-10-31 21:48] #550 closed

[2018-10-31 22:40] mml commented on #549
Yes, I think taht's right.  I tried this on a newer cluster the other day
and it worked fine.

/close

On Wed, Oct 31, 2018 at 3:26 PM Varun Kashyap <notifications@github.com>
wrote:

[2018-10-31 22:41] #549 closed

[2018-11-01 14:35] troyswanson opened #552 "kubectl version: needs better error message when server not available"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version**:

v1.12.2

**Environment**:
- **Cloud provider or hardware configuration**: MacBook Pro 2017
- **OS**: MacOS High Sierra
- **Kernel**: Darwin Kernel Version 17.7.0
- **Install tools**: Homebrew
- **Others**: N/A

**What happened**:

When issuing the `kubectl version` command, in addition to the version i

[2018-11-01 16:15] troyswanson commented on #552
I installed kubectl without having a Kubernetes server for it to talk to, so it's possible that the error was because of that. I've resolved the error by:

1. Install Docker for Mac
2. Enable the Kubernetes feature
3. Switch the kubectl context to Docker (`kubectl config use-context docker-for-desktop`)

After doing that, running `kubectl version` returns a correct response.

[code]

I still think

[2018-11-02 02:31] #94 closed

[2018-11-02 10:59] joberget opened #553 "Deb-package for Bionic Beaver 18.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
**FEATURE REQUEST**

**

[2018-11-02 12:48] lenalebt commented on #170
Hi @vithati - will do on monday or tuesday and report back :)

[2018-11-02 18:32] wknapik opened #554 "Support for waiting on multiple deployments to complete and also support for timeouts"
**Is this a request for help?**
No.

**What keywords did you search in Kubernetes issues before filing this one?**
rollout status

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
N/A

**Environment**:
- **Cloud provider or hardware configuration**:
N/A
- **OS** (e.g. from /etc/os-release):
N/A
- **Kernel** (e.g. `unam

[2018-11-02 20:12] RicardoPineda commented on #493
I had this problem, solved it by setting the KUBECONFIG environmental variable like:

`$env:KUBECONFIG="C:\Users\your_user_name\.kube\config"`

On PowerShell

[2018-11-05 15:34] TheKangaroo opened #555 "kubectl --prune does not delete last managed item(s) in namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: baremetal/vmware cluster
- **OS** (e.g. from /etc/os-release): CoreOS 1855.4.0
- **Kernel** (e.g. `uname -a`): 4.14.67-coreos
- **Install tools**: vanilla kubernetes
- **Others**:

**What happened**:
kubctl apply --prune won't d

[2018-11-06 04:37] vreon commented on #552
Without a `~/.kube/config` in place, kubectl defaults to http://localhost:8080 as the address of the Kubernetes API server, and it looks like you had an Adminer installation listening on that address.

[2018-11-06 18:02] seans3 commented on #552
/sig cli
/area kubectl
/kind bug
/priority P3

[2018-11-07 17:36] pwittrock opened #556 "Create Better Documentation for Kubectl and Tooling"
Proof of concept for new kubectl documentation:

https://pwittrock-kubectl.firebaseapp.com/pages/generators.html

[2018-11-07 18:34] pwittrock commented on #556
@soltysh @seans3 @kubernetes/sig-cli-maintainers

[2018-11-07 23:18] wknapik opened #557 "`kubectl get ... --namespace non-existent` should not exit with 0"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
The relevant ones.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
B

[2018-11-07 23:36] seans3 commented on #557
/sig cli
/area kubectl
/kind bug
/priority P2

[2018-11-08 18:46] seans3 opened #558 "kubectl port-forward flaky e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**BUG REPORT**

**Test Grid Test**
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew/11783#sig-cli-kubectl-port-forwarding-k8sio-with-a-server-listening-on-localhost-should-support-forwarding-over-websockets

**Kubernetes version** (use `kubectl version`):
Client: 1.11
Server: 1.11

[2018-11-08 21:47] babilen commented on #131
https://github.com/spf13/cobra/pull/754 might be of interest in this context.

[2018-11-08 23:38] seans3 commented on #558
/assign

[2018-11-11 16:06] m1kola commented on #558
I didn't manage to run e2e tests locally (having troubles spinning up cluster of a specific version with `kubetest` because my upload speed isn't great), but I think I found the reason of flake 2. Flake 1 seems to be unrelated.

Flake 2-like fails seem to happen only on skew tests when we run latest `kubectl` against older version of the server (`skew-cluster-stable1-kubectl-latest-gke`, `skew-clu

[2018-11-12 01:36] m1kola commented on #558
I prepared a PR (#70931), but then realised that failures have nothing to do with order of these messages... I think, it's still a good idea to merge my PR.

[2018-11-14 10:39] kamushadenes commented on #503
:+1:

[2018-11-14 18:19] seans3 commented on #503
/kind bug
/remove-priority P3
/priority P2

[2018-11-14 18:20] seans3 commented on #503
/remove-kind feature

[2018-11-14 18:23] seans3 commented on #170
/remove-kind feature
/kind bug

[2018-11-15 08:23] sudeeshjohn opened #562 "kubelet --version shows info log "proto: duplicate proto type registered: pluginregistration....""
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: KVM Guest

- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):

[code]

**What happened**:
kubeadm init --kubernetes-version ci-cross/latest is failing as the kubelet --version is unable to pa

[2018-11-15 14:35] mkumatag commented on #562
/cc @vladimirvivien

[2018-11-15 14:55] dims commented on #562
@mkumatag you are suspecting https://github.com/kubernetes/kubernetes/pull/70559 to be causing the issue?

[2018-11-15 14:58] AishSundar commented on #562
/cc @saad-ali @msau42

[2018-11-15 14:59] mkumatag commented on #562
not sure but that is the recent change I see with respect to pluginregistration

[2018-11-15 14:59] AishSundar commented on #562
/priority critical-urgent
/milestone v1.13
/cc @neolit123 @cjwagner

[2018-11-15 15:02] AishSundar commented on #562
/cc @jberkus @mortent @mariantalla

[2018-11-15 15:18] msau42 commented on #562
/assign @RenaudWasTaken @vladimirvivien
To investigate

[2018-11-15 15:23] neolit123 commented on #562
/sig node

[2018-11-15 15:57] Diaphteiros commented on #151
This also has the disadvantages of not only being unintuitive, but also slow as hell ...

[2018-11-15 16:03] vladimirvivien commented on #562
Putting a fix together.  PR coming soon.

[2018-11-15 19:32] 2rs2ts commented on #151
that also doesn't work:

[code]

[2018-11-15 21:41] m1kola commented on #558
Fix for flake 1 - https://github.com/kubernetes/kubernetes/pull/71048

[2018-11-16 14:35] AishSundar commented on #562
The fix for this just merged. Please let us know if this repros. @neolit123 as FYI.

[2018-11-16 16:57] AishSundar commented on #562
This seems fixed in the kubeadm jobs post the merge https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-master

[2018-11-17 19:35] vladimirvivien commented on #562
This should be closed.

[2018-11-18 07:30] dims commented on #562
/close

[2018-11-18 07:30] #562 closed

[2018-11-21 06:59] nightfury1204 opened #564 "kubectl edit or apply can not update .status when status sub resource is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"0ed33881dc4355495f623c6f22e7dd0b7632b7c0", GitTreeState:"clean", BuildDate:"2018-09-27T17:05:32Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"

[2018-11-21 07:51] tamalsaha commented on #564
/kind bug
/sig cli

[2018-11-21 08:55] vithati commented on #450
/assign vithati

[2018-11-21 17:22] stephaneeybert commented on #396
Thanks to the absence of a command to delete a user credentials, I had to:
- search the web using DontBeEvilEvenIfIMayBeGoogle
- read this thread to the bottom
- try a few commands until I got the syntax right
- make a note in a help file on how to delete a user credentials so that I won't have to search for it again
- write this comment

[2018-11-22 15:18] ivakinpavel commented on #503
So is there any workaround to set image for init container?
I trying to run migrations with "fresh" image on init container.
Thanks for any help!

[2018-11-23 12:45] dijitali commented on #407
Can also reproduce on the below environment.  Similar to the working situation above with the tilde, autocompletion of`kubectl apply -f ./f` does not cause this issue.

**Kubernetes version:**
[code]
**Environment:**
**OS:** macOS Mojave 10.14.1
**Kernel:** Darwin Kernel Version 18.2.0: Fri Oct  5 19:41:49 PDT 2018; root:xnu-4903.221.2~2/RELEASE_X86_64
**Install tools:** zsh 5.6.2

[2018-11-25 12:56] peterlauri commented on #125
I can confirm I have the same problem:

[code]

Same error when sourcing 'kubectl completion zsh':

[code]

[2018-11-26 12:17] AVKudryashov opened #565 "kubectl x509"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.12.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.12.2
 **Cloud provider or hardware configuration**: Local
- **OS** (e.g. from /etc/os-release): CentOS-7 (7.5.1804 (Core))
- **Kernel** (e.g. `uname -a`): 3.10.0-862.el7.x86_64
- **Others**:

## What happened

[2018-11-27 04:47] #565 closed

[2018-11-27 23:35] Freyert commented on #544
@tech509201941 I've figured it out :P

Remove the `=` from `--kubeconfig=`

[2018-11-28 13:19] Menda commented on #30
Running it on MacOS and version 1.9 I still get this error:

[code]

[2018-11-30 00:13] staranto commented on #151
A nifty trickery and all that I'd certainly go for, but api-resources doesn't exist in kubectl < 1.11.  I'm not sure why there's a debate about the definition of all.  All is all, save for any boundaries around security.

[2018-11-30 18:09] ahmetb opened #566 "Unclear what "kubectl config view --merge" does"
I'm on kubectl v1.12 and can't tell what the `--merge` flag in `kubectl config view` does. Here's the help:

    --merge=true: Merge the full hierarchy of kubeconfig files

I have two contexts with non-overlapping cluster/user entries, so I export them to separate files, and can merge them without `--merge`. Moreover, using `--merge` provides the same output.

## Repro steps

[code]

The diff abov

[2018-11-30 18:45] seans3 commented on #566
/sig cli
/area kubectl

[2018-11-30 21:33] m1kola commented on #558
I have an update about flake 2. I was right when I thought I was wrong 🙂The reason tests are failing is because of ordering of output (explained in https://github.com/kubernetes/kubectl/issues/558#issuecomment-437682453).

I thought that my assumption is wrong, because we match port using [this regex](https://github.com/kubernetes/kubernetes/blob/v1.12.3/test/e2e/kubectl/portforward.go#L51-L53) wh

[2018-12-03 15:33] ahmadnurus commented on #552
I'm interested to working on this.

When server is not available, it's should print an error or only print the client version?

[2018-12-03 17:05] troyswanson commented on #552
In my case, there _was_ a server listening on that port, but it wasn't a Kubernetes server, so it was returning something that `kubectl` was not expecting and threw an error.

[2018-12-03 18:04] ahmadnurus commented on #552
Yeah, i think like that. The error output is from this code https://github.com/kubernetes/client-go/blob/4bfa0bdae85583da4f6abdf418f3641946480c8e/discovery/discovery_client.go#L371-L383

It's error when unmarshall response body into info interface

[2018-12-03 19:19] seans3 commented on #186
/remove-lifecycle stale

[2018-12-04 21:16] willbeason opened #567 "kubectl --dry-run does not catch invalid CRD metadata.name"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): dry-run, metadata.name, CRD

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2018-12-04 21:50] lavalamp commented on #567
I believe the server side version of dry run doesn't have this problem. But you will need to run a 1.12 server with the alpha feature enabled or a 1.13 server (where it is beta) to test it.

fyi @apelisse

[2018-12-05 00:03] seans3 commented on #567
/sig cli
/area kubectl
/kind bug

[2018-12-06 10:54] hashtoes commented on #519
FWIW replacing `'` with `"` technique didn't work for me.
[code]

[2018-12-06 19:42] tomfotherby opened #568 "kubectl describe hpa not working with v1.13.0"
**Is this a request for help?** no.

**What keywords did you search in Kubernetes issues before filing this one?** "hpa"

---

**Is this a BUG REPORT or FEATURE REQUEST?** : Bug report

**Kubernetes version**

[code]

I installed using instructions from https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl - i.e. in my Ubuntu Desktop:
[code]

**Environment**:
- **Cloud provider o

[2018-12-07 02:19] seans3 commented on #568
/sig cli
/area kubectl
/kind bug
/priority P1

[2018-12-07 08:44] yue9944882 commented on #568
[https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew)

server 1.13's describe cmd is actually relying on v2beta2 hpa api which doesn't exist on 1.10 server

[2018-12-07 08:47] yue9944882 commented on #568
/assign

[2018-12-07 09:11] tomfotherby commented on #568
@yue9944882 - Thank you for explaining the situation.

For now I downgraded my kubectl back one version and all is fine. i.e. kubectl v1.12.3 works with kubernetes v1.10.11 with regards to `hpa describe`.

---
<details>
<summary>On Ubuntu, this is how I downgraded (not useful for most folks)</summary>

[code]
</details>

[2018-12-07 09:16] yue9944882 commented on #568
yes, downgrading kubectl to 1.12 would be a solution for this case. while 1.13 kubectl doesn't have compatibility to 1.11 as it documented^^^. so we could call it low-severity bug @seans3 wdyt?

[2018-12-07 12:46] roldevg commented on #493
Hi, guys!

For me it works:
`%USERPROFILE%\.kube\prod.kubeconfig;%USERPROFILE%\.kube\dev.kubeconfig`

Environment:
[code]

[2018-12-07 18:01] seans3 commented on #568
/remove-priority P1
/priority P3

[2018-12-11 15:08] DovAmir commented on #450
+1

[2018-12-11 15:09] DovAmir commented on #450
happens also on

[2018-12-11 16:10] DovAmir commented on #450
btw, this is not a selector error,
for some reason, a pod in a terminating state has

in its yaml

By looking at the yaml, the only way to identify that a pod is terminating,
 is by the addition of the following 2 fields in metadata.
It is not possible to use selectors on these 2 fields

my workaround hack to getting running pods that are NOT terminating is with the following command :

kubectl ge

[2018-12-14 15:40] tomfotherby commented on #568
I'll close this. It's too minor to worry about and since AWS EKS has a [1-click upgrade](https://aws.amazon.com/blogs/compute/making-cluster-updates-easy-with-amazon-eks/) from `1.10` to `1.11.5` the issue doesn't affect me anymore.

[2018-12-15 00:13] woodwardmatt commented on #519
I'm sharing this having gone through the same battle yesterday with the kubectl run command. If you're running this on Windows using Powershell you'll need to create a variable and assign the JSON (using the ConvertTo-Json routine) first. Then use that variable in your kubectl commands.

From the OP's code:

`kubectl run pfa --image=myimage --overrides='{"apiVersion":"apps/v1beta1","spec":{"templa

[2018-12-15 16:18] ahmadnurus commented on #398
hi, @amerghazal do you still working on this? if not, can i take this?

[2018-12-16 18:44] ahmadnurus commented on #398
cc @seans3 @soltysh can i work on this?

[2018-12-17 05:32] omeid opened #569 "Feature Request: Support $HOME/.kube/config.d/*"
Greetings!

kubectl already allows defining multiple clusters and users in `$HOME/.kube/config` however editing this file by hand or even by tools is a bit cumbersome.

If `kubectl` supported loading multiple config files from `$HOME/.kube/config.d/` it would make dealing with different cluster configurations much easier.

For example,

1. kubespray already generates a config file, but it is still

[2018-12-17 14:18] Vlaaaaaaad commented on #568
I am having this issue with kubectl 1.13.1 with EKS version 1.11.5. A colleague with kubectl 1.11.3 can successfully describe HPAs, I cannot.

[2018-12-17 14:34] yue9944882 commented on #568
yes, u r hitting this very issue. plz downgrade ur kubectl to 1.12 or 1.11 for a workaround

[2018-12-17 14:34] amerghazal commented on #398
@ahmadnurus i got started on this and then sidetracked. i’m ok either way. sorry for the delay!

[2018-12-17 14:58] Vlaaaaaaad commented on #568
If this is still happening why was the issue closed?

I firmly believe it should be open until the issue is fixed.

[2018-12-17 15:03] yue9944882 commented on #568
/reopen

[2018-12-17 17:16] tomfotherby commented on #568
Thanks for re-opening this issue, Yes, I confirm the issue still occurs for me too:

[code]

The workaround of downgrading `kubectl` to 1.12 is still needed.

[2018-12-18 09:25] vithati commented on #450
This looks like not a bug. ```kubectl get pods``` output ```STATUS``` column not shows status.phase. ```kubectl get pods``` displays [table format](https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers.go#L580) of ```PodList``` object and uses ```status.containerStatuses``` states to display ```STATUS```  column data.

Pod phase valid states are [pending, runni

[2018-12-18 09:34] code-sleuth commented on #557
/assign code-sleuth

[2018-12-18 10:41] vithati commented on #519
In my example I missed escaping " inside --overrides input.
```kubectl run test --image=myimage --overrides="{\"apiVersion\":\"apps/v1beta1\",\"spec\":{\"template\":{\"spec\":{\"imagePullSecrets\":[{\"name\":\"myregkey\"}]}}}}" --dry-run -o yaml```

'{"apiVersion":"apps/v1beta1","spec":{"template":{"spec":{"imagePullSecrets":[{"name":"myregkey"}]}}}}' | ConvertTo-Json does samething. It gives same

[2018-12-18 10:47] vithati commented on #170
@lenalebt , Did you get chance to verify this issue with client version 1.10 and server version 1.11 (or with latest client and server version).  Can you share repro steps, it is not working for you.

[2018-12-18 18:11] pmkc commented on #125
I don't know much about zsh completions, but since this thread (and the code) is the only reference I can find to _bash_comp on the internet I'm pretty sure it's a typo for _bash_complete (which exits 0 for me).

I can file a PR to fix it later.

I tripped over this trying to debug my antigen setup where it won't autocomplete (it does when I manually source it), but fixing this didn't seem to help

[2018-12-18 22:43] pwittrock opened #570 "kustomize follow ups"
- Make resource builder call a library that has options instead of the `builder.NewCmdBuild`
- Throw an error if the directory contains kustomization files **by checking the GVK**
- Check if the target is a kuztomization file by GVK, not filename

[2018-12-19 00:45] pmkc commented on #125
Actually _bash_complete is an internal of bashcompinit that I don't think is needed (and errors when called like that). I think the last line and alias should just be removed, because it's broken and seemingly a no-op.

[2018-12-19 07:15] vithati commented on #503
/assign vithati

[2018-12-19 17:15] liggitt commented on #568
kubectl should use autoscaling/v1 to describe HPA

[2018-12-20 15:37] jglick commented on #524
Specifically I would expect colorization on `get -o yaml` and `get -o json`. At least for the latter, you can work around this by

[code]

[2018-12-21 12:02] TheKangaroo opened #571 "kubectl create secret docker-registry omits auth key in dockerconfigjson"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): 1.13.x

**Environment**:
- **OS**: kubectl on MacOS/hyperkube container

**What happened**:

I try to create a docker pull secret like:
[code]
This creates an object like:
[code]
And the base64-decoded string looks like this:
[code]
Mind the missing auth key.

**What you expected to happen**:
When I run the same command with the kubel

[2018-12-24 21:12] nikhita commented on #31
/remove-lifecycle stale

[2018-12-24 21:12] nikhita commented on #76
/remove-lifecycle stale

[2018-12-24 21:12] nikhita commented on #99
/remove-lifecycle stale

[2018-12-25 02:34] prksu commented on #514
/remove-lifecycle stale

[2018-12-25 06:20] jcassee commented on #491
/remove-lifecycle stale

[2018-12-25 10:35] nikhita commented on #537
/remove-lifecycle stale

On Tue, Dec 25, 2018 at 6:44 AM fejta-bot <notifications@github.com> wrote:

[2018-12-25 10:35] nikhita commented on #528
/remove-lifecycle stale

On Tue, Dec 25, 2018 at 6:44 AM fejta-bot <notifications@github.com> wrote:

[2018-12-25 10:35] nikhita commented on #517
/remove-lifecycle stale

On Tue, Dec 25, 2018 at 6:44 AM fejta-bot <notifications@github.com> wrote:

[2018-12-25 10:36] nikhita commented on #509
/remove-lifecycle stale

[2018-12-25 10:37] nikhita commented on #508
/remove-lifecycle stale

On Tue, Dec 25, 2018 at 6:44 AM fejta-bot <notifications@github.com> wrote:

[2018-12-25 10:37] nikhita commented on #505
/remove-lifecycle stale

[2018-12-25 10:38] nikhita commented on #501
/remove-lifecycle stale

[2018-12-25 10:38] nikhita commented on #502
/remove-lifecycle stale

On Tue, Dec 25, 2018 at 5:43 AM fejta-bot <notifications@github.com> wrote:

[2018-12-25 10:41] nikhita commented on #496
/remove-lifecycle stale

[2018-12-25 11:08] nikhita commented on #449
/remove-lifecycle stale

[2018-12-25 11:09] nikhita commented on #427
/remove-lifecycle stale

[2018-12-25 11:09] nikhita commented on #415
/remove-lifecycle stale

[2018-12-25 11:12] nikhita commented on #386
Fixed by https://github.com/kubernetes/kubernetes/pull/70413 (thanks @Pingan2017!)

/close

[2018-12-25 11:12] #386 closed

[2018-12-25 11:13] nikhita commented on #216
/remove-lifecycle stale

[2018-12-25 11:13] nikhita commented on #185
/remove-lifecycle stale

[2018-12-25 11:13] nikhita commented on #150
/remove-lifecycle stale

[2018-12-25 11:15] nikhita commented on #142
/remove-lifecycle stale

[2018-12-26 15:01] vithati commented on #505
/assign vithati

[2018-12-26 15:35] liggitt commented on #491
closing in favor of https://github.com/kubernetes/kubernetes/issues/39188

[2018-12-26 15:35] liggitt commented on #491
/close

[2018-12-26 15:35] #491 closed

[2018-12-26 16:13] liggitt commented on #571
[code]

caused by https://github.com/kubernetes/kubernetes/pull/68441

fixed in https://github.com/kubernetes/kubernetes/pull/72344

[2018-12-26 20:08] #571 closed

[2018-12-27 10:49] TheKangaroo commented on #12
This is still not possible with kubectl v1.13.1, right?

[2018-12-28 07:01] jethrogb commented on #305
/remove-lifecycle stale

[2018-12-28 15:00] liggitt commented on #305
as of 1.11, watch requests with a fieldSelector scoped to a single metadata.name can be authorized using an individual watch permission. see https://github.com/kubernetes/kubernetes/pull/63469

/close

[2018-12-28 15:00] #305 closed

[2018-12-28 15:41] jethrogb commented on #305
Great!

[2018-12-28 17:15] tsuna commented on #454
/remove-lifecycle stale

[2018-12-29 04:38] liggitt commented on #3
tabwriter fix is in https://github.com/kubernetes/kubernetes/pull/72418

[2018-12-31 17:41] m1kola commented on #558
The following PRs were merged:

* https://github.com/kubernetes/kubernetes/pull/71048 - fixes flake 1 in the 1.13 branch
* https://github.com/kubernetes/kubernetes/pull/71621 - same as above, but for the 1.12 branch
* https://github.com/kubernetes/kubernetes/pull/71631 - fixes flake 2 in the 1.12 branch (1.13 already has a fix from the original PR).

Testgrid looks much better now. There are other

[2018-12-31 17:41] #558 closed

[2019-01-02 05:53] #3 closed

[2019-01-02 14:11] gajus commented on #551
Note that there is a community product ksync, https://github.com/vapor-ware/ksync.

[2019-01-04 19:11] peterlauri commented on #125
My workaround on my MacOS Mojave was to install kubectl via homebrew, and now all works like a charm.

[2019-01-04 21:33] bossjones commented on #524
@jglick as a work around you can use something like https://www.npmjs.com/package/cli-highlight then run:

`kubectl get -o json $type $name | highlight`

That's what I do currently :)

[2019-01-04 22:17] Liujingfang1 opened #572 "better apply --prune"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

While `kubectl apply` is widely used in different workflows, users need `kubectl apply --prune` to sync the resources on cluster with configuration saved in files, directories or repos.

Currently `kubectl apply --prune` is still in Alpha. It prunes objects by matching labels. Users must be really careful when they use thi

[2019-01-04 22:17] Liujingfang1 commented on #572
@pwittrock

[2019-01-06 06:50] zhwill commented on #221
it workd for me
kubectl apply -f test-service.yaml --force.

[2019-01-07 03:46] seans3 commented on #100
/remove-lifecycle stale

[2019-01-07 03:49] seans3 commented on #543
/remove-lifecycle stale

[2019-01-07 06:03] prksu commented on #100
@seans3 this issue already fixed in https://github.com/kubernetes/kubernetes/pull/67880

maybe the author forgot to reference it.

[2019-01-07 08:49] prksu commented on #543
I have reproduced this issue on docker ubuntu  and worked properly.

[code]

login with gcloud and getting kubeconfig.

[code]

it's my kubeconfig

[code]

Is your gcloud PATH correct? it's defined on `cmd-path:` in kubeconfig
if your gcloud PATH is correct maybe it's problem with gcloud script

a few days ago I encountered the same issue in termux. it's solve by https://github.com/termux/termux-e

[2019-01-07 09:31] prksu commented on #514
ping @kubernetes/sig-cli-feature-requests

[2019-01-07 14:37] paralika commented on #566
Can I take this?

[2019-01-07 18:47] seans3 commented on #7
/remove-lifecycle stale

[2019-01-07 18:49] seans3 commented on #543
/sig cli
/area kubectl

[2019-01-07 18:50] seans3 commented on #100
@prksu Thanks for the help
Closing because of:  https://github.com/kubernetes/kubernetes/pull/67880
/close

[2019-01-07 18:50] #100 closed

[2019-01-07 20:09] #505 closed

[2019-01-07 22:43] monopole commented on #570
Jingfang is working on bullet 1 as a distinct issue.

The other 2 bullets need more discussion.

We currently [require](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/kustomization.go#L168) the kustomization file to have a GVK with Kind==Kustomization.

However, we don’t use that as a signal for which files to read.

We’ve had over 260 issues in kustomize - bugs and feature req

[2019-01-08 01:44] hashtoes commented on #519
Thanks both. I followed @woodwardmatt 's way and it worked, with a couple of caveats:
1. $myjson cannot contain new line characters `\n`
1. $myjson cannot contain spaces in any of the value fields of JSON, for instance,
[code]
Both of above results in `error: Invalid JSON Patch`, at least in my local environment.

[2019-01-08 22:33] Liujingfang1 commented on #570
I put some effort into modifying the code (both in cli-runtime and kustomize) to check if the `-f` target is a Kustomization file by GVK. Based on my observations, this approach creates more problems than it solves.

The files specified by `-f` need to be read twice. The first time is to determine if it is a kustomization file, the second time is to load its content to build resources. As @liggitt

[2019-01-08 22:52] liggitt commented on #570
https://github.com/kubernetes-sigs/kustomize/blob/a5c6938c6591c7311ddd42e7d5b79868cb8117d5/pkg/types/kustomization.go#L168-L181

That check needs to be strengthened to require both the version and kind fields before delivering this in kubectl. Assuming a missing version or kind means it is a version we understand means that a typo or mis-indented version lets us process a file that is definitely n

[2019-01-08 23:00] liggitt commented on #570
My primary concern is the guarantees around what the user types into kubectl (the `-f ...` parameter value). Once the handler has determined it is processing a kustomize file and delegates handling of the file's content to the kustomize library, I have no objection to the kustomize handler pinning to well-known files in referenced base directories.

[2019-01-08 23:02] monopole commented on #570
Plan B:

We allow the file name `kustomization.yaml` to remain useful/special in the kustomize code path (in kubectl), but not treat it as special on _the kubectl command line_.

Specifically:

[code]
should

 1. open `filename.yaml`
 2. if it's got Kind==Kustomization, trigger the kustomize code path, else do legacy path.

Nothing else changes.  i.e., the command
[code]
does what it always did, a

[2019-01-08 23:05] monopole commented on #570
BTW, the legacy code path will look at kustomization.yaml files in the `...` case and presumably throw up its hands and ignore them like it would any unrecognized Kind.

[2019-01-08 23:13] liggitt commented on #570
yes, that sounds more reasonable to me.

Looking at where the kustomization visitor was added in kubectl, I think the problems stem from where it was added. I think it would make more sense and be less disruptive here:

[code]

[2019-01-08 23:34] Liujingfang1 commented on #570
This looks good to me. Thank you for your suggestion @liggitt.

[2019-01-08 23:41] monopole commented on #570
@liggitt , your copy/paste omitted my paragraph about what happens once in kustomization code, and the comment about the file name `kustomization.yaml` still being special and reserved for this purpose.

Still objecting?

[2019-01-08 23:44] liggitt commented on #570
nope, edited to include those post-post

[2019-01-08 23:47] monopole commented on #570
yay.  thanks for your help and comments.

i don't care which api group (since this isn't api), so hoping someone with more clarity on it can pick one for us.

[2019-01-09 00:33] monopole commented on #570
i was specifically considering a _mix_.

If it works right (some kustomized, some not - all merged in the end) for free, i don't mind, but want to be conscious of it.

[2019-01-09 00:58] monopole commented on #570
It's impossible to be too clear here.

We still agree that _the command line_ is the dispatch point.  If a full file path is specified, and if that file has kind==Kustomize, then we kustomize, else no.

So the only way to get a mix of kustomized trees and non-kustomized trees is by using multiple `-f` args, and i just wanted to call out the result explicitly.

I want to disallow dispatching deeper

[2019-01-09 01:17] liggitt commented on #570
The current contract of -f pointed at a file is "process this file". In 1.13, processing a kustomize file errors. Teaching kubectl to process a kustomize file by expanding it is a coherent behavior.

The current contract of -f pointed at stdin is "behave as if -f was pointed at a file containing everything read from stdin". If kubectl -f can handle kustomize content, then it would make sense for t

[2019-01-09 15:04] wknapik commented on #554
Yeah, so do I, but if you need to wait for several deployments, it becomes more complicated - https://gist.github.com/wknapik/315f52a20a2af43da35be5412625794a. I don't think this should require that much coding.

[2019-01-09 21:43] monopole commented on #570
I understand and agree with your concerns.

Consider this file layout:
[code]
where `kustomization.yaml` contains
[code]
The output of
[code]
is one resource, named `foo-b`.

The output (to the cluster) of
[code]
depends on visitor dispatch.  If we dispatch from the existing visitor (dispatch kustomize code upon encountering the kustomization Kind), then the output will be three resources, `a`, `b

[2019-01-09 22:17] SurferJeffAtGoogle opened #573 "Inscrutable error message."
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommit:"0c38c362511b20a098d7cd855f1314dad92c2780", GitTreeState:"clean", BuildDate:"2018-08-20T10:09:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.9-gke.5", GitCommit:"d776b4deeb365

[2019-01-10 06:03] ahmetb opened #574 ""plugins list" command raises errors for non-existing dirs in $PATH"
It appears like `kubectl plugins list` explicitly prints errors for dirs that don't exist but added to $PATH env variable.

**Kubernetes version** (use `kubectl version`): v1.13.1

**Environment**:
- **Kernel** (e.g. `uname -a`): macOS 10.14.2.

**What happened**:

I have this env var:

[code]

[code]

**What you expected to happen**:

Don't print `error: unable to read directory` for dirs that do

[2019-01-10 06:03] ahmetb commented on #574
/kind bug
/priority P1

[2019-01-10 06:07] ahmetb commented on #574
I suspect this might be by design. But I feel like I didn't hit this in v1.12 and this still should not be an error. Many users may have dirs in PATH that no longer exist, this error is an overkill for those people.

/remove-priority P1
/priority P2

[2019-01-10 15:24] bgrant0607 commented on #570
Quick comment regarding kustomization.yaml: I view that file as component config file, similar to kubeconfig, rather than as a resource file. Kubeconfig is also read from an implicit location by default. I'm not sure what happens if it's an implicit target of a `-f .`.

(Do we document the kubeconfig schema anywhere?)
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeco

[2019-01-10 17:46] ahmetb opened #575 "Regression: [Plugin] [1.12] plugin binaries are overshadowed by themselves if they appear in PATH twice"
Issue https://github.com/kubernetes/kubectl/issues/539 has started to repeat itself in kubectl 1.13.1:

I get this error
[code]

when I duplicate dirs in my $PATH by doing `export PATH="$PATH:$PATH"`.

/kind bug
/priority P1
/cc @juanvallejo

[2019-01-10 18:39] liggitt commented on #570
Agreed. The more we discussed the behavior, the less it seemed to make sense to have this treated as a resource file, which points to an alternate entry point than `-f ...`

[2019-01-10 18:51] bgrant0607 commented on #570
If we think it would be less ambiguous and less surprising (and potentially less vulnerable to mischief) to make invoking kustomize explicit, a new flag (e.g., `--kustomize <file | directory>`) seems fine.

[2019-01-10 19:06] Liujingfang1 commented on #570
+1 on `--kustomize `

[2019-01-10 19:06] monopole commented on #570
Well, we agree it's a UX question anyway - not on how to resolve it.

Why not allow `-f` to do different things based on the _command line argument_?

Like `ls` does (for example).

Then `-f` becomes an extension point for things that generate resources.

If overloading -f is disallowed, then we have to introduce new flags for new resource generators.  Yuck.

[2019-01-10 21:39] monopole commented on #570
If we disallow overloading `-f`,then i'd rather just go the route of a distinct command, with usage
[code]
 * less to explain
 * allows other things in the pipe
 * can use Well-Known file name without debate
 * future compatible - we can still overload `-f` later if more people than i want it

And yes it could be a plugin, if we had automatic plugin downloading done and matured.

But - last pitch

[2019-01-10 23:12] liggitt commented on #570
that sounds good to me, at least as step 1, for all of those reasons

[2019-01-10 23:31] bgrant0607 commented on #570
I am not sure we want to add more preprocessors or make it pluggable. Previous discussions:
https://github.com/kubernetes/kubernetes/issues/13241
https://github.com/kubernetes/kubernetes/pull/14993
https://github.com/kubernetes/kubernetes/pull/14918

I'm fine with starting as a subcommand.

[2019-01-10 23:32] bgrant0607 commented on #570
The subcommand UX should still be made as consistent with other kubectl commands as possible

[2019-01-11 01:09] smarterclayton commented on #570
I in general agree (have been following along and talking with Jordan) about the separate subcommand.  The issues raised about partially interacting with the resource.builder were concerning to me and the simpler approach is still advantageous.

[2019-01-11 16:36] paralika commented on #566
I looked into `kubectl` code. It looks like merge is `enabled` by default for `kubectl config view` and we need to explicitly mention `--merge=false` to disabled merge.

Ex:
`kubectl config view  --merge=false --kubeconfig config1`

[2019-01-11 17:33] ahmetb commented on #566
I see. So the =true in the flag usage string indicates that.

Were you able to realize it’s there? I didn’t. 😊

Do other flags have strings like: (default: true)

[2019-01-13 15:41] paralika commented on #566
It is not mentioned explicitly in help document, but the values mentioned there are default values.
I am closing this issue, please feel free to reopen if needed.

/close

[2019-01-14 20:59] seans3 commented on #80
/remove-lifecycle stale

...we're still working on this.

[2019-01-15 06:13] zedtux commented on #501
I'm also looking for this feature 👍

[2019-01-15 17:44] Bessonov commented on #483
/remove-lifecycle stale

[2019-01-17 08:12] vithati commented on #427
This issue fixed with this commit https://github.com/kubernetes/kubernetes/commit/17e62d91af7d1afc4be7185c6a490a176c0afe12  and fix available from kubectl v1.11.0-beta.0 version onwards.

[2019-01-17 11:18] vithati commented on #427
/close

[2019-01-17 13:18] #503 closed

[2019-01-17 16:49] odrzutowiec commented on #37
I found this workaround
[code]
then add this to .bashrc
[code]

[2019-01-17 19:05] SurferJeffAtGoogle commented on #427
Thank you vithati!

[2019-01-18 14:37] idealhack commented on #427
Thanks!

/close

[2019-01-18 14:37] #427 closed

[2019-01-18 15:57] vithati commented on #170
This issue not occurring with v1.10 and latest version, we can close this issue.

[2019-01-18 15:58] apelisse commented on #170
please re-open if it still happens.

[2019-01-18 15:58] #170 closed

[2019-01-18 16:30] vithati commented on #450
--field-selector, or -o jsonpath depends on object data, not on kubectl get table format output. I think adding more information to command comment helps to resolve this issue.

In https://kubernetes.io/docs/reference/kubectl/cheatsheet/
'#Get all running pods in the namespace' change to '#Get all running pods in the namespace and Running state depends on 'restartPolicy'. Refer https://kubernetes.

[2019-01-18 17:32] idealhack commented on #450
/close

feel free to reopen if it still an issue

[2019-01-18 17:55] wknapik commented on #450
I see no PRs referencing this issue, which means it's still valid. Why was this closed ?

[2019-01-18 19:19] seans3 commented on #525
/remove-lifecycle rotten

[2019-01-18 19:19] seans3 commented on #525
/area kubectl

[2019-01-18 19:41] soltysh commented on #450
Closing per previous comment.

[2019-01-18 19:42] soltysh commented on #170
Closing per previous comment.

[2019-01-18 22:06] wknapik commented on #450
@soltysh which previous comment ?

Nothing has changed since I reported this, afaik. `kubectl` still reports something else than the user is expecting (and what the documentation is saying it would) and there's still no way to get pods in state `Running` without scraping unstructured output. I don't understand why this was closed.

[2019-01-18 22:57] juanvallejo commented on #575
Wait, why are you adding duplicate dirs in your PATH? :)

[2019-01-19 00:17] ahmetb commented on #575
That shouldn't matter. It's not illegal. :) But my zshrc file does `PATH=stuff1:stuff2:$PATH`, so when I start a shell inside another shell it inherits its PATH.

[2019-01-19 00:38] babilen opened #576 "Please add fish tab completion"
# Fish Completion - Feature Request

Please implement tab completion for the fish shell by building on work done in https://github.com/spf13/cobra/pull/754 or consider shipping automatically generated manpages beforehand.

Unfortunately an earlier feature request (#131) was closed even though the issue had not been addressed. Previous attempts to add completion failed due to the inability to gener

[2019-01-19 11:35] #552 closed

[2019-01-21 17:59] juanvallejo commented on #575
Fix + test to avoid future regression: https://github.com/kubernetes/kubernetes/pull/73144

[2019-01-22 12:58] zedtux commented on #454
I'm also looking to this feature !

[2019-01-22 13:44] mvillafuertem commented on #37
doesn't work

Mac OS Sierra 10.12.6 (16G1710)
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)

[2019-01-22 16:46] #575 closed

[2019-01-23 18:33] seans3 commented on #47
/remove-lifecycle stale

[2019-01-23 21:08] seans3 commented on #86
/remove-lifecycle rotten

[2019-01-23 21:09] seans3 commented on #11
/remove-lifecycle rotten

[2019-01-23 21:09] seans3 commented on #536
/remove-lifecycle rotten

[2019-01-23 21:12] seans3 commented on #500
/remove-lifecycle stale

According to @code-sleuth, this is not a bug. More triage needed.

[2019-01-23 21:13] seans3 commented on #518
/close

[2019-01-23 21:13] #518 closed

[2019-01-24 18:13] seans3 commented on #520
/remove-lifecycle rotten

If we're not able to reproduce this in current versions of kubectl, we'll close this.

[2019-01-24 22:45] juanvallejo commented on #498
/remove-lifecycle rotten

[2019-01-25 14:41] #398 closed

[2019-01-25 16:41] groner opened #577 "kubectl set env does not apply prefix when removing environment variables"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl set env prefix remove (I also searched in kubernetes/kubernetes)

---

**Is t

[2019-01-26 23:49] schollii commented on #527
/remove-lifecycle rotten

[2019-01-28 09:46] kuengnee opened #578 "Unable to to access k8s in aws eks"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes but unable to find the relevance troubleshooting guide

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

EKS AWS
---

**Is this a BU

[2019-01-29 16:55] juanvallejo commented on #151
Error handling for that command was recently improved in https://github.com/kubernetes/kubernetes/pull/73035. It no longer fails on a single error

[2019-01-29 18:19] seans3 commented on #12
/remove-lifecycle rotten

[2019-01-30 08:35] kke commented on #37
Instead of

[code]

you can use this on the legacy-bash on mac:

[code]

[2019-01-30 10:01] mdeknowis opened #580 "Missing access right leads to endless error output"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: IBM Kubernetes

**What happened**:

`kubectl rollout status deployment` is not failing but logging thousend lines of the same error:

[code]

**What you expected to happen**:

It just failing similar to this:

[code]

**How to reproduce it** (as minimally and precisely as possi

[2019-01-30 11:57] martinborgman commented on #574
I actually have the ~/.dotnet/tools directory and it is in my path, but i do get the same error
[code]
The ~/.dotnet/tools is empty.

**kubectl version:** Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit:"cff46ab41ff0bb44d8584413b598ad8360ec1def"

[2019-01-30 17:15] spuder commented on #524
You could also use `vim -R` to preview the contents with some (limited) color highlighting

    kubectl get $type $name | vim -R -c 'set syntax=yaml' -

since that is a lot to type, you may want to wrap that in a bash function

[code]

then you can simply pipe to the function

    kubectl get $type $name | vaml

[2019-01-30 17:31] seans3 commented on #534
/remove-lifecycle stale

[2019-01-30 19:36] juanvallejo commented on #574
/assign

[2019-01-30 20:12] juanvallejo commented on #574
@ahmetb

Agree. https://github.com/kubernetes/kubernetes/pull/73542

[2019-02-01 12:45] #574 closed

[2019-02-03 07:53] jamielennox opened #581 "go-template should accept stdin"
I just found out about --output=go-template and want to use it within a script to read some secrets and set them into local environment variables. I'm essentially using a kube secret as a place to communicate values between multiple processes. I was expecting to basically be able to do:

[code]

What i end up with in my `./test-output` is `-`. I haven't gone through the code yet, but I haven't fou

[2019-02-03 08:07] jamielennox commented on #581
Oh, also using `-o go-template-file=-` gives
[code]
However, given that there is a file interface we can use a workaround at the moment with
[code]
but it would always be nice to have a real command there.

[2019-02-03 08:19] jamielennox commented on #581
just in case someone stumbles across this looking for the same thing, my current solution is basically:
[code]
I'm sure there are ways to make that a bit prettier but we're past pretty at the point we need this.

[2019-02-03 10:08] prksu commented on #12
interested doing for it

[2019-02-03 14:56] duglin opened #582 "kubectl get all has lots of blank lines to stderr"
`kubectl get all` will dump a list of known resources to the screen, to stdout. However, it will also print a bunch of blank lines to stderr for no apparent reason :-)
See this:
[code]
In this case it printed 14 blank lines. This is problematic because when I try to script things I now can't just grab stdout (when there are no errors) I now need to do something with stderr even though there are no

[2019-02-03 19:41] ncouture opened #583 "Support bash-like parameter expansion"
For instance, it would be nice to be able to execute:
[code]

or

[code]

instead of having to execute:
[code]

[2019-02-03 20:33] ncouture commented on #583
Title should probably read "support multiple files as argument to `kubectl apply -f`"

[2019-02-03 22:58] bluemalkin commented on #501
2019 and `kubectl` still wants the files physically on the disk. This is not automation friendly :-)

[2019-02-04 09:12] mvehar opened #584 "[BUG] kubectl -n <NAMESPACE> delete pod,svc,....,ns --all > deletes all namespaces"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
namespace, delete namespace, delete ns
---

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Hetzner/VM ubuntu servers
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 LTS
- **Ker

[2019-02-05 02:10] d-nishi commented on #578
/sig aws

[2019-02-05 02:41] shyamjvs commented on #578
@kuengnee This seems like kubectl issue. Are you:

- sure that `get all` is a supported command?
- is your kubectl version compatible with that command?

[2019-02-05 02:54] shyamjvs commented on #578
Assigning SIG properly...
/remove-sig aws
/sig cli

[2019-02-05 13:02] khteh commented on #568
`Error from server (NotFound): horizontalpodautoscalers.autoscaling "my-hpa" not found`
[code]

[2019-02-06 18:49] weibeld commented on #120
With Zsh, completion works with aliases as well, but with Bash not. Probably the best workaround is to use [complete-alias](https://github.com/cykerway/complete-alias). Install it by sourcing the main file in your `~/.bashrc`. Then, for every alias for which you want to enable completion, add the following to your `~/.bashrc` file:

[code]

[2019-02-06 19:09] weibeld opened #585 "Completion for kubectl plugins"
**FEATURE REQUEST**

**Kubernetes version** (use `kubectl version`): 1.13

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS 10.14
- **Kernel** (e.g. `uname -a`): `Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64`

**What happened**:

Having installed a kubectl [plugin](https://kubernetes.io/

[2019-02-06 19:14] seans3 commented on #585
/sig cli
/area kubectl
/kind feature

[2019-02-06 19:14] weibeld commented on #569
Can't you do the same by having multiple config files in arbitrary locations and listing them in the [`KUBECONFIG`](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable) environment variable?

[2019-02-06 20:38] DizzyThermal opened #586 "kubectl cluster-info dump: error: a versioned object must be passed to a printer"
**Background**:
I am performing prerequisite steps on my OpenShift Origin (OKD) v3.11 cluster to prepare to deploy [Ambassador](https://www.getambassador.io). The documentation I'm following [to deploy is here](https://www.getambassador.io/user-guide/getting-started/), specifically the part where it asks me to check if RBAC is enabled by running:
[code]

this results in the error:
[code]

I unders

[2019-02-07 14:50] AndrisPM opened #587 "Error: forwarding ports: error upgrading connection: error dialing backend: - Azure Kubernetes Service"
Hi Team,
We have upgraded our Kubernates Service cluster on Azure to latest version 1.12.4. After that we suddenly  recognize that pods and nodes cannot communicate between anymore by private ip :

    kubectl get pods -o wide -n kube-system -l component=kube-proxy
    NAME               READY     STATUS    RESTARTS   AGE       IP           NODE
    kube-proxy-bfhbw   1/1       Running   2

[2019-02-07 23:01] juanvallejo commented on #586
/sig cli
/kind bug

[2019-02-07 23:25] DizzyThermal commented on #586
@juanvallejo of course, here's that output:
[code]

Thanks for following up!

[2019-02-08 00:31] seans3 commented on #586
/area kubectl

[2019-02-08 00:31] seans3 commented on #586
/priority P1

[2019-02-08 15:41] rafaelaazevedo commented on #454
this would be great for people who run tests on a kubernetes pod and need to get the reports after

[2019-02-09 00:29] crimsonfaith91 commented on #572
@Liujingfang1
We definitely have to make `kubectl apply --prune` better. Alternatively, as @seans3 pointed out during by-person sync, we should also support dry-run of the command too.

Perhaps we can make `kubectl apply --prune` a 2-step command? The first step is to show all resource changes (dry-run), and second step is for users to input y/n (performing real changes).

[2019-02-11 01:05] webdeb opened #588 "Allow kubeconfig to be Base64 encoded string"
**FEATURE REQUEST**

kubectl --kubeconfig=$K8S_CONFIG_BASE64 [do something]

Would be nice, if you could just pass the whole kubeconfig as base64 string to kubectl command.
The main reason for this is to use kubectl in CI/CD pipelines, where people are storing their kubeconfig in some sort of settings/variables (like gitlabs secrets). Also if you use some kind of kubectl container to run kubectl.

[2019-02-11 10:47] webdeb commented on #588
Just an idea that could be implemented very easily:

[code]

[2019-02-11 11:58] glyn commented on #557
I agree with the raiser that the behaviour is unexpected: it is surprising that `kubectl` does not fail when passed a namespace that does not exist. Some colleagues ran into this the other day and wasted some time discussing the current behaviour.

How about making an _incompatible_ change to `kubectl` in this case to avoid violating the principle of least surprise? If necessary, this change could

[2019-02-11 13:36] Vlaaaaaaad commented on #568
Any chance we can bump the priority on this? There's breakage in a vital feature of `kubectl`.

[2019-02-11 14:03] dims commented on #557
cc @liggitt

[2019-02-11 19:38] cwingrav commented on #396
I dunno, doesn't seem too hard to get a list of users. All I had to do was:
`kubectl config view | yaml json write - | jq -r '.users[].name'`
... and there you go, easy list of users. /s

[2019-02-11 19:52] ahmetb commented on #396
Nobody claimed it's not hard to "list" users (which comment are you replying to?). You can apply to the same to `cluster` and `context` resources, but we have `get-clusters` and `get-contexts` commands respectively –so this issue petitions for symmetry.

[2019-02-11 21:48] briantopping commented on #120
@weibeld `complete-alias` doesn't work on Mac. I've spent the last hour trying to make it work, no dice. The author ignored a patch to make it work. I gave it props in a stack exchange discussion, it does work on Linux. But it's not a generalized solution.

[2019-02-11 22:32] weibeld commented on #120
@briantopping `complete-alias` works on Mac, but not with Bash 3.2, which is the default on Mac. You can install Bash 5.0 (see for example [here](https://itnext.io/upgrading-bash-on-macos-7138bd1066ba)) and it will work. It also depends on [`bash-completion`](https://github.com/scop/bash-completion) 2.0+ (current version is 2.8).

So, if you don't use outdated tools, like the default Bash on Mac,

[2019-02-11 22:38] briantopping commented on #120
Yah, I'm a total putz at this stuff. Playskool "My First Mac" obviously wasn't enough training for something so monumental as getting aliases working. I stand corrected.

[2019-02-12 09:43] zgfh commented on #221
[code]
Should we update the error message?
 

[2019-02-12 10:43] josefkorbel commented on #46
Hello, I've came across this issue again and I dont think it is bash related. I've created a SO question. Here it is.

I was following [this][1] tutorial for deploying Django App to Kubernetes Cluster. I've created cloudsql credentials and exported them as in the tutorial

[code]
However my password was generated by LastPass and contains special characters, which are striped out in Kubernetes Pod

[2019-02-12 10:45] josefkorbel opened #589 "Password with special charts being stripped down while depoying pod"
This is not duplicate to #46

I was following [this][1] tutorial for deploying Django App to Kubernetes Cluster. I've created cloudsql credentials and exported them as in the tutorial

[code]
However my password was generated by LastPass and contains special characters, which are striped out in Kubernetes Pod thus making the password incorrect.

This is my password (altered, just showing the speci

[2019-02-12 11:05] josefkorbel commented on #589
Got answer on SO to base64 encode the password, which is smart, but only works in local development as the credential files for cloudsql proxy still contains the original string.

[2019-02-12 11:28] josefkorbel commented on #589
Moving to SO and closing as I am starting to think that this is not kubectl related, more like gke related.

[2019-02-12 11:28] #589 closed

[2019-02-12 19:37] seans3 commented on #556
/remove-lifecycle stale

[2019-02-12 19:45] seans3 commented on #588
/sig cli
/area kubectl
/kind feature

[2019-02-14 17:19] waldbeerlein commented on #588
+1

[2019-02-15 23:11] geekofalltrades commented on #524
This would be really helpful to see the difference between "Pending" and "Running" on `describe pods`. Right now they're hard to distinguish:

[code]

[2019-02-16 00:06] seans3 commented on #582
/sig cli
/area kubectl
/kindbug
/priority P2

[2019-02-16 00:07] seans3 commented on #582
/kind bug

[2019-02-16 18:36] webdeb commented on #588
@seans3 please check out my PR

[2019-02-18 17:15] groner commented on #577
/sig cli
/area kubectl
/kind bug

[2019-02-19 07:41] nir-logzio commented on #120
@weibeld it doesn't work on mac. I followed your instructions here as well as your very elaborated posts on itnext.io but as @briantopping said, no dice.

[2019-02-19 07:46] omidraha commented on #7
How to delete just `ingress` and not all  with ``kubectl``?

[2019-02-19 08:29] weibeld commented on #120
@nir-logzio what is your version of Bash and bash-completion?

[2019-02-19 08:45] nir-logzio commented on #120
@weibeld
bash: 5.0.2(1)-release
completion: stable 2.8 (bottled)

[2019-02-19 08:59] weibeld commented on #120
So what doesn't work? It's just that the completion of the aliases doesn't work, or is there an error message?

[2019-02-19 09:04] nir-logzio commented on #120
The completion of aliases doesn't work. It starts by adding the original command to the completion instead of its options.

[2019-02-19 09:15] weibeld commented on #120
Did you try with different aliases and commands? Maybe you can create a screencast and share it on [asciinema](https://asciinema.org/).

[2019-02-19 09:20] nir-logzio commented on #120
@weibeld The original description from Nov 2017 describes it perfectly. No need to bother with a screencast

[2019-02-19 09:28] weibeld commented on #120
@nir-logzio You did `complete -F _complete_alias k` (if `k` is your alias for `kubectl`) and the output is still like in the original post?

[2019-02-19 10:23] corneliusweig commented on #527
@schollii Have a look at https://github.com/corneliusweig/ketall . It is also available via krew, so that it can be installed via `kubectl krew install get-all`. Please raise an issue, if this doesn't fully meet your requirements.

[2019-02-19 15:08] briantopping commented on #120
@nir-logzio: Give a try to the solution @amalucelli provided above. That's what I am using. Upgrading bash is an option, but one I personally prefer to avoid for every new developer.

[2019-02-19 15:19] nir-logzio commented on #120
@briantopping yes I've considered this option but as it is quite a hack I'm currently planning on trying zsh and perhaps gaining a few more advantages at the same time

[2019-02-19 15:21] briantopping commented on #120
"Perfect is the enemy of the good..." :D

[2019-02-19 15:26] weibeld commented on #120
@nir-logzio if you do `complete -F __start_kubectl k`, then obviously it doesn't work, because complete-alias is not used at all. You have to do `complete -F _complete_alias k` for every alias for which you want to enable completion.

@briantopping with this solution you can only have aliases for the base command, e.g. `k` for `kubectl`. But with complete-alias, you can have aliases like `alias kg

[2019-02-19 15:27] briantopping commented on #120
@weibeld: That doesn't matter much if complete-alias doesn't work. Thanks tho.

[2019-02-19 15:46] weibeld commented on #120
@briantopping it just doesn't work on Bash 3.2 (which is more than 11 years old), but on every Bash version of 4.1 or greater, it should work perfectly, no matter if it's on Linux or Mac.

[2019-02-19 15:48] briantopping commented on #120
/unsubscribe

[2019-02-19 17:57] nesl247 commented on #444
It's a little frustrating to always have to get a pod which has an unknown name. This would certainly make it a lot easier.

[2019-02-20 03:21] mpgarate commented on #221
is there a workaround for this that does not require the use of `--force`?

[2019-02-21 07:00] mans0954 commented on #568
This isn't just an issue with AWS EKS, it also affects Google's GKE, using the latest Kubernetes master (currently `v1.11.7-gke.6`):
[code]
[code]
Looking at `https://**.***.***.***/openapi/v2`, it seems `autoscaling/v2beta1/` is supported but not `autoscaling/v2beta2/`.

[2019-02-21 07:50] yue9944882 commented on #568
cc @mars1024, is right WIP on this. will see a pull soon 🐛

[2019-02-21 18:08] MrHohn commented on #221
@mpgarate Have you tried `kubectl replace`?

Ref https://github.com/kubernetes/kubectl/issues/221#issuecomment-409399714.

[2019-02-21 18:54] mpgarate commented on #221
I ran into this message with `kubectl replace`:
`The Service ... is invalid: spec.clusterIP: Invalid value: "": field is immutable`

I suspect this is because I do not have the ip address hard-coded as mentioned in comment 221. In my case is is not practical to do that for every service, and instead I am using a `NodePort` type as a workaround.