[2019-02-21 19:15] MrHohn commented on #221
@mpgarate Agreed that hardcoding the IP for every service on creation is not practical. But it may be doable to simply copy over the randomly allocated `clusterIP` when you try to update the service (e.g. via `kubectl replace`)?

[2019-02-21 19:27] soapergem commented on #125
I'm having this same trouble on PureOS (a Debiant variant). I'm using this in my `~/.zshrc` file as a workaround:

[code]

[2019-02-23 00:15] #335 closed

[2019-02-23 00:15] #363 closed

[2019-02-23 00:15] #397 closed

[2019-02-23 00:15] #400 closed

[2019-02-23 01:16] #461 closed

[2019-02-23 01:16] #497 closed

[2019-02-25 13:19] czka commented on #542
@m1kola
you wrote:

You meant **introduced**, right? Asking this cause I've been debugging the issue myself and have a problem identifying an unaffected version. Eg. `get events --watch --output=json` in `v1.13.0` seems to work OK, most of the time, but it would terminate at random now and then.

[2019-02-26 04:44] mitchellmaler commented on #501
I would like to use this but also provide client key and client cert data from the command as well. This will make automating the creation on conf files easier without having to write and manage extra files on disk. Reason is we use an external certificate provider and can hold the data in member when generating the conf file if this was available.

[2019-02-26 07:03] rdxmb commented on #572
This is good for starting with prune. However, for running `--prune` in CI there has to be a way to run it non-interactively.

[2019-02-27 20:28] rifelpet opened #592 ""describe ingress" does not list service endpoints for ingresses not in kube-system"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**:

**What happened**:
`kubectl describe ingress` on any ingress not in the kube-system namespace shows `<none>` endpoints for services that do indeed have endpo

[2019-02-27 23:49] briansan opened #593 "output on create/update/delete to contain namespace"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: namespace

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): feature request

When a resource is modified in someway, the typical output from kubectl looks like the following:
```deployment.apps/nginx created```
It would be nice if the output would also contain the name

[2019-02-28 12:06] yue9944882 commented on #592
that's designed i think. when the ingress's backend is absent.

[https://github.com/kubernetes/kubernetes/blob/32333b0fc74bfa0352a23ecfae3772ea07c9755c/pkg/kubectl/describe/versioned/describe.go#L2297-L2305](https://github.com/kubernetes/kubernetes/blob/32333b0fc74bfa0352a23ecfae3772ea07c9755c/pkg/kubectl/describe/versioned/describe.go#L2297-L2305)

[2019-02-28 14:26] akowasch commented on #586
The bug seems to have been fixed in Kubernetes Client Version v1.11.3 and later.

[2019-02-28 17:23] rifelpet commented on #592
That would not explain why the non-default-backend has `<none>` though. I would expect my backend's service to have its endpoints listed just like they are for ingresses in the kube-system namespace.

[2019-02-28 23:42] howardjohn commented on #407
/remove-lifecycle stale

[2019-03-03 00:08] tarvitz opened #594 "kubectl get --raw /apis/* works incorrect on windows and git minigw xterm like terminal"
---

**Is this a BUG REPORT**:

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: From scratch / server independent due to linux version of kubectl works properly.
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
- **Others**: Running kubectl on windows 10 x64 in git's min

[2019-03-03 17:48] richstokes opened #595 ""error: unexpected EOF" when following logs"
**Kubernetes version** (use `kubectl version`):

**Environment**:
AWS EC2 via kops

**What happened**:
After approx 10 mins, following a log bails out with "error: unexpected EOF". The pod is not generating output during this time, so feels like the log follow gives up if its not receiving data often enough.

**What you expected to happen**:
Logs should be followed indefinitely, even if the pod ha

[2019-03-04 09:17] tehho opened #596 "AAD with MFA Error while retrieving OAuth token: Unknown Error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Sort of.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
AAD, OAuth token, Failed to acquire a token

---

**Is this a BUG REPORT or FEA

[2019-03-04 16:16] philips opened #597 "SECURITY_CONTACTS: please include developers of kubectl"
The current SECURITY_CONTACTS document in kubectl simply includes the Kubernetes Product Security Team. Please replace this list with kubectl developers who should be contacted by the Kubernetes Product Security Team in case of a security disclosure.

For example you might choose a subset of the approvers from OWNERS

[2019-03-04 16:17] philips commented on #597
/assign soltysh
/assign pwittrock

[2019-03-04 16:33] ramv76 commented on #587
I am getting similar error too, did you get any resolution to this issue? Thank you.

[2019-03-04 22:05] waynesi opened #598 ""kubectl rollout history --revision=n" produces wrong/inconsistent output with "-o yaml"?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl rollout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

[2019-03-05 00:11] apelisse commented on #567
I don't know what else we can do about it. Please use server-side dry-run.

[2019-03-05 00:11] #567 closed

[2019-03-05 02:18] superbrothers commented on #583
You can use multiple files as arguments even now:

[code]

[2019-03-05 17:45] sassanh opened #599 "Unresolved issue mistakenly closed, please reopen"
This is not a bug report nor question, it's a meta issue to reopen another issue.

https://github.com/kubernetes/kubectl/issues/151 is about:

1. Bad documentation (which is solved now)
2. Kubernetes not having a reasonably simple API to query "ALL" resources in a namespace (which is not resolved yet.)

As many commented there that command doesn't work for me too with the same error they reported.

[2019-03-05 17:50] dims commented on #151
/reopen

[2019-03-05 17:50] dims commented on #599
done!

/close

[2019-03-05 17:50] #599 closed

[2019-03-05 17:51] sassanh commented on #599
Thanks

[2019-03-05 17:54] afirth commented on #582
There is a TODO (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get/get.go#L541) which I think will fix this, however I'm not sure about the impact.
`-o==0` and `-o=="wide"` are "[human readable](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get/get.go#L227)" and not intended for scripting. For machine readable format, just append `-o json` or `-o yaml`

[2019-03-05 17:59] duglin commented on #582
yes that TODO is 100% correct  :-)

And while I mentioned scripting I didn't really mean "scripting to parse the output for machine usage" as much as I meant I have demo scripts that run commands and grab output for displaying it later, and having 1/2 the output go to stdout and 1/2 go to stderr (when there is no error) is problematic. Or even just to "grep-out" lines that I don't want to show peo

[2019-03-05 18:09] sassanh commented on #151
My current situation is that I have a cluster with some namespaces, I try to delete a namespace and it's stuck in `Terminating` state. I know this situation is mentioned in other issues here, but unfortunately those are closed too. I'm not going to ask how to solve this problem, instead I want to invest time and understand what's going on, if same problem happened with a resource in Linux operatin

[2019-03-05 21:35] wyardley opened #600 "Kubectl should not validate whether there's an active gcloud config"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Google search for exact error message. Turned up #23496 (already closed), however I t

[2019-03-06 00:08] seans3 commented on #600
/sig cli
/area kubectl
/kind bug
/priority P2

[2019-03-06 00:09] seans3 commented on #600
Please feel free to modify the priority (also please include reasoning).

[2019-03-07 04:13] rohantmp commented on #527
kubectl get $(kubectl api-resources| awk '{ print $1 }'|grep -v "NAME"|xargs|sed -e 's/ /,/g')

[2019-03-07 08:00] flyer103 commented on #564
Duplicate of https://github.com/kubernetes/kubernetes/issues/60845

[2019-03-07 21:21] ajmanlove opened #601 "kubectl get logs does not return all expected log entries"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT (possibly)
Seeing this on two clients (aws linux and darwin) and a single shared server, debian.

**Kubernetes version** (use `kubectl version`):
My Local mac
[code]

AWS Ec2 box:
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **In

[2019-03-07 21:52] ajmanlove commented on #601
Actually, nevermind. This can likely be explained by logrotate on max file size occurring between `get logs` commands. Feel free to reopen or comment, but that seems like the most obvious explanation

[2019-03-07 21:52] #601 closed

[2019-03-08 10:13] superbrothers commented on #585
I try to implement completion for kubectl plugins.

[2019-03-09 14:10] jon-walton opened #603 "Windows 10 WSL - "cannot allocate memory" when calling a plugin"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): windows; allocate

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bu

[2019-03-09 14:18] jon-walton commented on #603
Here's a ```strace -o kubectl -ff -y kubectl foo version``` of it working
[kubectl-works.zip](https://github.com/kubernetes/kubectl/files/2948458/kubectl-works.zip)

[2019-03-12 00:07] wjcheng1 commented on #454
yes would love to have this ability!

[2019-03-12 07:39] yue9944882 commented on #454
ref [https://github.com/kubernetes/kubernetes/issues/58512](https://github.com/kubernetes/kubernetes/issues/58512)

[2019-03-12 11:21] HariSekhon opened #605 "'kubectl desc' shortcut for 'kubectl describe'"
**Kubernetes version** (use `kubectl version`): 1.8

Feature Request to have `kubectl describe` to support the shorted form `kubectl desc`, in a similar way that you can `kubectl get po` instead of `kubectl get pods`.

[2019-03-12 11:43] superbrothers commented on #605
You can use kubectl plugin as follows:

[code]

kubectl plugin was implemented in kubectl 1.12, so you need to upgrade kubectl. See https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/ for more details.

[2019-03-12 11:44] superbrothers commented on #605
/close

[2019-03-12 11:44] #605 closed

[2019-03-12 12:25] HariSekhon commented on #605
Thanks

[2019-03-12 15:07] Kenzku commented on #221
use edit service, and
comment out the `# nodePort: 30492`
save it

[2019-03-12 15:07] Kenzku commented on #221
use edit service, and
comment out the `# nodePort: 30492`
change to ClusterIP
save it

[2019-03-12 20:44] howardjohn commented on #450
I think this should be open again.

The [docs](https://kubernetes.io/docs/reference/kubectl/cheatsheet/) clearly state

This command doesn't get all pods in running state.

Call it a bug, a doc error, or even a UX issue of confusing command, but something seems missing here.

I should be able to query for running pods without doing some hack like `kubectl get pods | grep Running`

[2019-03-13 22:51] polothy commented on #125
I'm getting a mix of these errors:
`(eval):1: command not found: _bash_complete`
And
`(anon):4: command not found: __start_kubectl`

Using the Prezto framework and using the `kubectl` completions installed by `brew`.  The content of `/usr/local/share/zsh/site-functions/_kubectl` is the same as the output from `kubectl completion zsh`.

I looked inside of `~/.zcompdump` and found `'kubectl' '_bash_

[2019-03-14 22:25] rgembalik opened #613 "kubectl powershell completion"
**FEATURE REQUEST**
It would be great to see autocompletion support for PowerShell. Is it possible for Windows releases?

[2019-03-14 22:43] vgarmash-chewy commented on #501
The feature is there. Try this:
[code]

So if you have your cluster certificate just as data (AWS EKS for example), just create temp file, put your data into it and run the set-cluster with --embed-certs=true flag.

In automation you always can create files with the following snippet:
[code]

[2019-03-15 05:34] zedtux commented on #501
@vgarmash-chewy we know about this, but this issue is exactly to not have to do what you described.

Feel free to read again the issue.

[2019-03-15 23:31] sassanh commented on #450
Currently there's no easy way to select running pods (as running means in English language)
So please reopen this issue and do not close it until API supports this feature as it seems to be a basic feature to list running pods.

This is my dirty workaround for now: `kubectl get pods  -o jsonpath='{.items[*].status.containerStatuses[*].state.running},{.items[*].metadata.name}' --field-selector=stat

[2019-03-16 11:31] RPing opened #614 "autocompletion on CustomResourceDefinition"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): CustomResourceDefinition

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2019-03-16 12:44] superbrothers commented on #614
Autocompletion for Custom resources has been supported from kubectl v1.11.

[code]

If you have loaded bash completion code from a file, you need to update it as follows:

[code]

See `kubectl completion -h` for more details.

[2019-03-16 16:49] RPing commented on #614
`source <(./kubectl completion bash)` again and works fine.
Thanks!

[2019-03-16 16:49] #614 closed

[2019-03-17 09:03] yzargari commented on #587
+1

[2019-03-17 11:29] ticapix opened #615 "kubectl get deploy -o yaml | kubectl apply -f - fails"
**Is this a BUG REPORT**:

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **OVH Managed kubernetes**:

**What happened**:
I've deployed gravitee.io with helm and I've tried to activate linkerd. While doing so, I figured out that the following command doesn't work

`kubectl get -n default deploy gravitee-ui -o yaml | kubectl apply -f -`

[code]

Full output [error.log](

[2019-03-18 21:42] grugnog commented on #483
Another use case for this - if you use a combination of minikube (or other "dev" clusters) and production clusters I find it helpful to set the context at the beginning of a session and explicitly clear it afterwards. This helps avoid accidentally running commands against the wrong cluster.

I have the current context on my prompt using the fantastic Go Bullet Train (GBT) to remind me to what the

[2019-03-18 22:01] cflewis commented on #80
How close is this? I am investigating porting a tool to remove its dependency on the k8s monorepo, and the big blocker right now is a dependency on some `kubectl` packages. It would be nice to be able to not have to do some copy-pasty hackiness :)

[2019-03-20 09:09] infa-ddeore commented on #120
I added this into ~/.basg_profile

[2019-03-20 09:13] psinger commented on #587
Same issue here, any solutions?

[2019-03-20 11:15] stmaute commented on #454
I also would like to have this feature. Are there any plans to implement this???

[2019-03-20 21:51] ticapix commented on #615
the issue is caused by an empty `name` field under `imagePullSecrets`

The YAML generated by helm is
[code]

Helm deployment is going fine, but the YAML output of kubectl can't be re-applied.

[2019-03-20 22:49] ateivJ commented on #61
I have similar issue.

[code]
Kubectl version:
[code]

[2019-03-21 18:43] #444 closed

[2019-03-21 18:44] nesl247 commented on #444
/reopen

[2019-03-22 15:56] giacomopastore commented on #587
Same issue on Oracle Cloud with K8s v1.12.6!

[2019-03-24 12:50] ticapix commented on #615
I solved the issue by fixing the initial yaml config with try/error, removing sections of the config and applying it until I managed to isolate the source of the problem.

It would be nice for kubectl to output more log about where it fails to validate the openspec.

[2019-03-24 12:50] #615 closed

[2019-03-25 16:45] jwenz723 commented on #587
Same issue, running on AWS EKS v1.11, deployed using terraform.

[2019-03-25 16:46] G-Harmon commented on #185
/remove-lifecycle stale

[2019-03-25 16:56] raravena80 commented on #537
/remove-lifecycle stale

[2019-03-25 17:23] Liujingfang1 opened #622 "request a repo in kubernetes-sigs"
Request to open a new repo under kubernetes-sigs.
We'll use this repo to experiment Apply and Prune commands
and corresponding libraries.

Here are ideas we plan to work on POC for:
- https://github.com/kubernetes/enhancements/pull/886
- https://github.com/kubernetes/enhancements/pull/810

The name of this repo could be kapply.

[2019-03-25 21:50] dankohn opened #623 "Please upload svg of kubectl logo"
https://github.com/kubernetes/kubectl/pull/619 added the kubectl logo in PNG format in 3 sizes.

Could you please upload as an svg, which scales to any resolution and is suitable for print. Alternatively, you can email the source file (AI, PSD, etc.) to dan at linuxfoundation.org and I'll convert it and upload.

I'll also get stickers made for https://store.cncf.io/collections/kubernetes

Cc @sean

[2019-03-26 08:30] superbrothers opened #625 "kubectl docs: Need Open Graph tags"
kubectl docs does not have Open Graph (og) tags. I think it is better to have them. (kubernetes.io has og tags.)

- http://ogp.me/

[2019-03-26 09:04] RecuencoJones commented on #7
`kubectl delete all,ing -l app=bar -n foo` works for me

[2019-03-26 11:14] george-angel commented on #142
/remove-lifecycle stale

[2019-03-26 13:56] thomas-riccardi opened #627 "Typo in docs/book: "Conainer""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): typo, conainer

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2019-03-27 15:56] dhain opened #628 "kubectl proxy, API watch request blocks until an event happens"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): proxy, watch, resourceVersion

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2019-03-27 15:59] dhain commented on #628
Just verified that it works as expected with 1.13.5:
[code]

[2019-03-28 01:46] seans3 commented on #544
/close

[2019-03-28 01:46] #544 closed

[2019-03-28 02:54] yue9944882 commented on #568
Fixed by [https://github.com/kubernetes/kubernetes/pull/75597](https://github.com/kubernetes/kubernetes/pull/75597), closing

[2019-03-28 09:38] Rio opened #629 "Typo in docs and command reference error in `cluster information`"
Found a typo in `Field Merge Semantics` in the new docs.
`Last Applied Resource Condfig` should be `Last Applied Resource Config`.

Also a non-existent command is referenced in `Cluster Information`: `kubectl resource-types`.
The example does use the correct command `kubectl api-resources`.

[2019-03-28 10:05] Rio opened #631 "Email address listed in docs contribution guide is bouncing"
The contributions guide linked to in the introduction of the docs (https://github.com/kubernetes/kubectl/blob/master/docs/book/CONTRIBUTING.md) lists an email address which appears to be bouncing.

[2019-03-28 10:41] Rio opened #632 "Configmap/Secret generation documentation is missing an option for generating from environment files"
In the section `Secrets and ConfigMaps` there are explanations about how to generate configmaps using the `literals` and `files` options. One is missing however which is the `env` option that generates the same type of configmaps as the `literals` option but sources the key/value pairs from an environment file.

Also it's not very clear that the options used on `configMapGenerator` are also used i

[2019-03-28 12:09] soltysh commented on #622
@Liujingfang1 I think you should request that by creating an issue in https://github.com/kubernetes/org/

[2019-03-28 12:10] bhack commented on #551
@gajus ksync doesn't not support volumes/cri-o https://github.com/vapor-ware/ksync/issues/251 https://github.com/vapor-ware/ksync/issues/265 https://github.com/vapor-ware/ksync/issues/274.

Check instead https://github.com/ernoaapa/kubectl-warp

[2019-03-28 15:48] #629 closed

[2019-03-28 15:50] soltysh commented on #556
@pwittrock @seans3 given the new format of the kubectl book is this still valid? I'm aware we still need to update the docs, but I don't think we need general issue. If anything I'd prefer us having specific areas called out that need work, wdyt?

[2019-03-28 15:52] #627 closed

[2019-03-28 16:08] Liujingfang1 commented on #622
@soltysh Oh, I see. Thank you : )

[2019-03-28 16:08] #622 closed

[2019-03-28 16:34] dennisxrow commented on #407
A workaround for me is to just remove kubectl's completion for the "-f" flag and let it fallback to the standard zsh file / path completion.

I used

[code]

instead of

[code]

[2019-03-28 22:44] seans3 commented on #80
CL for first move of kubectl code into staging: https://github.com/kubernetes/kubernetes/pull/75787

[2019-03-30 12:19] kasisnu commented on #99
I'm interested in working on this.

[2019-03-30 13:38] shroudedcode commented on #580
@mdeknowis I'm having the same issue:

[code]

This is the output I get when running:

[code]

The `ClusterRole` looks like this:

[code]

The weird thing is that the command, despite the errors, works perfectly well.

<details>
<summary><i>Output of <code>kubectl version</code></i></summary>

[code]
</details>

[2019-04-01 12:57] #553 closed

[2019-04-01 18:23] seans3 commented on #580
/kind bug
/priority P1
/area kubectl
/sig cli

[2019-04-02 12:34] pplu opened #637 "kubectl --help exit code 0"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Not needed
- **OS** (e.g. from /etc/os-release): Linux

**What happened**:
[code]

**What you expected to happen**:

I would expect a non-zero exit code from the command when help is displayed.

[2019-04-04 17:12] #555 closed

[2019-04-04 20:30] dellintosh opened #639 "kubectl set env deletes namespace"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: `set env`, `namespace`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Example is run locally (`--local` flag)
- **OS** (e.g. from

[2019-04-04 23:03] mishushakov commented on #588
You could just:

1. Copy your kubeconfig to clipboard as base64 string:
`cat ~/.kube/config | base64 | pbcopy `

2. On your CI pipeline, create a environment variable `kube_config` and paste your base64 string
3. Encode your base64 variable back to kubeconfig environmental variable:
`echo ${kube_config} | base64 -d > ${KUBECONFIG}`

4. Set context with kubectl:
`kubectl config use-context <name of

[2019-04-04 23:17] webdeb commented on #588
@mishushakov yes, thats exactly what I already wrote. these are 4 commands you have to put inside your ci/cd scripts, and **unfortunately this method does not work if you store the variable in gitlab secrets** because it prevents secrets to be printed.

[2019-04-05 00:07] mishushakov commented on #588
@webdeb on GitLab you can connect your cluster and have access to k8s environment variables (https://gitlab.com/help/user/project/clusters/index#deployment-variables), in this case we actually need the `KUBECONFIG` variable:

<img width="1230" alt="Screenshot 2019-04-05 at 02 05 26" src="https://user-images.githubusercontent.com/10400064/55596102-4a28e780-5747-11e9-9b0e-70b905eb983b.png">

[2019-04-05 17:15] sawlanipradeep commented on #603
I am also having issue installing Krew on Windows and got here fromhttps://github.com/kubernetes-sigs/krew/issues/156
@jon-walton Looking at the description, error message you have are for Linux. For windows I see following
[code]
I tried different plugins but same error.  kubectl version is this:
[code]
Windows version:  Microsoft Windows Server 2012 R2 Datacenter 

[2019-04-05 17:33] sawlanipradeep commented on #603
kubectl calls Exec which on windows returns error (https://golang.org/src/syscall/exec_windows.go)
May be kubectl should be using StartProcess instead of Exec on Windows.

[2019-04-09 07:28] shivamkrpandey commented on #543
I faced the same issue today but by using
`gcloud container clusters get-credentials cluster_name --region=region_name`

It started working.

[2019-04-09 09:04] javabrett commented on #151
This really has the capacity to trip-up new (and old) users alike in interesting and frustrating ways.  If `all` isn't `all` and _never will be_ `all` again, surely it has to be deprecated?  Is it actually a compatibility issue - is this command porcelain for scripting?

Example of getting caught:

`kubectl get all --namespace ns1`
(nothing)
`kubectl get pvc --namespace ns`
(1 pvc is listed)

Ah -

[2019-04-09 15:35] BenWUKFast commented on #151
Agreed on the deprecation comment.

Perhaps instead of breaking backwards compatibility we could allow a glob syntax, so for example `*role*` would return `role`,`rolebinding`,`clusterrole`,`clusterrolebinding` and `*` would return everything. I'm glad that `all` is no longer a resource, so perhaps we can with this approach distinct between a resource type and syntax.

[2019-04-09 16:12] dhain commented on #628
Looks like this may have been related to https://github.com/kubernetes/kubernetes/issues/75837 and it appears to be fixed in v1.14.1.

[2019-04-09 16:12] #628 closed

[2019-04-09 16:30] awadodeh commented on #499
I am running into the same issue.
my environment is looks like:
[code]

However, when I type
[code]
and then TAB, it doesn't autocomplete.

[2019-04-10 02:27] luckymagic7 commented on #568
/reopen

[2019-04-10 02:29] luckymagic7 commented on #568
hi all!
my kubectl version looks below:
[code]

And I still can't get the description from the hpa resource
`Error from server (NotFound): the server could not find the requested resource`

[2019-04-10 04:49] yue9944882 commented on #568
@luckymagic7 what's your server version?

[2019-04-10 04:50] luckymagic7 commented on #568
@yue9944882 my server is 1.9.8

[2019-04-10 05:12] yue9944882 commented on #568
https://github.com/kubernetes/kubectl/issues/568#issuecomment-445162832

that's a gap between the client and servers. we provides compatibility up to 3 releases, which is, `1.14` kubectl can work w/ `1.12` servers at best

[2019-04-10 05:13] luckymagic7 commented on #568
@yue9944882 ok! I have to downgrade my client. THANKS!

[2019-04-10 08:51] wknapik commented on #554
/remove-lifecycle stale

[2019-04-10 16:32] fejta commented on #502
/lifecycle stale

[2019-04-13 13:09] abhishekjiitr opened #642 "Example Configmap Invalid DNS Name"
DOCUMENTATION BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: v1.14.1
Server Version: v1.13.3

**Environment**:

- **OS**: Ubuntu 19.03 (Disco Dingo)
- **Kernel**: 5.0.0-8-generic #9-Ubuntu SMP Tue Mar 12 21:58:11 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:
Following the steps of *ConfigMaps From Files* example in _App

[2019-04-17 09:19] adamrodger opened #644 "`kubectl get -k` repeats all headers unnecessarily"
**Is this a request for help?** No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **OS** (e.g. from /etc/os-release): Windows
- **Install tools**: scoop
- **Others**: The cluster is running on Docker Desktop for Windows

**What happened**:

After applying a `kustomization.yaml` and then trying

[2019-04-17 18:25] seans3 commented on #644
NOTE: This case happens during an unsupported version skew (client 1.14 -> server 1.10). Still marking this as a bug in case it happens in a supported window.

/sig cli
/area kubectl
/kind bug
/priority P1

[2019-04-17 18:25] seans3 commented on #644
/assign @Liujingfang1

[2019-04-17 18:26] seans3 commented on #644
/assign

[2019-04-18 12:58] vmrm commented on #450
`# Get all running pods in the namespace
kubectl get pods --field-selector=status.phase=Running`
from https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-running-pods

[2019-04-22 16:07] #642 closed

[2019-04-22 16:30] yangnaihua opened #646 "when EXTERNAL-IP too long"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
[code]
- **Install tools**: zsh

**What happened**:
when use AKS in AWS, the ip too long ,so can not be found the ip
 EX:
[code]

[2019-04-22 17:17] #632 closed

[2019-04-23 18:19] coderanger commented on #564
/remove-lifecycle rotten

[2019-04-23 20:31] seans3 commented on #548
/close

[2019-04-23 20:31] #548 closed

[2019-04-23 23:18] seans3 commented on #31
/remove-lifecycle rotten

[2019-04-24 15:49] seans3 commented on #115
/remove-lifecycle rotten

[2019-04-24 15:49] seans3 commented on #528
/remove-lifecycle rotten

[2019-04-24 15:51] seans3 commented on #509
convert is deprecated and being removed from kubectl by 1.17, closing.
/close

[2019-04-24 15:51] #509 closed

[2019-04-24 15:51] seans3 commented on #517
/remove-lifecycle rotten

[2019-04-24 15:52] seans3 commented on #508
/remove-lifecycle rotten

[2019-04-24 15:52] seans3 commented on #496
/remove-lifecycle rotten

[2019-04-24 15:53] seans3 commented on #449
/remove-llfecycle rotten

[2019-04-24 15:54] seans3 commented on #415
/remove-lifecycle rotten

[2019-04-24 15:55] seans3 commented on #150
/remove-lifecycle rotten

[2019-04-24 15:56] seans3 commented on #216
/remove-lifecycle rotten

[2019-04-26 12:56] cbluth commented on #170
I am experiencing the same problem.

[code]

This error stopped happening after this:
[code]

[2019-04-26 13:24] neoKushan commented on #587
I have just encountered this issue myself. I take it nobody has any clue how to resolve?

Using AKS.

[2019-04-26 13:31] yue9944882 commented on #587
sounds like a cloud-provider issue, try contact for support?

[2019-04-26 13:33] psinger commented on #587
I think it had something to do with outgoing denied access by NSG, in my case in Azure. To test it try to allow all outbound connections.

[2019-04-27 04:47] rifelpet commented on #592
It appears this was fixed in 1.14.0 by https://github.com/kubernetes/kubernetes/pull/72142

[code]

[2019-04-27 04:47] #592 closed

[2019-04-29 07:05] Tibingeo commented on #536
/close

[2019-04-29 07:06] #536 closed

[2019-04-29 07:07] Tibingeo commented on #536
This issue was with AWS ELB timeout configuration. the load balancer was timed out before request was completed.

[2019-04-29 16:05] dzsessona commented on #587
same on aws eks . kubernetes version 1.12, deployed with terraform

[2019-04-29 18:19] seans3 commented on #512
/remove-lifecycle stale

[2019-04-29 18:20] seans3 commented on #520
/remove-lifecycle stale

[2019-04-29 18:21] seans3 commented on #147
/remove-lifecycle stale

[2019-04-29 18:22] seans3 commented on #498
/remove-lifecycle stale

[2019-04-29 18:24] seans3 commented on #99
/remove-lifecycle rotten

[2019-04-29 18:26] seans3 commented on #124
/remove-lifecycle stale

[2019-04-29 18:26] seans3 commented on #117
/remove-lifecycle stale

[2019-04-29 18:27] seans3 commented on #117
Closing this because we're tracking this issue here:
https://github.com/kubernetes/kubectl/issues/80
/close

[2019-04-29 18:27] #117 closed

[2019-04-29 18:28] seans3 commented on #250
/remove-lifecycle stale

[2019-04-29 18:29] seans3 commented on #500
/remove-lifecycle stale

[2019-04-29 18:31] seans3 commented on #11
/remove-lifecycle stale

[2019-04-29 18:33] seans3 commented on #86
/remove-lifecycle stale

[2019-04-29 18:34] seans3 commented on #47
/remove-lifecycle stale

[2019-04-30 05:11] shiywang commented on #639
current only commands like: edit, delete, apply, label, patch, get, create.. use `Unstructured objects` which could pick up the raw file namespaces. I am not sure we what to change this @soltysh

[2019-04-30 14:42] liggitt commented on #639
fixed in https://github.com/kubernetes/kubernetes/pull/77267

the issue was that when running locally, we lacked RESTMapper info to know whether the objet was namespaced, so we were forcefully clearing the namespace, thinking it was a cluster-scoped object.

I updated that logic to use the presence of a namespace field in the manifest as a hint when we're running locally without RESTMapper info

[2019-04-30 22:30] seans3 commented on #534
/remove-lifecycle stale

[2019-04-30 23:11] #639 closed

[2019-05-02 19:54] huguesalary commented on #568
I am having the same issue with the following versions:

Client 1.14.1
Server 1.12.7-gke10

[code]

[2019-05-02 21:16] seans3 commented on #186
/reopen
/remove-lifecycle rotten

[2019-05-02 21:19] liggitt commented on #186
get now works properly in master:
[code]

[2019-05-02 21:20] liggitt commented on #186
`kubectl create` creates the object successfully, but outputs incorrectly:
[code]

[2019-05-02 22:08] liggitt commented on #186
fixed `kubectl create` behavior in https://github.com/kubernetes/kubernetes/pull/77368

[2019-05-02 23:10] babilen5 commented on #576
/remove-lifecycle stale

[2019-05-03 02:37] GeekOnGadgets commented on #587
@jwenz723 I am having the same issue, did you mange to find a solution. I have provisioned the resources using terraform

[2019-05-03 14:35] Feder1co5oave commented on #580
@shroudedcode For me, adding the `watch` verb on `deployments` suppresses those errors.
In fact, while `list` and `watch` are needed for _all_ deployments in the namespace, only `get` is needed for the specific deployment that is being rolled out. (And `patch`, if you need to be able to `kubectl set image` with the same serviceaccount)

[code]

[2019-05-03 14:47] cbluth commented on #588
I have been looking for something like this, to execute `kubectl` commands against different clusters progamatically without having to deal with KUBECONFIG files on the filesystem.

[2019-05-03 16:41] shroudedcode commented on #580
Thanks a lot, @Feder1co5oave, it's working for me! The only reasons I didn't add that verb in the first place were that:

- I didn't know `watch` was a separate verb.
- The command worked flawlessly without it (except for the errors of course).

This makes me *think* there are two issues here (at least in my case):

- The [error message](https://github.com/kubernetes/kubectl/issues/580#issuecommen

[2019-05-03 17:49] Feder1co5oave commented on #580
That confusing error message is certainly misleading and also suggests some
kind of bug in kubectl.
Nonetheless, RBAC is _hard_ to work with (security always comes at a cost)
and I've yet to find the perfect workflow for finding out what minimal set
of privileges is required to perform a certain action. Usually kubectl is
more specific about the error, but to troubleshoot this one I had to resort

[2019-05-03 19:35] #186 closed

[2019-05-03 22:49] jwenz723 commented on #587
I am having a hard time remembering how I got past this issue, but I believe the issue ended up being with my AWS security groups creation. I had originally followed the guide [here](https://learn.hashicorp.com/terraform/aws/eks-intro) to get my eks cluster built using terraform. After I completed the steps in that guide I started refactoring some of the names to not include the word `demo` and wh

[2019-05-04 14:08] prksu commented on #12
/remove-lifecycle stale

[2019-05-05 01:44] jamielennox commented on #581
/remove-lifecycle stale

I think this is an easy addition and an easy first timers issue. Going to refresh in the hopes of just an acknowledgement.

[2019-05-06 10:00] dweidenfeld opened #650 "Kustomize set image validating CRDs and fails"
The `kubectl` command is currently validating CRDs in the context of Kustomize + set image.

The following command should work for my expectation, but since we're using Istio and Kubeseal it is failing.

[code]

[2019-05-06 12:32] shiywang commented on #581
I'll take a look

[2019-05-06 14:26] #493 closed

[2019-05-07 13:25] wesley-c42 commented on #501
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#define-clusters-users-and-contexts

in kubectl v1.14.1 I get `error: Unexpected args:` for using `certificate-authority-data`.

Although it doesn't explicitly say it can be used with `kubectl config set-cluster` (and I suppose they mean doing so by writing to the file) I found it confusing.

[2019-05-07 15:16] maxb opened #651 "Bug in InitClientAndConfig"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): home

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**W

[2019-05-08 09:26] mb-m opened #652 "Kubectl user exec should accept zero-length environment values"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Searched through current open issues

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2019-05-09 00:54] omeid commented on #569
/remove-lifecycle stale

[2019-05-09 14:40] sarunask commented on #151
This post really helps:
https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-401039268
So you need to delete `finalizers` from your NS and all CRD's or resources you have - and NS would be deleted

[2019-05-10 19:04] SurferJeffAtGoogle commented on #573
/remove-lifecycle rotten

[2019-05-10 19:04] SurferJeffAtGoogle commented on #573
Has the error message improved?

[2019-05-10 19:44] dmargrave commented on #216
i can confirm that on kubectl 1.9 it will honor the HTTPS_PROXY env var and I can access a cluster through a proxy

[2019-05-10 20:27] mdz commented on #524
It would be great to highlight pods in "kubectl get pods" where # of ready containers < total # of containers

[2019-05-12 12:45] dwmkerr commented on #569
I'd be keen on this too.; If there are others who would like it then would be happy to put some time in for a PR

[2019-05-12 17:12] lentzi90 opened #654 "Recommended labels are not used for created deployments and services"
**Is this a request for help?**: no

**What keywords did you search in Kubernetes issues before filing this one?**: create, recommended, labels

---

**Is this a BUG REPORT or FEATURE REQUEST?**: feature request

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**: not relevant

**What happened**: Deployments and services created with `kubectl create` doesn't use the [recommend

[2019-05-13 08:55] glyn commented on #557
/remove-lifecycle stale

[2019-05-13 15:52] lentzi90 commented on #654
As mentioned in the PR, this could break things that depend on the current labels. Closing...

[2019-05-13 15:52] #654 closed

[2019-05-15 04:54] ahmetb commented on #396
/remove-lifecycle stale

[2019-05-17 12:22] jorisroovers opened #656 "kubectl exec does not accept pod/ resource type prefix"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : kubectl exec

---

**Is this a BUG REPORT or FEATURE REQUEST?** : FEATURE REQUEST
**Kubernetes version** (use `kubectl version`):
[code]
---
When passing a podname with the ```pod/``` resource type to ```kubectl exec```, an error occurs:

[code]

It's clear ```kubectl exec``` only t

[2019-05-20 09:45] omeid commented on #569
@weibeld Sure, but that wouldn't be the *standard* way and will be hard to convince tool vendors to follow through, it is also not exactly simple or easy approach.

[2019-05-20 10:09] weibeld commented on #569
Sure, a `$HOME/.kube/config.d/` would probably be more convenient, I just think maybe the Kubernetes maintainers might not want to introduce it, because they created the [KUBECONFIG](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable) variable for the purpose of having multiple separate kubeconfig files.

What do you mean by "n

[2019-05-20 11:35] omeid commented on #569
I think `KUBECONFIG` has it's own valid use, as means of overriding the default or active switch/config.

However, if `kubectl` switch worked with `$HOME/.kube/config.d/` files, tools (terraform, eks cli, kubespray, whatnot!) would emit their config files there with an appropriate name instead of trying to mutate `$HOME/.kube/config` (eks cli, atm), or worst overwrite it, or possibly leave it up t

[2019-05-20 12:08] weibeld commented on #569
Is kubectl-switch a specific kubectl plugin or command?

In general, I wouldn't edit a kubeconfig file by hand, but use the `kubectl config` sub-commands. And for common tasks like changing the current context, or changing the namespace of the current context, I would use a tool like [kubectx](https://github.com/ahmetb/kubectx) or something like these [kubectl-ctx](https://github.com/weibeld/kubec

[2019-05-20 13:24] omeid commented on #569
By kubectl-switch, I meant `kubectl config set-context`.

[2019-05-20 18:33] prksu commented on #656
Hi @jorisroovers this feature will be release in v1.15
it's already added in [v1.15-alpha2](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#v1150-alpha2)

please be patient until v1.15 release in June 17th. thanks

[2019-05-20 18:36] prksu commented on #656
/close

[2019-05-20 18:36] #656 closed

[2019-05-20 18:46] prksu commented on #637
hi @pplu why you expect a non-zero exit code when displaying help?
the command successful termination, so it's normal to exit with zero code.

[2019-05-22 07:44] dwmkerr commented on #569
@weibeld I would tend to automate using `kubectl config` too, but for the sake of organisation I can still imagine users who would like to arrange their own config files in a more structured manner, a bit like in a `sources.d/` for apt. Even with `kubectl config` being able to specify that the config is written to a file inside of the `config.d` directory might be nice, meaning that you can automa

[2019-05-22 10:49] spacecat commented on #603
Also getting `not supported by windows`:

[code]

Ran the following command in an elevated PowerShell and it installed successfully:

`.\krew-windows_amd64.exe install --manifest=krew.yaml --archive=krew.zip`

[code]

Windows 10 Pro

[2019-05-22 16:27] weibeld commented on #569
@dwmkerr It could indeed be more user-friendly to replace the `KUBECONFIG` variable with a `.kube/config.d` directory. So that the effective configuration would always be the merge of `.kube/config` and all files in `.kube/config.d` (if present). The `KUBECONFIG` variable wouldn't be needed anymore. Or does someone see a use case where this approach is inferior to having the `KUBEONFIG` variable?

[2019-05-22 17:41] seans3 commented on #603
/sig cli
/area kubectl
/kind bug

[2019-05-23 23:11] #76 closed

[2019-05-24 05:10] Reinkaos opened #659 "Kubectl cp error using kubectl version 1.14.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

error: open is a directory

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2019-05-24 14:36] primeroz opened #660 "Kubectl silently remove all annotation if any of them is set to the string true without quotes"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
Tested on 1.12 , 1.13 and 1.14

**Environment**:
- **Cloud provider or hardware configuration**: GKE and local Kind Cluster

**What happened**:
When applying a manifest for which one of the annotations has the value _true_ unquoted then all annotations are removed when the resource is cr

[2019-05-24 16:28] #115 closed

[2019-05-24 16:28] #449 closed

[2019-05-25 14:34] jon-walton commented on #603
I just updated to Windows 10 1903 (10.0.18362) and can no longer reproduce this under WSL.

Can anyone else confirm?

[2019-05-27 07:49] rdxmb commented on #572
/remove-lifecycle stale

[2019-05-28 13:08] groner commented on #577
This is still an issue with kubectl v1.14.1

/remove-lifecycle stale

[2019-05-28 13:52] Azrrael commented on #568
Hi there. We had this same issue in Azure's AKS with:
[code]
and
[code]
The thing is, for the latter case, we tried with the following hpa configuration:
[code]
and this seems to work, but if we run a describe, we'll get
[code]
Note that apiVersion is autoscaling/v1 but latter on we got autoscaling/v2beta2 last-applied-configuration. This happens also if we do an edit, and **if you change autoscal

[2019-05-29 16:38] fejta-bot opened #661 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2019-05-30 11:28] novinfor commented on #594
I think it is MSYS subsystem issue (e.g. see https://github.com/docker/toolbox/issues/673).

As a workaround run with:
`MSYS_NO_PATHCONV=1 kubectl get --raw /apis/apps/v1`
Or create an alias:
`alias kubectl='MSYS_NO_PATHCONV=1 kubectl'`

[2019-05-30 22:54] TrojanFox commented on #587
bump

[2019-05-31 20:37] afreiberger opened #662 "OS_CACERT paths in homedirs unable to be read by snap"
When running kubectl via snapcraft snap against a kubernetes environment that is authenticated via Keystone with private CA SSL keys on the API interface, the following error is noted:

An error occurred: failed: Cannot read CA file: open /home/myuser/myCA.crt: permission denied

I believe the snapcraft.yaml will need to have "home" plug added to support ability to read files from the user's home

[2019-06-02 15:23] dwmkerr commented on #569
Cool, I've got time this week so will aim to do it then 😄

[2019-06-02 16:41] #661 closed

[2019-06-02 17:15] prksu commented on #593
/remove-lifecycle stale
/kind feature

[2019-06-03 17:11] digeler commented on #596
Did you got this issue resolved?

[2019-06-03 18:32] duglin commented on #582
/remove-lifecycle stale

[2019-06-03 20:11] philips commented on #597
/remove-lifecycle stale

[2019-06-03 20:11] philips commented on #597
never mind, this is fixed. https://github.com/kubernetes/kubectl/blob/master/SECURITY_CONTACTS

[2019-06-03 20:12] philips commented on #597
gah, it is not fixed, the kubernetes security commitee is still listed as the security contact. Please fix!

[2019-06-03 21:51] digeler commented on #596
/lifecycle open

[2019-06-03 23:35] seans3 commented on #596
/remove-lifecycle stale

[2019-06-04 00:33] wyardley commented on #600
/remove-lifecycle stale

[2019-06-04 11:53] mentos1386 opened #663 "Kubectl proxy not working with sockets (exec command) 403 Forbidden"
When running `kubectl proxy` on one machine and then trying to do `kubectl exec [pod] -- echo "hello world"` on the other. Command fails with `unable to upgrade connection: Forbidden`.

[code]

Commands like `kubectl get pods` work fine.

It works fine without a proxy
[code]

[2019-06-04 17:29] taragu commented on #582
/assign

[2019-06-05 21:31] Aracki opened #664 "Kubectl port-forward doesn't warn about used port?"
eg. I have a service on local machine run under port `5555`.
Why then the command: `kubectl port-forward {{pod_name}} 5555:{{some_port}}` is allowed?

Isn't it supposed to warn the user about: `port 5555 is already used`?

[2019-06-06 01:39] ptone opened #665 "wait command can be more robust"
A use of the wait command is useful in sequential automated deployment of kube resources.

However the command is currently rather brittle in automation as if the resources are not yet created, wait simply exists with an error

for example in a snippet like this:

[code]
The wait command errors out, as pods matching those labels are still being created. This means for automation, there needs to be

[2019-06-06 08:44] mentos1386 commented on #663
Seems to be intended to prevent possible security issues https://github.com/kubernetes/kubernetes/issues/21464

[2019-06-06 09:27] #663 closed

[2019-06-06 11:20] weibeld commented on #585
/remove-lifecycle stale

[2019-06-06 11:29] #514 closed

[2019-06-06 16:21] antoineco commented on #151
@sarunask that's a terrible idea, this method bypasses finalizers so it leaves all the objects belonging to the namespace inside your cluster.

See #73405 and https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-429754733 instead.

[2019-06-07 03:45] #519 closed

[2019-06-07 17:35] pswica commented on #659
I tested and had this issue as well. I tried to address in my PR here: https://github.com/kubernetes/kubernetes/pull/78785

[2019-06-07 22:14] pswica commented on #664
I tested and found this as well. I tried to fix here: https://github.com/kubernetes/kubernetes/pull/78802

[2019-06-08 05:09] pswica opened #666 "kubectl port-forward does not require root privileges for privileged ports"
In my PR here:
https://github.com/kubernetes/kubernetes/pull/78802
I found that tests fail because they test on port 80, and my PR does a Net.Listen on the port asked for when running `kubectl port-forward <pod> PORT:PORT`.

Long story short, my PR mentioned above implicitly adds the feature that forwarding from ports like 80 and 443 requires sudo, which makes sense from a security standpoint. As

[2019-06-08 08:13] #543 closed

[2019-06-08 13:10] pswica commented on #666
Addressing here: https://github.com/kubernetes/kubernetes/pull/78802

[2019-06-09 18:16] ahmetb commented on #502
/reopen
/remove-lifecycle rotten

[2019-06-09 20:49] #216 closed

[2019-06-10 02:50] mcasperson opened #667 "kubectl leaks tokens for configs created with the azure command line tools"
When connecting to an Azure AKS cluster, you run the command `az aks get-credentials` to generate a local `~/.kube/config` file. For whatever reason, this config file has both `client-certificate-data` and a `token`. When you run `kubectl config view`, the certificate data is redacted, but the token is displayed in plain text.

For example, this is an example of the result of running `kubectl conf

[2019-06-10 02:55] #570 closed

[2019-06-10 04:53] pswica commented on #665
I tried testing this and I don't think I'm seeing the failure that you are:

`kubectl apply -f pg.yaml && kubectl wait --for=condition=Ready pod -l app="postgres" --timeout 2m`

Output (after waiting at a blank prompt for 20 or so seconds to download the postgres docker container for the first time and run it):

[code]

What error message did you get?

[2019-06-10 22:50] pswica commented on #520
@seans3
I think @adampl is correct in his earlier statement. I tested just now and could not reproduce.

Tried a few scenerios including:
1. without and then with nodeSelector
2. changing nodeSelector

I think we can close.

[2019-06-10 23:06] pswica commented on #652
I tried to address here: https://github.com/kubernetes/kubernetes/pull/78875

[2019-06-11 00:01] seans3 commented on #520
@pswica Thanks for the help--closing.

/close

[2019-06-11 00:01] #520 closed

[2019-06-11 00:04] seans3 commented on #652
/sig cli
/area kubectl
/kind bug

[2019-06-11 12:17] mb-m commented on #652
Thank you so much, @pswica!

[2019-06-11 17:12] pswica commented on #47
I tried resolving this here: https://github.com/kubernetes/kubernetes/pull/78910

[2019-06-11 17:13] seans3 commented on #652
/assign @pswica

[2019-06-11 17:55] pswica commented on #534
I'm not sure if I'd classify this as a bug. I think AWS has something specifically for re-authenticating kubeconfigs:

https://github.com/kubernetes-sigs/aws-iam-authenticator

[2019-06-11 20:54] apelisse commented on #47
There is already a proposal to fix it in https://github.com/kubernetes/kubernetes/pull/69415, and it's not that easy. Though it seems like it's been abandoned. so I'd be happy to see someone pick it up

[2019-06-11 20:55] apelisse commented on #47
See also:
- https://github.com/kubernetes/kubernetes/issues/70232
- https://github.com/kubernetes/kubernetes/issues/53201

[2019-06-11 21:32] pswica commented on #47
Woah yeah it looks like this had much more history than I expected, and that I'm probably wrong haha.

Would you happen to know why my solution is not good? I basically found that line was the culprit and ran some `fmt.Printlns`. From there I went to a regex tester until I found something that worked. Then I tested against `hack/local-up-cluster.sh` and it worked like a charm.

[2019-06-11 22:47] apelisse commented on #47
Your code is perfectly fine. The problem is with backward compatibility. If we start inserting these newly permitted object in the database, it might be a problem when you have multiple masters running at the same time (and not being updated at the same time), or if you fallback your master upgrade to a former version. Then those objects are no longer valid (this is an API change) and will be "stu

[2019-06-11 22:53] pswica commented on #47
That was an amazing explanation. Thanks a lot for taking the time to post that, I can now see that my solution was pretty naive because, in its current state, I can't imagine it being backwards compatible.

[2019-06-12 00:08] seans3 commented on #125
/remove-lifecycle stale

[2019-06-12 13:04] mkuratczyk opened #668 "`kubectl get --watch` exits after ~90 seconds when getting CRDs"
I'm not sure whether the problem is on the `kubectl` side or the API server side but reporting here since you can hit this problem when trying to use `kubectl`.

**PROBLEM**
If you run `kubectl get --watch someCRD`, kubectl will exit after some time (between 1 and 2 minutes in my testing). For example:
[code]

**EXPECTED BEHAVIOUR**
`kubectl` should wait (watch) indefinitely as it does for built-i

[2019-06-12 18:00] pswica commented on #534
@seans3
Given that the issue is with AWS IAM (not kubectl), and given that AWS has a tool for this (see above), do you think we can close this issue?

[2019-06-12 18:15] seans3 commented on #534
Yes. I agree with @pswica. Closing this issue.

/close

[2019-06-12 18:15] #534 closed

[2019-06-12 18:17] seans3 commented on #668
/kind bug
/sig cli
/area kubectl

Giving an initial priority of P2. Please update the priority if necessary.

/priority P2

[2019-06-12 18:20] seans3 commented on #668
Please note the client/server versions are out of the support window. Kubernetes only supports +/- 1 version for client/server. So the 1.14 API server is only guaranteed to work with 1.13, 1.14, and 1.15 versions of kubectl. Please update the issue with versions that are in the support window. Otherwise, the issue will eventually be closed.

[2019-06-12 20:43] mkuratczyk commented on #668
I've reproduced it using kubectl 1.14.2 on a 1.14.2 cluster (Kind) as well as 1.13.5 (GKE).

[code]
[code]

[2019-06-12 20:57] seans3 commented on #668
Thanks Michal for the effort. Please let me know if you're comfortable with the priority P2.

[2019-06-12 20:58] seans3 commented on #668
/assign @mkuratczyk

[2019-06-12 21:16] mkuratczyk commented on #668
Yes, P2 is fine. I'm also happy to do some further debugging but with a quick look at kubectl code I could not find any reason why it would treat CRDs differently than other resources. If you have any guesses where the problem can be / pointers at how to debug this kind of issue, I'm happy to spend some more time on it.

Thank you,

[2019-06-13 03:18] pswica commented on #668
I found I got the same issue so I tried to address in the PR above.

[2019-06-13 13:41] pswica commented on #668
A better fix than mine was created here:
https://github.com/kubernetes/kubernetes/pull/78962
It should get resolved in v1.16

[2019-06-13 14:49] rdxmb opened #669 "kubectl parameter `--show-kind` combinded with `-o` sometimes is ignored"
`--show-kind=false` does not work when combined with `-o name`

[code]

[code]

[code]

but

[code]

expected:

[code]

-------------------

For now I just use formatting with `-o custom-columns=NAME:.metadata.name`, where the kind always is not displayed.

[code]

and also

[code]

[2019-06-13 15:34] moudidx commented on #544
make sure that kubernetes has a kubeconfig configured. i had the same error, it was resolved when i added this line to my bashrc file: export  KUBECONFIG=$KUBECONFIG:~/.kube/config

[2019-06-13 23:05] pswica commented on #415
I tried to fix this in the PR above

[2019-06-15 15:52] #415 closed

[2019-06-16 15:30] pswica commented on #125
I tried this on a Ubuntu and MacOS High Sierra 10.13.6 machine and my Ubuntu machine VERSION="18.04.2 LTS (Bionic Beaver)"

I did not have zsh installed on either so I installed on both and ran `source <(kubectl completion bash)`. On my Ubuntu I ran into zero issues. On the MacOS I simply got a `command not found compinit` error (as did @sttts).

Looking through this thread, it seems as if users h

[2019-06-16 23:12] tdmalone commented on #483
/remove-lifecycle stale

[2019-06-17 13:17] pswica commented on #125
@seans3
When you have a chance (I know you are super busy), let me know what you think of my above triage. I can always set my PR above to leave this open but I think it is good to close.

[2019-06-17 21:02] #525 closed

[2019-06-18 09:28] cliffburdick commented on #454
This would be really useful as large files base64 encoded is not manageable.

[2019-06-18 17:39] seans3 commented on #454
I'm not currently sure how feasible this is, but there seems to be a lot of interest--raising the priority.

/priority P2

[2019-06-18 20:39] pswica commented on #660
If you try to make something with a boolean true with `kubectl create -f` you will get an error as the .json parser converts boolean `true` into an empty string `""` when unmarshalling it into a type `string`. I think there's a bug, but it's from the fact that `kubectl apply -f` let's you create this while ignoring the subsequent annotations, instead of just failing out like `kubectl create` does.

[2019-06-18 20:41] seans3 commented on #660
/kind bug
/sig cli
/area kubectl
/priority P1

[2019-06-19 13:49] madAndroid commented on #483
It looks like this might already have been implemented? I was looking for a way of doing this, and was able to achieve this using:
[code]

[2019-06-21 01:39] pswica commented on #542
@m1kola I could not reproduce as well. I think this is good to close.

[code]

[2019-06-21 03:04] pswica commented on #542
/close

[2019-06-21 03:04] #542 closed

[2019-06-23 23:29] dankohn commented on #623
/remove-lifecycle stale

[2019-06-23 23:50] seans3 commented on #623
/assign

[2019-06-24 00:11] seans3 commented on #537
/remove-lifecycle stale

[2019-06-24 06:13] G-Harmon commented on #185
/remove-lifecycle stale

[2019-06-24 16:25] pswica commented on #651
Good catch. I don't think this exists in the source code anymore, however.

I ran:
[code]

[2019-06-24 16:26] pswica commented on #651
I also cannot find `InitClientAndConfig()`.

/close

[2019-06-24 16:32] pswica commented on #669
I have tested this and get the same thing.

[2019-06-24 19:48] maxb commented on #651
I concur that the affected code is no longer here since this repository was emptied and migrated to the staging process, so I'll close the issue.

Using GitHub search for InitClientAndConfig, it does seem there are various projects out there still depending on the removed code, though - might it be worth putting a note in this repo's README.md to explain the deletion of the k8s.io/kubectl/pkg/plug

[2019-06-24 19:48] #651 closed

[2019-06-24 21:14] omerh commented on #125
Just had this issue, and played with it a bit.
When I've placed the auto completion in the *end* of my `.zshrc` file I got the same exit code 127 (that is after adding some stuff to my fresh installation.

Once I've moved the autocomplete command to be right after sourcing zsh

[code]

I get exit 0 and all is ok.
I didn't had time to investigate what's going on that cause this, but it is for me.

[2019-06-25 09:28] superbrothers commented on #625
Where was the code of kubectl book migrated to? I could not find it. 😞

Anyway,  kubectl book is not stable work currently, so I’ll close this issue.

[2019-06-25 09:28] #625 closed

[2019-06-25 12:25] rmalwade opened #670 "Getting an error while using kubectl get nodes command from Windows 10 PowerShell"
Hi, I am trying to connect to my K8s cluster. While verifying connection using 'kubectl get nodes', I get an error : error: You must be logged in to the server (Unauthorized) I have tried removing kubectl and re-installing. Nothing works. When I use : PS C:\Users\RajeshMalwade> kubectl config view command..it does show my ICP cluster but not the IBM Public Cloud Cluster. PS C:\Users\RajeshMalwade>

[2019-06-25 13:54] amandadebler commented on #587
We are experiencing similar symptoms with all clusters created within the past week or so. I thought that it might have something to do with this: https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2019-06-18

Except that our clusters use the Azure networking plugin, not Kubenet.

[2019-06-25 15:22] smarterclayton commented on #582
I would be ok hiding the blank lines if you specify --no-headers, but if you're getting headers back you already need to handle eliminating those and so an empty line is just another awk away.

[2019-06-25 21:10] pswica commented on #670
To me, this is more of a IBM cloud issue than a kubectl one. Have you tried making an issue with their support? (notice that you are getting authorization issues, and not getting bugs from the `kubectl` command.

[2019-06-25 22:09] pswica commented on #669
I tried to fix this in the above PR: https://github.com/kubernetes/kubernetes/pull/79393

[2019-06-26 05:31] codezomb opened #671 "v1.15 describe ingress is not backwards compatible"
Possibly related: https://github.com/Azure/AKS/issues/1072

Using the v1.15 client today I ran into an issue where I could `get ingress` but not `describe ingress`. If I tried to describe I would receive the following error:

`Error from server (NotFound): the server could not find the requested resource`.

After some trial and error (shout-out to #kubernetes-users on slack) we determined that the

[2019-06-26 05:38] seans3 commented on #671
Please note: Kubernetes policy is to guarantee `kubectl` is compatible with API server +/- 1 version. So `kubectl` version 1.15 that you report is guaranteed to be compatible with API server version 1.16, 1.15, and 1.14. Please attempt to reproduce with `kubectl` version 1.14 and server version 1.13. If this behavior can not be reproduced for this case, this issue will be closed.

[2019-06-26 05:40] codezomb commented on #671
I was not aware of that guarantee. I just checked with v1.14 and it does in fact work. Thanks!

[2019-06-26 05:42] seans3 commented on #671
I apologize if I sounded dismissive. This feedback is useful, and we appreciate it -- thanks.

[2019-06-26 05:43] codezomb commented on #671
Not at all! I appreciate the info.

[2019-06-26 05:44] seans3 commented on #671
/close

[2019-06-26 05:44] #671 closed

[2019-06-26 12:22] bhack commented on #551
Please don't stale

[2019-06-26 12:41] gajus commented on #551
/remove-lifecycle stale

[2019-06-26 17:42] seans3 commented on #556
/remove-lifecycle stale

[2019-06-26 18:05] seans3 commented on #407
/remove-lifecycle stale

[2019-06-26 20:39] guymguym commented on #582
Hey @taragu @smarterclayton
This is my output of running get all in my terminal:
[code]
Seems pretty clear that this is not a reasonable human readable cli output, regardless of scripting and automating, right?
And this is a new issue on 1.15. It wasn't the case for 1.14.
Thanks!

[2019-06-26 20:46] liztio opened #672 "Add flag for foregroundDeletion"
There are three kinds of deletions apiserver supports: orphan, background, and foreground. Right now kubectl supports only orphan (--cascade=false) and background (--cascade=true). But there's no way to do a "foreground" deletion. In some cases foreground is required, for example when dependent resources need to be cleaned up for owner deletion to succeed.

I'd like to see `--propegation-policy=fo

[2019-06-26 20:50] liztio commented on #672
possibly related: https://github.com/kubernetes/kubernetes/issues/59850

[2019-06-26 23:10] duglin commented on #582
@guymguym I agree that the output you show above is an issue in the sense that we show blank lines after a section of data even when there is no data in the section, which leads to extra blanks lines. And that can be easily fixed with an "if" around the println. However, this issue isn't about that. This one is more about the fact that the blank lines go to  stderr instead of stdout.

So, if you r

[2019-06-26 23:16] guymguym commented on #582
@duglin Two issues on two adjacent lines of code - I was just deduping for less small nitty issues :) Thanks

[2019-06-26 23:18] duglin commented on #582
@guymguym ah - yes, merging the other fix into the existing PR would, of course, work too!  :-)

[2019-06-26 23:18] duglin commented on #582
As long as it doesn't double the review time  LOL

[2019-06-26 23:46] seans3 commented on #80
/remove-lifecycle stale

[2019-06-27 13:46] taragu commented on #582
@guymguym @duglin sure I'll also add a fix for the issue of `showing blank lines after a section of data even when there is no data in the section` to this PR

[2019-06-27 17:03] taragu commented on #582
I've just updated the PR. @smarterclayton would you please take a look?

[2019-06-28 20:18] #250 closed

[2019-06-28 21:00] pswica commented on #670
/close

[2019-06-28 21:00] #670 closed

[2019-06-28 22:34] alexkreidler commented on #527
I firmly believe that this functionality belongs in the core. It is unrealistic to say that you are displaying all kubernetes resources and it is misleading.

[2019-07-03 01:12] almiche commented on #593
This sounds like a good idea I'd be happy to work on this if anyone thinks it's a worthwhile addition to kubectl 😄

[2019-07-03 20:43] bergmeister commented on #613
The following module offer tab completion of `kubectl` within PowerShell:
https://github.com/felixfbecker/PSKubectl

[2019-07-04 11:30] #584 closed

[2019-07-05 04:47] #578 closed

[2019-07-05 08:49] 12307 opened #674 "can not import kubectl in my project by go.mod"
I want to use kubectl in my project, when i add it to my go.mod, it can not be resolved.
Is any method to use it in self projects?

`
module sample

require "k8s.io/kubectl"
`

[2019-07-05 10:22] #674 closed

[2019-07-05 13:56] #581 closed

[2019-07-08 20:00] #603 closed

[2019-07-09 02:18] dustin-decker opened #675 "kubectl describe ingress not working (1.15.0 against 1.12.7 server)"
[code]

[code]

It works if I downgrade kubectl to 1.12.7

[2019-07-09 06:16] oke-py opened #676 "How to contribute to the kubectl book is confusing"
### question summary

1. Which repository should we open an issue on?
1. Which source code should we modify?

### my opinion

1. [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes)
1. [kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl/docs/book](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl/docs/book)

### details

[Introduction - the Kube

[2019-07-09 11:18] wknapik commented on #554
/remove-lifecycle stale

[2019-07-09 15:19] dustin-decker commented on #675
https://github.com/kubernetes/kubernetes/pull/74057 seems to be related.

kube-apiserver logs indicate that `get` uses the `extensions/v1beta1` api, and `describe` uses the `networking.k8s.io/v1beta1` api:

[code]

[2019-07-09 15:21] dustin-decker commented on #675
This is the yaml output of the resource (using the deprecated ingress):

[code]

[2019-07-09 20:46] #185 closed

[2019-07-10 03:57] oudream commented on #151
kubectl api-resources -o name | xargs -I {} kubectl get {} --show-kind --ignore-not-found

##
##

[2019-07-10 03:59] oudream commented on #151
master $ kubectl api-resources -o name
bindings
componentstatuses
configmaps
endpoints
events
limitranges
namespaces
nodes
persistentvolumeclaims
persistentvolumes
pods
podtemplates
replicationcontrollers
resourcequotas
secrets
serviceaccounts
services
mutatingwebhookconfigurations.admissionregistration.k8s.io
validatingwebhookconfigurations.admissionregistration.k8s.io
customresourcedefinitions.a

[2019-07-10 14:41] Warok21 opened #677 "A copy of your changes has been stored to "/tmp/kubectl-edit-4jyoa.yaml" error: Edit cancelled, no valid changes were saved."
### Environment
Installation method:
Kubernetes version: client : 1.14, server 1.14
Dashboard version:
Operating system:
Node.js version ('node --version' output):
Go version ('go version' output):
### Steps to reproduce
When i want to edit my file to use the public IP of my server, I get the error in the tittle:
`sudo kubectl -n kubernetes-dashboard edit service kubernetes-dashboard
`
### Observe

[2019-07-10 18:08] yashbhutwala opened #678 "kubectl delete ns has inconsistent behavior"
**What happened**:
When passing multiple namespaces to `kubectl delete ns`, it blocks if the given parameters exist, but it does not block if one of the parametes does not exist.

**What you expected to happen**:
In order to be consistent, if we're blocking on multiple parameters, we should block until all events finish regardless if one of them errors.

**How to reproduce it (as minimally and pre

[2019-07-10 18:35] yashbhutwala commented on #678
So, I see there is a `--ignore-not-found` flag, which will not cause this.  Still I would've expected `kubectl` to print out the error, but not return immediately.  So, perhaps still a bug in that there should be no `--ignore-not-found` flag, and it should always print the NotFound error, but continue to block until the remaining Found ones finish terminating.

[2019-07-11 06:16] bdowling commented on #151
@oudream thanks for that.  Slight improvement since most use cases of this is dealing with a particular _NAMESPACE_ ...

kubectl -n _NAMESPACE_ api-resources **--namespaced=true** -o name | xargs --verbose -I {} kubectl -n _NAMESPACE_ get {} --show-kind --ignore-not-found

[2019-07-11 09:37] stefaneg commented on #598
Encountered this issue right now. Makes very hard to rollback precisely to old revisions if you cannot see what image it is referring to.

[2019-07-11 09:40] waynesi commented on #598
Thanks @stefaneg for your follow-up. I was almost convinced my bug report was talking rubbish as nobody   gave it a damn!

[2019-07-11 09:57] stefaneg commented on #598
Interestingly it gave me the right image info if the -o yaml option is omitted. Which is probably the reason why people do not care more about this.

[code]

[2019-07-11 10:57] waynesi commented on #598
Hi @stefaneg , maybe my bug report was poorly written then. I did mean the command gave me the right image version info without `-o yaml` -
* With `-o yaml`, I got the same version number regardless which revision I was checking.
* Without `-o yaml`, I got the correct version number corresponding to the revision I was checking.

[2019-07-11 14:00] oscarlofwenhamn commented on #298
/reopen

This is definitely a feature that would be nice. Especially in combination with helm deployments, being able to easily monitor an entire namespace would greatly improve efficiency.
I imagine it would be a bit iffy to sort out, however, seeing as `-w` adds changes to the bottom line, but perhaps something like
[code]
would be good enough.

[2019-07-11 14:01] oscarlofwenhamn commented on #298
Fair enough.

[2019-07-11 17:03] A-And opened #679 "kubectl kustomize outputs UTF-16LE under PowerShell"
## Repro Steps
1. Clone the [kustomize HelloWorld example](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/helloWorld)
1. Navigate to ./examples/helloWorld
1. Under PowerShell run `kubectl kustomize > kustomize.log`
1. Resulting file is in UTF-16LE

This is inconsistent with running `kubectl` under bash where output is in UTF-8.

PowerShell version:

|Major   	|Minor   	|Build

[2019-07-11 17:53] mirzakhalov commented on #675
Same problem! Version 1.12.7 works fine.

[2019-07-13 07:47] dwmkerr opened #680 "Support kubectl configuration file loading from a '~/.kube/config.d' directory"
(Originally based on #569)

cc @kubernetes/sig-cli-feature-requests

This feature request is to allow the `kubectl` tool to load configuration automatically from the `$HOME/.kube/config.d/` directory. This would allow configuration files to be broken down and structured in a more simple fashion, and allow users more organisation when managing many clusters.

## Design Document

The design document

[2019-07-13 07:47] #680 closed

[2019-07-13 07:49] dwmkerr commented on #569
FYI I've created the design document and raised the feature request in the appropriate location (I think!) and mentioned this issue there, so I believe this issue can be closed now as it is linked to be the new feature request.

[Design Document PR](https://github.com/kubernetes/community/pull/3890)

https://github.com/kubernetes/kubernetes/issues/80120

[2019-07-13 21:25] otakumike commented on #675
I also encountered this problem running client 1.15.0 against a 1.13.7-gke.8 server:

[code]

Downgrading to client 1.14.3 solved it:

[code]

[2019-07-14 11:21] Aracki opened #681 "Should kubectl describe command display port names?"
I can see the port names only by:
`kubectl get pod <pod_name> -o yaml`

...but not with `kubectl describe`. Does the command intentionally miss the names or we can add that?

I was thinking about making a PR, but not sure if I am missing something important. 👀

Kubernetes version: 1.13.

[2019-07-15 06:56] omeid commented on #569
I closed this issue under the impression that you have opened a pull request, now after some looking into this again, I am not sure that is the case. Is this issue not the right way to go about discussion whatever something is up for consideration or not?

I don't understand why an issue related to `kubectl` needs to be opened against `kubernetes` or `community`. Can you please help me understand?

[2019-07-15 15:39] #582 closed

[2019-07-16 00:27] geekofalltrades opened #683 "shell completion is intolerably slow on medium-to-large clusters"
My kubectl:
[code]

My shell:
[code]

We have a cloud-hosted Kubernetes cluster located geographically very close to us which has about 2250 pods in our main deployment namespace. I don't know for sure, but I suspect that this isn't a particularly huge cluster, relatively speaking; maybe medium to medium-large sized.

Tab completion for `get pod` takes 6-7 seconds. It's so slow that it's basically

[2019-07-16 19:16] seans3 commented on #644
/remove-lifecycle stale

[2019-07-16 19:20] seans3 commented on #683
/kind bug
/area kubectl
/sig cli
/priority P2

[2019-07-16 19:58] stang opened #684 "error when applying patch is some edge case"
# Issue
We randomly discovered an edge case where the following sequence trigger an error:
[code]

Note: `manifest-v1.txt` and `manifest-v2.txt` are both _legal_ objects. In `manifest-v1.txt`, the `.spec.jobTemplate.spec.template.spec.imagePullSecrets` contains dupes but this is considered as valid by kubernetes.

# Environment
[code]

# How to reproduce
[code]
[manifest-v1.txt](https://github.com

[2019-07-16 20:38] seans3 commented on #684
/sig cli
/area kubectl
/kind bug
/priority P2

Please note that the version support window is violated in this example (client version 1.15 -> server 1.12), but we'll mark this as a bug anyways. Kubernetes guarantees a +/- 1 version skew. So with the 1.12 server, only kubectl versions 1.11, 1.12, and 1.13 are guaranteed to work. Please reproduce this problem with a supported kubectl version.

[2019-07-16 21:33] seans3 commented on #675
Please note that Kubernetes version skew policy is to provide a kubectl that is guaranteed to work against an API Server that is +/- 1 version. So for the initial scenario of a 1.12 API Server, kubectl version 1.11, 1.12, and 1.13 are guaranteed to work. Closing this issue.

/close

[2019-07-16 21:33] #675 closed

[2019-07-16 21:39] seans3 commented on #679
/sig cli
/kind bug
/priority P2

/assign @Liujingfang1
/assign @monopole

[2019-07-16 21:40] seans3 commented on #298
/remove-lifecycle rotten
/reopen

[2019-07-16 21:41] seans3 commented on #298
/kind feature
/sig cli
/area kubectl

[2019-07-16 21:42] seans3 commented on #598
/remove-lifecycle rotten
/sig cli
/area kubectl
/kind bug
/priority P2

[2019-07-17 10:18] stang commented on #684
Thanks @seans3! We initially discover the issue using `v1.12` but opened the issue with `v1.15` as I tested it afterward.

I've updated the issue report.

[2019-07-18 00:53] asalkeld commented on #637
[code]

[2019-07-18 03:34] asalkeld commented on #227
It looks like this was fixed in 1.16 commit https://github.com/kubernetes/kubernetes/commit/448e3f792a2993ae3b3133740904ed87c4515fd0

[2019-07-18 04:08] seans3 commented on #637
As pointed out in the previous two comments, `kubectl --help` terminates successfully, so it should return exit code 0. Closing this issue.

/close

[2019-07-18 04:08] #637 closed

[2019-07-18 10:22] dwmkerr commented on #569
Hi @omeid honest I found the guide for contributing quite confusing, I was following the instructions here:

https://github.com/kubernetes/community/blob/master/sig-cli/CONTRIBUTING.md

I followed the instructions which involved creating the design doc, opening an issue on staging etc, it's quite a complex process so far, and I'm not sure the issues are even being seen...

[2019-07-18 11:07] #227 closed

[2019-07-18 20:45] jlegrone commented on #660
I believe this may be a duplicate of https://github.com/kubernetes/kubernetes/issues/59113

[2019-07-19 07:07] primeroz commented on #660
It is a duplicate indeed. closing this one to remove noise

[2019-07-19 07:07] #660 closed

[2019-07-20 20:14] clehene commented on #675
@seans3 perhaps a version compatibility warning would be useful to avoid time spent troubleshooting this..

[2019-07-20 20:18] clehene opened #685 "kubectl should have a version skew warning"
See https://github.com/kubernetes/kubectl/issues/675

As per @seans3

In this case, it would be appropriate to warn when this is the case.

[2019-07-20 20:19] clehene commented on #685
Just saying, having blog posts about this is a good argument for the feature https://www.benpickles.com/articles/72-downgrading-kubectl-with-homebrew

[2019-07-22 20:04] seans3 commented on #564
/remove-lifecycle stale
/area kubectl

[2019-07-22 20:04] seans3 commented on #564
/priority P2

[2019-07-22 23:30] balopat opened #686 "Service port forwarding recovery on restarted pods"
When I start `kubectl port-forward svc/leeroy-app 50053:50051 ` it works the first time.
If I kill the pod behind the service, kubernetes restarts the pod, and then the port forwarding starts failing:

[code]
If I kill manually kubectl port forwarding and restart, it works.

I would love to see the recovery automatically instead of having to parse the output and restart manually.

We are building

[2019-07-22 23:46] seans3 commented on #31
/remove-lifecycle stale

[2019-07-23 03:02] r-richmond commented on #125
In case this helps someone else down the line; I was running into a similar error where autocomplete would only work if I ran the command twice and it returned error 127. I resolved this by ensuring that the latest version of kubectl was installed and first in my path.

As of this writing docker for Mac installs an outdated version of kubectl that appears to have been causing my problems
[code]

`

[2019-07-23 08:15] akarasik opened #687 "Occasionally "broken pipe" and "connection reset by peer" on version 1.11.6"
Hi,

I have a kubernetes cluster running version 1.11.6, which uses a cluster of 3 etcd instances.
I run a process that uses kubectl 1.11.6, and updates secret on all namespaces, meaning running this on 47 namespaces:
[code]
I noticed that occasionally (about once in 2 runs) the create command fails with errors like:
[code]
or
[code]
There is no certain namespaces that it fails on.
And it **never*

[2019-07-23 11:40] aserrallerios commented on #221
I use helm and this help me fix the issue:

[code]

[2019-07-24 03:47] distortedsignal opened #688 "Kubectl does not show all HTTP Headers sent or returned when verbose logging is turned on"
*As A...* developer working closely with `kubectl`
*I Expect...* all HTTP headers to be shown on both request and response when logging is turned up to its most verbose level (`kubectl ... -v=10`)
*I Experienced...* that at least a few HTTP Headers were either left out or removed when logging was turned up.

**What happened**:

As an example, here's a walkthrough of a terminal session that I have

[2019-07-24 03:47] distortedsignal commented on #688
I would be glad to help if someone could point me to the logging configurations for kubectl.

[2019-07-24 13:53] iamtakingiteasy opened #689 "How to select resource api version when doing kubectl describe?"
Say, I want to describe extensions/v1beta1/Ingress, but kubectl defaults to networking.k8s.io/v1beta1/Ingress. How to override that?

[2019-07-24 16:54] distortedsignal commented on #688
I think this is a pretty low priority issue - almost nobody is going to care about this. I care because I was recently writing an HTTP server to sit between a user and Kubernetes, and this issue frustrated me greatly.

[2019-07-25 10:42] prksu commented on #528
/remove-lifecycle stale

[2019-07-25 10:44] prksu commented on #528
@seans3 do we still need this feature?

[2019-07-25 15:07] FilipB commented on #454
Not sure if it's applicable here, but I was advised to use nice workaround for OpenShift 4.1.
container_ID is needed.
Then you can run on your node where the container was running:
sed -n  '/path/ s/merged/diff\//p' /var/lib/containers/storage/overlay-containers/$container_ID/userdata/config.json
which will give you location of directory which contains added files to your container e.g.:
/var/lib/

[2019-07-25 23:01] #652 closed

[2019-07-26 00:04] schollii commented on #528
The feature as described would be nice but might be too complicated to implement.

At the very least the NetworkPolicy "describe" should show which pods it has selected and what is enabled/disabled for each one. If this is not too difficult, I could give it a shot.

Also the fact (IIUC - I have not tested that rigorously but that seems to be the case) that when a policy is in place in a namespace,

[2019-07-26 00:53] distortedsignal commented on #688
It seems like some of this is already taken care of - when making a request to my server's `/openapi` endpoint with `-v=10`, I do get a "trace-like" dump. Would it be possible to get that for other requests as well?

[2019-07-26 13:53] DBarthe commented on #564
I guess this is intended behavior according to the [design proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/customresources-subresources.md#status-behavior) :

[2019-07-26 21:03] Ghazgkull opened #690 "kubectl rollout status -f fails with "unable to decode" for file containing CRD reference"
I’m finding the kubectl rollout status fails when I point it either a file (-f) or a kustomize directory (-k) with manifests that reference CRDs. An example would be if the manifests include an Istio VirtualService.

Here’s an example of what I see. I’ve got some CRDs (DestinationRule and VirtualService) in my setup along with deployments, services, etc. Nothing fancy:

[2019-07-28 16:59] #586 closed

[2019-07-29 06:44] rocketraman commented on #454
Another use case, slightly different than obtaining test results mentioned a couple of times above: containers that dump core or heap will obviously terminate after doing so. At this point, doing `kubectl cp` on a stopped container is necessary to obtain the core/heap. One example is using the `-XX:+HeapDumpOnOutOfMemoryError` JVM flag.

[2019-07-29 16:35] towolf commented on #527
/remove-lifecycle rotten

[2019-07-29 16:36] towolf commented on #527
/remove-lifecycle stale

[2019-07-29 19:36] kkolk opened #691 "Unexpected behavior with kubectl run and --env"
So, I'm not sure this is the intended behavior or not.  If you execute a pod with kubectl run and the values passed with --env are not always available when the command that was passed is ran.

This set of commands replicates the issue:

`kubectl run busybox --rm -i --tty --generator=run-pod/v1 --image busybox --env MYVAR=sample sh`

Running 'echo "This is my $MYVAR' outputs "This is my sample" as

[2019-07-31 01:25] the-gigi commented on #691
It seems that $MYVAR is expanded by the shell BEFORE it is sent to the container. Since, it is not defined in the shell the expanded command that is sent to the container is `echo "This is my "`, which produces the correct output you see.

To verify this is the case try this command:
`MYVAR=4 && kubectl run busybox --generator=run-pod/v1 --image busybox --env MYVAR=sample echo "This is my $MYVAR"`

[2019-07-31 05:03] bhcleek commented on #690
I'm seeing a similar error when running `kubectl auth reconcile -f` on a file that contains any custom resource or APIServer resources.

[2019-07-31 12:26] Prakashreddy134 commented on #675
Hi,
I'm getting "Error from server (NotFound): the server could not find the requested resource" while running describe ingress command . Client and server versions is v1.15.0 ,v1.13.6
Please help me.

[2019-07-31 20:12] #595 closed

[2019-08-01 04:13] Prakashreddy134 commented on #675
Hi,
I'm getting "Error from server (NotFound): the server could not find the requested resource" while running describe ingress command . Client and server versions is v1.15.0 ,v1.13.6
Please help me.

[2019-08-01 12:59] benjamin-bergia opened #692 "kubectl apply from git remote repo"
Is it possible to `create` or `apply` from a remote git repository, the same way that it currently works on `kustomize build`?

[2019-08-01 19:26] kkolk commented on #691
Ah, that explains it.  I can work with that for what I need.  If this is the expected/accepted behavior then feel free to close this issue.

[2019-08-02 04:44] #583 closed

[2019-08-02 06:53] Nuru opened #693 "Feature Request: detach-keys option/setting"
`kubectl run -it` and `kubectl attach -it` connect to a Docker container in a manner parallel to `docker run -it` and `docker attach`. All these commands by default listen for the key sequence `ctrl-p,ctrl-q` to cause the command to detach from the container. However, only the `docker` commands have a [`--detach-keys` option](https://docs.docker.com/engine/reference/commandline/cli/) to allow you

[2019-08-02 07:39] anjiawei1991 opened #694 "proposal: add autocomplete for explain command"
Autocomplete for explain command is useful. I often use explain to look for helps.
After I typed `kubectl explain pvc.spec.` followed by double tab, I expect to see something like `accessModes`, `volumeName` and so on, expecially when I don't remember what the spec contains .  The method  I use now is to  get it from `kubectl explain pvc.spec`. But it's very inconvenient.

[2019-08-02 09:02] babilen5 commented on #576
/remove-lifecycle stale

[2019-08-02 16:30] demisx commented on #675
@Prakashreddy134 Try matching your kubectl version to your server version.

[2019-08-02 16:50] BenjaminSchiborr commented on #675
@demisx, how would you best handle multiple Kubernetes clusters on different versions if you have to match `kubectl` client to the server version?

[2019-08-02 16:58] ebn-rec commented on #675
@demisx   I think you should reopen this.    Users are likely going to have the most recent kubectl version and maintaining old version is not a viable solution.

[2019-08-02 17:08] demisx commented on #675
@BenjaminSchiborr Perhaps, via different docker containers?

@ebn-rec I can't reopen this issue, since I am neither the author, not a member of this project with sufficient rights to do so. I just ran into this issue myself today and matching kubectl version to the server version fixed the problem.

[2019-08-02 21:06] seans3 commented on #613
/remove-lifecycle rotten
/area kubectl
/sig cli
/kind feature

[2019-08-02 21:06] seans3 commented on #12
/remove-lifecycle stale

[2019-08-03 00:11] dsymonds commented on #520
Hey, we've been observing this on GKE, with 1.13.7-gke.8 for master/nodes and v1.13.7 kubectl. I added a nodeSelector, which got applied, but then removed it from the YAML later on and any future `kubectl apply` operations (that could successfully change other things) didn't touch nodeSelector.

[2019-08-05 07:35] kke commented on #37
My solution only worked on the bash 3 that ships (shipped?) with MacOS.

[2019-08-05 14:51] enzoTrevisan commented on #691
If you use kubectl to create your pod, then scape $MYVAR  with \  like this
\$MYVAR
 check your pod with
kubectl get xxxx -oyaml and you'll see why.

[2019-08-05 14:58] martinvelos opened #695 "Misleading warning with kubectl exec"
`kubectl --namespace cicd-components exec cicd-nexus3-5fb9469c8-kv8ng – /bin/bash /tmp/initialize_nexus_repos.sh --connection_check --url http://localhost:8081`
gives
`W0730 17:23:03.017945 6808 flags.go:39] connection_check is DEPRECATED and will be removed in a future version. Use connection-check instead.
Note: Unnecessary use of -X or --request, GET is already inferred.`
but the argumets here

[2019-08-06 04:29] zedtux commented on #501
/uninstall-fejta-bot now

[2019-08-06 04:29] zedtux commented on #501
/remove-lifecycle stale

[2019-08-06 20:31] cblecker commented on #569
@dwmkerr if you're not getting responses from sig-cli, they list ways you can escalate for attention: https://github.com/kubernetes/community/blob/master/sig-cli/CONTRIBUTING.md#general-escalation-instructions

[2019-08-08 08:22] aomega08 opened #696 "Kubectl can wipe a cluster with a single command"
`kubectl delete --all namespaces`

We had this run by a developer by mistake today and it wiped all resources in the cluster, with the exception of the `kube-system`, `kube-public` and `default` namespaces, and the resources within.

This looks like a `rm -rf / --no-preserve-root` on a K8s cluster. I know this can be restricted using RBAC rules, but I still don't see a valid use case for this comm

[2019-08-08 22:39] SurferJeffAtGoogle commented on #573
/remove-lifecycle stale

[2019-08-08 22:40] SurferJeffAtGoogle commented on #573
I've learned a lot about Kubernetes in the past 8 months, and I still find this error message opaque.

[2019-08-10 11:41] orymate opened #697 "Unexpected consequences of using untrusted kubeconfig files"
We reached out the Kubernetes security team with the following report, and the only response within a week was from Brandon Philips, an advice to open a public issue here.

We recently realized an issue about the security of Kubeconfig files, especially when used for the exchange of credentials and for accessing Kubernetes API servers. It is common practice to make Kubeconfig files available for d

[2019-08-11 22:03] izelnakri commented on #524
/remove-lifecycle stale

[2019-08-12 04:13] dwmkerr commented on #569
Hi @cblecker thanks for the tips! Just pinged on the group, I've tried slack with no joy, but let's see what the group says. Really appreciate the help!

[2019-08-12 08:34] wknapik commented on #557
/remove-lifecycle stale

[2019-08-12 22:37] bgrant0607 commented on #569
There's a lot of history here:
https://github.com/kubernetes/kubernetes/issues/9298
https://github.com/kubernetes/kubernetes/issues/10693
https://github.com/kubernetes/kubernetes/issues/20605
https://github.com/kubernetes/kubernetes/issues/30395
https://github.com/kubernetes/kubernetes/pull/38861
https://github.com/kubernetes/kubernetes/issues/46381

And it would probably need to be respected by A

[2019-08-12 22:42] seans3 commented on #569
/sig cli
/sig apimachinery
/area kubectl
/kind feature

[2019-08-12 22:43] seans3 commented on #569
/sig api-machinery

[2019-08-13 00:12] DirectXMan12 opened #698 "Client-side apply has a pathological case with deeply nested identical objects"
## Test case

1. Strip the description fields from https://raw.githubusercontent.com/kubernetes-sigs/kubebuilder/master/docs/book/src/multiversion-tutorial/testdata/project/config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml (to make it fit in an annotation)
2. kubectl apply -f the above
3. kubectl apply -f the above again

## Underlying issue

Deeply nested (e.g. validation for podspec)

[2019-08-13 00:22] DirectXMan12 commented on #698
/assign @seans3

[2019-08-13 00:42] seans3 commented on #698
/sig cli
/area kubectl
/kind bug
/priority P2

This performance bug should be fixed by server-side apply.

[2019-08-13 07:03] eranreshef opened #699 ""--all-namespaces" option is not working for "kubectl wait""
[code]

I have several namespaces in my cluster, and adding `--all-namespaces` option to a `wait` command doesn't act as expected. The command exits after the specified condition is met for all specified resources (or timeout) only in **current namespace**.

[code]

[code]

[code]

[2019-08-13 20:52] distortedsignal commented on #688
I don't want this issue to go stale - how do I bring this to the attention of someone who can take it further?

[2019-08-13 21:07] distortedsignal opened #700 "Error text printed by kubectl when kubectl plugin takes too long"
I'm writing a kubectl plugin, and it seems like there's a confusion in the codebase about the lifecycle of a request. If the plugin does not complete in fewer than about 30 seconds, the kubectl plugin appears to believe that a server request has timed out and prints a message like in this image:

![Screen Shot 2019-08-13 at 1 55 57 PM](https://user-images.githubusercontent.com/2186874/62976925-8f8

[2019-08-13 22:25] jglick commented on #454
A related use case: copying files to or from the persistent volume associated with a scaled-down stateful set, without having to scale it up or attach the volume to a temporary no-op pod.

[2019-08-14 11:20] dwmkerr commented on #569
Hi @seans3 - thanks I saw your message for the SIG meeting, I'll join in the discussion! Yes I hadn't realised just quite how much history there is, wow!

[2019-08-14 13:18] rameshpuruganti opened #701 "kubectl version command throwing error"
I have executed **kubectl version** command after installation in windows 10 pro 64 bit operating system.
Below is the output i am getting.

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"windows/amd64"}
Unable to co

[2019-08-15 00:54] DirectXMan12 commented on #698
follow-up:

I've found another work-around, with a bit more digging.  Namely:

[code]

Which is fascinating.  It remains unclear to me why the switch is so slow.  Simply replacing the extra statements with a default case does ***NOT*** help:

[code]

implying it's the actual type switch that's slowing us down that much.

This is interesting since the equivalent reflect.DeepEqual call is roughly ju

[2019-08-15 00:54] DirectXMan12 commented on #698
much thanks to go's cpu tracing and pprof for giving me a clue as to where to look

[2019-08-15 12:33] guibirow opened #702 "All kubectl commands should have JSON output"
I am opening this issue to request an improvement in the CLI in order to make it more flexible when setup CD pipelines that requires checking the output of some commands.

Commands like the below:
```kubectl rollout status -n kube-system deploy/kubernetes-dashboard```

Can generate different outputs:
- deployment "kubernetes-dashboard" successfully rolled out
- Error from server (NotFound): deploy

[2019-08-15 20:00] DirectXMan12 commented on #698
https://github.com/evanphx/json-patch/pull/87 <-- should fix the issue.  The dual traversal of maps was causing an exponential time complexity, which really only manifested seriously with lots of nested maps.

[2019-08-15 21:44] samsieber commented on #454
So I too am working with k8s, triggering jobs from jenkins and wanting files back. the method I've settled on is a sidecar that opens a fifo called `export-files-fifo` (via the `mkfifo` command) at the beginning and in the `preStop` livecycle hook tars and pipes all the files I'm interested over the fifo. And the jenkins job triggering the job immediately run something along the lines of `kubectl

[2019-08-15 22:09] richardmarshall commented on #701
Hi @rameshpuruganti! By default `kubectl version` will output version information both for kubectl itself and the server defined in the current configuration context. If it is unable to reach the API server for some reason you will see this error.

If you want to just get the version of the client you can use: `kubectl version --client`

[2019-08-15 22:24] richardmarshall commented on #692
Hi @benjamin-bergia, yes a git repo url can be used anywhere the `-k` flag is supported as well as the `kustomize` sub-command.

[2019-08-16 03:35] sober-wang opened #703 "I want kubectl support ftp curl."
when I run
[code]
it tell me
error: the path "ftp://myftp-user:myftp-password@myftphost.com/my-claim-yaml.yaml " does not exist

-----------------------------------
if community not have contributor to do the function ,I want do it.

[2019-08-16 09:12] benjamin-bergia commented on #692
Hi @richardmarshall, thank you for your reply.

The question was, is it possible to get the same thing without using -k?
I would like to `kubectl apply -f $gitRemoteRepo`

[2019-08-16 21:07] atheiman commented on #454
@samsieber could you provide a simple yaml example of this?

[2019-08-17 02:05] samsieber commented on #454
@atheiman Here it is: https://gist.github.com/samsieber/349fde899d508b4e6be119e762fb600c - the job stays active until the './grab-files.sh' is called, at which point the job shuts down automatically.

[2019-08-17 17:09] richardmarshall commented on #684
This is happening because the strategicpatch code used by client side apply can't correctly create a patch containing a slice of maps with duplicate merge key values.

The error messaging could be improved though to make this less confusing. However with the push to move apply to the server I'm uncertain of how receptive sig-apimachinery would be to changes to strategicpatch which are intended to

[2019-08-17 23:05] asubmani commented on #587
It looks like a networking issue, except that there is no clarify on what exactly the port forwarding means. Our Kubernetes setup is protected by a firewall and we had to allow access to gcr.io and storage.gooleapi's just to install helm.

`kubectl` and `helm` are installed on my WSL2 Ubuntu 18. Local firewall is disabled.
tiller is successfuly deployed on the cluster.

The port forwarding is it f

[2019-08-17 23:12] asubmani commented on #587
I am using AKS 1.14.5, helm version v2.14.32
Using Azure CNI networking.

Most likely this is failing for me because my laptop is currently not joined to corp network and hence has no connectivity to pods.

I can deploy stuff using kubectl though.

[2019-08-20 14:30] max-rocket-internet opened #704 ""kubectl get events --watch" prints old events after some time"
For example:

1. Run `kubectl get events --all-namespaces --watch`
2. A load of events will be printed
3. Wait 10 seconds
4. Only new events should be printed

At this point I assume anything printed will be new events, right? But after this point, even if I wait for 5 minutes, I will see events that were last seen `60m` ago, e.g:

[code]

[2019-08-20 17:21] seans3 commented on #646
/remove-lifecycle rotten
/sig cli
/area kubectl
/kind bug
/priority P2

[2019-08-20 17:22] seans3 commented on #704
Please add information on client version and OS/arch, following the template for a kubectl issue.

/sig cli
/area kubectl
/kind bug
/priority P2

[2019-08-21 07:33] max-rocket-internet commented on #704
Gosh, sorry I forgot to include that:

[code]

There isn't one. There needs to be some files in [here](https://github.com/kubernetes/kubectl/tree/master/.github). Should I create a PR for this?

[2019-08-21 09:39] stephen-dexda opened #705 ""kubectl create role" ignores --namespace flag"
Unlike many (most?) other `kubectl create` commands, `kubectl create role` ignores `--namespace` (`-n`).

This can result in unexpected/undesirable behaviour when e.g. piped to `kubectl apply -f -`, where the role is created in the wrong namespace (i.e. the default one).

Example command:

[code]

Actual:

[code]

Expected:

[code]

[2019-08-21 09:48] stephen-dexda commented on #705
@kubernetes/sig-cli-bugs
/area kubectl
/kind bug
/sig cli

[2019-08-22 09:51] wonderflow opened #706 "kubectl subcomand plugins support"
Now there is plugins for kubectl that we can use in `kubectl [plugin]` command.

But when I use an kubectl exist command like `kubectl create` and I hope to do some hook, I have no way to do that.

For example, when I want to create a CR object. If I don't have this CRD pre-installed in cluster, I will get an error. So I hope to add this subcommand plugin that help to check if the CRD is exist. If

[2019-08-22 17:26] seans3 commented on #517
/remove-lifecycle rotten

[2019-08-22 17:28] seans3 commented on #496
/remove-lifecycle rotten

[2019-08-22 17:28] seans3 commented on #508
/remove-lifecycle rotten

[2019-08-22 17:30] seans3 commented on #150
/remove-lifecycle rotten

[2019-08-22 19:40] seans3 commented on #684
/cc @apelisse
/cc @jennybuckley

Who have context on apply/openapi, and who are working on server-side apply

[2019-08-23 07:17] rameshpuruganti commented on #701
PS C:\agent> kubectl version --client
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc19c0dec8434867e69b04a25d8ae0ff1", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"windows/amd64"}

Is this the expected output?

[2019-08-23 11:16] #7 closed

[2019-08-23 11:44] tomwilkie opened #707 "kubectl diff exit code 1 for both errors _and_ diffs"
It seems `kubectl diff` exits with 1 on both errors (eg for RBAC) or the presence of a diff.

Would be useful if we could have two different codes here.

[2019-08-23 12:21] #142 closed

[2019-08-23 22:57] kfox1111 opened #708 "lock file"
When using KUBECONFIG with multiple items, you can have a writeable file in your home directory and a shared config in a shared location. If the directory where the shared config file is, is not writeable, updates that should only write to the first file fail with a permission denied:
[code]

If the shared directory is writeable, then only the ~/.kube/test.config is updated as documented.

[2019-08-23 23:37] liggitt commented on #708
xref https://github.com/kubernetes/kubernetes/issues/32606

[2019-08-23 23:44] kfox1111 commented on #708
Dup of https://github.com/kubernetes/kubernetes/issues/67676

[2019-08-23 23:44] #708 closed

[2019-08-24 17:34] rajalokan commented on #701
I'm going to answer on behalf of Richard. Yes @rameshpuruganti . This is expected.

Typical output is
[code]

But since you can't reach your kube server (as per your issue), running `kubectl version` shows Client version and unable to connect for second part. So to get only client version you can run just `kubectl version --client`.

[2019-08-25 12:03] #631 closed

[2019-08-25 17:02] thapakazi commented on #685
Agreed !! needed proper warning message for lame users like us.
[code]

I updated kubectl for `rollout restart` but got ingress describe broken :(

[2019-08-25 19:42] richardmarshall commented on #692
Ah yes, misunderstood your question. So what you'd like to see is for the `-f` flag to be extended to support handling a git url in a way similar to how a local directory is handled.

In my opinion given that `-f` already supports fetching files via HTTP adding git repo support as well would overload the flag too much. Also there isn't enough information in a URL to accurately distinguishing betwe

[2019-08-27 13:20] vrobert78 commented on #675
We have clusters on GKE in the last stable version v1.13.7-gke.19.

Our workstation are on Ubuntu 18.04.3 LTS, we use the repo "deb http://packages.cloud.google.com/apt cloud-sdk-bionic main" for gcloud and kubectl.
Kubectl is in v1.15.3.

Could you re-open this issue please ?

[2019-08-28 10:17] lindhe commented on #675
Why not display a warning, if the client and server versions don't match?

[2019-08-28 17:30] seans3 opened #709 "Print a warning when the kubectl/server version skew is outside the support window"
Kubernetes allows the version between the client kubectl and the APIServer to differ by +/- 1 minor releases. For example, a 1.13 kubectl will be guaranteed to work with API Servers 1.12, 1.13, and 1.14. But when this difference is greater than the +/- 1 version support window, there is no warning. This lack of notification makes it difficult to determine the actual cause of problems. So I suggest

[2019-08-28 19:35] lindhe commented on #709
Is it possible to implement this from the server side? Because otherwise, only new client versions would have the warning, I assume. If the server could push a message to the client, older clients too could put up the warning...

[2019-08-28 20:54] Warok21 commented on #677
Had to reinstall all the things :(

[2019-08-29 13:59] austinorth commented on #524
This would be so helpful. Anyone working on a PR for this?

[2019-08-29 16:29] #699 closed

[2019-08-29 17:44] Aech1977 commented on #677
thanks.  I've gotten past that error but discovered my AKS cluster has been upgraded past the point kube-lego is working so now I'm trying to figure out how to get cert-manager working.  Kubernetes is confusing enough but trying to get cert manager working is kicking my ass.

[2019-08-29 18:14] tbarrella commented on #572
/remove-lifecycle stale

[2019-08-30 17:09] AceHack commented on #113
this does not get things in all namespaces

[2019-08-30 17:10] liggitt commented on #113
you can add `--all-namespaces` if you want to get that

[2019-08-30 18:09] advissor commented on #675
Will leave it here for those who might struggle :

1) Verify **client** & **server** versions of **kubectl** by
`kubectl version`
2) Check the skew policy and select appropriate **client** binary for download
https://kubernetes.io/docs/tasks/tools/install-kubectl/
3) Download the binary with curl for example > chmod > move
Like here : https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2019-08-30 18:53] wellingtoncosta opened #710 "Error when run kubectl get services"
Hi,

When I run the command `kubectl get services` I'm getting the following error:

[code]

How can I solve this?

[2019-08-31 00:47] richardmarshall commented on #707
This makes a lot of sense to me and the actual code implementation would be trivial. The challenge I suppose is what to select as a sentinel error code to indicate an error interacting with the API vs an error with the diff since the diff status code is propagated from an external binary.

The most common case would be GNU diff which will return 0, 1, or 2 giving us a pretty wide window of codes t

[2019-09-01 21:04] praseodym commented on #707
It could also make sense to add an option to make the non-zero exit code for the non-error “diff present” optional. One use case is CI for GitOps workflows, I’ve noticed that `kubectl diff` catches mistakes that `kubectl apply --dry-run` does not.

[2019-09-02 01:07] wyardley commented on #600
/remove-lifecycle stale

[2019-09-02 07:22] yarinm opened #711 "dry-run validation on new CRD fails"
Hey,

I'm trying to use : kubectl apply --validate=true --dry-run -f <file>

The manifest file contains the CRD definition + an instance that uses the CRD. It seems that kubectl doesn't recognize that and I get the following error:

[code]

If I apply first the CRD file before running the validation it works fine.

The example manifest file:
[code]

I've also ran with --server-dry-run flag and it

[2019-09-02 14:35] dpoetzschke commented on #650
We are still interested in this.

/remove-lifecycle stale

[2019-09-02 15:43] gbenmansour commented on #675
I have the same problem. Below the output of kubectl version:
[code]
Why the issue is closed ?

[2019-09-02 15:48] sh0rez commented on #707
An alternative to settling on a sentinel error code would be to add an `--exit-status=123` flag that allows users to specify what fits best, but set this to the proposed `255` by default

[2019-09-02 16:07] advissor commented on #675
Issue is closed , because there is no bug.
This suppose to work like this and compatible **client**<>**server** versions are mentioned in skew policy
In your case Client v1.15.3 -> Server v1.12.10-eks-825e5d
Basically, this is out of compatibility. What you can do in order to fix the issue is to downgrade the client to v1.13.10 for example. This should work

[2019-09-02 17:31] sh0rez opened #712 "Object exceeds last-applied-configuration annotation"
With the current implementation of kubectl it is not possible to apply very large objects, e.g. `ConfigMaps`.

We experienced this during development on our configuration management tool Tanka (https://github.com/grafana/tanka/issues/50)

### Problem description
For the `apply` feature to work, kubectl relies on the `last-applied-configuration` annotation:
https://kubernetes.io/docs/tasks/manage-k

[2019-09-03 05:25] philips commented on #597
@pwittrock @soltysh any recommendation on what to do here? kubectl really deserves to have SECURITY_CONTACTS I think.

[2019-09-03 05:26] philips commented on #597
/remove-lifecycle stale

[2019-09-03 08:17] soltysh commented on #597
@philips sorry, I missed this issue earlier, fix in https://github.com/kubernetes/kubernetes/pull/82261

[2019-09-03 10:15] vrobert78 commented on #675
Hi,

is there a way to install via apt-get an old version of kubectl ?

I've tried to install the 1.13.7, but it doesn't work:
[code]

[code]

Do you know how to contact a person in charge of packages.cloud.google.com/apt  ?
It could be very interesting that they maintain multiple version.

[2019-09-03 10:22] advissor commented on #675
Just give it a try in a way mentioned in official repo :
https://kubernetes.io/docs/tasks/tools/install-kubectl/

For example:

`curl -LO  https://storage.googleapis.com/kubernetes-release/release/**v1.13.10**/bin/linux/amd64/kubectl`

[2019-09-03 14:39] advissor commented on #593
+1 Sounds like a good idea

[2019-09-03 18:44] wellingtoncosta commented on #710
I solved it just updatling kubectl client and server versions.

[2019-09-03 18:44] #710 closed

[2019-09-04 13:30] prksu commented on #11
/assign

[2019-09-04 13:49] prksu commented on #11
@alexandercampbell @janetkuo why adding `--port` or `--expose` is a bad idea in here?

i have an idea for dealing with multiple deployment images. currently `--image` is StringSlice, how about change it to StringArray and then we matching the first `--image` with first `--port` flag as first container and second `--image` with second `--port` flag as second container (i use example --port, it can

[2019-09-04 14:19] weibeld commented on #585
/remove-lifecycle stale

[2019-09-05 18:48] seans3 commented on #659
/remove-lifecycle stale

[2019-09-05 20:36] voor commented on #396
Anybody stumbling upon this issue from Google looking for an easy way to see all the users that doesn't have external dependencies, this will do it just fine:
[code]
You can then use that in conjunction with the earlier command for `kubectl config unset users.<user-name>`

[2019-09-05 21:34] seans3 commented on #396
/remove-lifecycle stale

[2019-09-05 21:38] bttruman opened #713 "Installation of kubectl on Windows Server 2012 removed all content from System Path Variable"
An administrator installed kubectl on a development server this afternoon using the following command:

`curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.15.0/bin/windows/amd64/kubectl.exe`

In doing so wiped out the system Path variable. The only thing listed in there is the kubectl path, and now everything is broken...

I'm working on adding everything back, but thought you

[2019-09-05 22:45] seans3 commented on #664
/remove-lifecycle stale

[2019-09-05 22:46] seans3 commented on #664
/sig cli
/area kubectl
/kind bug
/priority P2

[2019-09-06 17:35] seans3 commented on #666
/remove-lifecycle stale

[2019-09-07 02:01] ezgambac opened #714 "Fail if missing/wrong cluster role or role ref"
When creating a role binding or cluster role binding, if you apply this operation and the role/cluster role referenced doesn't exist, the operation works anyway.

It would be nice for the operation to fail if the role referenced doesn't exist.

[2019-09-07 19:42] ahmetb commented on #502
/remove-lifecycle stale

[2019-09-09 11:57] codecap opened #715 ""kubectl proxy" not working behind a reverse proxy"
We have multiple K8S environments

The K8S setup is very similar to https://github.com/kelseyhightower/kubernetes-the-hard-way

Every K8S environment is behind a firewall, so there is no direct access to K8S api-server (except some privileged hosts)

Testing linkerd2 we observed some problems with the linkerd2 cli. During our investigation we found out, that the **kubectl proxy** command does not

[2019-09-09 13:22] jglick commented on #396
I would also appreciate something like

[code]

which would check the associated `user` and `cluster`, and also delete either or both of those if they are not in use from any other context. Basically a single command to undo the additions made by the likes of `gcloud container clusters create`. Krew plugin perhaps?

[2019-09-09 15:54] ahmetb commented on #396
Yes that’s more suitable for a plugin.
Krew has a “config-cleanup” plugin. I recommend checking out.

[2019-09-09 16:02] cbrintnall commented on #650
It seems to apply to anything the kustomize flag would apply - is this expected behavior? For instance, we also see it "failing" on services and HPAs.

Would be nice if the `-k` flag behaved like `kustomize edit set image`.

[2019-09-09 21:00] ezgambac commented on #714
kubectl should validate against the cluster when creating the role binding that the things it points to actually exists, or fail if not.

[2019-09-09 22:34] seans3 commented on #714
Please see `kubectl auth reconcile`.

/sig cli
/area kubectl

Closing

/close

[2019-09-09 22:34] #714 closed

[2019-09-09 22:37] seans3 commented on #650
/sig cli
/kind bug

/assign @monopole

[2019-09-09 22:38] seans3 commented on #665
/sig cli
/area kubectl
/kind bug

/remove-lifecycle stale

[2019-09-09 22:39] seans3 commented on #667
/sig cli
/area kubectl
/kind bug
/remove-lifecycle stale

[2019-09-09 22:43] ezgambac commented on #714
This doesn't solve the issue.
kubectl auth reconcile will create missing objects.
My point here is that creating new role bindings which point to non existent roles should fail, or at least have an option to force failure if the role is missing.

Let's say that you have role bobby which handles secrets, but then in the role binding you have the role ref point to bo**b**y. kubectl will happily crea

[2019-09-09 23:53] seans3 commented on #47
/remove-lifecycle stale

[2019-09-11 04:43] User5910 commented on #603
I can't run any plugin on Windows. I'm using kubectl 1.15.2* on Windows 10 Enterprise 1903 Version 10.0.18362.295 and it always fails with

`not supported by windows`

@spacecat, are you still seeing this?

\* Downloaded from https://storage.googleapis.com/kubernetes-release/release/v1.15.2/bin/windows/amd64/kubectl.exe

[2019-09-11 15:59] seans3 commented on #668
/remove-lifecycle stale

[2019-09-11 22:24] #597 closed

[2019-09-13 11:39] kivagant-ba opened #717 "How to find all ReplicaSets that have not enough running replicas?"
Right now I'm using the trick to find all replicasets that have **DESIRED** bigger than 0 but zero **CURRENT** or **READY** pods:

[code]

This is not perfect since it actually loads all replicasets and then filter them using unreliable way. Also the command won't show the situation when DESIRED = 2 but RUNNING = 1. I would like to get all ReplicaSets that have any problems using kubectl only with

[2019-09-13 11:45] kivagant-ba commented on #692
Looks also generally related to https://github.com/kubernetes/kubectl/issues/703
So people want kubectl to support different protocols but where to stop?

[2019-09-13 16:17] bttruman commented on #713
So nobody has responded, but if you install kubectl on Windows 2012, be careful t

[2019-09-13 16:53] bttruman commented on #713
I did not mean to close this issue, sorry. This is still the case. If you happen to install on Server 2012, be sure to back up your Path Variables.

[2019-09-14 14:56] sallyom opened #718 "kubectl apply should work with multiple files, `kubectl apply -f *.yaml`"
yes, `kubectl apply -f .` is an option but you should also be able to
`kubectl apply -f *.yaml`

this is inconvenient:
`for f in *.yaml; do kubectl apply -f $f; done`

[2019-09-14 15:05] sallyom opened #719 "kubectl drain node --dry-run should list pods, warnings, errors"
**What would you like to be added**:
When running `kubectl drain node --dry-run`  the pods to be deleted and any blockers should be listed.

**Why is this needed**:
To make more informed `kubectl drain node` calls.

[2019-09-15 18:03] prakashved19900 opened #720 "Unable to connect to the server: net/http: TLS handshake timeout"
We are getting below issue when i am trying to use kubectl get all command.

Unable to connect to the server: net/http: TLS handshake timeout

[2019-09-15 19:00] bradmwalker opened #721 "kubectl run supports --privileged"
The `docker run` command provides a --privileged flag to run a container in privileged mode. In v1.15 `kubectl` doesn't. A large --overrides flag can badly workaround this. Running a privileged container with -it requires something like this:

`k run wanmap-fake-wan --image=bradmwalker/wanmap -it --rm --overrides='{"spec": {"metadata": {"name": "wanmap-fake-wan"}, "template": {"spec": {"containers

[2019-09-16 05:52] komal-SkyNET commented on #426
Using the right kubectl client version to match the server version did the trick. Thanks for the help guys.

[2019-09-16 11:10] franitel opened #722 "Issue with kubectl describe ingress in 1.15.3"
After upgrade kubectl from 1.14.6 to 1.15.3 we detect that we can not describe the ingress object.
With the following kubectl version:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:49Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"windows/amd64"}
Server Version: ve

[2019-09-17 16:52] tudyzhb commented on #37
You should check the bash version of your terminal session:

[code]

If `$BASH_VERSINFO` <= 3:
[change your default shell like this](https://stackoverflow.com/questions/23059662/how-can-i-get-iterm-to-use-the-newer-version-of-bash-that-brew-shows-change-a-u)

[2019-09-17 17:51] seans3 commented on #483
/remove-lifecycle stale

[2019-09-17 21:40] tdmalone commented on #483
@madAndroid is correct - this has already been implemented, and thus this ticket should be allowed to close.

Is possible like this:
[code]

fwiw I was previously using this workaround, which is not actually needed:
[code]

[2019-09-17 22:58] seans3 commented on #483
@tdmalone Thanks for the explanation.  Closing.

/close

[2019-09-17 22:58] #483 closed

[2019-09-19 12:31] dewe opened #723 "bash completion does not work for apply -k"
Bash completion for `kubectl apply -k` does not work.

I would expect it to work exactly like `kubectl apply -f`, where folders and files are completed as usual.

Current workaround is to amend the output from `kubectl completion bash` by inserting a line 988:

[code]

[2019-09-22 09:45] dankohn commented on #623
I got the SVG from the inimitable @ashleymcnamara.

It's here: https://github.com/cncf/artwork/blob/master/examples/other.md#cncf--go-gophers

[2019-09-22 09:45] #623 closed

[2019-09-23 20:28] raravena80 commented on #537
/remove-lifecycle stale

[2019-09-23 22:54] seans3 commented on #669
/remove-lifecycle stale

[2019-09-24 14:03] raravena80 commented on #551
/remove-lifecycle stale

[2019-09-24 14:40] groner opened #724 "'couldn't find any field with path "..." in the list of objects' when there are no results"
The `--sort-by` functionality in `kubectl get` generates this error when sorting an empty result list.

[code]

I guess the error is to help detect typos in sort keys.  Assuming this is the reason, I don't think it makes sense to infer this when there are no results.

[2019-09-24 14:42] groner commented on #724
/kind bug
/area kubectl
/sig cli

[2019-09-24 16:53] liggitt commented on #47
/close
in favor of https://github.com/kubernetes/kubernetes/issues/53201 (specifically coordinating in https://github.com/kubernetes/kubernetes/issues/53201#issuecomment-534647130)

[2019-09-24 16:53] #47 closed

[2019-09-24 18:08] richardmarshall commented on #703
Seems to me that using curl and a pipe would solve for this need without requiring additional protocol support to be maintained in kubectl.

[code]

/area kubectl
/sig cli
/kind feature

[2019-09-24 20:16] seans3 commented on #407
/remove-lifecycle stale

[2019-09-25 00:39] seans3 commented on #80
/remove-lifecycle stale

[2019-09-25 01:10] seans3 opened #725 "Determine what happens to the "kubectl convert" functionality"
## kubectl convert is deprecated

The initial `kubectl convert` deprecation was announced prior to release 1.13. Following the Kubernetes deprecation policy, this `kubectl` subcommand is now eligible to be removed in release 1.17. The following are options for next steps as this `convert` functionality is removed from `kubectl`. If you have an opinion, please add comments to this issue so that we

[2019-09-25 11:29] kivagant-ba commented on #717
The answer: https://serverfault.com/a/985578/447077

[2019-09-25 11:29] #717 closed

[2019-09-25 17:20] seans3 commented on #703
I agree with @richardmarshall. We don't want to add unneeded complexity into kubectl if there is already a way to accomplish this task. I'll leave this issue open for a couple weeks; if there is no more input, I'll close this issue then.

[2019-09-25 18:48] seans3 commented on #725
/sig cli
/sig apimachinery
/area kubectl
/kind cleanup

[2019-09-25 18:50] seans3 commented on #725
/cc @soltysh
/cc @pwittrock
/assign @liggitt
/assign @deads2k

[2019-09-25 21:50] seans3 commented on #725
/assign @soltysh
/assign @pwittrock

[2019-09-26 12:10] deads2k commented on #725
I think some of this going to come down on jordan, myself, and Daniel agreeing on the role of staging.  I see it as a way to organize our components and some aspects of it are valid to depend upon (client-go and api for instance) and others makes less sense (a kube-controller-manager or kube-apiserver).  I think building a separate command that lives near our internal APIs make sense and I'd rathe

[2019-09-26 17:07] anshulahuja98 commented on #705
Is this feature actually required?
Can any maintainer acknowledge is this is an approved issue?
/help-wanted

[2019-09-26 18:41] danton721 commented on #659
Any solution? Having the same issue over here

[2019-09-26 20:42] #99 closed

[2019-09-26 22:30] NathanHowell commented on #501
If `zsh` is available it supports creating temporary files from a process' output using `=(some command)`, in addition to the usual fifo version `<(another command)` supported by sh/bash/etc... so if you have `zsh` available this does work:

[code]

[2019-09-27 12:05] gjemp opened #726 "kubectl create clusterrolebinding does not use ClusterRole defined rbac api vesion"
Running k8s 1.15.3

I have ClusterRole like that :
[code]
and i have serviceaccount like that:
[code]

now i run following :
kubectl create clusterrolebinding testrole-ns-clusterrrole-binding --clusterrole=namespace-reading-clusterrole --serviceaccount=default:testrole --dry-run -o yaml | /usr/local/bin/kubectl auth reconcile -f -

*Expected*
[code]

*Actual:*
It creates following  CRB
[code]
It f

[2019-09-27 12:51] kvokka opened #1516 "`kubectl wait` for un-existed resource."
**What happened**:

I can not avoid exit with error for uncreated resource, which is misleading by the command name:

`kubectl wait --selector=foo=bar --for=condition=complete jobs`
`kubectl wait --for=condition=complete jobs/foo`

Even if this behavior if intentional the user should have an option to continue waiting instead of exit with error code.

In the contrast, if the resource already exist

[2019-09-27 18:02] #512 closed

[2019-09-27 22:31] richardmarshall commented on #692
@kivagant-ba Agree.

After thinking about it more I don't think it makes sense to incorporate the git logic from kustomize into kubectl directly either as another flag or as part of `-f`.

@benjamin-bergia If this functionality would improve your workflow you could always make a kubectl plugin that wraps apply and includes the git clone logic.

[2019-09-30 00:51] sober-wang commented on #703
oh,ok . I know ,please close this issue

[2019-09-30 00:51] #703 closed

[2019-09-30 07:40] benjamin-bergia commented on #692
@richardmarshall understood.

[2019-09-30 07:40] #692 closed

[2019-09-30 12:21] datacticapertti opened #727 "Plugin not found when configuration file given on command line"
I assume this is kubectl issue rather than krew issue. It appears that the"krew" plugin and plugins installed with krew are not found when the kubeconfig location is given with the --kubeconfig command line flag, but are found if given using an environment variable.

    $ kubectl krew list
    PLUGIN VERSION
    krew   dc2f2e1ec8a0acb6f3e23580d4a8b38c44823e948c40342e13ff6e8e12edb15a
    sniff  71

[2019-09-30 17:13] #588 closed

[2019-09-30 18:38] aleks-mariusz opened #728 "usage seems incorrect for -A claiming it sets --all-namespace=false, when it actually sets it to true"
When doing a `get` on one of the api-resources, for example, `kubectl get pods`, i've learned there's a short-cut to do `--all-namespaces` the same with just `-A`

So I read the _usage_ section of `kubectl get pods --help` output to understand it better, and see that it is seems _backwards_ from the actual behavior:

[code]

However, doing `kubectl get pods -A` does NOT do `--all-namespaces=false`

[2019-09-30 20:16] #580 closed

[2019-09-30 21:02] seans3 commented on #500
/reopen
/remove-lifecycle rotten

[2019-09-30 21:03] seans3 commented on #124
/reopen
/remove-lifecycle rotten

[2019-10-02 10:10] LeszekChojnacki commented on #659
Any solution? Having the same issue over here

[2019-10-03 08:58] thomasheller commented on #723
/assign

[2019-10-03 08:59] oke-py opened #729 "Kubectl Book: extra hyphen for --all-namespaces flag"
There is an extra hyphen of --all-namespaces option in kubectl book.
https://kubectl.docs.kubernetes.io/pages/resource_printing/queries_and_options.html

[2019-10-03 09:19] thomasheller commented on #723
/sig cli

[2019-10-03 09:27] thomasheller commented on #723
@dewe

The completion for `-f` is limited to file extensions `.json`, `.yaml`, `.yml`. `-k` needs a directory, though. I've opened a corresponding PR.

[2019-10-03 12:16] dewe commented on #723
I often use `kubectl --recursive -f <tab>` and it works nice with directories. I ask for nothing more. :-)

[2019-10-03 16:10] apelisse commented on #676
Kubectl issues are typically opened in kubernetes/kubectl.

That's correct.

Yeah, we open issues here, but the code is in k/k. I'll leave this issue open if you want to fix the CONTRIBUTING page to clarify.

[2019-10-03 19:38] oke-py commented on #729
/close

[2019-10-03 19:38] #729 closed

[2019-10-03 20:13] oke-py opened #730 "Kubectl Book: duplicated kubectl get"
A sample command in the kubectl book is wrong.
`kubectl get` is duplicated like `kubectl get kubectl get`.
https://kubectl.docs.kubernetes.io/pages/resource_printing/queries_and_options.html

[2019-10-03 20:17] oke-py opened #731 "Kubectl Book: typo (grammatical error)"
There is a typo (grammatical error).
https://kubectl.docs.kubernetes.io/pages/resource_printing/cluster_information.html

[2019-10-03 20:23] oke-py opened #732 "Kubectl Book: typos"
There are typos.
https://kubectl.docs.kubernetes.io/pages/kubectl_book/resources_and_controllers.html

[2019-10-03 20:25] oke-py commented on #676
Thanks for your reply. I'll try to fix the CONTRIBUTING page.

[2019-10-03 23:13] #730 closed

[2019-10-04 06:57] #731 closed

[2019-10-04 13:06] #732 closed

[2019-10-04 14:33] spekr commented on #125
@apelisse how does one run the script like you did. I am running on Ubuntu 18.04 and I can't seem to get the autocompletion to work. I know the script is throwing an error, but I do not know what kind of error it is.

[2019-10-04 16:42] liggitt commented on #725
Discussed this in the [code organization](https://docs.google.com/document/d/1HtTI0rJEGP_MSf6eO87aCmx_tzpovPAAg7U2Zxwm8FE/edit?ts=5c9d0a4c#bookmark=id.fqfpdy1w5idg) call yesterday.

The `Convert as a Binary` option seemed like the best immediate step to unblock this. Placing the command within the `k8s.io/kubernetes/cmd` package to begin with would give it access to the internal types/conversions

[2019-10-06 20:57] williamyeh opened #733 "kubectl get pod with root access or privileged"
Hi all,

I am William, new here.
Can someone point me the right direction to work on features for kubectl?
I want to add a tag to kubectl get pods --root. Hopefully it will show a list of pods running as root in different namespaces.
As well as pods with privileges.

Help would be greatly appreciated, thank you!
William

[2019-10-07 13:38] afreiberger commented on #662
/remove-lifecycle rotten

[2019-10-07 15:31] wknapik commented on #554
/remove-lifecycle stale

[2019-10-08 10:28] marcusb commented on #461
/reopen

We have a similar use case with staging environments that need updating across namespaces. This would be a very useful feature.

[2019-10-08 21:05] seans3 commented on #678
/remove-lifecycle stale

/sig cli
/area kubectl
/kind bug
/priority P2

[2019-10-09 06:47] chetanyachopra opened #734 "status updation while watching pods"
`kubectl get pods -w`
[code]
* hitter is a temp pod created with ` kubectl run hitter --image=busybox --restart=Never --rm -it -- /bin/sh`

Really feel that status should be visible inspite of just Name and Age something like:
[code]
kubectl version for reference :  `kubectl version`
[code]

discussion on this would be really appreciated  :+1:

[2019-10-09 09:30] xuil opened #735 "patch method issue"
I created a deployment, exposed port as follows:

`{containerPort: 8080,name: "tcp" , protocol: "TCP"}`

then i use kubectl patch method, expected to add a new port(named udp) in ports, but got the original port replaced.

`
kubectl patch deployments test-port -p '{"spec":{"template":{"spec":{"containers":[{"name":"test-port","ports":[{"protocol":"UDP","containerPort":8080,"name":"udp"}]}]}}}}'
`

[2019-10-09 12:31] chetanyachopra commented on #734
/sig cli
/area kubectl
/kind bug

[2019-10-09 19:34] seans3 commented on #151
/remove-lifecycle stale

/sig cli
/area kubectl
/priority P2

[2019-10-10 11:47] BhaveshSethi opened #736 "Use temporary context for a single command"
Is there an option to use a specific context (instead of the current/default context) just for a single command like there is an option `-n` for namespaces?

For example:

[code]

If there is not, are there plans to add it?

/area kubectl
/sig cli
/kind feature

[2019-10-10 17:03] arashout opened #737 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
I keep getting this issue when trying to do any operation on my client machine:
`The connection to the server localhost:8080 was refused - did you specify the right`
The issue happens even when I do:
[code]

Machine information:
[code]

I've tried installing and re-installing kubectl but that hasn't made a difference.
I'm not really sure what to do, could use some guidance to troubleshoot this iss

[2019-10-10 18:20] arashout commented on #737
I determined that the issue was related to a reconfiguration of my config file

[2019-10-11 18:26] FooBarWidget opened #738 "`kubectl rollout status` does not stop when a pod enters CrashLoopBackOff"
When I use `kubectl rollout status` to wait for a rollout (either a Deployment or a StatefulSet), I expect it to stop when the one of the pods enters a CrashLoopBackOff state. Yet this does not happen. Why is that? Wouldn't there be no more point in waiting once a pod enters CrashLoopBackOff?

For Deployments I can still kind of understand, because Deployments can have the ProgressDeadlineExceeded

[2019-10-12 02:41] oke-py commented on #676
@apelisse I opened PR last week. PTAL. Thanks in advance.

[2019-10-12 02:46] jameogle commented on #728
This is actually expected behaviour. If you run `kubectl get --help` you will see a list of available flags, with the default values after the equals signs.

e.g ` --show-labels=false: When printing, show all labels as the last column (default hide labels column)`

[2019-10-13 19:42] aleks-mariusz commented on #728
Ok, so then i am just confused on how to read the usage.. I didn't realize the default values were displayed, i thought the two values were equivalent (in which case by default -A is not used).  Am i the only who have has been mislead by the way it's not only explaining the option but also showing a default (without mentioning the the default)

[2019-10-13 21:43] jameogle commented on #728
Its pretty standard in the Go Flags package, but from memory this uses cobra- which I assume follows that precedent.

Boolean flags really only check the flag exists, which is why -A and --all-namespaces are equivalent, however, the underlying default value (which is what's referred to as 'zero value' in go) is false, so it appears as '=false'

[2019-10-14 01:57] mxplusb commented on #151
I'm going to jump in here and provide feedback that while the `xargs` stuff is better than nothing, it's not an option on Windows. And yes, I am aware there are other workaround with Powershell.

The fact this has been broken for several years and it's just being punted from release to release is immensely frustrating. Replace or remove the `all` functionality but leaving it languish like this is

[2019-10-14 02:04] liggitt commented on #151
The `all` alias won't be removed for compatibility reasons but has been removed from command help for several releases. I agree it should not be promoted as it is confusing.

[2019-10-14 06:02] sfxworks opened #739 "kubectl taking long to execute"
[code]

This is incredibly weird to me, and I can't replicate it on any other machine or the server itself, but I can replicate it across different clusters.

For some reason, it looks as if kubectl fails to execute until a certain period of time passes intermittently. It always eventually does after ~20-30s in the worst of cases, and the above output indicates nothing is wrong with the cluster's

[2019-10-14 07:51] sfxworks commented on #739
[code]

Did a windows update as I was far behind. Now at 1903. That seemed to do the trick.

[2019-10-14 07:51] #739 closed

[2019-10-14 10:09] prksu commented on #722
dup of kubernetes/kubectl#675 please see https://github.com/kubernetes/kubectl/issues/675#issuecomment-511996430

[2019-10-14 10:13] prksu commented on #722
/close

[2019-10-14 10:13] #722 closed

[2019-10-14 20:12] seans3 commented on #683
/remove-lifecycle stale

[2019-10-14 20:13] seans3 commented on #644
/remove-lifecycle stale

[2019-10-15 05:45] zhouya0 commented on #681
I don't think the port's name matters since port can be created without a name. :)

[2019-10-15 20:17] christophercarney commented on #702
In this case I believe that `kubectl get` could supply all of your needs, no?

In your case `kubectl get -n kube-system deploy/kubernetes-dashboard -o json -w` should watch the status while outputting only json, but I haven't tested it personally.

Some commands are newer than others which accounts for their varying levels of robustness. `kubectl get` is one of those more robust commands.

[2019-10-15 20:56] HaveFun83 commented on #407
Same issue here

[2019-10-16 03:51] Ozrlz commented on #568
Still having this issue.

`kubectl version`

[code]
As a workaround you can do

`kubectl get --raw "/apis/autoscaling/v1/horizontalpodautoscalers" | jq -C . | less`

[code]

[2019-10-16 08:47] litaxc commented on #734
I think this affect UX badly.
Now I have to use `watch kubectl ...` to get what I want to see.

[2019-10-16 10:18] prashcr opened #740 "Broken doc links in kubectl explain"
**Repro**
`kubectl explain service`
Click https://git.k8s.io/community/contributors/devel/api-conventions.md#resources

**Actual**
Leads to a 404

**Expected**
Leads to https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#resources

[2019-10-16 17:39] seans3 commented on #568
/reopen
/remove-priority P3
/priority P1

[2019-10-17 22:45] ortizmj12 commented on #407
Same issue here

[2019-10-18 14:33] joshuakwaite commented on #461
+1 for reopening this issue

[2019-10-19 15:19] damarshall opened #741 "kubectl apply -k <dir> not consistent with kubectl apply -f <dir>"
Kubectl book implies `apply -k` should be used against directories with __kustomization.yaml__ files while `apply -f` should be run against directories without kustomization.

From the [__kubectl__ book](https://kubectl.docs.kubernetes.io/pages/app_management/apply.html):

In practice, `apply -k` will only operate against manifests containing certain resource types such as services and deployments

[2019-10-20 12:30] UkiahSmith commented on #151
`kubectl get all` is deceptive and could lead to issues with it's use.

It should be deprecated and removed or it should be enhanced to actually list all resources in a namespace.

At the very least when the current implementation is used it should display a warning.

[2019-10-20 14:25] damarshall commented on #741
This turns out to be a documentation deficit. `apply -k` on a directory will only process manifests mentioned in the _resources_ section of the __kustomization.yaml__ file.

Expected behavior is achieved if the __kustomization__ file above is amended and all manifests in the directory are referenced, as follows:

[code]

I'd be happy to submit a documentation patch if helpful.

[2019-10-20 15:46] dims commented on #151
There's discussion from way back in 2016 on what items should be in `all` : https://github.com/kubernetes/kubernetes/pull/28955#issuecomment-232737113

Agree with @liggitt that we should not promote its use

[2019-10-20 15:47] dims commented on #151
@seans3 @liggitt  we should probably just start the deprecation process for this?

[2019-10-20 16:19] liggitt commented on #151
The `all` category is entirely specified server-side in discovery docs, and resolved generically client-side like any other category. It's unclear how we would communicate it was deprecated to users of that feature without adding special case logic specific to "all" client-side, which we do not want to do.

[2019-10-21 13:55] j-mew-s commented on #454
I'm debugging an error in file modification carried out by a Dockerfile. It is modifying a config file, and the error prevents the container from starting (CrashLoopBackOff). I cannot inspect it purely by checking out the image and running with a different command since it uses environment variables set at docker run time.

This feature would be helpful for me to quickly understand the state of th

[2019-10-21 16:10] mxplusb commented on #151
@liggitt @seans3 is there a compelling reason the deprecation process cannot be started?

[2019-10-23 10:27] lukjaw commented on #524
@geekofalltrades I use this:
`GREP_COLOR='01;32' egrep --color=always 'Running|$' | GREP_COLOR='01;33' egrep --color=always 'ContainerCreating|$' | GREP_COLOR='01;33' egrep --color=always 'Terminating|$' | GREP_COLOR='01;31' egrep --color=always 'Error|$' | GREP_COLOR='01;31' egrep --color=always 'CrashLoopBackOff|$' | GREP_COLOR='01;31' egrep --color=always 'ImagePullBackOff|$' | GREP_COLOR='01;3

[2019-10-23 13:30] iamtakingiteasy commented on #689
Apparently it is a lost cause.

[2019-10-23 13:30] #689 closed

[2019-10-23 16:20] discordianfish opened #742 "All operations modifying resources (patch, replace) should take --resource-version"
kubectl's annotate, label and scale operations take `--resource-version`. This allows to prevent a change overwriting another change that happens between reading a resource and updating it.

The same reasoning applies to all operations that update a resource, like `patch` and `replace`.

Specifically for me the use case to modify values in a configmap but while making sure there were no changes be

[2019-10-23 17:06] eloyekunle commented on #742
/good-first-issue

[2019-10-23 23:58] ahmetb opened #743 "kubectl doesn't use specified HTTP/HTTPS proxy if server is localhost"
I'm running `mitmproxy` locally to inspect kubectl&rarr;apiserver requests. Here's how I start the capture:

    mitmproxy --listen-port 5000 --ssl-insecure

To make sure I can capture requests both for HTTP and HTTPS, I use curl:

- `curl -x localhost:5000 http://example.com`
- `curl -k -x localhost:5000 https://example.com`

Now, I try to use this HTTP/S proxy with `kubectl`.

I choose a context

[2019-10-24 00:02] ahmetb commented on #743
FWIW: To make sure this is a `http` vs `https` issue, and not something like "mitmproxy can't capture localhost or 127.0.0.1" I have tried:

    curl -k -x localhost:5000 http://localhost:8080/apis

and mitmproxy captures this request:
![image](https://user-images.githubusercontent.com/159209/67442689-c802f200-f5b6-11e9-9a67-fdc0ade563b8.png)

So it makes me believe more that kubectl doesn't use p

[2019-10-24 00:22] ahmetb commented on #743
Scratch that. It appears like Go net/http is the problem here. https://github.com/golang/net/blob/ec77196f6094c3492a8b61f2c11cf937f78992ae/http/httpproxy/proxy.go#L172-L208

It doesn't use the specified http_proxy, if hostname is a loopback IP or "localhost".

I am not sure if this can be fixed in kubectl easily (also not sure if the repo above is what's making net/http work today). But IMO this i

[2019-10-24 01:27] ahmetb opened #744 "kubectl does not send Authorization header (or use specified auth plugin) over plain HTTP"
I have a GKE cluster kubeconfig, so its user section looks like this:

[code]

When I snoop on kubectl requests using `mitmproxy`, I see the `Authorization` header and Bearer token sent with the requests.

Note that GKE masters use https:// with self signed certs (included in kubeconfig).

However, when I point the kubeconfig to a local server e.g. `server: http://localhost:8080` with the rest of

[2019-10-24 05:57] ahmetb commented on #744
Upon debugging it seems like client-go, intentionally, chooses not to read the authentication parts of the `clientConfig` if the server URL is not `https`.

https://github.com/kubernetes/kubernetes/blob/5238e1c80fea02891e1804b346d24faa7c13da07/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L175-L176

https://github.com/kubernetes/client-go/blob/d1b30110f1abd3b2fb21c5c2daad4345ede8a9

[2019-10-24 11:59] busser commented on #740
@prashcr What version of kubectl are you using?

[2019-10-24 21:31] JTarasovic commented on #727
I am seeing the same thing with context as well.

[code]

[code]

[code]

[2019-10-24 21:35] seans3 commented on #727
/kind bug
/sig cli
/area kubectl
/priority P1

[2019-10-25 07:27] busser commented on #705
cc @soltysh @seans3 I would like to take this.

[2019-10-25 14:56] #577 closed

[2019-10-25 17:00] christianreddington commented on #740
I can repro this in kubectl Version 1.13.0. The link mentioned aobve appears under the apiVersion field, but I'm also having issues with the links under kind, metadata, spec and status.

Each link seems to point to the same base URL and markdown file, but a different section of the doc.

[2019-10-27 09:53] marshall245 opened #745 "kubectl auth can-i should fail when passed invalid args"
**What would you like to be added**: `kubectl auth can-i` improperly reports "no" when given nonexistent service users or verbs.

[code]

I am working in Windows Powershell against an AKS cluster.

**Why is this needed**: I am new to Kubernetes and need guard rails. Knowing the distinction between an incorrect reference and a permission setting is valuable context and can prevent hours of digging

[2019-10-28 09:00] bronger opened #746 "Using emacsclient as external editor does not work"
[code]
results in
[code]
A direct call to emacsclient works.  I use Emacs 27.0.50 and kubectl v1.16.2.

[2019-10-28 13:01] bronger commented on #746
The actual problem is the snap distribution of kubectl. It changes the value of `XDG_RUNTIME_DIR` so that emacsclient does not find its socket anymore. A workaround is a wrapper for emacsclient that sets the correct environment. Since the snap distribution is maintained elsewhere, I close the issue.

[2019-10-28 13:01] #746 closed

[2019-10-28 14:59] b0nete opened #747 "Unable to connect to the server: getting credentials: exec: exit status 255"
Hello, i'm having this error when try get pods or any resource in my k8s cluster with kubectl.

The error only appears with EKS, with GKS cluster works fine.
I've uninstalled aws-cli, aws-iam-authenticator and kubectl and reinstall but error continues.

aws-cli is working fine, I can list the clusters, s3 buckets, etc with.
Also deleted ~/.kube/config and recreated with aws eks update-kubeconfig -

[2019-10-28 18:36] kbbgl opened #748 "'This app can't run on your PC' when attempting to run kubectl"
When attempting to run kubectl from CMD on Windows (both with elevated and regular users), I get a pop up screen:

![image](https://user-images.githubusercontent.com/14372649/67706828-b2a31480-f976-11e9-9814-64c6755fb766.png)

When I click 'Close' - I see 'Access is denied' in CMD.

I am following [this guide](https://kubernetes.io/docs/tasks/tools/install-minikube/)

I have a Hyper-V installed on

[2019-10-28 21:11] justenspring commented on #747
Exact same issue here, took the same remedial steps without any luck. I can also run aws cli commands successfully in our multiple accounts, but receive this EKS error on every cluster.

In my case, IAM is through SAML federated auth on a role. I'm not aware of any changes made in our environment over the weekend, but this worked on Friday so I'm not sure what to make of it.

Versions:
aws-cli 1.1

[2019-10-29 10:24] tmat-s commented on #747
I ran into same issue here.

In my case, removing aws-iam-authenticator from PATH and recreating kubeconfig via `aws eks update-kubeconfig` seem to have resolved the issue.

kubectl can interact with EKS cluster without aws-iam-authenticator now.

Versions:
MacOS 10.14.2
aws-cli 1.16.268
kubectl v1.16.2

[2019-10-29 17:40] justenspring commented on #747
Dang, I just tried those steps but no luck, still getting the 'credentialScope'...exit status 255 error.

Do you know if there's any way to figure out more detailed info on what the root error is?

(Forgot to add, I'm also on 10.14 of MacOS)

[2019-10-30 02:16] tmat-s commented on #747
You can get more detailed logs by adding `-v 8` option to kubectl.
In my case, initial connection to EKS endpoint seems to have failed with 255 error.
According to [this issue](https://github.com/aws/aws-cli/issues/3744) and official document, error 255 can be caused by syntax error in kubeconfig.

So, at least in my case, it was definitely aws-related issue.
Have you tried deleting(renaming) `$HO

[2019-10-30 03:31] b0nete commented on #747
I tried remove $HOME/.kube and recreate config with aws eks update-kubeconfig but the error persisted.
Now i could solve this problem change the follow lines in kubeconfig as this thread says.
[https://itnext.io/kubernetes-part-4-aws-eks-authentification-aws-iam-authenticator-and-aws-iam-5985d5af9317](url)

Change this:
[code]

for this:
[code]

[2019-10-30 05:45] ahmetb commented on #744
I'll close this, since it's by design.
/close

[2019-10-30 05:45] #744 closed

[2019-10-30 05:47] ahmetb opened #749 "kubectl explain: shows the wrong resource"
I have Knative installed in my system.
Knative has a CRD named `Service` (short name: `ksvc`).

When I do `kubectl explain ksvc` I get Kubernetes core/v1 Service.
I'm guessing this is because `ksvc`&rarr;`Service`&rarr;core/v1.Service.

Doing this on other Knative CRDs (such as `revision`) simply fails because the OpenAPI description for these APIs isn't available I guess.

[code]

[code]

[code]

[2019-10-30 19:34] seans3 commented on #749
/kind bug
/sig cli
/area kubectl
/priority P2

[2019-10-30 20:36] mistyhacks commented on #568
I just ran into this with kubectl and master both at v1.14.7.

[2019-10-30 21:43] seans3 opened #750 "kubectl describe hpa does not work at version 1.14 (it does work at 1.13 and 1.15)"
kubectl at version 1.14 will not find an hpa resource that exists when calling `describe`
[code]
kubectl at 1.13 and 1.15 will find the hpa resource when calling `describe`

[code]
/kind bug
/sig cli
/area kubectl
/priority P1

[2019-10-30 21:43] seans3 commented on #750
/assign

[2019-10-30 21:51] seans3 commented on #568
OK, I'm going to close this in favor of the more focused issue: https://github.com/kubernetes/kubectl/issues/750

* Check your `kubectl` version (`$ kubectl version`). If it is more than +/- version compared to the server, then you probably have a version skew problem. Kubernetes only guarantees that `kubectl` will work with an APIServer that is +/- version. Solution: update `kubectl` to match you

[2019-10-30 21:51] #568 closed

[2019-10-30 23:11] hibbert commented on #747
For me this seems to be related to botocore version (which is pulled in as a dependency of awscli - I am guessing it is just installing the lastest version). It works okay with this version:-

$ aws --version
aws-cli/1.16.259 Python/3.6.8 Linux/4.15.0-1051-aws botocore/1.12.249

But not with this

$ aws --version
aws-cli/1.16.259 Python/3.6.8 Linux/4.15.0-1051-aws botocore/1.13.5

[2019-10-31 14:50] akefirad commented on #747
For me upgrading to the latest version of AWS CLI solved the issue.

[2019-10-31 15:34] babilen5 commented on #576
/remove-lifecycle stale

[2019-10-31 19:42] SeanTurner026 commented on #734
Came here to raise this issue.

I frequently used `alias kgpwnt="kubectl get pods -w | grep -v Terminating"` to blacklist the status "Terminating", and it made it easier for me to see when my deploy was fully ready.

[2019-10-31 23:53] seans3 commented on #613
/remove-lifecycle stale

[2019-11-01 01:27] #596 closed

[2019-11-01 05:30] khteh opened #751 "`kubectl -w` does not show READY, STATUS and RESTARTS"
[code]
[code]

[2019-11-01 09:25] khteh commented on #751
Same for `kubectl get hpa -w`

[2019-11-01 10:20] Dominik-K opened #752 "port-forward: named port not working with service"
**Kubernetes version** (use `kubectl version`): `v1.16.2`
**What happened**:
[code]
**What you expected to happen**:
[code]
It works fine for types `pod` & `statefulset` (or `deployment` in other cases).

**How to reproduce it**:

`svc-and-pod.yaml`:
[code]

[code]

**Related issues**:
https://github.com/kubernetes/kubectl/issues/538

[2019-11-01 16:44] fizzamahdi opened #753 "kubectl top output format options"
it would be nice to have a `-o` flag for `kubectl top` so that the output can be parsed more easily

[2019-11-01 22:38] Nuru commented on #693
/remove-lifecycle stale

[2019-11-03 13:07] eranreshef opened #754 "The documentation of kubectl wait is a bit miss-leading"
The `--timeout` option for `kubectl wait` says:

"The length of time to wait before giving up" .

I personally understand this as the timeout for the entire command but after experimenting with it a bit I realised that the value of this option is **per resource**. For example, if I am waiting for a set of 10 pods to be `Ready` and used `--timeout=60s`, I might end up waiting for 10 minutes before

[2019-11-03 19:26] aaronjwood opened #755 "Add support to skip TLS verification when applying yaml from a server using self-signed certificates"
Assuming `https://mystuff.com` has a valid, self-signed certificate:
[code]

There's already `--insecure-skip-tls-verify` for the API server. I propose that we add a new, similar flag to support bypassing TLS verification for the deployment file URL.

[2019-11-04 05:34] Martin8023 opened #756 "when i used kubectl get pods, i just could saw name and age"
when i used kubectl get pods, i just could saw name and age .
like is

NAMESPACE        NAME                                    AGE
istio-system     istio-init-crd-10-kn5ws                 9d
istio-system     istio-init-crd-11-6v54d                 9d

no status and more.what's my wrong?

[2019-11-04 12:25] martinvelos commented on #695
/remove-lifecycle stale
@fejta-bot I'd like at least some feedback like this is a minor bug or such a view...

[2019-11-04 16:52] ialidzhikov opened #757 "Misleading not found output"
Currently `kubectl get $KIND` for non-namespaced resource returns an output like `No resources found in default namespace.` which I found misleading because the resource I get is not namespaced.
Example:
[code]

[code]

/kind bug

[2019-11-04 17:16] nbkrause commented on #734
Also want to raise the issue. I am seeing this in all `v1.16.x` versions of `kubectl`. The hit to UX of not being able to use the `--watch` flag has kept me from upgrading from `v1.15.3`

[2019-11-04 20:42] damienstanton commented on #756
Same issue. This is my env:
[code]
on macOS 10.14.6

[2019-11-05 00:42] justenspring commented on #747
@tmat-s thank you for that verbose flag, I really appreciate it.

It seems the solution that worked for me today was as @hibbert and @akefirad mentioned (thank you both!), updating the aws-cli and botocore versions. Which is odd, since these hadn't worked for me last week, but I'm happy to see it working again.

[2019-11-05 00:53] Martin8023 commented on #756
You can change a kubectl the version same as k8s.i think is because the version mismatched.

[2019-11-05 09:29] guillaumedossantos opened #758 "failing kubernetes auth with oidc and azure apps and authorization with a specified Security Group"
I'm trying to set up SSO between our (regular, not AKS) kubernetes clusters and Azure AD. Currently trying with kubectl binary installed on my computer.
It works when no groups are involved, but we want to filter by security group (accounts on AAD are synced from our onprem Active Directory), no kube RBAC involved.

Setup is inspired by https://medium.com/@olemarkus/using-azure-ad-to-authenticate-

[2019-11-05 09:30] guillaumedossantos commented on #758
Also tried as per https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens to provide kubectl config with oidc arguments based on first successful authentication with the azure app (config above), but same errors :

kubectl config set-credentials USER@mydomain.com
[code]

[2019-11-06 06:32] #756 closed

[2019-11-06 09:40] zhouya0 commented on #757
I can't reproduce this bug. The code is done in :

[2019-11-06 09:47] zhouya0 commented on #757
Sorry I can't reproduce this bug in my k8s 1.16.0. The code is written in:
https://github.com/kubernetes/kubernetes/blob/f23dd405f18f23dda4d00820ab20ec49852e5727/staging/src/k8s.io/cli-runtime/pkg/resource/builder.go#L957
[code]
The `node` is scope of `root` so it won't have `namespace`.
I tested it and it works well.

[2019-11-06 17:57] damienstanton commented on #756
Right, but I would imagine users are expecting that the latest Docker desktop app (with Kubernetes enabled) will work with the latest version of kubectl.

The issues above occurred with latest Docker/kubectl on macOS.

In other words, why should users be expected to randomly try older versions of kubectl until one works?

[2019-11-06 21:35] JoshuaPostel commented on #276
For those who run into this issue when trying to set a specific key:
[code]
A possible work around (albeit a little ugly) is:
[code]

[2019-11-06 22:54] seans3 commented on #573
/remove-lifecycle stale

[2019-11-06 22:56] seans3 commented on #573
/sig cli
/area kubectl
/kind bug
/priority P3

[2019-11-07 03:40] zhouya0 commented on #754
Actually the `kubectl wait` will do the `watch` request for every single resource and do the request one by one:
[code]
But watch request is actually a unlimited connection so every request has a timeout(default is 30s in wait).

 So the only way to do your second solution is average time for the timeout, but seems not very good to do that.

[2019-11-07 04:28] bakkiung opened #759 "kubectl get svc not working in AWS cloud 9"
Hi, team,  I am using the same `aws configure` credentials for both my PC Win 10 and the AWS cloud 9.
When i ran `kubectl get svc`, it is working in win 10 but in cloud 9 it is getting the "error: You must be logged in to the server (Unauthorized)".

I tried the https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting.html#unauthorized.

Any help will be appreciated.

Thanks,

A

[2019-11-07 06:26] khteh opened #760 "Confusing `kubectl rollout status` message"
Can anyone explain what does the "to complete 0 pods" and "to complete 1 pods" mean? What's the status of the pod and/or Statefulset when this message is printed out at the console and how does it relate to the following 2 lines of console output "Waiting for 1 pods to be ready..."???
[code]
[code]

[2019-11-07 07:27] eranreshef commented on #754
I implemented sort of a wrapper for internal use with the following logic:

1. run `kubectl wait <resources> --timeout=0`
2. parse the output from step 1 to get a list of unready_pods
3. while (command_elapsed_time < command_timeout and len(unready_pods) > 0)
    a. run `kubectl wait <unready_pods> --timeout=0`
    b. parse the output from step 3.a to get a list of unready_pods
4. if len(unready_p

[2019-11-07 08:35] donggangcj commented on #757
The bug really exists.

[code]

The v1.1.5.1 version kubectl has no such problem.and i will resolve this bug.
[code]

[2019-11-07 08:50] erwinvaneyk opened #761 "Kubectl apply fails when using in-cluster configuration"
When using kubectl with an in-cluster configuration, `kubectl apply` seems to fail. I suspect that either the discovery or the dynamic client does not use in-cluster configuration correctly, as it seems to take the default configuration (localhost:8080).

Most other commands, like a `kubectl get pods` run completely fine:
[code]

However, `kubectl apply` fails, as it is trying to discover the api

[2019-11-07 11:44] ialidzhikov commented on #757
@donggangcj, should I assign to you (i.e are you willing to work on this issue)?

[2019-11-07 12:33] hermanbanken commented on #750
Seeing the same issue.

[2019-11-07 12:37] hermanbanken commented on #750
If I run `kubectl describe hpa myhpa -v=10 2>&1 | grep "default/horizontalpodautoscalers/myhpa"` this is the output:

[code]

It seems to first fetch https://35.x.x.x/apis/autoscaling/v1/namespaces/default/horizontalpodautoscalers/myhpa which succeeds, and then afterwards fetch https://35.x.x.x/apis/autoscaling/v2beta2/namespaces/default/horizontalpodautoscalers/myhpa which fails.

[2019-11-07 18:54] seans3 commented on #761
/sig cli
/area kubectl
/kind bug
/priority P1

[2019-11-07 20:46] #759 closed

[2019-11-08 01:40] donggangcj commented on #757
I‘m very happy to fix this bug . 😀

[2019-11-08 07:55] ialidzhikov commented on #757
/assign @donggangcj

[2019-11-08 14:24] LuckySB opened #762 "kubectl get componentstatuses -broken output in 1.16.x"
kubectl version
[code]
kubectl get componentstatuses - show unknown AGE column
[code]
kubectl get componentstatuses -o yaml - show all items with statuses
[code]

kubectl verion 1.15.x on same cluster show componentstatuses:
./kubectl version
[code]
./kubectl get cs
[code]

[2019-11-08 15:21] akavel commented on #151
Snippet listing all resources as in [@oudream's comment](https://github.com/kubernetes/kubectl/issues/151#issuecomment-509897509), with `$()` speedup from [@bdowling's comment](https://github.com/kubernetes/kubectl/issues/151#issuecomment-510345342), and with another simplification replacing `tr|sed` with `paste`:

`kubectl get $(kubectl api-resources --verbs=list -o name | paste -sd, -) --ignore-

[2019-11-08 18:33] seans3 commented on #762
/kind bug
/priority P1
/sig cli
/area kubectl

[2019-11-09 13:39] prksu commented on #750
@seans3 i can confirm this commit https://github.com/kubernetes/kubernetes/commits/814e1ca73f673c16818ec7ca29f2bac4604f80c3 can fix this issue

[2019-11-10 05:25] jjmengze opened #763 "get resource in multiple namespace"
folks , is Kubernetes CLI `kubectl` support get resource (Pod,Deployment,e.t.c.) from multiple namespace?
just like

[code]

But it seems not support now

[2019-11-10 05:28] jjmengze commented on #763
/sig cli
/area kubectl

[2019-11-10 19:00] kevinsullivan opened #764 ""kubectl version" broken: error: unable to parse the server version: invalid character '<' looking for beginning of value"
Running on AWS EC2's Marketplace GitLab VM, Ubuntu 16.

To reproduce: run "kubectl version"

Output (see last line):

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
error: unable to parse the server ve

[2019-11-11 04:44] glyn commented on #557
/remove-lifecycle stale

[2019-11-11 07:06] zhouya0 commented on #764
Could you show what is the output of `kubectl version -v 11` ?

[2019-11-11 07:12] zhouya0 commented on #762
I'm willing to fix this bug:)

[2019-11-11 23:54] steeling opened #765 "Diff exit code is not helpful"
kubectl diff returns an exit code of 1 on a valid diff, and on an actual error.

This would be more helpful if it followed the standard diff error codes:
    0     No differences were found.
    1     Differences were found.

[2019-11-12 03:11] seans3 commented on #688
/remove-lifecycle stale

[2019-11-12 03:12] seans3 commented on #688
/sig cli
/area kubectl
/kind bug

[2019-11-12 07:15] prary opened #766 "Kubectl outputs unecessary empty line"
kubectl version 1.15.x

[code]
Kubectl throws extra line only when ```get all``` is performed.

[code]

[2019-11-12 14:22] Aracki commented on #500
Still a case in `v1.14.8` version.

[2019-11-12 18:00] distortedsignal commented on #688
Thanks @seans3! If you'd like any more detail, feel free to reach out!

[2019-11-12 18:00] distortedsignal commented on #700
Wait, no, don't rot!

[2019-11-12 18:33] seans3 commented on #700
/remove-lifecycle stale

/sig cli
/area kubectl
/kind bug
/priority P2

[2019-11-12 18:34] seans3 commented on #700
Please add the version information: `kubectl version`

[2019-11-12 18:35] seans3 commented on #569
/remove-lifecycle stale

[2019-11-12 18:36] seans3 commented on #766
/sig cli
/area kubectl
/kind bug
/priority P3

[2019-11-12 18:39] distortedsignal commented on #700
I'll do ya one better and filter out the kubernetes cluster version -

[code]

[2019-11-13 16:49] goutamtadi1 opened #767 "`kubectl get events --watch` prints other resource information instead of events"
[code]

OS: MacOS
K8s: Minikube
Kubectl version:
[code]

[2019-11-13 17:08] mxplusb commented on #151
@liggitt @seans3 any updates on getting this functionality removed?

[2019-11-14 14:22] guillaumedossantos commented on #758
[Ok so, Required claims must be a string, not an array of strings
](https://github.com/kubernetes/kubernetes/blob/27cf50d85edb91357d56fd762271974e7a7254bc/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L620-L634)

But I found a workaround.

- Don't use oidc-groups-claim and oidc-required-claim
- In Azure, go to the Properties of the API server App.
- Select Yes in "User a

[2019-11-14 14:22] #758 closed

[2019-11-15 05:23] sssrikumar commented on #587
Had same issue, stopped firewall & its working.

[2019-11-15 14:11] prksu commented on #600
i guess this is not kubectl bug

[code]
command above generated `kubeconfig` that using `gcloud` command for auth by default. it's generated `kubeconfig` with `users` like this

[code]
because your config is not active, `gcloud` cannot do auth with those command

[code]

just specify the configuration by adding the `--configuration "some-project"` in the `cmd-args` will solve your issue

or if you

[2019-11-15 19:39] wyardley commented on #600
@prksu In the past, I don't think kubectl had any `gcloud` specific stuff in the generated context, so I didn't realize those lines were in there.
That said, I think the context should still be valid, whether or not it is tied to an active configuration?

[2019-11-18 11:34] pkoch commented on #396
So, how could we promote movement forward? Are we waiting on a discussion/decision? Would PRs be accepted?

[2019-11-19 02:08] donggangcj commented on #763
It's  not supported currently. There are some reasons why it is not easy to implement.
1. auth.
2. mutiple api call
3. how to output

[2019-11-19 09:59] max-rocket-internet commented on #704
/remove-lifecycle stale

[2019-11-19 09:59] max-rocket-internet commented on #704
Still not fixed:

[code]

[2019-11-20 00:18] myshkin5 opened #768 "Validating webhook with reason and code causes nil pointer deref"
When a validating webhook fills in the reason and code in an `AdmissionResponse`, the response sent to `kubectl` causes a panic from a nil pointer dereference. The response was formed in the webhook with the following code:

[code]

This was the resulting stacktrace (with `-v 10` debug output):

[code]

[2019-11-20 04:41] kaplanelad opened #769 "Feature: Easier pod and logs access with kubectl"
Hi :)

I would like to work on a feature that solves a problem in my opinion.
But, before I start working on it I want to validate that it is indeed a problem and that none else is working on it already.

Accessing a Pod logs or SSHing into a Pod can be done with fewer steps.
In order to SSH into a pod the exact name is required and the namespace as well, something like:
1. `kubectl get pods -n <n

[2019-11-20 12:04] gdankov commented on #450
Can you please reopen this issue?

This is still not working as documented!

[2019-11-20 12:23] wknapik commented on #450
@idealhack

This should never have been closed. The issue is still there and, iuuc, nothing's been done to address it. Please reopen.

[2019-11-20 12:48] yjaffal commented on #461
I faced the same issue and would vote for this feature to be added. For the time being I have created a shell script as a workaround. It iterates over namespaces and applies the new image (if deployment exists)

``declare -i line_num=0; for res in `kubectl get namespaces`; do if (( $line_num % 3 == 0 && $line_num > 0)); then kubectl config set-context --current --namespace=$res; kubectl set image

[2019-11-20 16:23] legal90 opened #770 "uninstall"

[2019-11-20 16:23] #770 closed

[2019-11-20 19:04] myshkin5 commented on #768
I think the panic is caused by a `StatusError` without details ([this](https://github.com/kubernetes/kubectl/blob/7c6594395cffe986220bad4b6f7e35a609f6da7e/pkg/cmd/util/helpers.go#L133) line assumes that there is always details). I see in `errors.NewInvalid` and in `errors.NewGenericServerResponse` details are always getting filled in so not sure what the root cause is yet.

[2019-11-20 20:05] idealhack commented on #450
/reopen

but I'll defer more discussion to @kubernetes/sig-cli-bugs

[2019-11-21 13:05] oke-py commented on #752
additional information

for Service, all NG
[code]

for Pod, the second one is NG
[code]

[2019-11-21 14:20] oke-py commented on #752
I found the cause. I'll submit a PR for this after I write test code.
/assign

[2019-11-21 17:22] apelisse commented on #150
Let's be honest, this is never going to happen. We should close that issue.

[2019-11-21 21:47] seans3 commented on #752
/sig cli
/area kubectl
/kind bug
/priority P1

[2019-11-22 02:21] njohnson7 commented on #693
/remove-lifecycle stale

[2019-11-23 05:21] zwwhdls commented on #735
Hi,

I reproduced it and found that the original port is replaced. But I think it's because the port named "udp" uses the same port with "tcp" and apiserver think it's the same port and replaced it.

Maybe you can try to use another port when patching port in this way.

THX.

[2019-11-23 06:11] eddiezane commented on #766
I'm able to reproduce this on 1.15.x (up to the recently released 1.15.6) but it appears fixed on 1.16.x.

[2019-11-23 19:18] #556 closed

[2019-11-23 22:21] #672 closed

[2019-11-24 20:01] Yoni-Mantzur opened #771 "Feature: kubectl command for toggling cronjob suspension"
Abstract the patch command for toggling the suspension of a cronjob with a kubectl command. For example:
`kubectl suspend/unsuspend cronjob/<job-name>`

WDYT?

[2019-11-25 05:01] gireeshp opened #772 "kubectl create secret not working, but same with yaml works"
This is the same issue raised [here](https://github.com/kubernetes/website/issues/17597) in the kubernetes website repo.

I'm following [this](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#securing-the-service) documentation. Secret gets created when tried using yaml, but not using "kubectl create secret" command.

Thought this is the right forum to raise th

[2019-11-25 07:55] zhouya0 commented on #772
/assign
It's because when using `kubectl create secret tls nginxsecret --key /tmp/nginx.key --cert /tmp/nginx.crt`, it creats Data with :
[code]
But when using yaml we defines the data:
[code]
Which would lead `no such file or directory` error.

[2019-11-25 07:56] sttts commented on #150
/remove-lifecycle stale

[2019-11-25 07:56] sttts commented on #150
@soltysh any progress here?

[2019-11-25 10:14] juliantaylor opened #773 "allow configuring queries per second/qps"
kubectl currently has a hardcoded query per second value of 5. This can make for example pruning resources extremely slow as it will pretty much immediately start throttling.

It would be useful when the queries per second would be configurable so one could for some usecases like apply and pruning increase it.

[2019-11-25 11:54] juliantaylor commented on #764
that there is a `<` in the return sounds like the apiserver is returning a html result. Probably some wrongly configured loadbalancer or proxy in front the apiserver and not a kubectl issue.

Check `kubectl -v 10 version` for the curl requests and the return values you are getting from the apiserver.

[2019-11-25 14:58] jjmengze commented on #763
Is it possible like to query other resources (eg pod server...etc.)

[code]

[2019-11-25 23:02] Ark-kun opened #774 "kubectl can output object as JSON, but not as YAML."
YAML is a superset of JSON, so everything that can be output as JSON can be output as YAML (for example, it can be the same serialized JSON string).

However, `kubectl` fails to output some objects as YAML.

[code]
[code]

[2019-11-26 04:05] zwwhdls commented on #761
Hi @erwinvaneyk ,

I can't reproduce this, can you give a more detailed way?

[2019-11-26 08:22] zhouya0 commented on #772
@gireeshp I hope this PR would help that :)https://github.com/kubernetes/website/pull/17810

[2019-11-27 06:39] florianrusch commented on #564
/remove-lifecycle rotten

[2019-11-27 06:49] florianrusch commented on #564
From @DBarthe

Wouldn't it be nice if we could change the status field in some kind with `kubectl`? Maybe with an extra command like: `kubectl edit foo/status my-foo` or `kubectl edit foo.status my-foo`. I'm not sure if there is any convention on how this kind of commands should look like.

**Our use-case:**
We've built an operator (shell-operator) for our CRDs and would like to edit the status fi

[2019-11-27 09:26] oke-py opened #775 "`kubectl create secret` does not understand ~ as HOME directory"
### Actual behavior

[code]

### Expected behavior

kubectl reads ~ as HOME directory and creates a secret.
[code]

### Version

[code]

[2019-11-27 13:18] soltysh commented on #751
Your problem lives on the server side, https://github.com/kubernetes/kubernetes/pull/76161 was fixing the issue, but you need 1.15+ server for it to work.
/close

[2019-11-27 13:18] #751 closed

[2019-11-28 00:39] ixdy commented on #690
I encountered the same issue as @bhcleek - when trying to run `kubectl auth reconcile -f` on a file containing custom resource definitions, `kubectl` aborts.

I created a small PR (over in kubernetes/kubernetes) which reproduces this failure, too: https://github.com/kubernetes/kubernetes/pull/85708

Explicitly attempting to use this example YAML file outside of the test, `kubectl apply` works fine

[2019-11-28 02:57] zhouya0 commented on #775
/assign

[2019-11-28 09:02] #677 closed

[2019-11-28 12:00] JamesYeoman opened #776 "zsh completion syntactically broken"
As seen in the below screenshot, the bash to zsh function is missing a closing brace. I don't know whether this is the only instance of such a syntactical error. What I do know is that this script wouldn't execute successfully.
![image](https://user-images.githubusercontent.com/21042602/69804318-2fbfe480-11d6-11ea-983e-d17474565162.png)

[code]

[2019-11-28 14:01] rdxmb commented on #572
/remove-lifecycle stale

[2019-11-29 03:25] workhardcc commented on #113
I don't know why `kubectl get all --all-namespaces` didn't show all custom resources?  What is "CRs don't follow that so it is possible to list them via kubectl get all." mean?  Which part of CRs in  kubenetes possible to list ?

[2019-11-29 12:32] oke-py commented on #775
@zhouya0 It works fine. Thanks!

[2019-11-29 18:52] danielschlegel commented on #747
Which version is the working version of the AWS CLI?

[2019-11-30 11:50] oke-py commented on #727
https://github.com/kubernetes/kubernetes/blob/cf16e4988f58a5b816385898271e70c3346b9651/pkg/kubectl/cmd/cmd.go#L402-L404

This `if` block drops all arguments after first flag.
[code]

[2019-11-30 12:45] oke-py commented on #727
I patched kubectl as below.
[code]

Then, I get an `unknown flag` error.

[code]

It might be krew's bug or specification.

[2019-11-30 13:24] #775 closed

[2019-11-30 18:16] ahmetb commented on #727
It’s expected this will fail:

    kubectl krew —context=..

Because plugins  don’t inherit kubectl flags.

Similarly when you do

    kubectl —context=... plugin-name

It doesn’t surprise me this fails, too. Cobra probably rearranges flags to the end and at the end the flag isn’t going to be found again.

[2019-11-30 18:17] ahmetb commented on #727
I just realized in latter case the plugin is not found. That appears to be a bug, yes.

[2019-11-30 21:21] CalvinHartwell opened #777 "Kubectl on windows cannot create deployment objects without a full path"
Hi all,

I recently encountered a strange issue when using kubectl on windows.  I'm setup is as follows:
- Latest Windows 10
- Kubernetes 1.6.3 (running as Microk8s)
- Kubectl for windows 1.6.3, added binary to my windows path.

When creating objects like ReplicaSets or services, kubectl works fine. But when attempting to create Deployment objects either using kubectl apply or kubectl create deplo

[2019-12-01 16:24] sh0rez commented on #707
/remove-lifecycle stale

[2019-12-01 19:11] sh0rez commented on #712
/remove-lifecycle stale

Is this the right place to post such issues to?

[2019-12-01 23:19] jjangga0214 opened #778 "kubectl run fails"
**kubectl version**

[code]

**error**
When I run `kubectl run`, an error occurs.

[code]

[2019-12-02 09:14] lentzi90 opened #779 "auth can-i gives wrong answer for create with resource name"
It is [not possible](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources) to use `resourceName` with the `create` verb in Kubernetes RBAC. I.e. it is only possible to allow creating a resource with any name or not allow creating it at all.

Specifying a `resourceName` with `create` essentially means that you are not allowed to create any resource. However, `kubectl

[2019-12-02 16:22] akefirad commented on #747
`aws-cli/1.16.276 Python/3.6.9 Linux/5.0.0-36-generic botocore/1.13.12`

[2019-12-03 00:44] 2rs2ts commented on #712
Based on the contributing guidelines maybe this should go on the main kubernetes repo? https://github.com/kubernetes/kubectl/blob/master/CONTRIBUTING.md

[2019-12-03 07:59] sh0rez commented on #712
This repository is called „Issue tracker for kubectl“ ... so I think it belongs here. But I can open another issue over at kubernetes/kubernetes and see :D

[2019-12-03 13:14] liggitt commented on #712
It is also used to determine when a value has been changed, so the value is required as well.

This is not possible to change for the client-side apply algorithm, but is how the server-side-apply feature in-progress works. Closing in favor of kubernetes/enhancements#555

/close

[2019-12-03 13:14] #712 closed

[2019-12-03 16:25] manosnoam opened #780 "kubectl label node - did not remove label"
Trying to remove node label, does not always work.
Here's an example:

[code]
Client version: v1.14.2
Server version: v1.14.6
[kubectl does not remove node label.txt](https://github.com/kubernetes/kubectl/files/3917605/kubectl.does.not.remove.node.label.txt)

Attaching verbose output of command.

[2019-12-04 09:23] prksu commented on #778
it seem because your cluster not really up.
please make sure your cluster is running, and if your cluster running on localhost:8080 make sure no service other than k8s cluster running on that.

i see in your edited comment

[2019-12-04 10:12] jjangga0214 commented on #778
@prksu What do you mean by the error message? The error message does not appear from my issue description. If you responded through email, then it might contain outdated content, which I mistakenly posted regardless of this issue.

[2019-12-04 10:12] oke-py commented on #726
/assign

[2019-12-04 11:15] emahnovets opened #781 "Got "the server doesn't have a resource type "pods"" instead of "Unauthorized" or something like this when kubeconfig is not configured"
Hi.

I'm passing kubeconfig file through --kubeconfig option in my CI job. Default kubeconfig is not using. When `--kubeconfig` option forgotten in `kubectl get pods` command kubectl throws an error: `the server doesn't have a resource type "pods"` which are not so convenient and understandable.

`kubectl` version: `v1.16.3`

**Expected result:**
Some understandable error.

[2019-12-04 21:43] #698 closed

[2019-12-05 00:11] seans3 commented on #664
/remove-lifecycle stale

[2019-12-05 05:12] #772 closed

[2019-12-05 09:11] oke-py opened #782 "documentation about dependency management is outdated"
Written as below in https://github.com/kubernetes/kubectl#dependencies

However, this repository has `go.mod` and `go.sum` on the root.
It's using Go Modules instead of dep, right?

[2019-12-05 09:22] seans3 commented on #782
/sig cli
/area kubectl
/kind documentation
/priority important-longterm

[2019-12-05 18:37] seans3 commented on #666
/remove-lifecycle stale

[2019-12-06 12:15] oivindoh opened #783 "Kubectl -k fails with error "SliceFromPatches: evalsymlink failure on '/etc/kubernetes/kustomize/calico/apiVersion" - kustomize build reports no issues"
I have a a directory /etc/kubernetes/kustomize/calico that contains two files:

- calico.yaml (carbon copy of https://docs.projectcalico.org/v3.10/manifests/calico.yaml)
- kustomization.yaml

The expected outcome is from `kubectl apply -k /etc/kubernetes/kustomize/calico` to apply kustomized manifests to the cluster.

The actual outcome is the following error:

[code]

**kustomization.yaml content

[2019-12-06 13:49] bnason commented on #151
For some reason when I add a label selector that *should not* match anything to the command @akavel provided, it returns 3 ComponentStatus items
[code]

[2019-12-06 13:56] liggitt commented on #151
ComponentStatus is an unusual API with a custom list implementation, and did not pay any attention to label selectors until https://github.com/kubernetes/kubernetes/pull/78438 fixed that in 1.17

[2019-12-06 14:07] bnason commented on #151
Thanks @loggit for the fast response, for now I can simply filter it out using grep.
`kubectl get $(kubectl api-resources --verbs=list -o name | grep -v componentstatus | paste -sd, -) --ignore-not-found --all-namespaces -l random=label`

[2019-12-06 19:10] seans3 commented on #783
/kind bug
/sig cli
/priority P1
/assign @monopole
/assign @Liujingfang1

[2019-12-06 20:41] seans3 commented on #502
/remove-lifecycle stale

[2019-12-07 06:00] eddiezane commented on #776
:wave: Hi @JamesYeoman!

This definitely tripped me up the first time I took a look at the generated zsh completion code.

The line in your screenshot of `<<'BASH_COMPLETION_EOF'` is what's known as a [heredoc](https://en.wikipedia.org/wiki/Here_document#Unix_shells) which is another (somewhat unintuitive  way) of writing multiline strings. If you scroll to the very bottom you'll see another `BASH

[2019-12-07 06:11] eddiezane commented on #781
@emahnovets I'm unable to reproduce what you're seeing. Are you able to provide any sort of test case?

I've encountered that error before when trying to use a version of `kubectl` that is "dramatically" different from the server—i.e. client `1.16.3` server `1.13.2`.

[2019-12-07 06:16] eddiezane commented on #765
This looks like a duplicate of #707 which has an [open PR](https://github.com/kubernetes/kubernetes/pull/82336) :tada:.

[2019-12-09 06:41] seans3 commented on #765
Closing, since it's a duplicate.

/close

[2019-12-09 06:41] #765 closed

[2019-12-09 06:45] seans3 commented on #781
Hello @emahnovets. Can you please show the entire results of the `kubectl version` command, so we can see the version of the client AND the server? If the client and server are more than one version apart, then there are no guarantees. So a 1.16 kubectl is guaranteed to work against a 1.15, 1.16, and 1.17 API Server. This may be the cause, but we don't know until you report the server version. Tha

[2019-12-09 06:49] seans3 commented on #665
/remove-lifecycle stale

[2019-12-09 08:17] seans3 commented on #650
/remove-lifecycle stale

[2019-12-09 08:30] seans3 commented on #667
/remove-lifecycle stale

[2019-12-09 15:26] eddiezane commented on #780
@manosnoam I built matching versions and I'm unable to reproduce this. Any other details/steps you can provide?

I'm also wondering if this belongs elsewhere since your logs show the correct request being built and sent with a successful response code.

[code]

[2019-12-10 00:11] mxplusb commented on #151
@liggitt @seans3 any updates on getting this functionality removed?

[2019-12-10 00:14] liggitt commented on #151
Not really. Removing it from documentation, help, and examples was the first step to reducing confusion for new users. Like I said, it's not clear how we would communicate effectively that the alias was deprecated (we don't have API documentation for those like we do API types)

[2019-12-10 07:57] intelligent002 commented on #151
may be silly question but still ... may the output be filter based:

**kubectl get all** - list all resources of all types
**kubectl get <resourceTypes>** - list all resources of required types
**kubectl get -l <label>=<value>** - list all resources of all types with label filtering
**kubectl get <resourceTypes> -l <label>=<value>** - list all resources of required types with label filtering
**kub

[2019-12-10 13:41] irajhedayati commented on #747
I have the same issue with the most updated AWS CLI
`aws-cli/1.16.215 Python/2.7.16 Darwin/18.7.0 botocore/1.13.34`

[2019-12-10 20:09] srknc commented on #113
Doesn't `kubectl api-resources` work for you?

[2019-12-11 17:42] mxplusb commented on #151
The deprecation policy has a set of rules that could be applied to start Occam's Razor on deprecating this.

* _Rule 1: API elements may only be removed by incrementing the version of the API group._
  * **It's not an API type, just a category, so it wouldn't apply, correct?**
* _Rule 2: API objects must be able to round-trip between API versions in a given release without information loss, with t

[2019-12-11 18:04] liggitt commented on #151
That is not accurate. The "all" category is associated with particular group/version/resources, and is returned in discovery API responses by the server. The closest rule in the deprecation policy that applies is:

That would mean the "all" category would continue to be associated with all existing group/version/resources, and could be removed on a per-resource basis as those resources reached a n

[2019-12-11 19:31] #676 closed

[2019-12-12 14:47] symbiont-sam-halliday opened #784 "docs to install from source?"
The installation instructions at https://kubernetes.io/docs/tasks/tools/install-kubectl/ and in this repository do not explain how to install by compiling from source.

I tried `go get k8s.io/kubectl`, `go get k8s.io/kubernetes/kubectl` and `go get github.com/kubernetes/kubectl` but none of them are finding the sources. I also wasn't able to compile by doing a `go install` from this repository.

[2019-12-12 17:47] DanielCalvo commented on #784
I've successfully built kubectl from source following the steps described here: https://github.com/kubernetes/kubernetes/blob/master/build/README.md

I also found the community repository to be very helpful while getting started in general: https://github.com/kubernetes/community/tree/master/contributors/devel

Hopefully those two links help you out!

[2019-12-12 19:00] seans3 commented on #688
/remove-lifecycle rotten

[2019-12-12 22:16] mxplusb commented on #151
It sounds like the most reasonable time to remove the "all" category would be when the horizontalpodautoscalers formally announce their intent for v2? That way it wouldn't get blocked for an unknown amount of time with v2 resources, then blocked on v3, etc.

I guess in all of this, what is the end result realistically going to be? Would just ensuring "all" returns everything be easier than trying

[2019-12-12 22:43] liggitt commented on #151
Movement in either direction (to make it include all resources, or to make it stop including some and eventually any resources) has potential to break callers.

With the limited visibility of the existence of the "all" category, and removal from all documentation and user guides we control, I'm curious whether its continued existence to satisfy compatibility concerns is actually impacting users th

[2019-12-13 01:20] #752 closed

[2019-12-13 15:30] Dominik-K opened #785 "`kubectl proxy` not working with gRPC or HTTP/2(?)"
We want to locally test calls to a gRPC `Service` with the `kubectl proxy &` command. I.e. the call goes through the [API-server proxy method](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls). As an example:

* `kubectl proxy &`

* `curl -v localhost:8001/api/v1/namespaces/default/services/my-service:grpc/proxy/`

[2019-12-13 18:38] seans3 commented on #719
/remove-lifecycle stale

[2019-12-13 18:39] seans3 commented on #719
/sig cli
/area kubectl

[2019-12-13 18:41] seans3 commented on #718
Usually, we apply multiple resources by applying either a directory or the output of kustomize (-k). I'm going to close this one.
/close

[2019-12-13 18:41] #718 closed

[2019-12-13 23:10] #679 closed

[2019-12-13 23:22] szegedim opened #786 "kubectl should wait on the creation of the first pod for a deployment"
[code]
I get the following error occasionally running kubectl against an EKS cluster. I guess kubectl should wait longer for a pod to get created. I get the error in less than 1 second, when it happens.
`Error from server (NotFound): pods "" not found`

[2019-12-14 07:18] #681 closed

[2019-12-15 09:20] manosnoam commented on #780
@eddiezane  thanks for looking into it.
It's good to mention my k8s distribution is OpenShift 4.2.
I'm quite sure I was using the same kubeconfig to update the labels, and then to list them.
But this has only occurred one time, never before.
I will update once it is reproduced.

Any other debug steps / logs I can should add ?

[2019-12-15 14:31] harshavardhanc commented on #738
@FooBarWidget I'm also facing the same issue, I want to send a notification if the deployment fails. Did you find any solution?

[2019-12-16 08:43] mbtamuli commented on #125
Based on the previous comments I used the following to have the completions running without throwing error or using `clear`

[code]

[2019-12-16 11:39] jjangga0214 commented on #778
@prksu

This was because of the cluster not running at the moment, as you pointed.
However, as like my edited description, the error still occurs while the cluster is actually running.
I initialized the cluster by minikube by the way.

[2019-12-16 17:24] migueloller opened #787 "kubectl apply set-last-applied does not use manifest's `metadata.namespace`"
### What happened
Running `kubectl apply set-last-applied` after successfully running `kubectl apply` fails with message: `Error from server (NotFound): ...`. The reason for this is that while `kubectl apply` uses the manifests' `metadata.namespace` to update the resources, `kubectl apply set-last-applied` uses the default namespace for the current context of the kubeconfig.

### Expected Behavior

[2019-12-16 17:45] FooBarWidget commented on #738
@harshavardhanc I ended up writing my own `kubectl rollout status` alternative.

[2019-12-16 17:55] seans3 commented on #787
Thanks for the reproduction steps--very useful. Could you add the version of the client and server (run `kubectl version`). Thanks.

/sig cli
/area kubectl
/kind bug
/priority P1
/assign

[2019-12-16 17:58] migueloller commented on #787
#### `kubectl version`
[code]
Note: Reproduction was done in minikube.
#### `minikube version`
[code]

[2019-12-16 20:27] Zebradil opened #788 "List of available binaries?"
Is there somewhere a list of all available binaries of `kubectl` or at least supported architectures?
From the docs, I understand that there is a kubectl binary for every version and for {linux,darwin,windows}, but which architectures, except of `amd64` (as it is shown in example: `https://storage.googleapis.com/kubernetes-release/release/v1.17.0/bin/darwin/amd64/kubectl`)?

[2019-12-17 02:50] zhouya0 commented on #787
/assign

[2019-12-17 04:26] dims commented on #788
@Zebradil see https://gcsweb.k8s.io/gcs/kubernetes-release/release/v1.17.0/ - browsable URL for the GCS buckets.

[2019-12-17 04:26] dims commented on #788
/close

[2019-12-17 04:26] #788 closed

[2019-12-17 05:23] harshavardhanc commented on #738
@FooBarWidget Thanks for the response, How are you doing it? Can you please share it, it would very helpful for us.

[2019-12-17 09:02] apemost commented on #524
As a work around you can use [bat](https://github.com/sharkdp/bat) then run:

[code]

[2019-12-17 09:30] emahnovets commented on #781
Ho @seans3, @eddiezane. I can't reproduce this issue now, may be my global kubeconfig was been broken or version of client and server was been different. I think this ticket can be closed now.

[2019-12-17 09:30] #781 closed

[2019-12-17 10:22] zhouya0 commented on #787
Actually you can use specify `kubectl apply set-last-applied -f ./test-svc.yaml -n test ` to solve this problem.

But if you want to change this command without specify `-n`. Perhaps we have to change code:
https://github.com/kubernetes/kubernetes/blob/42fe74cd2c2d09a5fa80976bb82c91caa778738e/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_set_last_applied.go#L209
`o.namespace` into `info.namespace

[2019-12-17 13:24] jfekete1 commented on #151
Just write a simple script to get all the resources...

<code>
#!/usr/bin/perl

my $k8sResources = `kubectl api-resources | awk '{print \$1}'`;
my @resources = split("\n", $k8sResources);
shift @resources;

foreach $resource (@resources)
{
  my $command = 'kubectl get ' . $resource . ' --all-namespaces';
  print "############################################################################\n";
  pr

[2019-12-17 15:06] migueloller commented on #787
@zhouya0,

That is correct. This is a simple example but manifest files may contain resources that are deployed to different namespaces. In this case, specifying `--namespace` would result in an error. I think it's also fair to expect `kubectl apply last-applied-configuration` to behave like `kubectl apply`.

https://github.com/kubernetes/kubernetes/blob/42fe74cd2c2d09a5fa80976bb82c91caa778738e/st

[2019-12-17 16:02] PSanetra commented on #704
I got the same issue:
[code]

[2019-12-18 18:00] seans3 commented on #780
/sig cli
/area kubectl
/kind bug
/priority P1

[2019-12-18 18:02] seans3 commented on #776
/sig cli
/area kubectl
/kind bug
/priority P1

[2019-12-18 18:05] seans3 commented on #786
/sig cli
/area kubectl
/kind bug
/priority P2

[2019-12-18 18:07] seans3 commented on #786
Hello @szegedim. Thanks for reporting this. Can you run `kubectl version` and put the result in this issue? Thanks.

[2019-12-18 18:09] seans3 commented on #779
/sig cli
/area kubectl
/kind bug
/priority P2

Hello @lentzi90. The reproduce steps are useful--thanks. Can you add the client/server version by running `kubectl version` and adding this output in the issue?

[2019-12-18 19:07] seans3 commented on #646
/remove-lifecycle rotten

[2019-12-18 19:48] lentzi90 commented on #779
Sure thing! I tried it just now in minikube on v1.17.0:
[code]

I also realized that I made a typo in the reproduce steps. The `create` verb is not in the example Role :man_facepalming: editing...

[2019-12-19 07:52] manosnoam commented on #780
I managed to reproduce it - on a cluster installed on **AWS**.
It does not reproduce on my other cluster (on Openstack), just on AWS.

[code]

[2019-12-19 19:45] szegedim commented on #786
kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:36:53Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

[2019-12-20 01:33] #31 closed

[2019-12-20 02:53] zhouya0 commented on #779
/assign

[2019-12-20 06:28] zhouya0 commented on #779
It is worth noting that if `resourceNames` is set, the verb used in the request cannot be `list`, `watch`, `create`, or `deletecollection`. Because resource names do not appear in the URLs of API requests such as `create`, `list`, `watch`, and `deletecollection`, these request verbs will not be allowed by rules with `resourceNames` set, because the `resourceNames` part of the rule will not match t

[2019-12-20 08:32] JamesYeoman commented on #776
Ah yes. I see now. It's rather trippy. I don't understand though, why the completions have to be dynamic. It prevents caching because the zcompdump is based on completion files, rather than dynamically loaded completions.

[2019-12-20 09:41] #687 closed

[2019-12-20 11:23] lentzi90 commented on #779
You are correct @zhouya0 but this is also my point! This is a "weird" way to use RBAC (maybe should not be allowed?). But as it is right now I **can** specify a `resourceName` together with `create`, `list`, `watch` and `deletecollection` without any warnings or errors. The **effect** is that those verbs are forbidden, but `kubectl auth can-i` does not "know about" this.

[2019-12-20 11:44] oivindoh commented on #783
Reproducing also using latest 1.17 release:

[code]

[2019-12-23 01:44] #528 closed

[2019-12-23 11:48] FooBarWidget commented on #738
It's proprietary code, so I'm afraid I cannot share it. The approach is to poll all relevant Deployment, StatefulSets and Pods and to inspect their situation, until the number of Ready states have reached the goal, or until a pod enters CrashLoopBackOff or some other undesirable state that we know it's unlikely to recover from.

[2019-12-23 15:57] raravena80 commented on #551
/remove-lifecycle stale

[2019-12-23 16:44] jonasdebeukelaer commented on #734
+1

Any thoughts from the maintainers?

[2019-12-23 18:56] raravena80 commented on #537
/remove-lifecycle stale

[2019-12-23 19:41] thockin opened #789 ""create deployment" makes bad assumptions about input data"
[code]

I can only assume that it is using that string as container name with no escaping.  It is a valid container image name, so this is dubious, at best.  If you are going to use the name, it has to be escaped and sanitized.  I don't see any way to manually override that, either.

[2019-12-24 06:08] zhouya0 commented on #789
`kubectl create` will use the image's name as container's name. You can simply write the yaml file and give the container's name as you want. And then use `kubectl apply -f `.

[2019-12-24 11:16] harshavardhanc commented on #738
Cool, Thanks @FooBarWidget. Will try to write my own.

[2019-12-24 21:37] thockin commented on #789
My point is that this is a broken and hostile assumption.  If you want to
autogenerated container names, that is fine, but transform them into
something that passes validation and doesn't collide.  That's not trivial,
but not THAT difficult.

On Mon, Dec 23, 2019, 10:08 PM zhouya0 <notifications@github.com> wrote: