[2022-01-05 20:16] eddiezane commented on #1118
RESTMapper returns this error

https://github.com/kubernetes/kubernetes/blob/e9fc23e31e78142e4ebac83bde7241d872e5f48b/staging/src/k8s.io/cli-runtime/pkg/resource/mapper.go#L67

https://github.com/kubernetes/kubernetes/blob/e9fc23e31e78142e4ebac83bde7241d872e5f48b/staging/src/k8s.io/apimachinery/pkg/api/meta/errors.go#L105

[2022-01-06 02:38] brianpursley commented on #1157
You're right about what is happening regarding cobra's completion function considering `:` to be a word delimiter.

I confirmed that `GenBashCompletionV2` as you mentioned appears to fix the problem and completions seem to still work fine.

@marckhouzam Is there any reason you know of that it would not be a good idea to move to V2?

It should be a very simple fix on our end.

In the meantime, anyo

[2022-01-06 03:22] brianpursley commented on #1157
@frederik-b Your observation is correct, that completions work when an alias contains `-n=foo`, but do not work when an alias contains `-n foo`

This is a known issue an also [affects plugin invocations as well](https://github.com/kubernetes/kubectl/issues/884#issuecomment-646278462).

The cause is in this code, where it interprets the first word not starting with a `-` to be a command name, not a

[2022-01-06 03:28] marckhouzam commented on #1157
@brianpursley Bash completion v2 has a couple of benefits beyond this bug fix, but you should be aware of them to know exactly what the changes implies:

1. Support for descriptions like zsh and fish (and PowerShell).  You must opt-in to this feature and could allow your users to disable it (as helm does)
1. It only recommends `--flag` instead of both `--flag=` and `--flag` which is better for the

[2022-01-06 03:41] brianpursley commented on #1157
/retitle kubectl autocompletion does not work when using --context flag with a context that contains a colon

[2022-01-06 03:43] brianpursley commented on #1157
@marckhouzam Thanks for the info!  I'll take a look at upgrading Cobra to 1.3 and turning on descriptions too.  We might as well take advantage of the descriptions if we can, since it would be available with V2 completions.

[2022-01-06 09:19] pandaamanda commented on #1158
can not find code where set refreshPod = true.  should set refreshPod := true, or set  at other place.

[2022-01-06 17:26] szpak commented on #450
It would still be nice to have an easy way to achieve that.

/remove-lifecycle stale

[2022-01-06 22:55] #1027 closed

[2022-01-06 23:25] eddiezane commented on #450
This still needs to be answered before we can proceed.

Showing the pod as `Terminating` is a convenience here. As Brian said the pod is indeed still in a state of `Running` but has a `metadata.deletionTimestamp` meaning the pod is marked for deletion.

Do you want the the convenience removed? This would show the same pods but with the state column of `Running` even if they are marked for deletion

[2022-01-07 01:40] #1124 closed

[2022-01-07 03:17] LetLifeStop commented on #1158
["can not find code where set refreshPod = true. should set refreshPod := true, or set at other place." ], that‘s what I mean。

[2022-01-07 03:18] LetLifeStop commented on #1158
yeah, that's what I mean

[2022-01-07 03:18] LetLifeStop commented on #1158
can not find code where set refreshPod = true. should set refreshPod := true, or set at other place.

[2022-01-07 06:11] eddiezane commented on #1050
I think this is resolved by https://github.com/kubernetes/kubernetes/pull/99758?

cc @aramperes

[2022-01-07 14:15] aramperes commented on #1050
As far as I can tell it's not; the error message change was not applied to the `rollout status` command.

`kubectl rollout status` still hangs for anything other than selecting 1 resource by name. `--watch` also seems to not work (it exits with e.g. `deployment "my-app" successfully rolled out`)

[2022-01-07 17:02] lauchokyip commented on #1050
Seem like this PR would fix it , but need some changes @eddiezane
https://github.com/kubernetes/kubernetes/pull/102041

[2022-01-07 17:23] eddiezane commented on #1161
Closed by https://github.com/kubernetes/kubernetes/pull/106739

/close

[2022-01-07 17:23] #1161 closed

[2022-01-09 13:41] lauchokyip commented on #1046
/remove-lifecycle stale
On Jan 9, 2022, 06:32 -0500, Kubernetes Triage Robot ***@***.***>, wrote:

[2022-01-10 10:35] rcmorano opened #1162 "`kubectl create -k` doesn't support kustomizations including helm charts"
**What would you like to be added**:

`kubectl create -k` support for `--helm-chart` or just have it enabled by default.

**Why is this needed**:

I've faced a dead end while trying to deploy fission [0] helm chart using a `kustomization` where `kubectl apply` won't be able to apply my manifest due to to some internal limitation [1] and the only way is to workaround it seems to be using `kubectl c

[2022-01-10 12:13] RalphDriessen opened #1163 "Rollout status hangs for 5 minutes after success message"
**What happened**:
After running
[code]
the client returns `deployment "my-app" successfully rolled out`. After this it's stuck for ~5 minutes causing our pipeline to run for a long time because this happens for every service for which we call `rollout status` (also happens when running from a local client). This is happening only on the cluster that we recently upgraded to kubernetes v1.21.8. On

[2022-01-10 12:49] roeera commented on #1142
Same error when trying to search history "ctrl + R"... any idea ?!

[2022-01-10 15:45] bitti commented on #1142
Do you use `fzf` for command history? It's written in Go, so try to update/reinstall it via `brew`.

[2022-01-10 17:28] eddiezane commented on #1163
Please check if this is happening with the latest version of kubectl (v1.23.1) and please rerun with verbose logging turned on `-v 10`.

[2022-01-10 17:41] eddiezane commented on #1162
cc @KnVerey @natasha41575

[2022-01-10 17:48] natasha41575 commented on #1162
We have some upcoming plans for a better way to handle helm support in kustomize that will allow more flexibility, especially with its integration with kubectl.

More specifically, we are currently working on a way to support helm inflation as a third party extension rather than a builtin feature. This will eliminate the need for an `--enable-helm` flag, and for that matter, any special treatment

[2022-01-11 01:56] aqHi commented on #1142
` brew update` then `brew upgrade` may help

[2022-01-11 03:24] MrMYHuang commented on #587
I met the same problem after a PC boot with rke2 v1.22.5+rke2r1 on Ubuntu 21.10 x86_64.

By the doc, https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/, port 10250 is used by **kubelet**. It suggests me to restart my rke2 k8s. After running `sudo systemctl start rke2-server`, the port-forward problem is fixed.

[2022-01-11 09:40] rcmorano commented on #1162
Awesome! Thanks for the prompt reply and all the work you are doing :pray:

[2022-01-11 11:55] RalphDriessen commented on #1163
Still happens using Client version:
[code]
Running with verbose logging turned on resulted in the log in the attachment.
[kubectllog.txt](https://github.com/kubernetes/kubectl/files/7846221/kubectllog.txt)

[2022-01-11 17:39] mpuckett159 commented on #1093
@tewe Does `kubectl config set-credential` solve your use case? I think this may be a bit of a confusion in the docs (and maybe just update the error messages to point to the proper commands) here rather than a feature request.

[2022-01-11 23:00] nhumrich commented on #704
For those getting here, you can get only new events by using `--watch-only` instead of `--watch` on the `kubectl get events` command

[2022-01-12 23:14] tewe commented on #1093
(My solution has been [kubelogin](https://github.com/Azure/kubelogin))

Can `--auth-provider-arg` *remove* a key? Then it should be equivalent.

(In the case of the refresh token, setting it to a bogus value probably has the same effect)

[2022-01-12 23:18] mpuckett159 commented on #1093
It looks like if you were to use `kubectl config set-credentials test --auth-provider=test --auth-provider-arg=refresh-token-` (notice the `-` at the end) it will remove the specified arg key.

[2022-01-12 23:48] tewe commented on #1093
Thanks! I'll leave this open due to the confusing error message.

[2022-01-14 06:47] kbudde commented on #1126
@negz , @soltysh  as far as I can see the limit should have been upgraded to 300 ([#105520](https://github.com/kubernetes/kubernetes/pull/105520)) but the fix doesn't work for 1.23 (see ( [#107131](https://github.com/kubernetes/kubernetes/pull/107131) ). Now it's part of release 1.24.
What is the process to get this change backported into older version?

[2022-01-14 09:30] wederbrand opened #1164 "Add an option to set-image that reuses the current image name and only changes the tag"
**What would you like to be added**:
Normally I change the image on a deployment by just changing the tag, but I have to type out the complete image name. I would like for an option to only set the tag.

Example
`kubectl set image deployment web-frontend *=:1.2.3`

**Why is this needed**:
Save time and produce less errors when running set-image

[2022-01-14 17:07] ThuF opened #1171 "Show warning when kubectl set env from secret leads to uppercase of the secret keys"
### What happened?

I have a **Secret** created by the following command:
[code]

I'm binding the secret to a **Deployment** with the following command:

[code]

When describing the deployment I get the following output:

[code]

Where the environment variables are in uppercase:
- clientid &#8594; CLIENTID
- clientsecret &#8594; CLIENTSECRET
- verificationkey &#8594; VERIFICATIONKEY
- xsappname &#

[2022-01-17 21:45] mpuckett159 opened #1165 "Enable kubectl set to edit all exec keys"
**What would you like to be added**:
The ability to edit config settings under the `exec` key using `kubectl config set`.

**Why is this needed**:
Similar to #1093
Users expect the `kubectl config set` command to be able to set any valid keys in the kubeconfig file. At present the command can not set any `auth-provider` or `exec` settings. Currently there is a PR to resolve the `auth-provider` iss

[2022-01-18 18:51] ed-at-agari commented on #1142
I had to do a `which -a aws-iam-authenticator`, delete both results, then `brew reinstall aws-iam-authenticator`

[2022-01-18 20:02] #1157 closed

[2022-01-18 20:37] #1087 closed

[2022-01-18 21:16] ppawiggers commented on #753
Reopening issue - would be nice to have this.

[2022-01-19 02:15] brianpursley opened #1166 "Update Cobra to version 1.3.0"
**What would you like to be added**:
Upgrade cobra from version 1.2.1 to 1.3.0

**Why is this needed**:
* Enables displaying command descriptions in bash completion output like it does for zsh and fish completions currently (bug fixed in cobra 1.3.0 to make this usable https://github.com/spf13/cobra/pull/1509)
* Improves flag parsing capabilities which will help with plugin command completions (ht

[2022-01-19 02:15] brianpursley commented on #1166
/assign

[2022-01-19 19:04] cupdike commented on #821
It's not an error in the _command ran successfully_ sense, but it's also not *nix like either.  Observe how grep returns 1 when it can't match the text, even though it ran without error:

[code]

[2022-01-20 19:48] eddiezane commented on #1163
Thanks for the logs.

[code]

`timeoutSeconds=566` `ServerProcessing 566057 ms Duration 566057 ms` `10:23 10:32`

That timeout is definitely being hit. I wonder if it could be this

https://github.com/kubernetes/kubernetes/pull/107460
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1218

Are you able to upgrade to 1.21.9 and test?

[2022-01-20 20:48] John4266 opened #1167 "kubectl logs --tail shorthand"
**What would you like to be added**:
I would like shorthand of `--tail` argument to be added.
Maybe something like `-t`

**Why is this needed**:
Just to make using logs with `tail` a bit easier/faster.

[2022-01-20 23:27] KnVerey commented on #1117
It does not. Kustomize is a purely client-side, so it has no deploy-related features.

[2022-01-21 02:12] ringerc commented on #1117
That's unfortunate, because it means basically every different user who wants robust deployment has to implement repetitive logic like:

[code]

It's reasonable to expect the client sending data to `kubectl` to ensure that it is ordered correctly with CRDs, then namespaces, then other structure, such that dependencies are sensible.

But it's a pity that it's seemingly not practical for kubectl to

[2022-01-21 06:22] rgherta opened #1168 "Kubectl querying the wrong resource"
**What happened**:

[admin@somehost tmp]$ kubectl create ingress demo-localhost --class=haproxy   --rule=/*=demo:80 --v=2
error: failed to create ingress: Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": failed to call webhook: Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": service "ingress-nginx-c

[2022-01-23 04:04] danishprakash commented on #1167
looks trivial to add https://github.com/danishprakash/kubernetes/commit/ab72ba1f2ebc864e1f79813e2c8cecc1b910a935 cc/ @eddiezane

[2022-01-23 04:04] danishprakash commented on #1167
Seems to be a small enough change https://github.com/danishprakash/kubernetes/commit/ab72ba1f2ebc864e1f79813e2c8cecc1b910a935 cc/ @eddiezane

[2022-01-23 04:06] danishprakash commented on #1164
That sounds like a nice addition, @eddiezane if and when we (triage and)accept this, mind If I take a shot at this?

[2022-01-23 04:09] danishprakash commented on #1044
@eddiezane is it okay If I pick this up?

[2022-01-23 06:19] koba1t commented on #1168
nginx-ingress installer was deploy to ValidatingWebhookConfiguration [here](https://github.com/kubernetes/ingress-nginx/blob/d16e0dec4865cbd5b937dbffb957423c308331c5/deploy/static/provider/cloud/deploy.yaml#L628-L660) and ValidatingWebhookConfiguration resources is not in Namespaced [^1] .
Therefore, this resource is not cleanup when delete ingress-nginx namespace.

Try to delete from installer ya

[2022-01-23 11:41] #1168 closed

[2022-01-24 07:22] chlunde commented on #1126
@kbudde https://github.com/kubernetes/sig-release/blob/master/release-engineering/role-handbooks/patch-release-team.md#cherry-pick-requests documents the process.

@justinsb is there another open issue for this, or is it just inside a comment in this closed issue? "I think there's a bug where kubectl get clusterrolebindings.rbac.authorization.k8s.io forces a cache invalidation and full rediscovery

[2022-01-24 13:19] parul5sahoo commented on #1167
/assign @parul5sahoo

[2022-01-24 18:42] eddiezane commented on #1154
Thanks for the continued thoughts! I've spoken with a few others about this since.

For some context, [client-go](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go) is where loading kubeconfigs and other env vars comes from. Most Kubernetes tooling (built in Go) uses client-go in some way.

https://github.com/kubernetes/kubernetes/blob/5426da8f69c1d5fa99814526c1878a

[2022-01-24 18:55] eddiezane commented on #1167
The change is indeed small but kubectl has been suffering from flag creep for a while. Take a look at the output of `kubectl get --help`.  https://github.com/kubernetes/kubernetes/pull/104736 will help with the formatting but as maintainers we've been trying to avoid introducing new flags unless absolutely necessary.

While a valid request I don't think this warrants the saved 4 keystrokes.

[2022-01-25 20:09] #1150 closed

[2022-01-26 08:21] RalphDriessen commented on #1163
Unfortunately not... We are using Rancher and currently on v2.6.2 which only support Kubernetes versions up to v1.21.8. As soon as we can upgrade we will certainly try and I'll report back.
Thanks for the help!

[2022-01-26 08:35] mkfdoherty opened #1169 "Port-forward drops connection to pod after first connection"
**What happened**:

When running Kubernetes `v1.23.1` on Minikube with kubectl `v1.23.2` I experienced the following unexpected behaviour when trying to create a port-forward to a pod running an arbitrary service.

`kubectl version`:
[code]

What we see is that after the first netcat connection successfully closes we get a lost connection to the pod and the port-forward closes:

`kubectl port-forw

[2022-01-26 16:20] ryankrawz opened #1170 "kubectl get --watch should update resource statuses in place"
When running a command like the following:
[code]
The shell will continue to print lines whenever a pod undergoes a status change. As an example, as the pod `dev-data-0` spins up, the output below occurs.
[code]
The additional lines create a lot of noise and make the resource information difficult to read. Instead, updates to a single resource's status should occur **in place** and remain on a sin

[2022-01-27 12:40] sftim commented on #1170
/kind feature

[2022-01-27 20:48] alex-vmw opened #1172 "kubectl describe ingress command should not default to hard-coded default backend in the kube-system namespace"
kubectl describe ingress command should not default to hard-coded default backend in the kube-system namespace (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2636):
[code]
If the Ingress does not have a defined default backend, why not simply leave the default backend field empty?

On our Kubernetes clusters (and I am sure on many others)

[2022-01-28 14:06] #1023 closed

[2022-01-30 04:54] winkee01 commented on #764
I encountered this error when I execute this command on a k8s worker node, and I didn't aware that I started a docker container (MySQL's db manager: adminer) that serves on port 8080, the coincidence is that `kubectl version` command will try to get information from `localhost:8080`, thus got this error.

[2022-01-30 22:10] sftim commented on #1171
/retitle Show warning when kubectl set env from secret leads to uppercase of the secret keys

/kind feature

[2022-01-31 09:53] sftim commented on #1172
The actual behavior of v1 Ingress in respect of a default backend, where none is explicitly specific, is controller-dependent - see https://kubernetes.io/docs/concepts/services-networking/ingress/#default-backend

[2022-01-31 18:19] paleozogt commented on #551
The link to https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190920-future-of-kubectl-cp.md is broken. :(

[2022-01-31 19:09] eddiezane commented on #551
@paleozogt looks like the structure has since changed.

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2381-future-of-kubectl-cp

[2022-01-31 19:35] eddiezane commented on #1172
`default-http-backend` appears to be the [convention name](url) and not defined in the spec. https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1453-ingress-api#path-matching-semantics

@rikatz do you know?

Behavior-wise I'm not sure we should change it but we can wrap the error a bit better.

@alex-vmw do you have a suggestion for what would be more clear to your users?

[2022-01-31 19:37] alex-vmw commented on #1172
@eddiezane If the Ingress does not have an explicitly defined default backend, why not simply leave the default backend field empty?

[2022-01-31 19:52] eddiezane commented on #1172
@alex-vmw that's a possibility. I don't know the context behind why it was defaulted to this yet.

[2022-02-01 09:41] razvanphp commented on #1142
For me the problem was an old version of `google-cloud-sdk`

[code]

[2022-02-01 20:43] mpuckett159 commented on #1160
Hey not sure if this is still actively being worked on but was poking around. It looks like the class got added in `kubectl get ingress` at some point. Looks like a simple one(-ish) liner to get this added to the describe output. I can push a PR for it but wanted to make sure I wasn't stepping on anyone's toes.

[2022-02-02 15:50] jbouchery opened #1173 "add an option for `kubectl diff` to exit 0 when differences are found"
**What would you like to be added**:
Hi ! I would like an option in the `kubectl diff` command to return an exit code 0 when diff are found instead of 1.

**Why is this needed**:
I need this because i would like to use `kubectl diff` in my CI/CD and actually it fails when exiting 1.

Thank you !

[2022-02-02 16:54] lauchokyip commented on #1133
Hi @ncapps , are you still working on this? If not, would you mind giving it out to one of my friend who is a newcomer ? Thanks!!!

@williamyeh

[2022-02-02 16:57] lauchokyip commented on #1173
This will be tracked here (https://github.com/kubernetes/enhancements/pull/2574)

[2022-02-02 16:58] brianpursley commented on #1173
Can you just do this using shell features?  like:
[code]

[2022-02-02 17:04] ncapps commented on #1133
I apologize for the delay. Feel free to pick this up @williamyeh

[2022-02-02 17:06] eddiezane commented on #1173
Cheers there is a KEP for normalizing all exit codes in kubectl.

https://github.com/kubernetes/enhancements/pull/2574

/close

[2022-02-02 17:07] #1173 closed

[2022-02-02 17:20] mpuckett159 commented on #1165
This is effectively a duplicate of https://github.com/kubernetes/kubectl/issues/1093

[2022-02-02 17:20] #1165 closed

[2022-02-02 17:34] eddiezane commented on #1162
@natasha41575 are you tracking this anywhere?

[2022-02-02 18:03] eddiezane commented on #1172
@soltysh to take a look

[2022-02-02 18:04] KnVerey commented on #1162
The tracking issue for the future of the Helm integration is https://github.com/kubernetes-sigs/kustomize/issues/4401

/close

[2022-02-02 18:04] #1162 closed

[2022-02-02 18:11] williamyeh commented on #1133
/assign

[2022-02-02 18:11] eddiezane commented on #1170
One day I'd like to have a more rich terminal UI like experience where we can do things like this easier. Maybe a kubeconfig context editor.

We could probably fake that now with an ANSI escape to clear the terminal but I'm not sure that works on Windows.

I actually use the `watch` utility instead to handle this for now which will just call the command every x seconds.

[code]

/triage accepted
/

[2022-02-02 18:14] eddiezane commented on #1169
Possibly related to https://github.com/kubernetes/kubernetes/pull/103526. Though that should have only had an effect when the pod dies anyways. We just stopped hiding the broken behavior.

We want to rewrite the port forward for this release as well.

[2022-02-02 18:19] sftim commented on #1170
Also see: [kui](https://github.com/kubernetes-sigs/kui#readme)

[2022-02-02 18:31] eddiezane commented on #1164
Thanks for the valid request!

We discussed this and determined the trade off of complexity + risk does not outweigh the convenience here.

We recommend scripting this as a bash function.

/triage unresolved
/close

[2022-02-02 18:31] #1164 closed

[2022-02-02 18:32] eddiezane commented on #1163
I'm going to close this to get it out of our queue but please reopen if you're still seeing this after that upgrade.

/close

[2022-02-02 18:33] eddiezane commented on #1158
We would accept a PR here that has a test which demonstrates the correct behavior either way.

/triage accepted
/priority backlog

[2022-02-02 18:36] eddiezane commented on #1154
Closing this to clear our queue.

@danielhoherd btw we'd love to have you join us if solving things like this interests you! https://github.com/kubernetes/community/tree/master/sig-cli#meetings

/close

[2022-02-02 18:36] #1154 closed

[2022-02-02 18:42] eddiezane commented on #1055
Would like to address this one day. Maybe we can merge in our own open OpenAPI schema for this inside the command?

/remove-lifecycle rotten
/triage accepted
/priority backlog

[2022-02-02 18:59] eddiezane commented on #1167
We discussed this and recommend using a bash alias here.

[code]

/close

[2022-02-02 19:00] #1167 closed

[2022-02-03 01:03] jlsong01 commented on #1171
/assign
glad to take this one

[2022-02-03 07:07] Dentrax commented on #1138
Kindly ping. 🤞

[2022-02-03 08:13] jbouchery commented on #1173
@brianpursley  actually i can't because it will return true on errors (exit codes >1).

Actually, i found out that many diff tools use this strategy for exit codes : 0, 1 and <1. But eventually, if i use a diff tool that provide a command to not return 1 on differences it works (like this project : [https://github.com/homeport/dyff](https://github.com/homeport/dyff))

[code]

@eddiezane, i'm not s

[2022-02-06 17:20] #1050 closed

[2022-02-06 22:52] brianpursley commented on #1169
@eddiezane Yes, I think this is probably related to the "fix" in https://github.com/kubernetes/kubernetes/pull/103526.  I put "fix" in quotes because the fix was to allow port-forward to fail when there is an error instead of getting stuck in an unrecoverable non-failed state that can never process connections again.

@mkfdoherty You mentioned that this is expected behavior:
[code]

But I'm guessi

[2022-02-07 03:16] zswanson commented on #1144
@yossicohn argocd supports this via an option in the argocd CM.

[code]

[2022-02-07 04:50] yossicohn commented on #1144
@zswanson thanks a lot

[2022-02-07 08:14] mkfdoherty commented on #1169
@eddiezane and @brianpursley I do agree that it does sound like the "fix" in https://github.com/kubernetes/kubernetes/pull/103526. Which is general is a fix. But I found it unexpected in this specific scenario that could be generalised to other cases of opening and closing connections to a service that a pod is running:
1. A pod running PostgreSQL is up and running.
2. We create a port-forward to

[2022-02-07 17:08] MadhavJivrajani commented on #1046
/lifecycle frozen
Considering this is a long term tracking issue :)

[2022-02-08 01:19] brianpursley commented on #1169
Hmm, so maybe there are different types of errors, some unrecoverable where it makes sense to stop forwarding, but others which are recoverable like your example, which you mentioned.

I’ll have to test with psql and see if I can reproduce that way and see what the difference is.  It sounds like you are indeed hitting an issue with the change that was made in kubectl 1.23.0.

If that’s the case, u

[2022-02-08 06:42] aramperes commented on #1050
/reopen
/remove-lifecycle rotten
/assign

I'd like to help with this; as I understand the intent is that `rollout status` only exits once all matched resources have a completed rollout?

[2022-02-08 17:55] pcgeek86 opened #1175 "Backspace moves cursor to the right, but correctly deletes character backwards ⌨️"
**What happened**: When I `kubectl exec` into the `etcd` Pod and type a command, sometimes I use the backspace key to correct my command typing. When I press Backspace, the cursor moves to the right. However, the character behind the cursor correctly gets deleted. This results in a confusing rendering of the command, and makes the interface unusable.

**What you expected to happen**: Backspace key

[2022-02-08 22:23] eddiezane commented on #569
We have discussed this in a few different shapes. This comment sums up the issue with a change like this.

https://github.com/kubernetes/kubectl/issues/1154#issuecomment-1020422589

[2022-02-09 03:42] eddiezane commented on #1175
I can replicate this with kind but I think this is more an issue that the `sh` implementation in that specific image doesn't implement a proper shell like you'd expect.

This Stack Overflow answer gets closer to explaining it https://unix.stackexchange.com/a/43107/161930

[2022-02-09 16:37] apelisse commented on #1055
that's an option (probably the best one), but how do you generate the openapi for the kubeconfig? That's not super trivial.

[2022-02-09 22:10] saerdnaer commented on #686
@[rthamrin](https://github.com/rthamrin) upgrade  `kubectl` to v1.23 or higher, c.f. https://github.com/kubernetes/kubernetes/pull/103526

[2022-02-10 19:57] #1160 closed

[2022-02-11 17:57] #1048 closed

[2022-02-11 20:56] mpuckett159 commented on #1120
/assign

[2022-02-12 14:20] brianpursley commented on #1169
I'm still trying to reproduce this using kubectl 1.23.3 (and other versions), and still am not able to.  There must be something else different about our clusters.

First, just so we're on the same page, here is my latest attempt to reproduce.  I create a pod running PostgreSQL, forward port 5432, then connect using `psql` from my local machine:

Terminal 1:
[code]

Terminal 2:
[code]

After sever

[2022-02-12 15:09] #1012 closed

[2022-02-12 16:46] brianpursley commented on #1169
I also tried using a Minikube cluster...
[code]

And EKS as well.

[2022-02-12 21:51] jsnbuchanan commented on #704
Adding `--output-watch-events=true` helped me understand that these old events were `delete` events as @eliaoggian mentioned.

For Example:
[code]

[2022-02-14 03:17] chinglinwen commented on #669
I also found show-kind have no effect when get multiple kind resource.
show-kind flag is override by function `multipleGVKsRequested`.

so that whether to print kind should have a way determined by the user?

[2022-02-14 13:35] #1064 closed

[2022-02-14 18:55] evanmcclure opened #1176 "CustomColumnsPrinter prints address for fields with pointer types instead of the value"
**What happened**:
I was using the kubectl module in my project and noticed that if server-side flattening and printing isn't used, the `CustomColumnsPrinter` printer prints the address for object fields that are pointer types instead of the actual value. For example, `.spec.terminationGracePeriodSeconds` in `v1.Pod` has the type `*int64`, and it's value gets printed as `0x140009abc30` instead of

[2022-02-16 07:14] #1171 closed

[2022-02-16 08:59] sastorsl commented on #884
Without going into the way `kubectl` employs plugins.

When considering aliases you should look into functions instead, which can handle parameters.

[code]

[2022-02-16 09:45] kstephan-wescale opened #1178 "kubectl diff doesn’t handle quoted options in KUBECTL_EXTERNAL_DIFF correctly"
### What happened?

I tried to make a diff ignoring lines matching a regex which includes special characters and thus has to be quoted:
[code]
The matching line was not ignored in the output.

To get to the bottom of this I tried it with `KUBECTL_EXTERNAL_DIFF="diff -Igeneration"` and the matching change was successfully ignored, however when I added quotes like `"diff -I\"generation\""` or `'diff

[2022-02-16 11:53] jlsong01 opened #1177 "coordinate the kubectl warning style"
**What would you like to be added**:
kubectl should report warning in a unified way as https://kubernetes.io/blog/2020/09/03/warnings/ explains. (colored yellow, and with an initial capital W)

However serverl other warning styles exists. E.g. if you search with fmt.Fprintf(o.ErrOut, "warning: xxxx, you can find them.

**Why is this needed**:
It's better to coordinate the warning style as the same

[2022-02-16 11:53] jlsong01 commented on #1177
/assign

[2022-02-16 11:55] jlsong01 commented on #1177
/kind cleanup

[2022-02-16 12:17] sftim commented on #1177
/sig cli
/remove-kind feature

[2022-02-16 12:23] sftim commented on #1175
/triage unresolved?

[2022-02-16 12:24] sftim commented on #1069
Also see #1156

[2022-02-16 12:41] meetreks commented on #759
Cloud9 overrides aws creds and the only way to get this workign is to enforce env variables with the right values..
I did something like this and it works
export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx
export AWS_DEFAULT_REGION=eu-west-1

[2022-02-16 17:36] panzerox123 commented on #1175
/assign

[2022-02-18 13:11] sftim commented on #524
A related PR: https://github.com/kubernetes/kubernetes/pull/108210

[2022-02-18 15:32] sftim commented on #1178
(I meant that as a question, not as an imperative - but I think it's OK)

[2022-02-20 01:24] dniasoff opened #1179 "When CRDs and CRs are deployed in the same apply, the apply will fail due to race condition"
**What would you like to be added**:
I would like kubectl to optionally wait for CustomResourceDefinitions to be established before attempting to apply a Custom Resource that is dependent on it.

A suitable workflow is to just apply all CRDs, do the equivalent of ```kubectl wait --for=condition=established -f crds.yaml`` and then apply other resources

**Why is this needed**:
When deploying CRDs a

[2022-02-20 11:00] mfkd commented on #1169
Thank you so much for your replication attempt. I appreciate you taking the time.

I decided to try and replicate this again using a popular [PostgreSQL helm chart ](https://bitnami.com/stack/postgresql/helm). To my surprise the behavior is different to that of the PostgreSQL instance I have running with the [Patroni](https://github.com/zalando/patroni) replication manager. This likely explains wh

[2022-02-20 11:02] mkfdoherty commented on #1169
Thank you so much for your replication attempt. I appreciate you taking the time.

I decided to try and replicate this again using a popular [PostgreSQL helm chart ](https://bitnami.com/stack/postgresql/helm). To my surprise the behavior is different to that of the PostgreSQL instance I have running with the [Patroni](https://github.com/zalando/patroni) replication manager. This likely explains wh

[2022-02-20 12:54] morremeyer commented on #1071
/reopen

This is still a viable feature.

[2022-02-20 12:55] morremeyer commented on #1071
Can a collaborator please reopen this? This is still a feature that would make sense to be implemented.

[2022-02-22 10:38] reegnz commented on #524
This generic colorizer is also a nice solution for adding some color to kubectl tabular output (and other cli tools as well): https://github.com/garabik/grc

It works with kubectl out of the box, eg. `alias kubectl=grc kubectl`

It then colors yaml, json and tabular output, and even the help output!

For colorization of json and yaml outputs I usually go straight into vim though:

[code]
or

[code

[2022-02-22 12:25] atiratree commented on #1128
This bug applies to all commands (create/apply/delete/describe) that use Exec credentials plugin

Description of the current code flow and behaviour for kubectl delete:

when running delete:

https://github.com/kubernetes/kubernetes/blob/267272efe0725e14b3c2c7bc6fa3dd64a922a6a7/staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go#L212

with client obtained here

https://github.com/kubernetes/kubern

[2022-02-22 12:34] atiratree commented on #1128
^  I think the fix should be just to enable the TLS caching for this use case:
 - the dial is a basic Dial with just a connection tracking so this shouldn't cause issues since the Dial should function the same regardless of a lookup
 - GetCert should also return consistently when the server requests client certificate and the connections should be closed by Authenticator when new cert appears

 so

[2022-02-22 12:55] atiratree commented on #1128
posted a PR with a fix https://github.com/kubernetes/kubernetes/pull/108274

until that gets accepted a following workaround can be used:

[code]

[2022-02-22 12:56] atiratree commented on #1152
posted a PR with a fix https://github.com/kubernetes/kubernetes/pull/108274

until that gets accepted a following workaround can be used:

[code]

[2022-02-23 00:25] dhirschfeld opened #1180 "Enable `kubectl` to complete `kubectl get pod/...`"
**What would you like to be added**:
Testing in PowerShell, `kubectl` can complete the pod name if you use a space:
[code]
However if you use a forward-slash the completion doesn't work:
[code]

**Why is this needed**:
It would be nice if the completions supported both formats since `kubectl` itself accepts both formats.

[2022-02-23 17:26] panzerox123 commented on #1175
While I didn't try `kubeadm` yet, I did run the latest build of `bitnami/etcd` on kind and I wasn't able to replicate the issue on Linux, Windows Terminal or the VSCode terminal. The issue might be specific to the image that kubeadm deploys, as @eddiezane mentioned. I'm currently trying to get kubeadm working on WSL2 on Windows, I'll update once I get it working

[2022-02-23 22:14] MikaelSmith commented on #454
I've put together a helper that wraps up a workflow for this problem: https://github.com/puppetlabs/kubectl-ran

It's reasonably complete, although I plan to add an ability to customize the pod spec a bit to add sidecars.

[2022-02-24 03:41] wenpincui commented on #930
Are there any solutions to this problem?

[2022-02-24 21:37] atiratree commented on #1128
This approach was discussed in https://github.com/kubernetes/kubernetes/pull/108274#discussion_r812046486 and was not shown as viable.

I will try to refactor kubectl generically and use similar approach as https://github.com/kubernetes/kubernetes/pull/105490.

[2022-02-25 04:01] Ruoyu-y commented on #564
Any timeline for this one?

[2022-02-27 18:54] brianpursley commented on #1128
@atiratree I think you've got the right idea about kubectl needing to reuse a single transport across all requests.

It looks like anything that uses builder will have this problem where a new client is created for each invocation of `Visit()`.
https://github.com/kubernetes/kubernetes/blob/0b8d725f5a04178caf09cd802305c4b8370db65e/staging/src/k8s.io/cli-runtime/pkg/resource/visitor.go#L430

It look

[2022-02-28 15:05] mtovmassian opened #1181 "Path completion after `apply -k` not working when using kubectl alias"
**What happened**:
When using an alias for `kubectl` (here `k`) if I use the subcommand `apply` or `delete` with the Kustomize flag `-k` I cannot have path completion. Ex:
[code]

**What you expected to happen**:
By hitting tab after the `apply -k` subcommand files and directories present in the current working directory should be listed:
[code]

**How to reproduce it (as minimally and precisely a

[2022-02-28 21:29] marckhouzam commented on #1181
Hi @mtovmassian, I cannot reproduce the problem myself.

Do you get file completion if you use the `-f` flag instead? E.g., `k apply -f [tab][tab]`?

[2022-02-28 22:12] mtovmassian commented on #1181
Hi @marckhouzam,
In my case completion works fine with the `-f` flag...

[2022-03-01 05:57] MurzNN opened #1182 "Provide shortened aliases for common kubectl commands like switching namespace"
### What would you like to be added?

I suggest to add shortened aliases for most used commands in `kubectl` tool like this:
- switch namespace:
[code]
- query in all namespaces:
[code]
- display wide information:
[code]
- configure access to new cluster as single command:
[code]
_Last command alias looks not such short, but it's much easier to execute a single command, instead of three ones!_

Th

[2022-03-01 19:12] eddiezane commented on #1181
Hi @mtovmassian - I tested with a fresh Ubuntu 20.04 VM and I am also not able to reproduce this.

Have you tried deleting the completion file and creating it again?

[2022-03-01 22:21] mtovmassian commented on #1181
Hi @eddiezane,
I have deleted and recreated the completion file and issue is still the same.

I guess you can experienced the issue within an Ubuntu 20.04 Docker container after completing these steps:
- `apt-get update && apt-get install -y curl`
- `curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"`
- `install -o root -g root -m 0755 k

[2022-03-01 22:55] brianpursley commented on #1181
It looks like I am able to reproduce it on my machine (Ubuntu 20.04 using kubectl 1.24)

Works:
* `kubectl apply -k <TAB>`
* `kubectl apply -f <TAB>`
* `k apply -f <TAB>`

Does not work:
* `k apply -k <TAB>`

If I recall, there is some environment variable that can be used to tell cobra to write a debug log for completions.  I wonder if that might have some information about what is happening.

[2022-03-02 04:41] eddiezane commented on #1181
Thanks @mtovmassian! I was able to reproduce it with your instructions.

 `export BASH_COMP_DEBUG_FILE=somefile` and then tail it

[code]

But this is no different from `-f`

[code]

[2022-03-02 17:05] brianpursley commented on #1181
/assign

[2022-03-02 17:06] atiratree commented on #1128
@brianpursley  Thanks, I had to get down to the ConfigFlags to support also the DiscoverClient. Please see  https://github.com/kubernetes/kubernetes/pull/108459 for the implementation.

[2022-03-02 17:11] eddiezane commented on #1180
This is possible and Marc may be working on it.

/triage accepted
/priority backlog
/assign @marckhouzam

[2022-03-02 17:22] eddiezane commented on #1175
I'm not sure this is something we can fix in kubectl.

/close

[2022-03-02 17:23] #1175 closed

[2022-03-02 17:24] #1169 closed

[2022-03-02 19:13] eddiezane commented on #1179
We've discussed this before and decided to keep kubectl unbiased on the resources it is applying.

We do have a better warning message planned though https://github.com/kubernetes/kubernetes/pull/107363

/close

[2022-03-02 19:13] #1179 closed

[2022-03-02 19:14] eddiezane commented on #1176
Hi @evanmcclure - I see you referenced this from a commit. Do you plan on opening a PR?

/triage accepted
/priority backlog

[2022-03-02 19:16] evanmcclure commented on #1176
Definitely. I was waiting to see if the issue would be accepted. I'll prep the PR soon.

[2022-03-03 03:46] #1118 closed

[2022-03-03 14:10] marckhouzam commented on #1181
I was concerned this was a bug with Cobra so I investigated some more and I believe I found the problem.
The trick was to run this:
[code]
Notice the missing `-o default` for the `k` alias.  For bash, `-o default` means to use the default completion settings which include doing file completion.  So the command to make the alias work should actually be `echo 'complete -o default -F __start_kubectl

[2022-03-03 14:39] mtovmassian commented on #1181
Thank you @marckhouzam,
Indeed it seems to be just a documentation issue.
I edited my _.bashrc_ with `complete -o default -F __start_kubectl k` and now path completion after `-k` flag works as expected!

[2022-03-03 16:51] marckhouzam commented on #1180
PR now available: https://github.com/kubernetes/kubernetes/pull/108493

Feedback welcomed.

[2022-03-03 16:59] lumjjb commented on #564
+1

[2022-03-03 22:32] eddiezane commented on #1181
Nice find, Marc!

@mtovmassian can I tempt you into opening a PR to fix the docs :innocent:?

[2022-03-04 11:02] tcetco commented on #519
try with escaping double quotes sign like this
 --overrides="{\"spec\": { \"nodeSelector\": {\"pool\": \"win3\"}}}"

[2022-03-04 16:03] brianpursley commented on #1181
/unassign

[2022-03-04 16:27] brianpursley commented on #1166
Update: We're waiting on a PR (https://github.com/spf13/cobra/issues/1597) that splits cobra-cli (and its many related dependencies) from the core cobra library.

Once this is done, updating to the new version of cobra (it won't be 1.3.0... 1.4.x maybe?) should actually eliminate a lot of unnecessary dependencies in k/k.

[2022-03-07 15:55] dgidwani-tibco opened #1183 "kubectl scale doesn't work with piped file input"
**What happened**:
While scaling deployments using piped input, it throws an error
`cat test_deployment.json | kubectl scale --replicas=0 -f -`
 _error: no objects passed to scale_

**What you expected to happen**:
kubectl scale should work from piped file (-f -) and it should scale those resources

**How to reproduce it (as minimally and precisely as possible)**:
1. create a simple nginx deployme

[2022-03-07 16:16] amirschw commented on #517
/remove-lifecycle stale

[2022-03-08 19:04] root21cuib commented on #677
Make sure the indentations are right especially where the hyphens "-" are found

[2022-03-09 13:55] cupdike commented on #821
Just to make this more obvious... the inconsistency is, when nothing is found, a simple `get pod` is unix-like with RC of 1.  But a filtered get unexpectedly returns an RC of 0, even when the `--ignore-not-found=false` is applied (although that is the default).
[code]

[2022-03-09 16:10] strigazi opened #1184 "Make cache-dir configurable wih env variable"
**What would you like to be added**:
Make kubectl use an optional environment variable to configure the cache-dir.

https://kubernetes.io/docs/reference/kubectl/kubectl/
--cache-dir string     Default: "$HOME/.kube/cache"
Default cache directory

**Why is this needed**:
At the moment, users have to pass the --cache-dir option on every kubectl execution, with an environment variable (similar to KUB

[2022-03-11 03:23] #1166 closed

[2022-03-11 05:31] Pooja-Y-G commented on #886
Please check the NOTES.txt file under charts->template path.
Solution: file name is case sensitive, not suppose to give as Notes.txt, caps is a must because helm will be trying to interpret that file and it tries to  generate object for kubernetes.

[2022-03-11 07:13] zaunist opened #1185 "`kubectl run --help ` incomplete translations"
**What happened**:

When run the `kubectl run --help` command, I found some of annotation is Chinese, but others is English.

![image](https://user-images.githubusercontent.com/38528079/157819011-658a4785-9977-4c1d-9de5-8cc4d3a293eb.png)

**What you expected to happen**:

All commands have Chinese comments

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2022-03-11 09:28] gnuheidix opened #1186 "kubectl installation via yum fails with GPG error"
**What happened**:

The repodata of the repo has a defect. The kubectl installation as described in the [manual](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management) fails with a GPG error.

**What you expected to happen**:
There is no GPG error and kubectl is installed.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**

[2022-03-13 12:15] marckhouzam commented on #1180
/assign @marckhouzam

[2022-03-14 15:00] RalphDriessen commented on #1163
Unfortunately this issue is still happening after upgrading to v1.21.9:
[code]
I attached the logs of the latest run.
[kubectllog-2.txt](https://github.com/kubernetes/kubectl/files/8246014/kubectllog-2.txt)

[2022-03-14 17:37] verb commented on #1108
@knight42 what's your availability to work on the general profile? I have some time to start working on it, too.

[2022-03-15 15:49] vnhirenko opened #1187 "kubectl-convert does not handle custom resources"
**What happened**:
We use kustomize to deploy our service and would like to utilize kubectl-convert to handle api version conversion.
We custom resources in kustomization stack for example, we have Istio RequestAuthentication manifest.

when we try to run `kubectl-convert -k . --local=false` it returns:

`unable to decode ".": no kind "RequestAuthentication" is registered for version "security.ist

[2022-03-15 20:01] jonatas opened #1189 "fish auto-completion"
I'm trying to configure autocompletion but it seems not supported.

I'm not sure if it was removed, but here is the message:

[code]

If I try to update the kubectl as I thought it was my case:

[code]

Indeed the `completion help` mention no support for fish:

Output shell completion code for the specified shell (bash or zsh). The shell code must be evaluated
to provide interactive completion of

[2022-03-16 04:05] #669 closed

[2022-03-16 11:05] ardaguclu commented on #1184
`cache-dir` is used by discovery and kubectl commands using discovery are `api-resource`, `create` and a few others(`autoscale`, `version`).There is no need to pass `cache-dir` in every execution, if you need to customize `cache-dir`. You can just pass `cache-dir` for the commands using discovery.

I understand the inconvenience in here(From the user perspective, how user knows which command uses

[2022-03-16 13:13] traylenator commented on #1184
I'd take a step back as to what we were trying to achieve.

The default cache is `$HOME/.kube/cache`

We want to be able to make the default cache `$XDG_RUNTIME_DIR}kubecache`
since it is a much quicker filesystem.

It's probably a better default generally though possibly a bit linuxy "sic" for sure.

[2022-03-16 13:55] brianthelion commented on #821
Just got bit by this. A `--failhard` flag would be ideal here.

[2022-03-17 01:36] Bjohnson131 commented on #995
/remove-lifecycle stale

[2022-03-17 14:21] pcgeek86 opened #1188 "Support changing Service resource type with "kubectl set""
**What would you like to be added**:

Implement the ability for the `kubectl set` command to change the type of a Kubernetes `v1\Service` resource.

[code]

**Why is this needed**:

At the moment, the process for changing the `type` of a `Service` resource is confusing for newcomers, as you have to resort to using the `kubectl patch` command and pass in some specific JSON text that's hard to remem

[2022-03-18 18:08] harjas27 commented on #1183
I am able to reproduce the same using the steps provided in description.
Digging into the code, there are two `Visit(fn VisitorFunc)` calls:
https://github.com/kubernetes/kubectl/blob/fdbcc2710435e59cee996dccd6d219b4ed98fff3/pkg/cmd/scale/scale.go#L213-L238
the function does not traverse the resources the second time and thus there is no increment to the counter which leads to the error
This behav

[2022-03-22 19:05] #1189 closed

[2022-03-23 04:47] ringerc opened #1190 "port-forward should be able to write its port bindings to a file then background itself"
**What would you like to be added**:

A command-line option for `kubectl port-forward` to write a list bound ports and its pid to, then daemonize itself only once successfully bound.

Currently scripting `kubectl port-forward` is a real pain, especially if you want to handle errors and/or use dynamic local ports with `:portname` format.

**Why is this needed**:

This would allow scripts to use `ku

[2022-03-23 04:50] ringerc commented on #1190
By contrast here's some bash code I wrote to use `kubectl port-forward` as it stands now.

[code]

In addition to being really ugly, it's fragile as it relies on parsing kubectl's human readable output.

[2022-03-23 04:52] ringerc commented on #1190
It'd be reasonable to separate this into two issues, too:

* Write the ports to a json file
* Daemonize after port-forwarding is established

[2022-03-23 13:56] harjas27 commented on #1163
@RalphDriessen I notice that the success message does not appear this time in the logs

[2022-03-23 14:05] almson commented on #1103
This is a common issue, see https://stackoverflow.com/questions/67624630/unable-to-copy-data-from-pod-to-local-using-kubectl-cp-command

[2022-03-23 14:30] jonatas commented on #1189
Thanks for the support @anubha-v-ardhan and @sftim!

[2022-03-24 20:32] henro001 opened #1191 "kubectl get all - slow on macos with oidc with kubectl v 1.19.4+"
**What happened**:

`kubectl get all` is slow with kubectl when using oidc, it takes 11+ seconds to complete. with some additional logging it becomes clear that each api request takes more than 1s to complete (coompare to <100 ms with other methods). This is only observed on Macos BigSur with kubectl version 1.19.4 and older with oidc/kubelogin

| OS           | Auth      |  version  | result |
|-

[2022-03-24 20:33] #1191 closed

[2022-03-24 20:35] henro001 opened #1192 "slow kubectl calls on macos with oidc - v1.19.4 and newer"
**What happened**:

`kubectl get all` is slow with kubectl when using oidc, it takes 11+ seconds to complete. with some additional logging it becomes clear that each api request takes more than 1s to complete (compare to <100 ms with other methods). This is only observed on Macos BigSur with kubectl version 1.19.4 and newer with oidc/kubelogin

| OS           | Auth      |  version  | result |
|--

[2022-03-24 20:37] henro001 commented on #1191
duplicate

[2022-03-25 00:33] #1069 closed

[2022-03-25 06:53] nikhita commented on #564
https://github.com/kubernetes/kubernetes/pull/99556 has merged and subresource support will be present in Kubernetes v1.24.

[2022-03-25 20:57] ilyapisany opened #1193 "kubectl config view shows auth-provider secrets"
**What happened**:
`kubectl config view` (without `--raw` flag) print `users[*].user.auth-provider.config.{client-secret, id-token, refresh-token}` values. Also command prints `users.[*].user.password` value.

**What you expected to happen**:
I think this command should print `DATA+OMITTED` (or `REDACTED`) word like in `clusters.[*].cluster.certificate-authority-data`

**Environment**:
- Kubernete

[2022-03-25 22:34] #1180 closed

[2022-03-25 23:05] sklirg commented on #981
If that is the case, I think the help text from `kubectl diff --help` is misleading:

[code]

I interpret this as being able to diff the current online configuration with some offline configuration, and be able to see what would change if the offline configuration was applied to the online configuration. As long as I have permission to get the current online configuration, I would expect to be abl

[2022-03-26 03:35] brianpursley commented on #1186
Same issue being discussed at https://github.com/kubernetes/kubernetes/issues/108732

[2022-03-28 09:39] RalphDriessen commented on #1163
Hm, guess it actually failed that time.. Here is another log from today where the success message is actually there.
[kubectllog-3.txt](https://github.com/kubernetes/kubectl/files/8361487/kubectllog-3.txt)

[2022-03-28 16:24] kuritka commented on #874
Hi,
I had the same issue on my mac except instead of `kubernetes.docker.internal` kubectl wanted to connect to `host.docker.internal`.

The problem was missing record in `/etc/hosts` so I altered following line at the end of the file:
[code]

constantly rewriting kube config (ususally `~/.kube/config`) as mentioned above is a bad solution.

[2022-03-29 08:45] yeplaa opened #1194 "Using kubectl logs in sidecar mode"
To implement a log alerting solution, i need to retrieve directly logs from my containers. I can't use the solution deployed on kubernetes infrastructure (fluentd or other).

I am considering to use kubectl logs command  inside a container to retrieve logs from severals pods. The follow option could be used. I would an another sidecar as mtail exporter for alerting feature..

Do you have any recom

[2022-03-29 14:12] henro001 commented on #1192
Update: I cant reproduce this anymore, will do some more test and provide update

[2022-03-29 22:41] eddiezane commented on #1186
Let's track it there.

/close

[2022-03-29 22:41] #1186 closed

[2022-03-30 13:08] MushiTheMoshi opened #1195 "KUBECONFIG not exporting all files in definition"
**What happened**:
when exporting KUBECONFIG env var, not able to switch between contexts defined in variable
export KUBECONFIG=$KUBECONFIG:~/.kube/dev:~/.kube/qa

**What you expected to happen**:
after exporting KUBECONFIG I should be to kubectl config set-context dev/qa which is not working it's always pointing to one or another.

**How to reproduce it (as minimally and precisely as possible)**:

[2022-03-30 15:49] eddiezane commented on #1138
Apologies for the delay here.

If you're still interested in working on this please feel free to open smaller PRs against the existing repo. Especially when it comes CI/vendor implementations and we can discuss there.

/triage accepted
/assign @Dentrax

[2022-03-30 16:13] eddiezane commented on #1193
/triage accepted
/assign @mpuckett159

[2022-03-30 16:23] eddiezane commented on #1184
/assign @ardaguclu
/triage accepted
/priority backlog

[2022-03-30 16:28] KnVerey commented on #1195
Were you intending to use `kubectl config use-context` rather than `kubectl config set-context`? The former switches and the latter modifies. I did a couple tests and was able to use both of those commands with similarly combined kubeconfigs without issue.

/triage not-reproducible

[2022-03-30 17:09] #1194 closed

[2022-03-30 17:12] eddiezane commented on #1190
I don't think daemonizing is something we'd want to add but a plugin would be a good place to start with a proof of concept.

/triage needs-plugin-prototype

[2022-03-30 17:16] eddiezane commented on #1188
Set is an imperative command and we want to avoid expanding it in this way. We recommend using apply.

We would consider a generic solution but deeply setting values akin to `kubectl config set`.

/triage unresolved

[2022-03-30 17:17] eddiezane commented on #1187
kubectl-convert relies on internal types of the Kubernetes project and will not support CRDs as a generic implementation is not feasible.

/triage unresolved
/close

[2022-03-30 17:17] #1187 closed

[2022-03-30 17:22] eddiezane commented on #1185
Help on translations is certainly welcomed!

I believe this is tracked elsewhere but we need someone to own the effort if you are interested.

https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl/pkg/util/i18n/translations

/triage duplicate
/close

[2022-03-30 17:23] eddiezane commented on #1183
@harjas27 are you interested in working on this?

/triage accepted
/priority backlog

[2022-03-30 17:23] eddiezane commented on #1163
/triage accepted

[2022-03-30 17:24] eddiezane commented on #1163
We need to look into where this connection is supposed to be closed. A context is timing out. Might be client might be server.

[2022-03-30 17:25] eddiezane commented on #1182
We might have a solution for this in the future with https://github.com/kubernetes/enhancements/issues/3104

For now we recommend handling this in bash. Have a look at https://github.com/ahmetb/kubectl-aliases.

/close

[2022-03-30 17:26] #1182 closed

[2022-03-30 18:04] harjas27 commented on #1183
@eddiezane  yes, I will work on this
/assign @harjas27

[2022-03-31 07:38] mpuckett159 commented on #1193
/assign

[2022-03-31 11:53] eachirei opened #1196 "Use "Contains" when completing kubernetes contexts"
**What would you like to be added**: Use Contains instead of HasPrefix in ListContextsInConfig function for autocomplete.

**Why is this needed**: Having contexts which start with various prefixes based on the cloud provider, it would be useful to search for contexts containing a string.

[2022-03-31 18:22] MushiTheMoshi commented on #1195
Thanks for the quick response!

You are right is working using use-context also the kubeconfig view is now working!

Please close this.

Thank you so much for your help!

[2022-03-31 18:56] KnVerey commented on #1195
/close

[2022-03-31 18:56] #1195 closed

[2022-03-31 21:02] bayeslearner commented on #1011
As a workaround,  create the pod using `k run ... <-- bash> ` or `k run -it <-- bash> `, and debug it using `exec -it`.

[2022-03-31 22:59] tigerpeng2001 opened #1197 "Work with Multiple Clusters Simultaneously"
**What would you like to be added**:
Work with multiple clusters simultaneously by specifying the cluster name on the command line.

**Why is this needed**:
Sometimes, I need to monitor multiple clusters, as well as make changes to another one at the same time.

[2022-04-01 11:19] gopihc commented on #519
this worked for me..

[2022-04-02 18:55] brianpursley commented on #1163
I also tried to reproduce this, but was not able.

Here is a bash script I was using:
[code]

@RalphDriessen Does this problem happen for all deployments, or just this one deployment?  Does the deployment use any volumes, or have any other dependencies?  I'm trying to understand if there is some situation particular to your deployment that would make this reproducible.  Would you be able to share

[2022-04-02 19:00] brianpursley commented on #1197
Have you looked at [kubectx](https://github.com/ahmetb/kubectx)?

[2022-04-03 14:20] #572 closed

[2022-04-04 11:19] RalphDriessen commented on #1163
@brianpursley Thanks for your reply! It indeed happens for all our deployments which outside of our own apps contain mysql and redis images. The bash script you send ran fine and had no delay on the rollout status.
Our deployment has some dependencies, this is the manifest (couldn't upload yaml so it's txt):
[manifest.yaml.txt](https://github.com/kubernetes/kubectl/files/8409168/manifest.yaml.txt)

[2022-04-04 13:24] ep4sh opened #1198 "kubectl shows incorrect memory information"
**What happened**:
I have a go web application. The application is deployed in the k8s cluster and when I'm stressing the app I do see the following numbers:

[code]

**What you expected to happen**:

After stress tests, I have a slight memory consumption in the app:
[code]
Here is a `top` output:
![image](https://user-images.githubusercontent.com/19505042/161551399-e0b37387-d8af-41cf-916f-aef3838

[2022-04-04 13:37] KokoBello commented on #1163
We are experiencing the same issue. We're running the a rancher rke cluster, behind a reverse proxy, and the rolluout command only hangs when accessing through the reverse proxy, not while running from "inside"

[2022-04-04 14:52] eddiezane commented on #1163
@reylejano are you able to reproduce this or aware of any known issues specific to Rancher?

[2022-04-04 15:37] reylejano commented on #1163
I'm not able to reproduce this
@KokoBello @RalphDriessen
Are you running `kubectl rollout status` through the Rancher proxy or using the authorized cluster endpoint?

[2022-04-04 15:39] KokoBello commented on #1163
Rancher proxy

[2022-04-04 16:02] reylejano commented on #1163
@KokoBello @RalphDriessen , if you are able to upgrade Rancher:
- Rancher 2.6.3 has 1.21.10
- Rancher 2.6.4 has 1.21.10 and 1.22.7

I suggest to test bypassing the Rancher authentication proxy with the [authorized cluster endpoint](https://rancher.com/docs/rancher/v2.6/en/overview/architecture/#4-authorized-cluster-endpoint-ace) and if the issue is not reproduced then there may be a nuance with go

[2022-04-04 21:43] jcairney opened #1199 "--save-config flag should have a shorthand or become default behaviour"
**What would you like to be added**:
shorthand for `--save-config` e.g. `-s`

or

make `--save-config` the default behaviour for `kubectl create`

**Why is this needed**:
All the documentation recommends using the --save-config flag whenever using `kubectl create`.  However it's a mouthful to type over and over again.  Several flags have shorthand already, but this common one does not.  For that m

[2022-04-05 07:45] fireba11 opened #1200 "kubectl fails to read token when run as non-root inside a pod"
**What happened**:
kubectl fails trying to read /root/.kube/config

**What you expected to happen**:
kubectl reading the token

**How to reproduce it (as minimally and precisely as possible)**:
have a non-root container call kubectl

**Anything else we need to know?**:
it seems to try (in that order)
* /home/[current user]/.kube/config
* /root/.kube/config
* access token mounted into the pod

to b

[2022-04-05 11:14] RalphDriessen commented on #1163
@reylejano, I upgraded kubernetes to 1.22.7 but that unfortunately had no effect on this. However, accessing through the authorized cluster endpoint actually did 'fix' the issue... Could then be a new issue in rancher proxy because we don't have the problem in our clusters running on an older version of rancher (2.5.1). Thanks for your help!

[2022-04-05 13:12] cube2222 opened #1201 "Broken output schema running `kubectl apply --prune --dry-run=xyz -o yaml/json` with a single resource created."
### What happened?

When applying a single resource (and instructed to -o yaml/json) kubectl will print that object directly, instead of printing it in an "items" array - as it does when applying multiple objects.

However, if instructed to also --prune resources then it will print the pruned resources but won't take them into account in this output schema decision.

So it ends up printing the raw

[2022-04-05 19:42] reylejano commented on #1163
@RalphDriessen @KokoBello , since using the authorized cluster endpoint 'fixed' the issue, we can close this issue and can you create an issue on https://github.com/rancher/rancher and we can continue there

[2022-04-06 00:56] eddiezane commented on #1200
kubectl will not look specifically in `/root` for a config.

Can you please share a full reproduction example?

Also see https://kubernetes.io/docs/reference/kubectl/#in-cluster-authentication-and-namespace-overrides

[2022-04-06 01:03] eddiezane commented on #1201
@apelisse any thoughts here?

[2022-04-06 01:08] eddiezane commented on #1198
Please provide a repo with a minimal way to reproduce this.

[2022-04-06 03:15] apelisse commented on #1201
First, prune is not really supported (@seans) so I don't know how much we'll want to support this.

Also, what do you mean you would expect "an array of items"?

[2022-04-06 08:30] fireba11 commented on #1200
@eddiezane it seems the issue is caused by the official telegraf container i used. somewhere between 1.17.2 and 1.22.0 they changed how telegraf is run in the container.
old one just ran as root
new one runs as non-root but got some magic since telegraf might need to open ports etc. a normal user is not allowed to.
the latter causing my issues, the process most likely still has the env from root

[2022-04-06 08:30] #1200 closed

[2022-04-06 08:49] Slayug commented on #1172
Yes it's also my case, is there any solution to allow these users to deploy their Ingress without giving them the permissions to `kube-system` namespace ?

[2022-04-06 09:11] sftim commented on #1172
You can deploy an [operator](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/) that manages IngressClass etc for users that only have access to some namespaces. I don't know if an operator already exists that does so; what I do know is that it's not something that `kubectl` itself could help with.

[2022-04-06 11:09] heipepper commented on #965
/reopen

[2022-04-06 16:39] henro001 commented on #1192
cant reproduce - closing

[2022-04-06 16:39] #1192 closed

[2022-04-07 07:23] nazarewk opened #1347 "kubectl drain: influencing order of draining Pods"
### What would you like to be added?

I would like to be able to influence order in which `kubectl drain` evicts `Pod`s from the node. ~~I did not check whether Graceful Node Shutdown logic is also affected.~~ Graceful Node Shutdown logic is not applicable here as it's closely tied to handling `systemd` shutdown signals (or something in this manner).

#### Proposed solution

The MVP could be a new

[2022-04-08 05:13] evanmcclure commented on #1176
I'll try to get this in tomorrow.

[2022-04-08 10:08] RalphDriessen commented on #1163
Created issue at [Rancher](https://github.com/rancher/rancher): https://github.com/rancher/rancher/issues/37241. Closing this issue.

[2022-04-08 10:08] #1163 closed

[2022-04-08 15:01] Slayug commented on #1172
Thanks, I finally just added the default `defaultBackend` to my ingress.

[code]

[2022-04-08 19:58] vishrantgupta commented on #454
You can add another container that will run infinitely with the restart policy `Never`

Example:

[code]

This will give you control over running `kubectl cp ...` followed by `kubectl delete ...`

[2022-04-09 20:36] #1145 closed

[2022-04-11 14:47] AssafKatz3 opened #1202 "Documentation of field-selector"
**Adding field-selector command**: Which will print the possible options for field-selector parameter, similar to api-versions command (or maybe subcommand of it).

**Why is this needed**: Currently this information isn't publicly available [documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields) contains only:
`Supported field selectors

[2022-04-12 00:33] scratchmex commented on #151
Just to note that to **truly** list all resources you should remove the `--namespaced`. For example these 2 are not namespaced and does not show up with that command:
[code]

[2022-04-14 13:04] rsalmond opened #1303 "kubectl describe pod is missing env var values populated by downward API (spec.nodeName, status.podIP)"
### What happened?

Deployed this manifest and described a resulting pod.

nginx.yaml

[code]

[code]

hat tip @zahin-mohammad for pointing this out

### What did you expect to happen?

kubectl describe pod would show all env var values populated by the downward API.

### How can we reproduce it (as minimally and precisely as possible)?

minikube start
kubectl apply -f nginx.yaml
kubectl describe

[2022-04-14 17:05] pierDipi opened #1236 "kubectl wait with `jsonpath` fails when field is not found"
### What happened?

Waiting for a field to be set on a resource using ` --for=jsonpath=` fails when the field is not found.
[code]

### What did you expect to happen?

The `jsonpath` syntax behaves differently when compared to `--for=condition=` since this:
[code]
waits even when there is no condition called `Nope`.

In addition, waiting on status fields that are set asynchronously is really usefu

[2022-04-19 23:27] rwxrob opened #1203 "Creating context blows out custom adds to .kube/config"
**What happened**:

1. Added OIDC provider information directly to `~/.kube/config` in
   unrelated sections
1. Successfully use OIDC information to query OIDC provider and populate
   token information under `users` section
1. Automatically add contexts for our clusters
1. Verify with `kubectl get pods`, etc.
1. (Work without problems for days)
1. Add a context with `kubectl set-context ...`
1. N

[2022-04-21 06:25] jduepmeier opened #1204 "kubectl wait allow to wait on missing field"
**What would you like to be added**:

Add a flag to signal that a field in jsonpath should not error if the field or object in chain does not exist.

**Why is this needed**:

I want to wait for a specific field in the status of a resources inside a script with the following command:

[code]

But the status field does not exist on creation of the resource. This can result in a race condition if the

[2022-04-22 06:27] jicki commented on #572
Are there any plans working on prune ?

[2022-04-22 15:56] brunzefb commented on #605
Hi -- I think this would be something easy to implement, and regret this being rejected. The proposed solution via a plugin works, but needs to be done for each machine running kubectl.

Save our fingers!

F.

[2022-04-23 08:49] ogarcia commented on #1044
/remove-lifecycle stale

[2022-04-25 08:03] HHobeck commented on #454
Dear community.

Almost four years later this topic is still open. I’m really afraid that such thinks like ergonomic and API friendly usage of Kubernetes are not mentioned with the attention they should be. Of course there are workarounds to solve this problem. But this workarounds are really hard to implement and error prone. From the architecture point of view it’s also sub-optimal to have circu

[2022-04-25 10:10] Leovilhena commented on #775
@pramodh941 try this one:
```kubectl create secret generic docker-cfg --from-file=.dockerconfigjson=$HOME/.docker/config.json```

[2022-04-26 07:35] Somefive opened #1205 "CheckErr has trouble with handling wrapped errors"
**What would you like to be added**:

Errors handled in `CheckErr` function are unable to be elegantly handled if they are wrapped.

https://github.com/kubernetes/kubectl/blob/18a5313a74f7d83f6b54377d72b421b5ebfa66c9/pkg/cmd/util/helpers.go#L152

In the following code, the `apierrors.isInvalid` checks the error with `errors.As` which can process the error chain but the type conversion below `err.(

[2022-04-27 16:06] seans3 commented on #1204
/assign

[2022-04-27 16:09] seans3 commented on #1205
/triage accepted

[2022-04-27 16:12] seans3 commented on #1199
/assign

imperative (create) vs. declarative (apply).

[2022-04-27 16:21] seans3 commented on #1201
/assign

Is `dry-run=server` supported?

[2022-04-27 16:23] apelisse commented on #1201
Yep, that's how you ask things to the server. Somewhere we must build a list but we don't with pruning?

[2022-04-27 16:27] seans3 commented on #1198
We'll wait until the minimal reproduce case is provided to triage.

[2022-04-27 16:28] #1197 closed

[2022-04-27 16:32] mpuckett159 commented on #1203
/assign

[2022-04-27 16:37] seans3 commented on #1202
Unfortunately, kubectl does not have access to the field selectors, so there is no way to do this in a maintainable way.

/close

[2022-04-27 16:37] #1202 closed

[2022-04-27 16:40] seans3 commented on #1196
None of the autocompletion uses `Contains`, so we will not pursue this to keep consistency with other autocompletions--closing.

/close

[2022-04-27 16:40] #1196 closed

[2022-04-27 16:59] seans3 commented on #454
This functionality (keeping a pod alive after completion) is beyond the scope of `kubectl`. Suggest closing this issue. If it is addressed, then it needs to be addressed more holistically including other areas (e.g. `kubelet`).

[2022-04-27 17:00] soltysh commented on #1204
/triage needs-information

Before deciding if we want to accept this I'd like to ensure we can differentiate between 2 diametrically different situations:
1. when the field is not set (ie. has `omitempty` so it won't show up, but it exists in schema)
2. when the field does not exist, ie. was misspelled.

If we can differentiate, then I can definitely support option no. 1, since that will bring the

[2022-04-27 17:19] brianpursley commented on #454
The use case is definitely understandable: wanting to run something in a pod, and after it is finished to retrieve the output of what was run.

The reason this issue has been open since 2018 is that this isn't functionality that kubectl is able to provide without changes first being made deeper in the Kubernetes stack (kubelet, etc).

There are some options for you today though:

1. Save you pod's

[2022-04-27 17:19] #454 closed

[2022-04-27 20:19] rwxrob commented on #1203
1. Add anything by hand to `~/.kube/config`
2. `kubectl set-context ...` to add new context
3. Open `~/.kube/config` and see your adds are now missing

[2022-04-27 21:14] mpuckett159 commented on #1203
Apologies but I'm not able to reproduce this as described. I've included the steps I've taken to attempt to reproduce this at the end of this comment. All values copied from [kubernetes docs](https://kubernetes.io/docs/reference/access-authn-authz/authentication/) so they aren't real.

Couple questions:
1. While testing I noticed that it will remove invalid keys. So for example if I set something

[2022-04-27 22:37] Warfront1 opened #1206 "kubectl create job: Specify --from and command"
**What would you like to be added**:
When you currently issue the following command (assuming you have a valid cronjob called `mycronjob`):
`kubectl create job --from=cronjob/mycronjob -- date`
You receive the following [error](https://github.com/kubernetes/kubectl/blob/18a5313a74f7d83f6b54377d72b421b5ebfa66c9/pkg/cmd/create/create_job.go#L173):
`error: cannot specify --from and command`

I would

[2022-04-27 23:14] rwxrob commented on #1203
It's definitely blowing away entries that it doesn't accept because of the way it is unmarshalling the data. I can show you the code that is doing it, later. Just making you aware. Several other professionals from different companies in my peer group have confirmed as well.

[2022-04-27 23:20] mpuckett159 commented on #1203
Ok apologies I didn't realize you meant like actually not "valid" kubeconfig keys, as in keys not defined in the `client-go` specification, initially. I'll confer with others regarding this. As far as I'm aware this is expected behavior and I don't think we would support keys that are not defined in the `client-go` Config specification, located here - https://github.com/kubernetes/kubernetes/blob/

[2022-04-27 23:25] rwxrob commented on #1203
Yep, I've read all through that and the `kind` source code as well. That's how I knew what to play with, and where to use `yaml:",inline"` to gather up and maintain existing configurations (as `kind` does, while `client-go` does not). I just find it a bit heavy handed, but I accept it. Thank you for the help.

[2022-04-27 23:25] #1203 closed

[2022-04-27 23:36] mpuckett159 commented on #1203
Oh also, I don't know if this is a thing with this plugin, but I think the preference would be to set any custom keys within the `config` of the `auth-provider` block under the user, or possibly in this case the name field, but I'd have to look closer at the plugin code itself to know for sure. I assume you don't have control over this plugin, but maybe could ask them to support that type of confi

[2022-04-28 08:57] finkr commented on #995
The delimter should be configurable and default to something wise (tabulation?).

The comma is sometime used inside a column. For instance  `kubectl get pvc` prints the access mode with comma delimited like `RWO,ROX,RWX`

[2022-04-28 11:20] tigerpeng2001 commented on #1197
kubectx let me switch around the cluster. as kubectx and kubectl all use one ~/.aws/config so it is globally.
Could kubectl (and kubectx) have --local config like git?

[2022-04-28 17:27] rossato-rh opened #1207 "Apply doesn't convert apiVersion of last-applied-configuration"
When performing a three-way merge, "kubectl apply" will retrieve "current" at the same apiVersion as "modified", but last-applied-configuration is compared in whatever apiVersion it was uploaded as.  This causes unintuitive behavior when schemas change.

https://github.com/kubernetes/kubectl/blob/fdbcc2710435e59cee996dccd6d219b4ed98fff3/pkg/cmd/apply/patcher.go#L139

Example (assume a relevant CRD

[2022-04-29 10:08] cortex3 commented on #595
Did you ever find a solution to this? I've been having this issue for months.

[2022-04-29 15:44] seans3 commented on #1198
/triage needs-information

[2022-04-29 16:01] seans3 commented on #1201
/triage accepted

[2022-05-01 07:34] jduepmeier commented on #1204
In my case i want to wait on  the kyverno clusterpolicy crd (https://htmlpreview.github.io/?https://github.com/kyverno/kyverno/blob/main/docs/crd/v1/index.html#kyverno.io/v1.ClusterPolicy)

It defines `status` as optional.

[2022-05-02 22:50] marckhouzam commented on #1196
I was planning on eventually suggesting to completly remove the `HasPrefix()` checks for the auto complete logic.  Kubectl should return all possible completions and let the shell decide how to do the matching.  Zsh and Fish both have smarter matching algorithms than the simple prefix match.

The completion scripts are ready for such an approach and helm has started taking advantage of it (https:/

[2022-05-03 19:37] chibbert opened #1208 "kubectl exec does not display errors on network disconnection and exits with code 0"
**What happened**:
kubectl exec does not display any errors and has exit code 0 if there is the network error while the command is running.

**What you expected to happen**:
kubectl should display an error describing the network condition and exit with a non-zero exit code.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:
Have tried a v

[2022-05-04 06:49] snowbldr opened #1209 "HorizontalPodAutoscaler yaml output incorrect"
**What happened**:
I created an autoscaling/v2beta2 HorizontalPodAutoscaler then used kubectl to get the yaml for it and the yaml was wrong.

**What you expected to happen**:
I expected to see an accurate representation of the HPA from the yaml output of kubectl, including the metrics values.

**How to reproduce it (as minimally and precisely as possible)**:

Create a HorizontalPodAutoscaler with

[2022-05-04 15:17] azacchino opened #1210 "Authentication with AWS broke with version 1.24"
**What happened**:

After update kubectl to 1.24 from 1.23 i get the message

when I try to perform any operation.

**What you expected to happen**:

ex: list pods

**How to reproduce it (as minimally and precisely as possible)**:

.kube/config

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): client 1.24  Server: 1.22

[2022-05-05 07:06] ismarslomic commented on #1210
Same issue here

[2022-05-05 07:53] appdog commented on #1210
Probably related this deprecation https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#deprecation

[2022-05-05 14:14] ardaguclu commented on #1209
Could you please try same steps with `autoscaling/v2`?

[2022-05-05 15:50] allen-servedio opened #1211 "kubectl apply --validate now eats the next value on the command line (work around included)"
**What happened**:

This was confusing:
[code]

But this shows what was happening:
[code]

**What you expected to happen**:

Running the exact same command on the 1.23.x release of kubectl results in this:

[code]

[code]
**How to reproduce it (as minimally and precisely as possible)**:

1. Install `kubectl` to version 1.24.0
2. Try any of the commands above and you will see that `--validate` is p

[2022-05-05 15:51] robertorosas commented on #1210
Running into the same scenario on our EKS deployments from Github Actions:
[code]
I was able to recreate by locally upgrading to kubectl 1.24 and running `kubectl version`:
`error: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"`

[2022-05-05 22:18] vrodriguezcl commented on #1210
Any walkaround of how to temporary solve this ?

[2022-05-06 04:58] jjkim0816 opened #1212 "no kind "Pod" is registered for version "v1" in scheme"
Hi,
I executed command $kubectl logs [pod name] [container_name], but I got a error message.
"no kind "Pod" is registered for version "v1" in scheme "vendor/k8s.io/client-go/tools/clientcmd/api/latest/latest.go:50"
How to solve it. Please give me answer genius bros~.

"Pod" is capital. It is the first part of "~/.kube/config"
[code]

It is my kubectl version.
[code]

[2022-05-06 05:07] roccoblues commented on #1210
I've you're using homebrew on a Mac you can downgrade with:
[code]

[2022-05-06 07:30] ardaguclu commented on #1211
/triage accepted

[2022-05-07 18:23] #1110 closed

[2022-05-09 17:05] bigLucas commented on #1210
We have a fix on aws cli for this bug:
https://github.com/aws/aws-cli/issues/6920#issuecomment-1119926885

[2022-05-09 20:50] ismarslomic commented on #1210
I can confirm that this issue is fixed in `kubernetes-cli v1.24.0` and `awscli v2.6.3` (installed on mac with homebrew). Just make sure that `apiVersion` in your cube config files is switched from `apiVersion: client.authentication.k8s.io/v1alpha1` to `apiVersion: client.authentication.k8s.io/v1beta1`

[2022-05-11 15:57] kaovilai opened #1213 "jsonpath patch"
**What would you like to be added**:
Allow patching custom resource fields with jsonpath.

Example:
[code]

**Why is this needed**:
It is already easy to query jsonpath on custom resource.
[code]

It is impossible to update this value without knowing ahead of time position of object in array with said name with `kubectl patch` today.

References:
https://stackoverflow.com/questions/43009349/jsonpa

[2022-05-13 02:38] ethanchowell opened #1214 "Add a flag to `kubectl top` to include cpu/memory resource request/limits for pods and containers"
**What would you like to be added**:
An additional command line flag that, when enabled, adds the resource request and limits defined in the container manifest.

[code]

This flag should also be compatible with `--containers` and specifying a pod name.

**Why is this needed**:
I mostly operate in an on-prem cluster with our own hardware, and we don't utilize horizontal scaling for a handful of our

[2022-05-13 06:52] ardaguclu commented on #1210
This issue has been tracked in https://github.com/aws/aws-cli/issues/6920 and it looks that this is not a bug regarding kubectl.

Thus, I'm closing that issue. If you think, there still is something related to kubectl, feel free re-open this issue again.

/close

[2022-05-13 06:52] #1210 closed

[2022-05-13 06:54] ardaguclu commented on #1205
@Somefive thanks for opening issue. Triage accepted and you can work on that.

[2022-05-13 15:38] snowbldr commented on #1209
Yes, fixed in the latest version. Should have tried that first! Thanks for the tip, hopefully we can get our cluster updated sometime in the near future.

Tested using
![image](https://user-images.githubusercontent.com/5445491/168318454-25aab94a-18fa-4d87-8d0c-89ce70eab566.png)

[code]

[2022-05-13 15:38] #1209 closed

[2022-05-14 05:16] #1156 closed

[2022-05-14 11:42] Somefive commented on #1205
@ardaguclu Thanks for the reply! I will work on it recently.

[2022-05-16 00:31] PowerSurge1 commented on #450
This is certainly what I was after. Thanks!

[2022-05-16 04:49] ansh-lehri commented on #823
Hi,
I am having a OIDC setup similar to @mshahat with few differences. I have instead of haproxy, kube-oidc-proxy in front of my GKE cluster, which I use as reverse proxy to have group based authentication.
For OIDC provider, I am using dex with GOOGLE as IDP and dex-authenticator (inplace of gangway.)
I'm using a wildcard certificate issued for **"*.xyz.in"**. using this wildcard, I have created

[2022-05-17 15:01] abrekhov opened #1215 "Completion for set-context --current --namespace"
**What would you like to be added**:
`kubectl config set-context --current --namespace`  autocompletion for bash and zsh.

**Why is this needed**:

I am using zsh with oh-my-zsh wrapper. It will be wonderful to quickly select namespace by "tabbing" through all of them.

[2022-05-17 15:03] sftim opened #1216 "Finding local kubectl version either requires timeout or deprecated option (?)"
**What happened**:
- I wanted to find out the version of kubectl I have installed, even though I have no selected context.
- I wanted to find out the version of kubectl I have installed, even though I have a current context that is offline.

Sample console sessions:
[code]
[code]
[code]

**What you expected to happen**:
Something like:
- `kubectl version` shows the client version only.
- `kubectl

[2022-05-17 15:03] sftim commented on #1216
Prompted by https://github.com/kubernetes/website/issues/33764

[2022-05-17 19:08] marckhouzam commented on #1215
@abrekhov because the `kubectl config set-context` re-uses the word `--namespace` for one of its flag and shadows the global `--namespace` flag, you can actually use the existing shell completion logic for your case, just put the flag before the `config` command.

[code]
So the completion happens for the global flag, but then will work for your case as well.

This is not a good final solution, but

[2022-05-18 09:44] knight42 commented on #1216
Is is reasonable to get the client version by running `kubectl version -oyaml --client`? The example output is:
[code]

We could extract the kubectl version like the following:
[code]

[2022-05-18 14:11] sftim commented on #1216
Actually, we could mention that both

[2022-05-20 07:48] sftim commented on #1216
It sounds like this is expected behavior, and that we should document the warning as something for readers to be aware of and ignore if they are deploying v1.24 `kubectl`.

[2022-05-20 20:12] williamyeh commented on #1133
/remove-lifecycle stale

[2022-05-21 07:33] knight42 commented on #1216
Nope, the deprecated flag is actuall `--short` as the output of `kubectl version --short` would become the default in the future, the flag `--client` is not deprecated.

Yeah that would be great.

[2022-05-21 08:11] sftim commented on #1216
[code]

I think people will see that and think that `kubectl version --client` is deprecated: they run it, and they see a deprecation warning.

[2022-05-21 08:35] knight42 commented on #1216
Ah that's because `--short` is set by default and is deprecated now, so users would see this warning.

[2022-05-23 12:12] Dentrax opened #1217 "auth/can-i: check subresource if it exists"
**What happened**:

The following command returns `no`:

[code]

Now try with random or non-existed subresource like `foobarbaz`:

[code]

Now it returns `true`. And same for:

[code]

**What you expected to happen**:

[code]

It should return something like: `Subresource "thisisnotexist" does not belong to "pods"`

**How to reproduce it (as minimally and precisely as possible)**:

Just try the co

[2022-05-23 21:14] rodrigoreis commented on #7
`kubectl delete all,ingress --all --namespace=[namespace]` works for me

[2022-05-23 22:57] #1177 closed

[2022-05-24 12:56] galshi opened #1218 "Add junit output for kubectl apply for CI pipelines"
**What would you like to be added**: A new output format for kubectl apply logs in the form of JUnit XMLs.

**Why is this needed**: When managing a cluster with GitOps I would also like to test the validity of the yamls in my CI pipeline before deploying, `kubectl apply --dry-run=server` seems to be the best option when you have network access to a cluster in your CI pipe, JUnit is a popular outpu

[2022-05-25 07:37] #928 closed

[2022-05-25 15:48] mgabeler-lee-6rs opened #1219 "kubectl wait timeout argument is poorly documented and ill-suited to waiting on multiple resources"
This is just a re-submit of https://github.com/kubernetes/kubectl/issues/754 which, despite being confirmed & assigned, was closed as stale without any fix.

**What happened**:

Run `kubectl wait` with a selector matching more than one resource and a timeout

**What you expected to happen**:

The timeout should apply to the wait command, not to the individual resources.

With the timeout applying

[2022-05-25 15:48] mgabeler-lee-6rs commented on #754
ok, fine, https://github.com/kubernetes/kubectl/issues/1219

[2022-05-25 16:09] soltysh commented on #1207
/assign @ardaguclu

[2022-05-25 16:20] soltysh commented on #1204
/triage accepted
/remove-label triage/needs-information

[2022-05-25 16:21] mpuckett159 commented on #1204
/assign

[2022-05-25 17:09] atiratree commented on #1217
/assign @atiratree

[2022-05-25 17:39] soltysh commented on #1218
We don't expect adding XML output, I'd suggest creating your own transformer based on yaml/json output.
/close

[2022-05-25 17:39] #1218 closed

[2022-05-25 17:43] soltysh commented on #1216
As discussed on slack, and earlier today during bug scrub, we need to:
1. document that the deprecation warning is expected
2. document for first timers not having cluster to use `--client`.

@sftim I looked into when you hit 30s timeout, that's when you have invalid kubeconfig pointing to a valid host but wrong port, in all other cases (missing host, missing kubeconfig, invalid host) you should g

[2022-05-25 17:44] soltysh commented on #1213
We don't expect adding this kind of functionality to `kubectl patch`. The current mechanism is sufficient for majority of use cases we've run into.
/close

[2022-05-25 17:44] #1213 closed

[2022-05-25 17:45] soltysh commented on #1206
We don't expect to introduce an option to modify jobs created from cronjobs. The idea was to have a one-offs only, without the ability to modify them. The available alternatives are sufficient for the rare cases where this is needed.
/close

[2022-05-25 17:45] #1206 closed

[2022-05-25 18:18] galshi commented on #1218
@soltysh I don't have access to a k8s cluster, I work with openshift, but `oc apply --dry-run=server -o json/yaml` seems to just output the jsons/yamls to apply (while the normal output displays whatever applying an object succeeded or any resulting errors).
I assume the same is true for `kubectl` but can't check it, if that's the case I think some form of structured output for the results of `kub

[2022-05-26 12:21] ardaguclu commented on #1219
/sig cli

[2022-05-26 15:30] phillebaba opened #1220 "Kubectl drain ignore DaemonSet still gets DaemonSets"
**What happened**:

When draining a node and ignoring DaemonSets kubectl will always fetch the owning DaemonSet if the Pod is owned by a DaemonSet.

**What you expected to happen**:

I would expect kubectl to completly ignore Pods owned by Daemonsets when filtering the Pods.

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster with kind.
[code]

Dry run a drain and

[2022-05-30 16:10] rgstori opened #1221 "wrong example in configmap help"
**What happened**:
the fourth example in the configmap help (_Create a new config map named my-config from the key=value pairs in the file_) seems wrong - it's the same command as the first example:

[code]
**What you expected to happen**:

have the fourth example use the `--from-env-file` option instead?

**How to reproduce it (as minimally and precisely as possible)**:

run `kubectl create confi

[2022-05-31 09:05] azerafati commented on #61
The funny thing is that I'm trying to edit the comments and it just doesn't see a change so I just get "Edit cancelled, no changes made."

[2022-06-01 02:51] alam0rt opened #1222 "`replace --force --dry-run=server` will ignore the dry-run flag"
**What happened**:

Executed  `kubectl replace -f - --force --dry-run=server` and object was indeed replaced

[code]
**What you expected to happen**:

For the replace operation to have been a dry run.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
Don't think so!

**Environment**:
- Kubernetes client and server versions (use `kubectl

[2022-06-01 11:10] ardaguclu commented on #1222
Thanks for the issue @alam0rt. It looks that when force flag is set, dry-run is not be used as seen in here https://github.com/kubernetes/kubernetes/blob/e389b2723e6af29a9f70509fe8ff6e5121c30681/staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go#L275.

I think this is misleading and I opened a PR to return error message in such cases.

[2022-06-02 12:17] akostic-kostile opened #1223 "kubectl rollout status deployment --selector="" does not work correctly"
**What happened**:
`kubectl --timeout=10s rollout status deployment --selector="app=api"` timeouts after 10 seconds.

**What you expected to happen**:
I expect kubectl to return rollout status of 1 or more deployments matching the provided selector.

**How to reproduce it (as minimally and precisely as possible)**:
Create a deployment with any labels, in my case 'app=api'.
Try to get rollout statu

[2022-06-02 16:59] marckhouzam commented on #1181
This is waiting for this website PR to be merged: https://github.com/kubernetes/website/pull/32127

[2022-06-02 20:23] Sharsie commented on #598
Still an issue with k8s v1.21.9, kubectl v1.24.1

/remove-lifecycle rotten

[2022-06-02 20:52] hholst80 opened #1224 "kubectl wait --for=jsonpath parse"
Background:

kubectl does not offer a direct way to wait for multiple signals.

https://stackoverflow.com/questions/55073453/wait-for-kubernetes-job-to-complete-on-either-failure-success-using-command-line

Workaround attempt:

Use jsonpath

[code]

However, this blew up, as seen above, in an unexpected way.

Side note this will likely not work anyway as a workaround to the original issue, since t

[2022-06-05 17:09] amirschw commented on #517
/remove-lifecycle stale

[2022-06-06 00:15] james-callahan commented on #669
/reopen
/remove-lifecycle rotten

[2022-06-06 07:36] ardaguclu commented on #1223
@akostic-kostile you are right, when selector flag is passed, `rollout status` is not working. I opened a PR to fix that problem.

/triage accepted

[2022-06-06 08:10] akostic-kostile commented on #1223
@ardaguclu Thanks for very quick PR, it's much appreciated. :)

[2022-06-06 10:14] ardaguclu commented on #1222
/triage accepted
/assign

[2022-06-07 03:27] wongearl commented on #1221
/assign

[2022-06-07 14:39] Napokue opened #1225 "Kubectl cp cannot parse Windows drive letters"
**What happened**:
When using the following command:
[code]

I am getting the error that the pod cannot be found. Which is true as the "d" specifies the pod.

**What you expected to happen**:
I expect that the "d" driver letter is getting parsed correctly as the "d" drive.

**How to reproduce it (as minimally and precisely as possible)**:
Using the command that I wrote above or an equivalent, shou

[2022-06-07 17:43] excalq commented on #1037
Here's a good use-case for this: I'm creating a pod which runs an OpenVPN client, which connects to a remote VPN server. The OpenVPN client config requires a key, cert, and a CA cert (but not the CA key).

I'm able to work around this by creating a `generic` secret for the CA, and mounting it along with a separate `tls` secret for the client. If `--ca` ([PR #100884](https://github.com/kubernetes/k

[2022-06-07 20:14] aufarg opened #1226 "Display Service Account when describing Pod"
**What would you like to be added**:

A row for Service Account assigned to the Pod

**Why is this needed**:

Knowing which Service Account tied to the Pod can be useful when debugging apps running in a Pod. The information can be found easily from `kubectl get`, but it requires you to look through the content via machine format or use `jsonpath` output. The latter doesn't quite work to provide an

[2022-06-08 20:36] brianpursley commented on #1225
It is actually not just a Windows problem, as it is valid to create a directory containing a colon in it on Linux:
[code]

I'm guessing this would have the same problem.

As a workaround, can you do something like this?
[code]

One solution might be to change kubectl cp to always consider a quoted path to be a local path, like this:
[code]

Or to change kubectl cp to allow the colon to be escaped,

[2022-06-09 08:15] Napokue commented on #1225
I did not completely read upon the suggested workaround, but now I did and this workaround does actually work. The `pushd d:` and `popd` commands wrapped around the `kubectl cp` command solves my issue for now.

[2022-06-09 08:33] kaiivoschneider commented on #595
Same problem here

[2022-06-10 07:29] nalepae opened #1227 "Forcing `kubectl log` to wait when container is creating"
**What would you like to be added**:

When we do `kubectl logs <pod> [-f]` on a container in creation, we get this error message:
[code]
In this situation, in general we retry to launch the `kubectl logs <pod> [-f]` until the container is created.

A nice feature would be to have a the `kubectl logs` command to block until the container is created, so we run this command only one time.

**Why is t

[2022-06-10 12:55] verb commented on #1071
/remove-lifecycle stale

[2022-06-10 16:56] brianpursley commented on #1208
did you mean `echo $?`?

---

However, assuming you meant `$?`, I'm trying to reproduce this and am unable to so far.

After trying a couple of times, I modified your exec command a little so it would output something, like this:
[code]

When I turn off my wifi, kubectl remains running, but no output is displayed obviously.  Then after 20 seconds or so, when I turn wifi back on, it immediately "ca

[2022-06-10 17:44] farazoman opened #1228 "kubectl exec -it <pod> bash hangs after you type exit"
**What happened**:
If you run the following
[code]

Conditionally it will hang instead of returning control to the user in the shell. This is due to various changes to how go-dockerclient handles attach and exec. This happens after running `eksctl create cluster -f - --timeout 60m` through ansible, all the pods that are created will hang when `exit` is ran from an interactive shell, and when runni

[2022-06-10 18:48] brianpursley commented on #1212
/kind support

[2022-06-10 19:08] brianpursley commented on #1214
@ethanchowell Check out the [resource-capacity](https://github.com/robscott/kube-capacity#including-utilization) kubectl plugin that looks like it might do what you want.

[code]

[2022-06-10 19:20] brianpursley commented on #1212
Answered by @mpuckett159

/close

[2022-06-10 19:20] #1212 closed

[2022-06-11 16:33] galshi commented on #1218
Hi @soltysh, I think you've misunderstood the issue and that it's still relevant, please look at my previous comment.

[2022-06-12 00:06] brianpursley commented on #1120
/remove-lifecycle rotten

[2022-06-13 15:04] #1211 closed

[2022-06-13 18:40] brianpursley commented on #1227
I guess you could use kubectl wait, then do kubectl logs after that.

Would something like this work?

`kubectl apply -f foo.yaml && kubectl wait --for=condition=Ready pod/foo && kubectl logs foo`

If so, you could turn that into a script and make it a plugin for convenience.

[2022-06-14 08:40] matoruru opened #1229 "fish auto-completion ignores `-n NAMESPACE` by its position of options"
**What happened**:

When I use fish auto-completion by hitting tab, completion doesn't respect the namespace that I gave by the position of `-n` option. And it works as if I specified the `default` namespace.

Like this(`-n kafka` is given after the position where completion happens but it's working as if `-n default`):
<img width="676" alt="Screenshot 0004-06-14 at 5 15 31 PM" src="https://user-i

[2022-06-14 09:01] #1181 closed

[2022-06-14 14:51] brianpursley commented on #1228
I'm trying to reproduce this problem, but it seems to exit fine when I do this:

[code]

Does that work for you, or does it hang?

Am I doing something different than what you are?

[2022-06-14 18:48] kgibm opened #1230 "Allow chroot /host with debug node"
**What would you like to be added**:

`oc` supports `chroot /host` (and even prints a helpful hint of "To use host binaries, run `chroot /host`") whereas `kubectl` causes "Operation not permitted" (even though `/host` is readable):

`oc` results:

[code]

`kubectl` results:

[code]

**Why is this needed**:

This is part of a broader lack of permissions in `kubectl debug node` that `oc debug node`

[2022-06-15 01:15] #450 closed

[2022-06-15 06:50] tonyaw commented on #1071
@verb, may I ask the schedule of this feature?
I didn't find it in KEP(https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/277-ephemeral-containers)

Thanks in advance!

[2022-06-15 14:52] brianpursley commented on #1225
@Napokue see also that instead of pushd/popd, apparently you can craft a UNC path that is equivalent without having to use `:`.

https://github.com/kubernetes/kubernetes/issues/110120#issuecomment-1139144611

So I guess something like this might work too:
[code]

[2022-06-15 15:28] brianpursley commented on #1227
See also https://github.com/kubernetes/kubernetes/issues/79547

[2022-06-16 01:34] pacoxu commented on #1220
Yes, I tried to fix it in https://github.com/kubernetes/kubernetes/pull/109610.

[2022-06-16 06:54] StegSchreck commented on #298
/reopen

[2022-06-16 14:49] omerisildak commented on #951
Thank you it worked for me :))

[2022-06-17 03:20] matoruru commented on #1229
Thank you for your answer @marckhouzam!

Yes that's true, I think it's even a good habit to type global flags especially for the namespace.

[2022-06-17 03:22] matoruru commented on #1229
I think we can close this ticket? I agree with the idea that we should ignore it for now. Thank you!

[2022-06-17 03:22] #1229 closed

[2022-06-17 14:58] Silvenga commented on #1169
Also started happening for us after upgrading to 1.23 from 1.22 - also postgres - only impacting port-forwarding.

I'm a little confused, what's the fix for this?

[2022-06-22 06:59] tsafs commented on #595
I also experience this problem

[2022-06-22 12:32] cconnert commented on #1169
I experienced a similar issue while doing port-forwarding to a [PGO](https://access.crunchydata.com/documentation/postgres-operator/v5/) managed database:
[code]
At some point the connection get lost. Interestingly the connection also is lost when I exist the local `psql`.
Using kubectl v.1.22.0 port-fowarding rock solid

[2022-06-22 17:18] balagithu commented on #955
hi Team , i am getting below error any help will be appreciated

sh-4.4$ ./kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.6"
error: rawResources failed to read Resources: Load from path ./ecr-public failed: './ecr-public' must be a file (got d='/tmp/kustomize-095653624/deploy/kubernetes/overlays/stable/ecr-public')

lient Version: v

[2022-06-22 17:33] eddiezane commented on #1230
I think this is a decision that oc is making for you.

https://github.com/openshift/oc/blob/e0edc20620af770409c1530ae5361c364831544e/pkg/cli/debug/debug.go#L1016

We currently only mount the host when you debug on a node.

https://github.com/kubernetes/kubernetes/blob/e9702cfc1bce5d92fae707de3c5c57b8e952d53c/staging/src/k8s.io/kubectl/pkg/cmd/debug/profiles.go#L32

There is a plan to add further d

[2022-06-22 18:44] DazWilkin opened #1231 "`kubectl get all` does not return custom resources on first use (works subsequently)"
**What happened**:

The first time (see below) that I run `kubectl get all`, it returns "No resource found in {namespace} namespace.

[code]

If I `kubectl get {resource}` knowing that there are custom resources in the namespace, this command returns correctly:

[code]

Then (!) rerunning `kubectl get all` will subsequently correctly (!) return all the custom resources in the namespace:

[code]

*

[2022-06-22 21:22] mpuckett159 commented on #1226
/triage accepted

[2022-06-22 21:30] mpuckett159 commented on #1227
/triage accepted

[2022-06-22 21:37] mpuckett159 commented on #1215
Looks like this has been satisfactorily answered, thank you Marc.

/close

[2022-06-22 21:37] #1215 closed, assigned to nobody

[2022-06-22 21:38] mpuckett159 commented on #1217
/triage accepted

[2022-06-22 21:54] mpuckett159 commented on #1224
Something to note is that kubectl uses a fairly basic implementation of the jsonpath spec. You can find out more about the specifics of it [here](https://kubernetes.io/docs/reference/kubectl/jsonpath/). Specifically we do not support the `||` operator here. Unfortunately I believe that currently to support this specific use case you would need to use a shell function to wait on two separate fields

[2022-06-22 22:17] mpuckett159 commented on #1228
/triage needs-information

I'm unsure if this is useful information to have because you noted that the issue goes away after a pod restart but do you know if there are images that this happens most frequently on, or is it just an issue across all images? I also see that you're using eks and wonder if there may be something on the AWS side that could possibly be causing this. Have you reached out t

[2022-06-23 07:06] ardaguclu commented on #1231
After applying new CRDs, it takes some time for them to be aggregated in discovery endpoint(if there are lots of CRDs, it takes more). It is possible that `kubectl get all` does not return in first request(or does it get timeout?, `kubectl get all -v=9` shows what is happening).

After calling `kubectl get {specific_CRDs}`, you are forcing discovery caching for these specific CRDs and probably tha

[2022-06-23 18:42] DazWilkin commented on #1231
Today, I left the cluster running (w/ CRDs deployed and custom resources created) for 3 hours before attempting to enumerate the custom resources.

I used the `--namespace` flag rather than `kubectl config set-context ...`

The behavior is unchanged from what I described.

[code]

I forgot to add `--v=9` (will try that tomorrow) but -- IIUC -- that I'm getting `No resources found` suggests that th

[2022-06-23 20:02] mpuckett159 commented on #1093
/remove-lifecycle stale

[2022-06-23 21:41] atiratree commented on #1217
I think it should be enough to ouput a warning instead of an error: I started a PR that fixes that: https://github.com/kubernetes/kubernetes/pull/110752

nit:

this is checking a pod named `foobarbaz` and not a subresource

[2022-06-23 21:42] felipeek opened #1232 "kubectl edit fails with 'error: there was a problem with the editor "vi"' when you search for something that is not in the file"
**What happened**:

The bug is very simple. If you use `kubectl edit` to edit a resource and your editor is `vi/vim`, then if you try to search for something in the file, and your search fails because nothing was found in the file, then whenever you save your changes, vim will error out with:

It doesn't matter what you do before or after the search, this error will always occur. In fact, even if

[2022-06-24 00:20] wajdijurry commented on #663
I have the same issue, but why it's rejected when in the same time it's added as an API in kubernetes api proxy?

[code]

[2022-06-24 02:52] nic-6443 commented on #1169
I had the same problem, I found that the reason is that the Postgres client sends an RST packet when disconnecting from the server in TLS mode, because it closes the TCP connection without reading the SSL Shutdown packet send from the server. And the new logic introduced in https://github.com/kubernetes/kubernetes/pull/103526 causes the port forward itself to be shut down when an RST packet is pre

[2022-06-24 11:25] hueifeng opened #1233 "kebectl error: unknown command "token admin-user""
**What happened**:

When I execute the fetch token, it doesn't seem to work properly

![image](https://user-images.githubusercontent.com/34702552/175524798-408808cc-738b-47cb-98d3-fc6fb18f9509.png)

**How to reproduce it (as minimally and precisely as possible)**:

https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creating-sample-user.md

**Environment**:
- Kubernetes cl

[2022-06-24 12:07] ardaguclu commented on #1233
Are you sure that `create token` command is in v1.22.5. I'd upgrade my kubectl and try with that.

/help

[2022-06-24 12:08] ardaguclu commented on #1233
/help cancel

[2022-06-24 12:20] hueifeng commented on #1233
@ardaguclu Is this.

![image](https://user-images.githubusercontent.com/34702552/175532579-8c74379e-c4b0-4806-8e8a-c97086f551c3.png)

[2022-06-24 12:23] ardaguclu commented on #1233
@hueifeng your kubectl is old.

[2022-06-24 12:50] hueifeng commented on #1233
Resolved, close this issue

[2022-06-24 12:50] #1233 closed

[2022-06-24 17:11] DazWilkin commented on #1231
Hmmmm 🤔

Using `-v=9`

1. `kubectl get all --namespace={namespace} -v=9`

[code]
It repeats `GETS` for the non-custom resources (`replicationcontrollers`, `services` etc.) but doesn't appear to check for non-custom resources.

2. `kubectl get {customer-resource} --namespace={namespace} -v=9`

[code]

3. `kubectl get all --namespace={namespace} -v=9`

[code]

I've retained the logs but would prefer

[2022-06-26 06:00] praveenrewar commented on #1221
Then I think that the 4th and 5th example would be similar. Maybe we can combine them to have one example? Something like this:
[code]

/assign

[2022-06-27 18:13] junandaip commented on #594
I'm using git bash and I've wasted hours of reinstalling and reconfiguring metric-server because everytime i try to do "kubectl get /apis/*" it's always returned "Error from server (NotFound): the server could not find the requested resource".

Glad to know the error is from the Windows system.

Here's me trying to get the api via Git Bash
![image](https://user-images.githubusercontent.com/6500569

[2022-06-28 00:54] tigerinus opened #1234 "[feature request] add option to show diff before `kubectl apply`"
**What would you like to be added**:

[code]

**Why is this needed**:

Having to manage multiple contexts in the same CLI is prone to error. I often applied some yaml to the wrong context. I have enabled some visual (tmux and vscode) to indicate the current context, but this can still happen when careless.

As a better practice, I often do `kubectl diff` first before `kubectl apply`, only when I r

[2022-06-28 09:33] AydinChavez opened #1235 "kubectl all vs --all"
**What would you like to be added**:

For retrieving and describing all objects we use an action:
[code]

For deleting objects we use a flag:
`kubectl delete --all ..`

Proposal always use "all" instead of "--all"
[code]

**Why is this needed**:
Simplify working with kubectl.

[2022-06-28 13:55] richardcase commented on #1037
We also have need for this functionality.

[2022-06-28 16:56] ardaguclu commented on #1184
/remove-lifecycle stale

[2022-06-28 18:59] Dentrax commented on #1138
/remove-lifecycle stale
/remove-lifecycle rotten

[2022-06-28 22:31] highb commented on #891
/remove-lifecycle rotten

[2022-06-28 22:31] highb commented on #891
/reopen

[2022-06-28 23:37] lauchokyip commented on #1236
/triage accepted

[2022-06-29 06:05] pycgo opened #1237 "delete service account token"
**What would you like to be added**:
`kubectl delete token xxxx`

**Why is this needed**:
if i create a service account token for 1 year for service account to somebody, After a few months, what should I do if I want to withdraw my permission in advance

For reference, create the command as follows
`kubectl -n customspace create sa satest`
`kubectl -n customspace create token satest --duration=876

[2022-06-29 06:08] #1223 closed

[2022-06-29 08:11] mpuckett159 commented on #1193
/remove-lifecycle stale

[2022-06-29 14:02] kgibm commented on #1230
Resurrecting this because I noticed that [the documentation writes](https://kubernetes.io/docs/tasks/debug/debug-application/debug-running-pod/#node-shell-session) (**emphasis** added):

However, whereas `oc debug node` is truly privileged, I don't think `kubectl debug node` is, as per my original description of not being able to inspect all processes, for example.

So it seems to me that either t

[2022-06-29 18:44] #1184 closed

[2022-06-30 06:17] sanusatyadarshi commented on #707
What is the fix here folks?

I am still seeing the error code as 1.

EKS 1.21( Both client and server on 1.21 including kubectl)

--server-dry-run is unrecognised

[2022-06-30 16:06] #1120 closed

[2022-07-01 05:34] kstephan-wescale commented on #1178
/remove-lifecycle rotten

[2022-07-02 14:30] apelisse commented on #707
Option has become `--dry-run=server`.

What's the error? Can you show the output?

[2022-07-02 19:44] #1158 closed

[2022-07-02 19:44] #1170 closed

[2022-07-04 06:18] deepto98 commented on #1234
Can I pick this up?

[2022-07-04 10:00] michalschott commented on #686
[code]

still does not work properly:
[code]

never recovers

[2022-07-04 14:59] gautierdelorme commented on #1070
/reopen
/remove-lifecycle rotten

Should be fixed by https://github.com/kubernetes/kubernetes/pull/110526

[2022-07-07 12:02] shruthidharani-4313 opened #1238 "Kubectl unable to create file/directory permission denied"
I have used "bitnami/kubectl:latest" image to my test-c container which runs inside a test pod. I just login to that container and I wanted to create a file inside that container. But ended up with below error.

[code]

Can someone help me to understand why this problem occurs and how to fix this? I am aware that mounting the file as configmap might help me but just I need to understand this issue

[2022-07-07 14:09] rrey-aviatrix opened #1239 "Weird behaviour with `--prune` when updating immutable labels with `--force`"
**What happened**:

I recently did an update of manifests created by cdk8s v1.x to v2.x.
Among the changes in the manifests, the labels create by the tool changed their name.
I am using the `--prune` option and I had a weir behaviour at apply, where resources were updated and then pruned, leaving the namespace empty.

Output of the  apply command:
[code]
The `--force` is here to update the label (

[2022-07-08 03:35] #1222 closed

[2022-07-08 05:35] #1238 closed

[2022-07-08 05:35] shruthidharani-4313 commented on #1238
This issue is solved after creating file in /tmp directory

[2022-07-08 09:57] #1237 closed

[2022-07-08 10:55] djmcgreal-cc commented on #821
Hi. I'm surprised this is closed with no rationale to counter https://github.com/kubernetes/kubectl/issues/821#issuecomment-1062945452

[2022-07-08 11:35] jehutyy opened #1240 "kubectl create NetworkPolicy"
**What would you like to be added**:

`kubectl create NetworkPolicy|netpol` would create said network policy.

**Why is this needed**:
This would allow to only use kubectl instead of kubectl plugin or home made templating

[2022-07-08 14:07] justinmchase commented on #686
Those error messages are ok, assuming it eventually recovers. Otherwise returning a consistent error code would be helpful.

[2022-07-08 14:08] verb commented on #1230
Hi @kgibm, we plan on adding a privileged debug profile, follow along in #1108

We won't change the default, though, so maybe the docs should be updated. I'll send this issue over to the website repo.

/transfer website

[2022-07-09 17:48] #1055 closed

[2022-07-12 21:25] brianpursley commented on #1235
I know it seems like `kubectl get all` is a special command that gets all resources, but it is actually not.

"all" is just a category name that is advertised by some set of resource types (pods, rc, services, ds, deployments, ss, hpa, cronjobs, and jobs).

What's going on under the hood is `all` is being resolved to match a category specified by some set of resource types.

For example, daemonset

[2022-07-13 13:10] aduzsardi opened #1241 "Adopt JMESPath in kubectl"
Would be possible to adopt JMESPath https://jmespath.org/specification.html in a future version of kubectl instead of the current jsonpath library ?
JMESPath seems to be the closest thing to a standard on json query , and we would probably not need **jq** or other third party tools for more advanced queries on json outputs.

[2022-07-15 10:23] Ithrael opened #1242 "kubectl diff show managed-fields"
k8s v1.22.3
kubectl v1.22.3

As everyone knows，In k8s v1.18, Server-Side Apply became a beta feature and turned on by default
ps:
I can show managed-fields by options
[code]

but when i use  "kubectl diff"
ps：
[code]
![image](https://user-images.githubusercontent.com/38208715/179203669-8bcc75d8-07c7-467c-a57d-7bb5cb9d4daa.png)

**What would you like to be added**:
I would like to have the option t

[2022-07-15 12:22] aliridha1510 opened #1243 "An error occurred (AccessDenied) when calling the AssumeRole operation: Roles may not be assumed by root accounts"
Hello, i'm having this error when try get pods or any resource in my k8s cluster with kubectl.

**What happened**:

$ kubectl get pods

An error occurred (AccessDenied) when calling the AssumeRole operation: Roles may not be assumed by root accounts.

An error occurred (AccessDenied) when calling the AssumeRole operation: Roles may not be assumed by root accounts.

An error occurred (AccessDenied)

[2022-07-15 12:32] brianpursley commented on #1243
This sounds like an AWS-specific problem.

Maybe try creating an IAM user and authenticate using that, instead of using your AWS root account.

/kind support

[2022-07-16 01:55] jaehnri commented on #1226
Hi!

@aufarg, please, let me know if you can't work on this issue right now. I would like to tackle it if it's the case.

Thanks!

[2022-07-16 06:58] #298 closed

[2022-07-16 12:18] aufarg commented on #1226
@jaehnri Yes, sorry it took me quite a bit of time to read the contributing guidelines

[2022-07-20 16:05] #1243 closed

[2022-07-20 16:11] brianpursley commented on #1242
/assign

[2022-07-20 16:23] eddiezane commented on #1241
Thank you for the suggestion! We are not currently interested in adding support for this. We can revisit if the broader Kubernetes community starts showing interest in JMESPath.

/close

[2022-07-20 16:23] #1241 closed

[2022-07-20 16:28] eddiezane commented on #1240
We'd like to see this addressed in a broader way to move away from the builtin create/generators to an OpenAPI driven generator implementation.

We'll gather feedback and thoughts at https://github.com/kubernetes/kubectl/issues/914

/close

[2022-07-20 16:28] #1240 closed

[2022-07-20 16:30] seans3 commented on #1239
/assign

[2022-07-20 16:35] eddiezane commented on #1235
As Brian pointed out `all` is something that we would do completely differently if we started from scratch. We are slowly trying to remove the concept of it but cannot for backwards compatibility promises.

/close

[2022-07-20 16:35] #1235 closed

[2022-07-20 16:41] eddiezane commented on #1234
The theory around this is that when using `kubectl apply` the diff should ideally be a `git diff`. We discussed this at our recent [KubeCon EU update session](https://youtu.be/eOxy1PS5TyQ?t=778).

I understand what you're asking for in the form of something like `terraform apply/plan`. This would be a good candidate for a plugin implementation.

/close

[2022-07-20 16:42] #1234 closed

[2022-07-20 16:43] eddiezane commented on #1232
/triage support
/close

Let us know if that doesn't help.

[2022-07-20 16:43] #1232 closed

[2022-07-20 16:46] eddiezane commented on #1231
We think this is a known issue with a PR in flight.

/assing @soltysh

[2022-07-20 16:47] eddiezane commented on #1231
https://github.com/kubernetes/kubernetes/pull/96771

[2022-07-20 16:50] eddiezane commented on #1228
Maybe the version of bash is the image using?

Ref https://github.com/kubernetes/kubectl/issues/1175#issuecomment-1033312860.

Please reopen if you can reliably reproduce.

/close

[2022-07-20 16:51] #1228 closed

[2022-07-20 16:56] eddiezane commented on #1225
@Napokue we would accept a PR to add this to the help text of `kubectl cp` if you'd like to make one!

/close

[2022-07-20 16:56] #1225 closed

[2022-07-20 16:57] eddiezane commented on #1208
Please let us know if you can reproduce with the above ask.

/close

[2022-07-20 16:58] #1208 closed

[2022-07-20 16:59] eddiezane commented on #1207
/triage accepted

[2022-07-20 17:03] seans3 commented on #1239
/triage accepted

[2022-07-20 17:24] soltysh commented on #1231
It might be similar to https://github.com/kubernetes/kubernetes/pull/96771, but I think the category expander works differently. I'll have to play with it a bit more to get to the root cause.

[2022-07-20 18:27] tigerinus commented on #1234
@eddiezane I see this issue is closed as completed...what exactly is the command for me to use as a general user?

[2022-07-20 19:18] seans3 commented on #1239
1. The `--force` flag should not be used with the `--prune` flag. It does not make sense to modify the label which is used to define the set of previously applied objects (which prune uses) during the actual apply/prune. If a user wants to force update a label with apply, it must be accomplished before or after the apply/prune. We will create a PR to validate this.
2. The help text for the `--forc

[2022-07-20 21:17] brianpursley commented on #1242
I think I'm able to reproduce it.  Here is what I did, and I think it is the same thing @Ithrael is talking about:

**Setup:**
[code]

**Diff when no changes have been made:**
[code]

**Make a single change..**
[code]

**...and diff again, and you suddenly get a lot of changes:**
[code]

I'm not quite sure what to make of this yet.  I don't have much experience using kubectl diff, and this output

[2022-07-21 06:38] ardaguclu commented on #1242
@brianpursley could you please try the same thing with SSA;

[code]

You reproduce problem without using `--show-managed-fields` flag?

[2022-07-21 08:14] ardaguclu commented on #1242
I tried exact steps in below version  but could not reproduce;

[code]
kubectl is compiled from master branch.

@brianpursley which versions did you try?

[2022-07-21 11:52] ardaguclu commented on #1242
This patch https://github.com/kubernetes/kubernetes/pull/110058 looks the cause of problem. I wonder what is the most elegant way to solve this issue by also managing time fields.

cc: @apelisse

[2022-07-21 13:36] brianpursley commented on #1242
Here is what I'm using:
[code]

Another strange thing is, if I put it all into a single shell script and run it, I see output that looks more like what I would expect:
[code]

The generation and time changes make sense to me, even though it's not really valuable info to have in the diff (at least I can't think why I would care to see that, but maybe someone would).

Then if I wait a few seconds la

[2022-07-21 14:17] Napokue commented on #1225
@eddiezane Could you help me out what the "help text" is and where it is located. I am not familiar with the codebase at the point, so would be appreciated! What solution do you want me to include? The one about the `pushd` command or the one to craft the UNC path, or both? Thanks!

[2022-07-21 15:35] brianpursley commented on #1225
I think Eddie is talking about adding an example to the help text, to help other Windows users.

You can make the change in [/staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go](
https://github.com/kubernetes/kubernetes/blob/8fb423bfabe0d53934cc94c154c7da2dc3ce1332/staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go#L42-L67).

That gets displayed when you use the `--help` flag and is also extracted to build the

[2022-07-21 17:05] panteparak commented on #1169
@nic-6443 So is there a fix for this rather than fallback to disabling SSL on postgresql?

[2022-07-21 19:17] Silvenga commented on #1169
FWIW, I'm not sure what I upgraded, but I'm no longer having this issue with DataGrip on the same cluster (so an upgrade to Datagrip or the kubectrl, or the cluster backplane).

[2022-07-21 22:42] Napokue commented on #1225
I tried testing the provided solution with UNC paths in Windows, but I cannot get it to work on my machine. Before I can commit the changes to the documentation I first need to get it working, as I need to verify that it would be working solution. As far as I have read the Windows documentation this would not be possible without having a network drive.

[2022-07-22 04:36] panteparak commented on #1169
I see. I will see if cluster upgrading works. (my datagrip and kubectl are up to date)

[2022-07-22 05:03] fireflycons opened #1244 "kubectl explain should indicate mutability of fields"
I see many people asking how to tell if a field on a given resource is mutable or immutable. It would be good if the documentation would include this, both in the API reference, and `kubectl explain` in a way that can be easily parsed with e.g. grep

For example

[code]

[2022-07-22 10:27] ogarcia commented on #1044
/remove-lifecycle stale

[2022-07-22 10:47] aslafy-z opened #1245 "Enhancement: Add a flag to present additional annotation columns to `kubectl get`"
**What would you like to be added**:

There's an (extremely helpful) option to add a column based on a particular label to the output of `kubectl get`:

[code]

It'd be great if there were a similar option for annotations (`-A` / `--annotation-columns` for eg.)

**Why is this needed**:

This helps adding custom rows to add visibility over custom configurations as annotations for example.

**Additi

[2022-07-22 13:55] samuel-mellert opened #1246 "`error: open .kube/config.lock: permission denied`"
**What happened**:
I'm running `kubectl` inside of a docker container.
The user's `.kube` folder is mounted from the host system via volume mount.
Since I'm running macOS I'm using [virtiofs](https://www.docker.com/blog/speed-boost-achievement-unlocked-on-docker-desktop-4-6-for-mac/).
When running `kubectl config use-context {context-name}` I get this error message:
`error: open /home/user/.kube/c

[2022-07-22 13:57] samuel-mellert commented on #1246
I admit that this issue is pretty specific for a setup that's probably not too common atm, however it was curious enough so I wanted to leave some sort of documentation.

I'm currently using a workaround using `sed` to replace the `current-context:` line inside of the `config` file.
This works for me as long as the file format doesn't change, but maybe there's an easy fix for this issue.

[2022-07-22 16:43] #1226 closed

[2022-07-22 18:21] PKizzle commented on #1169
@Silvenga Which version have you upgraded the cluster to?

[2022-07-22 18:34] Silvenga commented on #1169
@PKizzle I'm just assuming something changed, since I noticed it stopped happening (disabling SSL for my login is a chore to get done, so I never tried). I recently went though and upgraded all my local software e.g. Windows, Datagrip, etc. Postgres in the cluster wasn't upgrade.

I do distinctly remember upgrading the Datagrip Postgres driver. This was also when I migrated to use [kubelogin](http

[2022-07-22 19:15] jbeaudetupgrade commented on #120
I followed the [official instructions for macOS](https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-mac/) and couldn't get it to work either without complete-alias. Bash version is `5.1.16(1)-release`. The output of `declare -f __start_kubectl` is the following :
[code]
Happy to provide more info if needed.

[2022-07-22 21:10] marckhouzam commented on #120
@jbeaudetupgrade  if you run
[code]
You should see the standard `kubectl` entry (`complete -o default -F __start_kubectl kubectl`).

Do you see a line for your alias as well? You should. If not, then please re-execute the instructions you mentioned.

Hope this helps.

[2022-07-23 00:53] dhduvall opened #1259 "kubectl wait doesn't support complex jsonpath"
### What would you like to be added?

The JSONPath extension for `kubectl wait` added in kubernetes/kubernetes#105776 naively splits the argument to `--for` into three parts using `=` as the boundary character. That's pretty straightforward, but then I wanted to do this:
[code]
which has five parts using that code. It would be nice to use expressions like this, rather than hard-coding the array in

[2022-07-23 23:24] #1061 closed

[2022-07-24 14:29] jsoref opened #1247 "kubectl completion takes 5s if default context is unreachable"
**What happened**:

Each time I open a shell on macOS 12.4, it takes at least 5s (just for kubectl completion)

**What you expected to happen**:

New terminals should open quickly

**How to reproduce it (as minimally and precisely as possible)**:

1. Set up a GKE kubernetes
2. Add a firewall rule that blocks access to the control plane from the internet (or at least where the user will be running

[2022-07-24 14:38] jsoref opened #1248 "`kubectl version` takes 35s if context is unreachable"
**What happened**:

`kubectl version` takes 35s when the server is inaccessible due to a firewall rule

**What you expected to happen**:

A single request that times out after 5s should be more than enough. Most commands do this. I can't think of any reason to make 7 serialized requests.

**How to reproduce it (as minimally and precisely as possible)**:

1. Set up a GKE kubernetes
2. Add a firewal

[2022-07-24 18:57] Napokue commented on #1225
I have tested the following pathing formats that the `cp` command does correctly handle:"

[code]

All of these pathings are Windows specific as far as I have read. How do we want to include this in the documentation? Is there a convention for specifying OS specific documentation?

[2022-07-25 08:50] #1239 closed

[2022-07-25 09:53] ghost opened #1249 "Stop port-forwarding after errors occured - let the user decide."
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/pull/103526 changed to port-forwarding logic so that kubectl exits after an error, for example a "connection reset by peer". I would like to propose a flag that lets the user decide whether this should happen or not, as it seems there are cases where exiting is justified, and there are cases where this is an annoying be

[2022-07-25 12:25] jbeaudetupgrade commented on #120
@marckhouzam Yes I do see the entry on my `k` alias but somehow it's still not working :
[code]

[2022-07-25 14:46] Uranium2 opened #1250 "Memory request/limit not correct when applying with `Gi`"
**What happened**:
I am not getting the correct memory requested in memory request/limits when using `Gi` notation. I get `157286400m` for `0.15Gi` in request and `188743680m` for `0.18Gi` in limits

**How to reproduce it (as minimally and precisely as possible)**:

[code]

My original YAML has volumes and secrets which i stripped here and using a corporate DTR/docker Image

`kubectl apply -n my-n

[2022-07-25 15:55] jdunhamvrtx opened #1251 "[ENH] - Kubectl flag to report permissions (ClusterRole .rules) used when creating."
I'd like to propose an additional flag on kubectl create e.g. --report-perms-used that will give some info on the exact apiGroups / resources / verbs / nonresourceURLS / verbs that were used during a `kubectl create`

**Why is this needed**:  This could be very useful for Admins aiming for least-permissive pipelines (CI/CD) or separation of concerns (admin vs. app / developer) to properly create t

[2022-07-26 03:31] Ithrael commented on #1242
@brianpursley @ardaguclu thx

[2022-07-26 10:42] thejasn opened #1252 "Enhance `kubectl debug` to set security context"
**What would you like to be added**:
Currently, `kubectl debug` doesn't not support configuring container `securityContext` although `EphemeralContainers` API does support it. Some of the fields in `securityContext` are frequently used during debugging such as `runAsUser`, `runAsGroup`, etc. Such fields could be configurable inline within `kubectl debug`.

**Why is this needed**:
Currently, the wa

[2022-07-26 11:00] ardaguclu commented on #1252
There is an ongoing process to add more debugging profiles in here https://github.com/kubernetes/kubernetes/pull/110526. But as a new `securityContext` flag if you mean, better to ask @verb @knight42

[2022-07-26 12:14] thejasn commented on #1252
Thanks @ardaguclu,
Debugging profiles would surely help, but we would still have a restriction on what fields under `securityContext` can be configured. (especially fields like `runAsUser`, `runAsGroup`).

Although I do understand that having a bunch of flags with `kubectl debug` to configure all fields is not really a good user experience, we could have solution that combines debugging profiles (

[2022-07-26 12:55] verb commented on #1252
I agree that debugging profiles covers some but not all of this feature request, and you're right that the challenge here is balancing flags vs features. One way I've considered improving this is to allow the user to add additional debugging profiles, but this would be a follow-up KEP if it's even possible.

@thejasn this is the first request I've seen for configuring `runAsUser` and `runAsGroup`.

[2022-07-26 13:40] thejasn commented on #1252
Are you picturing this to be something like providing a file with the required security context as a JSON/YAML?

So I was using ephemeral containers to run a `delve` debugging server that attaches to the primary container in order to start a debugging session on a running container. I hit some snags with the following errors,
[code]
. This along with the podsecurity policy set to `restricted` kind

[2022-07-26 17:22] verb commented on #1252
Yes, something like this, but it's just an idea at this point and would need work to develop.

I think for now the supported solution will be to run a container as root with debugging profile that sets the required capabilities.

That's a cool feature of openshift. Maybe it could be updated to better support ephemeral containers. If it's implemented by something like a mutating admission controlle

[2022-07-26 20:58] brianpursley opened #1253 "Beginning of help text is cut off for apply's --filename flag"
**What happened**:
[code]

Output for the `--filename` flag looks like the beginning is cut off:
[code]

**What you expected to happen**:
The description of this flag should be a proper sentence, like other flag descriptions.

**How to reproduce it (as minimally and precisely as possible)**:
See "what happened" above

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and se

[2022-07-26 20:58] brianpursley commented on #1253
/good-first-issue

[2022-07-27 02:49] brianpursley commented on #1242
I think it is yet to be decided and it is a legit question as to how it should work.  It sounds like this might be a topic of discussion at tomorrow's sig cli meeting, so let's keep this issue open a little while longer if you don't mind.

/reopen

[2022-07-27 03:30] kaustubhbabar5 commented on #1253
/triage accepted

[2022-07-27 03:33] kaustubhbabar5 commented on #1253
I would like to pick this up.

[2022-07-27 03:36] peizhouyu commented on #1253
/assign

[2022-07-27 03:53] kaustubhbabar5 commented on #1253
/assign @kaustubhbabar5

[2022-07-27 08:04] Ithrael commented on #1242
ok ，I watched your discussion with ardaguclu and I thought there was a consensus。

[2022-07-27 08:24] ardaguclu opened #1257 "kubectl debug: image debugging"
### What would you like to be added?

Currently, in order to use `kubectl debug`, user has to pass resource name which should already exist and that might prevent users, if they want to debug just any built image without creating manually.

From `kubectl debug` ephemeral containers perspective(whose they are running inside the existed pods), this has no meaning. However, from `kubectl debug --copy

[2022-07-27 10:13] marckhouzam commented on #120
@jbeaudetupgrade  does the completion work when you don't use the alias but the full `kubectl`?

[2022-07-27 10:31] peizhouyu commented on #1253
I tried to reproduce the problem with kubectl compiled against the latest master branch, but the result is that f, --filename=[]: and the following are not "cut off", is there any more explanation about this problem. Thanks. @brianpursley

<img width="994" alt="image" src="https://user-images.githubusercontent.com/13448072/181225971-73ad48f0-de7b-4582-948b-f199073b1e54.png">

[2022-07-27 10:33] ardaguclu opened #1258 "kubectl debug: Add ability passing additional parameters into profiles"
### What would you like to be added?

According to the `kubectl debug` debugging-profiles [enhancement proposal](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#debugging-profiles), there are/will be pre-determined and static profiles which user can choose via `profile` flag. This is totally acceptable to avoid lots of feature multiplications and possibly a l

[2022-07-27 12:09] jbeaudetupgrade commented on #120
@marckhouzam yes it works properly with `kubectl`.

[2022-07-27 16:23] apelisse commented on #964
Do we currently have a mechanism for comment aliases in kubectl/cobra? If so, I'm more than happy to see an alias introduced for blame. @soltysh

[2022-07-27 18:21] aliuq opened #1254 "tab-completion displayed wrong character in zsh"
**What happened**:

![image](https://user-images.githubusercontent.com/11707934/181343628-0401fae0-0b3a-41dc-b33e-6efe0cac3ea9.png)

**What you expected to happen**:

Display the right

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): `v1.23.9+k3s1`
- OS (e.g: `c

[2022-07-27 18:41] marckhouzam commented on #1254
@aliuq this looks similar as the problem reported in https://github.com/kubernetes/kubernetes/issues/105587.  It was caused by the use of zsh 5.0.x.  Is that your case?  Zsh 5.1 or higher doesn't have the problem.  The problem has also been fixed in Cobra but has not yet been incorporated in kubectl.

Please let us know if this is the problem for you as well.

[2022-07-27 18:42] marckhouzam commented on #1254
For info, here is the fix in Cobra: https://github.com/spf13/cobra/pull/1665

[2022-07-27 18:55] aliuq commented on #1254
@marckhouzam thanks for your reply, I will try upgrade zsh now

[2022-07-27 19:07] RichardoC opened #1256 "kubectl clusterrole help doesn't document --user flag"
### What happened?

--user is missing from the list of options
[code]

### What did you expect to happen?

$ kubectl -n security create rolebinding workloads --clusterrole workloads --help
Create a role binding for a particular role or cluster role.

Examples:
  # Create a role binding for user1, user2, and group1 using the admin cluster role
  kubectl create rolebinding admin --clusterrole=admin

[2022-07-27 19:42] aliuq commented on #1254
upgrade zsh version can fix it.

[2022-07-27 19:42] #1254 closed

[2022-07-28 00:58] brianpursley commented on #1253
I don't know, I just felt like `that contains the configuration to apply` seems like it should have something before "that", like maybe it had something previously and it was accidentally dropped.

My suggestion would be something like: `The files that contain the configurations to apply.`

But am open to other ideas.

[2022-07-28 02:27] #1242 closed

[2022-07-28 04:53] peizhouyu commented on #1253
It sounds good, thanks.

[2022-07-28 06:43] enn-dee opened #1255 "Pod not running."
I'm running docker desktop with minikube installed  having kubectl version Client Version: v1.24.1
Kustomize Version: v4.5.4
Server Version: v1.24.1
 I created  a pod which shows ready 0/1
why isn't it running ?
![Screenshot (238)](https://user-images.githubusercontent.com/89350768/181438245-9020d714-4449-41f4-b96e-d5e6bc5404bd.png)

[2022-07-28 06:52] ardaguclu commented on #1255
You can have a look at the reason by running `kubectl describe pod/podname` command. `ImagePullBackOff` status indicates that image can not be pulled.

/kind support

[2022-07-28 06:57] enn-dee commented on #1255
kubectl describe pod/podname is showing me this.
![Screenshot (239)](https://user-images.githubusercontent.com/89350768/181440636-8d7d8ea4-6ea2-472c-8f41-eba858ec7208.png)

[2022-07-28 14:19] #1037 closed

[2022-07-28 23:54] brianpursley commented on #1256
@Shubham82 is right, this is because there is already a global user flag:
[code]

The problem is we can't just rename the flag because of backward compatibility.  People running `kubectl create rolebinding` are expecting to be able to pass `--user` even though it is not showing in the help.

I wonder if a solution would be to "overload" this flag, essentially binding two different flags to the `o.

[2022-07-29 02:40] brianpursley commented on #1255
@enn-dee Are you using a VPN?  It looks like a DNS issue, where it cannot resolve registry-1.docker.io.  It is hard to troubleshoot without knowing the details of your environment.

You will probably get better support by searching and/or posting your question on [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes+minikube)

You could also try posting on [Kubernetes Slack](https

[2022-07-29 02:40] #1255 closed

[2022-07-29 02:57] enn-dee commented on #1255
Thanks for the response.

[2022-07-29 08:05] RichardoC commented on #1256
Maybe "username" instead because role-user doesn't really fit with --service-account etc?

[2022-07-29 09:27] Shubham82 commented on #1256
Hi @brianpursley
After adding another flag(`role-user`) for the user so we use both flags (`--user and --role-user`) for binding the user to the role until we totally removed `--user` flag.
Am I understanding right?

[2022-07-29 09:29] Shubham82 commented on #1256
IMO `role-user` is sound better. let's wait for other opinions on it.

[2022-07-29 10:08] ardaguclu commented on #1234
@tigerinus this request might not be applicable to `kubectl apply` and as @eddiezane said it is a good candidate for plugin.

I created this simple plugin https://github.com/ardaguclu/kubectl-dapply for that reason and that might solve your problem.

[2022-07-29 13:37] brianpursley commented on #1234
Coincidentally, I too just hacked together a similar plugin, although with a somewhat different approach.  It is very new, and I'm not trying to compete with @ardaguclu's plugin but will post it here in case you're interested in checking it out.

https://github.com/brianpursley/kubectl-confirm

It is not in the krew index yet, but I'm hoping to get it included soon.

[2022-07-29 13:44] ardaguclu commented on #1234
Indeed it is an interesting coincidence :). My plugin is just a wrapper of `apply` and `diff` and I'm not planning to add it in krew index. @brianpursley but when I looked at your plugin, it looks like a complete and well written plugin and deserves to be in krew index.

[2022-07-29 19:22] brianpursley commented on #1234
Thanks, @ardaguclu.  I was working on this the past couple of days and when I saw your comment, I didn't want you to think I created this in response to what you created, which is why I decided to mention it now :sweat_smile:

Your plugin's approach looks solid to me.  Maybe there is a use case for either of them, depending on what people are trying to do.

[2022-07-30 15:29] brianpursley commented on #1256
@Shubham82 that was what I was thinking, then mark `--user` (the non-global one) as deprecated, and print a warning if people are using that flag, telling them to use `--role-user` instead.  That way we can someday (afters several future releases) remove the `--user` from this command.

BUT... I think this should be discussed with SIG-CLI though before doing that, perhaps in the next bug scrub mee

[2022-08-01 09:35] panteparak commented on #1169
@Silvenga Just a gentle ping on this issue :D

[2022-08-01 09:46] Shubham82 commented on #1256
Thanks, @brianpursley for this detailed information.
I agree with you!

[2022-08-01 14:07] thejasn commented on #1252
I'd be open to creating a rough draft PR or an enhancement. Do you think now is an appropriate time for something like this since there is still active work going being done on debugging profiles?

Do you think for now we could document how we can work with ephemeral containers using `kubectl replace --raw` in order to update fields that are aren't exposed with `kubectl debug`? If you agree, I can

[2022-08-01 16:16] dnnnvx commented on #1169
Hey, found this issue since I have the same problem but with argocd while trying to access the web UI:

[code]

The version is:

[code]

(The cluster is a local kubeadm setup on 2 Intel NUCs with Debian).

[2022-08-02 16:05] jdunhamvrtx commented on #821
Yeah - This needs to be addressed (at some point). Along with the grep example above this even fails basic HTTP status code behavior (which the excuse 'it 's not an error' supposedly falls under). If you request `kubectl get node -l app=awesomeapp -o name` and it comes back empty that's a 404. If I ask a friend to pass a can of soda and they come back with an empty cooler - that's a faux pas. In b

[2022-08-03 08:52] sontt-1215 opened #1260 "Display "error: proto: cannot parse invalid wire-format data" when apply yaml"
**What would you like to be added**:
When i run kubectl apply..., response as above
**Why is this needed**:
Has anyone had this problem yet? Please help me
![image](https://user-images.githubusercontent.com/49391617/182567070-d03094a3-be0d-4882-a82d-4c4400cfdf16.png)

[2022-08-03 09:47] peizhouyu commented on #1253
/close

[2022-08-03 10:25] brianpursley commented on #1253
/close

Fixed by https://github.com/kubernetes/kubernetes/pull/111486

[2022-08-03 10:25] #1253 closed

[2022-08-03 15:15] broomfn opened #1261 "kubectl describe ingress doesn't show the ingressClassName"
**What happened**:

"kubectl describe ingress" doesn't show the ingressClassName

**What you expected to happen**:

ingressClassName to be shown in the describe output

**How to reproduce it (as minimally and precisely as possible)**:

"kubectl describe ingress <NAME>"

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): 1.24.1
- C

[2022-08-03 15:35] sontt-1215 commented on #1260
![image](https://user-images.githubusercontent.com/49391617/182649043-02711216-a549-4648-8cdd-3171b9047332.png)
this is my config yaml

[2022-08-03 16:07] rm3l opened #1262 "`kubectl config` drops all comments from kubeconfig file"
**What happened**:
I was documenting a relatively big Kubeconfig file, and just noticed that all the comments I had written disappeared after executing a `kubectl config` command to set the namespace of a given context.

**What you expected to happen**:
Not sure if that is the intended behavior (I couldn't find any existing issues related to that, nor any documentation about this), but I would exp

[2022-08-03 16:56] ardaguclu commented on #1261
@broomfn  According to here https://github.com/kubernetes/kubernetes/blob/a9593d634c6a053848413e600dadbf974627515f/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2667, it shows. In which version you tested?

[2022-08-03 17:03] ardaguclu commented on #1260
@sontt-1215, this looks like grpc problem. Could you please assure that your apiserver is running properly?. Can you run any `kubectl` commands?. As a general can you  access your cluster?

[2022-08-04 10:21] broomfn commented on #1261
@ardaguclu , thanks for the assist, I'm currently on Kubernetes version 1.22.6

[2022-08-04 10:45] ardaguclu commented on #1261
@broomfn with these versions it seems not possible to be empty. Do you mean it shows `<none>`?. Could you please provide the steps to reproduce the issue?. Thanks.

[2022-08-04 10:55] broomfn commented on #1261
It doesn't display <none> it just doesn't display anything:

Name:             ionapp-ingress
Labels:           app.kubernetes.io/managed-by=Helm
Namespace:        default
Address:          10.100.102.11
Ingress Class:    nginx
Default backend:  <default>
TLS:
  ionapp-tls-secret terminates www.xxxxxxxxx.com
Rules:
  Host                         Path  Backends
  ----                         ----

[2022-08-04 11:12] ardaguclu commented on #1261
@broomfn because `ingressClassName` is shown in `Ingress Class:` field(ref: https://github.com/kubernetes/kubernetes/blob/a9593d634c6a053848413e600dadbf974627515f/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2723).

 It is shown in your above example in;

[code]

[2022-08-04 11:13] ardaguclu commented on #1260
/kind support

[2022-08-04 11:14] broomfn commented on #1261
@ardaguclu Thanks!!!!!!! Ignore me, I'm a tool, sorry :-(

[2022-08-04 11:15] broomfn commented on #1261
Many thanks for the assistance

[2022-08-04 11:15] #1261 closed

[2022-08-04 11:16] ardaguclu commented on #1261
No worries!

[2022-08-05 08:56] nic-6443 commented on #1169
@panteparak I don't have any good ideas yet, there is also a hack approach (which we currently use in our test environment): create iptables rules in init container to drop TCP RST packets sent from Postgres.
[code]

[2022-08-05 10:58] panteparak commented on #1169
@nic-6443 that's a nice hack If anyone is using Istio or any LB with a sidecar proxy. (My cluster does not expose postgresql via istio only at Service level). I think it could be achieve by doing some nginx tcp proxying with RST packet drop too. I'll see if the idea works and will post my result here.

[2022-08-05 11:12] vrevelas commented on #791
/remove-lifecycle rotten

[2022-08-05 13:03] vrevelas commented on #791
@eddiezane could you re-open please? a co-worker is experiencing this issue: They have an exclamation mark in their password in the proxy-url key of their kubeconfig, url encoded as %21 - the result when running 'kubectl exec' is "tls: first record does not look like a TLS handshake") with kubectl 1.24.3 on our corporate proxy, which is squid/3.5.27. It's worth noting that 'kubectl get' works fine

[2022-08-05 13:55] whereisaaron commented on #120
This is what still works for me on Linux. Based on the `bash_completion` source code this is tailor-made to expand the `k` alias as if I had entered `kubectl`. So it may be the 'right' way?
[code]
This is what the OG `kubectl` instructions said, but it has never worked:
[code]

@weibeld bash 4.3, 4.4 and now 5.0.17 and I'm using Linux not a Mac. My `~/.bash_completion` mentions no version number,

[2022-08-05 14:08] dims commented on #791
/reopen

[2022-08-07 09:56] jlsong01 commented on #1172
IMO, no further work needed. Close it.
/close

[2022-08-07 09:56] #1172 closed

[2022-08-07 21:22] YevheniiPokhvalii opened #1263 "How to build `kubectl` form source for FreeBSD?"
I cannot find any modern guide on how to build `kubectl` from source for FreeBSD. Any guide I found in the internet, does not work for me. Like this one from Microsoft: https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/compiling-kubernetes-binaries
[code]
Here is the error I got. But there is `kubectlv1.24.1` in FreeBSD ports, so it is absolutely possible to build it for

[2022-08-08 00:03] YevheniiPokhvalii commented on #1263
I found a workaround. Ironically, the Linux `kubectl` binaries work on FreeBSD.
I could not manage to install `kubectlv1.22.2` so I tried a bit of a higher version, which was also OK for my needs:
[code]
I did not even have to enable the Linux compatibility mode: https://docs.freebsd.org/en/books/handbook/linuxemu/
So, it may seem to be working for 64bit as well: https://people.freebsd.org/~rodrig

[2022-08-08 00:23] dims commented on #1263
`KUBE_BUILD_PLATFORMS=linux/amd64 build/run.sh make WHAT=cmd/kubectl`

^^^^^^ should work on freebsd as well.

Or just use `make kubectl`

[2022-08-08 06:54] YevheniiPokhvalii commented on #1263
That one did not work. I had `not found go.mod errors`.

[2022-08-08 10:51] PauloGDPeixoto commented on #821
+1
Trying to automate operations that are conditioned to the existence of resources is completely non-trivial without proper exit codes.

[2022-08-11 21:13] brianpursley commented on #1262
I don't think it is intended behavior, just unfortunate behavior. This happens because it deserializes the yaml, makes the changes, and then serializes it back out.

Comments are lost during deserialization.

I don't know offhand if there is some way to possibly preserve them, maybe do some kind of patch/merge of the yaml instead of completely overwriting it?

[2022-08-14 13:37] scomri commented on #995
/remove-lifecycle stale

[2022-08-14 17:53] Jeansen commented on #1169
I am having the same issue with postgres and created a new issue with more details in #111825.

[2022-08-15 02:41] Somefive commented on #1205
/remove-lifecycle stale

[2022-08-15 22:43] ryodocx commented on #1109
@fox-md
Probably, it satisfies your needs.
https://github.com/ryodocx/kube-credential-cache

[2022-08-16 08:48] shyamsubbu opened #1264 "Kubectl does not give cm using get all with -l option"
**What happened**:
Kubectl does not cm under get all
**What you expected to happen**:
cm to be listed

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:

**Environment**:
 kubectl version
Client Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.6-eks-7d68063", GitCommit:"f24e667e49fb137336f7b064dba897beed639bad", GitTreeStat

[2022-08-17 06:01] Nish0808 commented on #719
I just want to check if --dry-run-client throws error message when pod eviction is violating the pdb rules ? I know this might not be the right forum, but seems my question is somewhere related to what had been asked here, So, I am looking out for a positive reply. Thanks!

[2022-08-17 16:09] eddiezane commented on #1264
ConfigMaps are not included in the `all` group so this is working as expected.

/close

[2022-08-17 16:10] #1264 closed

[2022-08-17 16:12] eddiezane commented on #1263
You should be able to specifically build kubectl from the main k/k repo with `go build ./cmd/kubectl`.

[2022-08-17 16:16] eddiezane commented on #1260
Please provide more info including the versions you are using.

/close

[2022-08-17 16:16] #1260 closed

[2022-08-17 16:18] eddiezane commented on #1256
The root of this is in Cobra https://github.com/spf13/cobra/issues/1651

[2022-08-17 16:20] eddiezane commented on #1256
Ref https://github.com/kubernetes/kubernetes/issues/103769

[2022-08-17 16:22] eddiezane commented on #1258
cc @verb

[2022-08-17 16:37] eddiezane commented on #1252
Let's consolidate this with https://github.com/kubernetes/kubectl/issues/1258

/close

[2022-08-17 16:37] #1252 closed

[2022-08-17 16:37] eddiezane commented on #1257
/triage accepted

[2022-08-17 16:39] eddiezane commented on #1251
We don't think this is something we'd want/be able to add because it would depend on the audit logs. Client side there isn't a way to differentiate between denied and not found.

Have a look at https://github.com/liggitt/audit2rbac.

/close

[2022-08-17 16:39] #1251 closed

[2022-08-17 16:51] eddiezane commented on #1250
Could you please provide more information about where you are seeing this and what you are expecting to see?

I don't think that `m` (lowercase m) is a valid value when dealing with bytes. `m` is used for milicpu units.

Check out the documentation for this type https://github.com/kubernetes/kubernetes/blob/93054957c13a5398a1b0eabb3d9c77f896e46093/staging/src/k8s.io/apimachinery/pkg/api/resource/q

[2022-08-17 16:54] eddiezane commented on #1249
Brian is working on a PR to better handle connection reset by peer.

/assign @brianpursley

[2022-08-17 16:54] eddiezane commented on #1249
/triage accepted

[2022-08-17 16:56] brianpursley commented on #1249
PR to handle connection reset by peer and not stop the port forwarding listener:
https://github.com/kubernetes/kubernetes/pull/111860

Feel free to comment here or on the PR if you have any thoughts

[2022-08-17 17:19] eddiezane commented on #1248
Can you please share a bit more about where you are seeing 7 requests being made? Is this an assumption of the 5 seconds you are expecting and the 35 seconds you are seeing?

There should only be one request being made. What I think you are seeing is a difference between a connection refusal and a dial timeout. You can see this from the output you posted.

[code]
[code]

When you have the firewall

[2022-08-17 17:19] #1248 closed

[2022-08-17 17:21] eddiezane commented on #1248
Also it's worth calling out that there is a `kubectl version --client=true` flag to skip the server check.

[2022-08-17 18:33] brianpursley commented on #1250
My attempt to reproduce below.  I'm not seeing the same numbers:

Script:
[code]

Actual Output:
[code]

It looks like it is doing this math:
.18 x 1024 x 1024 x 1024 = 193273528.32 = 193273528320m
.15 x 1024 x 1024 x 1024 = 161061273.6 = 161061273600m

I see the same numbers if I get the job or pod using `-o yaml`
[code]

@Uranium2 do you get a different result than the above?

[2022-08-17 18:40] brianpursley commented on #1250
I find the "m" notation (ie. 193273528320m) to be a little strange, but that is what comes back from the server.

It seems like it would make more sense to just be GB * 1024^3 = Bytes, right?

But I guess that is a different issue altogether.

Or maybe in describe it would be helpful to show both:

[code]

[2022-08-17 22:52] eddiezane commented on #1262
This may potentially be addressed if we move to a go-yaml v3 which supports comments. Though some work would definitely need to be done to preserve them when serializing with `kubectl config`.

ref https://github.com/kubernetes-sigs/yaml/issues/72

I understand it's annoying to have your comments dropped but right now I would say this is a "won't fix" for us.

[2022-08-17 22:54] eddiezane commented on #1247
See my response in https://github.com/kubernetes/kubectl/issues/1248#issuecomment-1218291893 for the "why".

But I think this one may be something we can fix. My guess is that `kubectl completion` is triggering discovery which we should skip for this command.

/triage accepted
/priority backlog

[2022-08-17 22:59] eddiezane commented on #1263
I think the issue of supporting FreeBSD should be raised in the main Kubernetes repo. My guess is we'd be happy to take a PR to update the tooling but would need a committed maintainer using FreeBSD to keep up with it.

/close

[2022-08-17 22:59] #1263 closed

[2022-08-18 02:11] DenverJ opened #1265 "kubectl label output from file input with multiple objects does not include a document separator"
**What happened**:
When running "kubectl label" with file input containing multiple objects no document separator is included in the output. This means only the last object will be picked up to be labelled on the cluster (or passed on to an apply command etc).

**What you expected to happen**:
Multiple objects labelled with a document separator in between.

**How to reproduce it (as minimally and

[2022-08-18 07:08] ardaguclu commented on #1265
Problem stems from that `label` initializes new printer for each object https://github.com/kubernetes/kubernetes/blob/10eb7092f854c71122c03752465e868bce23c0b6/staging/src/k8s.io/kubectl/pkg/cmd/label/label.go#L390 unlike to `annotate`.

/triage accepted
/assign

[2022-08-18 10:18] ardaguclu commented on #1265
Currently `YAMLPrinter` only adds document separator(`---`) if the object count is more than 1 for one YAMLPrinter object https://github.com/kubernetes/kubernetes/blob/e4fca6469022309bc0ace863fce73054a0219464/staging/src/k8s.io/cli-runtime/pkg/printers/yaml.go#L48.

However, for the command `label`(and for a couple of more commands), there is no one `YAMLPrinter`, instead to manage the message in

[2022-08-18 12:53] ardaguclu commented on #1247
The point that I don't understand in this case;

`kubectl completion` command does not send any request to apiserver and even does not use discovery https://github.com/kubernetes/kubernetes/blob/67e692d521a5904aaaea446fd1642d2696cab61f/staging/src/k8s.io/kubectl/pkg/cmd/completion/completion.go#L147

@jsoref  What is the output of; `kubectl completion bash --v=99`?

[2022-08-18 14:44] brianpursley commented on #1247
I wonder if this has something to do with the GKE auth plugin.

@jsoref what happens if you run your completion command, specifying a context that doesn't exist, like this?
[code]

It should not make a difference since it is not supposed to communicate with the server, but I am curious what would happen in your case.

Also, this is strange:
[code]

I can't find any file called versioner.go.  I won

[2022-08-18 14:51] jsoref commented on #1247
I'm thinking it is indeed a problem w/ the GKE auth plugin (which is being removed).

Here's a hit for it:
https://github.com/flavio/kuberlr/blob/a68d3cba285076ac6febb24037dc33ba693fa689/internal/finder/versioner.go#L56

[2022-08-18 14:57] jsoref commented on #1247
Ok, sorry, so, this isn't a problem in `kubectl`, it's a problem w/ https://github.com/flavio/kuberlr...

[2022-08-18 14:57] #1247 closed

[2022-08-18 15:08] brianpursley commented on #1247
Still, I am curious why kubectl feels like authentication needs to occur in order for completions to be generated 🤔

[2022-08-19 04:12] williamyeh commented on #1133
/remove-lifecycle stale

[2022-08-21 21:30] SuperSandro2000 commented on #524
/remove-lifecycle stale

[2022-08-22 21:28] boehle opened #1266 "kubectl timeout causing goroutine errors and system freezes"
**What happened**:
Timeout while connecting to cluster causing weird chain reaction of go errors in kubectl, finally resulting in the whole system kinda freezing up and all network activity halting (no network I/O anymore).
--> Apps won't start (freeze on startup)
--> System Preferences unresponsive and empty in case of the Network preferences

Only a reboot will fix the issues until you try to re

[2022-08-23 01:37] sontt-1215 commented on #1260
thanks for reply, i newbie k8s.
i solved it after installing minikube.

[2022-08-23 13:11] Sakuralbj commented on #965
Is there any update? Can you reopen this issue? @logicalhan

[2022-08-23 15:04] Sakuralbj commented on #965
I think this function will be helpful when use kubectl get resources on large clusters. At this time, the list action will bring huge load to etcd and apiserver,  etcd will return all data evenif we use labelSelecor or fieldSelector.  Maybe we just need a simple flag to make the action read from cache by setting RV=0.

[2022-08-23 15:06] Sakuralbj commented on #965
I think this function will be helpful when use kubectl get resources on large clusters. At this time, the list action will bring huge load to etcd and apiserver,  etcd will return all data evenif we use labelSelecor or fieldSelector.  Maybe we just need a simple flag to make the action read from cache by setting RV=0.

[2022-08-23 15:10] logicalhan commented on #965
/reopen
/remove-lifecycle rotten

[2022-08-23 15:11] logicalhan commented on #965
This addition would be helpful if you are watching a very small set of known pods which you can `GET` by RV and then immediately start watching from that RV, since you don't have to do the entire list.

[2022-08-23 15:29] Sakuralbj commented on #965
I'll try it. Since I'm not familiar with this code base, it may take some time

[2022-08-23 15:31] lauchokyip commented on #965
I would suggest bringing up this issue during sig cli meeting or you would end up modifying and not getting accepted for your PR. Thanks
On Aug 23, 2022, 11:29 -0400, Jianbo Ma ***@***.***>, wrote:

[2022-08-23 16:35] mpuckett159 commented on #1204
/remove-lifecycle stale

[2022-08-24 18:52] jaehnri commented on #1265
Hi! I would like to take a look at this issue and see if I can help with it.
/assign

[2022-08-24 20:34] enj commented on #1128
`kubectl` should definitely stop making an infinite number of clients, but until it does, https://github.com/kubernetes/kubernetes/pull/112017 should prevent connection leaks.

[2022-08-26 12:30] Napokue commented on #1225
@brianpursley sorry for the ping, but would you like to answer my question about my comment above? I would like to contribute but I am not sure how I would specify abovementioned text in the docs, thanks!

[2022-08-26 14:15] brianpursley commented on #1225
I'm not really a Windows user, so I don't know if there is a better way. This definitely feels like a big time workaround, and not optimal. It would be good if `kubectl cp` just supported paths that have `:` then it would be a non-issue.

Of the examples you provided, I think `\\localhost\d$\foo\bar\` is the least ugly.

We don't have a good way to handle platform-specific help text, and in genera

[2022-08-26 16:30] tlandschoff-scale commented on #1117
Thank you so much for the `kfilt` example above. I am running into this in another way.

My vagrant provisioning step fails because [k3s](https//k3s.io/) is installed but did not complete setting up traefik. So sometimes applying my resources failed with

[code]
So I can now fix this with

[code]
Thanks! I agree that a more generic solution in kubectl would be great.

[2022-08-27 19:01] #1188 closed

[2022-08-27 19:01] #1190 closed

[2022-08-28 03:01] superbrothers opened #1267 "Exclude metadata.generation field from the output of kubectl diff command"
**What would you like to be added**:

I want to exclude `metadata.generation` field from the output of `kubectl diff` command.

**Why is this needed**:

By https://github.com/kubernetes/kubernetes/pull/111319, the output of `kubectl diff` command no longer includes managed-fields by default, making diffs much easier to read. However, currently, when a diff exists, `metadata.generation` field is in

[2022-08-28 09:04] ido-vcita opened #1268 "Empty patch when performing a rollout restart on a deployment"
From time when we are restarting a deploy using `kubectl rollout restart` we are getting a message saying that the deploy was restarted and then that the patch is empty.
Bellow is the shell out put:
[code]

**What you expected to happen**:
I expect the deploy to restart and the command to exit successfully
**How to reproduce it (as minimally and precisely as possible)**:
Restart a deployment using

[2022-08-29 06:52] tomtrapp commented on #791
+1, I'm facing the same issue

[2022-08-29 20:01] brianpursley commented on #564
@nikhita Does https://github.com/kubernetes/kubernetes/pull/99556 close this issue?

[2022-08-29 20:26] brianpursley commented on #598
I believe this is the same issue as https://github.com/kubernetes/kubernetes/issues/110097, which was recently fixed by https://github.com/kubernetes/kubernetes/pull/111093 which will be included in kubectl 1.26.

Before fix (notice wrong image is returned, `busybox:1.35`, illustrating the bug):
[code]

After fix:
[code]

I'm going to go ahead and close this issue since it has been fixed in kubect

[2022-08-29 20:26] #598 closed

[2022-08-30 13:07] grumpyoldman-io commented on #686
/reopen

[2022-08-30 13:17] aojea commented on #686
/reopen

[2022-08-30 16:46] joroddy opened #1269 "go v1.16.15 and v1.17.10 has high and medium severity Prisma vulnerabilities associated with kubectl version v1.22.6 and v1.23"
go v1.16.15 and v1.17.10 has high and medium severity Prisma vulnerability associated with kubectl versions v1.22.6 and v1.23. go version needs to be updated to the latest go version to remediate Prisma vulnerabilities. We're using kubectl v1.22.6. Please remediate. Thank you!

[2022-08-30 16:56] rittneje opened #1270 "kubectl does not retry after TLS handshake timeout"
**What happened**:

One of our three control plane IPs is unresponsive. On my local machine, what I observe is sporadically it will lag for about 10 seconds, but otherwise works fine. This is because the Go standard library divides the 30 second dial timeout over the 3 IPs, and when the first times out it falls back to the second one.

Further testing shows that if the entire TCP dial times out, t

[2022-08-31 00:47] jclab-joseph opened #1271 "Stuck and high CPU when completing `kubectl edit`"
**What happened**:

When editing and saving through `kubectl edit`, it consumes a lot of CPU and is stuck for tens of seconds.

![image](https://user-images.githubusercontent.com/88625531/187568770-eb1a5298-a9cd-4594-8e69-bc7f9e4fe74f.png)

Log:
[code]

**What you expected to happen**:

Previously it was saved right away, but recently this symptom occurred. I don't know why.

**How to reproduce it

[2022-08-31 01:40] brianpursley commented on #1271
@jclab-joseph a couple of ideas to help troubleshoot this:
1. Can you delete your cache directory `~/.kube/cache` and see if that helps?  It is a long shot, but simple enough to try.
2. Can you run edit with more logging verbosity?  `-v7` might be good enough.  I wonder if there is any clue what it could be doing during that time.

Also, does this happen when you edit anything at all, or just a sp

[2022-08-31 06:16] m0un10 opened #1272 "Dangerous behaviour to not fail on `-n <namespace> --all`"
**What happened**:

I accidentally ran `kubectl delete crd -n <namespace> --all`. It deleted all of my CRDs and broke my cluster beyond repair.
It warned that the CRD isn't namespaced but it didn't fail.

**What you expected to happen**:

I expect if `-n <namespace> --all` is set that it should fail indicating that it's a namespaced resource as opposed to simply warning. The warning is useless whe

[2022-08-31 06:38] HHobeck commented on #454
Hi there.
I have created a new issue: https://github.com/kubernetes/kubernetes/issues/111045
Please support me and give this issue a weight. Not less important please help me to find the persons who are able to bring this topic to success.

[2022-08-31 06:58] rm3l commented on #1262
I understand. Thanks, @brianpursley, and @eddiezane for your feedback.

[2022-08-31 09:09] jclab-joseph commented on #1271
1. I tried deleting `~/.kube/cache` , but it's still there.
2. v7 log:
[code]

[2022-08-31 14:15] brianpursley commented on #1271
Hmm, the fact that it pauses 5 seconds while getting openapi response, and then pauses for even longer right after that makes me wonder.

I have a couple more questions for you, if you don't mind.

1. Do you have a lot of CRDs defined?  Can you run `kubectl get crd | wc -l` and check the count?

2. Can you check what is coming back from the openapi call?  For example using these commands:
[code]

[2022-08-31 14:50] jclab-joseph commented on #1271
[code]

[2022-08-31 14:57] brianpursley commented on #1272
This seems like a similar failure mode as prune (https://github.com/kubernetes/kubernetes/issues/110905)

There are probably a few cases where this might happen:

1. The one @m0un10 mentioned in this issue: `kubectl delete crd -n something --all`
2. You're trying to delete a single cluster-scoped resource: `kubectl delete crd mycrd -n something`
3. You delete from a file(s) (`-f` or `-k`) and spec

[2022-08-31 15:04] brianpursley commented on #1271
@jclab-joseph thanks for that info.

So it does look like you have some CRDs, but not an excessive number of them.  I was wondering if maybe you had thousands of them, but that is not the case.

Do you know if any of your CRDs were added around the time the problem started happening?

If you run this, do you see any that were added around that time?
[code]

[2022-08-31 23:54] jclab-joseph commented on #1271
It has been less than a month since these symptoms started. CRD has not been added recently.

[code]

[2022-09-01 12:15] novak-as opened #1273 "Misleading error message instead of timeout exception"
**What happened**:

[code]

**What you expected to happen**:

`Unable to connect to the server: dial tcp x.x.x.x:443: i/o timeout` would be a way more expected outcome here

**How to reproduce it (as minimally and precisely as possible)**:

- corrupt your local network configuration to NOT have an access to the k8s cluster (in my case it was missing VPN connection)
- run  `kubectl get cm --all-nam

[2022-09-01 17:18] marcofeltmann commented on #1169
Same issue with v1.24 and KinD which has a slightly more speaking message at that given line:

`firefox-developer-edition` states this error:

which reads like "had trouble handling the SSL stuff".

Version:
[code]

[2022-09-01 21:12] YevheniiPokhvalii opened #1274 "Add an option to generate a kubeconfig for a service account"
**What would you like to be added**:
It would be nice to have an inbuilt ability for `kubectl` to generate a kubeconfig for a service account with one command something like:
[code]

**Why is this needed**:
It is often required when you provide non-admin rights for a user.
I know there are scripts, like the ones, described here: https://stackoverflow.com/questions/47770676/how-to-create-a-kubectl-

[2022-09-01 22:18] KnVerey commented on #1272
I agree with you on the conceptual similarities, but unlike pruning (which is an alpha flag), `kubectl delete` is a GA command. This has actually come up many times before, and the SIG has concluded that we cannot just change this, as it would be a breaking behaviour difference. For more context, see [this long thread](https://groups.google.com/g/kubernetes-sig-cli/c/MHk8jEGMAYo) and [this closed

[2022-09-02 23:49] zevisert commented on #1236
This might be a duplicate of #1204

[2022-09-05 05:30] #1176 closed

[2022-09-05 11:03] ardaguclu commented on #1268
I could have reproduced the issue. `rollout restart` command relies on update of `kubectl.kubernetes.io/restartedAt` annotation with the time in [here ](https://github.com/kubernetes/kubernetes/blob/9f3384f02f472b0095fe3675139c08e7aaa7e711/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/objectrestarter.go#L41). This creates a patch difference and command does strategic patching for restart. But

[2022-09-05 12:19] Docteur-RS opened #1275 "SegFault error on specific commands"
**What happened**:
`kubectl top node` + `apply -f` + `edit` end with a stacktrace.
All other functionnalities seems to be working.

**What you expected to happen**:
Command should exit normaly

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl top node` : crash
`kubectl apply -f <pod>`  : crash
`kubectl edit <ingress>`  : crash

**Anything else we need to know?**:

Stacktr

[2022-09-05 12:47] Docteur-RS commented on #1275
Removing the cache folder did nothing.
Removing the binary and reinstalling kubectl from scratch worked.

I could close this but this should be investigated I think.

[2022-09-05 12:54] ardaguclu commented on #1275
There are a lot of protobuf errors which indicate that client has trouble while connecting to api server. But there is no clear indication point about the problem. In addition to that, it is quite difficult to reproduce and lastly this is an older versions of kubectl.

Under this circumstances, I think we can close this issue and if it is happening latest versions of kubectl, feel free to open it

[2022-09-05 12:54] #1275 closed

[2022-09-05 13:01] Docteur-RS commented on #1275
Using the stack trace buf and the right tools it should point to the exact faulty line... It's also most probably not a connectivity issue as "get pods" etc works nicely.
And a segfault* error is a pretty serious error. Though it's true it's not the last version of kubectl.

Let's hope this came from a cosmic ray colliding with the harddrive.

[2022-09-05 13:06] ardaguclu commented on #1275
Thanks for the issue @Docteur-RS. Feel free investigate the issue and if there is any bug, that would be great to open a fix PR.

[2022-09-05 13:42] Docteur-RS commented on #1275
Well played !
Though I have no idea how to reproduce this error... It just stopped working after I went back from holidays...

Removing the "cache" folder in `~/.kube` did nothing. I also uninstalled some krew plugins just to be sure. Still happening !

It may be consecutive to a functionnality deployed by our cloud provider (OVH). We started using a functionnality that scales nodes when low on re

[2022-09-05 13:48] sftim commented on #1270
I'd see this as more of a feature request to add retries. (I don't think we ever documented that `kubectl` would retry in this situation).

[2022-09-06 10:12] iamNoah1 opened #1276 "refactor `annotate` command to split flags from options"
reference to #1046

https://github.com/kubernetes/kubectl/issues/1276#tasklist-block-056935e4-ae77-4948-8a3f-127e895dced9

[2022-09-06 10:12] iamNoah1 commented on #1276
/assign

[2022-09-06 12:36] Fonger commented on #1227
Sometimes we want to follow 50 pods logs like this:

[code]

However, some pods are being creating and the whole requests will fail.
We need to wait for several creating pods and follow the running pods in the mean time.

[2022-09-07 09:32] ido-vcita commented on #1268
@ardaguclu Thank you for taking the time and looking at this.
Seems interesting let's see what the approver will have to say about it.

[2022-09-08 20:54] marcofeltmann commented on #1169
No, but since the update to 1.25 for the kindest/node and appropriate kubectl version the issue didn't occur again.

[2022-09-09 10:48] enj commented on #1128
This fix is merged and backported.  The next release of kubectl should include the fix.

[2022-09-09 14:02] vitalyrychkov commented on #1219
Hello,

We have a similar problem, expecting kubectl wait to wait for X seconds in total with "--timeout=Xs", e.g.:

    kubectl  wait --for=condition=available --timeout=10m deployment --all

However it waits for X seconds * Number of deployments with not-ready pods. Could you please consider also our scenario in the fix?

Kind Regards,

Vitaly

[2022-09-10 10:03] brneto commented on #1254
I've created the PR #112362 to fix this issue, but for those still facing this issue after installing [Oh My Zsh](https://ohmyz.sh/) with `kubectl` plugin enabled you can run command below as a patch to fix it in the meantime:
[code]

[2022-09-10 20:18] abdennour commented on #1169
experienced same issue  in k8s 1.24-k3s
[code]

[2022-09-11 08:52] alanwu4321 opened #1277 "`kubectl kustomize` doesn't support replacements"
**What happened**:
`kubectl kustomize` throws `Error: json: unknown field "replacements"`

**What you expected to happen**:
`kubectl kustomize` builds successfully with `replacemnts`

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): `GitVersion:"v1.21.4",

[2022-09-11 10:41] #1277 closed

[2022-09-11 10:42] alanwu4321 commented on #1277
Fixed after upgrading kubectl

[2022-09-12 14:03] albylamar opened #1278 "error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false"
I'm creating a yaml fike with kubctl and I am getting error of [apiversion not set, kind not set] if you choose these errors turn validation off with --validate=off

I am using bitbucket-pipelines, all my yaml files has apiversion and kind with the exception of the bitbucket pipelines yaml
-->

is there a way to exclude to exclude kubectl apply -f

these are the name of my yaml files
namespace.yam

[2022-09-12 22:54] grosser opened #1279 "`kubectl taint` should always set `timeAdded`"
it can be useful for debugging to see when a taint was added and afaik there is no harm in setting it

... at least it should be an optional `--add-time-added` flag

/sig cli

[2022-09-13 13:16] simcax commented on #1071
/remove-lifecycle stale

[2022-09-13 17:27] MikeSpreitzer opened #1280 "kubectl fails to apply strategic merge patch to custom resource"
### What happened?

[code]

### What did you expect to happen?

Success or a better error message or https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#patch telling me that this will not work.

### How can we reproduce it (as minimally and precisely as possible)?

Try a strategic merge patch on any custom resource.

### Anything else we need to know?

This is kubernetes/kuber

[2022-09-14 07:39] alexku7 commented on #1108
/remove-lifecycle stale

[2022-09-14 12:57] TheDukeDK commented on #1071
A good example of the use case for this is the dotnet monitor. It expects to communicate with the dotnet service over a socket mounted in as a volume. See: https://github.com/dotnet/dotnet-monitor/blob/main/documentation/kubernetes.md

Being able to use **ephemeral** containers to debug existing pods in a non intrusive way would be a great thing. ;-)

[2022-09-15 19:55] Wopple commented on #1206
I'm just noting that this would be extremely useful for me as well. Honestly this feels like a missing feature. There's so much offered by `kubectl` that I have never and probably will never use. This however would be amazing.

[2022-09-16 07:31] zzunny97 opened #1281 "port-forward try to wrong target port"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): v1.22.14
- Cloud provider or hardware configuration: On-prem
- OS (e.g: `cat /etc/os-release`): Ubuntu 20.04

<img width="876" alt="스크린샷 2022-09-16 오후 4

[2022-09-16 17:31] atzawada opened #1282 "Allow events to be filtered by source"
**What would you like to be added**:

I would like to see the the option for being able to filter by component when retrieving events. I think this could be accomplished by adding `source.component` as a field selector for event objects. For example:
[code]

**Why is this needed**:

For teams/organizations that maintain operators/controllers that spit out events, it would be nice to filter for eve

[2022-09-17 15:33] liboz opened #1283 "matchLabelKeys in topologySpreadConstraints doesn't not print anything in kubectl describe"
### What happened?

I used `kubectl describe` on a pod with `topologySpreadConstraints`'s matchLabelKeys applied. I have the featuregate `MatchLabelKeysInPodTopologySpread` applied

### What did you expect to happen?

I expect some printed output that indicates that the config has been applied. I expect the code needs to be updated here https://github.com/kubernetes/kubernetes/blob/23a4920d83559ba

[2022-09-17 19:39] jaehnri commented on #1046
/assign

I'll refactor `label` :)

[2022-09-19 06:20] ardaguclu commented on #1283
/assign

[2022-09-19 06:31] ardaguclu commented on #1282
Thanks for the issue @atzawada. `kubectl get events` supports `involvedObject` as field selector(eg. `--field-selector involvedObject.name=`). What is the reason not using that command?. Moreover, we have a new command `kubectl alpha events` which accepts `--for` and I'd recommend to have a look at(eg. `kubectl alpha events --for=`) with the source you  want to list events.

Besides that could you

[2022-09-19 06:35] ardaguclu commented on #1281
@zzunny97 Thanks for the issue. Would you mind adding reproducement steps?, how that happened?, is it possible to try that in latest version?.

Because according to the issue description, port-forward command should be broken for all cases but we know that it is not :)

[2022-09-19 07:36] ardaguclu commented on #1278
That sounds like an issue needs to be asked in bitbucket-pipeline communication channels?

I'm closing this issue now. Feel free to open it if you assure that it is related to kubectl and that would be great if you can add more steps how we can reproduce the issue.

/close

[2022-09-19 07:36] #1278 closed

[2022-09-20 04:17] #1280 closed

[2022-09-20 09:45] cawoodm opened #1284 "kubectl rollout status doesn't wait/ensure deployment is finished"
**What happened**:
During deployment of new apps we run `kubectl set image deployment/ourApp <tagName>` followed by `kubectl rollout status deployment/ourApp` to wait for the deployment to complete before we run tests.

Unfortunately the tests run on the old version of the app although we assume `kubectl rollout status` is supposed to wait until the rollout is complete.

**What you expected to hap

[2022-09-20 15:39] flickerfly commented on #1169
@marcofeltmann Thank you for your comment because it solved my problem. My browser what assuming https instead of http which resulted in the `failed to execute portforward in network namespace` error.  I just had to specify http:// in browser and its happy now.

[2022-09-21 05:24] PuneetPunamiya commented on #1046
@KnVerey Have you started to refactor the describe command ?

[2022-09-21 06:59] barrettj12 opened #1285 "Output of `kubectl describe pod` formats incorrectly"
**What happened**:
Output of `kubectl describe pod` formats incorrectly.
[code]
Probably a bug in the formatting code.

**What you expected to happen**:
Display the output more nicely, e.g.
[code]

**How to reproduce it (as minimally and precisely as possible)**:

TBD

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
[code]
- Cl

[2022-09-21 08:46] ardaguclu commented on #1285
`kubectl describe` lists events gotten from apiserver and it seems that message has a problem.

I think that is because of this line https://github.com/kubernetes/kubernetes/blob/3ac752e4a0a365b658b185d88bde7f4c620a96e9/pkg/scheduler/framework/runtime/framework.go#L608 does not handle empty cases.

/transfer kubernetes
/sig scheduler

[2022-09-21 10:12] pacoxu commented on #996
See https://github.com/kubernetes/kubernetes/pull/99579#pullrequestreview-702086882 here why the pull request was declined.

[2022-09-21 10:57] teoincontatto opened #1286 "Support fields with dots in kubectl explain"
Having a CRD with the following model:

[code]

Y have no way to escape the dot:

[code]

**What would you like to be added**:

A way to escape dots. The documentation for kubectl explain states:

JSONPath identifier:

retrieved from the server in OpenAPI format.

So I would expect that someone can user the JSONPath notation so that the `<fieldName>` could be expressed as an index selector that su

[2022-09-21 20:41] mpuckett159 commented on #1093
/remove-lifecycle stale

[2022-09-21 21:28] mpuckett159 commented on #1224
/remove-lifecycle stale

[2022-09-22 05:29] Spongman commented on #1169
I'm having the same issue:
[code]

it seems like it's random. sometimes it happens immediately after running kubectl, sometimes it happens after first connection to the local port, and sometimes it doesn't happen.

[2022-09-22 19:03] garomonegro opened #1287 "kubectl convert validate seems to not work properly"
### What happened?

When running `kubectl convert` with the flag `--validate strict` on an ingress manifest with `networking.k8s.io/v1` `apiVersion` but fields from the `networking.k8s.io/v1beta1` `apiVersion` the commands succeeds. I was expecting it to failed. Instead it just drops the `serviceName` and `servicePort` fields and returns an ingress manifest with empty `backend`

#### kubectl conve

[2022-09-22 19:19] garomonegro opened #1298 "kubectl convert doesnt pick right API version for conversion"
### What happened?

When running `kubectl convert` without the flag `--output-version` on an ingress manifest with `apiVersion` `networking.k8s.io/v1` it picks `extensions/v1beta1` instead of staying on `networking.k8s.io/v1` since that is the latest API version

#### kubectl convert output

[code]

#### Content of ingress manifest used

[code]

### What did you expect to happen?

kubectl convert

[2022-09-23 08:28] ardaguclu commented on #1283
@liboz after investigating the issue, I noticed that `matchlabelskeys` are merged in `labelselector`(by ANDing) and we are already showing `labelselector` in describe command. As far as I understand, if `matchlabelkeys` is applied for your resource, it should be seen in `Topology Spread Constraints` field.

[2022-09-23 11:42] vasrem opened #1346 "Kubectl to use server-side apply and same manager by default for any operation"
### What happened?

I did my best to search for a similar issue but couldn't find one that describes this problem. If there is, please close this one.

---

`kubectl` with client-side-apply leads to a non declarative workflow when a resource is later managed by controller with server side apply and a user uses `kubectl edit` and `kubectl apply` to iterate on the resource.

### What did you expect

[2022-09-23 21:50] liboz commented on #1283
Here's a reproduceable test on GKE (I originally was using k3s):

1. Created a cluster on GKE with this command: `gcloud container clusters create test-cluster --cluster-version=1.25 --release-channel=rapid --zone=us-central1-a --machine-type=e2-small --num-nodes=2  --enable-kubernetes-alpha --no-enable-autorepair --no-enable-autoupgrade`
1. Run `kubectl apply -f test.yaml` where the contents of `

[2022-09-23 21:52] liboz commented on #1283
I was able to confirm in that test that the pods do get scheduled on different nodes (as their `kubernetes.io/hostname` are different) so I believe the feature is working as intended.  A rolling update also didn't result in pods all in a single node, which is further evidence it's working.

[2022-09-24 10:00] n33ti commented on #1212
Hi , I am still facing this issue, can someone help, Here is the yaml file:
# Simple Kubernetes Pod to deploy the app contained in nigelpoulton/getting-started-k8s:1.0
apiVersion: v1
kind: Pod
metadata:
  name: hello-pod
  labels:
    app: web
spec:
  containers:
    - name: web-ctr
      image: n33ti/getting-started-k8s:1.0
      ports:
        - containerPort: 8080

I am facing this error:
error

[2022-09-24 13:16] PuneetPunamiya commented on #1046
@soltysh Based on the slack conversation, I'm picking up the describe command, thanks!

cc @KnVerey

/assign

Refactoring `describe` command

[2022-09-24 20:31] rikatz commented on #524
/lifecycle active

[2022-09-25 11:10] raesene commented on #888
Hi all,

I was reading [this issue](https://github.com/kubernetes/kubernetes/issues/101695) about output confusion in kubectl and it seems kind of similar to this one, so I wanted to check if we think that raising a CVE for this one would make sense as they have a similar impact.

I've checked on an up to date Kubernetes cluster and the output confusion is still present. The CSR below is requestin

[2022-09-25 11:12] raesene commented on #888
/sig cli
/sig security

[2022-09-25 11:14] raesene commented on #888
/reopen

[2022-09-26 08:33] ardaguclu commented on #1283
Thanks @liboz. I tried this on `local-cluster-up.sh`(with alphafeatures are all enabled), but still `matchLabelKeys` are empty. For `kubectl describe` part, we can simply add print mechanism but I think we need to ensure prior that;

- What is the working mechanism of `matchLabelKeys`?
- Can we simply add print in describe or is there any direct relation between `labelselector` and `matchLabelKeys

[2022-09-26 13:14] sobolevskaya-k opened #1288 "kubectl not apply changing spaces in file"
**What happened**:  We made a mistake in specifying the version of the image in deployment

`
    containers:
      image: { IMAGE_NAME }:"MISTAKE_SPACE"{ IMAGE_VERSION }
`
we tried to fix it - removed the space and using the command - `kubectl apply -f deployment.yaml`, but the changes were not applied.

**What you expected to happen**:
we expected, what "kubectl" noticed the change in spaces and

[2022-09-26 17:53] #1198 closed

[2022-09-26 17:53] #1201 closed

[2022-09-26 20:56] Spongman opened #1289 "Port-forward drops connection to pod after first connection"
re: #1169

**What happened**:

kubectl establishes port-forward to socket on pod. but drops the connection immediately after connection to proxy port.

[code]

the pod is active the whole time.

**What you expected to happen**: no connection drop

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server

[2022-09-26 22:31] #1289 closed

[2022-09-27 06:27] ardaguclu commented on #1288
Thanks for raising that issue @sobolevskaya-k.

I tested in on latest version(1.25) and it returned validation error for the yaml includes spaces. This problem seems to be fixed in newer versions.

[2022-09-28 12:14] ardaguclu commented on #1288
/close

[2022-09-28 12:14] #1288 closed

[2022-09-29 05:35] techmaharaj opened #1290 "Improve error message for action on missing namespace"
**What happened**:

When a `<namespace>` is not present, running `kubectl get pods -n <namespace>` shows the error messages as `No resources found in <namespace> namespace.`

It works fine when running `kubectl get ns <namespace>` as it then gives an error `Error from server (NotFound): namespaces "<namespace>" not found
`

**What you expected to happen**:

Since the `namespace` is not created in

[2022-09-29 13:18] ardaguclu commented on #1290
I think, your suggestion seems reasonable. However, this change would affect all of kubectl commands. Moreover, these messages are here for a long time and although their context is arguable, external scripts relying on this message will fail which we don't want.

[2022-09-29 14:18] #686 closed

[2022-09-30 01:28] techmaharaj commented on #1290
Sure, I've not checked this with other kubectl commands, but this one felt odd. Frankly, I don't quite understand the complete complexity of the changes required to fix this, but I feel we should improve such verbiage to avoid any confusion to the user.

[2022-09-30 15:15] harridu opened #1291 "kubectl man page, please?"
Would it be possible to provide an "old fashioned" flat man page for kubectl? Something providing the big picture, not just a small fragment shown by kubectl --help?

Working with kubectl I would prefer to stay in my usual work flow on the command line. Opening a browser GUI to search through a bazillion of web pages (made for a different version) is not part of it. kubectl is a command line tool.

[2022-09-30 20:40] nathanperkins opened #1292 "Support 'kubectl get' for owner objects or owned objects through ownerReferences"
**What would you like to be added**:

kubectl support for a flag that allows you to see the objects that own a specific object or are owned by this object.

For example:

- See owned objects: `kubectl get deployment nginx --owned`. Shows the owned replicasets and pods.
- See owner objects: `kubectl get replicaset nginx-abcd --owners`. Shows the owner deployment.

**Why is this needed**:

- Ownersh

[2022-10-01 10:21] watany-dev commented on #1221
I found it, so I'll think of a simple idea and try to PR

[2022-10-03 19:48] tbeauvais-imagine commented on #1169
Why is this closed? It is still happening!

[2022-10-03 20:58] kieranbenton commented on #1169
Agreed, this is a breaking change and is hugely disruptive. Right now we've downgraded until it is resolved.

[2022-10-03 22:17] garomonegro commented on #1287
Same result:

[code]

[2022-10-03 22:19] garomonegro commented on #1287
Yes, that is precisely the point. As mentioned in description:

[2022-10-04 04:46] robozb commented on #837
But this lists all the actual kind in the system?

[2022-10-04 06:56] devzer01 opened #1293 "kubectl get all does not show configmaps"
**What happened**:

i typed kubectl get all and i expect to see config-maps, but they are not listed

**What you expected to happen**:

to see configmaps listed

**How to reproduce it (as minimally and precisely as possible)**:
create a configmap
and then
kubectl get all

[code]

[2022-10-04 19:23] zevisert opened #1294 "Cannot reference root object in jsonpath filter expression"
**What happened**:

`kubectl` doesn't seem to understand the root object `$` when used in jsonpath filters eg `.something.items[?(@.name==$.something.value)]`. I wanted to use a value from the input to filter on rather than a literal string value. This seems to be supported in other jsonpath implementations.

**What you expected to happen**:

My usecase was trying to get `kubectl config view` to o

[2022-10-04 23:12] szaher commented on #1169
same here on apple silicon m1 arm64 facing the exact same issue

[2022-10-05 09:02] newtondev commented on #1293
/triage accepted

[2022-10-05 10:30] jainpratik163 opened #1295 "coloring option in kubectl command output"
**What would you like to be added**:
we want to have some coloring output when we run kubectl command instead of showing output as in plain color.

**Why is this needed**:
it will help us to identify things and also in case of an error we should show output in red color.

[2022-10-05 10:50] jainpratik163 commented on #1292
this can also be achieved by kubectl plugin **tree**

[2022-10-05 10:55] ardaguclu commented on #1295
This looks like a duplicate of https://github.com/kubernetes/kubectl/issues/524.

[2022-10-06 03:42] SamYuan1990 commented on #1169
may I know the reason why port-forward give me an ipv6 address? and it still happening as I try to use it on github action with kind.

[2022-10-06 15:10] newtondev commented on #1293
Also check out the kubectl addon: https://github.com/corneliusweig/ketall

[2022-10-07 03:43] dimm0 opened #1296 "OIDC token update failing in v1.25.2"
**What happened**:

The JWT OIDC tokens from CILogon that used to work perfectly for years can’t be refreshed in kubectl 1.25.2.

Error:

Unable to connect to the server: failed to refresh token: oauth2: cannot fetch token: 400 Bad Request
Response: {"error":"invalid_grant","error_description":"invalid refresh token"}

**What you expected to happen**:
Token refreshes fine.

**How to reproduce it (

[2022-10-07 05:00] zifamathebula commented on #791
+1, I'm facing the same issue

**kubectl version**

- **Client Version:** version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.15", GitCommit:"1d79bc3bcccfba7466c44cc2055d6e7442e140ea", GitTreeState:"clean", BuildDate:"2022-09-21T12:18:10Z", GoVersion:"go1.16.15", Compiler:"gc", Platform:"windows/amd64"}
- **Server Version:** version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.14-eks-6d3986b",

[2022-10-07 09:36] Gikkman opened #1297 "Kubectl rollout undo can cause unexpected config merges"
### What happened?

When applying a manifest after using `kubectl rollout undo`, some fields I've removed from my manifest is still present.

The easiest way I've found to cause this is to create a base deployment, apply an update (that removes some fields), rollback the update, then apply the same (or very similar) update again. The first time you apply the update, the fields are removed as expec

[2022-10-08 17:31] sftim commented on #1293
/remove-kind bug
/kind support

I think `kubectl` is working as designed, although this behavior can be confusing.

[2022-10-08 17:35] sftim commented on #1290
/retitle Improve error message for action on missing namespace

I think we'd need API support so that kubectl can tell the cause of the 404 response (missing namespace? missing pod?) atomically. If kubectl were to make 2 requests, the API state might have changed between the first and second request.

Then kubectl could print its existing error message and a hint that you might be looking in a non

[2022-10-09 23:05] awbacker opened #1299 "Kubectl on MacOS Montery 12.6 causing networking crash, requires restart"
When I execute `kubectl version` on my recently upgraded OSX 12.6 Macbook Pro (Intel), the network stack appears to crash.  This requires a restart.

This appears to be related to IPv6 in some way:

* Wifi DHCP provies 2 servers: `192.168.1.254` and `fe80::c6e5:32ff:...`
* Manually setting to `8.8.4.4` or another IPv4 _fixes the issue_

Perhaps `kubectl` is triggering some MacOS network stack bug?

[2022-10-09 23:19] dims commented on #1299
@awbacker you mentioned `Related issue I ran into, which gave me the solution`... can you please comment what exactly you had to do?

[2022-10-10 00:38] awbacker commented on #1299
@dims

The specific comment is https://github.com/helm/helm/issues/11306#issuecomment-1256745270