[2021-03-15 06:46] #936 closed

[2021-03-15 07:15] FingerLiu commented on #1032
close due to fixed in 1.20
https://github.com/kubernetes/kubernetes/pull/92343

[2021-03-15 07:15] #1032 closed

[2021-03-15 08:53] pierluigilenoci commented on #704
/remove-lifecycle stale

[2021-03-15 09:52] MicDeDuiwel commented on #990
Update: We managed to find the issue, it was a result of two of our keepalived instances sharing the same id and being able to see each other on the subnet causing connection timeouts.

[2021-03-15 09:52] #990 closed

[2021-03-15 16:38] eddiezane commented on #1031
The baked in version of kustomize was [upgraded to v4](https://github.com/kubernetes/kubernetes/pull/98946) and this should be fixed. It will ship with kubectl v 1.21.

If for some reason it's not please reopen on the [kustomize repo](https://github.com/kubernetes-sigs/kustomize/).

/close

[2021-03-15 16:38] #1031 closed

[2021-03-15 16:51] billinghamj commented on #988
Seems that PR got merged :) This one may be ready to close?

[2021-03-15 17:00] eddiezane commented on #988
Looks like! Thanks.

/close

[2021-03-15 17:00] #988 closed

[2021-03-16 07:41] njuptlzf commented on #906
hey,
I think the **kubectl apply** problem  is [here](https://github.com/kubernetes/kubernetes/issues/47249#issuecomment-587960741)

[2021-03-17 03:47] lauchokyip commented on #965
Will start working on it soon. Reading the Kubernetes API docs now :)

[2021-03-18 00:50] eddiezane commented on #978
[code]

![profile001](https://user-images.githubusercontent.com/959573/111556141-7af56200-874f-11eb-8803-c13cf9bad87a.png)

[2021-03-18 01:42] eddiezane commented on #1030
I can reproduce this. The issue is that you aren't providing `ingress.spec.rules.http.paths.backend.resource.apiGroup` which is required.

     specified, the specified Kind must be in the core API group. For any other
     third-party types, APIGroup is required.

The segfault is because we are dereferencing APIGroup [here](https://github.com/kubernetes/kubernetes/blob/3d179220a96459db2a1225c97a1

[2021-03-18 01:43] eddiezane commented on #1030
/priority important-soon

[2021-03-18 01:53] dims commented on #978
whoa! @eddiezane

[2021-03-18 01:54] dims commented on #978
cc @liggitt

[2021-03-18 10:12] bboreham commented on #978
This is correct - in Kubernetes yaml is produced by translation from json.
Ironic, for a system that has so many complaints about yaml, that it never actually uses it internally.

Note that Go will typically make a heap twice as big as it needs for your data; you can adjust this with the `GOGC` environment variable but only so far.

I tend to agree that #866 is the real underlying problem.

[2021-03-18 14:13] liggitt commented on #1030
if you add `--v=6`, you'll see that kubectl actually is fetching the ingress object using the v1beta1 API

Yes, that should be fixed/checked for nil before dereference

No, the resource backend is allowed to reference arbitrary API groups and resources. Kubectl should check for nil before dereference

[2021-03-18 15:00] awoimbee commented on #1030
It's not, as per the doc that you cited:

The kind `PersistentVolumeClaim` is in the api group `core/v1/`.

Anyways, it's a small detail

[2021-03-18 16:21] Michael-Sinz commented on #978
I think #866 is part of the problem but there must be some serious inefficiencies when even the textual form of json (which is rather verbose and indented/etc) is many times *smaller* than the memory needed to produce it.  Something very wrong is going on when that is the case.  (Not to mention that the yaml is a translation of the json and not a serialization of the same objects that produced the

[2021-03-18 16:58] liggitt commented on #978
that's not surprising at all. a json map can be represented in two bytes: `{}`. an empty `map[string]interface{}` allocation takes much more memory than that.

[2021-03-18 20:59] joejulian commented on #909
I found this wanting to mass remove finalizers in order to clean out a namespace.

[2021-03-18 23:47] eddiezane commented on #1019
Synced up with @lauchokyip. They're going to take a look at parsing into a [`Quantity`](https://github.com/kubernetes/kubernetes/blob/74f72c47380340e8f267428822957237dedceead/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L89) and sorting off of that.

[2021-03-19 01:43] eddiezane commented on #965
I synced up with @lauchokyip and have a few thoughts/questions.

Given this [ResourceVersion Parameter table](https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions):

* Some sort of `--cached` flag (better name?) makes sense to me for `kubectl get`.
* Is there any real world use case/value of providing a resource version other than 0?
  * If yes what is the user experience

[2021-03-19 01:57] logicalhan commented on #965
Personally I would find that pretty confusing. It is possible to issue an exact read at an exact RV and get back a strongly consistent read, if nothing has changed. Specifying a specific resourceVersion is tantamount to saying I want _this_ object at _that_ revision, irregardless of what has or hasn't happened in the storage layer.

[2021-03-19 02:18] eddiezane commented on #965
I don't really have an opinion on whether you'd want to pass
--resourceVersion=0 or --cached. I'm more interested in the usability of
RV's > 0.

Eddie Zaneski

On Thu, Mar 18, 2021, 7:57 PM Han Kang ***@***.***> wrote:

[2021-03-20 20:25] lauchokyip commented on #997
@eddiezane I can try to take a look at this
/assign

[2021-03-20 22:11] lauchokyip commented on #1030
/assign

[2021-03-21 21:20] lauchokyip commented on #1030
@awoimbee Thanks for submitting the issue! :)
@eddiezane Trying to finishing up the sort-by PR today, will take a look at it starting tomorrow

[2021-03-22 14:07] rikatz commented on #882
/lifecycle active

[2021-03-23 22:20] lapwat opened #1033 "kubectl create configmap: Support multiple --from-env-file flags"
**What would you like to be added**:
I would like an error to be raised if multiple `--from-env-file` flags are specified in the `kubectl create configmap` command.

**Why is this needed**:
If multiple `--from-env-file` flags are specified, the last one overrides the previous ones. Therefore, --from-env-file is useless and ambiguous.

[Source](https://kubernetes.io/docs/tasks/configure-pod-contain

[2021-03-23 22:28] lauchokyip commented on #1033
@eddiezane, if it's accepted I can try working on it since I was working on removing generator for `kubectl create configmap`

[2021-03-23 22:34] lapwat commented on #1033
Thank you,

Actually I have done it: https://github.com/lapwat/kubectl/commits/master (see last 2 commits)

But cannot push to this repository directly to this repo. Feel free to push copy the changes and push it the staging version of Kubernetes.

[2021-03-23 22:35] lapwat commented on #1033
(if / when it is accepted)

[2021-03-23 23:03] lauchokyip commented on #1033
@lapwat thanks! if this adding this feature is confirmed by Kubernetes memberes, you can go ahead and submit a PR :) For now, you can wait for any feedbacks

[2021-03-23 23:06] lauchokyip commented on #1033
@lapwat thanks! if adding this feature is confirmed by Kubernetes members, you can go ahead and submit a PR :) For now, you can wait to see if there is any followups

[2021-03-24 09:23] adambro opened #1034 "Dots in pod name are not supported in get describe commands"
**What happened**:

The pod name after `.` seems to be truncated for describe and get commands. Example:
[code]

**What you expected to happen**:

I expect this to be working, because logs command does not have this issue and returns logs as expected:
[code]
No need to quote the name, so it's not some ZSH (my shell) interpreting dots problem.

**How to reproduce it (as minimally and precisely as p

[2021-03-24 09:27] pacoxu commented on #1034
It should be
`kubectl describe -n kube-system pod 'fluentd-es-v2.4.0-mwljf'`

/sig cli

[2021-03-24 09:48] adambro commented on #1034
Indeed, I've made the params order on CLI wrong. Thanks for pointing this out. Beginner mistake I guess.

[2021-03-24 09:48] #1034 closed

[2021-03-24 14:01] lagivan commented on #725
I'm missing the kubectl convert feature, cannot find a plugin or binary. I need it to upgrade from 1.15. The command above does not work anymore. Please advise.

[2021-03-24 17:50] #1030 closed

[2021-03-24 18:43] soltysh commented on #725
Yeah, apologies for that we missed that bit in the last release, there will be binaries available in the upcoming 1.21 version and I'm planning to include them in the krew for ease of use.

[2021-03-25 21:02] lauchokyip commented on #1025
@dougsland  I can take a look at this one :)

[2021-03-25 21:02] lauchokyip commented on #1025
/assign

[2021-03-25 22:45] dougsland commented on #1025
hey @lauchokyip sure thing, thanks!

[2021-03-26 21:46] lauchokyip commented on #1025
Hi @aeriksson , I am sorry I am not able to reproduce the errors.
When I did `cat ~/.kube/config | grep certificate-authority | head -n 1 | sed 's/.* //' ` the output is not base64 decoded so it can't be decoded.
Any idea how to reproduce it @aeriksson  and @dougsland ? Thank You

[2021-03-26 21:54] lauchokyip commented on #928
/assign

[2021-03-26 21:57] lauchokyip commented on #923
/assign

[2021-03-28 03:10] lauchokyip commented on #923
/remove-lifecycle rotten

[2021-03-28 03:12] lauchokyip commented on #923
/remove-lifecycle stale

[2021-03-29 20:29] lauchokyip commented on #928
/unassign

[2021-03-31 09:09] raesene opened #1035 "auth can-i provides potentially misleading output with impersonate"
**What happened**:

Usually when using `kubectl auth can-i`, a response from the server of `Warning: the server doesn't have a resource type` indicates that a typo has occurred and that the query is invalid.

When using auth can-i for an account able to impersonate users returns the following results :

[code]

However having a resource type of users for impersonate is a valid option as shown in i

[2021-03-31 10:03] pacoxu commented on #1035
/sig auth

[2021-03-31 16:13] eddiezane commented on #1035
Might be a bug with the impersonate header being passed.

/triage accepted
/priority backlog

[2021-04-04 08:31] fowlay opened #1036 "Wrong port number displayed when port forwarding"
**What happened**:
The following command,
kubectl port-forward -n XXX service/YYY 8377:830
sets up port forwarding successfully, but the following is displayed in the console window:
Forwarding from 127.0.0.1:8377 -> 8830
Forwarding from [::1]:8377 -> 8830

**What you expected to happen**:
This should have been displayed:
Forwarding from 127.0.0.1:8377 -> 830
Forwarding from [::1]:8377 -> 830

**H

[2021-04-05 18:04] rikatz commented on #1036
hello,

can you please post your service object here?

kubectl get svc -n XXX service/YYY -o yaml

thanks

[2021-04-05 18:06] rikatz commented on #1036
/assign

[2021-04-06 12:11] rikatz commented on #1036
/sig cli

[2021-04-06 12:26] rdxmb commented on #572
/remove-lifecycle rotten

[2021-04-06 14:08] lapwat commented on #1033
Understood for `StringSliceVar`.

I have chosen to forbid several tags because it is the current behavior and was easier to patch.

Allowing multiple flags is not a bad idea neither if you want to specify default values that are common to your different environment. Should we go for this?

[2021-04-06 18:42] ashokponkumar commented on #725
In [Konveyor Move2Kube](https://move2kube.konveyor.io/) we had added the conversion capability for kubernetes yamls. After [installing move2kube](https://move2kube.konveyor.io/installation/cli/) `BLEEDING_EDGE='true' bash <(curl https://raw.githubusercontent.com/konveyor/move2kube/main/scripts/install.sh)`, You will have to do `move2kube translate -s <folder containing your k8s yamls>`. If you are

[2021-04-06 23:22] rikatz commented on #1036
/triage needs-information

[2021-04-07 09:12] fredgate commented on #113
Why don't the `kubectl api-resources` and `kubectl get crd` commands return the same results?

Here is output of commands executed as a cluster admin user :
[code]

[2021-04-07 11:06] ibotty opened #1037 "`kubectl create secret tls` should optionally set `ca.crt` key"
**What would you like to be added**:

It would be great to also allow (optionally) creating ca.crt.

**Why is this needed**:

Some tooling requires a `ca.crt` key in tls certs.  It would be great to easily set it.

[2021-04-07 12:47] rikatz commented on #847
/assign

[2021-04-07 15:09] rikatz commented on #1037
/assign @ibotty
/triage accepted

Agree, this is a good feature to have in kubectl create secret tls, the majority of ingress controllers use this :)

[2021-04-07 18:58] DanielW10001 opened #1038 "Wrong URI in PSGallery Installation Script"
PSGallery Installation Script `install-kubectl.ps1` Line 29:
[code]
Should Be:
[code]
Because download link to kubectl.exe is no longer at the previous page.

Related Issue:   https://github.com/kubernetes/website/issues/26956, https://github.com/kubernetes/website/issues/27179

**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely

[2021-04-07 19:30] DanielW10001 commented on #1038
I have tried to contact the author of this installation script via PSGallery.
The author seems to have been inactive for a while, so it is possible that this bug would not be fixed quickly.

I want to fix it (with just one-line-change) but cannot because this script is not licensed openly.
Maybe we can write a new one.

[2021-04-08 06:50] fowlay commented on #1036
Hi Rikatz, the service object in this case is a company internal entity so the name would not be of any use. If it would be of any help I can maybe run commands to gather information about the service object.

[2021-04-08 07:10] fowlay commented on #1036
About the issue - I should add that the actual port forwarding works fine. In the example above, a TCP client can connect to localhost:8377, reaching the remote service at port 830. It is maybe just a matter of the messages displayed in the console window, where the remote port comes out wrong.

[2021-04-08 12:07] SRodi commented on #454
/remove-lifecycle stale

[2021-04-08 14:02] whiterm commented on #715
/reopen

[2021-04-08 16:58] eddiezane commented on #1038
Let's track this at https://github.com/kubernetes/website/issues/26956

/close

[2021-04-08 16:58] #1038 closed

[2021-04-09 00:10] #1029 closed

[2021-04-09 11:28] rikatz commented on #1036
yes sure, I don't want the service name, but the spec :D

I want to try to reproduce here, as when I tried the same the correct port was shown!

[2021-04-09 17:13] eddiezane commented on #797
Looks like `kubectl kustomize --version` didn't make it in with the 1.21 changes.

@natasha41575 is this something y'all can take on?

[2021-04-09 17:44] natasha41575 commented on #797
will discuss with @monopole

[2021-04-09 17:50] eamonryan commented on #681
@zhouya0 I just had this crop up where it turned out something would only take action if a pod's container port had a certain naming convention and I was lost for some time because comparing a working and non-working pod, neither appeared to have any port names at all from the perspective of `kubectl describe`. Only when I used `kubectl get pod <name> -o yaml` on both did I realise there was a dif

[2021-04-09 20:06] KnVerey commented on #1033
Yes, let's go with supporting multiple instances of the flag, consistent with the current behavior of `--from-file` and `--from-literal`.

/triage-accepted
/retitle kubectl create configmap: Support multiple --from-env-file flags
/assign @lapwat

[2021-04-09 20:07] KnVerey commented on #1033
/triage accepted

[2021-04-10 21:05] #967 closed

[2021-04-11 20:01] aeriksson commented on #1025
@lauchokyip for local setups (like with Minikube), you'll typically have a ca file referred via the `certificate-authority` key, but for cloud-based/production setups you'll normally have a Base64-encoded cert under `certificate-authority-data`. See https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/

[2021-04-11 20:19] lauchokyip commented on #1025
/unassign

[2021-04-12 06:49] pisto commented on #454
Please also make this work on pods in CrashLoopBackoff state. It's painful to debug these containers when you suspect the filesystem in the pod is incorrect, but there's no way to cp files, or even just list the container filesystem when a container is not running, and workarounds may be difficutl to apply.

[2021-04-12 10:07] soltysh commented on #964
/lifecycle frozen

[2021-04-14 07:14] zryfish opened #1039 "`kubectl alpha debug` should allow set namespace through `--namespace` flags"
**What would you like to be added**:
Currently, `kubectl alpha debug` set namespace through kubeconfig, not from command line flags. https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/debug/debug.go#L208
[code]

**Why is this needed**:
It would be great to support setting namespace through command-line flags, just like `kubectl get po -n kube-system`. I would love to implement this feature

[2021-04-15 15:55] eddiezane commented on #1039
@verb thoughts?

Looks like a good first issue for someone.

[2021-04-15 16:24] verb commented on #1039
Hi @zryfish, `kubectl debug` already supports the namespace flag:

[code]
[code]

Could you provide some examples that aren't working for you?

[2021-04-16 02:10] astute-engineering opened #1040 "Kustomize flags do not work"
**What happened**: kubectl kustomize flags do not work as documented in https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#kustomize

**What you expected to happen**: Flags work as expected, or documentation is updated as per current state of kubectl.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a simple kustomization directory (k_dir) with one

[2021-04-16 08:19] zryfish commented on #1039
My mistake, it's working now. I got the following error message, mistakenly thinking kubectl couldn't find the pod.
[code]

[2021-04-16 08:19] #1039 closed

[2021-04-16 10:35] sviatoslav-somov commented on #524
@dty1er Any updates? 🙏

[2021-04-16 22:23] eddiezane commented on #1040
That should work if you grab the latest version of kubectl (v1.21). The version of kustomize that ships with kubectl was just majorly bumped there.

/close

[2021-04-16 22:23] #1040 closed

[2021-04-16 22:36] #913 closed

[2021-04-21 20:21] rikatz commented on #943
@dougsland anything in this one that I can help?

[2021-04-21 22:43] pims commented on #113
@fredgate because not all resources are CRDs?

[2021-04-21 22:50] lauchokyip commented on #1033
@lapwat any updates ? :)

[2021-04-22 16:24] rikatz opened #1041 "kubectl create ingress panics when wrong annotation is passed"
**What happened**:

[code]

**What you expected to happen**:
No panic to occur
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I need to parse my arrays better :P

/kind bug
/sig cli
/triage accepted

[2021-04-22 16:26] rikatz commented on #1041
/assign

[2021-04-23 00:44] #1041 closed

[2021-04-23 10:00] mdepa opened #1042 "kubectl set env not working for initcontainers"
**What happened**:
I'm currently implementing a CI/CD pipeline where I want to initialize a container using an initcontainer image, the initialization is driven by parameters I'd like to pass to the init container as environment variables.

When I execute the command **kubectl set env --all=true deployment/my-app --from=configmap/my-configmap** the command succeed with output:

deployment.apps/my-

[2021-04-26 20:32] KnVerey commented on #1028
The PRs for `kubectl describe --chunk-size` and `kubectl drain --chunk-size` have both been merged and will be included in 1.22. 🎉

Re: whether or not this flag is likely to be useful on `kubectl top`:
- `kubectl top node` only lists nodes, so it is unlikely for a chunk size flag to be useful in practice given the extreme resource volumes required to trigger the issue.
- `kubectl top pod` can do a

[2021-04-27 08:45] viorelflorian commented on #984
/remove-lifecycle stale

[2021-04-27 23:46] ZhilinS opened #1043 "kubectl kustomize v. 1.21 not supporting YAML references"
**What happened**:
After upgrading kubectl to version 1.21 kustomize command fails when YAML anchors are references by '<<'

**What you expected to happen**:
As it was in v. 1.20, command should provide correct output, but not the erorr

**How to reproduce it (as minimally and precisely as possible)**:
Given this 2 files:

kustomization.yaml:
[code]
api.yaml:
[code]

Execute `kubectl kustomize .`

[2021-04-27 23:57] ZhilinS commented on #1043
It may be fixed just by flattening api.yaml like this
[code]
but it's very strange to have previous version working with YAML standard syntax and newest version not.

[2021-04-28 00:06] ZhilinS commented on #1043
It can be fixed by changing api.yaml to
[code]
but it's strange to see that previous version of tool was working with standard YAML syntax and the newest one isn't

[2021-04-28 08:08] ogarcia opened #1044 "Place CACHEDIR.TAG file in ~/.kube/cache and ~/.kube/http-cache"
**What would you like to be added**:
`~/.kube/cache` and `~/.kube/http-cache` are cache folders that do not need to be backed up. Until the [kubernetes/kubernetes#56402](https://github.com/kubernetes/kubernetes/issues/56402) issue is resolved I propose a trivial change that is add a `CACHEDIR.TAG` file in these folders following [the standard](https://bford.info/cachedir/).

TLDR: Create a `CACHED

[2021-04-28 09:13] sameersbn commented on #1043
We have been experiencing a lot of issues with regard to the use of anchors. Following YAML that used to work with `kubectl v1.20.4` no longer seems to be working and errors out with the message `: node must be a scalar, sequence or map`.

[code]

Also rendering https://github.com/knative-sandbox/eventing-kafka-broker/releases/download/v0.22.1/eventing-kafka-controller.yaml using `kubectl kustomiz

[2021-04-28 09:28] leviisfool opened #1045 "error: SchemaError(xxx.crd.path.field): array should have exactly one sub-item"
**How to reproduce it (as minimally and precisely as possible)**:

crd definition apply to k8s:
[code]
error:
[code]
Issue:
1、Not able to edit or delete my crd
2、Not able to apply any resources to k8s

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.12", GitCommit:"7cd5e9086de8ae25d6a1514d0c87ba

[2021-04-28 13:16] weixiao619 commented on #598
Is this problem solved？

[2021-04-28 13:45] lauchokyip commented on #1033
/assign

[2021-04-28 14:09] lapwat commented on #1033
Yes sorry for the delay do not have the time to do it right away feel free to take it over :) thanks

[2021-04-28 14:44] soltysh opened #1046 "Umbrella Issue: refactor commands to split flags from options"
Currently most or even all of the commands have an `*Options` structure holding all of the data needed to run a command and three main methods `Complete` (finishing `*Options` struct), `Validate` (validating `*Options` struct) and `Run` (actual code behind the command). The current problem is that these `*Options` struct is tightly coupled with flags, but we'd like to split these.

A perfect examp

[2021-04-28 14:46] soltysh commented on #1046
/triage accepted

[2021-04-28 16:12] eddiezane commented on #1046
/remove-help
/remote-good-first-issue

Holding off on this until we scope better and trial a few to confirm it's what we want.

[2021-04-28 16:13] eddiezane commented on #1046
@soltysh looking at log and get

[2021-04-28 16:13] eddiezane commented on #1046
@rikatz will take basic create

[2021-04-28 16:14] eddiezane commented on #1046
@KnVerey to look at drain or describe

[2021-04-28 16:14] eddiezane commented on #1046
@eddiezane will look at a simple config command

[2021-04-28 16:18] eddiezane commented on #1045
@leviisfool please provide an example CRD to reproduce (that we can copy and paste) and the error message in full.

Also please check if this issue occurs on a [supported version](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl).

[2021-04-28 16:18] eddiezane commented on #1045
/triage needs-information

[2021-04-28 16:20] brianpursley commented on #1045
Possible additional context for this error message:
https://github.com/kubernetes/kubernetes/blob/dd1709ba46580af290712b0eca12acd00a78789d/vendor/k8s.io/kube-openapi/pkg/util/proto/document.go#L214-L218

[2021-04-28 16:20] eddiezane commented on #1044
/assign @dougsland @rikatz

To take a look.

[2021-04-28 16:25] eddiezane commented on #1042
/triage accepted

Potentially similar work to what was done for set image.

[2021-04-28 16:26] eddiezane commented on #1042
set resources might have a similar issue. Someone should look at this as an umbrella for all set init commands.

[2021-04-28 16:26] rikatz commented on #1046
/assign
So I wont forget :)

[2021-04-28 16:26] eddiezane commented on #1015
@dougsland bump on this

[2021-04-28 16:27] SaiHarshaK commented on #1042
/assign

[2021-04-28 16:28] eddiezane commented on #32
Will be closed by #1046

[2021-04-28 16:29] eddiezane commented on #32
Actually let's track at #1046
/close

[2021-04-28 16:29] #32 closed

[2021-04-28 16:39] eddiezane commented on #123
We should go through this and take inventory.

@soltysh will look at.

[2021-04-28 21:25] KnVerey commented on #1043
Kubectl 1.21 contains a large version bump to Kustomize, from v2 to v4. There are already several issues open on the Kustomize repo about [problems with YAML anchors](https://github.com/kubernetes-sigs/kustomize/issues?q=is%3Aissue+is%3Aopen+%22yaml+anchor%22+in%3Atitle). Please follow along there. I believe the most relevant to this particular case is https://github.com/kubernetes-sigs/kustomize/

[2021-04-28 21:26] #1043 closed

[2021-04-28 21:49] rikatz commented on #1036
@fowlay ping :)

Can you please provide the service object, so I can try to reproduce here?

Thanks

[2021-04-29 19:53] lauchokyip commented on #1033
No worries @lapwat , I will take care of that

[2021-04-30 01:44] eddiezane commented on #928
This should be fixed at some point.

/reopen
/remove-lifecycle rotten

[2021-04-30 01:47] eddiezane commented on #928
/triage accepted

[2021-04-30 03:08] carlory commented on #1035
/assign

[2021-04-30 04:19] lauchokyip commented on #1046
/assign Will do `create` with @rikatz synchronously

[2021-04-30 14:52] carlory commented on #1042
/assign

[2021-04-30 15:18] carlory commented on #1023
/lgtm

[2021-05-01 03:46] carlory commented on #1042
@SaiHarshaK Sorry, I didn't notify you beforehand

[2021-05-01 05:52] carlory commented on #969
@andras-gerendas localsubjectaccessreviews doesn't support the list verb.

[code]

[2021-05-01 06:15] SaiHarshaK commented on #1046
/assign I'll try to do for apply command

[2021-05-01 10:18] #500 closed

[2021-05-02 11:35] avvertix opened #1047 "Error schema.go no kind "CertificateSigningRequest" is registered for version "certificates.k8s.io/v1" when approving a certificate signing request"
**What happened**:

When approving a CSR request, by using `kubectl certificate approve <name>` the following error was returned

[code]

https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#normal-user

**What you expected to happen**:

The certificate is approved or a better error is returned

**How to reproduce it (as minimally and precisely as possible)**:

I w

[2021-05-03 11:56] loozhengyuan opened #1048 "Duplicate port name across containers does not trigger error"
**What happened**:

When creating containers with duplicate port names, no error was returned.

**What you expected to happen**:

Expected an error to be returned.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Anything else we need to know?**:

The actual symptom I had was that running `kubectl port-forward` on a Service with duplicate port names causes it t

[2021-05-03 12:08] loozhengyuan commented on #1036
@rikatz Here's a repro:

[code]

[code]

In this case, port `8080` is the `targetPort` of the `Service` and port `80` is the port of the container expected to be forwarded based on the `targetPort` field. I'm not sure if this is a bug per se since port `80` is indeed the expected port.

I think perhaps, we can explore another way to represent the port when running `kubectl port-forward` on `Servic

[2021-05-03 14:50] #1035 closed

[2021-05-03 15:11] lonnix opened #1049 "Allow remote kubeconfig locations"
**What would you like to be added**:
I would like to be able to use a remote kubeconfig file when running kubectl commands.

Ideally I could pass a parameter, ex: `--remote-kubeconfig` and provide a URL to download the kubeconfig from.

I use Hashicorp Vault and would like to be able to pull configs from there like any other secret, but this requires integration with Vault for proper use of tokens

[2021-05-03 16:43] eddiezane commented on #1047
Looks like you're using a different executable than the one you downloaded.

You should be able to run `where kubectl` or something similar to track it down.

/close

[2021-05-03 16:43] #1047 closed

[2021-05-03 20:13] krol3 opened #1050 "rollout status not return a message"
#### What happened:

The client don't return a message. After use the command.
[code]
#### What you expected to happen:
I expected the same behavior of the other commands of rollout. For example
[code]

#### How to reproduce it (as minimally and precisely as possible):
[code]
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
Client Version: versi

[2021-05-04 22:13] rikatz commented on #1050
/assign
Will take a look during weekend :)

[2021-05-04 23:11] ihcsim commented on #1046
/assign

[2021-05-04 23:11] ihcsim commented on #1046
i can do `attach`.

[2021-05-05 04:11] eddiezane commented on #1049
We recently decided to not implement this due to security concerns.

We'd like to provide a mechanism for users to populate this though. I'll make sure this gets on the agenda to discuss.

ref: https://github.com/kubernetes/kubectl/issues/950

[2021-05-05 06:37] vagdevik commented on #886
In my case, I am deploying my project on GKE via Travis. In my travis file, I am calling a shell file (deploy.sh).

In the deploy.sh file, I have written all the steps to create kubernetes resources:

[code]
So here, I replaced kubectl apply -f . with the individual file names as follows:

[code]
And then, the error is fixed!

[2021-05-05 07:19] leviisfool commented on #1045
crd sample
[code]

The problem only appears on version v1.18.12, it does not exists on version v1.19.7.
It was fixed.

[2021-05-05 07:19] #1045 closed

[2021-05-05 07:20] nickjmv commented on #524
Great job so far, really looking forward to an update!

[2021-05-05 11:07] aojea commented on #564
/cc

[2021-05-07 01:00] rptaylor commented on #454
I agree this would be useful. People need a way to extract files produced in pods after they finish.

My use case is a job that requires a lot of resources and runs for a couple days. I don't want to keep it running longer than necessary with e.g. 'sleep' because that would waste resources, but I also _really_ don't want to lose the output if I am too busy to check on it and retrieve the output un

[2021-05-07 09:36] pacoxu commented on #1046
A simple summary:
- [x] -  wait  ✅    a perfect example
- [ ] -  [**WIP**]create  @lauchokyip & rikatz  https://github.com/kubernetes/kubernetes/pull/101736
- [ ] -  logs and get @soltysh
- [ ] -  apply @SaiHarshaK
- [ ] -  config @eddiezane
- [ ] -  drain/describe @KnVerey
- [ ] -  attach @ihcsim

[2021-05-07 10:33] mialkin commented on #574
On macOS 11.3 I did this to fix the error:

[code]

and in that filed replaced `~/.dotnet/tools`

with absolute path: `/Users/aleksei/.dotnet/tools`

[2021-05-08 13:32] Darshnadas commented on #1048
Is is it okay if I take up this issue?

[2021-05-08 14:06] loozhengyuan commented on #1048
@Darshnadas Sure, definitely! It may be a good idea to get some comments from the team before working on the PR because I'm not too sure what the PR should be about.

Some thoughts I have:
- Is this a bug on `kubectl` alone or the k8s api?
- Is it reasonable to expect port names to be unique on `Deployment` resources?
- If reasonable, does it mean all k8s objects that includes a `V1Container` will

[2021-05-08 14:07] loozhengyuan commented on #1048
/assign @Darshnadas

[2021-05-09 01:07] #961 closed

[2021-05-09 02:24] eddiezane commented on #1048
This sounds really familiar. Might already be tracked in the main Kubernetes repo.

[2021-05-09 02:25] eddiezane commented on #1050
/triage accepted

[2021-05-09 02:25] eddiezane commented on #1050
/priority backlog

[2021-05-10 08:04] rdxmb commented on #669
/remove-lifecycle stale

[2021-05-10 08:20] tksm opened #1051 "Support --privileged flag in kubectl debug node"
**What would you like to be added**:

Adding `--privileged` flag to `kubectl debug node` like `kubectl run` (https://github.com/kubernetes/kubernetes/pull/90569).

**Why is this needed**:

`kubectl debug node` allows us to debug issues on nodes, but commands like `iscsiadm` do not work due to the lack of Linux capabilities. `--privileged` flag is very convenient for debugging node issues with comm

[2021-05-10 11:50] Darshnadas commented on #1048
Okay, cool!

[2021-05-10 17:12] eddiezane commented on #1051
/cc @verb

[2021-05-11 11:54] socketbox opened #1052 "config get-contexts and custom-columns output"
**What would you like to be added**:

I would like `kubectl config get-contexts` to show an arbitrary subset of the columns shown in default output by way of the `-o=custom-columns` flag.

**Why is this needed**:
Currently, `kubectl config get-contexts` shows CURRENT NAME CLUSTER AUTHINFO and NAMESPACE. On my terminal, that's a total of 221 columns, with NAME, CLUSTER, and AUTHINFO being _identica

[2021-05-11 15:54] eddiezane commented on #1046
@BigaDev will take a look at scale

[2021-05-11 17:14] mcandre opened #1053 "kubectl freezing mac"
**What happened**:

Basic kubectl commands like `kubectl get service` freeze up my mac, making it impossible to click or do anything for minutes at a time.

**What you expected to happen**:

The command should complete quickly without interrupting other macOS applications.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
- Kubernetes client and server ve

[2021-05-11 17:52] brianpursley commented on #1053
Are you accessing a remote cluster or one running locally (ie. KinD or Minikube)?

[2021-05-11 23:46] brianpursley commented on #1049
@lonnix You could always do something like this and even alias it if you don't want to have to specify `--kubeconfig` all the time:

[code]

But like Eddie was saying, it opens you up to potential security risks, and really just increases the potential that you could be using a config that you did not intend even if nothing malicious was done.  Someone could change the remote config and you would

[2021-05-12 00:08] pankajagarwal commented on #783
@seans3 was their an issue created with kustomize and you mind adding the resolution here as a comment ?

[2021-05-12 05:46] eddiezane commented on #1053
Can you please confirm that you're not using an M1 mac?

Does removing the cache folders from `~/.kube` have any effect?

/triage needs-information

[2021-05-12 17:45] eddiezane commented on #1052
My guess is that custom columns were added to `kubectl get` at a later point and never ported to config.

We would accept a PR if reusing the [custom columns from kubectl get](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/get/customcolumn.go) is clean otherwise the maintainer burden probably outweighs the benefit.

In the meantime take a look at [kubectx](

[2021-05-12 18:12] eddiezane commented on #685
This was closed by https://github.com/kubernetes/kubernetes/pull/98250

/close

[2021-05-12 18:12] #685 closed

[2021-05-12 22:47] eddiezane commented on #517
/remove-lifecycle stale

[2021-05-13 06:44] #1042 closed

[2021-05-13 20:43] eddiezane commented on #980
I think this was fixed by https://github.com/kubernetes/kubernetes/pull/90333.

/close

[2021-05-14 13:14] knight42 commented on #980
/reopen

@eddiezane This has not been fixed.

[code]

This problem could be reproduced by
[code]

[code]

And this problem actually should be fixed by https://github.com/kubernetes/kubernetes/pull/96566

[2021-05-14 16:32] tonybenchsci commented on #981
Relates to https://github.com/kubernetes/kubernetes/issues/95449

[2021-05-15 06:01] OneCricketeer opened #1054 "certificate-authority-data not merged with KUBECONFIG env-var"
**How to reproduce it (as minimally and precisely as possible)**:

`k3d` cluster created on custom network (see my commands [here](https://github.com/kubernetes-sigs/kubefed/issues/1412#issuecomment-840851315))

Default `k3d` kube config uses host network `http://0.0.0.0:<random port>`; `docker ps` shows port forward `0.0.0.0:<random port>->6443/tcp`, and this is reflected in the `kubectl config v

[2021-05-15 15:12] knight42 commented on #980
/remove-lifecycle stale

[2021-05-15 15:16] knight42 commented on #980
@eddiezane kubernetes/kubernetes#90333 only ensure kubectl fail if local source file doesn't exist, but doesn't cover the case that if the source file was in a pod.

[2021-05-15 15:51] OneCricketeer commented on #1054
Found `--server` flag works fine when I **dont** merge the configs

[code]

[2021-05-15 16:27] eddiezane commented on #980
Ah got it - thanks for clarifying!

[2021-05-15 20:53] szpak commented on #576
https://github.com/kubernetes/kubernetes/pull/96087 is slowly going forward...

/remove-lifecycle stale

[2021-05-16 15:27] #997 closed

[2021-05-16 16:05] rikatz commented on #1050
confirmed here, let me take a look into this

[2021-05-16 20:19] rikatz commented on #1044
@ogarcia thanks for the issue.

Can you please show me in which case of backup is this happening? Or how this can be reproduced as a problem? I see the files inside my .kube/cache but couldn't figure out how adding the tag file can solve this.

Thanks

[2021-05-16 20:21] rikatz commented on #1036
@loozhengyuan thank you for the repro!

Yes, I think that maybe we should need to evolve the port-forward.

Let me think here if this might be somehow a breaking change.

Thanks!

[2021-05-16 20:58] rikatz commented on #1036
OK, so explaining here why this might be a hard to change behavior:

When you do a port-forward to a service, it converts the servicePort to the container port [here](https://github.com/kubernetes/kubernetes/blob/v1.21.1/staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go#L160)

This port is passed later [here](https://github.com/kubernetes/kubernetes/blob/v1.21.1/staging/src/k8s.io/kube

[2021-05-17 16:26] ogarcia commented on #1044
:smiling_face_with_three_hearts:

If I use a backup system like [restic](https://restic.net/) and I do a full backip of my system the directory `.kube/cache` is included on it. But several backup systems can check if the file `CACHEDIR.TAG` exists in a folder, and if exist and contains the signature described in my first comment, the contents of the directory are ignored.

Place the file `CACHEDIR

[2021-05-17 19:14] eddiezane commented on #797
Let's track this at https://github.com/kubernetes-sigs/kustomize/issues/1424

/close

[2021-05-17 19:14] #797 closed

[2021-05-18 02:59] m1o1 commented on #891
Maybe this issue is worth reopening? I see "bases" is deprecated, but I'm curious what else I might be missing.

[2021-05-18 14:52] Prakhar-FF13 commented on #1053
M1 Mac - Same Issue - I had 2 services running and my Mac hung up. By hung up I mean I could open things up but they wouldn't close down. I wasn't even able to stop docker desktop. force quit didn't work. I had hard reset the laptop.
Did not try removing ~/.kube folder.

[2021-05-18 16:53] eddiezane commented on #1053
@Prakhar-FF13 what is the output of `file $(which kubectl)`?

Please try clearing the cache folders inside `~/.kube` and see if you can reproduce.

[2021-05-18 17:14] brianpursley commented on #1053
@mcandre Is this still happening?

Can you try `kubectl get service -v9` and post the output?

Does the command eventually finish and your machine eventually recover on its own after a couple of minutes?

[2021-05-19 13:11] jonassteinberg1 opened #1055 "Allow kubectl explain to display 'kind: Config'"
**What would you like to be added**:

I would like `kubectl explain` to explain `kind: Config`.

**Why is this needed**:

- there is no explain resource for `kind: Config`
- although it has no entry in the [current kubernetes-api reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#-strong-config-and-storage-apis-strong-) kubeconfig-as-code should be explainable like eve

[2021-05-19 16:23] eddiezane commented on #982
/remove-lifecycle stale

[2021-05-21 04:49] abhiTamrakar opened #1056 "kubectl delete -n <namespace> with --all causes deletion of all resources in all namespaces without providing --all-namespaces or -A"
**What happened**:
Someone with admin access could accidentally provided --all switch to delete one namespace and it caused cluster-wide deletion of all namespaces and their objects.

`kubectl delete namespace -n <namespace>` with --all causes deletion of all resources in all namespaces without providing --all-namespaces or -A

**What you expected to happen**: Deletion of just one mentioned resour

[2021-05-21 05:18] abhiTamrakar commented on #1056
/sig-cli

[2021-05-21 06:55] AndrewSav commented on #613
/remove-lifecycle stale

[2021-05-21 14:44] verb commented on #1051
/sig cli
/triage accepted

[2021-05-24 03:04] dougsland commented on #943
@rikatz how about the approach above?

@sallyom still working in this issue? Should we ask for contributors in the sig-cli meeting join this effort ?

[2021-05-24 03:38] dougsland commented on #982
Sorry the delay, this week I will get back to this issue.

[2021-05-24 10:04] mikaelkundert commented on #725
I'm running
[code]
...and I can't use this command.

I'm confused, how do I use this? I have no clue yet how I migrate my deployments from `extensions/v1beta1` to `apps/v1`. Amazon EKS update guide [suggested to use this tool](https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html#1-16-prerequisites).

[2021-05-24 23:18] eddiezane commented on #1056
Hi @abhiTamrakar - this is the expected behavior here.

When a namespace is deleted it also [deletes all of the resources in it](https://kubernetes.io/docs/tasks/administer-cluster/namespaces/#deleting-a-namespace). By running `kubectl delete namespace --all` you will be deleting every namespace and all of the resources in them (except for the system namespaces - you should have seen errors that t

[2021-05-24 23:18] #1056 closed

[2021-05-25 02:38] abhiTamrakar commented on #1056
@eddiezane as the conversation is continued on slack https://kubernetes.slack.com/archives/C2GL57FJ4/p1621573084002200
This is definitely a bug, either in documentation of these flags or the way they are currently implemented.

[2021-05-25 02:41] abhiTamrakar commented on #921
This may still be worked, think about the behaviour of `rm -i` command in Linux. By default there is no confirmation, but with `-i`

[2021-05-25 16:39] rayfoss opened #1057 "[FR] Flatpak / Flathub distribution"
**What would you like to be added**:
Flatpak manifest for flathub distribution

**Why is this needed**:
This tool is often used once a year and falls out of sync. Flatpaks are the only relyable way to update in RHEL and and other Linux distros. It's also the main container format used by those who don't like centralized Flathub/Snap Store/App Store style lock-in.

[2021-05-25 21:35] eddiezane commented on #1057
Hi @rayfoss,

Package managers are considered out of scope of the upstream Kubernetes project. We provide binaries and rely on the community to handle distribution via their favorite mechanism.

If you're interested in there being a kubectl flatpak in flathub I'd encourage you to consider submitting one!

https://github.com/flathub/flathub/wiki/App-Submission

Looks like you could use do something

[2021-05-25 21:36] #1057 closed

[2021-05-26 08:46] Sakuralbj opened #1058 "How to use client-go judge Pod Terminating Status."
PodPhase is a label for the condition of a pod at the current time. It contains "Pending" "Running" "Succeeded" "Failed" "Unknown".  How can I get pod which status is Terminating like this with client-go .It seems  that the terminated Pod status is Running .
[code]

[2021-05-26 12:12] #1058 closed

[2021-05-26 16:12] eddiezane commented on #909
/triage accepted

[2021-05-26 16:23] justinmchase commented on #686
Any suggested workarounds? This is still an issue despite this ticket being closed and I'm considering observing the stdout of the port-forward process and then detecting and text such as `Error: No such container` and then killing the process and re-creating it. I sort of hate this idea but I can't see any flags to auto re-create the port forward to a new pod nor can I see any signals from the pr

[2021-05-26 16:29] #1019 closed

[2021-05-26 20:04] #754 closed

[2021-05-26 23:36] xuhdev opened #1059 "`kubectl run pod_name --` <tab> doesn't complete anything other than `--image`"
**What happened**: When I run `kubectl run busybox --<tab>`, it only completes `--image` but not any other options.

**What you expected to happen**: It should also complete other `run` options.

**How to reproduce it (as minimally and precisely as possible)**:

- Enable auto completion by running `source <(kubectl completion bash)`
- Type `kubectl run busybox --`
- Type `<tab>`.

`--image` is aut

[2021-05-27 01:46] lauchokyip commented on #1059
Hi @xuhdev , bash completion is actually done on `cobra.Command` side which can be found [here](https://github.com/kubernetes/kubernetes/blob/46b9ccd0fcc9522342807b16d750b02e34998d64/vendor/github.com/spf13/cobra/bash_completions.go)

Regarding of the error, I think it's expected because the image flag is [required](https://github.com/kubernetes/kubectl/blob/028e3f5db22abf325aee44da5ea246f7cdb78b5

[2021-05-27 02:43] xuhdev commented on #1059
Thanks @lauchokyip , this is really helpful.

[2021-05-27 02:43] #1059 closed

[2021-05-27 04:28] krishnaarava opened #1060 "kubectl autoscale not outputing namespace during client dry-run"
**What happened**:

kubectl autoscale ignores the namespace parameter and creates HPA resource with namespace set to default.

**What you expected to happen**:

Expect to take a parameter for namespace using -n or --namespace and then create a HPA resource for the provided namespace.

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl autoscale Deployment/foo --cpu-percent

[2021-05-27 07:13] xuhdev opened #1061 "Add `--sum` or `--aggregate` to `kubectl top`"
**What would you like to be added**: Support `kubectl top deployment [deployment name]` so that we can see the resource usage of each deployment.

**Why is this needed**: We often want to have an idea of the resource usage of each deployment, not only individual pods or nodes.

The metrics server might not allow a direct query of this info, but `kubectl` performing a local summation of the resourc

[2021-05-27 11:53] azhurbilo commented on #984
/remove-lifecycle stale

[2021-05-27 11:56] azhurbilo commented on #984
/remove-lifecycle rotten

[2021-05-28 05:30] aroundude opened #1062 "Be in trouble to get kubeconfig information from kubectl to custom proxy api"
Currently, I am developing kubernetes api proxy server by golang.
the proxy server is gonna be responsible for my custom authentication.
the flow is as below.

`kubectl -> my proxy api(process authentication) -> kubeapiserver`

and local kubeconfig is as below.
[code]

I wanna **get cluster information and users information such as _context name or user token_**,
and I thought there should be in t

[2021-05-28 09:01] seguri-doodle commented on #1053
I don't know if it's related, if not I'll open a new issue.

On my macOS 10.15.7, `kubectl` 1.21.1 is not freezing my mac but is not responding anymore:
[code]
The iTerm tab title is stuck into `kubectl-oidc_login`.

[2021-05-28 18:21] pssnyder opened #1063 "Cannot add kubectl completion to /etc/bash_completion.d/ No such file or directory"
I'm going through the instructions to enable kubectl bash completion so I can autocomplete my pod names instead of having to type them out all the time however, when I get to the point of adding the kubectl completion scripts to bash_completion.d directory, it turns out I don't have that directory. Raspbian GNU/Linux version 10 (buster) , Bash version is 5.0.3, kubectl version is 1.20.0, _init_com

[2021-05-28 21:13] lauchokyip commented on #1063
Hi @pssnyder , `/etc/bash_completion.d` directory is where you would store your user defined bash completion script. Make sure you create that directory and run `kubectl completion bash >/etc/bash_completion.d/kubectl` again.

[2021-05-29 02:34] pssnyder commented on #1063
Thanks didn't realize that.

[2021-05-29 02:34] #1063 closed

[2021-05-29 03:58] wc-s opened #1064 "`kubectl apply` and `kubectl diff` ignores changing serviceAccountName to null/empty"
**What happened**:
1. used `kubectl apply` on a deployment yaml to deploy a pod with `serviceAccountName: foo`
2. edited the yaml to remove the `serviceAccountName: foo` line
3. now, if I do `kubectl diff` on the yaml, kubectl will act as if there is no diff; if I do a `kubectl apply`, k8s won't apply any change (whereas I'd expect it to revert the serviceAccountName to `default`)

**What you expe

[2021-05-30 09:01] serathius commented on #830
/sig cli

[2021-05-31 13:38] pcgeek86 opened #1065 "PersistentVolumeClaim resources not returned by "kubectl get all --namespace myapp""
**What happened**: When I run the `kubectl get all` command on a specific namespace, `PersistentVolumeClaim` resources are not returned.

**What you expected to happen**: `PersistentVolumeClaim` resources are returned when requesting `all` resources from a namespace.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run `kubectl create namespace pwsh`
1. Apply configuration be

[2021-05-31 13:39] kesor commented on #151
A much faster alternative to using `xargs -n1` would be something like this:

[code]

and if you put that into a file called `kubectl-everything` that has the execute bit and sits somewhere in your path, then you can even do `kubectl everything -n mynamespace` to list all resources in a specific namespace.

[2021-06-01 14:48] umaralam48 opened #1066 "Metadata field of nested objects inside CR getting erased"
**What happened**:
I am writing an operator using operator-sdk. One of my resource has a map of another resource in its spec. The metadata field of the child resource is getting erased from the parent resource object.

**What you expected to happen**:
The metadata field should be present as provided.

**How to reproduce it (as minimally and precisely as possible)**:

Here are the Resource types :

[2021-06-01 14:49] Alexander-Bartosh commented on #454
I know that this is not a lot of people desire, but as a workaround you can have a sidecar (keep-alive sleep ) container running with shareProcessNamespace: true.
Both should share a volume for results that you want to copy out.
Once the tests container completes:
kubectl logs -f -n "$namespace" -c "$podcontainer" "$pod"
exist you can pick up you test results from the share volume using kubectl cp

[2021-06-01 16:19] mcandre opened #1067 "Spinning beachball of death"
**What happened**:

kubectl regularly locks up my Mac.

**What you expected to happen**:

Not that.

**How to reproduce it (as minimally and precisely as possible)**:

Use really any kubectl command, such as `kubectl get namespace`. On my Mac, I can't even run terminal commands in other Terminal.app tabs until the kubectl command terminates. I get a spinning beachball for my mouse cursor. My compu

[2021-06-01 17:07] brianpursley commented on #1067
Possible duplicate of https://github.com/kubernetes/kubectl/issues/1053

@mcandre does it happen always, or just frequently but random?

Also, do you have an M1 Mac?

Anything in system logs during that time?

[2021-06-01 18:06] raelga commented on #1012
/remove-lifecycle stale

[2021-06-01 19:07] pcgeek86 opened #1068 "Kubectl infinitely hangs when deleting an in-use PersistentVolumeClaim"
**What happened**:

This command resulted in an infinitely hung shell. I hit CTRL + C to cancel execution, and tried running it again, which resulted in the same behavior.

[code]

**What you expected to happen**:

I could envision one of two things occurring:

1. An error occurs, indicating that the PVC cannot be removed properly, because it's in-use, or ...
2. The PVC is properly deleted

**How

[2021-06-01 23:52] eddiezane commented on #1068
You can also use the `--grace-period` flag in these cases.

https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/#delete-pods
https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace

[2021-06-01 23:56] eddiezane commented on #1067
Let's track this on the other issue.

@mcandre please respond to open questions there to help us debug.

/close
/triage duplicate

[2021-06-01 23:57] #1067 closed

[2021-06-02 10:39] kofan commented on #1013
/remove-lifecycle stale

[2021-06-02 13:09] kofan commented on #1013
Hey guys, any news/progress on this issue?

[2021-06-02 13:35] soltysh commented on #1036
Given what @rikatz wrote above I'm not convinced we want to be fixing this situation, but rather leave it as is.
I'm going to close this issue, feel free to reopen if you still want to get that fixed and get an agreement from client-go maintainers in sgi-apimachinery.
/close

[2021-06-02 13:35] #1036 closed

[2021-06-03 03:13] lauchokyip commented on #1064
was able to reproduce, will take a look at it.

[2021-06-03 03:13] lauchokyip commented on #1064
/assign

[2021-06-03 03:41] lauchokyip commented on #1060
was able to reproduce, will take a look at this

[2021-06-03 03:41] lauchokyip commented on #1060
/assign

[2021-06-03 16:22] lauchokyip commented on #1060
@krishnaarava , sorry I was not able to reproduce. Can you reconfirm the issue?

Here is my namespace
[code]
and if I do
[code]
`deployment.apps bar` will be created

To make sure it's not created in the `default` namespace,
[code]
Then I applied the command,
[code]
To check if it's in correct namespace
[code]

[2021-06-03 16:27] lauchokyip commented on #1060
/triage needs-information

[2021-06-03 17:23] eddiezane commented on #1048
/triage accepted

[2021-06-03 17:33] krishnaarava commented on #1060
From the contribution document I can see this repo is not being used for the code changes related to kubectl cli. Its being done in the staging repo https://github.com/kubernetes/kubernetes.

I was able to reproduce the issue from that repo and created the fix for the change. Will open a PR to the repo https://github.com/kubernetes/kubernetes

```$ go run cmd/kubectl/kubectl.go autoscale --min=1 -

[2021-06-04 00:52] lauchokyip commented on #1052
will try to tackle this one

[2021-06-04 00:52] lauchokyip commented on #1052
/assign

[2021-06-04 00:53] lauchokyip commented on #1060
Left some comments on the PR

[2021-06-04 01:40] briantopping commented on #524
I would like to see the option of the terminal color scheme (background and foreground colors) changing based on a cluster-scoped object that is read when the context is changed. If the object does not exist, nothing happens, if it does exist, the terminal is changed (maybe only a PS1 that flashed the prompt for instance). This would ensure that the user is reminded when their context is set to a

[2021-06-04 02:18] bitti commented on #151
@kesor Note however that under MacOS one has to add a `-` parameter to `paste` (or install the GNU version of paste), because defaulting to stdin isn't implied in BSD paste.

[2021-06-04 16:56] Rabattkarte opened #1069 "Formatting of `--help` flag is very different across commands (accessibility)"
**What would you like to be added**:

Across different commands, the usage message (`--help` flag) is very badly formatted. I would like to have a consistent interface experience with `kubectl`.

All outputs were generated on a 220 characters wide terminal. For example and visual understanding:

- `kubectl --help` is neatly formatted. As I would expect from a cli tool usage message:

[code]

- `ku

[2021-06-05 15:47] lauchokyip commented on #1060
/remove-triage needs-information

[2021-06-05 15:49] lauchokyip commented on #1060
/triage accepted

[2021-06-05 15:50] lauchokyip commented on #1060
/assign krishnaarava

[2021-06-05 15:50] lauchokyip commented on #1060
/assign @krishnaarava

[2021-06-05 15:52] lauchokyip commented on #1060
/retitle kubectl autoscale not outputing namespace during client dry-run

[2021-06-05 15:54] lauchokyip commented on #1064
getting more info from @eddiezane to see if this is expected

[2021-06-05 20:22] lauchokyip commented on #1065
Hi @pcgeek86 I did some digging and I think this is expected because of how the `PersistentVolumeClaim ` sets up.

when you use `kubectl get all`,  the `all` will get expanded by [this function](https://github.com/kubernetes/kubernetes/blob/f27340ce9034d74d5ead162be47c93e315c76b9f/staging/src/k8s.io/cli-runtime/pkg/resource/builder.go#L597) to multiple resources over [here](https://github.com/kube

[2021-06-05 20:46] serathius commented on #830
/cc @yangjunmyfm192085 @dgrisonnet
Maybe you could take a look into it?

[2021-06-08 09:35] rcoup opened #1070 "debug: ability to disable health check probes on pod copies"
Debugging pods [by creating a copy](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#debugging-using-a-copy-of-the-pod) (specifically changing the container image or the running command) can lead to the pod being restarted via liveness & startup health check failures.

eg: if I have a http service with a `httpGet` liveness probe configured, starting a debug container v

[2021-06-08 10:02] rcoup opened #1071 "debug: ability to replicate volume mounts"
**What would you like to be added**:

When debugging by adding a container to a pod, having the ability to match volume mounts with the target container.

Specifically:
* [Adding a container to a running pod](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container)
* [Copying a pod while adding a new container](https://kubernetes.io/docs/tasks/debug-applic

[2021-06-08 13:02] joebone commented on #926
Looks like #686 has been closed again.

[2021-06-08 13:04] brianpursley commented on #686
/reopen

[2021-06-08 13:06] brianpursley commented on #926
I just reopened it.

[2021-06-08 22:29] eddiezane commented on #984
Let's track this over at https://github.com/kubernetes/website/issues/25944

/close

[2021-06-08 22:29] #984 closed

[2021-06-09 06:49] lauchokyip commented on #1052
@eddiezane , I don't think there will be a clean solution because in order to use the custom column printer it needs to take in a [decoder](https://github.com/kubernetes/kubernetes/blob/7696a48612c1ae7bd1a39dcb0004804cf2ebb6fd/staging/src/k8s.io/kubectl/pkg/cmd/get/customcolumn.go#L72). Right now the `get_context.go` is [hard coded](https://github.com/kubernetes/kubectl/blob/5f7f2be39326e1bc341f01

[2021-06-09 12:56] dgrisonnet commented on #830
I can look into that. This would also align with the issue I opened in k/k kubernetes/kubernetes#102051.

/assign

[2021-06-10 04:08] alexanderturner opened #1072 "enhance cp to allow pvc as destination"
**What would you like to be added**:
Kubectl cp file pcv1:/file

**Why is this needed**:

[2021-06-10 09:05] reegnz commented on #524
Given that this whole output coloring is a generic problem not specific to kubectl only (since columnar data presentation is also present elsewhere) did anyone think about splitting out this problem and solving it for the generic case?

I did a quick PoC on how to colorize any columnar data, but it's still very basic: https://github.com/reegnz/column-bling

Things I'd like to explore with such a t

[2021-06-10 19:03] eddiezane commented on #1070
/cc @verb

[2021-06-11 15:55] nurhun opened #1073 "Create PV and PVC in imperative way"
**What would you like to be added**:
Create PV and PVC in imperative way

**Why is this needed**:
Automating, instead of pulling remote yaml

[2021-06-14 01:03] ZimbiX commented on #704
/remove-lifecycle stale

[2021-06-14 14:08] verb commented on #1070
Thanks for the feedback @rcoup. I agree, and I think this is part of a bigger issue where we need a bit more configurability in `kubectl debug`. I'll add this to the list of issues we're tracking in kubernetes/enhancements#1441.

I think I also agree that your second idea seems like a better default, regardless of the above, but I need to think about it a bit more.

/triage accepted

[2021-06-14 14:14] verb commented on #1071
This fits within the theme of providing a bit more configurability for `kubectl debug`. I'll add it to the list in kubernetes/enhancements#1441 to inform the design.

@rcoup for your use case does accessing the target container's root filesystem via `/proc/$PID/root` work? (assuming linux containers)

[2021-06-14 14:56] rcoup commented on #1071
I get `ls: cannot access '/proc/7/root/': Permission denied`, so I guess I need https://github.com/kubernetes/kubernetes/issues/97103 resolved first? (or add caps to / make my original pod privileged?)

[2021-06-14 14:57] edqallen commented on #1004
Would you care to share what was wrong with your cluster configuration?  I'm having a similar issue here.

[2021-06-14 16:02] lauchokyip commented on #1025
/assign

[2021-06-15 07:37] pacoxu commented on #996
/remove-lifecycle stale

[2021-06-15 13:45] sftim commented on #1069
/sig docs
too

[2021-06-15 13:47] sftim commented on #1055
Aside: the home for KUBECONFIG format documentation would be https://kubernetes.io/docs/reference/config-api/

I'm not expecting `kubectl` to add `explain` support for all these. Maybe `kubectl config explain` might be useful to add though?

[2021-06-15 14:47] cihangirbesiktas opened #1074 "Resources in namespaces with a label match/pattern should be listed"
**What would you like to be added**:
I would like `kubectl get` to have a new parameter (e.g. `--namespace-selector`) to list resources in namespaces with the given namespace label.

For example, `kubectl --namespace-selector type=apps get pods` should get all the pods in namespaces which have the label `type: apps`.

**Why is this needed**:
Namespaces can be grouped based on namespace labels, and

[2021-06-15 16:19] verb commented on #1071
That's interesting. no special capabilities are required when `shareProcessNamespace` is `true`, but otherwise `SYS_PTRACE` is required. I didn't realize that.

Ok, so no, this trick doesn't work for your use case.

[2021-06-15 23:33] KnVerey commented on #1013
It's still on my radar but honestly pretty far down the list. If someone else wants to take it over, please feel welcome to.

[2021-06-16 09:32] mjoshi-sanuk commented on #791
We recently experienced this error when the HTTP PROXY password contained `!` in the string.

The kubectl version was :` Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"darwin/amd64"}`

The server version was: AWS EKS

[2021-06-16 09:36] mjoshi89 commented on #791
We recently experienced this error when the HTTP PROXY password contained ! in the string.

The kubectl version was : Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"darwin/amd64"}

The server version was: AWS EKS 1.1

[2021-06-16 09:37] mjoshi89 commented on #791
/reopen

[2021-06-16 13:22] brianpursley commented on #1013
Related issue...
https://github.com/kubernetes/kubernetes/issues/82296

Looks like it is determined to be a problem server-side.

I wonder if we can close this issue and track with https://github.com/kubernetes/kubernetes/issues/82296?

[2021-06-16 22:13] eddiezane commented on #791
/reopen

@mjoshi89 please tell more about the proxy you're using. Which one? Version? Anything else of note?

[2021-06-16 22:15] eddiezane commented on #791
@mjoshi89 the more you can provide to help us reproduce the better.

[2021-06-16 23:04] KnVerey commented on #1013
Great find @brianpursley ! Although it is not great that they are inconsistent for the time being, if this is considered a error on the server's part, we should not replicate it in the client. Anyone with time to invest in this issue should focus efforts on kubernetes/kubernetes#82296 instead.

/close

[2021-06-16 23:04] #1013 closed

[2021-06-17 01:35] nathanperkins commented on #564
What's the best workaround for this issue? I could use a client library to write it in go but that seems a bit heavy handed.

[2021-06-17 03:21] nikhita commented on #564
@nathanperkins This feature is planned for v1.22 - https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2590-kubectl-subresource

[2021-06-17 13:08] brianpursley commented on #1073
@nurhun As a workaround, you can do things imperatively using `kubectl apply` with a heredoc, like this:

[code]

You could adapt that example for PV and PVC.

[2021-06-18 06:57] m42jbz commented on #704
Same issue here.

[code]

In my opinion the deletion of events should not be shown by default as it obfuscates other current events going on in the cluster when using `--watch`. Event deletions are not interesting to me (as an event) at all.

I imagine something like this:
`kubectl get events  --watch --show-eventdeletions`

It would also help if the deletion of an event was not displayed as the o

[2021-06-19 12:19] crocokyle commented on #725
I also have the same error as @mikaelkundert on `1.21.2`. Here is the verbose output
[code]

[2021-06-19 14:45] #690 closed

[2021-06-22 00:54] xelxebar opened #1076 "'kubectl exec --tty --stdin' "leaking" proccess inside pod when terminated"
## Overview

When stopping a local `kubectl exec` process without explicitly exiting the spawned in-pod process, the latter remains running inside the pod. I am unsure whether the `--tty --stdin` flags are relevant.

## Reproducing

Explicitly, the issue I am seeing is a bash process left over inside the pod after going through a procedure like the following:

1. Launch a bash shell inside some po

[2021-06-22 12:15] asymmetric commented on #524
If you're using the fish shell and [bat](https://github.com/sharkdp/bat), you can define a function like:

[code]

You could also use `yh` mentioned above instead of `bat`, of course.

[2021-06-22 13:33] oliverroer commented on #519
The solution suggested by @woodwardmatt works for me, however, I don't understand why converting a string of JSON to JSON is the solution here. 🤔

[2021-06-22 15:34] jglick commented on #524
or

[code]

[2021-06-23 01:04] lauchokyip commented on #1025
@eddiezane , did some diggings

[2021-06-23 03:14] #943 closed

[2021-06-23 03:41] lauchokyip commented on #1025
Every time we set up a DiscoveryClient, we will have to [set up a new REST client](https://github.com/kubernetes/kubernetes/blob/268cab5f444531d11a63d06872bf850c65f814fe/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L233), therefore we will have to set up the TLS connection again, that's why it's showing errors given the fact that `/dev/fd/63` can only be read once

[2021-06-23 16:14] lauchokyip commented on #1025
https://github.com/kubernetes/kubernetes/pull/97855 , related issue

[2021-06-23 16:33] eddiezane commented on #704
/assign

[2021-06-24 12:31] #890 closed

[2021-06-24 20:34] lauchokyip commented on #1025
@eddiezane , @soltysh , @KnVerey  even doing it with fixed client wouldn't work because it will be copy to [transport config](https://github.com/kubernetes/kubernetes/blob/268cab5f444531d11a63d06872bf850c65f814fe/staging/src/k8s.io/client-go/rest/transport.go#L63) and the client does not have `CAData` to begin with in the first place.

Any thoughts? 🤔

[2021-06-24 21:09] eddiezane commented on #882
/remove-lifecycle stale

[2021-06-24 21:14] eddiezane commented on #519
@oliverroer are you running into this with the latest version of kubectl (1.21.2)?

[2021-06-26 00:41] #882 closed

[2021-06-29 08:35] nagakonduri commented on #454
Looking forward for this feature, please share if this is in consideration.

[2021-06-30 17:07] eddiezane commented on #704
I opened https://github.com/kubernetes/kubernetes/pull/103189 to fix this but we decided not to add resource specific flags to kubectl get.

Efforts will be put towards https://github.com/kubernetes/kubernetes/pull/99557 instead.

[2021-06-30 19:24] geekofalltrades commented on #683
Still an issue:

[code]
[code]

[2021-06-30 22:07] eddiezane commented on #683
You might see a speed up on master now that https://github.com/kubernetes/kubernetes/pull/96087 is merged.

[2021-07-04 20:22] rafaelaazevedo commented on #454
I have been using this workaround, not ideal, but it is working.

[How to get your test reports from a pod – Kubernetes](https://azevedorafaela.com/2019/03/10/how-to-get-your-test-reports-from-a-pod-kubernetes/)

[2021-07-05 13:05] rdxmb commented on #572
/remove-lifecycle stale

[2021-07-05 13:07] rdxmb commented on #572
Are there any plans working on `prune` ?

[2021-07-06 11:01] ChristianCiach commented on #690
/reopen

[2021-07-06 12:07] brianpursley commented on #524
Possibly related, but there appears to be a `Colors` property on `Config.Preferences`
https://github.com/kubernetes/kubernetes/blob/cd83d89ac94c5b61fdd38840098e7223e5af0d34/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go#L58-L60

I can't find anywhere this is actually used though.

[2021-07-06 14:53] brianpursley commented on #669
The problem is that some flags only apply to certain printers. `--show-kind` is only defined by `HumanPrintFlags`:
https://github.com/kubernetes/kubernetes/blob/2a3f28863baa804a05d35c3958a107f9210b4c9e/staging/src/k8s.io/kubectl/pkg/cmd/get/humanreadable_flags.go#L105-L118

`--show-kind` could (should?) probably be elevated to `PrintFlags` like [`NoHeaders`](https://github.com/kubernetes/kubernete

[2021-07-06 17:26] ellistarn opened #1077 "Kubectl should not describe all APIs when executing unrelated calls"
**What would you like to be added**:
Kubectl currently describes all APIs before executing a simple command like `kubectl get pods`. Instead of doing this in all cases, it should only describe APIs when dealing with objects that it does not recognize (e.g. pessimistic vs optimistic describing).

I'm trying to think of why the current behavior could be necessary. The only thing that occurs to me is

[2021-07-06 17:48] ellistarn commented on #1077
It's also not clear to me why the .kube/cache/discovery is not mitigating this latency.

[2021-07-06 17:54] ellistarn commented on #1077
Ah -- I appear to not have write permissions to this. With this resolved, latencies are gone. This seems like an acceptable solution to me :)

[2021-07-06 17:57] shyamjvs commented on #1077
@ellistarn Can you reopen the issue to get an answer for our question on why kubectl needs to make discovery calls for well-known object types?

[2021-07-07 05:44] eddiezane commented on #1077
We log this at `-v 1`. Not sure if exposing that at base level was ever discussed. Might just confuse folks. We also continue on with discovery after a write failure because the API still needs to be walked but we might be able to abort writing to speed up.

The API server is the source of truth. Well-known object types don't really exist to the client. The client needs to talk to past and future

[2021-07-08 13:27] brianpursley commented on #686
Issue has a lot of 👍s and a PR.  Reopening...

/reopen

[2021-07-09 16:16] jakerobb commented on #450
/remove-lifecycle rotten

This is still an issue. A pod should have an easily selectable field with values that map intuitively to the values `kubectl get pods` shows in the Status column: Running, Terminated, ContainerCreating, CrashLoopBackOff, ImagePullBackOff, etc. Ideally, `kubectl` should then have a standard option (preferably not just --field-selector) to let you show only pods with (or wi

[2021-07-12 03:10] #858 closed

[2021-07-12 15:46] willbeason opened #1078 "kubectl apply -k erroneously recommends unsupported "--load-restrictor" flag"
**What happened**:
When using `kubectl apply -k` with the `--load_restrictor` flag, it erroneously suggests using the not-yet-supported `--load-restrictor` flag.

**What you expected to happen**:
`kubectl` should only print that `--load_restrictor` is an unknown flag, not recommend a flag that is not supported either.

**How to reproduce it (as minimally and precisely as possible)**:
Try to use `k

[2021-07-12 17:03] sftim opened #1079 "Publish “kubectl convert” plugin as part of OS packages"
**What would you like to be added**:
per https://github.com/kubernetes/website/pull/28740#issuecomment-878418393:

**Why is this needed**:
When people install `kubectl` using Yum / APT / snap / Chocolatey / `brew` / whatever, they might reasonably expect that `kubectl convert` “just works”.

/sig release

[2021-07-13 14:30] martinohmann commented on #1053
My colleges and I were also experiencing kubectl freezes on MacOS Big Sur and started to dig a little bit. The problem occured both for amd64 and arm64 (M1) Macs, with the M1 freezing much more frequently.

In the end the freezes were not causes by kubectl but the anti-virus that was installed on our corporate laptops (Sophos Endpoint in our case). It was not kubectl freezing but an anti-virus pro

[2021-07-13 15:07] Prakhar-FF13 commented on #1053
I don't really have an anti-virus on my m1 Mac. but it does hang and pattern isn't very clear either.

[2021-07-13 15:09] eddiezane commented on #1053
@martinohmann thanks a ton for the info! Rosetta has been my suspicion. Anything you can share here about tracing the signals for others to confirm please do.

@Prakhar-FF13 did you catch my reply above?

[2021-07-13 15:23] Prakhar-FF13 commented on #1053
Oh sorry, did not catch that one, I was getting frustrated so I uninstalled it. Will update when I reinstall Kubernetes again.

[2021-07-13 19:07] martinohmann commented on #1053
@eddiezane I ended up tailing the MacOS system log (`Applications` -> `Utilities` -> `Console`) while using kubectl and discovered a pattern of anti-virus process crashes which aligned nicely with the freezes. Maybe there are also other applications other than anti-virus' that could be involved in the freezes.

In my case the log entries looked something along the lines of:
[code]

I cannot check

[2021-07-14 01:30] eddiezane commented on #1053
Thanks!

That would make a ton of sense. The cache directory has and writes out a ton of files.

If antivirus is scrambling to index/scan them all....

[code]

[2021-07-14 12:07] abcd-ABCD-1234 opened #1080 "Kubectl for multi-instance application running in a pod"
Hi Members,

I am working with an application that requires running multiple instances of the same application on the same port. Obviously, I am unable to start the other instances when one instance is already running on a port.
I discovered that kubernetes pods are used to share network and memory resources amongst the containers in a single pod. But as I am new to kubernetes, I am not sure how t

[2021-07-14 16:07] VinothChinnadurai commented on #846
@eddiezane I tried the same today `https://github.com/kubernetes/kubectl/issues/846#issuecomment-634932563` but configmap updation not happening as expected

My existing configmap
[code]

I tried like this
[code]

Instead of patching Port name(have to merge this  as an additional containerport under `ports` field) it appears like this(post patch apply)

Result:
[code]
Previous config completely go

[2021-07-14 21:44] #930 closed

[2021-07-15 08:53] Duologic commented on #906
I guess this is a duplicate of https://github.com/kubernetes/kubernetes/issues/39188

[2021-07-15 08:53] #906 closed

[2021-07-16 15:00] abcd-ABCD-1234 opened #1081 "Container in a pod can't get configured to the defined port in the yaml file"
**What happened**: I am running kubectl via minikube, and created a single container in a pod using yaml file. Pod got created and container is in running state too. I configured port 5432 to the container in the yaml file, but the container actually is not running on port 5432.

**What you expected to happen**: Container in a port should run on the port configured in the configuration file.

**Ho

[2021-07-16 17:24] eddiezane commented on #1081
Kubernetes pods are not accessible outside of the cluster without a service to expose them.

Take a look at the minikube tutorial https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-service.

/triage support
/close

[2021-07-16 17:25] #1081 closed

[2021-07-16 17:31] eddiezane commented on #1080
Cheers @abcd-ABCD-1234,

These types of questions are better suited for the [Kubernetes Forum](https://discuss.kubernetes.io/), [Kubernetes Slack](https://slack.k8s.io/), or [Stack Overflow](https://stackoverflow.com/search?q=kubernetes).

Have a run through some of the [Kubernetes tutorials](https://kubernetes.io/docs/tutorials/).

/close

[2021-07-16 17:31] #1080 closed

[2021-07-18 03:13] eddiezane commented on #1079
Package managers are considered out of scope of the project. We provide binaries and rely on the community to handle distribution via their favorite mechanisms.

Anyone looking for advice on getting these changes made can swing by sig-cli on Slack and we might be able to point people in the right direction.

/close

[2021-07-18 03:14] #1079 closed

[2021-07-18 07:36] saryeHaddadi opened #1082 ""kubectl auth can-i" miss documentation for "--as" parameter"
**What would you like to be added**:
- When running`kubectl auth can-i -h`, make mention that the `--as=` parameter is possible.
- When running`kubectl auth can-i -h`, display two examples of the usage of the `--as=` parameter, one for a normal user, and another one for a service account located in a particular namespace.

**Why is this needed**:
- The `--as` parameter is missing in the CLI help d

[2021-07-18 15:06] lauchokyip commented on #1082
`--as` is a global flag that does not just apply to `kubectl auth can-i` that's why you can't find it. Try,
[code]

That being said, if the description needs to be improved, one can find where to change over [here](https://github.com/kubernetes/kubernetes/blob/33aba7ee025dfddcc140d20e9ca353ffd425f1ae/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L288)

[2021-07-19 15:45] eddiezane commented on #1082
There's a pretty detailed explanation of this in the docs https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation.

[2021-07-19 16:13] eddiezane commented on #1082
We can probably add a link to that docs page in the command description or examples.

Something like "This command pairs nicely with impersonation. See https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation."

@chrisnegus want to grab this one?

https://github.com/kubernetes/kubernetes/blob/33aba7ee025dfddcc140d20e9ca353ffd425f1ae/staging/src/k8s.io/kubectl/pkg/

[2021-07-19 17:48] orsenthil commented on #1082
/assign orsenthil

[2021-07-20 05:41] orsenthil commented on #1082
I took the suggestions, and made the code change here - https://github.com/kubernetes/kubernetes/pull/103791

The docs itself has an example of impersonation using `--as` here - https://github.com/kubernetes/website/blob/main/content/en/docs/reference/access-authn-authz/authorization.md#checking-api-access

[2021-07-20 09:49] aojea commented on #686
@brianpursley is this happening to you with containerd (i.e. not using dockershim)?
Since we removed the socat dependencies I think this should not happen ... at least I can't reproduce it

[2021-07-20 14:24] abcd-ABCD-1234 opened #1083 "Can not communicate with a pod from outside a minikube cluster"
I have created a pod in minikube, which has a container running on port 8080. Since we can not access pods from outside the cluster, I used below expose command to expose the IP to the local system.
[code]
Service got created with the pod name mentioned in the yaml file. I can see the service using `kubectl get services`.
To generate the IP, I used the command: "`minikube service my-svc --url`", w

[2021-07-20 15:45] brianpursley commented on #686
I was indeed still using docker.

However, I changed to use containerd now:
[code]

Even using containerd, I do still experience the problem of `kubectl port-forward` getting into a "zombie" state where it has not failed even though the pod was deleted.

Below is my `kubectl port-forward` output where it handled a couple of calls, but then when I deleted the pod, it logged errors but did not fail.

[2021-07-20 16:06] aojea commented on #686
The socat replacement happened in 1.5.x  https://github.com/containerd/containerd/commit/7361cf86217573819ad210891a552060275730a6

[2021-07-20 17:23] saryeHaddadi commented on #1082
Thank you all very much for the explanation and the links, and happy that this issue was found valuble and made its way to the official code.

I have less than a year xp on Kubernetes, if my feedback might interest you as a new K8s user, even though `--as` is a global parameter, all the examples I have seen so far used `--as` paired with`kubectl auth can-i`, so that's why I expected to see at leas

[2021-07-21 01:32] eddiezane commented on #686
Can confirm there's still an issue with containerd v1.5.4.

[code]

I need to have a look at the port forward code.

[2021-07-21 06:26] aojea commented on #686
The curl is going to fail until the pod is restarted and running again, the problem here is the reconnection, have you verified the pod is running when the second curl failed?

[2021-07-21 11:56] tpvasconcelos opened #1084 "Use compression in `cp` command"
**What would you like to be added**:
Apply compression/decompression when using the `cp` command to copy files and directories to and from containers.

The current `cp` command (when used in the context of copying files **from** a container) seems to have similar behavior to
[code]

The feature that I am suggesting is analogous to adding a `z` flag in order to compress/decompress the tarball.
[cod

[2021-07-21 14:26] hi-rustin opened #1085 "kubectl fails to parse parameters correctly when using full width space"
**What happened**:
kubectl fails to parse parameters correctly when using full width space

For example:
[code]

**What you expected to happen**:

Is there any way we can indicate that an invalid space is being used? Or do we it detects the argument that follows and then warns?  Maybe cobra doesn't have such a feature?

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**A

[2021-07-21 14:28] eddiezane commented on #686
Yea the pods are definitely running. If you try to hit it too early you get this immediately instead of the timeout.

[code]

I can also hit the service cluster ip directly while the port forward is timing out.

[code]

[2021-07-21 14:46] hi-rustin commented on #1085
I'm not sure if this is the expected behavior, it looks like it parses the full width space and then discards the arguments that follow.

[2021-07-21 15:11] brianpursley commented on #686
Upgraded containerd to 1.5.2 and kubernetes to 1.22.0-beta and still see same behavior.

The pod is running.  Stopping and restarting the port forward will allow it to work again.

---

I'm not very familiar with how port-forwarding works on the server-side, but I wonder if there is a way for the server to close the connection if the pod terminates.  Then the client can decide what the right cours

[2021-07-21 15:52] justinmchase commented on #686
As someone who is encountering this issue, I can say if you close the connection and then kubectl either reconnects or exits the process at that point, that would totally work fine. I have an app which is basically firing up a number of port forwards all at once and if kubectl just exited I would just run it again after a delay and that would be totally fine. As it is right now, there is just no s

[2021-07-21 16:16] eddiezane commented on #1085
I imagine this is a cobra thing? Can you provide context on why you are using this character?

[2021-07-21 16:20] eddiezane commented on #1084
There is a bunch of history behind this.

Checkout https://github.com/kubernetes/kubernetes/issues/58512 for context.

We just need someone to own creating a KEP to move this to the CRI.

/triage duplicate
/close

[2021-07-21 16:20] #1084 closed

[2021-07-21 16:21] aojea commented on #686
let me try to put a reproducer so all of us test the same thing :smile: , there are many moving parts that can affect this (a loadbalancer in front of the apiserver per example) but we'll figure it out, ideally port-forward should reconnect without having to exit the client, let's aim for that

(I'm testing this with kind:)
1. Create pod `kubectl run test --image=httpd`
2. In one terminal enable p

[2021-07-21 16:33] eddiezane commented on #1078
/assign @brianpursley

[2021-07-21 16:35] eddiezane commented on #1077
/close

[2021-07-21 16:35] #1077 closed

[2021-07-21 16:50] eddiezane commented on #1072
This should be implemented as a plugin. A PV needs to be mounted to write files to it which will introduce all sorts of logistic issues.

/close

[2021-07-21 16:50] #1072 closed

[2021-07-21 16:56] eddiezane commented on #1072
/triage needs-plugin-prototype

[2021-07-21 17:04] rikatz commented on #894
/triage needs-plugin-prototype

[2021-07-21 17:05] rikatz commented on #771
/triage needs-plugin-prototype

[2021-07-21 17:06] rikatz commented on #769
/triage needs-plugin-prototype

[2021-07-21 17:06] rikatz commented on #763
/triage needs-plugin-prototype

[2021-07-21 17:10] rikatz commented on #1074
/assign

[2021-07-21 17:10] rikatz commented on #1074
/triage needs-plugin-prototype

[2021-07-21 17:18] rikatz commented on #1074
@cihangirbesiktas thanks for your issue and idea.

We've discussed this issue during sig-cli bug scrub/triage, and found that while implementing this into kubectl codebase may lead into some performance issues (mainly the recursion over all namespaces and performance loading).

The main "problem" here is that for client side, we should do that recursion over namespaces, while when you proper use "

[2021-07-21 17:18] #1074 closed

[2021-07-21 17:32] justinmchase commented on #686
From that output it looks like its establishing a new connection to the new pod but keeping the old dead one as well and round-robin-ing requests, sometimes to the dead connection and sometimes to the new pod.

[2021-07-22 03:48] eddiezane commented on #1083
Cheers @abcd-ABCD-1234,

Please ask these types of questions on the [Kubernetes Forum](https://discuss.kubernetes.io/), [Kubernetes Slack](https://slack.k8s.io/), or [Stack Overflow](https://stackoverflow.com/search?q=kubernetes).

/close

[2021-07-22 03:48] #1083 closed

[2021-07-22 03:53] eddiezane commented on #1073
We discussed this and agreed that imperative in Kubernetes is an anti pattern that we are trying to move away from. We don't want to add any more generators for `kubectl create`.

/triage unresolved
/close

[2021-07-22 03:53] #1073 closed

[2021-07-22 05:58] Rubix982 opened #1086 "[Enhancement Request] Regex parsing for deleting pods"
**What would you like to be added**:

I would like to eliminate and delete multiple pods all together using regex parsing. For example, if I have the following results from `kubectl get pods`,

[code]

I would like to remove them all together with the following syntax,

[code]

Where the `*` selector works similar to regex.

I could not find a way to only get the names of the results from `kubectl

[2021-07-22 08:22] hi-rustin commented on #1085
Because I use both Chinese and English, sometimes I may accidentally switch to full width when switching input methods.

[2021-07-22 11:22] hi-rustin commented on #1085
We could perhaps use noargs to report errors? That would make it less weird?

[2021-07-23 22:01] eddiezane commented on #1086
Cheers @Rubix982,

I don't think is something we'd want to implement. I could see this introducing a footgun to accidentally delete things.

You could use:

[code]

Or jq which is powerful but more verbose:

[code]

[2021-07-24 07:50] Rubix982 commented on #1086
I think this will work just as fine as well,

[code]

Thanks, @eddiezane! Closing.

[2021-07-24 07:50] #1086 closed

[2021-07-26 01:30] jmcarp opened #1087 "`kubectl diff` exits with code 0 when files don't exist"
**What happened**:

Run `kubectl diff` using a `kustomization.yaml` that refers to files that don't exist.

**What you expected to happen**:

A non-zero exit code is returned.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):

[code]

- OS (e.g: `cat /etc

[2021-07-27 13:18] ampc opened #1088 "Custom columns option breaks when using spaces"
**What happened**:
I was trying to get some custom output and when I inserted a space after comma, it returned an error.

**What you expected to happen**:
Display a syntax error instead of not found error

**How to reproduce it (as minimally and precisely as possible)**:
Error (notice the space after comma and before **DEPLOYMENT2**)
[code]
No space after comma
[code]

**Environment**:
- Kubernete

[2021-07-27 19:08] eddiezane commented on #1076
@dims any thoughts on this one from docker/containerd upstream?

[2021-07-27 20:25] dims commented on #1076
@eddiezane if we can recreate using just containerd, we could file a issue in containerd repository

[2021-07-27 21:34] eddiezane commented on #1088
Cheers @ampc,

This is how most cli's parse arguments.

Because there was a space it took the next string as the arg for the deployment name. Hence the error of `deployments.apps "DEPLOYMENT2:.metadata.name" not found`.

You can avoid this by wrapping the flag value in quotes but it will take the space as the first character of the second column. We could trim that but I'm not sure it buys us much

[2021-07-27 21:35] eddiezane commented on #1087
cc @rikatz

[2021-07-27 21:39] ampc commented on #1088
Hi @eddiezane,

No, there isn't a specific need for this. It was more like something I usually do (adding spaces after commas).

[2021-07-28 17:39] eddiezane commented on #1088
Roger. Going to close this then.

/close

[2021-07-28 17:39] #1088 closed

[2021-07-28 20:58] KnVerey commented on #1033
@lauchokyip great work on the PR! I just realized that it would make a lot of sense to make the same enhancement for `kubectl create secret`. Would you be interested in working on that as well?

[2021-07-28 21:08] lauchokyip commented on #1033
Sure! I will make a PR soon 😊

On Wed, Jul 28, 2021, 16:58 Katrina Verey ***@***.***> wrote:

[2021-07-29 00:54] projx commented on #843
Sorry to drag open an old issue - But you state kubectl will use OS known CA's, is this the case for Windows?

We use SSL decryption on our Firewalls, generally the process is completely transparent, as user's laptops trust our root CA, but when kubectl is used on these same laptop to connect to GKE, the requests fail.

[2021-07-29 14:56] #557 closed

[2021-07-30 23:29] rbavery opened #1089 "can kubectl return an error code when attempting to submit a tfjob but gpus are not available?"
I see "Pod Unschedulable, insufficient nvidia" in the Workloads UI for Google Cloud but there's no error code returned by kubectl. This is what I ran

[code]

[2021-07-31 04:11] eddiezane commented on #1089
@rbavery that sounds like the workload can't be scheduled which kubectl wouldn't return an error for. The cli is responsible for sending the workload to the api server and reports on whether it was received or not.

I'm not familiar with kubeflow but you could try looking at the events of the resource.

[code]

My guess is that it's looking for a worker node labeled for an Nvidia GPU which you pro

[2021-07-31 19:22] #963 closed

[2021-07-31 19:22] #1010 closed

[2021-08-01 02:30] dmitry-mightydevops commented on #929
Same issue in kubectl 1.21

[code]

kubectl version:

[code]

[2021-08-01 14:52] pramodh941 commented on #775
@zhouya0 I faced a similar issue and your solution worked, thanks!
But now I am getting a different error "**error: failed to create secret the server does not allow this method on the requested resource (post secrets)**"
Any idea on this? I used the command "**kubectl create secret generic docker-cfg --from-file ~/.docker/config.json**"

[2021-08-02 13:36] mcandre opened #1090 "Migrate config to use a YAML file extension"
**What would you like to be added**:

Please transition the configuration file `config` to `config.yaml`.

**Why is this needed**:

Lacking a file extension, the `config` path is not able to highlight correctly in many text editors.

**What about comment hints?**

Some users will instinctively reach for the "But you can always use comments to force the parser." In fact, many important Kubernetes i

[2021-08-02 14:16] Michael-Sinz commented on #978
/remove-lifecycle rotten

[2021-08-02 17:13] aaronlidman opened #1091 "Typo on kubectl describe documentation"
https://github.com/kubernetes/kubectl/blob/0f88fc6b598b7e883a391a477215afb080ec7733/pkg/cmd/describe/describe.go#L65

is missing "ds".

It should read `kubectl describe pods -l name=myLabel`.

[2021-08-02 20:40] rikatz commented on #1091
Hi @aaronlidman and thanks for your issue.

Actually the description is right, as "po" is a shorthand for "pods" in kubectl commands.

You can check it with kubectl describe po your-pod-name and kubectl get po your-po-name

I'm closing this issue, but feel free to re-open if still think this is wrong :)

/close

[2021-08-02 20:40] #1091 closed

[2021-08-03 06:32] suryapandian commented on #823
@onesolpark `certificate-authority-data: ** changethispart with base64 decoded cert`

The decoded certificate looks very bizzare.
To decode a certificate I used `openssl x509 -in ca.cert.pem -text`

I could see multiple headings, like: ` Signature Algorithm`, `Data`, `Version` , `Validity`, `Modulus`, `X509v3 Subject Key Identifie`, `X509v3 Authority Key Identifier` which among these should be use

[2021-08-04 16:50] eddiezane commented on #1089
Let me know if that doesn't make sense.

/close

[2021-08-04 16:50] #1089 closed

[2021-08-04 16:52] eddiezane commented on #1090
@dougsland @rikatz what do y'all think about this?

ref: https://github.com/kubernetes/enhancements/issues/2229

[2021-08-04 23:10] eddiezane commented on #1085
I think [`unicode.IsSpace`](https://pkg.go.dev/unicode#IsSpace) is used under the hood which would explain why `\u3000` doesn't register.

I'm not sure `cobra.NoArgs` would help here. Looks like it's used to reject all args for a command?

https://github.com/spf13/cobra/blob/56060d19f88533a20f635116f64aff2065cf260a/args.go#L27-L28

[2021-08-04 23:15] eddiezane commented on #1061
@kubernetes/sig-instrumentation-leads any thoughts on this on a broader scale?

[2021-08-04 23:20] eddiezane commented on #1066
Your server version is a bit out of date. Are you able to reproduce this on a [supported version](https://kubernetes.io/releases/version-skew-policy/)?

We're going to need an easier way to reproduce this. Can you please create a repo with a minimum reproducible example?

[2021-08-05 01:59] #1033 closed

[2021-08-05 03:43] dougsland commented on #1090
From previous experience, this won't fly (see kubernetes/enhancements#2229) . Users can always do a symbol link.

[2021-08-05 07:58] hi-rustin commented on #1085
Yes, I misunderstood and closed it. I'll keep an eye out for strange characters later.

[2021-08-05 07:58] #1085 closed

[2021-08-05 07:58] hi-rustin commented on #1085
Thanks for your help!

[2021-08-05 12:14] tewe opened #1092 "`kubectl config` hides input errors"
I tried to "log out" using `kubectl config unset users.foo.auth-providers.azure.refresh-token`.

**What happened**:

Exit code 0 with the following message, but absolutely no change to the configuration file.

**What you expected to happen**:

Non-zero exit code and an error message. Either because I mistyped `auth-provider` with a plural S or because no user called "foo.auth-providers.azure.refre

[2021-08-05 13:03] tewe opened #1093 "Expose all auth-provider config keys"
`kubectl config unset users.foo.auth-provider.azure.refresh-token` dies with "error: unable to parse one or more field values" because `pkg/cmd/config/navigation_step_parser.go` cannot deal with pointers and `*AuthProviderConfig` is one.

**What would you like to be added**:

Allow `kubectl config` to un/set any field in the YAML, particularly `auth-provider` settings.

**Why is this needed**:

Wh

[2021-08-05 13:07] tewe commented on #1093
#396

[2021-08-05 14:22] dashpole commented on #1061
`kubectl top` already supports  `--selector`, which you can use to filter by pods that belong to a deployment.  Would this essentially be a convenience layer on top of that, or are you looking to show statistics for aggregated metrics that are returned as well (e.g. show the sum of all usage, the average % usage, min/max of pod usage, etc.)?

[2021-08-05 15:40] davidbIQ commented on #151
upvote to fix

[2021-08-05 16:07] antoineco commented on #151
@davidbIQ I'm not a Kubernetes contributor, but this issue is closed and most likely not monitored by anyone.

Is anything stopping you from using the [`kubectl get-all`](https://github.com/kubernetes/kubectl/issues/151#issuecomment-594978672) plugin, as suggested in https://github.com/kubernetes/kubectl/issues/151#issuecomment-594978672? It sounds like a perfect use-case for a plugin to me.

[2021-08-05 17:08] xuhdev commented on #1061
@dashpole That's a good point! `--sum` or `--aggregate` sound like a better idea!

[2021-08-05 17:25] KnVerey opened #1094 "kubectl create secret: Support multiple --from-env-file flags"
**What would you like to be added**: Same as https://github.com/kubernetes/kubectl/issues/1033, but for `kubectl create secret` as well.

**Why is this needed**: These two creation commands both have the flag in question, so it should continue to behave the same way, i.e. it needs to be made repeatable on both.

/assign @lauchokyip
/triage accepted
/sig cli

[2021-08-06 02:42] lauchokyip commented on #1094
Thanks!

[2021-08-06 02:44] lauchokyip commented on #1087
might worth to take a look at this one too https://github.com/kubernetes/kubectl/issues/1064

[2021-08-06 07:48] danmutblix commented on #151
@davidbIQ there are plenty of different answers in this thread, if you can't find a suitable one, then script one for your self.

[2021-08-06 18:55] cr-noamguy commented on #823
Comment it worked!

[2021-08-09 12:37] qgeffard commented on #151
Is there a reason on why the kubectl get-all is not integrated to the native/vanilla kubectl and also documented?

[2021-08-09 14:24] antoineco commented on #151
@qgeffard the short answer is that the "all" special keyword was explicitly removed because it didn't play well with the way `kubectl` interacts with CRD categories.

Long answer, read on:

`kubectl get` has essentially 2 modes:
* `kubectl get <concrete kind>` returns a list of all objects of a given **kind** (e.g. `kubectl get pod`)
* `kubectl get <any word>` is a _fallback_ which returns all obj

[2021-08-09 20:54] tedtramonte commented on #569
Any news from the various SIG meetings to share? This would be a killer improvement I've been hoping to see since 2019.

[2021-08-11 02:29] lauchokyip commented on #1046
/remove-lifecycle stale

[2021-08-11 15:11] eddiezane commented on #1037
/remove-lifecycle rotten

[2021-08-11 15:44] dsonck92 opened #1095 ""kubectl describe <resource>" doesn't take into account the new fields of core.v1/event"
When trying to implement sending Events from a controller, I decided to adhere to the new Event structure from core.v1. This has the notable changes that the `count` value and `lastTimestamp` are now deprecated in favor of `series.count` and `series.lastObservedTime`.

However, when using these fields, when invoking `kubectl describe deployment app1`, only `eventTime` is considered for the `Age` c

[2021-08-11 18:37] eugene-marchanka opened #1096 "autocomplete for `kubectl` version `1.22.0` does not work with `exec -it` option"
**What happened**:
autocomplete for `kubectl` version `1.22.0` does not work with `exec -it` option:
- `kubectl exec -it <tab_to_see_pods>` - does not show `pods`
- `kubectl exec <tab_to_see_pods> -it -- bash` - shows `pods`

**What you expected to happen**:
autocomplete for `kubectl` version `1.21.3` works fine with `exec -it` option:
- `k exec -it <tab_to_see_pods>` - shows pods list

**How to r

[2021-08-12 01:30] lauchokyip commented on #1096
Might be related to this? https://github.com/kubernetes/kubernetes/pull/96087

[2021-08-12 04:24] eddiezane commented on #1096
Thanks for reporting and sorry you ran into this.

As Lau pointed out this was introduced by our migration to Go based completion. We should be able to get this fixed soon.

Tracking updating Cobra here https://github.com/kubernetes/kubernetes/pull/103448.

/triage accepted
/priority backlog

[2021-08-12 15:43] amirschw commented on #517
/remove-lifecycle stale

[2021-08-12 23:28] dsonck92 commented on #1095
Soo, it might be a bit more nuanced. Apparently while implementing the said Event data, I completely missed the fact that there are 3 different types, one from `events.k8s.io/v1beta1`, one from `events.k8s.io/v1` and one from `core/v1`.

`core/v1` seems to include both the fields from `events.k8s.io/v1beta1` and `events.k8s.io/v1` without the `deprecated` renaming from `v1`, however one thing that

[2021-08-13 11:53] Janiaje opened #1097 "Add output option to `kubectl describe`"
**What would you like to be added**:
I think it would help a lot for several people if the `--output` option would be added to the `kubectl describe` commands.

**Why is this needed**:
I wanted to determine the `Last State` statuses for all the running pods (several hundreds) to check if there are anything suspicious.
As far as I know this data is only accessible from running the `kubectl describe

[2021-08-13 13:02] Janiaje commented on #1097
As it turned out the `kubectl get pod` also contains the needed information.
I used the following: (I know it is not the best solution with a lot of overhead but jsonpath was not able to handle the `get pod` version no matther how I tried)
[code]

[2021-08-13 13:02] #1097 closed

[2021-08-13 14:39] lauchokyip commented on #1087
Hi @jmcarp , I tried to reproduce the issue but I was getting an error.

[code]

[2021-08-14 16:43] rikatz commented on #1050
/lifecycle active
/remove-lifecycle stale

[2021-08-15 19:23] OneCricketeer commented on #1054
/remove-lifecycle stale

[2021-08-15 20:15] szpak commented on #576
https://github.com/kubernetes/kubernetes/pull/96087 is merged and https://github.com/kubernetes/kubernetes/pull/92989 is on its way. There is a chance to have it implemented "soon"...

/remove-lifecycle stale

[2021-08-16 06:42] ogarcia commented on #1044
/remove-lifecycle stale

[2021-08-16 14:19] logicalhan commented on #965
/remove-lifecycle rotten

[2021-08-16 14:19] logicalhan commented on #965
/reopen

[2021-08-16 14:20] logicalhan commented on #965
Personally, I would like this feature.

[2021-08-17 03:13] lauchokyip commented on #965
@logicalhan , would it make sense to just implement on `kubectl get --watch` based on this comment (https://github.com/kubernetes/kubectl/issues/965#issuecomment-718070378)??

 I discussed with @eddiezane , we actually have some questions.
1) For normal user, there is no obvious way to get RV from `kubectl` so what value would the user has to put to make it useful?
2) If we implement the RV outsid

[2021-08-18 03:52] lauchokyip commented on #1069
Not sure why the format was decided as such, but I managed to dig into the source code and found where the cause is. If any changes is needed, just follow this guide 😄
[Here](https://github.com/kubernetes/kubernetes/blob/f805f5588beb1ee1057a678a61ecc1cadf736000/staging/src/k8s.io/kubectl/pkg/cmd/cmd.go#L382) is where the main template function will be called , which will then lead to creating the

[2021-08-18 16:10] eddiezane commented on #1095
/triage accepted
/help

This is potentially a good first issue but we'll need to document the work needed.

[2021-08-18 16:12] lauchokyip commented on #1095
@rikatz , you wanna take a look at this one?

[2021-08-18 16:13] eddiezane commented on #1093
/triage accepted
/help

We need to take a look if these types are pulled in by config as a start.

[2021-08-18 16:13] lauchokyip commented on #1095
@eddiezane , @rikatz  is looking for some good-first-issues to mentor other people so I am looking out for him

[2021-08-18 16:14] eddiezane commented on #1092
Let's track this in #1093. Should be the same fix.

/close

[2021-08-18 16:14] #1092 closed

[2021-08-18 16:16] soltysh commented on #1090
Based on what @dougsland pointed out this won't be easy nor accepted.
/close

[2021-08-18 16:16] #1090 closed

[2021-08-18 16:19] soltysh commented on #1087
/triage accepted

[2021-08-18 16:21] soltysh commented on #1078
/triage accepted

[2021-08-18 16:25] soltysh commented on #1076
The problem itself is beyond kubectl itself. I'm suggesting to investigate this and open the issue with appropriate container engine. kubectl relies heavily on that behavior for this one.

/close

[2021-08-18 16:25] #1076 closed

[2021-08-18 16:26] soltysh commented on #1071
/assign @verb
/triage accepted

[2021-08-18 16:28] soltysh commented on #1069
/triage accepted
@lauchokyip or @Rabattkarte wanna open a PR fixing this, I'm happy to get that merged.

[2021-08-18 16:30] lauchokyip commented on #1069
/assign

[2021-08-18 16:32] soltysh commented on #1066
`kubectl describe` isn't fully functional against CRDs, it's currently a best effort trying to print the resource. There's a plan to support a mechanism similar to server-side printing which is being used when you invoke `kubectl get` against your CRD.

/triage accept
/kind feature

[2021-08-18 16:44] eddiezane commented on #1065
`kubectl get all` is a bit of a legacy thing and is defined by a server side list.

Take a look at https://github.com/kubernetes/kubectl/issues/151 for some alternatives.

/close

[2021-08-18 16:44] #1065 closed

[2021-08-18 16:52] soltysh commented on #1064
I'd expect `kubectl diff` to print that removed line as the OA pointed out.
/triage accept

[2021-08-18 16:54] eddiezane commented on #1062
We don't send this information over a request - those are just arbitrary local names.

You could use https://pkg.go.dev/k8s.io/client-go/tools/clientcmd to read the users config and act from that.

/close

[2021-08-18 16:54] #1062 closed

[2021-08-18 16:56] eddiezane commented on #1061
/triage accepted
/help
/retitle Add `--sum` or `--aggregate` to `kubectl top`

Thank you! We would accept a PR with David's suggestions.

[2021-08-18 21:45] tewe commented on #1092
Note that this can be reproduced even when `auth-providers` is misspelled, so a fix just for #1093 would not help. But of course when that code is touched it makes sense to fix both things.

[2021-08-18 23:33] eddiezane commented on #1068
Let us know if that doesn't help.

/close

[2021-08-18 23:33] #1068 closed

[2021-08-19 08:04] soltysh commented on #1082
/triage accept

[2021-08-19 08:15] soltysh commented on #1066
See https://github.com/kubernetes/enhancements/issues/515 for details.
I'm going to close this one, please leave your comments in that other issue tracking that work.
/close

[2021-08-19 08:15] #1066 closed

[2021-08-19 09:51] #1082 closed

[2021-08-19 09:51] #1078 closed

[2021-08-19 13:55] #1096 closed

[2021-08-19 13:59] mbrancato commented on #981
Reopening this. The other discussion went nowhere.

To maybe make it more clear, comparing the deployed state and a local manifest should not be relying on write or patch permissions to a cluster. And I think that is where the misunderstanding is. At a minimum, the `diff` should fallback to a client-side comparison.

The same issue of `kubectl diff` using `PATCH` on the server (even with `--server

[2021-08-19 14:38] mrjester888 commented on #613
/remove-lifecycle stale

[2021-08-19 18:05] harjas27 commented on #1095
Hi, I would like to work on this issue. I looked into the code and it seems like this is where the issue lies:
https://github.com/kubernetes/kubectl/blob/864f10512dd6931254e8af5a7f0b95de7bdfa8f7/pkg/describe/describe.go#L4144
there would be an update to use the newer fields `EventSeries.Count` and `EventSeries.LastObservedTime`

[2021-08-19 18:08] eddiezane commented on #1095
/assign @harjas27

Thanks! Let us know if you need help and take me on the PR please.

[2021-08-19 21:44] maxweiss-74656 commented on #598
I am noticing this behavior with daemonsets and -o yaml as well on 1.20.9

[2021-08-20 10:55] lauchokyip commented on #1070
/assign verb

[2021-08-23 05:48] RinkiyaKeDad commented on #1087
/assign

[2021-08-23 20:59] lauchokyip commented on #1064
@soltysh , @eddiezane , I think this is expected, the issues still lied on what we discussed (service account token is mounted into a pod, so even changing the `serviceAccount` will not have effect on the API server.)

When we run `kubectl diff -f [foo.yaml]`, it's basically doing what `kubectl apply -f` will do,
Created a **merged** object and compare it with **live** object,

Here is an example

[2021-08-24 08:31] RinkiyaKeDad commented on #1087
Hey @jmcarp, I tried but wasn't able to reproduce this issue. Could you please confirm if I followed the correct steps?

1. `kustomization.yaml`:
[code]

2. `k diff --kustomize .`

This gives me the following error as expected:

[code]

It even shows a non-zero exit code of `2` when I run `echo $?`.

[2021-08-24 15:19] hamid-elaosta opened #1098 "run commands don't return when using kubectl 1.22.x"
**What happened**:

Kubectl run command using 1.22.x kubectl versions does not return the user to the shell after the pod completes.

**What you expected to happen**:
Pod should exit and user should be returned to the prompt as expected.

**How to reproduce it (as minimally and precisely as possible)**:
Tested using the following server versions;
[code]
and
[code]
Run the following command;
[code]

[2021-08-24 15:27] #1094 closed

[2021-08-25 18:05] leobellaera opened #1099 "Support length in JSONPath"
**What happened**: I run the following cmd `kubectl get crd --selector="svcat=true" -o=jsonpath='{.items[0].spec.names.categories.length()`

**What you expected to happen**: I expected the command to return the length of the categories list, as JSONPath has [length function defined](https://github.com/json-path/JsonPath#functions)

**Environment**:
- Kubernetes client and server versions (use `kub

[2021-08-25 21:51] amjcurtis opened #1100 "Typo in kubectl describe documentation"
https://github.com/kubernetes/kubectl/blob/0f88fc6b598b7e883a391a477215afb080ec7733/pkg/cmd/describe/describe.go#L68

`in the pod the name).` should read `in the name of the pod).`

[2021-08-28 03:54] rikatz commented on #928
/lifecycle active
/assign

Let me try to take a look :)

[2021-08-29 18:07] gtfortytwo commented on #564
Since it appears this did not make it into v1.22 , do you have any idea of an updated timeline, @nikhita ? Our use case is similar to that mentioned by @florianrusch .

[2021-08-30 02:23] jaehnri commented on #1055
/assign
I wanna help on this

[2021-08-30 20:46] ckittel opened #1101 "Converting from usage of kubectl run --limits to --overrides not clear"
**What happened**: `kubectl run --limits` produces deprecation warning, but alternative doesn't seem to be working either.

This was introduced in kubernetes/kubernetes#99732

**What you expected to happen**: `kubectl run --limits` claims to not work, but it actually does still.  But using `--overrides` doesn't seem to behave the way I'd expect it either.

**How to reproduce it (as minimally and p

[2021-08-31 06:44] backtrackshubham opened #1102 "Kubectl version command enhancement"
**What would you like to be added**:
- Command `kubectl version` shall only return version information rather it also tries to access cluster, which is not expected
- **Current Behaviour**
[code]
- **Expected behaviour**
[code]

**Why is this needed**:
- Upon running the above command even though by semantics the command got successfully executed but the shell output variable `$?` is getting a non

[2021-08-31 11:59] jaehnri commented on #1102
If this issue gets the `triage/accepted` label, I would like to give it a try.
Thanks!

[2021-08-31 12:37] curusarn commented on #1023
There is an open PR for this that was accepted. I'm not an expert on issue lifecycle but it doesn't seem right to close the issue in this case.

/remove-lifecycle rotten

[2021-08-31 23:37] KnVerey commented on #1095
A clarification on the background here: there are 3 version of Event. The original is `core/v1`, and the latest is `events.k8s.io/v1` (which also has a corresponding beta). Since the original is used as the storage version / for backwards compatibility, it was enhanced with many of the new fields as well. The related KEP is tracked here: https://github.com/kubernetes/enhancements/issues/383. It in

[2021-08-31 23:46] dsonck92 commented on #1095
That table (and info in general) would have been so useful while I was playing about with doing the event generation. I was pretty confused about the state events were in which cost a few hours.

From some personal experience, (and briefly going through the info), it seems like Series should be used if available, and the old fields as fallback since a lot of kubernetes internal controllers still u

[2021-09-01 08:58] shanmukha511 opened #1103 "kubectl cp fails with Error unexpected EOF"
**What happened**:
**Copying either a large file, or a large directory from one pod to other pod via kubectl cp results in the error of
Error: unexpected EOF and a failure to transfer.**

**What you expected to happen**:

The file has to be copied successfully from one pod to other pod successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Copy some large files between p

[2021-09-01 18:54] fghso commented on #598
Same here with 1.20.7:
- With **-o yaml**, I got the same version number regardless which revision I was checking.
- Without **-o yaml**, I got the correct version number corresponding to the revision I was checking.

[2021-09-01 20:55] eddiezane commented on #1103
Cheers @shanmukha511,

Your kubectl version is out of support for your cluster version.

Please update your client and provide more information for us to reproduce if you still encounter this.

/triage needs-information

[2021-09-01 21:01] eddiezane commented on #1102
As João pointed out this is the expected behavior. If you're looking for just the client version please pass the flag.

/close

[2021-09-01 21:01] #1102 closed

[2021-09-01 23:00] eddiezane commented on #1101
Cheers @ckittel,

Apologies for the issues you've run into.

I'm not sure about the messaging in those deprecated flags but I will find out. The implementation has indeed not been removed yet.

The issue you're running into with your overrides appears to be that [JSON Merge Patch (RFC 7396)](https://datatracker.ietf.org/doc/html/rfc7396) (I just read it for the first time and could be wrong) doesn

[2021-09-01 23:13] eddiezane commented on #1055
This has been on my bucket list. I'm not sure what type that docs links is using.

The closest we have to kubeconfig documentation is https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go.

This might also be a duplicate issue.

[2021-09-02 02:54] weixiao619 commented on #598
/reopen

[2021-09-02 04:54] shanmukha511 commented on #1103
Hi @eddiezane,

my server version 1.18 and i used kubectl version earlier 1.17,1.18 and 1.19 as well to ensure new updated versions has fix for that issue but nothing helped much before version. So updated to 1.21.
None of kubectl version (1.18,1.19,1.20) not fixing the issue.
If u want i can revert backup to older version kubectl but i doesnt help much.

[2021-09-02 07:50] waynesi commented on #598
/reopen

[2021-09-02 07:51] waynesi commented on #598
Issue reopened as it seems (finally) gathering some interest from other people.

[2021-09-02 09:15] MoBoo opened #1104 "kubectl explain <resource>: show valid mappings for fields of type map[string]string"
**What would you like to be added**:
Add a list of possible resource keywords to the `kubectl explain` output for fields of type `map[string]string` to give an overview of possible mapping options.
This could look something like the existing `FIELDS:` section and would also be beneficial for the official documentation.
For example:
`kubectl explain pv.spec.capacity` would also show a list of possi

[2021-09-02 12:17] rikatz commented on #1055
huum, so about "kubectl config explain" vs "kubectl explain config", and this is my personal opinion, I think this may lead to undesired confusions, like the commands that have "-v/--version/-V" to define version vs verbosity :)

OTOH, from a CKA/CKAD test perspective, for example, sometimes it's hard to understand and create kubeconfig files.

Maybe the same logic of explain printer can be used,

[2021-09-02 14:43] #1100 closed

[2021-09-02 17:31] psmorandi opened #1105 "Install kubectl via the new winget package manager"
**What would you like to be added**:
Possibility to install kubectl with the new package manager for windows (winget).

**Why is this needed**:
It's easier to use then other package managers and also soon it will available by default in windows machines.

[2021-09-02 17:40] eddiezane commented on #1105
Cheers @psmorandi,

Please see https://github.com/kubernetes/kubectl/issues/968#issuecomment-725604167.

/triage duplicate
/close

[2021-09-02 17:40] #1105 closed

[2021-09-02 18:24] eddiezane commented on #1103
I am not able to reproduce this and suspect it might be an environment issue. I was able to copy a 10gb file back and forth a few times without issue.

What else can you share to help us reproduce?

[2021-09-02 19:09] jutley opened #1106 "`kubectl config set-credentials` should support impersonations fields"
**What would you like to be added**:
The `AuthInfo` struct contains fields `Impersonate`, `ImpersonateGroups`, and `ImpersonateUserExtra`, which are defined in YAML with the fields `as`, `asGroups`, and `asUserExtra` (not sure on the casing). The `kubectl config set-credentials` should allow us to set these fields, as it allows for every other field.

**Why is this needed**:
Most, if not all other

[2021-09-03 04:32] shanmukha511 commented on #1103
Hi @eddiezane,

Even we can copy 100's GB data between pods most time but there are some times were we get into issue.The error intermittent.
Is ther any way from kubectl that we can resume copy where it had got stopped?

[2021-09-03 19:56] ckittel commented on #1101
Thanks for the added context.  I'll see if I can join the meeting next week to talk about our use case. I fully recognize the desire to minimize utility of things like imparative commands like.  We leverage this feature to give our learners "proof of implementation" style tests. E.g. To show that your Network Policies are in place, spin up a one-time shell in this namespace and then execute $comma

[2021-09-08 03:41] silentred commented on #564
@nikhita waiting for this feature +1

[2021-09-08 05:01] AlekSi commented on #564
https://github.com/ulucinar/kubectl-edit-status plugin can be used in the meantime.

[2021-09-08 10:34] palnabarun commented on #517
Is this issue still relevant for the supported Kubernetes versions (v1.20-v1.22)?

[2021-09-08 10:35] palnabarun commented on #450
/assign @RinkiyaKeDad

[2021-09-08 15:47] fxdgear opened #1107 "kubectl create job --image can't create job from private image"
tl;dr I want to run a 1 off job from a cronjob or an image that allows me to override the command (specifically a parameter in the command specified in the cronjob)

the two ways to create a job are

1. from an image using the `--image` flag but this doesn't allow for using private images.
2. from a cronjob using the `--from` flag but this doesn't allow for overriding the command.

I can see that

[2021-09-09 14:27] eddiezane commented on #1101
Followup from the call yesterday.

We will remove the functionality so the flag message matches the behavior for 1.23. The flags will be removed in 1.24

/assign @eddiezane

We will try and add support for 6902 patches while maintaining backwards compatibility. Perhaps a new flag that specifies the patch type.

/assign @brianpursley

[2021-09-09 15:15] dimitriosstander commented on #791
/reopen

[2021-09-09 16:19] fxdgear commented on #1107
as a workaround I realized I could add an `imagePullSecret` to the `default` `serviceAccount` in my namespace. Since the image pull secret exists in the namespace already, this is a viable workaround for me, but ideally we should be able to specify.

[2021-09-09 16:47] fxdgear commented on #1107
ok while that's working to run the image, I still need to be able to pass env vars into it :/

the same env vars that are defined in the cronjob.

maybe at this point, the "best" solution would be to "create job --from=cronjob" but allow for overriding the command?

[2021-09-10 00:31] tksm commented on #1051
/close

Closing in favor of [Debugging Profiles](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#debugging-profiles) (https://github.com/kubernetes/enhancements/pull/2834).

[2021-09-10 00:31] #1051 closed

[2021-09-10 11:38] knight42 opened #1108 "kubectl debug: allow users to specify debugging profile"
This is the tracking issue for the implementation of `debugging profile` feature of `kubectl debug`.
Ref: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#debugging-profiles

There are multiple profiles that we need to handle, and I plan to file a single PR for each profile:
* [ ] general
* [ ] baseline
* [ ] restricted
* [ ] auto
* [ ] sysadmin
* [ ] netadmin

[2021-09-10 11:39] knight42 commented on #1108
@verb I am not certain about what `isolated namespaces` and `private namespaces` actually means, could you please elaborate more on them? What is the difference between them?

[2021-09-10 13:33] verb commented on #1108
/triage accepted
/cc verb

@knight42 I like that you're planning on implementing the profiles incrementally. iirc the namespaces are referring to [shareProcessNamespace](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#hosts-namespaces).

[2021-09-11 18:39] fox-md opened #1109 "client-go credential plugins ignores 'expirationTimestamp' field"
**What happened**:
As per https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins it is possible to use external app to retrieve token from a webservice and use to authenticate against kube-api.
Also from guide:
[code]
I am sending below response to kubectl using go app.
[code]
Despite of the fact that **expirationTimestamp** field exists in status resp

[2021-09-13 21:34] #1095 closed

[2021-09-14 16:41] lauchokyip commented on #1048
/remove-lifecycle stale

[2021-09-14 22:28] eddiezane commented on #1098
Thanks for the great issue report.

I can reproduce this. We'll get it triaged tomorrow.

[2021-09-15 10:40] qixiaobo opened #1110 "Kubectl describe nodes with Multi containers may display error quota"
**What happened**:
When I use kubectl to describe nodes
It may display error quota like below
![image](https://user-images.githubusercontent.com/2881751/133418107-6984b398-8122-46bd-b0d8-a5d321bdc69e.png)
![image](https://user-images.githubusercontent.com/2881751/133418220-d95cc904-c956-44b9-ba53-40c16c79adba.png)
In fact ,I never  make a cpu limit and request.
![image](https://user-images.githubu

[2021-09-15 10:40] qixiaobo commented on #1110
https://github.com/kubernetes/kubectl/blob/652881798563c00c1895ded6ced819030bfaa4d7/pkg/util/resource/resource.go#L34

[2021-09-15 11:13] jbraidju commented on #499
k get pods [some-valid-prefix]<tab> works, but k get pods/[some-valid-prefix]<tab> doesn't, even with multiple <tab>s

[2021-09-15 12:39] raelga commented on #1012
/remove-lifecycle stale

[2021-09-15 12:42] rikatz commented on #1012
Hey @raelga  👋  long time no see :D

Do you want helping me on this? I was going to write a KEP, but bandwidth is pretty hard here. Did some experiments over this, and discussed with @eddiezane on past about having some "language generator" where we have some "indexed texts" and each "translation team" could change only that translation when a new command was created, etc :D

[2021-09-15 16:11] eddiezane commented on #1098
/triage accepted
/priority important-soon

[2021-09-15 16:17] eddiezane commented on #1110
/triage accepted
/priority backlog

[2021-09-15 16:19] eddiezane commented on #1110
We are potentially only looking at init containers here.

[2021-09-15 16:20] eddiezane commented on #1110
@qixiaobo can you please provide a simple manifest to reproduce this?

[2021-09-15 16:24] eddiezane commented on #1109
@fox-md the token is cached for a single kubectl execution - it will be used for all the API requests under that run, for api discovery, etc.

We do not cache those tokens beyond a single invocation of kubectl.

Does that make sense?

[2021-09-15 16:57] eddiezane commented on #1054
/triage accepted
/priority backlog
/help

I think this may be a computed value that we're missing out on.

[2021-09-15 17:02] #1103 closed

[2021-09-15 17:03] eddiezane commented on #1099
After discussing we recommend you use jq here. It will have much more features than are basic jsonpath implementation.

/close

[2021-09-15 17:03] #1099 closed

[2021-09-15 17:07] eddiezane commented on #1055
The reason the type cannot be explained is because it's not part of the cluster OpenAPI because it's not a part of the actual Kubernetes API (meaning it can't be created/read/etc as a resource in your cluster).

We should get the [Go type](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go) added to the documentation though. Maybe @sftim

[2021-09-15 18:32] lauchokyip commented on #1110
@qixiaobo  When quantity is 0, we can add the value to it. This is what is being done in `kubectl top`

[It first create the resource as 0 and then add the current value to it](https://github.com/kubernetes/kubectl/blob/159a770147fb28337c6807abb1b2b9db843d0aff/pkg/metricsutil/metrics_printer.go#L256-L266)

[code]

[2021-09-15 19:25] sftim commented on #1055
The page where we document this kind of non-API format is https://kubernetes.io/docs/reference/config-api/

The tools we use for that are in https://github.com/kubernetes-sigs/reference-docs/

[2021-09-15 19:25] sftim commented on #1055
I won't have time to help out with this myself for some time though: I'd need to learn a bunch of tech I'm not yet familiar with.

[2021-09-15 22:15] KnVerey commented on #1054
The docs aren't very clear on this, but it seems to me that the lack of merging fields within an entry (i.e. subfields of a cluster, context or user) is intentional. There's [a comment](https://github.com/kubernetes/client-go/blob/7e5e2e07433cde15c694f9e23254d7839a333838/tools/clientcmd/loader.go#L161-L173) in the code that explains this behavior, including this example:

There may be a security r

[2021-09-15 22:16] #1054 closed

[2021-09-15 22:28] OneCricketeer commented on #1054
@KnVerey Okay, so do you have a suggested alternative for injecting the correct CA data to the necessary client locations if kubeconfig cannot be used?

[2021-09-15 22:44] eddiezane commented on #1107
We discussed this and using a cronjob as a cli templating engine (via overrides) isn't something we want to support.

re: flags for `imagePullSecret` we're really trying to avoid adding more flags to commands. Structured data is hard to represent via cli flags and arguments without adding to maintainer burden. The declarative approach is often better than the imperative.

You could possibly use a

[2021-09-15 22:44] #1107 closed

[2021-09-15 22:49] eddiezane commented on #1106
There is a `kube config set users.my-user.act-as admin` (you'd use the [json value](https://github.com/kubernetes/kubernetes/blob/1c1d2e4edca391805db4a944c93d611081d9145e/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go#L126)) command but that unfortunately would not work with slices or maps.

https://github.com/kubernetes/kubernetes/blob/8975906dfc87732e063bb30e36b181a031988a52/staging/s

[2021-09-15 22:51] KnVerey commented on #1054
The `--server` flag you discovered seems like a fine approach for kubectl. If this kubeconfig is something you would otherwise use from multiple tools, perhaps create a copy that contains the complete, correct cluster entry the loader is looking for. E.g. `kubectl config set` could help script the change.

[2021-09-15 23:30] jutley commented on #1106
Is there any documentation on how to use `kubectl config set`? I can't find any, and am trying to use it to construct my config from scratch. I can't seem to set any `exec` values for my user.

[code]

[2021-09-16 01:17] qixiaobo commented on #1110
Yeah , your are right.
So it makes a mistake.
But maybe  this case 0 indicates unlimited.
So when  unlimited plus any value maybe also unlimited in limit

[2021-09-16 01:22] lauchokyip commented on #1110
@qixiaobo , can you provide a way to reproduce the error as @eddiezane suggested? That would really help us to fix this issue. Thank You.

[2021-09-16 05:05] qixiaobo commented on #1110
I will try to make a repo later

[2021-09-16 08:32] wujiangfa-xlauncher opened #1111 "When the node is abnormal, the output format of the Top node is incorrect"
**What happened**:
![image](https://user-images.githubusercontent.com/53930349/133578619-0704113b-198a-4e13-a7ea-a4ebfc94a07f.png)

**What you expected to happen**:
![image](https://user-images.githubusercontent.com/53930349/133578703-f382e3a8-f0f2-412a-9626-eb33a0dd57c7.png)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2021-09-16 10:14] fox-md commented on #1109
Hi @eddiezane,

Thank you for your answer. I understood caching in a bit different way. Now it is more clear what happens "under the hood".

[2021-09-16 10:14] #1109 closed

[2021-09-16 11:49] luisyonaldo opened #1521 "kubectl config set-credentials add`interactive-mode` and `provide-cluster-info` options"
#### What would you like to be added:
Add `--exec-interactive-mode` and  `--exec-provide-cluster-info` to `kubectl config set-crendtials` command.

Example:
[code]

#### Why is this needed:
`interactiveMode` is a required field in`client.authentication.k8s.io/v1` API version , which means it is not possible to set the minimum set of fields/options needed to [configure](https://kubernetes.io/docs/r

[2021-09-16 13:33] qixiaobo commented on #1110
https://github.com/qixiaobo/k8s-quota-test/blob/main/myapp.yaml
You may apply -f
Then you can  invoke

[code]

[2021-09-16 13:34] qixiaobo commented on #1110
![image](https://user-images.githubusercontent.com/2881751/133621640-d9e15425-2ebe-4011-abcc-c870404b1952.png)

[2021-09-16 13:36] qixiaobo commented on #1110
You can see not set myapp container cpu limit or request
Just set init container,I don't think not set may be treated as zero to make a plus

[2021-09-16 15:08] soltysh commented on #1104
This was discussed in length during yesterday's sig-cli bug scrub (you can watch it here: https://youtu.be/P-e2jzsc1FE) and we've agreed that we can reliably present the information about keys in the map in this particular case. In this particular case you're describing the type definition looks [[like so](https://github.com/kubernetes/kubernetes/blob/a48a2efbd45ad77901dd09f2665d8cc1e1d8dbf6/stagi

[2021-09-16 15:09] #1104 closed

[2021-09-16 15:17] lauchokyip commented on #1111
kubectl is using a built in [`tabwriter`](https://github.com/kubernetes/kubectl/blob/159a770147fb28337c6807abb1b2b9db843d0aff/pkg/metricsutil/metrics_printer.go#L167) to output the value.

I was able to reproduce the error, will take a look
[code]

/triage accepted

[2021-09-16 15:35] lauchokyip commented on #1111
@wujiangfa-xlauncher , I saw the PR you opened https://github.com/kubernetes/kubectl/pull/1114, do you want to open the PR in the main repo https://github.com/kubernetes/kubernetes so we can get that merged?

[2021-09-16 15:36] lauchokyip commented on #1111
/assign @wujiangfa-xlauncher

[2021-09-16 17:08] jonassteinberg1 opened #1115 "failed label selector should not return code 0"
**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
run the first command above and give bogus key and value for label selector
then `echo $?`

[2021-09-16 17:11] jonassteinberg1 commented on #1115
For the record maybe this is how this should work.  I was trying to script something like:

`kubectl -n istio-system get po -l 'gate in (publics)' || fail action`

but now that I look closer..._maybe_ incorrect tags is not the same thing as a failure.  We'll see.

[2021-09-16 17:41] harjas27 commented on #1110
The output show for the `describe node` command reflects the quotas used for  scheduling the pod on the node, with the logic: https://github.com/kubernetes/kubernetes/blob/a48a2efbd45ad77901dd09f2665d8cc1e1d8dbf6/staging/src/k8s.io/api/core/v1/types.go#L2977-L2980
[code]
this is taken care by this code:
https://github.com/kubernetes/kubectl/blob/652881798563c00c1895ded6ced819030bfaa4d7/pkg/util/re

[2021-09-16 18:19] lauchokyip commented on #1115
Hi @jonassteinberg1 , you are right, I think `resource no found ` is not considered an error by kubectl
https://github.com/kubernetes/kubectl/blob/159a770147fb28337c6807abb1b2b9db843d0aff/pkg/cmd/get/get.go#L593-L600

[2021-09-16 20:42] eddiezane commented on #1115
There's a KEP for refactoring the exit codes.

@rikatz how do you want to track all these?

https://github.com/kubernetes/enhancements/pull/2574

[2021-09-16 22:41] eddiezane commented on #1106
It definitely needs a bit of work 😅. If you're building kubeconfigs you'll have a much better time using [clientcmd](https://pkg.go.dev/k8s.io/client-go@v0.22.1/tools/clientcmd).

[code]

[2021-09-17 08:29] MadhavJivrajani commented on #1087
+1
I'm unable to reproduce it as well. My current config is:
[code]
@jmcarp any more information that you can provide that can help reproduce this?

[2021-09-17 08:49] guillenotfound commented on #890
Any updates?

[2021-09-17 23:46] qixiaobo commented on #1110
Yeah  , so it may cause misunderstanding

[2021-09-18 09:47] SecLoop commented on #874
mac version

[code]

docker version
[code]
kubectl version
[code]

[2021-09-19 20:53] marckhouzam opened #1116 "__complete and help commands can be shadowed by plugin"
**What happened**:

A plugin can shadow the commands provided directly by Cobra (`help` and `__complete`).  This also implies that `kubectl` always searches for a matching plugin when dealing with the `help` or `__complete` commands; this could unnecessarily slow down completion.

**What you expected to happen**:

`kubectl` should not search for a matching plugin when dealing with the `help` or `_

[2021-09-20 02:20] ringerc opened #1117 "Wait for a CRD type to deploy before deploying resources that use the type"
Presently, when kubectl is used to apply a large manifest that defines new custom resource definitions (CRDs) as well as resources that use the new resource kind, conditions can cause the deployment to fail. Assuming you're using `kubectl apply -f -` and an external `kustomize` you might see an error like:

[code]

(the exact resource "kind" and api "version" will vary depending on what you're dep

[2021-09-20 02:36] ringerc opened #1118 "Improve error message for missing resources (no matches for kind ... in version ...)"
**What would you like to be added**:

I'd like to see a better error from `kubectl` when an API request fails due to a missing resource. Instead of

[code]

I suggest elaborating on the server-side message to identify the line number in the input for the start of the yaml document for the failing request as well as the metadata defining the resource, so the user can tell exactly exactly which reso

[2021-09-20 02:45] ringerc commented on #1117
See related issue discussing retries: https://github.com/kubernetes/kubernetes/issues/5762#issuecomment-84732488

The server does not issue HTTP status code 429 here, presumably because it doesn't know there's a pending deployment that will create this resource.

[2021-09-20 03:20] ringerc commented on #1117
See related issue in kube-prometheus - but note that this is far from specific to kube-prometheus, it can affect anything where races exist between resource creation and resource use

https://github.com/prometheus-operator/prometheus-operator/issues/1866

[2021-09-20 04:35] ringerc commented on #1117
A workaround is to use `kfilt` to deploy the CRDs first, then wait for them to become visible, then deploy the rest:

    kustomize build somedir | kfilt -i kind=CustomResourceDefinition | kubectl apply -f -
    kustomize build somedir | kfilt -i kind=CustomResourceDefinition | kubectl wait --for condition=established --timeout=60s -f -
    kustomize build somedir | kubectl apply -f -

[2021-09-20 08:08] josefschabasser opened #1119 "bash completions stop working when aliasing `kubectl --kubeconfig` on v1.22"
**What happened**: bash completions stop working when aliasing `kubectl --kubeconfig` on v1.22. We work with multiple clusters and use an activation script to prepare working environments and quickly switch between them. Kubeconfig files are recreated upon activation using `azure-cli` to keep the users home directory clean and refresh access tokens.
[code]
In zsh everything is fine:
[code]
![grafi

[2021-09-20 10:47] ringerc opened #1120 "Waiting for pods hangs indefinitely if a pod is concurrently scheduled for termination and removed by a deployment"
**What happened**:

When `kubectl wait --for=condition=ready pod --all` is used to wait for all existing pods to reach the ready state, if any deployment-managed pods existed when the wait started then were removed the wait command will wait forever.

A second `kubectl wait --for=condition=ready pod --all` command launched a few seconds later will succeed because the pod that the first command is

[2021-09-20 10:53] ringerc commented on #1120
This issue tends to arise when reconfiguring a deployment.

The kube cluster will spin up new pods and terminate old pods asynchronously. Waiting for the new deployment to reach minimum availability does not guarantee that pods from the old deployment are terminated.

[2021-09-20 11:00] ringerc commented on #1120
A workaround is to retry `kubectl wait` with a short timeout in a loop, rather than letting `kubectl wait` run with a full timeout then give up after one try.

[2021-09-20 20:30] lauchokyip commented on #1119
/cc @marckhouzam

[2021-09-20 20:31] lauchokyip commented on #1119
/assign @marckhouzam

[2021-09-20 20:34] lauchokyip commented on #1116
@marckhouzam , can you take a look at this? since you are fixing the auto completion. Thank you.
https://github.com/kubernetes/kubectl/issues/1119

[2021-09-20 21:20] marckhouzam commented on #1116
I think this comment was meant for #1119.  I will have a look at it.

[2021-09-20 21:42] marckhouzam commented on #1119
I can reproduce the problem and I believe its related to #1116 where `kubectl` tries to look for a plugin before performing the `__complete` command, but the --kubeconfig flag makes the plugin logic abort.  I will continue digging.

[2021-09-20 23:16] marckhouzam commented on #1119
Ok so here's what's happening.  When doing
[code]
The first completion is a static completion of the command `describe`.  This is hard-coded in the bash completion script and is not affected by the bug.

The second completion is a custom completion; it needs to call the cluster to know what the list of pods is.  For custom completions, now that we use Go custom completions (since https://github.co

[2021-09-21 01:36] lauchokyip commented on #1119
Thanks for the details explanation!

/triage accepted
/priority important-soon
/assign @marckhouzam

[2021-09-21 01:38] lauchokyip commented on #1116
/assign @marckhouzam
/triage accepted
/priority important-soon

[2021-09-21 02:04] marckhouzam commented on #1119
@josefschabasser https://github.com/kubernetes/kubernetes/pull/105141 should address your issue.

[2021-09-21 06:48] josefschabasser commented on #1119
@marckhouzam Does this also fix completion for resource definitions, like `kubectl get p<TAB>` which should give me this list:
[code]

[2021-09-21 07:19] i-Apoorva commented on #61
This is happening probably because you have some mistake in the format of the changes you are making. Hence the changes are being rejected. Please double check that there is no tabs, spacing, extra char, format etc issue in the file changes you just made. Because that was the issue with me, and was getting the same error.

[2021-09-21 10:52] roytmanpiccoli commented on #759
Hi @bakkiung
Also had this problem I installed Kubectl, eksctl in IDE cloud9.
Admin manager root access credentials.

Already tried to change user aws and Credentials configuration, it doesn't work, when changing credential as root for another user with group access IAM the Cluster, returns message.
<not authorized to perform sts:AssumeRole on resource>

I created police for AssumeRole in the admi

[2021-09-23 06:28] ringerc commented on #1117
See also

* https://github.com/helm/helm/issues/4925
* https://github.com/kubernetes/kubernetes/issues/62725

[2021-09-24 10:16] zhengqisong opened #1121 "Kubeconfig's clusters server can support multiple IP addresses."
Kubeconfig's clusters server can support multiple IP addresses.

At present, when accessing apiserver externally, the third-party load balancing is usually used. Can we directly support multi IP access capability in kubernetes.

**What would you like to be added**:
apiVersion: v1
clusters:
  - cluster:
    certificate-authority: /etc/kubernetes/pki/ca.crt
    server: https://**192.168.133.128;192.

[2021-09-24 17:05] verb commented on #1108
/assign

[2021-09-25 17:57] #1015 closed

[2021-09-26 06:45] calvin0327 commented on #1093
@eddiezane I tried to reslove this issue, the `AuthProviderConfig` is a `Ptr` type of struct that define field of `Name` and `Config`.  there is not a `case` to corresponding to the type in the switch.  can you give me some advice?

[2021-09-26 09:18] cyclinder opened #1122 "error no accurate enough when kubectl get deploy in no exist namespace"
#### What happened:

background：namespace "ingress-controller" not exist
1. Input:
kubectl get deploy -n ingress-controller
2. Output:
No resources found in ingress-controller namespace

<img width="720" alt="result" src="https://user-images.githubusercontent.com/59680092/134801557-8d63829a-77bc-4159-aa96-4a60d4be156c.png">

#### What you expected to happen:
because namespace "ingress-controller"

[2021-09-28 07:16] #969 closed

[2021-09-29 01:19] brianpursley commented on #1098
@hamid-elaosta This looks like a bug related to command headers, which went beta in 1.22 and are now turned on by default.

As a workaround you can set the `KUBECTL_COMMAND_HEADERS` environment variable to `false` to avoid the issue.

For example:

This hangs:
[code]

This does not:
[code]

@seans3 Can you take a look at this draft PR, created for troubleshooting purposes, where I did some work an

[2021-09-29 06:41] pierluigilenoci commented on #704
/remove-lifecycle stale

[2021-09-29 17:08] seans3 commented on #1098
/assign

[2021-09-30 03:32] lauchokyip commented on #1111
Closing this because https://github.com/kubernetes/kubernetes/pull/105121 was merged
/close

[2021-09-30 03:32] #1111 closed

[2021-09-30 09:01] hamid-elaosta commented on #1098
@brianpursley Thanks for the suggestion, I can confirm the same behaviour on my end. Container exits cleanly when given the `KUBECTL_COMMAND_HEADERS=false` env.

[2021-09-30 20:24] seans3 commented on #1098
According to my manual testing, @brianpursley solution works. This solution returns a separate `CommandHeaderRoundTripper` instead of a using the closure (which overwrites the `Delegate` field multiple times) within the `WrapConfigFn`.

Manual testing with debug printing numbered times `WrapConfigFn` is called:

1. Using a short-running command within `kubectl run` does not trigger bug:
[code]
2.

[2021-10-02 01:25] #1098 closed

[2021-10-03 00:24] robotrapta opened #1123 "Request: Support multiple documents in KUBECONFIG"
**What would you like to be added**:

It sure would be handy if I could put multiple YAML documents into my KUBECONFIG file, separated by `---`.  Each one should be able to create its own contexts, and the cluster and user references should be scoped to within that document.  The context names themselves would have to share a global namespace.  If there were name collisions on the context names I

[2021-10-03 09:49] MartinX3 commented on #454
/remove-lifecycle stale

[2021-10-03 20:07] ossparvinder opened #1124 "kubectl logs behavior to match kubectl exec to assume first container as default"
**What would you like to be added**:
kubectl logs command returns an error when there are multiple containers in a Pod. However, kubectl exec connects to first container by default if container name is not specified.

[code]

[code]

**Why is this needed**:
Having consistent behavior from kubectl commands in a multi container Pods provides ease of use when working with cli. This also eliminates qu

[2021-10-04 02:49] AntonOfTheWoods commented on #884
@ahmetb this may just be me but this definitely violates the "principle of least surprise" for me. I have long found it quite frustrating (and a little un-unixy) that `kubectl` often can't interpret `--kubeconfig` when it appears as the first parameter, which seems to me to be the most unixy default behaviour. That said, like is like a box of chocolates... But would it not be better to put this in

[2021-10-04 14:36] tillig opened #1125 "kubectl doesn't understand ~ abbreviation in path for plugins"
**What would you like to be added**:

I would like `kubectl` to respect `~` in a shell path, particularly with respect to location of plugins. `~` should be expanded to be the current user's home directory prior to evaluating paths.

For example, I am trying to use `krew` and have added the folder `~/.krew/bin` to my path, but `kubectl` won't find plugins there. However, if I manually execute them

[2021-10-04 14:46] tillig commented on #1125
Example output for `kubectl plugin list` to illustrate another side-effect of not understanding `~` paths:

My path is:

`/usr/local/microsoft/powershell/7:/usr/local/opt/python@3.8/libexec/bin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/opt/gettext/bin:/Applications/Beyond Compare.app/Contents/MacOS:~/go/bin:/usr/local/share/dotnet:~/.dotnet/tools

[2021-10-04 16:35] izelnakri commented on #524
/remove-lifecycle stale

[2021-10-04 18:36] pdxjohnny commented on #913
Facing the same issue, @soltysh thank you for your response, that helped me.

I was trying to watch pod status, which now I can do. Thanks again!

[code]

[2021-10-04 21:00] rdxmb commented on #669
/reopen
/remove-lifecycle rotten

[2021-10-04 21:00] rdxmb commented on #669
/remove-lifecycle stale

[2021-10-04 22:13] t-l-k commented on #519
Triple double quotes per @sguidos comment is only thing which worked for me. Never would have guessed that.

[code]

To avoid others suffering, I'll leave my more complete Powershell snippet here (starting of a remote interactive `pwsh` session). I composed it via hashtables to avoid any other syntax errors, and I've left the depth hint in as well as compress, as others may have more complicated o

[2021-10-05 12:15] rdxmb commented on #572
/lifecycle stale

[2021-10-05 17:49] seans3 opened #1126 "Discovery is throttled when there are lots of resources (CRDs)"
From k/k: https://github.com/kubernetes/kubernetes/issues/105489

The default client side rate limit is 50qps with a burst of 100.

Kubectl does a discovery pass before doing the operation requested. Discovery involves (some combination of) reading the OpenAPI spec and the "homegrown" discovery information for the purpose of e.g. mapping kinds to resources. Sometimes these can be cached, but even

[2021-10-05 17:49] seans3 commented on #1126
/assign @lavalamp
/assign @justinsb
/assign

[2021-10-05 17:50] seans3 commented on #1126
/triage accepted

[2021-10-05 17:51] seans3 commented on #1126
@justinsb commented on original bug:

Two contributory things:

I think there's a bug where kubectl get clusterrolebindings.rbac.authorization.k8s.io forces a cache invalidation and full rediscovery, but ``kubectl get clusterrolebindings` does not. The gotcha is that tab completion uses the full name, and of course you're more likely to use tab completion when you have lots of CRDs, making discove

[2021-10-05 17:51] justinsb commented on #1126
Copied from the original bug:

Two contributory things:

* I think there's a bug where `kubectl get clusterrolebindings.rbac.authorization.k8s.io` forces a cache invalidation and full rediscovery, but ``kubectl get clusterrolebindings` does not.  The gotcha is that tab completion uses the full name, and of course you're more likely to use tab completion when you have lots of CRDs, making discovery

[2021-10-05 17:58] seans3 commented on #1126
User report link: https://github.com/kubernetes/kubernetes/pull/101634#issuecomment-933851060

[2021-10-05 18:18] afreeland commented on #598
I believe I have been seeing this issue was well.  When using the `-o yaml` I seem to no longer get it for the revision requested but rather for the current revision.  Anyone able to get past this?  Had some spikes in a dev environment and wanted to see what commit started it...

[2021-10-05 18:22] waynesi commented on #598
Man, I don't know what to do with this ticket tbh. Every time it got some interest immediately after the bot auto-closed this. The bot says "The Kubernetes project currently lacks enough active contributors", so I reckon it means no chance to get it solved unless one would like to contribute. I'm not a Golang dev and I don't understand Kubernetes internal unfortunately.

[2021-10-05 18:29] maxweiss-74656 commented on #598
Same.  I tried to find it in the code a few weeks ago, and I couldn't. I just don't know Go.

[2021-10-05 18:30] maxweiss-74656 commented on #598
/reopen

[2021-10-05 18:37] afreeland commented on #598
Okay, good to know I am at least not crazy lol. I kept walking through each revision with the `-o yaml` flag and looking at the `creationTimeStamp` and `image` and was like that is weird...why did we do the same thing so many times.  Then I noticed the revision was staying the exact same hah.

If I can get some free time I can try to poke around and see if I can find anything. Any good places to s

[2021-10-05 19:03] waynesi commented on #598
/reopen

[2021-10-05 19:04] brianpursley commented on #598
If it is still an issue we can keep it open.  Make sure you 👍 the issue as that helps bring attention to it.

It should at least get triaged.  I'll see if this can be added to the list for the next bub review

/reopen

[2021-10-05 19:04] waynesi commented on #598
Guys I reopened this ticket again. Hope some magic may happen this time.

[2021-10-05 19:10] brianpursley commented on #598
/remove-lifecycle rotten

[2021-10-06 19:18] #1119 closed

[2021-10-07 10:00] RinkiyaKeDad commented on #450
Unassigning myself since I haven't gotten a chance to look at this and probably won't have the bandwidth for this for some time 🙂

/unassign

[2021-10-08 08:51] SRodi commented on #454
/remove-lifecycle stale

[2021-10-10 07:16] AyaAbuDoleh commented on #951
Thank you, I got the same issue.
minikube was not working.
I had to start minikube cluster and it worked.

[2021-10-10 23:53] tillig commented on #1125
I will have to try `$HOME` in `/etc/paths` to see if it makes a difference.

It may not be good to assume bash is the shell - I generally use PowerShell, for example, but `~` is a well-understood cross-shell shorthand, so using it in `/etc/paths` means it doesn't matter which shell is used, it always "just works." Using `/etc/paths` also means I don't have to configure each shell's individual prof

[2021-10-11 02:22] brianpursley commented on #1125
Ah I forgot you are using /etc/paths.

If $HOME doesn't work there, you can try setting PATH in /etc/profile

[2021-10-11 16:46] amarshall opened #1128 "kubectl delete leaks network connections when deleting multiple resources, causing warnings or errors"
**What happened**:

kubectl delete leaks network connections when deleting multiple resources, causing warnings or errors

**What you expected to happen**:

kubectl to not leak network connections

**How to reproduce it (as minimally and precisely as possible)**:

1. Create 1001+ pods
2. Perform `kubectl delete pod -l mypod=foo`

Receive warning (Linux):

Receive error (macOS):

**Anything else we

[2021-10-12 10:22] developer-guy opened #1129 "make another output option such as curl to output kubectl command in cURL format to stdout"
**What would you like to be added**:

In the CLI of Vault, we have an option like`-output-curl-string` for printing the command in a form of a cURL command.

[code]

We thought that the same UX might be helpful for the `kubectl` command too.

[code]

**Why is this needed**:

We know we have an option for verbose mode, maybe we can use this feature as an alternative to that.

cc: @dentrax @erkanzil

[2021-10-12 14:13] ssrahul96 opened #1130 "Kubectl Windows installer - Winget / Standalone installer"
**What would you like to be added**:
Windows installer for Kubectl

**Why is this needed**:
Easy installation with Winget

[2021-10-12 14:14] ssrahul96 commented on #1130
https://github.com/helm/helm/issues/8203#issuecomment-941047825, I have made a sample installer for helm, which can be used for kubectl package also

https://github.com/ssrahul96/helm-windows-installer

Check whether this can be used.

[2021-10-14 04:30] sumitkumarm commented on #1027
/reopen

[2021-10-14 04:32] sumitkumarm commented on #1027
/remove-lifecycle fresh

[2021-10-18 17:10] arslan-sherazi opened #1131 "unable to login on kops server while creating pod using kubectl on AWS?"
kubectl create -f pods/frontend.yml

Asks for username and password. I already added AWS IAM user credentials on server

[2021-10-19 00:00] eddiezane commented on #686
/assign

[2021-10-19 05:27] adrianludwin opened #1132 "`kubectl run` doesn't exit (1.22 only; works in 1.21 and earlier)"
**What happened**:

The following command hangs using kubectl 1.22.2 (when pointed at a 1.22 GKE cluster, but I don't think that matters):

[code]

The final line ("EOF") only appears after I press enter. If I hit ctrl-c, I can see that the pod is in an error state, and an exit code has been recorded, but it never gets removed despite setting the `--rm` flag (which I'm guessing is client-side).

*

[2021-10-19 12:55] #1132 closed, assigned to nobody

[2021-10-20 09:00] saschagrunert opened #1133 "Display used seccomp profile on `kubectl describe`"
**What would you like to be added**:

Determining the used seccomp profile for a container is a non-trivial task in Kubernetes. The security context features a dedicated `SeccompProfile` field: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#seccompprofile-v1-core
There are also the deprecated seccomp annotations. Both, annotations as well as the field are available per pod an

[2021-10-21 12:30] sftim commented on #1130
Are there any enabling pieces of work that would allow a downstream automation to consume some data and make a package / installer / etc? If so, what are those enabling pieces of work?

[2021-10-22 02:08] ssrahul96 commented on #1130
This installer need not be build on CicleCI, as helm was built over there, I ve submitted a PR for this, the same logics can be used for any CI pipeline,

build and installer stage generation should be separated. this would act like an additional way of installing kubectl (specially installing using `Winget`)

[2021-10-22 04:07] kbasgall opened #1134 "Improper input validation on -o flag"
**What happened**:
I want to write my docker-registry secret to a file.  This command line option is supported, so I run:

[code]

This command results in a segmentation fault, as the correct usage of the command line option is `-o yaml > example-token.yaml`.  Error output is as follows:

[code]

**What you expected to happen**:
I expect the command in this case to display a specific command regar

[2021-10-22 09:09] glanchow opened #1135 "zsh completion missing __start_kubectl"
The zsh completion is not working for me in v1.22.0 or (stable) v1.22.2
I'm not sure if it's normal or a bug, here's the description.

[code]

[code]

[2021-10-22 15:59] #1135 closed, assigned to nobody

[2021-10-23 08:20] chirangaalwis opened #1136 "Missing command to label Pods of a Kubernetes Workload"
**What would you like to be added**:
Currently, there is no command to overwrite or add new label(s) to Pods of an existing Kubernetes Workload such as, Deployment, StatefulSet, DaemonSet, etc.

I would like to suggest a command of following nature.

[code]

**Why is this needed**:
Removes the need to patch or edit a workload definition which as per my experience is cumbersome especially for a new

[2021-10-27 15:49] runhardr opened #1137 "`set image deployment` without `--record` re-uses stale command"
**What happened**:

0. `kubectl create deployment ...`
1. `kubectl set image deployment ...` *with* the `--record` option
2. `kubectl set image deployment ...` *without* the `--record` option
3. `kubectl rollout history deployment ...` to inspect the revision history.

The CHANGE-CAUSE was re-used from the previous revision, rather than updating with `<none>` or the most recent `kubectl` command.

[2021-10-28 18:42] Dentrax opened #1138 "Consider provide kubectl-plugin-scaffolding repository as a public template for Go"
**What would you like to be added**:

The idea is inspired by [terraform-provider-scaffolding](https://github.com/hashicorp/terraform-provider-scaffolding) project, which makes life easier to create _custom providers_ from scratch. But Kubernetes, currently uses [sample-cli-plugin](https://github.com/kubernetes/sample-cli-plugin) to demonstrate how can we create _custom plugins_ from scratch.

We

[2021-10-29 13:16] soroshsabz opened #1139 "Add PowerShell friendly CLI"
ITNOA

# Description of the new feature/enhancement

As you can know PowerShell is great Scripting Language for Automation and Administration of system. and it is built for Object-oriented scripting.

Kubernetes API, on the other hand, is also completely object-oriented, so I think it is very good for kubectl to get compatible with PowerShell and make native PowerShell [Cmdlet](https://docs.micros

[2021-10-29 14:32] #1137 closed, assigned to hwdef

[2021-10-29 20:37] negz commented on #1126
Thanks @soltysh! Can you help me understand how this is likely to be released - is it reasonable to expect it to be backported to previous versions of `kubectl`? It's not intuitive to me because on one hand it's a kind of a bug fix, while on the other hand it's quite a big behaviour change (and kind of depends on APF).

[2021-10-30 19:18] tomasz-polgrabia commented on #598
This bug I discovered too while taking CKAD exam :-). Sounds like I have perfect timing as always.

[2021-11-01 07:28] almson commented on #1101
:facepalm:

You can mutilate `kubectl create`, but `kubectl run` has a clear purpose https://github.com/kubernetes/kubernetes/issues/28695 Maybe you can repurpose it for only running a single pod without restarting and always attaching (or provide a new command). In any case, setting requests/limits is important in this use-case (as in all use-cases).

[2021-11-01 17:38] Michael-Sinz commented on #978
/remove-lifecycle rotten

[2021-11-01 21:02] collimarco opened #1150 "Clarify apply -l option with multiple labels"
Page: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply

[code]

The description of the `-l` flag is not clear when you list multiple labels.

What does this mean `key1=value1,key2=value2`? Is it equivalent to:

1. match objects that have `key1=value1 AND key2=value2`
2. match objects that have `key1=value1 OR key2=value2`

Please clarify.

Note: since you can use `--pr

[2021-11-01 21:13] jonathanmdr commented on #747
This problem occurred for me after updating macOS from `Big Sur` to `Monterey`.

I solved using the following command line:
[code]

[2021-11-02 17:26] #1060 closed

[2021-11-02 20:20] eddiezane commented on #1139
All of the autocomplete functionality (and cli bits) for kubectl is provided through the Go library [Cobra](https://github.com/spf13/cobra).

It doesn't look like this is something Cobra provides yet https://github.com/spf13/cobra/blob/master/shell_completions.md#powershell-completions - or would it need to be separate entirely?

QOL improvements for Powershell users are certainly something we'd c

[2021-11-02 21:12] marckhouzam commented on #1139
IIUC this is something different than command completion.  I'm not very familiar with PowerShell but it may be an improvement than could possibly be generic enough to be done on Cobra so that it would be available to many clis.  Having something working in kubectl or another project would be a good proof that such a feature works well.

Someone would need to step up and do the work however.

[2021-11-03 01:50] lizhifengones opened #1140 "Can I download the kubectl package through go install now?"
**What happened**:
`go install: k8s.io/kubectl@v0.22.3: module k8s.io/kubectl@v0.22.3 found, but does not contain package k8s.io/kubectl`
**What you expected to happen**:
Use kubectl package
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
- Cloud provider or har

[2021-11-03 14:22] eddiezane commented on #1140
The main file for kubectl still lives in the kubernetes/kubernetes repo https://github.com/kubernetes/kubernetes/blob/master/cmd/kubectl/kubectl.go.

It's a large effort and there's very active work in progress right now (and a new KEP being written) to be able to build and release kubectl independently. We're hoping to tackle this for 1.24 or 1.25.

For now you'll still need to `make kubectl` fro

[2021-11-03 14:23] #1140 closed

[2021-11-03 22:43] eddiezane commented on #1138
Hi @Dentrax!

We discussed this today during our bi-weekly meeting and don't think we need to add another repo but would love for y'all to upstream some of these suggestions to the current sample repo.

No KEP is needed but PRs must be made against the main kubernetes/kubernetes repo since the sample plugin is a "staging repo".

Please tag me on any PRs you make there.

https://github.com/kubernet

[2021-11-04 12:55] soltysh commented on #1136
`kubectl label` does exist, have you tried it?
/close

[2021-11-04 12:56] rdxmb commented on #572
/remove-lifecycle stale

[2021-11-04 12:56] rdxmb commented on #572
/remove-lifecycle rotten

[2021-11-04 13:05] rdxmb commented on #572
A great enhancement would be to prune within the namespace, when running

`kubectl apply --namespace --prune`

This is not the case when I remember right.

[2021-11-04 14:49] chirangaalwis commented on #1136
@soltysh but this does not consider all the Pods of a workload (e.g. a Deployment) as a whole and label them does it?
We need to use the selector to first select the relevant Pods and then label them using the label command. And AFAIK this does not update the label selector of the workload (e.g. relevant Deployment)
What I mean is to use the label command to update the labels of a workload’s Pod t

[2021-11-04 14:50] chirangaalwis commented on #1136
/reopen

[2021-11-04 18:02] m1stermanager opened #1141 "inconsistent/incorrect validation"
**What happened**:
I am using AKS. I have installed kubectl via the instructions for ubuntu from kubernetes.io

the cluster kubernetes version is 1.20.9
my kubectl version I have installed is also 1.20.9

I like AKS and kubectl following the instructions laid out in the AKS documentation. I can get statuses, versions, etc

I select to deploy the sample application in AKS, I take the yaml and save

[2021-11-04 19:28] soltysh commented on #1136
All pods of a deployment are controlled by the deployment, you can either modify a set of resources using `--selector` flag or more preferably modify the pod template of a deployment.

I'm not envisioning doing what you're proposing here.

/close

[2021-11-04 19:29] #1136 closed

[2021-11-04 21:15] Dentrax commented on #1138
Hi @eddiezane!

Thanks for the suggestions and review. That makes sense to continue with current repo. _I did not know the detail that we could change the current repos as the _public templates_, I thought we can only do that during the repo creation!_

So, If you agreed the glossary that we wrote in the _"Why is this needed"_ section, we (w/ @developer-guy @erkanzileli) can starting working on a

[2021-11-05 12:13] #1101 closed

[2021-11-05 20:07] soroshsabz commented on #1139
@eddiezane It is very beyond than just auto complete, it is about new culture of CLI.

[2021-11-06 22:22] #1052 closed

[2021-11-08 08:42] Shanmugapriya03 opened #1142 "Kubectl commands not working on MacOS Monterey 12.0.1"
**What happened**:
I upgraded MacOS to Monterey 12.0.1 and executed kubectl commands. Got the below error:

[code]

**What you expected to happen**:
 It should have applied the configuration

**How to reproduce it (as minimally and precisely as possible)**:

A basic yaml file with minimal configuration required to create a deployment.
Execute this command : `kubectl apply -f some_file.yaml`

**Any

[2021-11-08 23:39] bitti commented on #1142
I get the same error with older `kubectl` binaries after upgrading to Monterey. The stacktrace similar and is pointing to the same line in /usr/local/go/src/runtime/asm_amd64.s:

[code]
And as you can see it's evening happening when providing the `--client` option for `version`. I tried different binaries from https://storage.googleapis.com/kubernetes-release/release and it's happening up and incl

[2021-11-09 06:07] ringerc commented on #1120
See related https://github.com/kubernetes/kubernetes/issues/83242

[2021-11-09 06:34] Shanmugapriya03 commented on #1142
@bitti I found another [thread](https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/409#issuecomment-959724187) with a similar issue, and someone mentioned that anything installed as binaries is not working after the macOS Monterey update, but brew install works fine. In my case, it was `heptio-authenticator-aws `which is available only in binary format. I switched to `aws-iam-authenti

[2021-11-09 16:36] anvouk opened #1144 "`kubectl apply -k` with `helmCharts` cannot run"
**What happened**:
Can't pass the `kustomize` flag `--enable-helm` to `kubectl apply -k`

**What you expected to happen**:
Helm chart gets built and deployed.

**How to reproduce it (as minimally and precisely as possible)**:
1. create this kustomize file: `test/kustomization.yaml`
[code]

2. Try to deploy it with  `kubectl.exe apply -k test`
3. This happens:
[code]

However, I found no way to pas

[2021-11-10 00:25] brianpursley commented on #1142
A related issue (https://github.com/golang/go/issues/49425) and page (https://github.com/golang/go/wiki/MacOS12BSDThreadRegisterIssue).

I wonder if heptio-authenticator-aws was compiled with an older, unsupported version of go (<= 1.10).

Can you use [aws-iam-authenticator](https://docs.aws.amazon.com/eks/latest/userguide/install-aws-iam-authenticator.html) or `aws eks get-token`?

[2021-11-10 00:31] brianpursley commented on #1141
Your yaml file should not have the `- ` on line 1.

Try this instead:
[code]

[2021-11-10 08:32] werwolfby commented on #1144
Have the same question.
Is it a new feature? Cause someone definitely tried it before 😏.

[2021-11-10 16:57] bitti commented on #1142
I can't confirm that, since as mentioned the `kubectl` binaries since `v1.13.0` are working fine for me, only the earlier ones are making problems.

I don't think brew provides a way to install different versions in parallel?

[2021-11-10 17:11] eddiezane commented on #598
/assign @soltysh

Is this the same as https://github.com/kubernetes/kubectl/issues/1137?

[2021-11-10 17:17] waynesi commented on #598
Not sure to whom this question is. But I had a look at 1137 and didn't feel it's anything related; at least not by the commands and options involved.

[2021-11-10 17:20] eddiezane commented on #1141
Please share the full YAML file if you're still having issues and reopen.

/close

[2021-11-10 17:20] #1141 closed

[2021-11-10 17:22] eddiezane commented on #1139
Thanks for explaining!

I'd recommend opening this in Cobra if you want to get the ball rolling.

/close

[2021-11-10 17:22] #1139 closed

[2021-11-10 17:24] KnVerey commented on #1144
You're right that `kubectl apply -k` does not expose additional Kustomize-specific flags. I believe it intentionally only supports the simple case, for the sake of the simplicity of `apply` options. If you need to configure Kustomize behavior with additional flags, you can use `kubectl kustomize` and standalone `kustomize` instead.

/close

[2021-11-10 17:24] eddiezane commented on #1133
/triage accepted
/priority backlog
/good-first-issue

This work would need to done in https://github.com/kubernetes/kubernetes/blob/91ff1f9840278ec9c58089d891d6d594e5055bab/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L692.

[2021-11-10 17:24] #1144 closed

[2021-11-10 17:24] eddiezane commented on #1133
/assign @ncapps

[2021-11-10 17:25] ncapps commented on #1133
/assign @ncapps

[2021-11-10 17:26] eddiezane commented on #1131
Hi @arslan-sherazi,

Please edit the description to match the original issue template and provide as much information as you can.

/close

[2021-11-10 17:26] #1131 closed

[2021-11-10 17:32] eddiezane commented on #1129
You can grab a curl representation if you pass a `-v 9` that should have enough to use.

[code]

We don't have plans to expand on this.

/close

[2021-11-10 17:33] #1129 closed

[2021-11-10 17:44] eddiezane commented on #1128
This may be fixed on the upcoming 1.23 release or by https://github.com/kubernetes/kubernetes/pull/105723.

You might be able to temporarily fix this by [raising the ulimit on your mac](https://wilsonmar.github.io/maximum-limits/).

@ash2k this might still be an issue here? https://github.com/kubernetes/kubectl/blob/a450ebd59c1e8917df23d37c6f05d8e16c3746aa/pkg/cmd/delete/delete.go#L392

[2021-11-10 17:49] eddiezane commented on #1128
/assign atiratree

[2021-11-10 17:50] #1125 closed

[2021-11-10 19:14] lauchokyip commented on #1124
/triage accepted
/assign @kidlj

[2021-11-10 19:24] lauchokyip opened #1145 "Adding unit test cases when sorting resources on `kubectl get`"
**What would you like to be added**:
Unit test cases when sorting resources on `kubectl get`

**Why is this needed**:
https://github.com/kubernetes/kubernetes/pull/105117#issuecomment-930553330

[2021-11-10 19:25] lauchokyip commented on #1145
/triage accepted
/priority backlog

/assign

[2021-11-10 20:51] chilanti opened #1146 "Provide a function that returns the limits and requests of active containers only in pods"
**What would you like to be added**:
We would like [this module](https://github.com/kubernetes/kubectl/blob/master/pkg/util/resource/resource.go) to provide a function such as `ActiveContainersPodRequestsAndLimits` (vs. just `PodRequestsAndLimits`) that returned the requests and limits *only* of the active containers, vs. returning the max(init_containers, active_containers).

**Why is this needed

[2021-11-10 20:51] lauchokyip commented on #1134
Thank you @kbasgall for catching that !!

[2021-11-10 21:53] #1134 closed

[2021-11-11 00:26] anvouk commented on #1144
Thanks, I managed to get it to work with the following:
[code]

[2021-11-11 07:28] Shanmugapriya03 commented on #1142
@bitti You can install multiple versions using brew, but yes you will not be able to use them in parallel. Each and every time when you need a particular version, you will have to make that version active and use.

[2021-11-12 00:37] ash2k commented on #1128
@eddiezane I'm not sure, sorry.

[2021-11-12 06:56] aqHi commented on #1142
+1

[2021-11-12 09:21] #996 closed

[2021-11-12 11:42] georgettica opened #1147 "`kubectl-diff` last applied configuration"
**What would you like to be added**:
I would like for there to be an easy way of diffing between the last applied configuration.
Also that it won't require a live k8s object but a local file aswell

See issue I opened in a similar tool on this
https://github.com/knight42/kubectl-blame/issues/5

**Why is this needed**:
To easily check what has changed (used after the fact by an admin with no audit

[2021-11-12 17:06] eddiezane commented on #1142
As Brian points out this is an issue with running binaries built with older versions of Go.

Please upgrade your binaries.

For context `heptio-authenticator-aws` became [`aws-iam-authenticator`](https://github.com/kubernetes-sigs/aws-iam-authenticator) in [2018](https://github.com/kubernetes-sigs/aws-iam-authenticator/commit/678cdff0f43d3ae4a1d9d68a5347042f14a168a8) and Kubernetes 1.12 is also fr

[2021-11-12 17:07] #1142 closed

[2021-11-12 20:11] tclarke commented on #454
I'd like to see this too. My use case is for post mortem debugging of production pods. (so an extrypoint of "sleep 10000" isn't an option)

[2021-11-13 06:01] patsevanton opened #1148 "Not correct output when run --dry-run=client --command -- sleep xx -o yaml"
Hello! May be Feature request.
**Env**: `minikube v1.23.2`

**kubectl version**
[code]

**kubectl run busybox --image=busybox --dry-run=client --command -- sleep 1000 -o yaml**
`pod/busybox created (dry run)`

**kubectl run busybox --image=busybox --dry-run=client -o yaml --command -- sleep 1000**
[code]

[2021-11-14 15:31] brianpursley commented on #1148
Unless I am misunderstanding the issue, I think this behavior is as expected.

Anything after `--` will be interpreted as the command to be executed in the container, not as args for the kubectl command.

Reference:
https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02

The first -- argument that is not an option-argument should be accepted as a delimiter indicating th

[2021-11-15 06:11] patsevanton commented on #1148
Ok. Thanks

[2021-11-15 08:41] ogarcia commented on #1044
/remove-lifecycle stale

[2021-11-15 17:50] eddiezane commented on #1130
Cheers @ssrahul96,

I checked with folks on the release team and maintaining a Windows installer is not something we want to do at the moment. This would be a great place for the community to take up the reins and show demand.

/close

[2021-11-15 17:50] #1130 closed

[2021-11-15 22:07] sean-d commented on #61
@i-Apoorva is spot on with this. I changed the image tag and noticed the file was auto-formatting on me.

[code]

became

[code]

fun little gotcha.

[2021-11-16 17:19] joshunger commented on #781
If you're missing a `.kube/config` you'll get this error.

[2021-11-16 18:07] vitaliy-zinchenko opened #1149 "404 on Kubectl installation"
This page give https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux instruction how to install kubectl.
And this command from the doc above:
`curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"` returns 404.

**What happened**:
I get a `404` response:

[code]

**What you expected to happe

[2021-11-16 18:09] sftim commented on #1150
We _do_ have https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ that explains how selectors work.

[2021-11-16 18:50] eddiezane commented on #1149
@vitaliy-zinchenko this is due to an active incident. Should be working shortly.

https://status.cloud.google.com/incidents/6PM5mNd43NbMqjCZ5REh

/close

[2021-11-16 18:51] #1149 closed

[2021-11-17 02:45] #1126 closed

[2021-11-17 09:34] anvouk opened #1151 "Using `helmCharts` doesn't work with charts that use `.Release` fields"
**What happened**:
Deploying `kustomization.yaml` with `helmCharts` doesn't set `.Release` properties.

This breaks some popular charts in a very hard to debug manner (for example, [bitnami kafka helm chart](https://github.com/bitnami/charts/blob/master/bitnami/kafka/templates/statefulset.yaml#L3) which relies on `.Release.Namespace` for cluster connections).

**What you expected to happen**:
When

[2021-11-17 13:38] jakubpartyka commented on #823
I'll share my case here since error was the same but cause was different.
For those running kubectl via gcloud utility: you may get this error if something on the cluster changed. Simply re-generate the credentials with
`gcloud container clusters get-credentials --region=<your_region> <your_cluster_name>`
run
`gcloud container clusters list`
to find out name of the cluster

[2021-11-19 19:04] eddiezane commented on #1151
@anvouk I think this issue is specific to kustomize. Can you please open it at https://github.com/kubernetes-sigs/kustomize instead? We unfortunately can't migrate issues across GitHub orgs.

/close

[2021-11-19 19:05] #1151 closed

[2021-11-21 21:47] #1025 closed

[2021-11-22 23:04] eddiezane commented on #1146
I think we would take a PR that added such a function as long as it's not duplicated code.

@lauchokyip any thoughts? I know you just worked in this area.

[2021-11-24 19:32] Warxcell commented on #454
+1. Useful to run unit tests in pod and get coverage reports, which are generated after tests finishes.

[2021-11-24 21:23] jgminer opened #1152 "Network errors with many resources being applied greater than soft file descriptor limit"
**What happened**:
When running kubectl with several hundred resources, we started seeing interesting behavior:

[code]

We were able to reproduce the apparent issue by creating a bunch of "dummy" resources - in this case ingresses - and applying them all.

If the number of resources is greater than the currently configured file descriptor soft limit, you should start seeing errors.

If you increa

[2021-11-25 03:23] eddiezane commented on #1061
/remove-lifecycle stale

[2021-11-25 15:11] Dentrax commented on #1138
Hey @eddiezane, any additional updates here? You can assign us if you're agreeing the proposal, so we can start working on W.I.P PR! 🤗

[2021-11-26 18:24] atiratree commented on #1128
@amarshall this seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/91913. Can you please try again with latest kubectl?

sidenote: I have also tested this with plain kubernetes (not aws-iam) and have not observed such issue as there is only one connection opened.

[2021-11-27 07:24] graydon commented on #454
This (and in general "access to the pod filesystem using an API that is not just executing-tar-on-stdin") would be very desirable to me. I am sort of astonished that this is not part of the standard k8s API. Files in the filesystem -- not just open filehandles -- are actually important parts of the lifecycle and system interface of most programs.

[2021-11-27 17:33] brianpursley commented on #454
I still think using a persistent volume is the best way to preserve and access the output produced by a completed pod

But I know there are a lot of people who end up here, wanting a way to run some task to completion and then use `kubectl cp` to access the output that was produced inside one of the container's filesystem.

For anyone who doesn't want to create a persistent volume, for whatever re

[2021-11-27 19:22] Warxcell commented on #454
Problem with this approach is that `kubectl wait --timeout=1h --for=condition=Ready=true pod/test` doesn't return exit code of init container.

[2021-11-29 03:52] lauchokyip commented on #1152
This might be related ? https://github.com/kubernetes/kubectl/issues/1128

[2021-11-29 03:57] lauchokyip commented on #1146
@eddiezane.  I believe this is the same issue as this, https://github.com/kubernetes/kubectl/issues/1110 and this.

Would it make sense for @g1bl3t to take a look at this.
@brianpursley might be able to chip in too

[2021-11-29 11:35] jensneuhaus opened #1153 "Better logging behavior, when debug=True is set"
It seems, that having `debug=True` set in an environment brings a lot of extra logs, when shelling into a pod:

[code]

**What would you like to be added**: . There should not be default usage of `debug=True` enviroment variable as its confusing (what about e.g. KUBECTL_DEBUG?) or there should be a big warning on top, that one sees this output because of `debug=True`.

**Why is this needed**: A lo

[2021-11-29 21:47] danielhoherd opened #1154 "Support for reading `--namespace` and `--context` values from env vars"
**What would you like to be added**: Please add support for reading `--namespace` and `--context` values from env vars.

**Why is this needed**: Currently users have the ability to read the value of `--kubeconfig` from the `KUBECONFIG` env var. This is quite useful when working in different terminals with different config files, especially given that the settings are scoped not only to the current

[2021-11-30 10:27] kebe7jun opened #1161 "Missing completion of `kubectl config set-context`"
### What happened?

The `kubectl config set-context` command does not automatically complete the existing contexts.

### What did you expect to happen?

The contexts are automatically listed when the tab is pressed.

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl config set-context <TAB>`

### Anything else we need to know?

_No response_

### Kubernetes version

<

[2021-12-01 03:07] brianpursley commented on #1153
I am to reproduce with this command (`kubectl run` and `kubectl exec` both have this problem):
[code]

I agree it is not a good experience if you happen to have this environment variable set.

I think I saw something on Stack Overflow about this too from 2017, so it has been around a while.

`DEBUG` isn't something used directly by Kubernetes though.  It is part of [spdystream](https://github.com/

[2021-12-02 18:47] FilipposKaragiannis commented on #823
Was getting this error using the gcloud cli and @jakubpartyka suggestion solved the issue. Thanks a lot!!

[2021-12-02 22:56] jensneuhaus commented on #1153
Hey @brianpursley - thanks a lot for the quick answer and the helpful insights. I posted this as an issue on [spdystream](https://github.com/moby/spdystream/blob/dbc715126c0e3fa07721879c6d265b2b82c71e5b/utils.go#L25).

Thanks also for the proposed solutions. I am okay as I am using different terminal tabs - one for development and one for K8s stuff. So usually the `debug=True` is in the correct en

[2021-12-03 19:42] explogx opened #1156 "Unify kubectl usage output across help output"
**What would you like to be added**:

Some subcommands such as `kubectl describe` accept formatted arguments that aren't explicitly marked as valid inside the `--help` output. For instance, `kubectl describe --help` reports that only the following syntax is accepted:

`kubectl expose (-f FILENAME | TYPE NAME)`

When it should be:

`kubectl expose (-f FILENAME | TYPE NAME | TYPE/NAME)`

**Why is th

[2021-12-07 12:54] rifelpet commented on #517
/remove-lifecycle stale

[2021-12-08 17:12] eddiezane commented on #1156
@explogx we would accept a PR if you'd like to audit the help outputs for this.

/triage accepted
/priority backlog

[2021-12-08 17:21] eddiezane commented on #1153
Going to close this since it's an issue with an upstream dependency. Please let us know if that gets sorted and we can update the version.

/close

[2021-12-08 17:21] #1153 closed

[2021-12-08 17:28] eddiezane commented on #1152
Let's track this at #1128

/close

[2021-12-08 17:28] eddiezane commented on #1128
Great reproduction example in https://github.com/kubernetes/kubectl/issues/1152

[2021-12-08 17:28] #1152 closed

[2021-12-08 17:29] eddiezane commented on #1148
/close

[2021-12-08 17:29] #1148 closed

[2021-12-08 17:57] eddiezane commented on #1110
/assign @brianpursley

[2021-12-09 01:36] georgettica commented on #1147
/auto-cc

[2021-12-09 01:41] georgettica commented on #1147
/label area/kubectl

[2021-12-09 01:44] georgettica commented on #1147
/sig cli

[2021-12-09 01:45] georgettica commented on #1147
/auto-cc

[2021-12-09 01:46] georgettica commented on #1147
/area kubectl

[2021-12-10 07:52] nnseva commented on #1103
TWIMC

I have had this problem trying to copy files from/to server 1.19+ using client 1.22.

[code]
It disappeared when I've downgraded the client to the version corresponding to the server:

[code]

[2021-12-10 17:19] explogx commented on #1156
@eddiezane sure I'll do this when I have time

[2021-12-11 03:21] #1053 closed

[2021-12-12 19:12] yossicohn commented on #1144
@KnVerey the proposed usage with `kubectl apply -f -` would work, but that would not be enough with ArgoCD ...which is my case

[2021-12-15 04:15] lauchokyip commented on #1156
/assign @explogx

[2021-12-15 20:45] eddiezane commented on #1154
@danielhoherd @mpuckett159 we discussed this today on our call. Please take a listen when you get a chance and let us know your thoughts on the concerns raised.

https://youtu.be/qb1z2MKROvw?t=2838

[2021-12-15 21:22] danielhoherd commented on #1154
@eddiezane thanks for including a link to the recording. It's great to see the conversation you all and and the care you took in discussing it, suggesting alternatives and potential pitfalls.

To summarize what I took from the conversation, it sounds like the risks and uncertainty of having one more place to configure namespace and context are leading you all in the direction of not implementing t

[2021-12-16 00:57] mpuckett159 commented on #1154
I appreciate the time y'all took to discuss and explain.

I'll admit, though, I didn't really put much thought into the "why" of the PR. I just saw it, thought "oh I know how to do this" then did it. Appreciate the deeper considerations brought up.

I think after hearing the discussion I agree that default namespace settings should exist within the context (heh) of the context that is set. To that

[2021-12-16 02:58] danielhoherd commented on #1154
Since @mpuckett159 chimed in with a great analysis of his view of the problem, I'll piggy back on that and point out a few comparisons. Hierarchical configuration resolving is not a new concept. See [hiera](https://puppet.com/docs/puppet/7/hiera.html), [Ansible](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable), [pxe](htt

[2021-12-16 07:33] Bjohnson131 commented on #995
/reopen

[2021-12-16 07:34] Bjohnson131 commented on #995
/remove-lifecycle rotten

[2021-12-16 07:35] Bjohnson131 commented on #995
@soltysh  You mentioned you want to know more about the userbase on this feature. what more would you like to know?

[2021-12-16 20:41] bstrdsmkr commented on #995
Came looking for this. In our case, we have reporting requirements to other teams that only understand "Excel" format...

[2021-12-16 21:07] bzub commented on #151
The `xargs` based command resulted in multiple `List` resources. The following seems faster, and results in one `List` of resources.

[code]

[2021-12-19 00:26] bbugh commented on #898
It's been some time, was anything moved forward on `generate` or adding resurrecting command line arguments?

[2021-12-20 14:33] alex88 commented on #890
/reopen

[2021-12-20 22:39] mpuckett159 commented on #1093
After some review, this appears (I think) to be an issue with the client-go API rather than kubectl itself. The way that the paths are walked from the config key assumes that the AuthProvider field will be a `map[string]*AuthProviderConfig`. This is how we get from `users.foo` to `auth-provider` even though there is no valid field name in `AuthInfo` named `foo`.

Unsure if there should be a workar

[2021-12-21 11:04] marckhouzam commented on #890
This issue has a duplicate in the kubernetes repo: https://github.com/kubernetes/kubernetes/issues/94927

A fix has been proposed in https://github.com/kubernetes/kubernetes/pull/106755

[2021-12-22 03:23] rthamrin commented on #686
I still not found the best solution for this problem

[2021-12-22 14:51] frederik-b opened #1157 "kubectl autocompletion does not work when using --context flag with a context that contains a colon"
**What happened**:

tab autocompletion does not work when explicitly declaring the context

**What you expected to happen**:

tab autocompletion does work when explicitly declaring the context

**How to reproduce it (as minimally and precisely as possible)**:
does work for me:
[code]

does not work for me:
[code]

**Anything else we need to know?**:
I found: https://github.com/kubernetes/kubectl/i

[2021-12-22 20:40] KnVerey commented on #1144
I'm not familiar enough with ArgoC to advise, though it appears to me that it supports [arbitrary Kustomize versions](https://argo-cd.readthedocs.io/en/stable/user-guide/kustomize/), which would imply standalone Kustomize support. I maintain that `kubectl apply -k` must not be modified to support Kustomize-specific flags.

[2021-12-23 06:56] LetLifeStop opened #1158 "refreshPod should be true at first? active Pod should equal to freshPod"
https://github.com/kubernetes/kubectl/blob/d7da6ad9f193e3afdc754527c0a5ac9390c053fb/pkg/drain/drain.go#L285
[code]

[2021-12-23 12:27] vladimir259 commented on #598
confirming, still an issue.

k8s 1.18
kubectl 1.23

[2021-12-23 12:53] marckhouzam commented on #1157
This is a regression with v1.22 when `kubectl` moved to using Go completions 😞

The problem is with the `:` that are part of your context @frederik-b.  The bash completion script provided by Cobra that `kubectl` uses does not handle the `:` properly in every case (https://github.com/spf13/cobra/issues/1355#issuecomment-787222293).

However, I believe that if you quote your context it will work.  Y

[2021-12-23 13:34] marckhouzam commented on #1157
Actually, I was wrong, the bug is present, but it is not a regression.  The same problem happens with kubectl 1.21.8 which had not yet moved to Go completions.

[2021-12-25 21:23] shaunc opened #1159 "crashes while generating secret manifest"
**What happened**:

kubectl crashed when trying to generate secret manifest:
[code]

**What you expected to happen**:

kubectl not to crash, print secret manifest

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`):
[code]
NB first tried using kubectl 1.22 before in

[2021-12-25 22:01] rikatz commented on #1159
/assign

[2021-12-25 23:11] rikatz commented on #1159
/triage accepted
I could reproduce it here, let me check and fix :)

[2021-12-25 23:25] rikatz commented on #1159
The problem is related to the outputter (the -o you are using is invalid, but in case of other commands it's verified, like create service, or create ingress).

Gonna check if something else is problematic, and also add some unit tests to catch this kind of recursion.

[2021-12-26 00:36] shaunc commented on #1159
Thanks! ... interesting -- ah -- I should be writing `-o yaml > local/k8-secret.yaml`, right?

[2021-12-26 00:41] rikatz commented on #1159
Yes you should :) buuut anyway, your mistake found one mistake for us, so thanks for reporting this

[2021-12-26 05:56] rikatz commented on #928
/lifecycle active
This week is the week I'm gonna do this :)

[2021-12-27 16:21] frederik-b commented on #1157
After a little bit more testing it does only work when using equal signs and not when using spaces.
I rewrote my daily use alias which now looks as follows.
[code]
and today it worked even with that aws arn:aws:eks stuff with all the colons

I believe my first test case was wrong (only namespace without equal sign).
Still on 1.23.0
So it's probably fixed already?

I would like to understand why th

[2021-12-27 20:22] akshitgrover opened #1160 "Print ingress class name while describing ingress resource(s)"
**What would you like to be added**:
Add `spec.ingressClassName` in the output of `kubectl describe ingress <ingressName/no-name-but-list>`

**Why is this needed**:
Now that ingress controllers use spec.ingressClassName to decided weather it should implement that particular ingress or not, It is important for a person maintaining the cluster to know which ingress is being implemented by which ingr

[2021-12-27 20:23] akshitgrover commented on #1160
I am willing to work on it once it's triaged
Thank you

[2021-12-27 20:30] rikatz commented on #1160
I see no reason why we shouldn't do this :)

Also, maybe adding this to the kubectl get ingress is something desired? IMO it is

[2021-12-28 21:46] akshitgrover commented on #1160
That makes sense too
It should be added in both get and describe outputs

[2022-01-02 18:09] izelnakri commented on #524
/remove-lifecycle stale

[2022-01-03 10:35] verb commented on #1108
/remove-lifecycle stale

[2022-01-03 20:56] lawschlosser commented on #598
From what I can tell this issue isn't just about using `-o yaml`.   It's about using the `-o` / `--output` flag _at all_, i.e. `-o json` exhibits the same bug (it did output json though :smiley: )
[code]

[2022-01-04 20:23] mpuckett159 commented on #1093
Also of note it looks like `ExecConfig` (e.g. `users.foo.exec.command` and similar) suffers the same issue.

[2022-01-05 14:59] atiratree commented on #1128
TY, I managed to reproduce #1152  on AWS EKS (1.21) with latest kubectl. Vanilla kubernetes works fine.

seeing multiple connections:

[code]

after I reach `ulimit -n` opened files limit I am getting connection errors:

[code]

I am planning to work on the fix soon

[2022-01-05 17:07] eddiezane commented on #1160
/triage accepted
/priority backlog
/help

This work would be done here https://github.com/kubernetes/kubernetes/blob/afd254a18f1a3ac44f8cdb7b6f0f1a83d35f3a37/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2544

[2022-01-05 17:08] rikatz commented on #1160
/assign @akshitgrover
/remove-help
/remove-good-first-issue

@akshitgrover this gots accepted. As you are willing to work on it, go for it!

[2022-01-05 17:10] eddiezane commented on #1158
@LetLifeStop can you please provide more info here? Did you come across this as an issue for something?

[2022-01-05 17:14] eddiezane commented on #1157
/assign @brianpursley

[2022-01-05 17:25] eddiezane commented on #1150
/triage accepted
/priority backlog

We believe this is an AND operation and can be should be documented as such.

[2022-01-05 17:25] ncapps commented on #1150
/assign ncapps

[2022-01-05 17:53] eddiezane commented on #1044
/triage accepted
/priority backlog
/help

[2022-01-05 18:05] eddiezane commented on #1146
Following up here we decided that the requested changes are minimal enough that they can be reimplemented in the project that needs it.

/close

[2022-01-05 18:05] #1146 closed

[2022-01-05 18:07] eddiezane commented on #1147
We discussed this and decided that this should ultimately be achieved by `git diff` on the manifest. It would be an anti pattern to rely on the config last applied field to determine this and is not something we want to add support for.

cc @seans3

/close

[2022-01-05 18:08] #1147 closed

[2022-01-05 18:11] eddiezane commented on #1123
We've discussed this before in the form of supporting the XDG config spec. If we could do things over from the start we would make these changes but the issue is that now it would cause widespread issues for other tooling in the ecosystem.

https://github.com/kubernetes/enhancements/pull/2111

/close

[2022-01-05 18:11] #1123 closed

[2022-01-05 18:16] eddiezane commented on #1121
Supporting a list of servers would open the doors for more issues like different ways to choose the server used, favoring the one with the lowest latency, how retries work upon an error.

Ultimately we decided there's no way to implement this while making everyone happy in the end. It's best to leave the load balancing implementation up to the user.

/close

[2022-01-05 18:17] #1121 closed

[2022-01-05 18:18] eddiezane commented on #1122
The current implementation is intentional when you factor in RBAC.

https://github.com/kubernetes/kubernetes/pull/106145

/close

[2022-01-05 18:19] #1122 closed

[2022-01-05 18:21] eddiezane commented on #981
@mbrancato apologies for the friction here.

You are correct and this appears to be a valid issue. A client side only diff should not be making a PATCH request. This is because it's currently hard coded to use dry run. This is a bug and should be fixed.

https://github.com/kubernetes/kubernetes/blob/23ee308ed7ed7c80f7e4d0437f38400f8df6faf8/staging/src/k8s.io/kubectl/pkg/cmd/diff/diff.go#L350

/tri

[2022-01-05 18:24] eddiezane commented on #1106
We'll track this in another issue for improving `kubectl config set`

/close

[2022-01-05 18:24] #1106 closed

[2022-01-05 18:25] eddiezane commented on #1115
This will be addressed by the exit code overhaul KEP.

/close

[2022-01-05 18:26] #1115 closed

[2022-01-05 19:10] julianvmodesto commented on #981
One point of friction is that the `--server-side` flag name is misleading. The `--server-side` flag indicates if the new patch is created with server-side apply or client-side apply. Ideally this would be clearer for `kubectl diff` with somethign like `--server-side-apply`.

I don't think this is a bug because diff is intended to only diff a live object against the new patched object.

It sounds l

[2022-01-05 20:05] eddiezane commented on #1117
This isn't something that we would implement for kubectl but we will investigate which part of apply can provide a better error. We'll handle that in https://github.com/kubernetes/kubectl/issues/1118.

/close

[2022-01-05 20:05] #1117 closed

[2022-01-05 20:06] eddiezane commented on #1118
/triage accepted
/remove-lifecycle stale
/priority backlog

[2022-01-05 20:12] eddiezane commented on #1117
@KnVerey do you know if Kustomize has any hooks authors can use similar to how Helm handles CRD installation separately?