[2022-10-10 06:58] Gikkman commented on #1297
@sftim : I am not sure if this is related to kubectl or not, to be honest. Whatever controls the `fieldManager` fields when doing a rollback is likely the source. If it is kubectl, then yeah, I guess it should be transferred. But if it is something managed cluster-side, then kubectl isn't really the source, just the tool to get there.

Worth noting about this issue is that you can get virtually an

[2022-10-10 09:59] sftim commented on #1297
This sounds like `kubectl` is at least partially implicated here.

[2022-10-10 10:55] oneslideicywater opened #1300 "how to debug kubectl source code after setting up a local development environment"
Following the instruction of [Development Guide](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md), I add some code in the directory of [kubernetes repo](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl) , the code isn't work after run `make WAHT=cmd/kubectl` cause the binary is built using the code under this repo- kubernetes/kub

[2022-10-10 11:42] Gikkman commented on #1297
Upon sifting through Kubernetes' issue tracker a bit more (and now knowing what I actually look for), I came across more issues reporting the same kind of behavior as I do here:
* https://github.com/kubernetes/kubernetes/issues/94698
* https://github.com/kubernetes/kubernetes/issues/77058
* https://github.com/kubernetes/kubernetes/issues/63982
* https://github.com/kubernetes/kubernetes/issues/2539

[2022-10-10 11:48] sftim commented on #1301
/remove-lifecycle rotten
/lifecycle stale

[2022-10-10 12:33] ardaguclu commented on #1300
`make kubectl` should give you the correct binary which is stored under `_output/bin/kubectl`. Have you checked there?

[2022-10-10 12:33] ardaguclu commented on #1300
/kind support

[2022-10-11 01:16] oneslideicywater commented on #1300
@ardaguclu

  I actually successfully build kubectl binary under `_output/bin/kubectl`, but my code modified under [kubernetes repo](https://github.com/kubernetes/kubernetes) dir `staging/src/k8s.io/kubectl` doesn't take effect.

  [kubectl](https://github.com/kubernetes/kubectl) repo has the same code as the code under `staging/src/k8s.io/kubectl`, so should I change the code here? or how can I m

[2022-10-11 04:08] mpuckett159 commented on #1193
/remove-lifecycle stale

[2022-10-12 16:14] eddiezane commented on #1301
/assign @seans3

[2022-10-12 16:20] eddiezane commented on #1296
@dimm0 can you please test with older versions of kubectl and determine the last version that works?

Also your [version skew](https://kubernetes.io/releases/version-skew-policy/#kubectl) from your client is unsupported.

[2022-10-12 16:20] #1295 closed

[2022-10-12 16:28] sftim opened #1302 "Warn about a possible conflict using `kubectl rollout undo` when a last applied annotation is present"
**What would you like to be added**:
`kubectl rollout undo` doesn't revert the `kubectl.kubernetes.io/last-applied-configuration` annotation, which leads to problems if named objects in arrays are intended to be removed.

Add a warning to `kubectl rollout undo` that is printed if that annotation is present on the Deployment (or other object) being rolled back.

**Why is this needed**:
`kubectl rol

[2022-10-12 16:29] sftim commented on #1302
This issue is heavily based on https://github.com/kubernetes/kubectl/issues/1301#issuecomment-1276427839

[2022-10-12 16:35] eddiezane commented on #1292
Have a look at https://github.com/ahmetb/kubectl-tree and https://github.com/kubernetes-sigs/kubectl-check-ownerreferences

/close

[2022-10-12 16:35] #1292 closed

[2022-10-12 16:50] soltysh commented on #1290
This is intentional see this comment for more details https://github.com/kubernetes/kubectl/issues/1118#issuecomment-1006045903. In short the server hides the information whether you don't have access to a namespace or it doesn't exist to not make it easy to iterate over cluster namespaces and read its full contents.

/close

[2022-10-12 16:50] #1290 closed

[2022-10-12 16:54] sftim commented on #1290
@soltysh do you think we could improve the user experience here, so that the user at least knows that “invalid namespace” is a possible explanation?

[2022-10-12 16:56] eddiezane commented on #1286
/triage accepted
/priority backlog

[2022-10-12 16:57] sftim commented on #1290
If we're willing to have kubectl make a second request but only use a 404 from that get to print a _hint_ (ie, not implying authoritatively that the issue is down to a missing namespace), that might help users without presenting a security risk.

A user not entitled to check the namespace would get a 403 Forbidden response and kubectl could then print a more neutral message.

[2022-10-12 17:00] eddiezane commented on #1286
Actually it doesn't look like we're importing our jsonpath lib for the explain command. It is doing a simple split.

https://github.com/kubernetes/kubernetes/blob/71ca3dad894c417b823de24b6d6d1ee411ef3dec/staging/src/k8s.io/kubectl/pkg/explain/explain.go#L62

/assign @mpuckett159

[2022-10-12 17:01] eddiezane commented on #1286
cc @alexzielenski

[2022-10-12 17:09] eddiezane commented on #1291
Most package managers should ship the manpage along with the binary. If yours doesn't you can build and install it manually.

Check out how homebrew does it.

https://github.com/Homebrew/homebrew-core/blob/ea772d3bdb4a2881c283edf9c7902e90a4d0c9c8/Formula/kubernetes-cli.rb#L45-L48

/close

[2022-10-12 17:09] #1291 closed

[2022-10-12 17:13] #1293 closed

[2022-10-12 17:21] eddiezane commented on #1300
All development work for kubectl is done under `staging/src/k8s.io/kubectl` of the main kubernetes repo.

See https://github.com/kubernetes/kubernetes/blob/master/staging/README.md

For more help try asking on the Kubernetes Slack.

/close

[2022-10-12 17:21] #1300 closed

[2022-10-12 17:23] ardaguclu commented on #1268
/triage accepted

[2022-10-12 17:24] ardaguclu commented on #1282
This seems like a feature supported by `kubectl alpha events`.

/close

[2022-10-12 17:24] #1282 closed

[2022-10-12 17:24] ardaguclu commented on #1281
/close

[2022-10-12 17:24] #1281 closed

[2022-10-12 17:27] eddiezane commented on #1299
This appears to be an upstream Go issue. Let's follow it there.

https://github.com/golang/go/issues/52839

/close

[2022-10-12 17:27] #1299 closed

[2022-10-12 21:36] mpuckett159 commented on #1294
/triage accepted
/kind feature

I'm investigating further but what I suspect is happening is that presently the jsonpath implementation used by kubectl (it is maintained in tree and is fairly limited unfortunately) does not expand jsonpath variables within filters, and so what is essentially being done by kubectl here is that it is looking for the literal `current-context` here, at the root of the

[2022-10-12 21:54] mpuckett159 commented on #1294
A work around to avoid using `jq` is to do the `kubectl config view` command twice as follows:

[code]

Now I'm not gonna pretend this is a great solution or anything but it works.

[2022-10-12 22:24] seans3 commented on #1301
/remove-lifecycle stale
/lifecycle frozen

[2022-10-12 22:26] seans3 commented on #1301
/triage accepted

NOTE: As @eddiezane said, this effort will not be attempting to facilitate the interaction of `kubectl rollout` (an imperative command) with `kubectl apply` (a declartive command); it will only add a warning message to not mix the two commands.

[2022-10-12 23:14] eddiezane commented on #1297
@Gikkman thanks for consolidating your research and apologies that you hit this.

Let's consolidate this to https://github.com/kubernetes/kubectl/issues/1301. We will get some warnings in there.

/close

[2022-10-12 23:14] #1297 closed

[2022-10-13 00:31] KnVerey commented on #1301
/retitle kubectl rollout undo should warn about undefined behaviour with kubectl apply

[2022-10-13 03:56] jainpratik163 commented on #524
is this feature is been included?

[2022-10-13 06:49] Gikkman commented on #1297
No worries, and thank you for looking into it :)

[2022-10-13 11:17] ardaguclu commented on #1262
As discussed this is an unfortunate behavior which can not be fixed easily. I'm closing this and feel free re-open it if you think otherwise.

/close

[2022-10-13 11:17] #1262 closed

[2022-10-13 11:30] Gikkman commented on #1301
Down the line, it might be a good idea to consider adding a similar warning when you mix any command from different groups. You could for example annotate the deployment with say `command-group: declarative` or `command-type: imperative` and warn based of of that or something. Or if there's some other metadata somewhere.

With that said, `rollout undo` is probably one of the more common and/or imp

[2022-10-13 11:36] sftim commented on #1301
This issue is now about issuing a specific warning. Feel free to log separate issues for any different improvements folks would like to suggest.

[2022-10-13 12:06] ardaguclu commented on #1279
We might not need a new flag for this purpose. However, there is no way to see `TimeAdded` field. Maybe we can show this in `describe` command and describe command just executes `taint.String()` function https://github.com/kubernetes/kubernetes/blob/23b7ae6041ce406d6fe454c51ebbc4c651c6e991/staging/src/k8s.io/api/core/v1/taint.go#L28. Moreover, I did a couple of things to see `TimeAdded` field not

[2022-10-13 21:15] ianburrell opened #1304 "Kubectl doesn't allow "describe" for resource with slash in the name"
**What happened**:

Tried to do "describe" on PersistentVolumeClaim with slash in the name (clickhouse/jk-storage-chi-dev-clickhouse-comscore-0-1-0). These are created by the clickhouse operator.

With type/resource syntax, it gave error about not having more than one slash. With the "type resource" syntax, it gave error about specifying resource type as separate argument.

**What you expected to

[2022-10-14 06:31] ardaguclu commented on #1304
This is not allowed naming because it corrupts the resource/name pattern. I tried to create a dummy resource;

[code]

and server returned;

[code]

I'd suggest trying on newer server version because 1.20 looks too old.

Since this is not a bug, I'm closing this issue. Feel free to re-open it if you think otherwise.

/close

[2022-10-14 06:31] #1304 closed

[2022-10-14 12:53] Blackclaws opened #1305 "Kubectl validate should validate non-schema assumptions about resources"
**What would you like to be added**:

There are certain resource types such as deployment that make assumptions about how their fields interact with each other. For example deployment expects that matchLabels matches the labels in the pod template.

**Why is this needed**:

Currently the only way to validate even inbuilt kubernetes resources is to dry-run them against a server. It would be nice to

[2022-10-14 13:24] #1298 closed

[2022-10-15 03:16] williamyeh commented on #1133
@vinamra28 Hi I have it almost done, will submit a PR soon, thanks

[2022-10-15 09:49] riita10069 opened #1306 "Add '--as-service-account' flag to `kubectl auth can-i`"
**What would you like to be added**:

[code]

**Why is this needed**:

Commands like the following will fail

[code]

When specifying **Service Account** with `--as`, it must be specified as `system:serviceaccount:(NAMESPACE):(SERVICEACCOUNT)`.

[code]

I've done it this way before, but find it hard to remember and hard to use.

It should be very simple as it just adds system:serviceaccount: to th

[2022-10-16 08:48] riita10069 commented on #1306
/sig cli

[2022-10-17 10:53] Leviathan321 opened #1307 "x509: certificate has expired or is not yet valid"
**What happened?**:
I am deploying istio in my cluster with several applications. From time to time no services can be deployed. When inspecting the events, following message is displayed:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client/server versions:

Client Version:

[code]
- OS: linux
- K3s version: k3s version v1.24.6+k3s1 (a8e0c66d)

[2022-10-17 10:58] ardaguclu commented on #1307
Thanks for opening this issue @Leviathan321.

However, it seems that problem stems from istio webhook or something related to that(probably misconfiguration of webhook?) and kubectl has no effect on this part. I'd suggest asking this to istio folks.

Thus, I'm closing this issue.
/close

[2022-10-17 10:58] #1307 closed

[2022-10-17 21:50] varksvader commented on #1046
Hey! I was wondering if you guys needed more help on this issue. I'm happy to pick up a command and start working on it.

[2022-10-18 14:27] varksvader commented on #1046
/assign

Talked to owner of issue. Grabbing `drain` to refactor.

[2022-10-18 14:28] shreemaan-abhishek opened #1313 "Make `kubectl logs` aware of network connection changes"
I usually use my mobile hotspot to connect to the internet on my laptop with my mobile being connected to my home wifi. When there is a power cut, my phone reconnects to the internet using cellular data.

In such conditions, when I am collecting logs using the `kubectl logs` command with/without the `-f` flag and a power failure occurs, I get the following error:

`error: http2: client connection

[2022-10-19 19:09] dimm0 commented on #1296
Can’t reproduce with versions downloaded from github. Closing (might be the brew version issue?)

[2022-10-19 19:09] #1296 closed

[2022-10-20 11:28] ogarcia commented on #1044
/remove-lifecycle stale

[2022-10-20 11:46] aslafy-z commented on #1245
/remove-lifecycle stale

[2022-10-20 14:33] ViktorSchlaffer opened #1308 "kubectl delete should fail if a non namespaced resource is about to get deleted with --all"
**What happened**:

An admin accidentally deleted all pv-s with the following command:
`kubectl delete pv -n <some_namespace> --all`

**What you expected to happen**:

Based on kubectl help, the expected behavior would be the following:

`kubectl delete pv --all`   ->  return an error        / alternative behavior is to delete all pv, but in that case the help text for --all should be changed/
`ku

[2022-10-20 18:01] PedroAlbamonte commented on #1266
@boehle did you find a solution for this issue? I'm getting the same error.
My OS is macOS Monterey 12.6 running on a Intel

[2022-10-21 18:41] harshitasao commented on #1046
I'll refactor `create`
/assign

[2022-10-22 21:38] Dentrax commented on #1217
/remove-lifecycle rotten

[2022-10-23 13:53] thetillhoff opened #1310 "`prune-whitelist` doesn't work for customresourcedefinitions"
**What happened**:

My kubernetes deployment pipeline has two (relevant) steps;
1. Apply CustomResourceDefinitions with `kubectl apply -k ./crds`
2. Apply Resources and CustomResources with `kubectl apply --prune --all --prune-whitelist=apiextensions.k8s.io/v1 /customresourcedefinition -k ./`

But for some reason, the second command will always prune the CustomResourceDefinitions anyway,

**What y

[2022-10-24 15:58] sftim commented on #1216
/reopen
This issue was accepted

/remove-lifecycle rotten

[2022-10-25 03:12] oneslideicywater opened #1311 "how to debug kubectl in IDE step by step"
**What would you like to be added**:

A document instructing how to debug kubectl source code in IDE (like VsCode and Goland) step by step?

**Why is this needed**:

because I want to understand the logic of kubectl, I need to debug it in IDE to step over/step in.

I ask a question at [here in the kubernetes forum](https://discuss.kubernetes.io/t/how-to-debug-kubectl-source-code-in-ide-step-by-ste

[2022-10-25 07:09] ardaguclu commented on #1311
@oneslideicywater Thanks for raising this issue.

I'm not sure debugging on the version you tried, but what you have tried is working on latest versions. Your problem might be misconfigured go mod vendor integration in your IDE or incorrect go version, etc.

I don't think there is any doc needed because it highly depends on the IDE's Go configuration and it is really simple just click "debug kubec

[2022-10-25 11:48] #888 closed

[2022-10-25 17:59] brianpursley opened #1312 "Unit test does not test that plugin args match the expected args"
**What happened**:
If you change [this line](https://github.com/kubernetes/kubernetes/blob/baab99d04cd4c4314525e19c14ec85a072161cb1/staging/src/k8s.io/kubectl/pkg/cmd/cmd_test.go#L74) in the unit test case from:
[code]
to:
[code]
... the test does not fail, even though it should.

This is a problem because the unit test is [only checking that the number of args match](https://github.com/kubernetes

[2022-10-25 17:59] brianpursley commented on #1312
/triage accepted
/priority backlog
/help
/good-first-issue

[2022-10-25 21:13] sftim commented on #1313
/kind feature

[2022-10-26 01:36] oneslideicywater commented on #1311
@ardaguclu It's so weird, I open the go.mod file under project directory `/root/go/src/k8s.io/kubernetes` and click `sync the dependenies` button near the dependency items which goland IDE marked as red.

you are right And It's working now!

[code]
/close it

[2022-10-26 01:36] #1311 closed

[2022-10-26 01:41] brianpursley commented on #1310
Prune whitelist works the opposite way.  When specified, you are telling kubectl which resources can be pruned, so by specifying that, you are telling kubectl to ONLY prune CRDs.

You can specify the flag multiple times for multiple resource types (ie. `--prune-whitelist core/v1/configmap --prune-whitelist core/v1/pod`)

Or you can use label selectors to indicate which resources are eligible for p

[2022-10-26 03:39] sss-ng commented on #1312
/assign

[2022-10-26 16:31] wking opened #1345 "RFE: 'kubectl evict ...' or similar for conveniently evicting pods"

[2022-10-26 22:55] mpuckett159 commented on #1294
/close

Hopefully this worked please feel free to reopen if not and I can try to help further.

[2022-10-26 22:56] #1294 closed

[2022-10-26 23:02] zevisert commented on #1294
It does work for us, thanks. I understand the want to maintain in tree, and this is a bit of a niche ask anyway.

[2022-10-26 23:35] mpuckett159 commented on #1294
I'm actually looking at importing an external jsonpath implementation to start using so Some Day:tm: hopefully.

[2022-10-27 02:01] pycgo opened #1314 "rollout restart sts presto need restart presto-0 first"
**What would you like to be added**:
When rollout restart resources, it always restarts from the last replica forward. At this time, a single-master cluster such as presto will have problems and become unavailable when there are tasks submitted. Is it possible to add a parameter to rollout restart to restart from the first replica
**Why is this needed**:
Important for some applications that need t

[2022-10-27 10:08] Ithrael commented on #1306
/assign

[2022-10-27 10:09] Ithrael commented on #1306
I agree with @riita10069

[2022-10-27 10:26] ardaguclu commented on #1306
Thanks for opening this issue!

Introducing new flag needs strong reasoning because it also brings it's own extra burdens in terms of maintainability and user adoption.

 `--as` flag is kubectl wide flag and can be used for all commands and IMHO, instead introducing a new flag just for short cut, it is better to use `--as system:serviceaccount:(NAMESPACE):(SERVICEACCOUNT)` because this is relevant

[2022-10-27 16:59] Ritikaa96 commented on #1313
Hi @shreemaan-abhishek, apologies for the late reply. I meant does it happen with `kubectl logs` or with other commands as well?

[2022-10-28 14:32] #1312 closed

[2022-10-29 02:59] shreemaan-abhishek commented on #1313
@Ritikaa96 not sure if this happens with other commands.

[2022-10-29 04:23] XuanMichael opened #1315 "An error is reported in minikube kubectl"
I use this command in Ubuntu in a virtual machine in an ARM MAC:
minikube kubectl
Report the following error:

Error caching kubectl: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.23.3/bin/linux/arm64/kubectl?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.23.3/bin/linux/arm64/kubectl.sha256: getter: &{Ctx:context.Background Src:https://st

[2022-10-29 11:23] brianpursley commented on #1178
/remove-lifecycle rotten

[2022-10-30 03:43] fallobst22 opened #1316 "Describe ingress panics for ingress without default backend"
**What happened**: Using `kubectl describe ingress` panics when there is an ingress which has no defaultBackend set:

**What you expected to happen**: No panic, sensible display of the ingress configuration

**How to reproduce it (as minimally and precisely as possible)**:

Create a minimal ingress which has no defaultBackend set, e.g.:

[code]

Execute `kubectl describe ingress`

**Anything else

[2022-10-30 16:12] #1236 closed

[2022-10-30 17:50] librick opened #1317 "Allow users to ignore deprecation warnings"
**What would you like to be added**:
Please provide a way that I can get simple/minimal version information from kubectl without seeing deprecation notices

**Why is this needed**:
I am trying to use `kubectl version` in a small installer script as a sanity-check that kubectl is installed correctly.
Following the official docs (https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/)
I run `

[2022-10-30 17:57] librick commented on #1317
Including the output from `kubectl version --output=yaml` here for completeness. Using the latest release AFAIK.

  buildDate: "2022-10-12T10:57:26Z"
  compiler: gc
  gitCommit: 434bfd82814af038ad94d62ebe59b133fcb50506
  gitTreeState: clean
  gitVersion: v1.25.3
  goVersion: go1.19.2
  major: "1"
  minor: "25"
  platform: linux/amd64
kustomizeVersion: v4.5.7

[2022-10-30 21:26] brianpursley commented on #1259
/remove-lifecycle stale

[2022-10-31 06:34] ardaguclu commented on #1315
Thanks for the issue.

Maybe you want to to check your local time, because this error seems weird `current time 2022-07-04T06:35:43Z is before 2022-09-26T08:28:33Z`.

/kind support

[2022-11-01 09:53] githubcdr opened #1318 "kubectl apply -f on empty directory fails"
**What happened**:

This fails if the directory is empty or only contains a .gitkeep file

[code]
error

[code]

**What you expected to happen**:

- I would expect kubectl to ignore hidden files
- kubectl to only scan for .yml and .yaml files
- kubectl not throw an error if the directory is empty

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2022-11-01 10:10] hakabo opened #1319 "kubectl not looking in local directory for kubelogin"
**What happened**:
With  kubectl 1.25.0 when running commands kubelogin is not found when adjacent to kubectl in the local working directory. kubelogin is only found when in the PATH

**What you expected to happen**:
I would hope that kubectl would look in the local working directory as well as all the directories in the PATH.

**How to reproduce it (as minimally and precisely as possible)**:
`
PS

[2022-11-01 13:01] riita10069 commented on #1306
Your argument is understandable.Also, I don't see it as a super-critical issue.
Let me write a little more about what I felt.

`User`, `ServiceAccount` and `Group` are recognized as different entitie from `ClusterRoleBinding` and `RoleBinding`.
Even kubectl supports commands like:

[code]

Therefore it was difficult for me to know how to evaluate a ServiceAccount as a User resource.

Why treat onl

[2022-11-02 18:07] #517 closed

[2022-11-03 06:19] Kaiass commented on #519
For those who are struggling on Windows I can suggest the easier alternative to making a variable.

You need to escape each `"` sign, i.e. replace it with `\"`

For exampe I struggled with patching configmap for knative.
The desired command was
`kubectl patch configmap/config-network --namespace knative-serving --type merge --patch '{"data":{"ingress-class":"kourier.ingress.networking.knative.dev"

[2022-11-03 07:54] ardaguclu commented on #1316
/triage accepted
/priority backlog
/help
/good-first-issue

[2022-11-04 11:07] FedericoYST opened #1320 "CVE-2022-27664 golang.org/x/net package"
**What happened**:
The following vulnerability is present on the kubectl executable:

- CVE-2022-27664

**What you expected to happen**:
I expect kubectl to be free of vulnerabilities at the time it is released

**How to reproduce it (as minimally and precisely as possible)**:

Run a scan with any vulnerability scan tool

**Anything else we need to know?**:

**Environment**:
- Kubernetes client an

[2022-11-04 11:08] FedericoYST opened #1321 "CVE-2022-32149 golang.org/x/text package"
**What happened**:
The following vulnerability is present on the kubectl executable:

- CVE-2022-32149

**What you expected to happen**:
I expect kubectl to be free of vulnerabilities at the time it is released

**How to reproduce it (as minimally and precisely as possible)**:

Run a scan with any vulnerability scan tool

**Anything else we need to know?**:

**Environment**:
- Kubernetes client an

[2022-11-04 11:16] dims commented on #1321
Next point release will pick up changes in go version and vendored/ libraries

/close

[2022-11-04 11:16] #1321 closed

[2022-11-04 11:16] dims commented on #1320
Next point release will pick up changes in go version and vendored/ libraries

/close

[2022-11-04 11:16] #1320 closed

[2022-11-04 12:01] sftim commented on #914
How about a `kubectl something` subcommand that creates a sample manifest, perhaps with most fields commented out, and opens it in a text editor before doing anything further.

The user then edits the manifest locally in their text editor or IDE. On saving it, `kubectl` submits that to the control plane.

This approach could work for making new:
- Deployments
- StatefulSets
- Jobs
- VerticalPodAut

[2022-11-04 12:04] sftim commented on #914
Extra credit: also make this work for subresources.

[2022-11-07 05:37] laphets commented on #1316
/assign

[2022-11-07 18:36] alvaroaleman opened #1322 "Kubectl edit: `--show-managed-fields` does nothing"
### What happened?

I edited an object like so `kubectl edit svc my-server --show-managed-fields` and epected to see managed fields but didn't. When using `kubectl get -oyaml --show-managed-fields` they are shown

### What did you expect to happen?

See managed fields

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl edit some-type some-name --show-managed-fields`

#

[2022-11-07 22:05] KnVerey opened #1323 "`kubectl label`: Inconsistent messaging when both adding and removing labels"
**What happened**:

**What you expected to happen**: `kubectl` label should produce a consistent, accurate message when labels are both removed and added at the same time (maybe just "labels modified" for simplicity?).

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**: The problem seems to be the use of a length comparison in this functi

[2022-11-08 05:09] ardaguclu commented on #1323
Although there is no direct relation but to distinguish `label/unlabel` message also causing this issue https://github.com/kubernetes/kubectl/issues/1265 as a symptom. If we decide to just say `modified`, this issue will also be fixed.

[2022-11-08 05:16] astraw99 commented on #1323
Got it, will fix it in PR https://github.com/kubernetes/kubernetes/pull/110124

[2022-11-08 09:44] #1316 closed

[2022-11-08 14:16] #1193 closed

[2022-11-09 16:29] carlosjgp opened #1324 "Error: flags cannot be placed before plugin name: `--alsologtostderr`"
**What happened**:

Error when running a command with `--alsologtostderr`

**What you expected to happen**:
`alsologtostderr` is allowed to be used on any position

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes client and server versions (use `kubectl version`): `Client Version: version.Info{Major:"1", M

[2022-11-09 17:14] eddiezane commented on #1324
Cheers @carlosjgp - please take a look at this issue https://github.com/kubernetes/kubectl/issues/884.

This is an unfortunate limitation where you need to provide an equal sign if you are using flags early.

e.g. `kubectl --alsologtostderr --namespace=kube-system delete daemonset aws-node --dry-run=client`

We should be giving a better error message though which we can look into.

/assign @brianp

[2022-11-09 17:16] eddiezane commented on #1323
/triage accepted
/priority backlog
/assign @astraw99

[2022-11-09 17:23] eddiezane commented on #1322
This is inherited from the JSON printer. We need a refactor of this to its own flag struct that can be added to the commands that use it.

https://github.com/kubernetes/kubernetes/blob/37e73b419e455db34f5fe3e8d815418680ab23df/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/json_yaml_flags.go#L39

/triage accepted
/priority backlog
/assign @henvic

[2022-11-09 17:23] henvic commented on #1322
/assign

[2022-11-09 17:28] eddiezane commented on #1319
This is not the case. It will not load it from being in the same directory. You need to make sure it's in your PATH.

Check out the docs here https://github.com/Azure/kubelogin#setup-windows.

/triage support
/close

[2022-11-09 17:28] #1319 closed

[2022-11-09 17:36] eddiezane commented on #1318
This is the intended behavior.

This is the current behavior. You will see the same error message if the directory is empty. Getting more specific on the error would probably be more effort than it's worth.

See https://kubernetes.io/docs/reference/kubectl/cheatsheet/#creating-objects

/close

[2022-11-09 17:36] #1318 closed

[2022-11-09 17:44] eddiezane commented on #1314
kubectl rollout restart is pretty naive and tells the control plane to follow the defined rollout strategy. You should address this via that mechanism.

See the docs for more https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

/close

[2022-11-09 17:45] eddiezane commented on #1310
Please let us know if Brian's answer doesn't make sense.

/close
/kind support

[2022-11-09 17:45] #1310 closed

[2022-11-09 17:47] eddiezane commented on #1308
We're hoping to address this via https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/3104-introduce-kuberc. You can see that and this thread for the history https://groups.google.com/g/kubernetes-dev/c/y4Q20V3dyOk.

/close

[2022-11-09 17:47] #1308 closed

[2022-11-09 17:51] eddiezane commented on #1313
I think this may be a SPDY issue that we're hoping to fix - similar to port-forward.

https://github.com/kubernetes/kubernetes/issues/111825

It may be addressed in https://github.com/kubernetes/kubernetes/pull/113639 but we'll have to dig into it.

[2022-11-09 18:00] eddiezane commented on #1284
Can you please provide a better reproduction example so we can take a look at this?

[2022-11-09 18:04] eddiezane commented on #1315
[Stack Overflow](https://stackoverflow.com/questions/tagged/kubernete) is a better place for this question. You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

/close

[2022-11-09 18:29] Blackclaws commented on #1305
@eddiezane I get the idea behind that. And its also kind of valid to say you want to keep the client dumb. The question is whether at least adding validation for this type of builtin stable resources would be advantageous. I've not found a linter so far that doesn't accept it even if it will be rejected by the server. I get that admission hooks and custom resources are totally out of scope here as

[2022-11-10 04:55] ardaguclu commented on #1306
I totally understand the inconvenience in here. User _needs_ to know when service account will be passed to `as` flag, it should include `system:serviceaccount:` prefix.

However, if we introduce such shortcuts, doesn't it hurt the learning process of the real `as` command's usage with service account?. Because we just make it easy for `can-i` command but still there are a lot of commands.

I'm cl

[2022-11-10 04:55] #1306 closed

[2022-11-10 08:58] sanmai-NL opened #1325 "`kubectl cp` does not support resource/name format"
### What would you like to be added?

[code]

should work, but it doesn't because of the `pod/` resource type in the name.

### Why is this needed?

Feature parity, principle of least surprise, consistency, flexibility, suitability for scripting with `kubectl get pods -o name`. Other subcommands do support this syntax.

[2022-11-11 07:52] thetillhoff commented on #1310
Thank you Eddie for the reminder and thank you Brian for the explanation!

It makes sense to me and answers my question.

At the same it doesn't solve my problem 🥲
Could you please propose a way to apply CRDs and CRs in a pipeline (and removing them if they are removed from the repo)?
Maybe `prune` isn't the right direction, or is something like `--blacklist` planned in the future?

[2022-11-11 15:15] FedericoYST commented on #1321
Hi,
The latest kubectl binary published 2 days ago contains again the same CVE:

- [CVE-2022-32149](https://github.com/advisories/GHSA-69ch-w2m2-3vjp)

How is it possible to publish a binary with a HIGH vulnerability?

Thanks in advance,

[2022-11-11 15:17] FedericoYST commented on #1320
Hi,
The latest kubectl binary published 2 days ago contains again the same CVE:

- [CVE-2022-27664](https://github.com/advisories/GHSA-69cg-p879-7622)

How is it possible to publish a binary with a HIGH vulnerability?

Thanks in advance,

[2022-11-11 16:56] #1303 closed

[2022-11-12 14:32] bstrdsmkr commented on #995
Still useful

[2022-11-12 20:46] AndrewSav commented on #995
/remove-lifecycle stale

[2022-11-13 22:49] brianpursley opened #1326 "`hack/update-translations.sh -x` fails due to backslash in text"
**What happened**:

`hack/update-translations.sh -x` is needed to update `template.pot` so that kubectl's strings can be translated to other languages. However it currently fails with "invalid control sequence" errors:

[code]

Investigating the cause, I've determined it is failing on these two lines:
https://github.com/kubernetes/kubernetes/blob/d72926d4915133550e41de1252fe2a4aa0aa3745/staging/sr

[2022-11-14 01:34] brianpursley opened #1327 "i18n.T() doesn't work when used for package-level variables"
**What happened**:

When `i18n.T()` is used to initialize a package-level variable, it does not replace the string with the associated translation, even if a translation exists for your language.

**What you expected to happen**:

`i18n.T()` should always replace a string with the associated translated string, if one exists.

**How to reproduce it (as minimally and precisely as possible)**:

[code

[2022-11-14 02:40] brianpursley commented on #995
If you can use [jq](https://stedolan.github.io/jq/), you can try something like this to build your own csv output:
[code]

[code]

I realize that isn't as convenient as being able to say `-o csv` but it is more flexible and powerful because you can extract any json value, not just what is in the default table.  It might not be too bad if you wrap that up into a shell script.

[2022-11-15 00:06] rothgar commented on #995
TIL `jq` supports `@csv` output

[2022-11-16 08:32] EraYaN commented on #1249
This is still relevant I think.

The linked PR was closed but there seems to be a new issue with https://github.com/kubernetes/kubernetes/issues/113568 though it doesn't seem quite the same.

/remove-lifecycle stale

[2022-11-16 09:56] RichardoC commented on #1256
/remove-lifecycle stale

[2022-11-16 16:49] henvic commented on #1322
I'm working on this change, but when I was investigating ShowManagedFields I noticed some remarks that might be worth discussing before opening a PR:

From the direction server-side apply took (see [Kubernetes 1.18 Feature Server-side Apply Beta 2](https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/)), it seems that the `--show-managed-fields` flag is useful for

[2022-11-16 16:53] alvaroaleman commented on #1322
`kubectl edit`, contrary to say `-o yaml` uses an actual editor to open the manifest, so you get highlighting. Not showing it by default as for other commands makes total sense, but it would be nice to have the option to see it.

`managedFields` is read only and set by the apiserver. I would have assumed that `kubectl` knows this through openapi and refuses an `edit` that changes it already though

[2022-11-16 16:59] henvic commented on #1322
@alvaroaleman, is the reason why you want this change just to open the YAML on your editor for viewing (and not really editing)?

If it's the case, do you typically just go to the editor and ^c the kubectl process immediately to avoid editing your resources by mistake?

Not sure if this is appropriate, but have you considered suggesting an --editor flag for `-o yaml`?

[2022-11-16 17:36] lavalamp commented on #1322
`kubectl edit` actively uses apply, either client or server-side to accomplish what you ask it to do. As a consequence, it CANNOT modify managedFields, since those are part of the mechanism that makes that work. So, we will always hide this field in `kubectl edit`. We should probably remove the flag from kubectl edit? @apelisse @seans3

If you want to modify managedFields--which is rare but occasi

[2022-11-16 17:40] apelisse commented on #1322
There's no SSA with `kubectl edit` it always sends an SMP or merge patch (for CRs), but I've sometimes tried to fix (or try things) managed fields myself using `kubectl edit` and that bug prevents me from doing so, I think it'd be nice to fix it.

[2022-11-16 17:56] lavalamp commented on #1322
I think we should make edit use SSA in the future, then.

I guess I don't object to showing the field as long as it prevents you from modifying it? If people get into the habit of modifying it we wouldn't be able to use SSA in the future...

[2022-11-17 09:56] #1220 closed

[2022-11-17 17:11] alvaroaleman opened #1328 "Add `--editor` option to `kubectl get`"
**What would you like to be added**:

An `--editor` option to `kubectl get` that will open the manifest in an editor just as `kubectl edit` does it.

**Why is this needed**:

An editor usually offers syntax highlighting and makes it easier to nagivate a manifest. I curently use `kubectl edit` for this, even in situation where I do not want to edit anything. This has some issues:
* It can result in

[2022-11-18 19:00] alexku7 commented on #1108
any update on that issue? The ability to attach the debug container  with elevated capabilities is very very welcome :)

[2022-11-19 00:13] antonio-tg opened #1329 "Re pull image"
I've an openshift cluster and an Azure Container Registry from I pull my images, When I push a change in an image I would like to re pull the image to the cluster without affect the other resources in the project.

I hope you can helpme.
Best regards.

[2022-11-20 15:58] lordzsolt commented on #1169
So...... why is this issue closed? And there's no clear resolution in this issue.

[2022-11-20 19:47] lauchokyip commented on #1046
@harshitasao , I think I finished `create`  a while ago (https://github.com/kubernetes/kubernetes/pull/101736),  just waiting for review, would you be able to pick other command to refactor instead?

[2022-11-21 07:32] ardaguclu commented on #1329
@antonio-tg thanks for filing an issue.

However, kubectl has nearly no role on pulling images. You may want to ask OpenShift folks with some reproduce steps and versions of your cluster.

/close

[2022-11-21 07:32] #1329 closed

[2022-11-21 07:52] ardaguclu opened #1330 "Add new interactive flag into delete command"
**What would you like to be added**:
Add a new interactive flag into delete command to ask user to proceed or not(something like `--interactive`, `-i`, `--confirm`?).

**Why is this needed**:
As already known delete command should be used carefully because it is disruptive command. However, we could not have added interactivity("do you want to proceed or not") as default into delete, since it is a

[2022-11-21 21:01] mpuckett159 commented on #1204
/close

I believe this is resolved by #109525. Please reopen if it is not actually resolved.

[2022-11-21 21:01] #1204 closed

[2022-11-22 08:07] NissesSenap commented on #1071
Maybe is a separate issue but I would think it would be interesting to extend this functionality even earlier.
Hopefully most of us don't allow writing to root disk inside our containers but all apps don't need /tmp disks or similar to run.

It would be really nice if a debug container also can attach ephemeral disk to a container or maybe even better any volume you want.
This way you could save s

[2022-11-22 20:54] ardaguclu commented on #1265
/remove-lifecycle stale

[2022-11-23 16:54] brianpursley commented on #1327
/triage accepted
/assign

[2022-11-23 16:54] brianpursley commented on #1326
/triage accepted
/assign

[2022-11-23 17:06] henvic commented on #1328
/assign

[2022-11-24 12:21] gustaff-weldon commented on #686
@aojea @dougsland @soltysh

This is still a problem, `kubectl port-forward` is unable to recover from lost connection but does not exit either.
Eg. At this point it is defunct:

![Screenshot 2022-11-18 at 15 04 13](https://user-images.githubusercontent.com/411756/202727104-154cbdab-f8c5-4cae-9ee6-c616205f3f98.png)

If adding resilient port-forwarding to `kubectl` is hard, can we at least make sure

[2022-11-25 16:40] koba1t opened #1331 "kubectl diff failed when creating the namespace and resources at the same time"
### What happened?

kubectl diff failed when creating the namespace and resources in the new namespace at one YAML file with multiple documents.
kubectl shows the below error.

[code]

### What did you expect to happen?

Show message to create new namespace and resources.

### How can we reproduce it (as minimally and precisely as possible)?

Exec to `kubectl diff` for the below YAML file.

[code]

[2022-11-25 20:22] #1138 closed

[2022-11-28 10:48] ardaguclu commented on #1331
Thanks for the issue @koba1t

This is the same behavior of `kubectl apply --dry-run=server`. kubectl sends to api server one resource at a time and api server can not know that user has an intention to create namespace prior to this resource. That's why, it returns an error.

It needs kubectl saves create namespace history on the series of diff commands to memory.
I think this way is hard to check

[2022-11-28 16:49] puru86 opened #1332 "kubectl port-forward and kubectl exec not sending "Upgrade" header"
**What happened**:
Running `kubectl port-forward` or `kubectl exec` is failing with:
[code]
Notice that "Connection: Upgrade" has been sent, however "Upgrade: SPDY/3.1" is missing

**What you expected to happen**:
"Upgrade: SPDY/3.1" or equivalent upgrade header should be sent, allowing a connection upgrade to occur.

**How to reproduce it (as minimally and precisely as possible)**:

Against Kuber

[2022-11-28 18:14] ardaguclu commented on #1332
Server version looks old. It would be better to try these steps on cluster whose server is up to date(1.25)

[2022-11-28 18:48] puru86 commented on #1332
forgot to provide the AKS release calendar link:
[AKS Release Calendar](https://learn.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli#aks-kubernetes-release-calendar)

[2022-11-29 05:15] ardaguclu commented on #1331
@apelisse @seans3 what is your opinion about this problem?

[2022-11-29 18:42] iamNoah1 opened #1333 "Follow up on splitting Flags from Option on annotate command"
Following up on https://github.com/kubernetes/kubectl/issues/1276, we need some more refinement based on the review from @ardaguclu on https://github.com/kubernetes/kubernetes/pull/112817. Basically:

* Move DryRunStrategy and DryRunVerifier from flags to options
* Write Unit tests for https://github.com/kubernetes/kubernetes/pull/112817/files#diff-9ccf80373137694902ef1403ddc2640d3511785056ff8ee07

[2022-11-29 18:42] iamNoah1 commented on #1333
/kind cleanup

[2022-11-29 18:43] iamNoah1 commented on #1333
/remove-kind feature

[2022-11-30 12:13] #1221 closed

[2022-11-30 12:35] ardaguclu commented on #1333
/triage accepted
/priority backlog

[2022-11-30 16:32] henvic commented on #1328
@ardaguclu,

Doesn't `--output` control only the output format and filtering with json_path, or is there anything else that I'm not aware of? If there isn't, it doesn't conflict.

If it conflicts, maybe we can make it exclusive so you can only use --output or --editor at once or (a little bit riskier) make it smart enough to fail when it's not possible to use both.

What do you think? I won't be a

[2022-11-30 16:38] henvic commented on #1322
Should we drop this in favor of #1328 for now? It seems more appropriate to the issue @alvaroaleman is trying to solve, and while I understand some might want to be able to edit managedFields using the command, it is unclear to me if the trade-off of making it editable is worth the price and the other option (returning it but not making them editable) seems to carry some learning curve / cognitive

[2022-11-30 17:06] apelisse commented on #1328
Wait, I'm confused, `kubectl edit` doesn't open in your editor? Have you properly set & exported your `$EDITOR` shell variable? Because AFAIK, it's supposed to use that and do the right thing.

[2022-11-30 18:10] apelisse commented on #1322
I was trying to trace back to the reasons why you wanted to do that.

I think we should honor the `--show-managed-fields` flag in `kubectl edit` to show them, but then we should probably remove them BEFORE computing the patch so that they are never included. That sounds fairly easy, non-controversial, and useful for at least @alvaroaleman's use-case.

[2022-11-30 22:11] lavalamp commented on #1322
I'm fine with that as long as users are warned or get an error if they do try to change them (rather than silently not doing what they asked for).